[2020-05-03 12:16] tmns commented on #400
I can do this!

[2020-05-03 12:29] Zeko369 commented on #405
I forgot that's a bashism, could we maybe refactor that into something else?

[2020-05-03 12:34] Zeko369 commented on #405
@tmns Could you run `ls -l /bin/sh` and copy the output here, I want to know which shell is default on your system

[2020-05-03 12:37] tmns commented on #405
Hi @Zeko369! Yes, this can also be refactored to just using single brackets, like so:

[code]

And as for the default shell, it looks like `dash`:
[code]

[2020-05-03 12:53] Zeko369 commented on #405
DAMN YOU DASH.

Also you can add `=` instead of `-eq` because I think that chsh fails with that, or some other random shell

[2020-05-03 12:54] Zeko369 commented on #405
Ping me to try it on macOS when you add that (and add back /bin/sh)

[2020-05-03 12:59] tmns commented on #405
Yes, also what about combining it with the use of `test` instead of brackets all together, like so:

[code]

[2020-05-03 15:49] simonpeterdebbarma commented on #400
@tmns Thank you for taking on this issue! We appreciate it a lot.

[2020-05-03 16:43] bobzoller commented on #404
Dependent Queries are called out in blitz-js/blitz#89 (note the lack of a _not implemented_ label?), but I came here looking because they don't seem to work --- which is to say if I pass a function that throws or a falsy value for params, the RPC still fires.

blitz@0.6.3

[2020-05-03 19:13] johncantrell97 commented on #402
👍 Just ran into this as well when going through the tutorial to try creating a sample app to play with

[2020-05-03 19:18] aem commented on #402
@johncantrell97 thanks for the report. I've been away from the computer for much of the weekend, but I'll take a look at this this afternoon. Sorry for the inconvenience here 😞

[2020-05-03 20:03] Skn0tt commented on #377
I'll work on a CI check :D

[2020-05-03 20:10] Skn0tt commented on #404
Good catch! That's definitely a bug then.
So if someone wants to provide a PR for this, this is where you'd have to look:
https://github.com/blitz-js/blitz/blob/2c9e8e131889e6e323dd94f408b31295dd65fcca/packages/core/src/use-query.ts#L41

[2020-05-03 20:14] Jfelix61 commented on #374
I am getting the same problem with the ripple effect. I have disabled Blitz config and tried to run the server and the ripple works, therefore something must be going on in blitz/server. Will be investigating...

[2020-05-03 21:14] JoseRFelix opened #410 "Bug: can't override experimental flags in `withBlitz` - needed for Material UI"
### What is the problem?

This is related to #374

Whenever `withBlitz` is used on `next.config.js` it disables the ripple of MUI button. Maybe there is a conflict with React concurrent mode?

### Steps to Reproduce:

1. Run `blitz start`
2. Test button

### Steps for it to work:

1. Head to `.blitz/caches/dev`
2. Comment out config in `next.config.js`
3. Run `yarn next dev`
4. Test button

[Sourc

[2020-05-03 21:16] merelinguist commented on #410
Thanks for the issue @Jfelix61 ! I’m going to investigate this now. My main question is whether MUI and concurrent is the issue here, or if it’s something else...

[2020-05-03 21:19] Jfelix61 commented on #410
Yes... Another thing I could think is that it is maybe related to module resolution.

[2020-05-03 22:29] PullJosh opened #412 "Installation fails with Yarn on Windows"
### What is the problem?

When I try to install Blitz on Windows 10 using Yarn, I encounter the following error:

[code]

### Steps to Reproduce:

[code]

### Versions:

N/A

### Supporting Documentation

I already have some Rust stuff installed:

[code]

[code]

Maybe that matters?

[2020-05-03 22:36] simonpeterdebbarma commented on #412
Thank you for posting this issue, @PullJosh.

What version of `yarn`  and Windows build are you running? I just tested `yarn global add blitz` on my machine and did not have an issue.

![image](https://user-images.githubusercontent.com/31207418/80927621-3130a280-8d5c-11ea-9c38-27481aec1a3c.png)

[2020-05-03 22:41] PullJosh commented on #412
Yarn version `1.15.2`. Windows `Version 1909 (OS Build 18363.778)`.

[2020-05-03 23:05] PullJosh commented on #412
Updating Yarn did not fix the issue.

[2020-05-03 23:08] simonpeterdebbarma commented on #412
From first glance at the error you posted, it looks like Rust and Cargo is messing with the installation. Someone more knowledgeable on this particular issue will reach out to you.

[2020-05-04 07:24] ganeshmani opened #414 "[MacOS] Module Import error on Scaffold Code"
### What is the problem?

 I have created a scaffold with command `blitz generate recipe`. generated code has module import error for queries and mutation.

<img width="695" alt="Screenshot 2020-05-04 at 12 45 28 PM" src="https://user-images.githubusercontent.com/17050715/80943752-896faf00-8e05-11ea-9d0c-96854df9bd5a.png">

### Versions:

[code]

### Result

<img width="1118" alt="Screenshot 2020-

[2020-05-04 07:27] merelinguist commented on #414
Thanks for the issue! Could you try:

1. `rm -rf .blitz`

2. `yarn start` again

And see if that makes any difference?

[2020-05-04 07:35] ganeshmani commented on #414
you mean `blitz start`. i tried it and it outputs like.

![Screenshot 2020-05-04 at 1 03 39 PM](https://user-images.githubusercontent.com/17050715/80944665-b4f39900-8e07-11ea-92ef-61a8f300248d.png)

i could solve this issue by importing it like

<img width="571" alt="Screenshot 2020-05-04 at 1 04 46 PM" src="https://user-images.githubusercontent.com/17050715/80944737-e0768380-8e07-11ea-9f30-106907

[2020-05-04 07:36] simonpeterdebbarma commented on #414
Hi @ganeshmani, thank you for submitting an issue.

@merelinguist Is this similar to https://github.com/blitz-js/blitz/issues/193? My comment in the aforementioned issue https://github.com/blitz-js/blitz/issues/193#issuecomment-623038968 seems similar, don't it?

[2020-05-04 07:38] merelinguist commented on #414
@simonpeterdebbarma Not sure about that, since @ganeshmani is using macOS.

[2020-05-04 07:39] simonpeterdebbarma commented on #414
@merelinguist Are the packages different for Mac and Windows?

[2020-05-04 07:46] merelinguist commented on #414
Yes. From the looks of it, #193 is related to specific problems related to running `child_process` on Windows. This error looks more like a cross-platform issue.

[2020-05-04 07:50] Swapnull commented on #403
Hey,
I have managed to get this working. Here are the steps I took.
1) Create a new project with `blitz new testapp`
2) Add file above to `./app/api/test.ts`.
3) Install next using `npm install --save-dev next`. This is required by Vercel if you are going to use the Next.JS preset.
3) Upload to vercel via command line `now` command. Accepting all defaults. This is just to create the project on Ver

[2020-05-04 07:52] gielcobben commented on #414
When I use `blitz generate all recipe` it created these files:

[code]

that means that the import in your code is wrong. It should be:
[code]

[2020-05-04 07:56] ganeshmani commented on #414
@gielcobben Got it. i think the scaffold missed the folder structure on import. when i change it, the error is gone.

[code]

[2020-05-04 07:57] simonpeterdebbarma commented on #403
@Swapnull Thank you very much for submitting a comprehensive solution! We'll close the Issue after we add this tidbit of information in our documentation.

[2020-05-04 08:00] ganeshmani commented on #414
@simonpeterdebbarma i would like to take up this issue if anybody is not working on it.

[2020-05-04 08:01] simonpeterdebbarma commented on #414
Sure, go ahead. Thank you very much!

[2020-05-04 08:07] simonpeterdebbarma commented on #403
I am self-assigning this task.

[2020-05-04 08:08] gielcobben opened #415 "Can't use non-js/ts files inside `pages/` folders"
### What is the problem?

I want to use CSS Modules with Blitz so I followed this guide: https://nextjs.org/docs/basic-features/built-in-css-support. I also installed `npm i sass` so it supports `scss` files. Everything seems to work fine except when I'm using CSS Modules in /pages:

[code]

_Note: This error only occurs in `/pages`, so CSS Modules work perfectly fine in `/components`_

### Steps

[2020-05-04 08:12] simonpeterdebbarma commented on #415
Hello @gielcobben, thank you so much for reporting this issue!

[2020-05-04 08:29] gielcobben opened #416 "Datetime type with Prisma does not work with getServerSideProps"
### What is the problem?

The tutorial uses `publishedAt       DateTime` in the Prisma schema. When I re-write `app/questions/pages/[id].tsx` to use `getServerSideProps` it's throwing and error:

[code]

### Steps to Reproduce:

1. Follow the [tutorial](https://github.com/blitz-js/blitz/blob/canary/TUTORIAL.md).
1. Replace the code in `app/questions/pages/[id].tsx` with:

[code]
1. The following e

[2020-05-04 09:01] JClackett opened #417 "Incorrect types when using relations in useQuery"
### What is the problem?

The returned type from the useQuery doesn't included the relations

### Steps to Reproduce:

schema:

[code]

[code]

the type is just: Post[] without comments

[code]

It seems the getPosts function doesnt infer the correct types from the args passed through, if i put the { include: comments: true } in the getPosts function it is then correct, but obviously we dont wana

[2020-05-04 09:03] simonpeterdebbarma commented on #417
Hello @JClackett, thank you for submitting an Issue.

[2020-05-04 09:18] merelinguist commented on #417
@JClackett Thanks for the issue! This is something on my radar I’ve been meaning to open an issue on. You’re right that it’s possible to do it by modifying the query, but yeah, we definitely don’t want that to be necessary for each query. That’s what I’ve had to do in the [tutorial](https://github.com/blitz-js/blitz/blob/canary/TUTORIAL.md#listing-choices), but it’s not ideal.

Is this a limitatio

[2020-05-04 09:25] merelinguist commented on #410
As I suspected, concurrent mode works fine with MUI. I think I remember seeing an announcement from the MUI team for concurrent mode support, and this simple sandbox proves that it works fine: https://codesandbox.io/s/new-dawn-5tvpb?file=/next.config.js

[2020-05-04 09:33] JClackett commented on #417
Have started a discussion in prisma repo as i think it is caused by them:
https://github.com/prisma/prisma/discussions/2360

[2020-05-04 10:28] merelinguist commented on #410
@Jfelix61 I’ve managed to create a basic working example with Blitz + MUI.

Please see code here: https://codesandbox.io/s/blitz-hello-world-j1o7g?file=/app/pages/index.js

And the demo here: https://j1o7g.sse.codesandbox.io/

[2020-05-04 10:36] flybayer commented on #410
Does MUI require SSR? If not, it would be nice to also have an MUI example that doesn't use getInitialProps, because using getInitialProps in _document forces **all** pages to be SSR, if I remember correctly.

[2020-05-04 10:39] #405 closed

[2020-05-04 10:40] merelinguist commented on #410
Does this help: https://github.com/zeit/next.js/discussions/11073#discussioncomment-1440?

[2020-05-04 10:53] flybayer commented on #410
Ok perfect! gIP in _document doesn't affect automatic static optimization

[2020-05-04 11:18] tmns commented on #400
@simonpeterdebbarma My pleasure! I hope my changes are okay with you all!

[2020-05-04 11:23] simonpeterdebbarma commented on #400
@tmns Absolutely! We appreciate every line of code. You are officially a Contributor (you'll see yourself on the main README.md) and we would love to see more from you.

[2020-05-04 13:08] flybayer commented on #402
@aem this used to work — do we know what caused it to break?

[2020-05-04 13:10] aem commented on #402
@flybayer i’m not totally sure, i’ve got something mostly working locally though, should be able to put up a PR in a few minutes

[2020-05-04 13:21] #121 closed

[2020-05-04 13:27] #400 closed

[2020-05-04 13:28] #295 closed

[2020-05-04 13:38] flybayer commented on #343
**To clarify:** you will get the `child_process` error if you try to use `db` from a react component. The solution is to only use `db` inside queries/mutations, and then use queries/mutations in your components.

We have issue #385 for improving the UX of this, so closing this issue.

If you still have questions about this, comment in #385! Then everything is consolidated there.

[2020-05-04 13:38] #343 closed

[2020-05-04 13:40] flybayer commented on #299
@rhoffer21 can you verify that you aren't using `db` directly inside a react component?

If you aren't, can you put up a repo with your project so we can reproduce?

Related: #385

[2020-05-04 13:43] flybayer commented on #414
Hey y'all! We are tracking this issue here: https://github.com/blitz-js/blitz/issues/402

Should have a hot fix soon.

[2020-05-04 13:43] #414 closed

[2020-05-04 14:08] ganeshmani commented on #402
i  think the issue is with generator templates.

**Previous Version**:
```import get__ModelNames__ from 'app/__modelNames__/queries/get__ModelNames__'```

**Modified Version**:
```import get__ModelNames__ from 'app/__modelNames__/queries/__modelNames__/get__ModelNames__'```

[2020-05-04 14:10] flybayer commented on #402
@ganeshmani the import paths are correct, it's the path of the generated files that is wrong.

Broken: `app\projects\queries\projects\getProjects.ts`
Correct: `app\projects\queries\getProjects.ts`

[2020-05-04 14:40] #402 closed

[2020-05-04 15:04] #330 closed

[2020-05-04 15:43] flybayer commented on #402
Fixed in blitz `0.8.2`!

[2020-05-04 15:44] flybayer commented on #414
This is fixed in blitz `0.8.2`!

[2020-05-04 15:44] flybayer opened #425 "Git isn't set up when using npm — `blitz new myapp --no-yarn`"
### What is the problem?

Git repo isn't initialized when using npm

### Steps to Reproduce:

1. `blitz new myapp --no-yarn`
2. `myapp` does not have a git repo initialized

### Versions:

[code]

[2020-05-04 15:45] flybayer commented on #343
If you are still having the `child_process` bug and aren't importing the db into a component, then please install the new blitz version `0.8.2` and see if that fixes it!

[2020-05-04 15:46] flybayer commented on #299
If you are still having the `child_process` bug and aren't importing the db into a component, then please install the new blitz version `0.8.2` and see if that fixes it!

[2020-05-04 15:49] flybayer opened #426 "`blitz start` server crashes when running `blitz generate`"
### What is the problem?

`blitz start` server crashes

### Steps to Reproduce:

1. `blitz new myapp`
2. `cd myapp`
3. `blitz start`
4. In another terminal, run `blitz generate all project`
5. Server crashes with error:

[code]

### Versions:

[code]

[2020-05-04 17:33] wKovacs64 commented on #385
Hmm, isn't `db` where one gets the generated model types, though?

https://github.com/blitz-js/blitz/blob/ea61978d080113c6c7d1b09b0473cb32b57474d6/examples/store/app/products/components/ProductForm.tsx#L2

Do we need to separate the client from the types? Something like:

[code]

[2020-05-04 20:56] Jfelix61 commented on #410
@merelinguist Ripple works when we use react's experimental version, however it creates a class mismatch:

![image](https://user-images.githubusercontent.com/21092519/81012749-13c90a80-8e28-11ea-831c-16c6ed42df2a.png)

The only way I could fix this was using react's stable `16.13.1` version, but this version breaks the ripple when used with `withBlitz`.

[2020-05-04 21:04] Jfelix61 opened #430 "Absolute Imports Not Working in Javascript Project"
### What is the problem?

As per title.

### Steps to Reproduce:

1. Create a Javascript project with `blitz new app --js`
2. Create any component
3. Import it in a page

### Versions:

[code]

### Supporting Documentation

Error Log:

[code]

Compiled code:

![image](https://user-images.githubusercontent.com/21092519/81013485-30b20d80-8e29-11ea-86f6-b32062050fc8.png)

[2020-05-04 23:02] ryardley commented on #326
Great point

[2020-05-05 00:47] wKovacs64 commented on #299
This error is still an issue for Windows users as of v0.8.2 (reported in Slack and confirmed first-hand). The included store example throws this error and it's not making any `db` calls in components. It _is_ importing from `db`, but only the generated types. Going through the tutorial still fails at the point where you are instructed to visit `/projects` after generating your `Project` model scaf

[2020-05-05 02:28] ryardley opened #431 "`yarn dev` errors"
### What is the problem?

`yarn dev` generates errors

### Steps to Reproduce:

1. clone canary
1. `yarn`
1. `yarn build`
1. `yarn dev`
1. Notice errors:
[code]

[2020-05-05 02:41] wKovacs64 commented on #430
Confirmed. Thanks for the report! Blitz needs to generate a `jsconfig.json` when a JS project is created in order for absolute paths to work. In the meantime, you can create your own in the project root with the following contents (or use relative paths, temporarily):

[code]

You may run into another issue at that point, but it should get you past this one! 😄

[2020-05-05 03:29] simonpeterdebbarma commented on #431
Just noticed the PR. Changing labels.

[2020-05-05 04:01] #430 closed

[2020-05-05 04:36] is2ei commented on #392
It seems the error occurs here:
https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/utils/fetch-latest-version-for.ts#L29

`Object.fromEntries()` is supported from Node.js ver. 12.x .
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/fromEntries

[code]

[code]

[code]

[2020-05-05 08:00] #301 closed

[2020-05-05 08:09] flybayer commented on #412
@PullJosh looks like this is a problem with the `swc` global dependency that you have installed. Doesn't look related to Blitz.

Can you try `npm i -g blitz` instead?

[2020-05-05 08:11] flybayer commented on #334
As discussed in the other PR, we will change to have separate hooks for each, just like react-query

[2020-05-05 08:15] flybayer commented on #404
## Update

Yes, this is indeed a bug. It should work exactly like @MrLeebo expected with:

[code]

[2020-05-05 08:20] flybayer commented on #403
@MrLeebo can you verify that this is simply a deployment config issue?

Fyi, we are adding first class Blitz support to Vercel. PR is pendeng: https://github.com/zeit/now/pull/4219

[2020-05-05 08:23] flybayer commented on #415
@gielcobben the problem is that all files inside `pages/` must be a React component that will be rendered as a page.

What you are trying to do doesn't work with Next.js.

The solution is to put your scss files in another folder outside of `pages/`.

Try this, and let us know if it works for you!

[2020-05-05 08:25] flybayer commented on #299
Ok weird..

[2020-05-05 08:27] flybayer commented on #410
Ok, then we can definitely change withBlitz so that experimental flags defined in `blitz.config.js` will override the Blitz defaults.

[2020-05-05 08:35] flybayer commented on #392
@is2ei that's what I thought, but the @pcrunn said he has `Node: v10.20.1`, which doesn't make sense. 🤔

[2020-05-05 08:35] flybayer commented on #392
We can either refactor this or add a polyfill or something

[2020-05-05 08:45] flybayer commented on #230
Someone else is welcome to try and add this cross-platform.

[2020-05-05 08:48] #431 closed

[2020-05-05 09:17] flybayer commented on #178
Still showing the super ugly file path in latest blitz canary.

[2020-05-05 09:18] flybayer commented on #204
Going to go ahead and close this, as it doesn't seem Blitz specific.

[2020-05-05 09:18] #204 closed

[2020-05-05 09:19] flybayer commented on #225
Related #426

[2020-05-05 09:22] flybayer commented on #240
@mikeattara have you been able to make any progress on this?

[2020-05-05 09:27] is2ei commented on #392
@flybayer

That is why he found the error. If he uses 12.x , he won't get the error.

I agree with you.

[2020-05-05 09:50] #338 closed

[2020-05-05 09:54] flybayer opened #440 "[Feature] Run prettier on output of `blitz generate`"
### What do you want and why?

All files generated by `blitz generate` should be automatically formatted by Prettier

### Possible implementation(s)

Probably this should be added to `write()` inside `packages/generator/src/generator.ts`

[2020-05-05 14:41] #322 closed

[2020-05-05 14:45] #392 closed

[2020-05-05 14:48] dajinchu commented on #325
It feels to me like this is where generators can shine, but it doesn't feel super "in scope" for Blitz. Would the vanilla React form always be included in new projects, or would we ask if that's something they want?

[2020-05-05 14:58] flybayer commented on #425
This appears to be fixed on latest canary release

[2020-05-05 14:58] #425 closed

[2020-05-05 15:01] lednhatkhanh commented on #440
I would like to take this issue, is it ok?

[2020-05-05 15:04] dajinchu commented on #228
we are live!

[2020-05-05 15:04] #228 closed

[2020-05-05 15:18] flybayer opened #446 "Plain JS blitz app fails to compile"
### What is the problem?

Plain JS blitz app is unusable — fails to compile

### Steps to Reproduce:

1. `blitz new myapp --js`
2. `cd myapp`
3. Follow the steps in the default index.js page for migrating your DB **and** and running `blitz generate all projects`
4. `blitz start`
5. Try to access localhost:3000/projects, but it fails with:

[code]

### Versions:

[code]

### How to fix

This templa

[2020-05-05 15:26] aem commented on #446
is it possible that the synchronizer needs to learn about our `jsconfig.js`? we added it to the template but is the synchronizer not copying it into the `.blitz` directory?

[2020-05-05 15:28] flybayer commented on #446
@aem, no that is working fine. The issue is our rpc template is hardcoded as Typescript.

[2020-05-05 15:45] aem commented on #446
ohhh, i see. missed that before.

would distributing the server files as JS be reasonable here? they only actually need to be in TS for development, but when publishing we could ship plain JS + type definitions, right?

[2020-05-05 15:49] simonpeterdebbarma commented on #403
Putting this on hold for no.

[2020-05-05 15:55] simonpeterdebbarma commented on #322
Thank you very much, @dwightwatson !

[2020-05-05 15:58] simonpeterdebbarma commented on #440
@lednhatkhanh Yes, assigning this Issue to you. Feel free to create a Pull Request.

[2020-05-05 16:02] aem opened #447 "Enable `eslint-plugin-node/no-unsupported-features`"
### What do you want and why?

If we enable [`eslint-plugin-node`](https://github.com/mysticatea/eslint-plugin-node/blob/c833e11ebd50515142cfd4988674a6615833ed03/docs/rules/no-unsupported-features/node-builtins.md) we can have ESLint detect when we're using unsupported Node APIs based on our `engine` definition in `package.json`.

Related: #392

### Possible implementation(s)

Install the plugin a

[2020-05-05 16:28] coreybrown89 commented on #325
The idea of a generator seems promising and the approach Swizec proposes feels pretty natural. It would be cool to have the forms build out if you run `blitz generate scaffold <model>` and populate the associated CRUD pages.

While I'm here, I think [react-hook-forms](https://react-hook-form.com/) could fit really well with the generator model. There wouldn't me much more to add to get it function

[2020-05-05 17:42] harris1717 opened #448 "yarn upgrade blitz prompts for @prisma/cli version selection"
### What is the problem?

`yarn upgrade blitz` can't find any versions for "@prisma/cli" that matches "2.x". A version list is given to choose from. I've had luck with the latest beta (2.0.0-beta.4 at this time). A similar situation occurs for @prisma/client.

### Steps to Reproduce:

1. Run `yarn upgrade blitz`.

### Versions:

[code]

### Supporting Documentation

Please include applicable logs

[2020-05-05 18:29] gielcobben commented on #415
Well, it works perfectly fine in all my next projects. It's just not working properly in a blitz project.
This is my file structure in a next project:

![image](https://user-images.githubusercontent.com/2663212/81101944-25d1a880-8f0f-11ea-98dc-85dacb9fea07.png)

[2020-05-05 19:18] tmns commented on #446
I also noticed the following error today with a freshly generated JS project when attempting to access the `db` object from `blitz console`:
[code]
Note the first error about `tsconfig.json` - maybe these issues are related?

[2020-05-06 00:26] JoseRFelix opened #452 "Element is not defined - Material UI"
### What is the problem?

After merging current `canary` changes, Material UI example returns `Reference Error: Element is not defined` on resolution of `react-transition-group` peer package from `material-ui`.

This only occurs when trying to develop using monolith since published package works well.

Edit: [WIP branch](https://github.com/Jfelix61/blitz/tree/example/material-ui)

### Steps to Rep

[2020-05-06 08:30] simonedelmann opened #455 "Editorconfig support"
### What do you want and why?

It would be great to include `.editorconfig` support out of the box. (More details about .editorconfig files [here](https://editorconfig.org).)

### Possible implementation(s)

.editorconfig
[code]

### Additional context

- It seems like there is support for `.editorconfig` files within prettier. (https://prettier.io/docs/en/api.html) Should be possible to link them

[2020-05-06 09:33] eliasjohansson commented on #455
Thank you for the request! If it isn't already supported I personally agree that it should be.

[2020-05-06 11:27] flybayer commented on #257
@karankiri our bot is now live and working! So we're ready for you to add this all-contributor stuff!

[2020-05-06 11:34] flybayer commented on #446
@aem I think we need TS templates for the TS build to be correct. Because the actual TS build includes our generated files.

[2020-05-06 11:34] flybayer commented on #446
@tmns that is a separate bug — can you open an issue for that?

[2020-05-06 13:14] Skn0tt opened #458 "Find an alternative to REPL#setupHistory"
### What do you want and why?

https://github.com/blitz-js/blitz/blob/e12d17b6c14e29d8fd179e44e9b6d9ceceee8240/packages/cli/src/commands/console.ts#L67

[`REPL#setupHistory`](https://nodejs.org/dist/latest-v12.x/docs/api/repl.html#repl_replserver_setuphistory_historypath_callback) is not available in Node v10, see #454 for reference.

We'll need to find a way around using that :D

### Possible imp

[2020-05-06 17:34] Skn0tt opened #459 "[Meta] GitHub Codespaces"
### What do you want and why?

During [Satellite 2020](https://githubsatellite.com), GitHub announced [Codespaces](https://github.com/features/codespaces). It's basically a cloud-based VS Code that's displayed in the browser.
This is a great feature for Blitz, as it enables us to remove the whole development env setup from the process.
It definitely has the potential to make contributing to Blitz

[2020-05-06 19:46] simonedelmann commented on #455
I did a PR for this! It turned out, linking prettier to editorconfig was super easy.

[2020-05-06 19:53] tmns opened #461 "Blitz console does not work in plain JS projects"
### What is the problem?

In a freshly generated JS project, attempting to access the `db` object within `blitz console` causes a `ReferenceError` to be thrown.

This in turn blocks you from being able to interact with the db via the console, such as performing queries like `db.question.findMany().then(console.log)`, which is given as an example in the tutorial here: https://github.com/blitz-js/bl

[2020-05-06 19:54] tmns commented on #446
@flybayer okay - sure thing!

[2020-05-06 21:42] Zeko369 commented on #459
We could also setup a workflow with postgres fairly easily, because we can set it up in the initial container setup rather than using sqlite3

[2020-05-07 00:54] aem opened #462 "Create package for official Blitz installers"
### What do you want and why?

We need a place to publish official Blitz installers, similar to how Gatsby hosts all installers inside [`gatsby-recipes`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-recipes/recipes).

### Possible implementation(s)

These can either go inside the `blitz` monorepo or in their own repo, I don't have strong feelings about that.

This package **does

[2020-05-07 01:03] aem opened #463 "Support installation of remote Blitz installers"
### What do you want and why?

Currently we don't have a way to run installers that aren't local files. We should have a seamless way to execute installers that are hosted on Github without having to install them as npm dependencies; an installer should be as easy as `blitz install tailwind`. We should also support an installer URL that points to a github repo which holds an installer, e.g. `blitz

[2020-05-07 01:07] aem opened #464 "Enable full dependency resolution in AddDependencyExecutor"
### What do you want and why?

Currently the `AddDependencyExecutor` just blindly installs the version specified in the executor's metadata, which isn't exactly what we want - we want a pinned version.

### Possible implementation(s)

We should use the same dependency resolution logic we use in the `blitz new` command to resolve the latest valid version for each dependency based on the version str

[2020-05-07 01:13] aem opened #465 "Allow installer transforms to run on multiple files"
### What do you want and why?

Currently the transform executor API theoretically could support the user selecting multiple files to transform, or using a detector function to dynamically select all files that pass a custom test.

### Possible implementation(s)

There's two options here. First, we could continue to use the `selectTargetFiles` field which already exists on the API, and just require

[2020-05-07 01:15] aem opened #466 "Write tests for installer executors"
### What do you want and why?

The installer executors are currently untested, we should write some tests for those to prevent regression given their core nature.

### Possible implementation(s)

- [ ] Base executor functions
- [ ] Add dependency executor
- [ ] File prompt
- [ ] File transform executor
- [ ] New file executor

[2020-05-07 01:17] aem opened #467 "Write tests for installer class"
### What do you want and why?

The core installer class is untested right now. It's not too worrying given that there's not much logic there, it just calls a bunch of functions in order, but I assume we'll need to eventually add more logic there so we should have tests in place for when that happens

[2020-05-07 01:20] aem opened #468 "Write tests for base generator class"
### What do you want and why?

The base Generator is fully untested right now. This is a huge gap in our reliability as a tool since the generator is one of the core pieces of Blitz. We should be confident that any change to the Generator won't introduce a regression without having to manually re-test existing logic.

[2020-05-07 01:22] aem opened #469 "Write tests for generator classes"
### What do you want and why?

Our current generators are all untested. Since these are such core logic, that's pretty scary. We should write some tests that run the generators and verify that the output file structure and file contents match what we're expecting.

### Possible implementation(s)

For file contents we should be able to use jest snapshots, for file structure, simple string matching

[2020-05-07 01:45] dwightwatson commented on #326
I like the idea of using something like `next-connect` where you don't need specific pre-/post- middleware - instead you can adjust how your middleware interacts with the `next()` callback. Makes it easy to configure as a pipeline instead of having to queue up middleware to run before and after a request is handled.

[2020-05-07 02:16] PullJosh commented on #412
Installing with npm worked. Thanks! 👍

[2020-05-07 03:15] #99 closed

[2020-05-07 04:40] dwightwatson opened #470 "Default build command hangs without database"
### What is the problem?

Deploying a fresh Blitz project to now - before I have set up a database. I would assume this is an acceptable use-case for Blitz.

The default build command is `blitz db migrate && blitz build` - but if there is no database configured it will just hang forever and never progress past `blitz db migrate`.

[code]

I would expect if `blitz db migrate` doesn't have a valid c

[2020-05-07 06:26] #412 closed

[2020-05-07 07:40] #299 closed

[2020-05-07 07:58] ryardley opened #471 "Don't bundle next install it within the app generator"
### What do you want and why?

A common usecase for blitz is to enhance an existing Next app and add blitz manually. Out of this I found a couple of things that are preventing this workflow.

What I want to do:

1. Take an existing next app
2. `yarn add blitz --dev`
3. Have the blitz commands all work.

I noticed a couple of things break if I tried to do this this is one of them

---

Currently we

[2020-05-07 08:36] ryardley opened #473 "Blitz can not run as a devDependency"
### What do you want and why?

A common usecase for blitz is to enhance an existing Next app and add blitz manually. Out of this I found a couple of things that are preventing this workflow.

What I want to do:

1. Take an existing next app
2. `yarn add blitz --dev`
3. Have the blitz commands all work.

I noticed a couple of things break if I tried to do this this is one of them

---

We need to m

[2020-05-07 12:54] nyn0x commented on #343
Same for me when I try [user guide](https://github.com/blitz-js/blitz/blob/canary/USER_GUIDE.md)
After run `blitz generate all project` et navigate to localhost:3000/projects, I've got this issue:
`Can't resolve 'child_process'`

`Windows 10 | win32-x64 | Node: v12.16.3

blitz: 0.9.0 (global)
blitz: 0.9.0 (local)`

[2020-05-07 13:11] flybayer commented on #343
This should be fixed in the next release! 👉 https://github.com/blitz-js/blitz/pull/451

[2020-05-07 13:14] #473 closed

[2020-05-07 13:17] flybayer commented on #471
Initially, I really think we should keep bundling Next, but let's discuss it.

Can you explain more in-depth what you mean by "have blitz commands work" in a Next.js app?

Also, why are you trying to enhance a Next app instead of converting it wholesale to Blitz?

[2020-05-07 14:07] aem commented on #471
Bundling Next could have some unintended side effects for this case, so I'm with @ryardley here. If Blitz has a different version of Next pinned than the host app (speaking strictly in the additive case Rudi suggested here) then we could inadvertently either try to use APIs that didn't exist in the host version (not that bad, just weird) or upgrade them to a version where an API they were using ha

[2020-05-07 14:37] flybayer commented on #471
If we want to support Blitz as an addon to Next, then yes I agree it needs to be peer dependency.

But I'm wondering why would we support Blitz as an addon to Next?

[2020-05-07 14:49] aem commented on #471
Isn't that effectively the upgrade path to converting an existing `next` app to a `blitz` app?

[2020-05-07 14:50] lednhatkhanh commented on #446
I think another way is to create a separated JS template and use it to generate JS projects so that you don't have to worry about breaking the generated projects by accident. Also by providing a separated template for JS, you can add different configs that are only make sense in TS or JS project: tsconfig.json, jsconfig.json, types,....

[2020-05-07 14:57] flybayer commented on #471
No. As of today, the upgrade path is:

1. Remove Next dependency
2. Add Blitz dependency
3. Move `/pages/api/` to `/api/`
4. Rename `next.config.js` to `blitz.config.js`

[2020-05-07 14:58] aem commented on #446
@lednhatkhanh we considered that originally but opted to go for the compilation step instead - maintaining two versions of our templates makes it possible for the JS/TS projects to diverge which we don't want. It adds a bit of complexity to our internal tooling, but enables us to have an equal experience in JS and TS

[2020-05-07 16:15] HaNdTriX commented on #85
First of all thanks for the awesome work you have been doing 🙏. I am really impressed by how fast things are evolving.

From my point of view handling RPC queries and mutations exactly the same might be a mistake.
Especially when it comes to caching there are quite a lot of differences between queries and mutations. The most important difference is that `POST` requests are not idempotent. Those re

[2020-05-07 16:29] wKovacs64 commented on #471
Current upgrade path sounds almost like an installer. `blitz install blitz` 😉

[2020-05-07 18:12] JClackett commented on #417
Seems like a TypeScript issue, and requires function overloading, not my strong point tbh!
https://github.com/prisma/prisma/discussions/2360#discussioncomment-8807

[2020-05-07 20:46] Jfelix61 commented on #446
I started working on this. For detecting if it is a Typescript or Javascript project I thought of using [Next.js's script](https://github.com/zeit/next.js/blob/canary/packages/next/lib/verifyTypeScriptSetup.ts). What do you think @flybayer @aem ?

[2020-05-07 20:59] aem commented on #446
@Jfelix61 awesome! currently our method for detecting typescript projects is just checking for the presence of a `tsconfig`. Since TS projects will always have a `tsconfig` and JS projects will always have a `jsconfig` that should be pretty reliable: https://github.com/blitz-js/blitz/blob/75a7feabf94044d11cae9d8569de2510f5e0612b/packages/installer/src/utils/paths.ts#L5

[2020-05-07 21:16] merelinguist commented on #417
Thanks for the investigation @JClackett! I realise this isn’t entirely Blitz’s fault but I still think it’s something that should be working so let’s keep this issue open.

[2020-05-07 21:18] Jfelix61 commented on #446
@aem Thank you! Will be using this. Maybe in the future we could use something more robust since what would happen if user removes one of these files.

[2020-05-07 22:19] ryardley commented on #446
I think option 2 makes the most sense. Detect if the project is JS and if so run babel with typescript in a pipeline rule. You don't want to have multiple templates.

[2020-05-07 22:20] Jfelix61 commented on #446
@ryardley I thought the same. That is what I'm trying to implement :rocket:

[2020-05-07 22:24] ryardley commented on #446
@aem @Jfelix61 JS project will not necessarily have a jsconfig. Best to just check for a tsconfig

[2020-05-08 02:29] ryardley commented on #471
We should be able to turn a next app into a blitz app with as few changes to the codebase as possible. In my head that could be by simply running `npm install blitz` and then changing scripts within `package json`.

Once that is done then `blitz start` and `blitz build` should work as expected alongside all other cli commands. `next.config.js` can be converted automatically to `blitz.config.js` on

[2020-05-08 02:30] ryardley commented on #471
We definitely need a runtime check

[2020-05-08 02:53] #188 closed

[2020-05-08 04:06] needcaffeine opened #477 "Feature request: Stripe Recipe"
### What do you want and why?

To make Blitz the first choice framework for makers, it would be great to have Stripe integration so we can quickly go from a blank slate to selling products on the site.

### Possible implementation(s)

This can likely be achieved as a Blitz installer. Stripe integration I believe just requires a serverless endpoint and configuration. Might need to explore this more

[2020-05-08 04:17] flybayer commented on #477
Great request @needcaffeine!

What are the exact use cases that you want to be made easy?

This can certainly be added as a Blitz installer, once installers are ready to use. Might also be an opportunity for a plugin too.

[2020-05-08 04:29] needcaffeine commented on #477
What I envision is an equivalent to say Laravel, where one can bake an entire application with auth all the way to Stripe checkout integration, and focus only on their business problems. Stripe currently supports [Checkout](https://stripe.com/payments/checkout), which takes care of a LOT for us. Just something to keep in mind for installers/plugins.

[2020-05-08 05:12] Blanen opened #478 "repl.setupHistory is not a function"
### What is the problem?
Any input into the blitz console crashes
### Steps to Reproduce:
Using vscode's terminal:
1. Try the tutorial and get to the step where you use the console and enter the console.

2. Any input (even mouseclick?) and it crashes.

### Versions:

[code]

### Supporting Documentation
![image](https://user-images.githubusercontent.com/7236824/81372646-33e41c80-90fb-11ea-9afb-1f

[2020-05-08 06:13] Blanen commented on #478
Nevermind, is already an issue

[2020-05-08 06:13] #478 closed

[2020-05-08 06:14] Blanen commented on #458
I found: https://medium.com/@tjwebb/a-custom-node-repl-with-history-is-not-as-hard-as-it-looks-3eb2ca7ec0bd

[2020-05-08 07:14] flybayer commented on #277
Good discussion on the Redwood forums that we might can learn from: https://community.redwoodjs.com/t/testing-in-redwood/482/13

[2020-05-08 08:17] flybayer commented on #477
@needcaffeine How does Laravel do this and what do you like and not like about it?

[2020-05-08 08:45] flybayer commented on #85
@HaNdTriX thank you for bringing this up!

You are right, it would be nice to benefit from HTTP caching.

So Blitz queries can also have very large serialized input arguments, but it'll always be less than GraphQL since you are only sending arguments instead of arguments + arbitrary GQL query structure. And because you are only making one query at a time instead of a huge document of queries.

Do

[2020-05-08 09:21] flybayer commented on #470
You're totally right @dwightwatson!

Did you experience this locally or when deploying to production?

The hang is because it's prompting you to enter a name for the initial migration.

We can't just fail silently for this because we don't know if the migrate command should actually fail or not.

Probably the solution is to remove the db migrate command from the default build script. Then we'll ju

[2020-05-08 09:32] flybayer commented on #415
@gielcobben oh wow, I didn't know that would work!

We'll get this fixed

[2020-05-08 09:57] #470 closed

[2020-05-08 11:39] HaNdTriX commented on #85
it depends. Based on your CDNs and the Browsers that are beeing used this limit may vary.

As a rule of thumb a size limit of 2.048 Chars for the full URL string used in the Address bar should be safe. On Ajax level this limit may be up to 2.5x higher based on some tests.

[code]
[source](https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers)

Since t

[2020-05-08 11:51] HaNdTriX commented on #85
It depends. Based on your CDNs and the Browsers that are being used this limit may vary.

As a rule of thumb a size limit of 2.048 Chars for the full URL string used in the Address bar should be safe. On Ajax level this limit may be up to 2.5x higher based on some tests.

[code]

[source](https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers)

Since t

[2020-05-08 11:58] HaNdTriX commented on #85
While we are talking about limits. Please also think about the bodyparser limit of POST requests as well. Next.js uses a [bodyparser middleware](https://nextjs.org/docs/api-routes/api-middlewares) under the hood that may be configured as follows:

[code]

This limit should not be too high because otherwise it opens the door for all kinds of attacks. If it is too low the request might be aborted. T

[2020-05-08 12:01] flybayer commented on #461
I updated this issue title and added extra details to the original post.

The core issue is the plain js node repl crashes when loading esmodules. We need to find a way around this.

[2020-05-08 12:13] flybayer commented on #85
@HaNdTriX wow, that's super helpful! Thank you!

It sounds like it will be good to switch to GET and then fallback to POST if it's past 2k chars or so.

Also good point on the bodyparser size. We can definitely add a configuration item for that.

Do you think we should use a different size limit than default for queries and/or mutations?

[2020-05-08 12:38] HaNdTriX commented on #85
Or just retry on [414 URI Too Long](https://developer.mozilla.org/de/docs/Web/HTTP/Status/414).

👍

When it comes to body parser limits

- Next.js uses a default of 1mb [source](https://github.com/zeit/next.js/blob/dac715e8f7314d626c63eb49a5e9728ec2665fa7/packages/next/next-server/server/api-utils.ts#L52)
- Connect body-parser defaults to 100kb [source](https://github.com/expressjs/body-parser#lim

[2020-05-08 13:53] karankiri commented on #257
Sorry for late reply, been busy with the work.

I've create a basic bot which identifies the contribution of following kind from file type.
**.js | .ts | .sh**  -> code
**.test.js | .test.ts** -> test
**.md | .txt** -> docs
PR reviewer -> pull request.

_Can you help me with which all type of contribution type we need and how can I deduce this?_

I'll complete this over the weekend.

[2020-05-08 14:16] Zeko369 commented on #257
It would probably be smart to not auto add people by PR-reviews, because we'll get a lot of flyby reviews

[2020-05-08 14:57] ryardley commented on #471
https://asciinema.org/a/93ebYAbfdfpolhDr9Ey9H7WNa

[2020-05-08 17:29] Skn0tt opened #483 "Integrate `eslint-plugin-node/no-unsupported-features/node-builtins` once it's up par"
### What do you want and why?

We already wanted to introduce `eslint-plugin-node/no-unsupported-features` in https://github.com/blitz-js/blitz/pull/454, bit it turned out that there's not really feature parity with what we expect.
Once that's up par, we should integrate it to provide a better DX.

### Possible implementation(s)

1. `yarn add -D -W eslint-plugin-node`
2. Add plugin to `.eslintrc`

[2020-05-08 19:46] johncantrell97 commented on #401
Also seeing this, I'll take a stab at fixing it.

[2020-05-08 22:42] dwightwatson commented on #477
[Laravel Cashier](https://laravel.com/docs/7.x/billing) is actually more of a wrapper around Stripe's subscription service, with PDF invoice generation. It used to support Braintree too but that was later removed when it couldn't maintain feature parity. It does support one-off payments but it's not really the primary focus.

[2020-05-09 03:33] needcaffeine commented on #477
@flybayer Apologies, I don't actually know how Laravel does this because I don't use it. I just happened to notice that it's a pain point for me and other makers because I recently made a thing, and then had to go digging into documentation to make payments work. Maybe it _isn't_ a thing you want Blitz to focus on, which I totally understand.

[2020-05-09 07:26] flybayer commented on #471
@ryardley ok yes, I agree 100% with you on it being very easy to convert a next app to a blitz app!

The only thing I'm not convinced of is whether to stop bundling Next with Blitz.

I think this point has essentially zero affect on the upgrade path, because it's just one more small change that we can make on initial start. I think this is more a technical decision for us than an adoption UX issue

[2020-05-09 08:45] ryardley commented on #471
I agree supporting multiple next versions could be problematic. Honestly my issue is that it should be a one step install process which has as few code changes as possible. I would be happy if we pin the peerDependency to a single version and running `blitz start` or `blitz build` against an incorrect version simply detected and installed the correct version and wouldn’t run without it. That way w

[2020-05-09 11:37] flybayer commented on #471
Good point, the download size is definitely a pro/con! I added that to my pro/con list.

Enforcing a single Next version is a good idea. But this is still a bad UX for users. Because at first glance it _appears_ you can change the next version, but then you get an unpleasant surprise when you run `blitz start`. As much as possible, we need to make impossible things impossible.

I can see that havi

[2020-05-09 12:17] Skn0tt commented on #401
Awesome! Let me us know if there's something we can help you with.

[2020-05-09 14:45] flybayer opened #485 "Database connections are not being closed: FATAL: sorry, too many clients already"
### What is the problem?

Database connections are not being closed when the server is stopped.

[code]

### Steps to Reproduce (maybe)

1. `blitz start`
2. Visit page that reads from the database
3. Make changes to your app source files and save to trigger hot reloading
4. Repeat many times

### Versions:

[code]

### How to Fix

I think the blitz server needs to add a listener for a `kill` signa

[2020-05-09 14:56] flybayer commented on #459
I requested early access!

Putting this in the icebox until there's something actionable for us to do.

[2020-05-09 15:01] #377 closed

[2020-05-09 15:07] flybayer commented on #257
@karankiri that looks good!

Let's just start with code, test, and docs for now. Also make sure to check for jsx and tsx extensions.

[2020-05-09 15:12] flybayer commented on #477
Ok yeah that makes sense. This can definitely be added as an installer/recipe once that support is added.

[2020-05-09 15:14] karankiri commented on #257
@flybayer Sure will do that.

[2020-05-09 15:15] flybayer commented on #257
You can add this as a PR to https://github.com/blitz-js/bot-github. You already have commit access to that repo

[2020-05-09 15:26] karankiri commented on #257
@flybayer Onto it. Send a PR by tomorrow.

[2020-05-09 19:25] simonedelmann commented on #455
Closed, see #460 for discussion.

[2020-05-09 19:25] #455 closed

[2020-05-10 02:17] abuuzayr commented on #485
thanks @flybayer for opening this issue!

the steps should be:

1. `blitz start`
1. Visit page that reads from the database
1. Make changes to your app source files and save to trigger hot reloading
1. Repeat many times

I hope the above makes sense.

Also, as per your suggestion I added the `?connection_limit=1` to my DB URL in `.env`, but I still get this issue.

[2020-05-10 03:37] aem commented on #85
Copying from my comment in Slack:

My company had to disable HTTP caching globally because it caused so many consistency problems, in my experience it causes more problems than it solves. my recommendation there would be that if we want to enable it it should be opt-in in the blitz config.

It’s definitely a problem that is more relevant at scale than it is in a small app, but in a high-traffic mu

[2020-05-10 04:07] ivandevp commented on #485
May I help with this issue?

[2020-05-10 04:55] dajinchu opened #488 "This Issue Exists To Talk to Blitz Bot"
Using this issue to trigger blitz bot bulk actions.

[2020-05-10 04:55] #488 closed

[2020-05-10 04:55] dajinchu commented on #488
blitz bot sync

[2020-05-10 04:56] dajinchu commented on #488
blitz bot sync confirm

[2020-05-10 05:13] dajinchu commented on #303
Hey, got caught up with consultancy stuff but have time to pick this back up. I'm unsure what our API for hooking a custom server into Blitz should be and whether we should expose a hook or let people just use next's custom server?

Theoretically, we could just let people import `next` and use their `getRequestHandler` exactly as displayed in their docs https://nextjs.org/docs/advanced-features/cu

[2020-05-10 08:13] abuuzayr commented on #485
of course @ivandevp please feel free!

[2020-05-10 10:54] HaNdTriX commented on #85
@aem thanks for your Feedback 🙏. I believe caching always depends on the usecase and should be evaluated per route. Disabling it on a global level seems quite extreme to me.

When we are looking on the latest developments we can see that the community is working hard on delivering static performance. The raise of the JAMstack has shown that.
Next.js apps are static by default nowadays and might ev

[2020-05-10 13:09] flybayer commented on #85
Good thoughts @HaNdTriX!

A clarification: Blitz uses Next.js under the hood, so Blitz already has static page generation with `getStaticProps` and iSSG by using the `unstable_revalidate`  config item from Next.js. This happens regardless of whether queries are cached or not.

Pages that can be cached on the CDN should use `getStaticProps` instead of `useQuery` with a cached query response. Make s

[2020-05-10 13:13] flybayer commented on #303
Good question! My initial thought is to let people use the custom server just like next, but we can import from 'blitz' instead of 'next'.

@ryardley do you have thoughts on this?

#471 will not affect this, since Next is installed one way or the other.

[2020-05-10 13:47] #440 closed

[2020-05-10 14:41] thebiglabasky opened #490 "Generated scaffold for models with String ids fail"
### What is the problem?

When generating a scaffold for a model using a String id (e.g. `@id @default(cuid())`), the generated scaffold pages do a `parseInt` to convert the path param, instead of leaving it as is.

### Steps to Reproduce:

1. Put together a model like

[code]

2. Generate a scaffold using `blitz generate all product`

3. Notice the `const id = parseInt(router?.query.id as string)

[2020-05-10 18:43] aem commented on #85
Appreciate the thoughtful answers here!

As @flybayer said, the actual static pages will always be cached, and I think we both fully agree with you that performance there is non-negotiable!

As far as the RPC requests, responses will often be different depending on who is making the requests. In my opinion (and experience, as I mentioned above), HTTP caching for those data queries is incredibly co

[2020-05-10 21:26] Blanen commented on #490
Can I pick this up?

If it's a string it shouldn't be left as it is but it should be url-decoded.

[2020-05-11 02:43] ryardley commented on #303
My opinion might be a little extreme but I think that the Blitz should own data fetching wholesale and this should be done by having code that runs on the server calling and talking to code that runs in the browser.

[2020-05-11 03:05] aem commented on #274
I forgot this issue existed. `@blitzjs/generator` exists now, we still need someone to pull out the `console` code

[2020-05-11 03:33] aem opened #492 "Error output from prettier about not specifying a parser"
### What is the problem?

The following output appears when running the generator:

[code]

### Steps to Reproduce:

`blitz generate queries test`

### Versions:

Latest canary

[2020-05-11 03:35] aem commented on #492
This appears to be breaking generation because we're using `babel` as the parser so it can't parse newer TS syntax like optional chaining

[code]

[2020-05-11 08:53] Zeko369 commented on #490
Go ahead @Blanen

[2020-05-11 11:02] flybayer commented on #492
@aem this must be new from #453?

[2020-05-11 11:37] peaonunes commented on #492
Would them be two different problems? The first `parser` issue using `prettier` and the other would be the actual parser used in the project is not catching up with features we use?
I've tried adding the parser definition to the prettier and seems like it solves the first problem:
[code]
I could not reproduce the TS syntax error though.

[2020-05-11 13:40] aem commented on #492
@flybayer correct it's a regression from that PR, I verified with a `git bisect`

@peaonunes they were the same problem, the base `babel` parser doesn't know about TypeScript so it fails every time it hits syntax that isn't just a type annotation (Babel supports type annotation nodes out of the box to support TS and Flow, but not any other advanced syntax). That line definitely fixes it though

[2020-05-11 15:36] merelinguist opened #495 "Next.js 9.4"
### What do you want and why?

Upgrade Blitz everywhere to Next.js 9.4.

### Possible implementation(s)

1. Upgrade dependencies

2. Revert #322

### Additional context

https://nextjs.org/blog/next-9-4

[2020-05-11 17:34] osirvent opened #496 "Error on pre-commit hook."
### What is the problem?
Unable to create initial commit on a new blitz app

### Steps to Reproduce:

1. Create a new blitz app

### Versions:

[code]

### Supporting Documentation
<img width="763" alt="imagen" src="https://user-images.githubusercontent.com/5927133/81592457-4c378e00-93be-11ea-9420-35bdd304b639.png">

Git output
[code]

Please include applicable logs and screenshots that show your

[2020-05-11 17:35] MrLeebo commented on #490
This isn't exactly a duplicate of https://github.com/blitz-js/blitz/issues/259 but when that issue is resolved it will likely resolve this as well.

[2020-05-11 22:32] peaonunes commented on #492
Ooh, now I got it!
I think you already fixed it in #494, right?

[2020-05-11 22:54] wKovacs64 commented on #496
This is an upstream [issue](https://github.com/typescript-eslint/typescript-eslint/issues/2009) with `@typescript-eslint/eslint-plugin@2.32.0`. They have a fix merged already, but have not released at the time I'm writing this comment.

[2020-05-11 23:58] Blanen commented on #234
Is it not simpler for a developer to have the schema being the sole source of truth by default rather than the cli options that creates the schema? Then you could simply hand the model name (and other cli options) to a pluggable system that by default looks up the prisma definitions. Meanwhile another plugin there could look it up from a remote source or whatever.

With a pluggable system you coul

[2020-05-12 02:09] wKovacs64 commented on #448
Hey @harris1717, can you check if you are still experiencing this issue with `blitz@0.9.1`?

Your `package.json` looks like the dependency updater might have failed while running `blitz new` (e.g. due to loss of network connectivity). Those `Y.x` dependency versions are part of the Blitz app template but a successfully generated project should resolve those to actual version numbers (which would p

[2020-05-12 02:22] wKovacs64 commented on #269
Hey @jlkiri, can you check if you are still experiencing this issue with `blitz@0.9.1`?

I ran into the same problem a while back but have not been able to reproduce it with recent versions of Blitz.

[2020-05-12 04:29] #325 closed

[2020-05-12 04:31] #326 closed

[2020-05-12 04:32] #242 closed

[2020-05-12 08:50] peaonunes commented on #274
I'm happy to try pulling out the `console` got. Looking at the codebase its just one file, but it depends on `runPrismaGeneration` which is owned right now by the `/commands/db.ts` (and also used by the `start.ts` command). Not sure if it should be shared by those files, should we:
* move this function to a shared package before doing it?
* keep the function as it is and make `console` package get

[2020-05-12 10:28] osirvent commented on #496
Yeah! Downgrading those to `2.31.0` solve the commit error

[code]

[2020-05-12 12:24] #463 closed

[2020-05-12 13:29] flybayer commented on #257
Closed in https://github.com/blitz-js/bot-github/pull/5

[2020-05-12 13:44] aem commented on #274
my personal thought is duplicate the logic for now. I assume at some point we'll want a shared `@blitz/prisma` package that we can use to centralize all of our prisma code, but I don't think we have enough information to know what that shared API needs to look like so better to duplicate rather than choosing the wrong abstraction.

@ryardley @flybayer thoughts?

[2020-05-12 14:07] flybayer commented on #274
The prisma code will be in a plugin like `blitz-plugin-prisma` or something.

Ok to duplicate for now, but add a comment both places clearly stating this.

[2020-05-12 14:18] flybayer commented on #490
@Blanen yeah, this will be taken care of by #259, but if you already have something for this specific case, we can still take it until we get #259 completed.

[2020-05-12 14:21] #401 closed

[2020-05-12 14:23] flybayer commented on #234
@Blanen yes, I think when generating other things like queries/pages, we'll read the schema as source of truth.

But this feature issue is for generating the actual schema. It's just a nice to have for easily adding models to your schema from the CLI without opening the schema file.

[2020-05-12 15:41] #496 closed

[2020-05-13 01:28] abuuzayr commented on #485
@ivandevp this might help: https://github.com/prisma/prisma/issues/1983

[2020-05-13 01:35] peaonunes commented on #274
I've the same feeling about it.
I like the plugin idea, right now the `db` is tightly coupled with `prisma` which would be hard to switch/replace implementation if needed. I guess the ultimate goal would be to have an decoupled `db` module where you could plug in and out any database provider. Perhaps that could be another work front since it is a long way until having that abstraction.

[2020-05-13 06:59] flybayer commented on #485
@abuuzayr nice!

Looks like the solution is this:
[code]

[2020-05-13 07:27] #447 closed

[2020-05-13 07:27] #458 closed

[2020-05-13 11:33] jlkiri commented on #269
Not experiencing anymore

[2020-05-13 13:02] osirvent commented on #496
@flybayer The fix has been released to latest - 2.33.0

[2020-05-13 13:23] flybayer commented on #496
@osirvent great, thanks!

[2020-05-13 13:23] #269 closed

[2020-05-13 13:23] aem commented on #269
@jlkiri sounds good! let me know if it comes up again and we can take a look

[2020-05-13 13:24] ivandevp commented on #485
Hey guys! Sorry for the delay. I've been trying to reproduce but haven't found a way to do it. I followed the steps but can't see the error in the current canary version, when I create a project with Blitz 0.9.0 I got an error related to React.Suspense but not sure what is happening. Are you still facing the error in the current canary version? The problem and solution makes sense to me, but can't

[2020-05-13 14:41] sbardian commented on #485
I am also unable to reproduce.  Tried 0.90 and 0.91.

[2020-05-13 19:51] mysticaltech opened #505 "ArangoDB Example or Plugin"
### What do you want and why?

I would love support for the [ArangoDB](https://www.arangodb.com/) multi-model DB, as it's a key-value, Document, Graph Database, and Search Engine all in one! Unbeatable quality and technological architecture. It would be a perfect match.

They don't support GraphQL out of the box but it would be easily implementable with their JS client  https://github.com/arangodb

[2020-05-14 00:41] abuuzayr commented on #485
@flybayer yup so far so good!

thanks @ivandevp @sbardian, perhaps the steps from running `blitz new` to getting the error are quite a lot, so it quite a long way to getting the error.

I just tried it with 0.9.2-canary.1 on a fresh project and I get the error.

Full reproduction steps
-----------------------

*Note:* the default `max_connections` value for postgresql is 100.

1. `npx blitz@0.9.2-

[2020-05-14 01:07] ivandevp commented on #485
Awesome @abuuzayr! Go ahead with the PR. I will try to get the error with the steps you mentioned but in the meantime I think is good to have the PR If you already got the solution.

[2020-05-14 10:29] #495 closed

[2020-05-14 10:34] flybayer commented on #505
Hey @mysticaltech, this is totally possible today! Prisma 2 is included by default, but it's trivially to remove Prisma and use ArangoDB today. No changes needed.

For a really nice DX like we have with Prisma (for CLI commands, code scaffolding, etc), we'll need to add a blitz plugin for Arango. Plugins are lower priority than authentication, which we are working on now. So it'll be a little time

[2020-05-14 11:00] #232 closed

[2020-05-14 11:52] flybayer opened #509 "Most new lines are removed from template files for plain JS apps"
### What is the problem?

Most new lines are removed from template files for plain JS apps

Example for `db/index.js`:

[code]

### Steps to Reproduce

1. `blitz new myapp --js`
2. Inspect `myapp/db/index.js` and see that it doesn't match the template at `packages/generator/templates/app/db/index.ts`

This also happens for `blitz generate`

### Versions

[code]

[2020-05-14 12:32] flybayer commented on #446
We had to revert #476 via #510 because 476 broke blitz when published to npm because typescript isn't available during `blitz new` and for plain JS apps.

Might need to solve this with babel instead.

OR just maintain JS templates too.

[2020-05-14 12:38] flybayer commented on #446
@Jfelix61 you're welcome to take another run at this if you want. I just unassigned you so you don't feel pressure to continue working on this if you don't want :)

[2020-05-14 16:00] #257 closed

[2020-05-14 23:08] #403 closed

[2020-05-14 23:25] MrLeebo commented on #426
@flybayer I can't repro this in blitz 0.10.0, can you check again to see if it's already been resolved?

[2020-05-15 03:40] emgoto opened #515 "When generating app using `blitz new`, move styles from `index.tsx` to a separate `styles.ts` file"
### What do you want and why?

When generating a new app using `blitz new`, I think all the styles inside of `index.tsx` should live in a separate `styles.ts` file.

This is just a matter of personal opinion but I did feel when I opened that `index.tsx` file for the first time that it looked pretty messy with everything in one file! Of course I removed everything in the index code straightaway any

[2020-05-15 13:11] dwightwatson commented on #515
If we accept that most developers are going to dump everything on the launch home page by default, should it just be wrapped up in a component that is bundled with Blitz? That way it's dead simple to remove the boilerplate.

[2020-05-16 09:14] flybayer opened #517 "Extract `usePaginatedQuery` out of `useQuery` into a separate hook"
### What do you want and why?

Currently the blitz `useQuery` hook wraps both `useQuery` and `usePaginatedQuery` from react-query. This has caused a hook violation (https://github.com/blitz-js/blitz/issues/334) so we need to switch to having a separate `usePaginatedQuery` hook, just like react-query.

### Possible implementation(s)

Start in this file: https://github.com/blitz-js/blitz/blob/canary

[2020-05-16 09:15] flybayer commented on #334
Closing this because I opened #517 for separating the hooks.

[2020-05-16 09:15] #334 closed

[2020-05-16 09:15] flybayer commented on #237
Let me know if you want to work on this but need more information about how to build it!

[2020-05-16 09:16] flybayer commented on #239
Let me know if anyone wants to work on this but you need more information about how to build it!

[2020-05-16 09:17] eliasjohansson commented on #517
I can work on this, do you mind if I do #239 at the same time? :)

[2020-05-16 09:44] flybayer commented on #517
@eliasjohansson  Cool! Yeah, that probably makes sense to do all three at once. You can assign these issues to yourself and mark as `status/assigned`

[2020-05-16 12:21] flybayer commented on #515
Thanks for the suggestion @emgoto!

I'm 50/50 on this. Having it all in one file makes it easy to delete it all, but you are right that it's a bit overwhelming.

[2020-05-16 23:52] abuuzayr opened #519 "[DX] blitz command failure during development should be informative"
### What do you want and why?

Sometimes when developing on `blitz` we run this sequence of commands:

| Command | Status |
| --- | --- |
| `yarn dev` | started |
| `yarn link-cli` | successful |
| `blitz [command]` | ERROR |

Quite commonly, the error is:

[code]

After some introspection, it is usually just that `yarn dev` hasn't completed yet, and the `../dist/cli` binary isn't available when w

[2020-05-18 17:55] ivandevp commented on #237
Hey @flybayer ! I can work on this. I'll probably need more information but I can start by checking how `react-query` works for this case and understand how to add it to Blitz ⚡.

[2020-05-18 19:17] eliasjohansson commented on #239
I can quite decide what the API for this should look like. If we were to use getFetchMore as is in regular react-query it should be passed as a second parameter to the query function. In that case we need to make some changes in `rpc.ts` so that you can send more than just the params in the body.
![Screen Shot 2020-05-18 at 21 11 53](https://user-images.githubusercontent.com/22719177/82250866-8c61

[2020-05-19 13:25] flybayer commented on #426
I can't repro either!

[2020-05-19 13:25] #426 closed

[2020-05-19 14:24] #517 closed

[2020-05-19 14:28] flybayer commented on #237
@ivandevp sounds good! :)

[2020-05-19 14:38] #485 closed

[2020-05-19 15:35] flybayer opened #525 "Upgrade Next to 9.4.1"
### What do you want and why?

Upgrade the next version everywhere in the our repo, including example apps and in the server package.

[2020-05-19 17:20] LoriKarikari commented on #318
Hi, @agnelnieves any updates on this?

[2020-05-20 03:46] #233 closed

[2020-05-20 04:55] #525 closed

[2020-05-20 15:39] dajinchu opened #529 "Couldn't find a `pages` directory as of 0.11.0"
### What is the problem?
`blitz build` triggers `Couldn't find a pages directory` in 0.11.0

0.10.0 is fine

### Steps to Reproduce

1. `blitz new` or use the blitz store example
2. Bump blitz version to 0.11.0
3. `blitz build`

### Versions

[code]

### Other
[code]

[2020-05-20 15:43] flybayer commented on #529
@dajinchu do you also Next.js as a dependency in your package json? If so, you'll need to update that to 9.4.1

[2020-05-20 15:56] Zeko369 opened #530 "Custom useParams hook"
### What do you want and why?

As mentioned in the [slack](https://blitzjs.slack.com/archives/CUM2C68T1/p1589975795454700), current way of getting route params isn't really as nice as it could be

[code]

### Better API (similar to prisma client)

[code]

Also if we have an object we can go overboard with TS definitions (keyof stuff) and have a lot nicer API for getting this stuff

I'd like to bui

[2020-05-20 16:08] dajinchu commented on #529
bumping next.js in package.json solves it!

[2020-05-20 16:08] #529 closed

[2020-05-20 16:11] dajinchu commented on #289
Working on this as an installer

[2020-05-20 16:13] dajinchu commented on #303
I think with or without explicit data fetching support, there will inevitably be an ask for custom server support, so I think we can still just follow the next.js custom server pattern?

[2020-05-20 16:45] Zeko369 opened #531 "[RFC] Database seeding"
### What do you want and why?

Create a CLI command to run seeds

### Possible implementation(s)

Template apps should add `seeds.ts` file in db folder, we should also add to docs that you can have `seeds/index.ts` so people could split seeds into multiple files for larger projects.

We should discuss adding `faker` as a dependency by default (it's quite large) and generating seeds by default (ask

[2020-05-20 17:17] merelinguist commented on #531
Great idea!

[2020-05-21 03:23] flybayer opened #533 "Upgrade Next to 9.4.2"
### What do you want and why?

Upgrade Next to 9.4.2 in all the package.json files in the repo

[2020-05-21 14:15] flybayer commented on #239
@eliasjohansson sorry for the delay here.

I'm not quite following you on that.

`getFetchMore` is one of the many react-query options which we accept via the third argument to our `useQuery`. I think this should work exactly as I have in the original post without any changes to the blitz query function signature.

I just added to the first post the implementation for the blitz query that should w

[2020-05-21 14:28] flybayer commented on #530
I totally agree we need this. I was just thinking about this the other day.

The whole number/string thing is a real downer lol.

I think the majority of folks will use all number ids or all string ids. So I think it should be super simple for either of these.

How about this?

[code]

[2020-05-21 14:30] flybayer commented on #303
Yes that's what I think @dajinchu

[2020-05-21 14:31] #533 closed

[2020-05-21 14:39] flybayer commented on #531
Thanks Fran!

I think we probably shouldn't add faker by default and also don't add any seeds by default. The default seed file can have some example code commented out.

The helpers are a good idea, but I think we should be very conservative about what helpers we add, if any. There's already a ton of npm packages for similar things.

I think adding helper functions and suggested libraries to docu

[2020-05-21 15:28] flybayer opened #540 "Add ability to run blitz start production without building code"
### What do you want and why?

Services like render have different memory limits for build vs run step. So we need build the code in the build step and then only run the code in the run step. But currently `blitz start --production` rebuilds the code even if the code is already built.

### Possible implementation(s)

We could add a new command or command argument.

Or

We can change `blitz start -

[2020-05-21 18:30] eliasjohansson commented on #239
@flybayer Hmm, I think I might have been trying to use react-query too much as is. Normally the getFetchMore parameter would be sent through to the query function, and then you use it there to fetch depending on it. So in ur example we would only use the getFetchMore to tell the useInfiniteQuery if there is more to fetch or not. Will try that instead.

[2020-05-21 19:51] LoriKarikari opened #541 "Add nicer error messages when using wrong CLI parameters"
### What do you want and why?

[code]

I was using `blitz studio` instead of `blitz db studio` and it returned the error below. It happens with whatever wrong CLI parameter you use after `blitz`.
[code]

When using `blitz db wrongParam` it returns:
[code]

It might be nice to clean up these error messages?

[2020-05-21 20:23] dajinchu opened #542 "Generate Prisma Client w/o Migrating"
### What do you want and why?

Some way to generate the prisma client so that blitz apps can be fully built without forcing migrations to happen at build time.

### Possible implementation(s)

If we want to avoid ORM-coupling, this is kind of tough. In my opinion, prisma client would be generated as part of `blitz build`.

---

## Edit by @flybayer

[See this comment below](https://github.com/blit

[2020-05-21 20:28] dajinchu opened #543 "Start app in production w/o rebuilding"
### What do you want and why?

Most other frameworks (gatsby, next, create-react-app) make you run `build` before `start`. `start` just runs or serves the built files. For blitz, `start` is actually for development, and `start --production` always rebuilds. It would be great for startup time to have some way to start a built blitz app other than installing `next` into production.

### Possible imp

[2020-05-21 21:19] enzoferey commented on #229
Can I do this ? 😁

[2020-05-21 22:07] Zeko369 commented on #543
Duplicate of #540, let's keep it there (checksum suggestion)

[2020-05-21 22:07] #543 closed

[2020-05-21 22:48] Zeko369 commented on #530
@flybayer I think having more powerful useParamsCustom() which would take a prisma query like object (key -> boolean | function, where a function would be a parser function and true would just parseInt) would be quite useful, just to make it a bit more readable for some stuff.

Also I'd change your example

[code]

Also add the custom hook back with a bit different syntax

[code]

[2020-05-21 22:53] Zeko369 commented on #531
Agree with not using faker by default, but suggesting it in the comments.

I think that we should give people the right abstractions for seeding. `maybe` and `maybeValue` would make the code a lot more readable compared to just using `Math.random() > x`. If we give them to users in a form of docs not everyone will use them, but if we have them in the standard library, a lot more people will use th

[2020-05-22 13:24] flybayer commented on #239
In my example the return result of getFetchMore does two things:

1. tells react-query if there is more (if nextPage is truthy)
2. returns the nextPage object that will be passed to the parameter function

<img width="629" alt="Screen Shot 2020-05-22 at 20 22 04" src="https://user-images.githubusercontent.com/8813276/82672170-2f2a7700-9c6a-11ea-843b-fe8c2118e267.png">

This is exactly like the rea

[2020-05-22 13:25] flybayer commented on #541
Yeah for sure!

[2020-05-22 13:28] flybayer commented on #542
Running this via `blitz build` is a good idea.

We can expose a build hook to plugins once we add plugins, but for now we can hard code it. And fail silently if prisma isn't installed.

[2020-05-22 13:30] flybayer commented on #229
@enzoferey yes you can do this!

We can't do anything about warnings that come because of other packages, like Next. We can only fix issues that we are adding ourself.

[2020-05-22 13:44] flybayer commented on #530
@Zeko369

What would this do `useParamsInt('taskId')` vs `useParamsInt()`?

Adding `useParamsCustom` could help some people, but I think we should wait until we actually having people asking for it. We have to be conservative in adding new apis because this will only grow over time. We want to make sure we only add things people will use.

Also, anyone can create their own custom hooks like this a

[2020-05-22 22:14] Zeko369 commented on #530
By default we can't know what routing name the user chose

- `[id].tsx` => we can match by default
- `[fooBar].tsx` => we can't match by default (need to add 'fooBar' as param)

[code]

- `[projectId]`
  - `[id].tsx` => we can't know what you want
  - ...

[code]

[2020-05-23 03:31] flybayer commented on #531
Arguably, you don't really need any abstractions for data seeding. It's fairly straightforward stuff :)

I think convention over configuration applies more at higher level things. I.e. the fact that we have a way to seed your database. *How* you actually do your seeding doesn't need to be standardized because everyone's requirements are different.

[2020-05-23 03:33] flybayer commented on #530
Oh, so I was thinking `useParamsInt()` will return all query items. We don't have to know what the name is. Basically just return `router.query`. Right?

[2020-05-23 07:50] MrLeebo commented on #530
What would you do with invalid values that end up in the param? I don't think NaN is a contextually appropriate value to return for a URL param. Plus `parseInt()` and `Number()` both have edge cases and special behaviors when it comes to values that they'll parse which you may not want (e.g. hex values, leading zeroes in older browsers, strings that start with numbers get truncated on the first no

[2020-05-23 13:51] Zeko369 commented on #531
Ok, I'll create functions for seeding, and we can just keep these helpers in docs

[2020-05-23 14:02] Zeko369 commented on #530
We could just do that, seems easier than my implementation 😅

We could just return null if we get a NaN

[2020-05-23 17:47] jclancy93 commented on #541
I was unable to reproduce the first issue locally on my machine. Could it be OS specific?
This is my local config

[code]

I put up a PR to improve the output for the second issue

[2020-05-23 19:15] LoriKarikari commented on #541
I'm getting the same error on Windows too.

[2020-05-23 21:58] emgoto commented on #415
I ran into the same issue, I tried to setup Tailwind CSS (following [this guide](https://dev.to/notrab/get-up-and-running-with-tailwind-css-and-next-js-3a73)) but got stuck at the step where you can't import the stylesheet in the `_app.js` file.

I tried to work around it by importing the css file from my layout component (outside of pages) but I got a Next.js `"Please move all global CSS imports

[2020-05-24 15:16] enzoferey commented on #461
Would using [esm](https://www.npmjs.com/package/esm) to replace `require` [here](https://github.com/blitz-js/blitz/blob/828c8d2f23024f35461a260d7ddb9368dbbe63b4/packages/cli/src/utils/module.ts#L5) be an option ?

[2020-05-24 22:26] merelinguist commented on #415
@gielcobben @flybayer Just having a look at this now and I think the problem might be that you’re using an older version of Blitz? This seems to have been fixed already. Could you try upgrading to latest? 👍

[2020-05-24 22:31] merelinguist commented on #541
Hm can’t reproduce this? For me it looked like this:

[code]

[2020-05-24 22:36] merelinguist commented on #416
Have run into this several times now. Still not sure if there’s an _easy_ way to fix.

[2020-05-24 22:42] #541 closed

[2020-05-25 06:39] gielcobben commented on #415
Updated to the latest version but keep getting this error:

[code]

Here is a screenshot of the error in my terminal:

<img width="1512" alt="Screenshot 2020-05-25 at 08 35 56" src="https://user-images.githubusercontent.com/2663212/82785605-3b2d5900-9e63-11ea-94a7-4a1866387830.png">

[2020-05-25 06:59] ryardley commented on #540
Yep I agree. If the assets have been changed they should be rebuilt.

[2020-05-25 11:02] peaonunes commented on #542
Hey, I'm afraid I did not understand the issue. What do you mean by:

I thought the app would be fully built after `blitz new`.

[2020-05-25 11:29] gielcobben commented on #416
So, what would you recommend for Datetime types in Prisma / Blitz (for now)?

[2020-05-25 11:42] Skn0tt opened #549 "[Installer]: Babel transpilation for JS projects should be smarter about file types"
### What do you want and why?

- only `.tsx`-named files should be transpiled in TSX-Mode
- `.js`-named files shouldn't be transpiled at all

Both aren't really important right now, since all of our own templates are valid TSX.
It will become important once there are user-defined templates, though.

### Possible implementation(s)

Sharpen Babel transpilation logic in `generator.ts`.
### Additional

[2020-05-25 15:05] merelinguist commented on #416
As a long-term solution, we’ll probably have to work that out somewhere within Blitz. For your purposes, though I’d recommend either:

1. Not using SSR, or

2. Just using a plain `String` type in your Prisma schema. This would look something like this:

[code]

Then, when you’re creating your `Question`, set the `publishedAt` field to use a string, not a date object, like this:

[code]

[2020-05-25 15:13] flybayer commented on #542
So if you are using Prisma, then prisma client must be generated into your project at `node_modules/.prisma/`

In a non-Blitz app, you would do this via `prisma generate`.

In a Blitz app, you do that via `blitz db migrate`, which both runs `prisma migrate` and `prisma generate`.

DJ wants a way to have the prisma client generated without running `blitz db migrate`.

---

We are already automatica

[2020-05-25 15:22] flybayer commented on #415
@emgoto tailwind does work with Blitz right now, but just with the css files outside of the pages directory. [Look at this example blitz app which has tailwind integrated.](https://github.com/blitz-js/blitz/tree/canary/examples/tailwind)

[2020-05-25 15:23] flybayer commented on #461
@enzoferey oooh, that's a good idea! Definitely worth trying.

The other thing I thought about trying is using `babel-node`

[2020-05-25 16:16] gielcobben commented on #416
Thank you, this helps a lot 🙏

Do you know if this recommendation has any implications for ordering or filtering?

[2020-05-25 17:38] MrLeebo commented on #530
Returning `null` instead of throwing an error because the value isn't what you expected is Error Swallowing. If throwing an error is out of the question then I think at least rename the hook to make it apparent it is swallowing e.g. `useSafeParamsInt()`

[2020-05-25 21:28] merelinguist commented on #416
Glad that helped @gielcobben! For filtering, you’d do this:

[code]

[2020-05-25 21:56] merelinguist commented on #464
Waiting on refactor

[2020-05-26 13:55] #404 closed

[2020-05-26 14:12] #229 closed

[2020-05-26 14:47] flybayer commented on #530
Excellent points @MrLeebo

Maybe the best way to "solve" this is switch ids to be strings by default, [which I think we should do anyways](https://github.com/blitz-js/blitz/discussions/554).

So then the remaining issue is that `router.query` keys can be `string` or `string[]`. It would be `string[]` if the path is like `/blog/[...slug]`.

So maybe we could add `useIdParams()` that only returns th

[2020-05-26 19:14] ganeshmani commented on #542
@flybayer I would like to work on this issue. if that's okay

[2020-05-26 19:37] Zeko369 commented on #530
I still think that most people would rather go with integer IDs for starters

[2020-05-26 20:20] enzoferey commented on #461
I will try to fix this in either way 👍

[2020-05-26 20:46] enzoferey commented on #519
This should be closed via https://github.com/blitz-js/blitz/pull/524, right ?

[2020-05-26 21:59] enzoferey opened #558 "Link CLI tool and @blitzjs/* packages"
### What is the problem?

When linking the package for local development, other packages under `@blitzjs/*` are not linked as well.

### Steps to Reproduce

1. Run `yarn dev`.
2. Run `yarn link-cli`.
3. Create a new project with `blitz new`.
4. Run `yarn link "blitz"` inside the project.
5. Run any `blitz` command, the usage type will be `local` instead of expected (?) `global-linked`.

### Versio

[2020-05-26 23:19] anteprimorac commented on #530
Not sure if this is inherited from next.js router, but I think params `/projects/[id]` and query `/projects/?order=asc` should be in separate objects `router.params` and `router.query`.

This might be an edge case, but what happens when param and query share the same name, e.g. `/projects/[id]?id=2`?

[2020-05-27 02:33] abuuzayr commented on #519
Absolutely, thanks @enzoferey !

[2020-05-27 02:33] #519 closed

[2020-05-27 03:24] flybayer commented on #530
How about `useParams()` automatically convert number strings to numbers and return the rest as strings?

I think this is the output you intuitively expect.

[code]

We can do an regex, and if it only has digits, then attempt `parseInt`. Falling back to string if it fails. Floats would not be parsed and passed through as a string. And do the same for any other edge cases that exist with `parseInt`

[2020-05-27 09:55] flybayer commented on #542
@ganeshmani yeah for sure!

[2020-05-27 10:08] flybayer commented on #558
Hey, this does sound like it can be improved.

You're welcome to try tweaking that `cli.ts` file. Just know it's quite tricky to get everything working correctly, including when published to npm. And from what you've described, I'm not sure if this is the issue. But again you're welcome to try!

I haven't done multi package development like this before, so I'm not sure what to expect.

You can als

[2020-05-27 10:33] flybayer opened #559 "Remove the jobs folder from the new app template"
### What do you want and why?

Remove the `jobs` folder from the new app template. We are not using this currently. And it's possible it will have special behavior in the future, so we need to remove it for now.

This is a simple change: remove this folder: https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/jobs

[2020-05-27 10:44] flybayer opened #560 "Need a tiny refactor to the new app template's index page"
### What do you want and why?

The new app template's `index.tsx` has this:

[code]

And it's very confusing for new folks because it looks like it may be part of blitz code. But in reality it's just a string for display on the webpage.

So we need to just inline that string into the JSX where it's used, instead of having them as separate variables.

Here's the lines that need moved: https://githu

[2020-05-27 10:50] flybayer opened #562 "Add a `studio` script to new app template's package.json"
### What do you want and why?

Running prisma studio as an npm script is common for folks, so we should add it by default.

Add the below code here: https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/package.json#L7

[code]

[2020-05-27 11:08] #559 closed

[2020-05-27 11:09] anteprimorac commented on #530
Not every number looking string should be converted to a number.

For the first iteration, we could just return a string dictionary `{ [key: string]: string }` containing all params and let the developer decide how to deal with it.

[2020-05-27 11:09] #560 closed

[2020-05-27 11:11] flybayer commented on #530
@anteprimorac I'm curious, when would you want a number to remain a string in this context?

[2020-05-27 11:24] anteprimorac commented on #530
For example if you have a list of locations and you want to filter them by postal code and you want to create a nice looking route like this `/locations/[postalCode]`. Postal code in many cases could be safely converted to a number but there are cases where it should not, for example, a valid postal code in the US is `00501` which converted to a number is `501`.

[2020-05-27 12:25] flybayer commented on #530
Yeah that's a great example!

What I would like the most is [if Prisma would allow both string & number inputs](https://github.com/prisma/prisma/discussions/2575) (like Rails).

But until then, I think our current best option is probably this:

[code]

[2020-05-27 13:48] #274 closed

[2020-05-27 14:08] anteprimorac commented on #530
If you have defined that your model has an ID that has type `Int`, then Prisma's typescript definition will warn you if you try to pass a string. That's in my opinion better DX then magical types conversion.

Prisma is doing the right thing there because having a strictly typed database layer is right, and this framework can benefit from it.

I thought that with `useParams` hook we are trying to r

[2020-05-27 14:51] MrLeebo commented on #558
And even after you `yarn link` everything, I would always get the [invalid hook call warning](https://reactjs.org/warnings/invalid-hook-call-warning.html) in the new app. That's with identical React/ReactDOM versions between the app and blitz. They don't resolve to the same instance using `yarn link`. I found it easiest to just test local development changes using the examples/store app and undo t

[2020-05-27 14:55] flybayer commented on #530
Yeah, unfortunately there's nothing we can do about the param/query conflict. That's deep inside Next.js itself. 😕

[2020-05-27 15:07] flybayer commented on #558
Yeah, that's what I do too (develop on the store example)

[2020-05-27 15:27] ganeshmani opened #566 "yarn command fails on node-v14"
### What is the problem?
When i try to run `yarn test` on node version 14.1.0. it exits the process with some error message.

<img width="812" alt="Screenshot 2020-05-27 at 8 10 24 PM" src="https://user-images.githubusercontent.com/17050715/83040020-6e870800-a05c-11ea-8f1d-56ccf9d86cb6.png">

### Steps to Reproduce

1. try to run `yarn test` on Node version 14.1.0

[2020-05-27 20:22] jclancy93 commented on #566
Hey @ganeshmani thanks for submitting this issue! 🙌

I'm having trouble reproducing this error. I am able to run `yarn test` without issue using node `v14.1.0`. Can you make sure that you are following the instructions in `CONTRIBUTING.MD` and post a more detailed description of how to reproduce? Thanks!

[2020-05-27 22:58] ivandevp commented on #566
I couldn't reproduce it either. It'd be great to get more information 😃

[2020-05-28 00:47] anteprimorac commented on #530
I was able to make a prototype for this.

[code]

You can test it by dropping it into utils. Example of use:
[code]

[2020-05-28 03:03] flybayer opened #570 "[Easy] Upgrade Next to 9.4.4"
### What do you want and why?

Upgrade Next to 9.4.4 in all the package.json's in our repo.

**NOTE: this is super easy change, so veterans, please leave it for a new Blitz contributor or someone new to contributing to open source :)**

[2020-05-28 06:09] pixelmord commented on #469
I would like to take this on and see how far I get.

[2020-05-28 07:54] merelinguist opened #572 "DB is imported in generated api routes, even if it isn’t used"
### What is the problem?

Even if I’m not using a database, Blitz still expects it to be there to use queries.

### Steps to Reproduce

1. Create a project

2. Delete the `db` directory

3. Create a query

4. Output looks like this:

[code]

### Versions

[code]

[2020-05-28 08:11] abuuzayr opened #573 "blitz db migrate should accept arguments to pass to prisma migrate"
### What do you want and why?

`prisma migrate save` current accepts these parameters:

      --help / -h
      --name / -n
      --preview / -p
      --create-db / -c
      --experimental
      --schema

`blitz db migrate` runs `prisma migrate save` with the following parameters for us:

      --create-db
      --experimental
      --schema

For most times, this is sufficient. But sometimes, we m

[2020-05-28 08:46] pixelmord commented on #469
@aem I guess I need help to understand which function(s) to mock to get at the strings for filename and content.

[2020-05-28 10:03] #562 closed

[2020-05-28 10:42] flybayer commented on #530
Ok, here's some updated thoughts.

- We have three types of params: `string`, `number`, and `array`
- We want to solve a DX issue with having to manually parse numbers
- We want to solve a DX issue with types (because values of router.query are `string | string[]`)

Essentially we just need a filter that solves each case. We can do this with one single hook:

[code]

What do you all think of this?

[2020-05-28 10:51] flybayer commented on #572
Ah yeah! This will move into the prisma plugin eventually, but for now we can probably just wrap a try/catch around `require(db)` and also change to `db && db.connect()`

[2020-05-28 10:54] flybayer commented on #573
Great, thank you!

I think we should allow overriding any parameter that blitz includes by default.

[2020-05-28 15:25] aem commented on #469
@pixelmord so there's gonna be two components here - first, I think it'll be easiest to set up a virtual/in-memory filesystem rather than creating a bunch of files in temp directories every time we run tests (@dajinchu set this up for the server package, he can probably help get you started with this).

Once that's set up, I think the right way to test these is to make assertions about the generat

[2020-05-28 15:36] kevotovar commented on #570
Can I take this issue?

[2020-05-28 16:06] pixelmord commented on #469
@aem yeah I was thinking the same thing about not generating the files, but my first thought was to somehow mock the fs module like it was done in `app-generator.ts` and see if fs.write or similar was called with the correct filename(s) and got passed the expected content snapshot...
However, I did not understand the vinyl process well enough in `Generator.write();`

So let's see what @dajinchu ca

[2020-05-28 19:22] jclancy93 commented on #570
@kevotovar go for it! Just assigned you 🙂

[2020-05-28 20:28] anteprimorac commented on #530
I don't think that is intuitive to everyone because in that case output of that function depends on the type of param value. Also, I believe that validation, sanitization and casting should be more robust than just strings, integers and arrays.

What you think about adding another hook `useParam(key: string, single: boolean = true): string|string[]` that would return just a value of param key? You

[2020-05-28 20:36] kevotovar commented on #570
Thanks!

[2020-05-29 00:43] dajinchu commented on #469
Yeah `mock-fs` was pretty decent, I just had some hiccups with running dynamic imports or  console.log after the mock starts, but there's workarounds. LMK if you have any issues :)

See for inspiration:
https://github.com/blitz-js/blitz/blob/4daa44442fab56b70da9d58a7c6a5b725d807347/packages/server/test/vercel-now.test.ts#L35

[2020-05-29 01:09] MrLeebo commented on #530
The thing that really bothers me about it is that it still passively just nulls out values when you request something you expect to be a number but you get something else instead.

The ideal scenario, I think, would be if the type information was actually part of the route itself, so a type mismatch would simply prevent the route from matching at all. E.g. `/projects/[id:number]`

@flybayer is tha

[2020-05-29 02:37] flybayer commented on #530
@anteprimorac yeah, you're right — not super intuitive. We've come full circle — your last suggestion is basically the same as @Zeko369 very first post 😄

@MrLeebo that's something that could definitely be added to Next if their team is open to the idea. And yes, I think that probably could be added via Blitz. Might be tricky, but seems possible.

Regarding validation/sanitization: I totally agree

[2020-05-29 05:07] ryardley commented on #540
Should we make it so all builds are idempotent like this but only fire if source files have changed?

[2020-05-29 08:18] flybayer opened #577 "Implement session management"
Here's the full session management RFC: #475

@rishabhpoddar has finished the pseudo code for this part of the **Essential** method: https://github.com/blitz-js/drafts/pull/10

Here's the [rendered version of his pseudo code](https://github.com/blitz-js/drafts/blob/session-pseudo-code/session-pseudo-code.md).

[2020-05-29 10:42] rishabhpoddar commented on #577
An important point: The expiry of the session is updated on use of the session. This does not happen for each request since it would mean that we would have to update the set-cookie + the public data token on the frontend for each request which is inefficient (we will have to do a localstorage write for each request to save the public token). Instead, it happens for all non-GET api requests that h

[2020-05-29 11:46] #540 closed

[2020-05-29 12:23] #570 closed

[2020-05-29 14:37] kevotovar commented on #573
I want to work in this, Can I take this issue?

[2020-05-29 14:59] flybayer opened #579 "Long unresponsive delay after starting `blitz console`"
### What is the problem?

There's a several second delay after starting `blitz console` where it is unresponsive.

The loading spinner appears saying "loading code" which is fine and correct, but after that finishes and the prompt appears, it's frozen.

Maybe there's something being loaded after the spinner is marked as success?

### Steps to Reproduce

1. `blitz console`
2. Try to type stuff as s

[2020-05-29 15:01] flybayer commented on #573
@kevotovar you bet!

[2020-05-29 15:46] jportela commented on #579
I'll tackle this 👀

[2020-05-30 08:04] flybayer opened #582 "Implement the `mutate` function for `useQuery`"
### What do you want and why?

We need to add a `mutate` function that's returned from `useQuery`. This allows you to manually update the query cache without refetching from the network.

- [ ] `mutate` must be fully typed for Typescript usage. The input type is the same as the query function return type.
- [ ] After being called, `mutate` must automatically trigger a refetch for the initial query

[2020-05-30 08:19] flybayer opened #583 "Implement `useQuery` cache invalidation on manual route change"
**Note: I'm not 100% sure about adding this feature, but I wanted to open an issue for it so we can have a discussion about it.**

I think the `mutate()` function (#582) might be better for most cases so that the cache is instantly updated with latest data instead of being totally cleared.

### What do you want and why?

It's a very common pattern to have an edit form on `/[id]/new` or `/[id]/edit

[2020-05-30 08:44] abuuzayr commented on #566
I have a similar, but probably unrelated to the issue experienced by @ganeshmani.

I was trying to deploy my blitz app on a fresh Ubuntu 18.04 but with Node 14 I would get a myriad of these issues:

1. On `blitz build` I could not export types from the `db` object, which was essentially just `const db = new PrismaClient()`
2. I removed all exported types used in my code and the build went fine, bu

[2020-05-30 09:46] flybayer opened #585 "[RFC] New Link component"
### What do you want and why?

A new Link component that's much easier to use that the default Next.js Link!

1. The Next.js `Link` component is terribly cumbersome to use:

[code]

2. You can't use this Link component to link to external sites.
3. It doesn't have a way to set "active link" styles.

## Proposal

I think this is the best option I've considered. It's quite natural and intuitive. And

[2020-05-30 09:48] merelinguist commented on #585
Yes yes yes! Looks awesome!

[2020-05-30 10:04] devilcoders commented on #585
I think it would be great to expose a function to figure out if link is active. The `===` is not always the rule. You may have subpath, but you want to highlight parent as active.

[2020-05-30 10:05] ryardley commented on #585
Great idea. Not so sure about the idea of including styling within the link component. Ideally we want to manage the link behaviour and stay out of styling. In fact we would probably want to delegate all styling to whatever system the user is using such as styled-components etc. I would vote for a render prop to manage active etc.

[code]

[2020-05-30 10:19] #352 closed

[2020-05-30 10:20] flybayer commented on #87
This has already been implemented for awhile.

[2020-05-30 10:20] #87 closed

[2020-05-30 10:24] franky47 commented on #585
For the linking to external sites, it would be probably better to always render an anchor tag, for semantics and routing to work the hard way if the bundle is not finished loading/hydrating.

Also, mailto addresses can also be `mailto:foo@bar.com`, without the double slash.

[2020-05-30 10:38] flybayer opened #586 "Automatic Cache Invalidation"
### What do you want and why?

Currently you need to manually call `refetch()` or [`mutate()`](#582) on a `useQuery` result after doing a mutation.

We should try to come up with a way to automatically invalidate queries so that most users don't have to think about it all.

I haven't spent a lot of time thinking about this, but here's a couple options.

### Based on file structure

We could automa

[2020-05-30 10:42] flybayer commented on #89
Closing as complete! I've added the documentation form here to the new docs website that will go live within a day or so.

I also opened https://github.com/blitz-js/blitz/issues/586 to discuss automatic cache invalidation.

[2020-05-30 10:42] #89 closed

[2020-05-30 11:47] ryardley opened #587 "Extract synchronizer out to it's own package"
### What do you want and why?

Extract synchronizer out to it's own package

This relates to #306

### Additional context

See https://github.com/blitz-js/blitz/issues/306 for details

[2020-05-30 11:49] ryardley opened #588 "Extract `log` out to it's own `display` package"
### What do you want and why?

Extract the `log` package out to its own `display` package

### Additional context

See #306 for more details

[2020-05-30 12:16] flybayer commented on #585
Absolutely. What I meant is that we render an `<a>` element without the Next router attached to it.

[2020-05-30 12:22] #585 closed

[2020-05-30 12:24] ryardley commented on #586
The problem I see with file based metadata is that it cannot reference related models. Is decorators on queries and mutations out of the question?

[2020-05-30 13:24] flybayer commented on #586
@ryardley I think anything is fair game and worth exploring!

[2020-05-30 17:43] abuuzayr commented on #178
I get this error sometimes too, on Ubuntu 18.04. But sometimes I also don't get this error. How do I bypass this in the meantime when I need to run `blitz build`?

[2020-05-30 19:32] MykalMachon commented on #572
I'd like to take a stab at this if no one else is working on it!
seems like a good place to get started with contributing 😃

[2020-05-30 20:46] ivandevp commented on #572
Go ahead @MykalMachon! 👍

[2020-05-30 21:05] enzoferey commented on #558
Understood, makes sense indeed, I didn't think about using examples as development environment.

I think this issue doesn't have any reason of being anymore, so I'm closing.

Do you think we should add this recommendation to the `CONTRIBUTING` docs ? Let me know over here 👍

[2020-05-30 21:05] #558 closed

[2020-05-31 00:07] ivandevp commented on #469
Maybe this info can help. There's a recent [PR merged](https://github.com/blitz-js/blitz/pull/584) that can help with tests using `mock-fs` 😃

[2020-05-31 03:00] #588 closed

[2020-05-31 04:52] flybayer commented on #558
@enzoferey ok, yeah it'd be great to add this to the contributing docs, but add it here: https://github.com/blitz-js/blitzjs.com/blob/master/docs/how-to-contribute.mdx because the website will go live very soon

[2020-05-31 05:04] #239 closed

[2020-05-31 09:08] pixelmord commented on #469
@dajinchu , @ivandevp Thanks for the info!

[2020-05-31 14:05] #572 closed

[2020-05-31 14:20] flybayer opened #595 "Fix blitz internal dev issues with dependencies not building in correct order"
### What is the problem?

We have a pretty rough situation with our blitz dev environment when running `yarn dev`.

When running `yarn build`, all packages are built in the proper order and everything works great. Dependent packages are automatically built before parent packages.

However, this does **not** work right with `yarn dev`. Everything is built in a random order resulting in errors like

[2020-05-31 14:22] eliasjohansson commented on #582
I'll have a go at this today :)

[2020-05-31 18:49] ivandevp commented on #595
I can take a look at this 😃

[2020-05-31 22:17] ryardley commented on #595
Ha was thinking about this yesterday.

[2020-05-31 23:11] #587 closed

[2020-06-01 02:29] ryardley opened #597 "Blitz warns about api routes in global `/pages` folder"
### What is the problem?

We want to make upgrading a next app to blitz super easy. Currently adding blitz to a next app warns about having `/api` routes in the global pages folder.

This should only warn if you add an api folder to a pages folder within `/app`

### Steps to Reproduce

1. In a blitz app create a global `/pages` folder and add and `/pages/api` route to it.
1. Try to start Blitz thi

[2020-06-01 06:20] ryardley opened #598 "withBlitz does not account for `function` next config"
### What is the problem?

Next configs can be a function:

[code]

See docs: https://nextjs.org/docs/api-reference/next.config.js/introduction

The current `withBlitz` implementation does not allow for functional next configs to be passed to it.

We need to check that the config is a function and wrap it accordingly.

This is important for people wanting to use things like https://github.com/cyril

[2020-06-01 09:08] osirvent opened #600 "BUG on generated routes with --context"
### What is the problem?
bug on import generated route for queries and mutations when `--context` is used

### Steps to Reproduce

1. `blitz g all project --context=marketing`
2.
<img width="641" alt="imagen" src="https://user-images.githubusercontent.com/5927133/83393819-bbb9ff80-a3f7-11ea-895f-762e56b8e3fd.png">
3.
<img width="609" alt="imagen" src="https://user-images.githubusercontent.com/5927

[2020-06-01 12:06] ryardley opened #602 "Need a universal stream abstraction for file-pipeline stages"
### What do you want and why?

In the file-pipeline when we deal with Stages there is heaps of boiler plate around setting up file streams. It would be far more approachable if we were to abstract away much of the boilerplate

[code]

Secondly this would allow us an easy point at which to monitor and debug the pipeline and create good processes for testing the pipeline.

### Possible implementatio

[2020-06-01 13:37] flybayer commented on #595
@ivandevp awesome! In the future, you can also assign yourself :)

[2020-06-01 13:41] flybayer commented on #600
Uh oh! Thank you for opening an issue! :)

[2020-06-01 13:50] flybayer commented on #597
As you might have guessed, I don't think we should do this 😅

Like we discussed in #471, I totally agree on making it easy to migrate Next apps to Blitz apps. However, I don't think we should introduce inconsistencies in Blitz features based on Next-to-blitz migrations.

Supporting `/pages/api` but not `/app/pages/api` is going to be confusing to people who start using Blitz without any knowledge

[2020-06-01 14:02] #598 closed

[2020-06-01 14:40] ryardley commented on #597
What is wrong with being compatible with next? If we do this we get huge adoption wins. Next compatibility is pretty much the #1 thing this project has going for it. If you throw it out you loose users.

Try and put yourself in the shoes of someone who has a large next codebase and want to try blitz.

Relying on an installer is a really bad idea because:
* People want to try blitz because it is Ne

[2020-06-01 14:45] ryardley commented on #597
A solution that would be a win for both would be to display a warning when nesting within the global next  `/pages` folder but still allow it for compatability reasons.

[2020-06-01 14:49] merelinguist opened #604 "Validate that the GUI works on Windows"
### What do you want and why?

Just landed the initial GUI PR, and it would be awesome if someone could check if it all works on Windows. I think I’ve mostly done things the right way but I don’t have access to a machine to check!

### Possible implementation(s)

1. Fork, clone the repo, etc
2. `cd packages/gui`
3. `yarn start`
4. Open `localhost:3000`
4. Click through the app and note anything wh

[2020-06-01 14:52] #223 closed

[2020-06-01 14:58] merelinguist opened #605 "Blitz GUI Roadmap"
Some of the next steps for the GUI:

### CLI
- [ ] Open the GUI with a CLI command (https://github.com/blitz-js/blitz/issues/620)

### Project creation
- [x] Don’t assume usage of yarn (https://github.com/blitz-js/blitz/issues/606)
- [ ] Don’t assume usage of TypeScript (https://github.com/blitz-js/blitz/issues/618)
- [ ] Allow projects to be imported (https://github.com/blitz-js/blitz/issues/619)

[2020-06-01 17:21] MykalMachon commented on #604
Hi @merelinguist :wave:!
I just noticed the PR landed, great work to yourself and all the other contributors, it looks awesome :tada:

I'm on a windows machine and am currently in the process of testing the GUI out!

So far, the only thing that I've noticed is **that GUI seems to error out if yarn isn't installed** ( I don't have yarn on my machine, but I'm installing it right now) if this is the

[2020-06-01 21:01] merelinguist opened #606 "[GUI] Yarn is assumed in project creation"
### What is the problem?

Yarn is assumed in the [project creation](https://github.com/blitz-js/blitz/blob/f53a560b84bea40f9c4e6f0c99a423b4dc10b0de/packages/gui/app/mutations/createProject.ts#L23). We should fallback on npm if Yarn is not installed.

[2020-06-01 21:03] merelinguist opened #607 "Fix glob in GUI for Windows"
### What is the problem?

The [glob regex](https://github.com/blitz-js/blitz/blob/f53a560b84bea40f9c4e6f0c99a423b4dc10b0de/packages/gui/utils/getDirMtime.ts#L7) I’ve written for calculating directory age is not cross-platform. More on that [here](https://github.com/mrmlnc/fast-glob#how-to-write-patterns-on-windows).

[2020-06-01 21:03] merelinguist commented on #604
Wow, thanks so much for this work, @MykalMachon! To summarise the issues:

- [ ] Yarn is assumed in the [project creation](https://github.com/blitz-js/blitz/blob/f53a560b84bea40f9c4e6f0c99a423b4dc10b0de/packages/gui/app/mutations/createProject.ts#L23). We should fallback on npm if Yarn is not installed. Tracked in https://github.com/blitz-js/blitz/issues/606
- [ ] The [glob regex](https://github.c

[2020-06-01 22:27] jamiedavenport commented on #606
I'd like to pick this up if nobody else already plans to

[2020-06-01 22:36] ryardley commented on #597
A second compromise is to remove the warning and allow api routes optionally within pages. That way you ensure consistency throughout. The docs need not have any examples like this. We can talk about api being next to pages as the blitz folder structure but quietly support anything next allows out of the box. I think I prefer this compromise and attitude more.

[2020-06-01 22:39] merelinguist commented on #606
@jamiedavenport Thank you, go right ahead!

[2020-06-02 02:08] MykalMachon commented on #607
I would love to pick this up if no one else is working on it!

[2020-06-02 03:18] ditorojuan commented on #605
Nice work with the Infra, really like how it is looking.
I think I can start with the `Import existing projects` task

PS: idk if this is overkill but as an idea for looking at the prisma schemes we can add a graph so it is easier for the user to watch it?(this might be present in prisma studio, have not used it before lmk if this is just too overkill 😅)

[2020-06-02 05:24] ganeshmani commented on #467
I would like to work on this issue if that's okay.

[2020-06-02 06:57] merelinguist commented on #605
Thanks! Please go right ahead with the project importing. DM me if you need any help :). And yes haha I had the same thing in mind for Prisma. It’d be cool to get a bird’s eye view of your schema.

[2020-06-02 06:58] merelinguist commented on #607
@MykalMachon Super! Go right ahead. 🎆

[2020-06-02 13:55] flybayer commented on #597
Ok, you made some great points, and I now better understand where you are coming from. :)

Let's support `pages/api` everywhere. Root and nested inside `app/`

[2020-06-02 14:12] flybayer commented on #605
Oh yes, I'd love to have a visual schema graph of relationships and fields!

[2020-06-02 14:14] flybayer commented on #467
@ganeshmani yeah for sure! Ask @aem if you have any questions :)

[2020-06-02 14:14] aem commented on #467
@ganeshmani yes absolutely!

[2020-06-02 15:00] flybayer commented on #530
Let's try to come to a conclusion here :)

**Current:**
[code]

**With #574:**
[code]

**My final proposal for parsing & type guard:**
[code]

- `useParamNumber` will use `Number()`, so floats will be supported and it'll return `NaN` if parsing fails
- `useParamString` and `useParamArray` don't parse, they only fix the typescript type.

[2020-06-02 15:24] merelinguist commented on #605
@flybayer Working on it right now!

<img width="569" alt="Screenshot 2020-06-02 at 16 23 06" src="https://user-images.githubusercontent.com/24858006/83538227-7bd54400-a4ed-11ea-8aa6-87b235ec64a5.png">

[2020-06-02 16:39] merelinguist commented on #416
Investigated this a bit more, and since this is essentially built into Next as a feature, I don’t think it can be “solved” beyond using something like the solution above.

[2020-06-02 16:42] merelinguist commented on #416
(See also the GUI for another example of a Blitz app which casts the date to an `Int` to avoid Next’s rehydration problems in this area.)

[2020-06-03 01:38] ryardley opened #610 "Add unit tests on helpers in file-pipeline"
### What do you want and why?

We don't have enough testing around the file pipeline. We should add unit tests for each helper in the file pipeline.

Part of this task is to make it so we can also test the transformFiles function by substituting the fs dependent stages out for mock streams.

### Possible implementation(s)

### Additional context

[2020-06-03 01:53] ryardley commented on #602
Thinking maybe we can use an early return:

[code]

[2020-06-03 01:58] ryardley commented on #602
Maybe add a second parameter to set options:

[code]

[2020-06-03 08:26] #607 closed

[2020-06-03 08:37] #416 closed

[2020-06-03 08:38] merelinguist commented on #467
It’d be nice to have instructions on how recipe authors can write tests too.

[2020-06-03 08:54] pixelmord commented on #469
I tried to implement this on the weekend, but failed miserably.
My first approach was to set up the mock-fs and then instantiate and run the AppGenerator before each test.

The test I tried to implement was for the Query Generator which seemed straight forward. Run the QueryGenerator against the mocked fs and check that filenames match expectations and read the generated files, restore to regular

[2020-06-03 11:50] #237 closed

[2020-06-03 12:07] peaonunes commented on #605
I’m happy to collaborate with `adding a cli command to open the gui`.

[2020-06-03 13:36] jletey commented on #605
@merelinguist Should we maybe allow the user to configure a project to be JS or TS? In other words changing [this line](https://github.com/blitz-js/blitz/blob/canary/packages/gui/app/mutations/createProject.ts#L22)? I'd be happy to work on this :)

[2020-06-03 13:59] merelinguist commented on #605
@peaonunes Awesome, go right ahead! Please DM me if you need any help.

[2020-06-03 14:00] merelinguist commented on #605
@jletey That’d be a great idea! The task is yours 🦾.

[2020-06-03 18:55] wKovacs64 opened #612 "[cli] `blitz help` fails outside of Blitz projects"
### What is the problem?

Running `blitz help` (or `-h`, `--help`) outside of a Blitz project tells you to run `blitz help`.

### Steps to Reproduce

1. Run `blitz help` outside of a Blitz project.

### Versions

[code]

### Other

[code]

[2020-06-03 21:27] MrLeebo commented on #530
I created https://github.com/vercel/next.js/issues/13534 for the type-safe routing idea, but the proposed hooks can approximate that feature by redirecting to the catch-all route if the param has a type mismatch instead of returning `NaN`.

[2020-06-03 22:03] anteprimorac commented on #530
Actually, with #574 the example should look like this:

[code]
Your final proposal should resolve the `Array.isArray` check and parsing of number.

I've been experimenting with support for yup validation schema, and currently, it can be used like this:

[code]
Currently, I have to pass schema to every hook call, but instead of that, it would be better to define it in the scope of the page(maybe pu

[2020-06-04 00:42] ryardley opened #614 "Crashing because files are not being copied to dev folder before next starts under certain conditions"
### What is the problem?

Ready handler is misfiring under certain conditions eg when chokidar and vfs was running slowly / taxing resources. As a hack by design the ready callback was firing once there had been no activity for a certain amount of time. This doesn't work well on filetree/gitignore combinations that slowed down chokidar/vinyl-fs globbing. This can happen when using symlinks or big

[2020-06-04 09:02] merelinguist opened #618 "TS is assumed in GUI project creation"
### What do you want and why?

TypeScript is assumed in the [project creation](https://github.com/blitz-js/blitz/blob/f53a560b84bea40f9c4e6f0c99a423b4dc10b0de/packages/gui/app/mutations/createProject.ts#L22). We should provide an option to choose between TypeScript and JavaScript.

cc/ @jletey

[2020-06-04 09:08] merelinguist opened #619 "Add project importing to GUI"
### What do you want and why?

We should have an option to import existing Blitz projects.

cc/ @ditorojuan

[2020-06-04 09:09] jletey commented on #618
@merelinguist Thx for opening this, I'm working on it rn :)

[2020-06-04 09:12] merelinguist opened #620 "Open the GUI with a CLI command"
### What do you want and why?

We need to bundle the GUI with the CLI, and provide a command to open it with `blitz gui`.

cc/ @peaonunes

[2020-06-04 09:38] peaonunes commented on #620
Nice to have it as a separate issue! Can you put me as assignee ? I'm afraid I cannot assign myself.

[2020-06-04 10:43] #597 closed

[2020-06-04 11:33] flybayer commented on #605
@jletey full JS support doesn't work yet, but we definitely want this option for when it does :)

[2020-06-04 11:57] #602 closed

[2020-06-04 12:38] pixelmord commented on #469
For reference, I pushed my failed attempt here: https://github.com/blitz-js/blitz/blob/generator-tests/packages/generator/test/generators/query-generator.test.ts

Feel free to delete the branch at any time. I will watch this issue and hope to learn something!

[2020-06-04 12:57] #582 closed

[2020-06-04 12:59] #612 closed

[2020-06-04 13:58] #606 closed

[2020-06-04 14:06] flybayer commented on #530
@MrLeebo, that's a nice thorough feature request!

I think for now we need to stick with returning NaN from our hook because params will be empty during static prerendering. The actual error doesn't occur until runtime when we want to use that id to fetch data. If we through an error from the hook, then prerendering will fail.

@anteprimorac I'm still not sold on client-side url query validation (

[2020-06-04 14:18] flybayer commented on #530
@anteprimorac I unassigned you from this since #574 doesn't solve this issue. But you're welcome to pick it back up if you want to also add the new param hooks.

[2020-06-04 14:22] flybayer opened #623 "Add `params` and `query` to `useRouter` and `withRouter`"
### What do you want and why?

#574 added new `useParams` and `useRouterQuery` hooks that separate route params from url query items.

So now we need to update the router object from `useRouter` and `withRouter` to have the same behavior.

**Current:**
[code]

**Change to:**
[code]

For extra context, see #530

This would be a breaking change for existing blitz apps

### Possible implementation(s)

[2020-06-04 15:12] flybayer opened #624 "Remove `--hostname` and `--port` from `blitz build`"
### What is the problem?

The `blitz build` command current accepts `--hostname` and `--port` but these are invalid because blitz build does not start a server. It only compiles code.

Here's the file where these need to be removed from: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/build.ts

[2020-06-04 16:28] ganeshmani commented on #624
@flybayer it seems like a quick fix. can i jump in and fix?

[2020-06-05 01:30] aem commented on #467
definitely. with the TS-based recipes that's pretty simple, i think we may have to provide a test runtime for the MDX recipes which will definitely require a bit more thought

[2020-06-05 05:15] flybayer commented on #624
@ganeshmani you bet!

[2020-06-05 05:29] toshi1127 commented on #623
I want to work in this, Can I take this issue?

[2020-06-05 05:40] flybayer commented on #623
@toshi1127 you sure can! :)

[2020-06-05 09:15] #614 closed

[2020-06-05 10:49] ryardley commented on #303
Yes I agree we should support using blitz in the same way that one would use next. so custom server support needs to be supported.

Could it work like this?

[code]

[2020-06-05 14:01] timsuchanek opened #626 "Optimistic UI updates"
When using `@apollo/react-hooks`, I have the possibility to provide an optimistic response: https://www.apollographql.com/docs/react/performance/optimistic-ui/

When looking into how mutations (functions) are used with Blitz: https://github.com/blitz-js/blitz/blob/canary/USER_GUIDE.md#using-mutations

It doesn't seem like that's supported yet. Is something like that planned?

[2020-06-05 14:03] timsuchanek opened #627 "Cache header in RPC calls"
If I understand correctly, in dev time,  `useQuery` directly calls the function, while it's replaced with an rpc in build time.

How can I set a cache header in that function, of e.g. `cache-control: max-age=3600` for when it's an rpc? I would like to control on a per-function level, how much I can cache and when to fetch new data.

[2020-06-05 14:04] #542 closed

[2020-06-05 14:47] flybayer commented on #627
Hi Tim! Minor correction: RPC is also used in development. This works the same way webpack does, for example. Webpack does a build for both development and production.

We had a fairly long discussion on http cache headers [starting at this comment](https://github.com/blitz-js/blitz/issues/85#issuecomment-625353454). Read that discussion and let me know what you think.

[2020-06-05 15:07] flybayer commented on #627
Ok cool. What is your use case for caching queries?

[2020-06-05 15:10] timsuchanek commented on #627
I have a news feed, that only needs to be updated every 30min.
I would like the data to be cached (also like the next 50-200 items), so when I use a pagination query, it's immediately there in my infinite scroll.

[2020-06-05 15:16] flybayer commented on #627
Alright, then you should be able to accomplish that with [`useQuery`](https://blitzjs.com/docs/use-query) because that provides caching.

You can custom `cacheTime` and `staleTime` to get the behavior you want.

**Note:** we also have `useInfiniteQuery` for infinite scrolling that will be in the next release in a couple days. The same cache parameters apply.

[2020-06-05 15:59] timsuchanek commented on #627
Ok sounds good. Is `cacheTime` and `staleTime` here a frontend-only feature or will it also be propagated to the function and actually cache in the server?

[2020-06-05 19:06] MykalMachon commented on #604
Hi @merelinguist!
it seems that both of the issues above are now resolved and merged in so this issue can probably be marked as resolved as well correct?

If there's more work involved in validating that the GUI is working on windows let me know; I'd love to help here wherever I can 😄

[2020-06-05 19:25] merelinguist commented on #604
Yep good spot! I’ll tune you in as we continue adding features that need to be tested x-platform ;)

[2020-06-05 19:25] #604 closed

[2020-06-05 21:10] anteprimorac commented on #530
@flybayer yes, I agree that doing validation only on client-side is not good, but I would like to explore how to share the same logic for URL validation on both sides.

I am going to assign this to myself and add a PR for adding new hooks for parsing single param/query. What do you think about having just one hook for params and one for queries that would handle all these parsing cases?

[code]

[2020-06-06 06:08] flybayer commented on #626
Yes, we can support this!

Currently we have `mutate` that works like this:

[code]

We can add an option to `mutate` to disable the automatic refetch which would enable optimistic updates like this:

[code]

What do you think?

[2020-06-06 06:09] flybayer commented on #627
It's frontend only. We're adding HTTP middleware for the server (#326) that you can use to do anything custom on the backend.

[2020-06-06 06:11] flybayer commented on #530
@anteprimorac I considered that, but unless I'm missing something it's impossible to type the result of that properly. (result is always `number | string | string[]` regardless of input)

[2020-06-06 07:26] flybayer opened #630 "When specifying a server port that's already in use, blitz will pick another port instead of throwing an error"
### What is the problem?

When specifying a server port like `blitz start -p 4000`, blitz should throw an error instead of picking another port.

The automatic available port detection should only be used if a specific port is not specified by the user.

The offending line of code is here: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/next-utils.ts#L40

This will require a chan

[2020-06-06 07:28] #610 closed

[2020-06-06 08:03] ganeshmani commented on #630
@flybayer  i can take this issue. if that's okay

[2020-06-06 08:03] andreasasprou opened #632 "`blitz dev` get's stuck on _manifest.json"
### What is the problem?

Unable to run `blitz dev` after upgrading to v0.12

### Steps to Reproduce

1. Install blitz@0.12
2. Run `blitz dev`

### Versions

[code]

### Other

I've tried removing `.next` and `.blitz`

[code]

[2020-06-06 08:05] flybayer commented on #632
@andreasasprou can you try with `0.13.0-canary.3`?

[2020-06-06 08:06] andreasasprou commented on #632
It stalls at `_manifest.json` with `0.13.0-canary.3`:

[code]

[2020-06-06 08:12] ryardley commented on #632
Hmm... interesting there should be a fix for this in 0.13.0-canary.3

[2020-06-06 08:12] ryardley commented on #632
Can you push a repo with this problem?

[2020-06-06 08:16] flybayer commented on #630
@ganeshmani yes for sure! You have commit access now, so you in the future you can comment and assign it to yourself

[2020-06-06 08:20] andreasasprou commented on #632
I can't seem to re-create it in a new repo & can't push mine. Is it possible to make the logging a little more verbose so I/we can debug it?

[2020-06-06 08:22] ryardley commented on #632
This will likely happen before 0.13.0-canary.3 can you guarantee you are not using an older version?

[2020-06-06 08:24] andreasasprou commented on #632
[code]

All of the above match when I check in the relevant `package.json`'s in `node_modules`

[2020-06-06 08:25] andreasasprou commented on #632
Ah, wait a second. Look at the version I posed in the initial issue... Mis-match in cli version

[2020-06-06 08:26] ryardley commented on #632
Try using `yarn blitz start` does that help at all?

[2020-06-06 08:26] andreasasprou commented on #632
Turns out, I ran the above after switching back to 0.12. I am indeed running `blitz: 0.13.0-canary.3 (local)`  with `yarn blitz start` stalling at `_manifest.json`

[2020-06-06 08:31] ryardley commented on #632
so sorry for what is the output of `yarn blitz --version --verbose`

[2020-06-06 08:32] andreasasprou commented on #632
[code]

[2020-06-06 09:01] ryardley commented on #632
Ok I will add an issue to increase logger verbocity but in the meantime I need a way to reproduce this somehow by posting a repo somewhere. You can get some extra logging currently using DEBUG=1 env var but I am not sure there is enough logging happening to provide much insight. Are any files missing from `.blitz/caches/dev`?

[2020-06-06 09:57] flybayer opened #634 "Re-export some missing items from Next"
### What do you want and why?

We need to re-export `Error` from `next/error`. This got overlooked previously.

Also need to re-export `AppProps`, `InferGetStaticPropsType` and `InferGetServerSidePropsType` from `next`

### Possible implementation(s)

Add the re-exports in this file: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/index.ts

---

This is a very simple change, so Bli

[2020-06-06 10:04] flybayer opened #635 "Rename `NextScript` to `BlitzScript`"
### What do you want and why?

Rename `NextScript` to `BlitzScript`. We are renaming everything else and this one is the oddball.

### Possible implementation(s)

Change this line: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/index.ts#L31

Then you'll also need to rename it in the following files:

- https://github.com/blitz-js/blitz/blob/canary/examples/store/app/pages/_documen

[2020-06-06 10:11] reymon359 commented on #635
Hi there, I would like to implement this one to get used to the codebase.

[2020-06-06 10:15] flybayer commented on #635
@reymon359 awesome, it's all yours! Let me know if you have any questions/issues :)

[2020-06-06 10:20] reymon359 commented on #635
Thank you! I will work on a Pull Request and if I need anything I will let you know :)

[2020-06-06 10:21] gvasquez11 commented on #634
Hey there I would love to take this issue if possible :)

[2020-06-06 10:35] flybayer commented on #634
@gvasquez11 yes, for sure! Let me know if you need help :)

[2020-06-06 10:38] anteprimorac commented on #530
@flybayer it's possible by using [overloads](https://www.typescriptlang.org/docs/handbook/functions.html#overloads).

[2020-06-06 10:48] andreasasprou commented on #632
Everything seems to be in caches/dev (inc `_manifest.json`). `DEBUG=1` provides no other information.

[2020-06-06 11:42] gvasquez11 commented on #634
@flybayer I looked at the 'The Contributing Guide' in order to try and find how to test on my local machine since I had some failed cases :( but the link didn't work. Any advice would be much appreciated :)

[2020-06-06 12:01] flybayer opened #639 "[Rollup help needed] Add new`@blitzjs/framework` pkg with separate client & server bundles"
### What do you want and why?

Currently we have framework code scattered around various packages, mostly `@blitzjs/core` and `@blitzjs/server`. We want to consolidate this code into `@blitzjs/framework` and then remove `@blitzjs/core`.

We are currently using tsdx for these packages, but I don't think we can use it for `framework`. Because in addition to isomorphic code, `framework` will have ser

[2020-06-06 12:20] flybayer commented on #530
Oh nice! Then lets do that

[2020-06-06 14:27] flybayer commented on #634
@gvasquez11 oops, here it is: https://blitzjs.com/docs/contributing

[2020-06-06 14:53] eliasjohansson commented on #626
I really like that! The possibility to not refetch automatically should be there anyways imo.

I can jump on the task if we decide to implement it :)

[2020-06-06 21:38] ryardley opened #641 "Add verbose logging to the file pipeline"
### What do you want and why?

The more information the better!

Exactly! :) We need to be able to debug precisely what is happening within the file-pipeline.

### Possible implementation(s)

* Require every transform stream to have a name.
* Add a log call that logs the object passing through the transform stream.
* Come up with a json friendly way to log a vinyl file
* Make a wrapper for all log

[2020-06-07 01:08] ryardley commented on #632
@andreasasprou I have reached out over blitz slack to try and work out how to reproduce this.

[2020-06-07 02:03] ryardley opened #642 "jpeg files are corrupted by file-pipeline"
### What is the problem?

It appears that jpeg files are corrupted by the file pipeline.

### Steps to Reproduce

1. download the latest blitz source
1. add a jpg file in `examples/store/app/pages/`
1. Run `yarn blitz start`
1. Examine the build folder under `examples/store/.blitz/caches/dev/pages/*.jpeg`

These files appear to have had encoding run over them and are no longer valid.

### Versions

[2020-06-07 04:33] ryardley commented on #642
Found the issue: The relative path stage should somehow ignore files that don't have text encoding. Currently it tries to parse all files.

[2020-06-07 08:17] #642 closed

[2020-06-07 09:38] flybayer opened #647 "Prisma isn't being set to the latest version during `blitz new`"
### What is the problem?

During `blitz new` we fetch the latest version for all dependencies and update package.json to match that.

However, this is broken for Prisma.

### Steps to Reproduce

1. `blitz new myapp`
2. Open `myapp/package.json`
3. See this the below which is not the latest version

[code]

### Versions

[code]

### Extra  Info

The issue is this line: https://github.com/blitz-js/b

[2020-06-07 10:02] #530 closed

[2020-06-07 10:06] #234 closed

[2020-06-07 10:19] anteprimorac commented on #530
@flybayer what you think about adding the same functionality to `useRouterQuery`? We could just add additional arguments to existing hook that would give the ability to return specific query key cast to `number`, `string` or `array`.

[2020-06-07 10:24] #634 closed

[2020-06-07 16:08] osirvent commented on #416
@merelinguist Shouldn't we use `Float` instead of `Int` on Prisma Schema?

[2020-06-07 17:56] aem commented on #464
@merelinguist finished that refactor, should be good to go now

[2020-06-07 18:02] merelinguist commented on #464
@aem Thanks for the heads up :)

[2020-06-08 08:16] ryardley commented on #632
If anyone comes across this issue and can share a repository with me to replicate this I would really appreciate it.

[2020-06-08 11:49] flybayer commented on #416
I recommend using String with ISO date format instead of a number.

[2020-06-09 00:42] flybayer commented on #626
@eliasjohansson ok this is all yours if you want it!

[2020-06-09 05:51] josemiguelo commented on #647
Hi @flybayer.

Is the following statement appropriate for the purpose of the fix?

[code]

[2020-06-09 05:54] flybayer commented on #647
@josemiguelo I think so! You can test it to make sure :)

[2020-06-09 06:00] josemiguelo commented on #647
I already did so :) Just making sure it does make sense to put both regex on the same statement.
Can I be assigned to this? I'd love to contribute

[2020-06-09 06:02] flybayer commented on #647
Ok awesome. And yes for sure! You can submit a PR for this. Let me know if you need any help with that :)

[2020-06-09 08:46] merelinguist opened #656 "Update example apps to use Prisma 2, and new pagination"
### What do you want and why?

Prisma has updated its pagination style: https://github.com/prisma/prisma/releases/tag/2.0.0-beta.7. We should update all the examples (in the `examples` folder):

1) Update the prisma dependency version to `2.0.0` for each
2) In the store example, update the blitz queries and their usage for the new Prisma version

[2020-06-09 10:02] osirvent commented on #656
I think I could try this PR

[2020-06-09 10:04] flybayer commented on #656
@osirvent cool, it's all yours!

[2020-06-09 11:47] flybayer commented on #647
Prisma just released [`2.0.0`](https://github.com/prisma/prisma/releases/tag/2.0.0) which totally eliminates this problem 🤷 :)

[2020-06-09 11:47] #647 closed

[2020-06-10 00:15] ivandevp commented on #635
This issue has been done in #638

[2020-06-10 00:15] #635 closed

[2020-06-10 07:09] #194 closed

[2020-06-10 10:42] #656 closed

[2020-06-10 22:15] SharadKumar opened #663 "Add support for sitemaps"
### What do you want and why?
Given the static and dynamic routes, I should be able to generate static sitemap(s).
- [ ] Support static routes
- [ ] Support dynamic routes
- [ ] Support multiple sitemap files, as per spec
- [ ] Consider static sitemap generation (build-time) vs dynamic generation at run-time.

### Possible implementation(s)
#240

### Additional context

- https://github.com/vercel

[2020-06-11 02:07] flybayer commented on #663
Thank you @SharadKumar! This is a great idea. We can definitely add this.

Some notes for anyone looking into this:

We can probably do this many different ways because we wrap the Next.js build, so we can do custom stuff before and after. One possibility is to generate a sitemap from the Next.js manifest file that's output from `next build`. But I'm not sure if that handles getStaticPaths, etc. N

[2020-06-11 02:24] SharadKumar commented on #663
I just came across Blitz last night @flybayer!

I think you guys are on to the right philosophy and there is a significant desire and proven demand (RoR) to have a more applicable layer of a framework on top of NextJS type core. NextJS has done a great job in adding similar abstractions over React, yet giving you the core as is. Having said that, despite so much community behind NextJS and their /

[2020-06-11 02:40] flybayer commented on #663
Yes!! That's the dream we are making a reality! 😍

[2020-06-11 12:55] osirvent opened #666 "Add ability to use the node debugger"
### What do you want and why?

Be able to easily debug a Blitz app

### Possible implementation(s)

`NODE_OPTIONS='--inspect' blitz start`

### Additional context

https://dev.to/vvo/5-steps-to-debugging-next-js-node-js-from-vscode-or-chrome-devtools-497o

[2020-06-11 13:46] peaonunes commented on #620
I think we can charge it to be not ready to work. Right?

[2020-06-11 15:00] flybayer commented on #620
Yes, icebox :)

[2020-06-11 16:17] #619 closed

[2020-06-11 20:36] jesster2k10 opened #667 "[cli] blitz new - failed to fetch latest version of packages"
### What is the problem?
When running the `blitz new` command it fails due to network conditions, despite being an active internet connection

Terminal output:

[code]

A temporary workaround is just to cd into the directory and run `yarn install` manually.

### Steps to Reproduce

1. `yarn global add blitz`
2. `blitz new blitz-test`

### Versions

[code]

[2020-06-11 20:37] jesster2k10 commented on #667
This is the `yarn install` output for reference:

[code]

[2020-06-11 22:29] merelinguist commented on #667
This is a feature not a bug! There might be something extra going on here, but we deliberately skip the install process if something goes wrong, since getting the user to run `yarn` themselves isn’t the biggest deal.

[2020-06-12 00:13] peaonunes commented on #600
Happy to took at it.

[2020-06-12 02:17] flybayer commented on #667
@merelinguist I think their point was their network connection was working but `blitz new` was saying that it wasn't working.

@jesster2k10 can you reliable reproduce this? Sometimes this can be from a flaky network or some upstream DNS issues.

[2020-06-12 02:19] flybayer commented on #600
@peaonunes you bet!

[2020-06-12 04:52] ryardley opened #668 "Blitz should only force concurrent mode when it detects that the installed react is experimental"
### What is the problem?

Blitz errors out without react-experimental.

### Steps to Reproduce

1. `yarn add blitz@0.13.0 react react-dom`
1. `yarn add --dev typescript @types/react`
1. `mkdirp pages && echo 'export default () => <h1>Hello</h1>' > pages/index.tsx`
1. `yarn blitz start`

Open up the browser to http://localhost:3000

Notice errors:

![image](https://user-images.githubusercontent.com

[2020-06-12 05:51] flybayer commented on #668
💯 Great idea on auto detecting the react version!

[2020-06-12 06:36] jesster2k10 commented on #667
I’m going to try reproducing it again, usually i wouldn’t open github issues for such minor problems but since it’s a new framework I wanted to try report as many (potential) bugs as i could

[2020-06-12 13:35] flybayer commented on #667
@jesster2k10 ok cool. We appreciate it! :)

[2020-06-12 15:21] flybayer opened #670 "Prevent `blitz db migrate` from attempting to create new migration files in production."
### What is the problem?

Currently `blitz db migrate` always runs `prisma migrate save` and `prisma migrate up`.

`migrate up` will create new migration files if needed and `migrate up` will apply existing migration files.

For safety, `migrate save` should only run if `NODE_ENV !== 'production'`. But `migrate up` should always run.

Here's the line of code where this happens: https://github.com/

[2020-06-12 15:25] flybayer opened #671 "Add `AppProps` to new app template in `_app.tsx`"
### What do you want and why?

Update [this file](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/app/pages/_app.tsx) to include `AppProps` like this:

[code]

---

Open source veterans, please leave this issue for someone new to Blitz and/or open-source :)

[2020-06-12 15:37] flybayer opened #672 "Add a spinner during `blitz new` when prettier is running"
### What do you want and why?

Currently there's a awkward pause during `blitz new` after dependencies are installed. It makes the user thing something is broken.

However, it's just prettier running. So we need to add a spinner so the user knows what is happening.

### Possible implementation(s)

[Right here is the code where prettier runs](https://github.com/blitz-js/blitz/blob/canary/packages/g

[2020-06-12 21:58] fnoah commented on #672
@flybayer I'd like to work on this as a first issue in order to get to know the Blitz codebase.

[2020-06-13 02:25] flybayer commented on #672
@fnoah awesome, it's all yours! :)

[2020-06-13 04:25] tehnuge commented on #671
@flybayer I made a PR for this [here](https://github.com/blitz-js/blitz/pull/674).

[2020-06-13 08:08] #671 closed

[2020-06-13 08:20] #332 closed

[2020-06-14 07:59] #672 closed

[2020-06-14 08:50] toshi1127 commented on #670
I want to work in this, Can I take this issue?

[2020-06-14 13:19] flybayer commented on #670
@toshi1127 yes!! :)

[2020-06-14 13:33] simonedelmann opened #682 "Easy layout implementation"
### What do you want and why?

It would be great to have a simple mechanism to import a layout from /app/layouts folder.
I would prefer something like this:
[code]

If it is not possible to do `export Layout = ...`, an alternative:
[code]

### Possible implementation(s)

This is how I use the layout in a project right now:

// _app.js
[code]
Suggested improvements:
- It would be great if the custo

[2020-06-14 14:03] merelinguist commented on #682
This is an interesting idea! I don’t know whether it’s within the scope of Blitz, but it’s certainly something we could write docs on. Gatsby used to have something like this, but they removed it in v2 for [these reasons](https://github.com/gatsbyjs/rfcs/blob/master/text/0002-remove-special-layout-components.md#motivation). Definitely open to discussion though!

[2020-06-14 14:19] ryardley commented on #682
I am wondering what is the main advantage here? avoiding re-rendering? I think syntactically it is possibly more obtuse and confusing as having the Layout within the Page communicates the structure of the render tree clearly without having to know anything about how next does rendering. Eg.

[code]

[2020-06-14 14:23] merelinguist commented on #682
Right I agree with @ryardley. This was basically the main reason Gatsby removed it, since it’s a weird obfuscation of what your component tree will actually look like, and isn’t how React normally behaves. The only advantage in my eyes is what you mentioned–that it prevents a re-render. I guess it’s a question of whether we feel this is a sufficiently common use-case to build it into Blitz, when i

[2020-06-14 14:27] merelinguist commented on #682
There’s a good article on how to achieve this normally with Next (and therefore Blitz), and why you might ever want to do it here: https://adamwathan.me/2019/10/17/persistent-layout-patterns-in-nextjs/

[2020-06-14 14:27] ryardley commented on #682
Also what happens when you want to add props to your layout:

[code]

[2020-06-14 14:27] merelinguist commented on #682
Personally I’d say the smaller the Blitz API surface can be, the better.

[2020-06-14 14:28] ryardley commented on #682
@merelinguist Totally agree

[2020-06-14 15:32] gielcobben commented on #632
Today I wanted to update to `v0.14.0` since `v0.13.0` was not working for me due to this bug. Unfortunately `v0.14.0` also doesn't work. It keeps stuck at `_manifest.json`.

I checked what was inside `_manifest.json` and compared it to the `_manifest.json` from the `v0.12.0` version which builds and start blitz without any problem. The keys and values inside the `_manifest.json` file of the latest

[2020-06-14 19:23] simonedelmann commented on #682
@ryardley @merelinguist Thanks for answering the issue! I do get the point. Probably I hadn't thought about this enough.
In my case right now I do need a persisted layout, so I do need to put the layout in _app.js. But many people maybe don't need that.
But I am wondering, why do we have a 'layouts' folder per default then? What is special about the components in there compared to 'components'? (W

[2020-06-14 19:43] jesster2k10 commented on #667
Hey, so I ran the `blitz new` again with the same output.
I also ran `ifconfig` here so you can see I'm connected to the internet.

[code]

I've also attached a screenshot of my network connection in preferences (worth noting I'm currently on mobile hotspot)

[2020-06-14 19:44] jesster2k10 commented on #667
The output for reference:

[code]

and the screenshot which didn't attach for some reason

![Screenshot 2020-06-14 at 20 44 05](https://user-images.githubusercontent.com/6454286/84602503-ca84c580-ae7f-11ea-919d-e210f009432c.png)

[2020-06-15 00:37] ryardley commented on #632
Thank you @gielcobben. So I guess that means the dangling promise was not the fix. I had a look and I thought I had debounced writing to the manifest but it must have been on a branch that didn't get in. If the problem is a highwatermark one this won't solve the underlying problem but it might keep the threshold low enough to avoid the issue and speed up the build which could make a difference. I

[2020-06-15 01:48] ryardley commented on #632
It should certainly not include any .git paths!

[2020-06-15 02:43] flybayer commented on #632
I just published `0.14.1`. Can someone test that and see if you still have the stuck at _manifest issue?

[2020-06-15 05:09] ryardley commented on #632
Can confirm .git paths are not being ignored despite being set in the ignoredFolder list. Will investigate.

[2020-06-15 05:12] andreasasprou commented on #632
https://www.loom.com/share/8c20160d04e448f1b1fef3806a87e3d6

[2020-06-15 05:20] ryardley commented on #632
This may contribute to closing this: https://github.com/blitz-js/blitz/pull/687

[2020-06-15 05:34] andreasasprou commented on #632
https://www.loom.com/share/223f9b39f6c14366b1518f3ea3b533a5

[2020-06-15 06:51] flybayer commented on #632
`0.14.2-canary.0` is now published which includes the fix for `.git`

[2020-06-15 07:54] ryardley commented on #632
@andreasasprou can you please let us know if this helps you at all?

[2020-06-15 08:20] flybayer commented on #632
@gielcobben said it fixes the issue for him!

[2020-06-15 08:23] andreasasprou commented on #632
Same as what I showcase in

It stalls at some random file. Every time I run `blitz start` it stalls at a different point.

[2020-06-15 09:53] merelinguist commented on #682
cc/ @flybayer re the layouts folder?

[2020-06-15 15:00] flybayer commented on #667
@jesster2k10 Are running via some type of internet proxy or VPN or anything?

[2020-06-15 15:31] #230 closed

[2020-06-16 09:58] flybayer opened #689 "Upgrade react-query to latest version"
### What do you want and why?

Upgrade react-query to the latest version.

It's specified in `packages/core/package.json`

---

Veterans, please leave for someone new to Blitz/open-source

[2020-06-16 10:08] flybayer commented on #682
Good discussion everyone! Currently the `layouts` folder is nothing special, just a convention. I'm open to moving it inside `app`, although I think `app/layouts` would be better than `app/components/layouts` so it's less nesting and is immediately apparent where layouts are when looking inside the app the folder.

Originally I was thinking to basically include Adam's article mentioned above in ou

[2020-06-16 11:02] simonedelmann commented on #682
In my case (basically a SPA) I only have one layout which almost all pages (= all but Login/Register and Error) share. The layout contains some navigation and will contain information based on the current authenticated user (when authentication is finished). I plan to add a search box, therefore I need the persisted layout.

[2020-06-16 11:07] simonedelmann commented on #689
Am I wrong or is this only changing a version number in one file? If yes, I can do that ;)

[2020-06-16 11:08] flybayer commented on #689
@simonedelmann yes it should be that easy :)

[2020-06-16 11:09] #682 closed

[2020-06-16 14:00] #689 closed

[2020-06-16 21:26] wKovacs64 opened #696 "Model generation making incorrect assumption based on plurality"
### What is the problem?

Generating a model with a pluralized property results in the singular version in the model instead (e.g. `votes` -> `vote`).

### Steps to Reproduce

1. `blitz generate model choice votes:int`

Results:

[code]

### Versions

[code]

### Other

N/A

[2020-06-17 02:06] flybayer commented on #696
Thanks @wKovacs64! We definitely shouldn't auto pluralize or depluralize field names.

[2020-06-17 04:56] flybayer commented on #632
I just published `0.15.1-canary.0` with the possible fix from #697

[2020-06-17 06:12] wKovacs64 opened #698 "Generated pages include embedded expression braces from templates"
### What is the problem?

Super minor, but I noticed the generated pages include braces `{ }` from [inline conditional rendering logic](https://github.com/blitz-js/blitz/blob/b8e2e10288cefd637678556a80d897fd26ed74ac/packages/generator/templates/page/new.tsx#L47-L57) in the corresponding templates, like so:

[code]

When I expected:

[code]

This is not a huge deal as it still renders correctly, bu

[2020-06-17 06:45] andreasasprou commented on #632
Boom baby! Seems to fix my issue. @ryardley it seems you hypothesis around large number of files was the issue!

[2020-06-17 08:06] #632 closed

[2020-06-17 11:18] flybayer commented on #632
`0.15.1` now published with this fix

[2020-06-17 19:08] toshi1127 commented on #696
I want to work in this, Can I take this issue?

[2020-06-17 22:22] simonedelmann opened #699 "Upgrading to 0.15.1 breaks `blitz start` for existing projects. @blitzjs/cli: Cannot find module 'react'"
### What is the problem?

When I upgraded to 0.15.1 (from 0.14.0), `blitz start` stops working and only shows a big error.

<details>
  <summary>Error Message</summary>

[code]
</details>

This only happens if the blitz project is based on npm (`package-lock.json`) and not yarn (`yarn.lock`).

### Steps to Reproduce

1. Make sure yarn is **not** installed
2. Update to last version (0.15.1) of blit

[2020-06-17 22:27] simonedelmann commented on #699
### Workaround

As workaround install react globally via `npm install -g react` or downgrade to 0.14.0 `npm install -g blitz@0.14.0`.

[2020-06-17 23:00] simonedelmann commented on #699
Some more research:
- React was not installed globally before 0.15.0, so for some reasons 0.15.0 does require react, while 0.14.0 does not.
- Looking at all changes made with 0.15.0 there is only one change related to react: The file `/packages/core/src/with-router.tsx` is created. https://github.com/blitz-js/blitz/blob/canary/packages/core/src/with-router.tsx
- This file imports react (`import Re

[2020-06-18 02:19] flybayer commented on #699
@simonedelmann thank you for all the extra debugging information!!

---

I think the solution would be to destructure that React import, like this:

[code]

[2020-06-18 02:20] flybayer commented on #696
@toshi1127 you bet! Next time feel free to also assign it to yourself :)

[2020-06-18 07:46] simonedelmann commented on #699
@flybayer I changed the react import. Unfortunately I cannot test right now if that fixes the issue.
https://github.com/simonedelmann/blitz/tree/fix-react-import
Anyone feel free to add a PR!

[2020-06-18 11:30] simonedelmann opened #700 "Serialization Error: Dates should still be of type Date after useQuery"
### What is the problem?

Prisma returns DateTime fields as Date object in our querys/mutations. Calling these querys/mutations requires to transform the dates to string, as objects cannot be transferred. (https://github.com/blitz-js/blitz/issues/416) This gets done automatically, but I don't know where.

Take this simplified model from Prisma:
[code]
In our pages/components we now recieve a model

[2020-06-18 12:22] flybayer commented on #700
Yes you're right.

[This file and line](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/rpc.ts#L24) is where we turn the api call into a json object on the client. We need to convert it back to a date there.

[2020-06-18 14:11] Romstar opened #701 "File changes within the integration directory are not hot reloaded"
### What is the problem?
File changes located within the Integration directory are not hot reloaded

### Steps to Reproduce

1. Create a custom file within the Integrations directory i.e. test.ts
2. Import custom file within the server-side portion of your app
3. Modify the file and witness no update but modify any of the other files and notice the changes immediately.

### Versions

[code]

### O

[2020-06-18 14:30] flybayer commented on #701
This is a bit surprising to me. I thought Next should do HMR for this properly.

Definitely needs fixed.

[2020-06-18 14:34] Romstar commented on #701
Just kidding, it seems to be working fine right now.  Not quite sure what happened there.

[2020-06-18 14:34] #701 closed

[2020-06-18 14:45] flybayer commented on #701
Haha ok, feel free to re-open if it comes back :)

[2020-06-18 17:54] merelinguist commented on #509
Related: https://github.com/microsoft/TypeScript/issues/843#issuecomment-210254059

[2020-06-19 02:11] #600 closed

[2020-06-19 02:21] flybayer commented on #490
Closing this in favor of #259

[2020-06-19 02:21] #490 closed

[2020-06-19 02:21] flybayer commented on #289
@dajinchu any updates on this?

[2020-06-19 02:22] flybayer commented on #132
We sorta have an e2e test on blitz new, so closing this issue. We can open new issues for specific, single e2e tests if needed.

[2020-06-19 02:22] #132 closed

[2020-06-19 02:23] flybayer commented on #573
Hey @kevotovar did you make any progress on this?

[2020-06-19 02:23] flybayer commented on #595
@ivandevp have you made any progress on this? :)

[2020-06-19 02:24] flybayer commented on #467
@ganeshmani did you make any progress on this? If not that's fine, we can unassign you so someone else can try.

[2020-06-19 02:25] flybayer commented on #618
Hey @jletey, did you make any progress on this?

[2020-06-19 02:26] flybayer commented on #623
Closed via #677

[2020-06-19 02:26] #623 closed

[2020-06-19 02:28] flybayer commented on #670
Closed in #683

[2020-06-19 02:28] #670 closed

[2020-06-19 02:50] ganeshmani commented on #467
@flybayer Sorry for not being active on this issue. yeah, you can unassign me from this issue since working on a tight schedule.

[2020-06-19 02:56] flybayer commented on #467
Ok, no problem! :)

[2020-06-19 03:45] dajinchu commented on #289
Got blocked on the Prisma generation stuff but I believe that's fixed now. Repo was here https://github.com/dajinchu/blitz-docker-installer
I think lots has changed with installers since but can take a look this weekend

[2020-06-19 08:30] flybayer commented on #289
Ok cool, no problem :)

[2020-06-19 13:24] peaonunes commented on #700
Hey, correct me if I got that wrong, but I do not think that it is blitz responsibility to do that.

Thinking about querying data from any API you always get the date fields as strings. Specially on rest, if you use `fetch`, `axios`, or even `useQuery`, they will not convert any data type for you. It always returns a string. So it’s common to do some sort of adapting or mapping manually in the fro

[2020-06-19 13:27] peaonunes commented on #698
Happy to have a look at it.

[2020-06-19 13:58] flybayer commented on #698
@peaonunes @aem has some thoughts on this. It's not an easy thing to solve 😬

[2020-06-19 15:34] ivandevp commented on #595
Oh sorry @flybayer ! I forgot completely about this issue and I was a bit full on my job. Let me retake it tomorrow please and sorry for forgetting about it.

[2020-06-19 17:26] jletey commented on #618
@flybayer Sorry for my inactivity on this 😬 I'll get right on it and open a PR this weekend!

[2020-06-19 19:46] simonedelmann commented on #700
I do get the point. But I don't agree that we should not care about that. I am totally fine converting the dates manually. (Some documentation would be fine, but maybe on Prisma's side.) But we are providing generated code which is somehow wrong:

[code]
This variable `project` assumes to be of type `Project` (generated by Prisma), which assumes dates to be of type `Date`, which is not the case. I

[2020-06-19 22:59] miguelalche commented on #699
Testing it right now

[2020-06-19 23:29] miguelalche commented on #699
It seems that only doing this
[code]
Doesn't work since we need react to be imported because there is a JSX tag in the file.

Also I realized I didn't know how to test this was working, because doing
[code]
and then executing yarn blitz new app without any changes didn't throw the error (while it did throw the error when I tried to run blitz for the first time )

[2020-06-20 01:04] peaonunes commented on #700
Yeah, I feel your pain. It's like out of the box blitz is providing a mismatch of types between the type definition that comes from Prisma and our generated code.

If this is not possible / if we don't want that, we can maybe make sure, the variable has the correct type.

That was actually the way I thought about doing it. We would need to use some regex or similar on every field to identify and c

[2020-06-20 01:10] peaonunes commented on #700
One thing I was first worried about was the fact that `new Date` may not be reliable as different browsers implement it differently.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date
<img width="1053" alt="image" src="https://user-images.githubusercontent.com/3356720/85187814-f1128880-b2e5-11ea-954c-89295ee6a808.png">

It's funny that the docs highlight the inco

[2020-06-20 01:14] peaonunes commented on #698
😬 oops. happy to delay that if we do not have a goto approach. I can switch collaborate to something with a higher priority.

[2020-06-20 03:37] flybayer commented on #595
@ivandevp ok no problem! :)

[2020-06-20 03:57] flybayer commented on #618
@jletey ok cool, no problem :)

[2020-06-20 05:09] flybayer commented on #700
At first I was stumped, but aha, the solution!!

We just need to do more fancy serialization than JSON.parse(JSON.stringify()) which is what we are currently doing.

We could use a [some third-party library](https://github.com/yahoo/serialize-javascript), but I think we probably want to code our own.

---

### Proposal for Custom Serialization Library

#### Goals

1. Serialize to true JSON, not so

[2020-06-20 06:17] #699 closed

[2020-06-20 07:25] simonedelmann commented on #700
Thanks, @peaonunes and @flybayer for investigation!
I do like your proposal, it remembers me on Laravels type casting but automated.
We should make it invisible for the user, it should work out of the box. If I understood correctly, your proposal already fulfills this!

[2020-06-20 09:19] #448 closed

[2020-06-20 09:21] flybayer commented on #515
Let's leave the styles in the index file as is. However we could compact the styles to make them take up less room. A PR for that is welcome :)

[2020-06-20 09:21] #515 closed

[2020-06-20 10:57] merelinguist commented on #700
I’ve opened a PR to create the serializer package. Anyone is welcome to finish this issue by using it in the core package once #707 is merged.

[2020-06-20 12:02] peaonunes commented on #700
Liked a lot the suggestion @flybayer!
Wow, @merelinguist, you have put it together super fast! That's awesome 😄
Happy to work on that once we got the serializer sorted out. Let me know if you need any help with that as well.

[2020-06-20 21:48] pooyatolideh opened #709 "Tutorial documentation referencing the wrong file."
### What is the problem?

"Writing a minimal form" tutorial directs the user to `app/questions/pages/questions/new.tsx` to replace the `<div>` that says `Put your form fields here [...]`  but in the current Blitz setup that element appears to be inside `app/questions/components/QuestionForm.tsx`

**Note:** the entire **Writing a minimal form** seems to be slightly outdated as a result of the file

[2020-06-20 22:52] pooyatolideh opened #710 "Incomplete component example for "Adding a Vote Button" section of Tutorial"
### What is the problem?
Currently the `[questionId].tsx` file that's autogenerated comes with a JSON print out.

Tutorial's instructions for adding a vote button only suggest adding a `<li>` code block to that file. However, there's a bit more involved, and learners won't know that until they read the completed file example. That's a bit confusing and perhaps it can be fixed using the following i

[2020-06-21 14:44] osirvent commented on #566
Sorry, I was viewing github on my phone and accidentaly move this issue

[2020-06-22 12:57] flybayer commented on #709
@pooyatolideh hey thanks for this! We happen to have a PR already in progress to fix this over on the website repo: https://github.com/blitz-js/blitzjs.com/pull/83

So I'll go ahead and close this :)

[2020-06-22 12:57] #709 closed

[2020-06-22 13:12] flybayer commented on #710
@pooyatolideh thanks for this too! We just published an updated version of [the tutorial](https://blitzjs.com/docs/tutorial). I'm pretty sure the this issue is addressed. Can you review it and see?

[2020-06-22 13:26] #624 closed

[2020-06-22 13:26] #630 closed

[2020-06-22 15:29] sbardian commented on #667
Getting the same:

✖ We had some trouble connecting to the network, so we'll skip installing your dependencies right now. Make sure to run 'yarn' once you're connected again.

macOS Catalina | darwin-x64 | Node: v14.2.0
blitz: 0.15.2 (global)

No proxy/etc.  Running in the project after building with just works.

[2020-06-22 16:06] wKovacs64 commented on #667
I can reliably reproduce this on macOS with a healthy network connection (but not on Windows - works fine there). Also noteworthy that `npx blitz new myapp` works fine, as long as `blitz` is NOT installed globally. 🤔

[2020-06-22 16:33] ivandevp commented on #595
Hey @flybayer! I've been trying to find a workaround for this and it seems that it's not a lerna issue. `lerna` by default runs on topological order unless we pass the `parallel` flag. The issue is that it runs the `watch` commands and keeps waiting for the previous package to get resolved in order to run the following in the deps graph and this doesn't happen. Not sure if someone has an idea to f

[2020-06-22 20:26] nilaeus commented on #277
Would it be reasonable to add code coverage as well? Or could that be a recipe? Or even a thing at all?
I've been trying to get coverage set up using Cypress, but it tests the cache, and results are incomprehensible.

[2020-06-23 01:19] #696 closed

[2020-06-23 01:33] flybayer opened #712 "Upgrade React Query to v2"
### What do you want and why?

[React Query v2](https://github.com/tannerlinsley/react-query/releases/tag/v2.0.0) was just released and has some breaking changes.

We need to upgrade to this version, update our usage of it as needed, and update our docs to reflect the changes.

[2020-06-23 09:52] toshi1127 commented on #712
I'd like to tackle this issue.

[2020-06-23 13:33] flybayer commented on #595
@ivandevp thank you for investigating!

Would changing to the following flow for `yarn dev` work?

1. Clean all dist folders (like currently do)
2. `lerna run build`
3. `lerna run dev`, but change package dev scripts from `tsdx watch` to `tsdx watch --noClean`

[2020-06-23 13:34] #667 closed

[2020-06-23 13:35] flybayer commented on #277
Yeah, code coverage config would be great too!

[2020-06-23 13:37] flybayer commented on #712
Sweet :)

[2020-06-23 13:53] flybayer opened #713 "Update new app template Readme"
### What do you want and why?

The [current new app template readme](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/README.md) is a bit outdated. We should update it to match the default new app homepage. It'd also be good to add other helpful information, like links to docs, tutorial, github, slack.

And anything else that would be helpful.

[2020-06-25 02:54] johncantrell97 opened #714 "blitz db reset broken in Prisma 2 (need to change `raw` to `rawQuery`)"
### What is the problem?
It looks like the code to reset prisma database is using PrismaClient's raw() method.  Looking at the docs for the official Prisma 2.0+ release I think they might have changed this to a method called rawQuery() instead.

I downgraded back to Prisma 2.0.0-beta6 and it was working again for me.

I was getting this error:

Resetting the database has failed with an error from

[2020-06-25 08:56] shaunchurch commented on #626
@eliasjohansson Did you start on this in the end? I just found this issue while thinking about doing optimistic UI and added the flag Brandon suggested to try it out. It seems to work nicely. If you've not started on this already I could try adding some tests to this tomorrow and submit a PR. What do you think?

[2020-06-25 09:26] SigurdMW commented on #714
I could look into this one. Is it just to replace the calls to `db.raw` with `db.rawQuery` in the files where it appears like this one: /packages/cli/src/commands/db.ts ?

[2020-06-26 19:52] eliasjohansson commented on #626
@shaunchurch Unfortunately I havent. Haven't had much time over recently. You're free to take it over or whatever you feel like doing :)

[2020-06-27 03:52] #626 closed

[2020-06-27 03:59] #714 closed

[2020-06-27 16:27] dajinchu commented on #289
Can't seem to figure out installers. Getting `SyntaxError: Cannot use import statement outside a module `

[2020-06-29 11:10] flybayer commented on #289
Hmm, maybe better to wait till @aem makes more progress on recipes?

In the meantime, can you post the dockerfile here so folks can use it manually?

[2020-06-29 21:45] nyn0x commented on #410
Hi, for activate [Optional catch all routes](https://blitzjs.com/docs/routing#optional-catch-all-routes) user need to add manually the key optionalCatchAll in experimental. It looks like user config isn't merge with blitz internal config.

[2020-07-01 08:56] #410 closed

[2020-07-01 09:43] flybayer commented on #712
Closed in #720

[2020-07-01 09:43] #712 closed

[2020-07-02 02:20] flybayer opened #724 "Change model generation syntax to something that works on all terminals"
### What is the problem?

Our current model generation command for setting default values uses brackets like this:

[code]

But the problem is that this doesn't work in zsh (see https://github.com/blitz-js/blitz/discussions/723)

We need to find a better way to do this that works in for all terminals.

### Other

The very first thing that someone can do to help with this issue is to research avail

[2020-07-02 06:35] merelinguist commented on #724
See this review of terminal-safe characters from a while ago: https://github.com/vercel/next.js/issues/7607#issuecomment-503767041

[2020-07-02 07:42] flybayer commented on #724
Also parenthesis `()` can't be used because that is command substitution in fish

[2020-07-02 10:58] muescha opened #725 "blitz new myapp -> stuck at: Retrieving the freshest of dependencies"
### What is the problem?

### Steps to Reproduce

1. installed blitz: npm install -g blitz
<details>
<summary>installation log</summary>

[code]
</details>

2. try to create a new app: `blitz new recipe-app`

<details>
<summary>blitz new log</summary>

[code]

</details>

### What i see

- it stuck at this line: `◥ Retrieving the freshest of dependencies`

### What i expect

- some errors
- after

[2020-07-02 11:03] muescha commented on #725
additional:

done `npm install` inside the directory:

<details>
<summary>log</summary>

[code]

</details>

[2020-07-02 15:00] flybayer commented on #725
Hey @muescha! Thanks. Was the `◥` symbol rotating or just always fixed?

And can you reproduce this?

[2020-07-02 15:11] muescha commented on #725
the symbol was still rotating.

and it is reproducable: also with a `blitz new recipe-app2` the same output.

[2020-07-02 17:11] flybayer commented on #725
Do you have any unique network characteristics? Like are you behind a proxy or something? I'm unable to reproduce

[2020-07-02 21:18] donni106 opened #727 "Different behaviour for urls with and without trailing slash"
### What is the problem?

I found out, that I can acces the index page http://localhost:3000/projects but not the same page with a trailing slash http://localhost:3000/projects/, which results in a 404.
Similar with http://localhost:3000/projects/new everything is fine, but http://localhost:3000/projects/new/ results in an error.

### Steps to Reproduce

1. open `http://localhost:3000/projects` ->

[2020-07-03 08:14] donni106 opened #728 "Error in Firefox when opening page directly from address bar"
### What is the problem?

I recognized strange behaviours with using Firefox after the initial setup with version 0.16.0.
Created projects and can access every route (index, show, edit).
But when I want to go directly per address bar to an url, there pops up an error, which disappears after ~1 second and the page loads. I made screenshots of the error. Seems to be connected to react-query somehow.

[2020-07-04 02:45] flybayer commented on #727
Thanks @donni106! I'm assuming this works fine with plain Next.js. And judging by the Prisma error, it looks like maybe there is a bug with our `useParam()` hook?

Someone just needs to dig into this a bit and find the root cause :)

[2020-07-04 10:52] donni106 commented on #727
This is possible for the error with e.g. `.../projects/new/`.

But for the 404 on `.../projects/` I think it is something different. Have you checked the referenced issue in the nextjs repo? It is a long lasting discussion. There seems to be some difficulties also in plain nextjs.

[2020-07-04 10:56] flybayer commented on #727
Ok yeah I haven't dug into it. I'm currently focused on authentication, so hopefully someone else can look into this :)

[2020-07-04 16:47] merelinguist commented on #727
Yeah I think this is a Next problem, not a Blitz problem. In [this Next Sandbox](https://codesandbox.io/s/next-trailing-slash-demo-bnijd?file=/pages/users/%5Bid%5D.js), `users` resolves, as does `users/1`, but `users/` returns a `404`.

[2020-07-04 16:47] merelinguist commented on #727
Update: looks like it’s being fixed! https://github.com/vercel/next.js/issues/5214#issuecomment-648213750

[2020-07-04 21:15] mbrookson commented on #477
Could this be implemented with the new Stripe portal feature? 👀 has kind of like an oauth redirect flow.

https://youtu.be/u8H6awDJVpM

[2020-07-05 00:26] flybayer commented on #415
@ryardley this would be good to get fixed soon if we can, it keeps affecting people

[2020-07-05 02:26] peaonunes commented on #713
Happy to help improving this 😄

[2020-07-05 09:34] mbrookson opened #729 "Installing tailwindcss breaks build on a fresh project"
### What is the problem?
Installing tailwindcss, and potentially other dependencies, is breaking a fresh blitz app.

### Steps to Reproduce

1. `npm i -g blitz`
2. `blitz new blitz-test`
3. `cd blitz-test`
4. `npm run start` / `blitz start` ✅ Works!
5. Stop dev server
6. `npm i tailwindcss` with no further changes to anything
7. `npm run start` / `blitz start` ❌ Fails!

Seems to cause _all_ blitz

[2020-07-06 05:22] flybayer commented on #713
@peaonunes all yours! :)

[2020-07-06 08:58] flybayer commented on #729
Thanks for reporting this @mbrookson! I can't reproduce, but I'm looking into it.

[2020-07-06 10:11] mbrookson commented on #729
No problem. Couple of other interesting points.

- My existing NextJS project that I've started converting didn't seem to have the same issue for some reason, but will try again to see if something has changed.
- I have my global npm modules configured to go into `~/npm-global` rather than the npm default global location. Doubt it but wondered if this might affect any path finding stuff blitz uses

[2020-07-06 14:15] #383 closed

[2020-07-06 14:24] #729 closed

[2020-07-06 14:47] flybayer commented on #729
@mbrookson this should be fixed now in `0.16.2`! Re-open this issue if it's not :)

[2020-07-06 14:48] mbrookson commented on #729
Thanks for the speedy fix @flybayer! Will test out later today.

[2020-07-06 20:15] mbrookson commented on #729
@flybayer Can confirm this issue is fixed in 0.16.2 👍

[2020-07-07 21:29] mbrookson commented on #246
@flybayer Think I've found an issue related to this.

It seems like the relative import fix above doesn't seem to work for css files.

![image](https://user-images.githubusercontent.com/20131783/86845134-f707b800-c0a0-11ea-8845-0792b92bdf16.png)

![image](https://user-images.githubusercontent.com/20131783/86845262-23bbcf80-c0a1-11ea-8b46-6bcb2b76c45a.png)

The file `app/styles/styles.css` exists.

[2020-07-08 04:24] ryardley commented on #415
I guess the best way to fix this is to leave any non tsx files in pages folder instead of copying them. That way the absolute imports will work eg. `app/users/pages/signin/index.module.scss`

[2020-07-08 10:11] #415 closed

[2020-07-08 10:20] flybayer commented on #415
This has been fixed in `0.16.3`!

[2020-07-08 10:21] flybayer commented on #246
@mbrookson can you test this again in `0.16.3`? (just released) I think #733 probably fixed that.

[2020-07-08 17:26] mbrookson commented on #246
@flybayer It is indeed fixed in `0.16.3` 🎉

[2020-07-09 09:28] flybayer opened #734 "Need ability to import isomorphic code from query/mutation files into React components"
### What do you want and why?

I am defining input validation schemas in my queries and mutations like this:

[code]

And then I want to import that `SignUpInput` object in my component and use it for client-side validation like the below.

[code]

But that currently doesn't work. Which is especially bad the Typescript server thinks the above code is valid (that you can import SignUpInput), but th

[2020-07-11 03:12] #713 closed

[2020-07-12 23:17] aem commented on #376
https://github.com/blitz-js/blitz/blob/26626ced9fefe009adb98a4f716799b14b7276c7/packages/generator/src/generators/app-generator.ts#L179

[2020-07-12 23:17] #376 closed

[2020-07-13 10:41] benjick opened #741 "First render on server is missing route id"
### What is the problem?

On SSR the first render won't have a route id

### Steps to Reproduce

1. `blitz new myApp`
2. `cd myApp`
3. `blitz generate all project name:string`
4. `blitz db migrate`
5. `blitz start`
6. Go to http://localhost:3000/projects and create a project
7. End up on http://localhost:3000/projects/1 and reload the page
8. Check terminal for error:

<details>
  <summary><code>(

[2020-07-13 11:28] flybayer commented on #741
@benjick thanks for reporting this. After investigation, I realized there's an issue with react-query that prevents us from properly fixing this. I opened [a new react-query issue](https://github.com/tannerlinsley/react-query/issues/744) so we'll see what they say.

For now, you can simply ignore the error in your server logs.

[2020-07-13 11:55] mbrookson opened #745 "Generate API documentation"
### What do you want and why?

When building a full stack application, it's common for it to grow into something much more. For example, a companion mobile application is often part of a website and backend ecosystem. It would great if Blitz expands to accommodate this use case more and generate easy-to-user documentation or client which can be used to build external clients that utilise the gener

[2020-07-13 12:03] flybayer commented on #745
Thanks @mbrookson, generating API documentation is a great idea! Someone can definitely work on that at anytime.

I also think generating clients is a good idea, but let's keep this issue focused on the docs part.

[2020-07-13 12:56] merelinguist commented on #745
Love this idea! Might hop on it. @mbrookson Are you looking for a page to be generated, so that people can go to something like `localhost:3000/api`, or something more like a Markdown file?

[2020-07-13 13:04] mbrookson commented on #745
@merelinguist A generated page would be ideal and probably more flexible as more functionality could be added in the future I guess? Markdown would be useful still, but doesn't have quite as much potential for further features later on.

[2020-07-13 13:06] mbrookson commented on #745
@merelinguist Maybe the web page could be driven via a markdown file though? Best of both worlds, plus you could also then choose to do other things with the markdown if you wanted, like generate a client.

[2020-07-13 13:15] flybayer commented on #745
The other question is how to distribute it. Does it only show during development? In production behind authentication? As a standalone static docs site?

[2020-07-13 13:15] merelinguist commented on #745
@ryardley Any idea how simple it would be to inject a page like this?

[2020-07-13 13:18] merelinguist commented on #745
I’d be pretty reticent to have it in production, especially if it’s supposed to be more of a handy dev tool than “here’s a guide to our complete private api”.

[2020-07-13 13:26] mbrookson commented on #745
Yeah that's an interesting point. Perhaps could be an option? You might want to expose docs for a public API in some instances.

Getting a bit more complex here and just throwing out ideas, but perhaps it could even be per endpoint? Each function could be marked as to whether it should be exposed in public docs. For an initial implementation I'd probably err on the side of caution and keep it priv

[2020-07-13 14:02] flybayer commented on #745
Ok sounds like it shouldn't even be part of the blitz app. So not as an auto generated page, but as a standalone site.

And seems like maybe there's two main use cases:

1. `blitz docs` -> Opens docs in browser with hot reloading
2. `blitz docs export ~/some/path/myDocs` -> Exports a full static site that can you can do anything with.

[2020-07-14 03:36] flybayer opened #747 "Add bundle size reporting to PRs"
### What do you want and why?

I want a bot that automatically reports the bundle size on a PR here in this repo and how much it is has changed, if any.

It should report the bundle sizes of all the packages that are published.

### Possible implementation(s)

https://github.com/preactjs/compressed-size-action

[2020-07-14 03:59] flybayer opened #748 "Add envinfo to `blitz -v` output"
### What do you want and why?

I want to add some [`envinfo`](https://github.com/tabrindle/envinfo) output to the `blitz -v` command. envinfo is a sweet utility to get lots of debugging data easily.

Also, I would like to add a line that indicates if the package manager is npm or yarn. We already have the `has-yarn` dependency installed which can be used for that.

### Possible implementation(s)

[2020-07-14 04:08] flybayer commented on #666
The issue here is that we need to pass the `NODE_OPTIONS` env variable on to `next` when we spawn it in this file: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/next-utils.ts

Need to do it for both dev and production.

[2020-07-14 21:54] simonedelmann opened #749 "React Suspense error because of next-compose-plugins"
### What is the problem?
When using `next-compose-plugins` there is an error message in the browser's console:

### Steps to Reproduce

1. `blitz new myApp`
2. Add `<Suspense>` component in `pages/index.tsx`:

[code]

3. Add `next-compose-plugins` within `blitz.config.js`:

[code]

### Versions

[code]

### Other

This didn't occurs in blitz 0.15.2.

[2020-07-14 22:07] simonedelmann commented on #749
Some more information about my use case of `next-compose-plugins`:
I need to use `next-transpile-modules` to transpile [heroicons](https://github.com/refactoringui/heroicons).

My `blitz.config.js` looked like this:
[code]
As `next-compose-plugins` is totally optional, a simple workaround was to avoid using it entirely:
[code]

[2020-07-15 02:42] flybayer commented on #749
This could very well be because our internal wrapper, `withBlitz`, uses next-compose-plugins. So in this case next-compose-plugins is used twice and nested.

We can remove our internal usage if this is the case.

[2020-07-15 02:44] flybayer commented on #749
A workaround might be to set `reactMode` in your config.

[code]

[2020-07-15 07:43] simonedelmann commented on #749
@flybayer I can confirm setting reactMode to `concurrent` fixes the bug. Furthermore the bug is because of multiple use of `next-compose-plugins`.
See code for some more working and non working examples.

[code]

[2020-07-15 11:13] flybayer commented on #749
Ok thanks!

The solution is to remove our usage of `next-compose-plugins` in [`with-blitz.ts`](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/with-blitz.ts). Instead manually add `withTM` in there during development.

Additionally, we should change it so that `withTM` is only added during monorepo development. I can help figure out the logic for that if needed.

[2020-07-15 16:09] benjick commented on #289
Hello

This is my Dockerfile:

[code]

On a blank blitz installation this comes out to `283MB`.

Re health checks: I would leave that to for example kubernetes - https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/

[2020-07-15 18:19] jamiedavenport opened #751 "Storybook (or similar) support"
### What do you want and why?

I prefer to develop reusable components in isolation using Storybook so support in Blitz would be very useful.

According to https://2019.stateofjs.com/testing/ Storybook is significantly more popular than alternatives such as Styleguidist.

Some teams might also benefit from publishing their Storybook as a helpful guide for other developers.

### Possible implementa

[2020-07-16 11:10] flybayer commented on #751
Hey @jamiedavenport thank you for chiming in! I do like the concept of Storybook, but I always find it so frustrating to use 😅

[Someone is working on a new alternative](https://twitter.com/__morse/status/1280868168639172610) that looks really promising. It's based on Next.js and so integration would be really nice.

[2020-07-16 13:51] #577 closed

[2020-07-16 13:54] flybayer opened #752 "Add passport.js integration with session management"
### What do you want and why?

Use any passport.js strategy with Blitz!

[2020-07-16 13:56] jamiedavenport commented on #751
Thanks for that link @flybayer I'll take a look at it. If we did move forward with integrating with one of these tools, do you think it'd be best as an external installer or more tightly integrated with Blitz?

[2020-07-16 13:57] flybayer opened #754 "Add e2e tests to auth example"
### What do you want and why?

Add Cypress e2e tests to the `auth` example app. You can copy the cypress setup from the `store` example.

- Test anonymous sessions via the "track view" button
- Test sign up
- Test login & logout
- Test that anonymous session data is transferred to authenticated session data (via the "track view" button)

[2020-07-16 14:01] flybayer opened #755 "Session management `authorize()` method has wrong stack trace"
### What is the problem?

In our session management, we have this method: `ctx.session.authorize('admin')` that will throw `AuthenticationError` and `AuthorizationError` depending on if the user is logged in and has the role of admin.

The problem is that we throw an error inside that function and the stacktrace the user sees is a stack trace from inside Blitz.

What we want is for the stack trace

[2020-07-16 14:05] flybayer opened #756 "Add advanced RBAC roles + permissions based authorization option"
### What do you want and why?

Not sure on exactly what is best, but here's one idea.

The idea is that roles are groups of permissions. And you enforce permissions, not roles.

So you centralize the definition of roles with something like this:
[code]

And then in your code you enforce a permission.

[code]

This allows you to add/remove/refactor your roles without also having to change a ton of

[2020-07-16 14:07] flybayer opened #757 "Add tests to session management"
### What do you want and why?

We need to add comprehensive unit tests to our session management.

Feel free to submit PRs for single or few tests. And feel free to ask clarification questions.

Source file: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/server/auth/sessions.ts
Unit tests: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/server/auth/sessions.test.ts

[2020-07-16 14:20] flybayer commented on #751
As of right now, I think an installer recipe.

[2020-07-17 09:39] shimjudavid opened #760 "blitz start command returns error-"
### What is the problem?

blitz start command return following error-

### Steps to Reproduce

1. blitz start

Error: Cannot find module 'next'
Require stack:
- /Users/EmaxSoftware/Apps/ReactApps/blitzapp/noop.js
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:892:15)
    at resolveFileName (/usr/local/lib/node_modules/blitz/node_modules/resolve-from/index.js:29:39)
    at

[2020-07-17 09:42] flybayer commented on #760
@shimjudavid sorry about that!

What's the output of `blitz --version --verbose`?

And did this happen immediately after running `blitz new blitzapp`?

[2020-07-17 09:48] shimjudavid commented on #760
Output of blitz --version --verbose is-
debug: blitzPkgPath: /usr/local/lib/node_modules/blitz/dist/index.js
debug: cliPkgPath: /usr/local/lib/node_modules/blitz/node_modules/@blitzjs/cli/lib/src/index.js

macOS Catalina | darwin-x64 | Node: v13.1.0

blitz: 0.16.4 (global)
blitz: 1.0.0 (local)

And this happened when I run blitz start

[2020-07-17 09:50] shimjudavid commented on #760
blitz new blitzapp command returned following -

You are using alpha software - if you have any problems, please open an issue here:
  https://github.com/blitz-js/blitz/issues/new/choose

Hang tight while we set up your new Blitz app!

CREATE    .babelrc.js
CREATE    .env
CREATE    .eslintrc.js
CREATE    .npmrc
CREATE    .prettierignore
CREATE    README.md
CREATE    app/components/.keep
CREATE

[2020-07-17 10:22] flybayer commented on #760
Ok @shimjudavid, I was able to reproduce. The issue is with your Node version.

I tested with Node `13.14.0` and it appears to work good.

Can you upgrade Node and try again?

[2020-07-17 10:37] shimjudavid commented on #760
@flybayer Yes Node version was the issue. I downgraded to the latest stable version of Node which is v12.18.2 and it is working fine. Thank you.

[2020-07-17 10:41] flybayer commented on #760
Awesome!

[2020-07-17 10:41] #760 closed

[2020-07-17 11:26] lauridskern opened #763 "Inline svg Error "cannot find module""
### What is the problem?
React inline svg throws error "cannot find module"
### Steps to Reproduce

1. Install babel-plugin-inline-react-svg
2. Add plugin to babbel config `plugins: ["inline-react-svg"]`
3. Add typescript .svg declarations to `next-env.d`

[code]

### Versions

`0.16.4`

### Other

Please include applicable logs and screenshots that show your problem.

[2020-07-18 03:01] flybayer commented on #763
@lauridskern does that work in a Next.js app?

I don't think it will. I think you need to [add more babel config](https://medium.com/anna-coding/how-to-import-svg-in-next-js-with-typescript-88ebff26ce17) or instead [use a webpack loader](https://stackoverflow.com/questions/55175445/cant-import-svg-into-next-js).

[2020-07-18 03:23] cbadger85 commented on #757
I'd like to try and tackle this issue! I haven't contributed to open source before, but I'm pretty handy with jest.

[2020-07-18 03:27] flybayer commented on #757
@cbadger85 that'd be awesome! Here's our [contributing docs](https://blitzjs.com/docs/contributing). And here's a great free egghead video on the basics of open source like forking, submitting a PR, etc: https://egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github

Let me know if you have any questions!

[2020-07-18 04:01] cktang88 commented on #452
This doesn't seem to be a blitz-specific issue, seems to likely be Next.js related https://github.com/mui-org/material-ui/issues/20929

[2020-07-18 04:04] cktang88 commented on #395
FWIW, I'm able to run it fine with the newest version.
[code]

[2020-07-18 04:30] flybayer commented on #452
@JoseRFelix I'm going to go ahead and close this, especially since you said it works fine for published packages.

If you still have the issue try this workaround: https://github.com/mui-org/material-ui/issues/20924#issuecomment-624342438

[2020-07-18 04:30] #452 closed

[2020-07-18 04:33] flybayer commented on #395
Thanks @cktang88! I'll go ahead and close it then

[2020-07-18 04:33] #395 closed

[2020-07-18 07:53] #741 closed

[2020-07-19 09:35] robertgrzonka commented on #747
👋🏼 I'd love to take this one!

[2020-07-20 05:46] SharadKumar commented on #756
Your statement about roles being permission groups is spot on. Similarly, permissions for an entity are just a group of permissions that you need per property.

Field or Column level permissions are often needed, in any application. Hasura does it well, where they track that information per field in its metadata tables.

[2020-07-20 08:24] flybayer commented on #747
@robertgrzonka awesome, all yours! :)

[2020-07-20 08:29] flybayer opened #773 "Add small feature to our github bot: auto set status to 'assigned' when an issue is assigned"
### What do you want and why?

We have a [custom github bot](https://github.com/blitz-js/bot-github) that automates some stuff in our repo like keeping `status/*` tags in sync with the issue's position on our Project board.

The feature I want is to automatically set the `status/assigned` label on an issue with it is marked as assigned via the github UI.

Note: **only** set `status/assigned` if an

[2020-07-20 11:51] LoriKarikari commented on #763
There is [this example](https://github.com/vercel/next.js/tree/canary/examples/svg-components) in the Next.js repo and it seems it's using the same approach as @lauridskern. I'm also encountering this problem after copying the config from this example.

[2020-07-20 13:27] flybayer commented on #763
Ok, thanks @LoriKarikari. If you haven't already, can you try with absolute import?

[2020-07-20 13:28] flybayer commented on #763
@ryardley we have another file processing issue here

[2020-07-20 13:39] LoriKarikari commented on #763
@flybayer I tried absolute imports too but it doesn't work.

[2020-07-20 15:38] Errorname opened #775 "Use context in prefetching"
### What do you want and why?

I am currently writing a Blitz middleware to integrate [Prisma-multi-tenant](https://github.com/Errorname/prisma-multi-tenant). (See package: https://github.com/Errorname/prisma-multi-tenant/tree/master/packages/blitz)

---

This is how it works:

1. You add the middleware to your `blitz.config.js` file:

[code]

2. Then, in your queries and mutation, you access the

[2020-07-20 15:43] flybayer commented on #775
Hey, that sounds awesome!

I can look more into this tomorrow, but the queryFn warm request is an empty HEAD request that doesn't actually call the query function. So that means if getProjects is running, then it's from the main request.

[2020-07-20 15:50] Errorname commented on #775
Thanks for your answer! I may be missing something, but when adding some logging:

`app/projects/queries/getProjects.ts`
[code]

Sometime I get `["db"]` which looks like the actual request, but sometime I get `["fromQueryHook"]` which, if I understand correctly, comes from the prefetching.

[2020-07-20 20:26] rubenmoya commented on #754
Hello! I'd love to give this issue a try!

[2020-07-21 01:05] flybayer commented on #775
Hmm, that's odd! Can you share your code that has the `useQuery` hook?

`useQuery` should only ever run on the client, but here's it's running on the server apparently.

[2020-07-21 01:20] flybayer commented on #754
Awesome @rubenmoya! Let me know if you have any questions.

[2020-07-21 13:35] Errorname commented on #775
I used the generated code from blitz with the following steps:

[code]

Then, add a `console.log(ctx)` in the `queries/getProjects.ts` file

Finally, run `blitz start` and go to http://localhost:3000/projects

You should now see `{ fromQueryHooks: true }` in the logs

[2020-07-21 13:40] Errorname commented on #775
It looks like it's only at the start of `blitz start`, just after `compiled successfully`. Maybe the query is executed after the compilation ?

[2020-07-21 13:40] flybayer commented on #775
Ok thanks, looking into it right now

[2020-07-21 15:41] rubenmoya opened #779 "Wrong localStorage key for publicDataStore"
### What is the problem?

The key used for the publicDataStore is a plain string instead of the concatenation of the two constants.

### Steps to Reproduce

(I've seen it in the auth example)

1. Click on the `Track view` button
2. Check the local storage in the devtools

### Versions

[code]

### Other

This is what is stored in the localStorage currently:

![image (1)](https://user-images.github

[2020-07-21 20:17] wescopeland commented on #279
A quick update on this: [next-i18next now supports serverless i18n from their beta branch](https://github.com/vercel/next.js/discussions/10651#discussioncomment-34992). The implementation relies on path rewrites, which are currently behind an experimental flag but [will be GA on the next stable release](https://github.com/vercel/next.js/pull/14978#issuecomment-659761936).

[2020-07-22 08:58] #779 closed

[2020-07-22 09:35] flybayer opened #784 "Integrate superjson serialization & deserialization to the RPC layer"
### What do you want and why?

Switch to use [superjson](https://github.com/blitz-js/superjson) instead of `JSON.stringify` and `result.json()`.

### Possible implementation(s)

Relevant files:
- https://github.com/blitz-js/blitz/blob/canary/packages/core/src/rpc.ts
- https://github.com/blitz-js/blitz/blob/canary/packages/server/src/rpc.ts

### Additional context

Related #700

[2020-07-22 14:58] flybayer commented on #775
Sorry, I got pulled to a higher priority bug, but I should be able to get back to this tomorrow

[2020-07-23 12:08] simonedelmann opened #788 "Remove `delete data.id` from Generated update mutations"
### What do you want and why?

Currently all generated mutations include this code for deleting the id.
[code]
This is not necessary because prisma's generated `UpdateModelInput` does not contain the `@id` field and prisma will throw an error (`Unknown arg `id` in data.id`) if it is provided accidentally.
Furthermore as `id` does not exist on prisma's generated update types, the code above will ca

[2020-07-23 12:20] flybayer commented on #788
Here's the line that needs removed: https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/mutation/update__ModelName__.ts#L21

[2020-07-23 12:24] #292 closed

[2020-07-23 13:40] aem commented on #788
I'm not totally sure we want to do this. With JS-based projects we won't get the benefit of the TypeScript warning, so it's possible that a user with limited Prisma experience might try to send up the ID with the request. If that happens, their code will fail at runtime and they probably won't have a great idea why. This might be unnecessary, but I think it provides a nice protection against a foo

[2020-07-23 14:06] flybayer commented on #788
Related: https://github.com/blitz-js/blitz/discussions/782#discussioncomment-40553. We need to add full input validation to queries & mutations.

I think it's fine to remove for now to prevent the typescript build error.

[2020-07-23 15:34] flybayer commented on #775
@Errorname I have a fix this in #775, but in the meantime you can safely ignore the error. The error is from that code running during pre-rendering when it shouldn't. Doesn't affect runtime code.

[2020-07-23 16:08] simonedelmann commented on #788
@aem I wasn't thinking about JS users. You're right, they might get stuck there.
But if they do, there is a big red error on the console:
[code]
So maybe they will notice not to update the id?

[2020-07-23 22:45] Errorname commented on #775
Thank you for fixing this issue quickly 👍
If you are interested on the multi-tenancy with Blitz, I've add a [small documentation](https://github.com/Errorname/prisma-multi-tenant/blob/master/docs/integrations/Blitz.md) on how to do it with prisma-multi-tenant 🙂

[2020-07-24 08:31] #775 closed

[2020-07-24 09:38] flybayer commented on #775
@Errorname awesome, good work on that! :)

[2020-07-24 10:29] flybayer opened #794 "Add custom babel plugin to fix global middleware on Vercel (cannot read property 'getSession' of undefined)"
### What is the problem?

Vercel uses [node-file-trace](https://github.com/vercel/node-file-trace) during deployment to tree-shake all files it determines to be unused. This works great except it doesn't detect if a node_module is using a file from the app directory.

The solution is to add the following code to every page that use `getServerSideProps`.

[code]

As a workaround, you add those line

[2020-07-25 02:16] robertgrzonka commented on #748
🙋🏼‍♂️

[2020-07-25 02:17] robertgrzonka commented on #784
This sound interesting, I'd love to take it as second issue if everything works as expected in my previous PR :)

[2020-07-25 03:34] flybayer commented on #784
@robertgrzonka awesome!

[2020-07-25 04:10] IzumiSy opened #800 "extraArgs.flatMap is not a function"
### What is the problem?
I got an error saying `extraArgs.flatMap is not a function`

### Steps to Reproduce

1. npm install -g blitz
2. blitz new new-blitz-app
3. cd new-blitz-app
4. blitz start (and stop it with Ctrl-C)
5. blitz generate all project name:string

### Versions

[code]

### Other

Please include applicable logs and screenshots that show your problem.

[2020-07-25 04:40] flybayer commented on #800
Hi @IzumiSy! That's because of Node v10. Is it possible for you to upgrade to v12?

[2020-07-25 04:42] IzumiSy commented on #800
Yes, I can! Then, this issue is kind of version incompatibility?

[2020-07-25 05:08] flybayer commented on #800
Yep! Probably we should add a warning/error if users are < Node v12

[2020-07-25 07:33] LoriKarikari commented on #289
Now that recipes are released this is ready to be worked on. While the example files shown here are a great start, they are missing some small things and there are some best practices that can be improved to get a complete multi-stage setup going on. I want to give this a try if it's okay for everyone.

[2020-07-25 09:46] #747 closed

[2020-07-26 13:40] IzumiSy commented on #800
Thank you 👍  That would help people like me.

[2020-07-26 18:41] jay-jlm opened #806 "No css-modules templates when scaffolding a new blitz app"
App scaffolding (ie, `blitz new myApp`) currently generates styles via `<style jsx>` and `<style jsx global />` tags inside `index.tsx`.

### Possible implementation(s)

1. Add --use-css-modules flag support to the `blitz new`cli command.
2. Generate global styles in `global.styles.css` and add the corresponding import statement to `_app.tsx`.
3. Generate index page styles in `index.module.css` an