[2021-04-13 20:52] flybayer commented on #2207
oh, ok yeah not so good then

[2021-04-13 20:54] flybayer commented on #2196
I've opened a PR to fix this in react-query https://github.com/tannerlinsley/react-query/pull/2119

[2021-04-14 01:15] markhughes commented on #2209
Good call! I didn't see that. It looks like there are a few options: https://github.com/sindresorhus/got#proxies

It looks like it can be set globally on all http/https calls:

https://github.com/gajus/global-agent

Maybe this is something we can do for the CLI @flybayer whats your suggestion on approach? Then @mubaidr could give it a go :)

[2021-04-14 04:42] shubhsk88 commented on #2187
I already did that. The problem I am getting when I am generating the model for one to many relationships
- `blitz generate model user postvotes:Postvote[] `
and it shows that
[code]

[2021-04-14 07:07] MrLeebo commented on #2187
@shubhsk88 looks like you're running zsh. By default, it uses square brackets for pattern matching, so when you want to run a command that contains brackets, you will need to escape them (or disable the pattern matching).

[code]

[2021-04-14 15:37] flybayer commented on #2187
Or do this: `blitz generate model user "postvotes:Postvote[]"`

[2021-04-14 15:39] flybayer commented on #1459
@mhmdAljefri can you please try with `0.33.1`? I think it should be working there

[2021-04-14 15:42] flybayer commented on #2209
I think let's add them as config items in `blitz.config.js`. Are there any other cases where we might need proxy config support in blitz?

[2021-04-14 15:49] #2218 closed

[2021-04-14 16:11] mhmdAljefri commented on #1459
@flybayer Yes it works, thank you

[2021-04-15 07:44] Mokshit06 commented on #2200
Hey, I am interested in working on this issue

[2021-04-15 19:05] sakulstra opened #2225 "Deployment on vercel fails for canary.4 / y.0"
### What is the problem?

I just tested the new canary as i wanted to checkout the cool new things that happened since canary.0, but I started facing problems on deployment. In essence it does no loner work on vercel at all. Downgrading to a canary.0 fixes the issue again.

### Paste all your error logs here:

[code]
20:58:53.591 | https://nextjs.org/telemetry
-- | --
20:59:04.458 | info  - Creati

[2021-04-15 19:34] flybayer commented on #2225
Thanks @sakulstra I'll fix

[2021-04-15 20:44] #2225 closed

[2021-04-15 20:49] flybayer commented on #2225
Fixed in https://github.com/blitz-js/blitz/releases/tag/v0.34.0-canary.5

[2021-04-15 21:46] sakulstra commented on #2225
wow, what a response time <3, thx a lot!

[2021-04-15 21:56] sakulstra commented on #2162
I'm in dire need of this as I don't want to put effort into redis caching or similar

I'll try to solve it via a query/mutation level named export (e.g. sth like `export const METHOD: 'POST' | 'GET' `) and then i guess the more heated discussion can continue/start in the pr :D

[2021-04-16 01:30] flybayer commented on #2225
Please tell my boss, maybe I'll get a promotion 😂

[2021-04-16 16:53] gregkonush opened #2227 "Installing recipe fails on brand new setup"
### What is the problem?

Trying to install tailwind recipe on brand new installation fails

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. blitz new project
2. blitz install tailwind

### Run `blitz -v` and paste the output here:

[code]

[2021-04-16 20:24] siberiusfr commented on #2227
Hello,

I got the same error with

Linux 5.8 | linux-x64 | Node: v14.16.1

blitz: 0.34.0 (global)
blitz: 0.34.0 (local)

  Package manager: npm
  System:
    OS: Linux 5.8 Ubuntu 20.04.2 LTS (Focal Fossa)
    CPU: (8) x64 Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
    Memory: 464.98 MB / 15.47 GB
    Shell: 5.0.17 - /bin/bash
  Binaries:
    Node: 14.16.1 - ~/.nvm/versions/node/v14.16.1/bin/node

[2021-04-17 20:28] flybayer commented on #2196
Fixed in #2197

[2021-04-17 20:28] #2196 closed

[2021-04-17 20:31] flybayer commented on #2162
@sakulstra I think do it like this. exporting a config constant is a pattern already used in next.js

[code]

[2021-04-17 20:33] flybayer commented on #2227
I suspect this is an issue with npm peer dependencies. I don't have an initial idea on where or how to fix this though 🤔

[2021-04-18 08:54] RageBill opened #2229 "Getting "ReferenceError: questionId is not defined" when following the official tutorial"
### What is the problem?

I was following the tutorial up until the end of [this point](https://blitzjs.com/docs/tutorial#delete-question-mutation). When going to the route `localhost:3000/questions`, an error shows up. The code generated by following the tutorial was obviously different from the example snippets shown in the tutorial.

### Paste all your error logs here:

[code]

### Paste all re

[2021-04-18 09:01] RageBill commented on #2229
Figured I could change `[questionId]: question.id` to `questionId: question.id` and also update the Routes Manifest types as suggested in [this PR](https://github.com/blitz-js/blitz/pull/2228) to get this problem fixed.

[2021-04-18 09:01] #2229 closed

[2021-04-18 09:23] edgarasben opened #2230 "Can't use pgbouncer for database migrations"
### What is the problem?

Everytime I want to do a database migration I have to switch from pgbourcer connection string to a regular postgres and back to pgbouncer after the migration.

It's time consuming and prone to error when you have to switch every time.

It seems to be the Prima issue [#6485](https://github.com/prisma/prisma/issues/6485).

Does this have to be solved in Prisma first or is i

[2021-04-18 14:21] wescopeland commented on #2192
This seems to have been fixed in `0.34.0`.

[2021-04-18 14:21] #2192 closed

[2021-04-18 17:47] remjx opened #2231 "Page.redirectAuthenticatedTo does not accept null type from Routes manifest"
### What is the problem?

When trying to do
[code]

I get a type error because pathname returns `string | null | undefined` and `redirectAuthenticatedTo` expects `string | undefined`

Related question: Is there a recommended way to convert the URL Object from routes to a string?

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed

[2021-04-18 22:30] remjx commented on #1708
I'm running into this issue while trying to upgrade to Blitz  0.34.0. I tried both React versions `0.0.0-experimental-3310209d0` and `0.0.0-experimental-6a589ad71` in both Chrome and Firefox.

`ctx.session.$authorize()` is throwing in the query, then it keeps retrying the query in an infinite loop instead of redirecting.

[2021-04-18 23:24] remjx opened #2233 "useQuery runs in infinite loop when query throws AuthenticationError"
### What is the problem?

`useQuery` gets called in an infinite loop if query throws `AuthenticationError`

### Paste all your error logs here:

Server is flooded with:
[code]

Note: `getUser` is just an arbitrary query that throws `AuthenticationError`

### Paste all relevant code snippets here:

See replication details below

### What are detailed steps to reproduce this?

The issue is replicate

[2021-04-19 06:48] DLevai94 opened #2234 "No MutationFunction after upgrading to 0.34"
### What is the problem?

Can't build Blitz project after upgrading to 0.34, because it can't find the `MutationFunction` type.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Upgrade Blitz project to 0.34

### Run `blitz -v` and paste the output here:

[code]

[2021-04-19 12:32] hylerrix commented on #2150
Meet the same issue (`blitz new app` and then cannot sign up). Fixed it in your way, thx!

[2021-04-19 12:39] hylerrix commented on #2150
But what can I do when I occur this issue just after sign up success...?

[code]

[code]

![](https://user-images.githubusercontent.com/19285461/115237552-465e3700-a14f-11eb-9ae0-5edb71f91965.png)

[2021-04-19 13:13] niklasgrewe commented on #1473
@flybayer any news on it? i also want to integrate social providers. I would be very happy if you would make the config similar to next-auth 👍

[2021-04-19 14:04] karimsx commented on #2150
@hylerrix, its the same problem, check if prisma studio have a command line option to enable unix socket domain, else you can use dbeaver(free and opensource) to explore database if you are on linux

[2021-04-19 14:13] hylerrix commented on #2150
OooK :)

[2021-04-19 18:34] Roesh commented on #2130
As a note, Next is able to specify a directory within the project directory using `module.exports = {
distDir: 'build' }`  in next.config.js.

[Next: Setting a custom build directory](https://nextjs.org/docs/api-reference/next.config.js/setting-a-custom-build-directory)

Its limited because it only allows directories inside of the project directory though, but it might be worth looking into how th

[2021-04-19 19:20] flybayer commented on #2229
@RageBill how did you get the code of `Routes.ShowQuestionPage({ [questionId]: question.id })}` with the `[]`s in there?

[2021-04-19 19:20] andyshand opened #2237 ""Invalid Hook Call" from React when installing Styled Components Recipe"
### What is the problem?

When creating a new Blitz.js project with `blitz new` and then installing the Styled Components recipe with `blitz styled-components`, the following error is shown in the console.

This appears to prevent Styled Components from working properly too.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

N/A

### What are detailed steps t

[2021-04-19 19:24] flybayer commented on #2230
Interesting, I thought this worked fine for me in the past. Maybe Prisma changed this.

Do you have an idea for how Blitz could help with this?

[2021-04-19 20:02] #2231 closed

[2021-04-19 20:05] flybayer commented on #2234
How were you using that type?

[2021-04-19 20:07] flybayer commented on #1555
@reinis7 can you please provide reproduction details?

[2021-04-19 20:10] DLevai94 commented on #2234
`const createProject: MutationFunction<Project, CreateProjectInput> = async ({ data }, ctx: Ctx) => {`

[2021-04-19 20:26] flybayer commented on #2237
Well @andyshand, I looked into this and it appears to be a bug with styled-components.

See https://github.com/styled-components/styled-components/issues/3394 and https://github.com/styled-components/styled-components/issues/3409.

So as far as I can tell, there's not much we can do besides using an older version of react experimental

[2021-04-19 20:32] flybayer commented on #2234
@DLevai94 ah, that type was actually for something else.

Instead of that use `import {Resolver} from 'blitz'` and use it instead (same signature)

[2021-04-19 20:33] flybayer commented on #2230
I don't think this is possible, because the pgbouncer url is totally different than the direct DB connection. It's not just the port and query param that's different.

[2021-04-19 20:35] edgarasben commented on #2230
I thought so. In my case that was actually the only difference.

[2021-04-19 20:40] flybayer commented on #1473
@niklasgrewe I want to make sure you know we already support social auth with the passport adapter: https://blitzjs.com/docs/passportjs It's slightly more code than next-auth, but you have full control to customize as needed. This particular feature request is just an optimization for simple cases.

And there's no update on this particular issue but this is ready for anyone to work on and figure o

[2021-04-19 20:40] flybayer commented on #2230
@edgarasben ok interesting. We definitely couldn't rely on that because most of the time they are totally different.

[2021-04-19 22:17] flybayer commented on #2233
@remjx I'm unable to reproduce in auth example 😐

I've also added an auth integration test in https://github.com/blitz-js/blitz/pull/2240.

Would you be able to try and update that integration test with a failing test case for this?

[2021-04-19 22:31] edgarasben commented on #2230
Understood.

Would this be an elegant enough solution?

[2021-04-20 02:08] markhughes opened #2242 "v0.34 and v0.34.1 break yarn audit"
### What is the problem?

In v0.32, a `yarn audit` would be OK, however, it now seems to have issues determining the version of next in the project and is reporting vulnerabilities.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. create a new blitz project `blitz new example`
2. cd example
3. yarn

[2021-04-20 12:21] RageBill commented on #2229
@flybayer I believe it is from this command: `blitz generate all question text:string`. I was simply following the tutorial step-by-step.

[2021-04-20 13:25] malkosan opened #2244 "blitz console hangs on loading modules"
### What is the problem?

Generate a new app, then run `blitz console`.  You'll see all the modules don't load and you get warnings about circular dependencies.

You have to hit enter to see the `>` to enter in db queries, and the queries/mutations are not available because it hangs trying to load the modules.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[2021-04-20 13:51] bmatzner commented on #2242
Lighthouse also reports this: https://snyk.io/vuln/npm:next?lh=0.34.1

Reversioning the next fork to a previously released version of the original package introduces a number of issues – dependencywise.

Resolving this issue is probably a matter of handling the versioning for a fork in a different way.

[2021-04-20 14:01] malkomalko commented on #2229
Fixing here: https://github.com/blitz-js/blitz/pull/2245.

[2021-04-20 15:02] #2200 closed

[2021-04-20 15:03] remjx opened #2246 "Errors with `blitz db seed`"
### What is the problem?

[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

`blitz db seed` with a seeds.ts file.

### What are detailed steps to reproduce this?

Upgrade blitz app version from 0.33.0 (seed works fine) to 0.34.1 (seed fails with this error). Blitz 0.34.1 was installed globally in both cases.

### Run `blitz -v` and paste the output he

[2021-04-20 15:06] flybayer commented on #2230
@edgarasben yeah we could add `EXPERIMENTAL_PRISMA_MIGRATION_URL` as a workaround until Prisma finds a solution

[2021-04-20 18:10] akboolz opened #2248 "Cannot read property '$authorize' of undefined when using next-translate"
### What is the problem?

Session is undefined when using **next-translate**.

It **works fine in _dev_ mode** but shows ` Cannot read property '$authorize' of undefined` after _building_ the app.

Example **blitz config**:
[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Integrate next-trans

[2021-04-20 18:59] #2242 closed

[2021-04-20 20:17] flybayer commented on #2246
@remjx I'm unable to reproduce. Can you try deleting node_modules, install, then test?

[code]

[code]

[2021-04-20 20:33] flybayer commented on #261
Will be resolved after nextjs fork integration

[2021-04-20 20:33] #261 closed

[2021-04-20 20:40] #2233 closed

[2021-04-20 21:06] remjx commented on #2246
I tried deleting node_modules and reinstalling. Now I'm getting a different error:
[code]

[2021-04-20 21:59] flybayer commented on #2246
@remjx 😅  What's in your seeds file?

[2021-04-20 21:59] flybayer commented on #2246
And what is the contents of `node_modules/next/package.json` ?

[2021-04-20 22:38] #2244 closed

[2021-04-20 22:43] remjx commented on #2246
`node_modules/next/package.json` did not exist.

Deleting `package-lock.json` and reinstalling node_modules fixed the issue for me.

[2021-04-20 22:43] #2246 closed

[2021-04-20 23:43] flybayer commented on #1098
So I think a good solution is to use esbuild. Perhaps with https://github.com/egoist/esbuild-register or https://github.com/folke/esbuild-runner.

I tried doing setting that up briefly. It certainly has potential but we need ability to provide custom esbuild options for things like setting `externals`. So we need to PR this ability to one of the above projects or use a custom fork.

Note: one thin

[2021-04-20 23:47] #1233 closed

[2021-04-21 00:01] markhughes commented on #2209
@mubaidr did you want me to have a stab at this one?

[2021-04-21 00:02] markhughes commented on #2242
Thanks for the fast fix @flybayer !

[2021-04-21 04:43] mubaidr commented on #2209
I don't see any potential candidates that need proxy support (or even connect to internet) other than `install` command.

I can work on this. Let me know if `blitz.config.js` is good place for proxy config.

[2021-04-21 05:24] markhughes commented on #2209
Yep, blitz.config.js sounds good, and if you get stuck you can jump on discord and someone will help you out! :)

[2021-04-21 08:08] emgoto opened #2253 "Add @testing-library/user-event to Blitz.js by default"
### The problem
I installed the latest version of testing-library/user-event (13.1.5).

However, when I tried to use this library I ran into the following error:

`+userEvent element.ownerDocument.createRange is not a function`

I managed to fix this by downgrading to an older version, ^12.8.3. (I just randomly chose this version number because it's what I was using on another non-Blitzjs repo).

[2021-04-21 15:04] edgarasben commented on #2230
@flybayer I guess that would save some manual work for everyone every time migrating schema while using pgbouncer.

[2021-04-21 16:07] dmin opened #2254 "Tests fail when upgrading to 0.34.1 (Prisma version mismatch?)"
### What is the problem?

I just upgraded my Blitz app to `0.34.1` (from `0.33.0`), following all instructions for breaking changes. After upgrading, all tests were failing (just the default app template tests, I have not added any). I re-read the release notes and noticed that version `0.33.1` upgraded Prisma to `2.19` in the app template. Doing the same in my app fixed the problem.

I didn't dig

[2021-04-21 16:12] niklasgrewe commented on #1410
@rizkyramadhan How do you get this working? When i run a new blitz app in `packages/web` i get the following runtime error:

[code]

[2021-04-21 16:30] flybayer commented on #2254
Thanks @dmin, I just added a note to the 0.33.1 release about that.

[2021-04-21 16:30] #2254 closed

[2021-04-21 17:00] rizkyramadhan commented on #1410
Ermm.. that is year ago. Nowadays I am using customized esbuild without using any framework in my project.

[2021-04-21 19:44] #1987 closed

[2021-04-21 20:18] agustif opened #2257 "Add required arguments to create query validation when using blitz generate all"
### What do you want and why?
I would like zod validations to be auto-generated too
The more information the better!

so when running:
`blitz generate all photo name:string slug:string
[code]

Instead of

[code]

So an app compiles after generator run, maybe this has been discarded bc bad idea idk, couldn't find any issue about it

[2021-04-22 07:28] puria commented on #1473
Does make sense to have it as a recipe to just `blitz install passportjs`?

[2021-04-22 14:48] mubaidr commented on #2209
Sure, Thanks.

Also, I think we should also look for proxy environmental variables `http_proxy` & `https_proxy` and automatically setup proxy for install command (even if not specified in `blitz.config.js`)

In short: Enable proxy support in `install`:
- If user has specified in config file
- If user has proxy set globally (environmental)

What do you say?

[2021-04-22 15:48] flybayer commented on #2209
@mubaidr sounds good to me

[2021-04-22 23:36] markhughes opened #2260 "Support custom paths for blitz"
### What do you want and why?

To be able to use **multiple** _alternative_ paths for blitz, it is currently locked to `app`

This allows for nicely decoupled projects. It is currently semi-possible with a bit of manual work, but having it so we can separate blitz into multiple packages means we can develop frontend pages separately, and deploy them separetly.

### Possible implementation(s)

I im

[2021-04-22 23:47] skotchpine opened #2261 "`npm i -g blitz` ==> `Cannot find module 'react-dom'`"
### What is the problem?

a postinstall script throws an error

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

`npm i -g blitz`

### What are detailed steps to reproduce this?

0. `nvm install 14.16.1`
1. `nvm use 14.16.1`
2. `npm i -g blitz`

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and scre

[2021-04-23 05:47] markhughes commented on #2261
Possibly related to peer dependencies as in https://github.com/blitz-js/blitz/issues/2227

[2021-04-23 05:49] markhughes commented on #2261
@skotchpine can you try removing it first, and then installing it with `yarn global`? Curious if your issue is isolated to npm

[2021-04-23 06:06] skotchpine commented on #2261
Spot on, yes it doesn't happen with my yarn.

[2021-04-23 09:37] gielcobben opened #2262 "Type error in build"
### What is the problem?

When I run `blitz build` I got an error.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Create a "catch all" route
2. Run `blitz build`

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that show you

[2021-04-23 19:47] flybayer commented on #2261
@skotchpine does it work with `npm i -g blitz --legacy-peer-deps`?

[2021-04-24 20:31] flybayer commented on #1410
@niklasgrewe can you open a new issue for that? Looks like a bug with our new Routes manifest feature.

[2021-04-24 20:31] flybayer commented on #2257
This will be fixed by https://github.com/blitz-js/blitz/pull/2134!

[2021-04-24 20:32] flybayer commented on #1473
@puria I think we should add that regardless of the request in this issue

[2021-04-24 20:38] flybayer commented on #2260
Thanks Mark. Put in icebox until next.js fork migration is complete since that will totally change this implementation. I'll try to keep this in mind with the migration.

[2021-04-24 20:39] flybayer commented on #2262
cc @Skn0tt

[2021-04-24 20:50] #2209 closed

[2021-04-24 21:16] mbrookson commented on #2195
This just happened randomly to me after installing some other dependencies. 0.34.0-canary resolves it though. Thanks!

[2021-04-24 21:20] flybayer commented on #2195
For anyone else who may encounter this, it seems there's a bug in npm v6 that causes this error in 0.34.x releases. Upgrading to node 14+ (npm v7) resolves the issue.

[2021-04-24 22:10] tmcw opened #2268 "If a recipe specifies a file that does not exist in a addTransformFilesStep, blitz crashes oddly"
### What do you want and why?

I typo'ed a file path in a recipe, like

[code]

This produces this error:

[code]

This is because if the singleFileSearch fails, then blitz assumes that you want to do a multi-select, but then `choices` is null, hence the crash.

### Possible implementation(s)

I think the gist is: if `choices` is null here

https://github.com/blitz-js/blitz/blob/63af540c879fe71dfa

[2021-04-25 14:58] MrLeebo commented on #2268
Thank you for reporting this!

[2021-04-25 15:40] agustif opened #2271 "Alternative auth to default/passport with next-auth or recipe"
### What do you want and why?
I would like to be able to choose my auth provider at installer time, without loosing all auth if I want a different choice. namely https://next-auth.js.org/ which btw also uses prisma and next so it should be easier to plug into blitz?

Not sure if this could be also compatible with other layers like blitz-auth etc, ideally it should, maybe not worth it to explore ot

[2021-04-25 16:10] niklasgrewe opened #2272 ""Routes.SignupPage is not a function" when using monorepo"
### What is the problem?

When i try run my blitz app inside my yarn workspace, i get the following webpack error:

[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

my root `package.json` looks like this:

[code]

### What are detailed steps to reproduce this?

1. create a new folder like `blitz-monorepo`
2. create a subfolder `packages`
3. install a

[2021-04-25 16:11] niklasgrewe commented on #1410
@flybayer done #2272

[2021-04-26 21:01] CalebDelbridge opened #2276 "Can't resolve '@fullcalendar' in '.blitz/build'"
### What is the problem?

I am trying to get FullCalendar to work with Blitz.js. FullCalendar has documentation on how to get it to work with Next.js, which I am trying to follow, but when I went to add `next-transpile-modules` and transpile FullCalendar, it ran into this error. It seems that when `next-transpile-modules` looks for the library, it can't find it in the build.

FullCalendar Instruct

[2021-04-26 21:02] CalebDelbridge commented on #2276
Minimal reproduction here: https://github.com/CalebDelbridge/minimal-repo

[2021-04-27 12:38] agustif commented on #2271
Nevermind, found in another issue a response by @flybayer saying you can use it but you don't get the custom built-in auth goodies. Makes sense for now, so closing this.

[2021-04-27 12:38] #2271 closed

[2021-04-27 21:20] flybayer commented on #2276
Thanks @CalebDelbridge, not sure what the issue is. This is ready for someone to work on.

[2021-04-28 21:29] ormarek opened #2279 "Default image optimizator causes error on `blitz export` (even if it's not used)"
### What is the problem?

Been just wandering through options in Blitz.js CLI and typed `blitz export` just for testing purposes and it couldn't be performed due to `default Image Optimization used by next` even if <Image /> component from `next/image` is not used and as far as I know it is only initialized if it's used.

### Paste all your error logs here:

[code]

### Paste all relevant code sni

[2021-04-28 21:43] #2215 closed

[2021-04-28 22:30] mbrookson commented on #1935
I'm currently getting a similar issue to this. Logout immediately revokes the session, which I assume is causing a render pass. It is therefore calling a query which tries to use the authenticated userId from session context, which is now null after logging out.

It's fixable by having a session/current user check in each page, but that seems a little dirty to have littered all over the place.

I

[2021-04-28 22:32] dawnofmidnight commented on #2144
If no one wants to take this, I can try getting it started. Although I doubt I'd be able to do it all myself.

[2021-04-29 06:41] MrLeebo opened #2280 "SuperJSON babel plugin causes prefetched queryKeys to miss the cache"
### What is the problem?

Alright that title is a bit of a mouthful, but here's what's happening.

Blitz is set up to allow you to prefetch queries while server-rendering the component. The `<BlitzProvider>` component accepts a dehydratedState prop, [as seen here](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/blitz-app-root.tsx#L89), which you can populate by returning
[code]
fro

[2021-04-29 07:08] Skn0tt commented on #2280
That's an interesting one! Let me know if I got this right:

`getQueryKey(getCurrentUser)` returns something different depending on wether it's called on the client vs on the server. That is because of `babel-plugin-superjson-next`. Correct?

[2021-04-29 07:34] MrLeebo commented on #2280
Right, looks like [this](https://github.com/blitz-js/babel-plugin-superjson-next/blob/main/src/tools.tsx#L24) is where the replacement happens.

[2021-04-29 07:48] Skn0tt commented on #2272
@niklasgrewe thanks for reporting!

It seems to be caused by:
https://github.com/blitz-js/blitz/blob/4bb6ded00cfa18180b36ec185b92cfc982e71a9f/packages/server/src/stages/route-import-manifest/route-import-manifest.ts#L110

This will render into `packages/app/node_modules/.blitz` instead of `node_modules/.blitz`.

The obvious fix would be to adapt the [postinstall logic](https://github.com/blitz-js/

[2021-04-29 10:25] niklasgrewe opened #2282 "Runtime Error when using react 17.0.2 dependency"
### What is the problem?

my `package.json` looks like this:

[code]
when i try to update these dependencies to

[code]
i get the runtime errors:

[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

`package.json`

[code]

### What are detailed steps to reproduce this?

1. generate a new blitz app
2. install all dependencies
3. install `react@latest` an

[2021-04-29 16:39] flybayer commented on #2282
By default we have react concurrent mode enabled which requires react@experimental. React v18, the next release, will support this at which time we won't need experimental.

If for some reason you want to disable concurrent mode (to support React 17), then you can do as shown here: https://blitzjs.com/docs/blitz-config#react-mode

[2021-04-29 18:08] agustif opened #2284 "make --parent accept grandparents too."
### What do you want and why?
I would like to be able to pass multiple folders to parent flag, so for example a note inside a task inside a project would be.

[code]

### Possible implementation(s)
Right now I just do --parent task and manually move the generated files inside [taskId] folder
Then I proceed to add projectId useParam and pass it to edit route etc...

How might we do this?
No idea
##

[2021-04-29 18:30] niklasgrewe commented on #2282
thanks I did not know that, then this case can be closed

[2021-04-29 18:30] #2282 closed

[2021-04-30 15:21] flybayer commented on #2144
@dawnofmidnight cool, and yeah just do as much or as little as you want.

[2021-04-30 15:22] flybayer commented on #2272
@Skn0tt no, we haven't done any monorepo stuff until this

[2021-04-30 15:27] flybayer commented on #2284
@agustif sounds like a good idea. To make sure I understand, can you list the exact pages paths that `blitz generate pages notes --parent project/task` would create?

[2021-04-30 15:49] kirakik opened #2286 "Optional catch-all routes not handled correctly by the routes codegen script"
### What is the problem?

I've identified an issue in the autogenerated `Routes`. It seems it doesn't [handle optional catch-all routes](https://blitzjs.com/docs/api-routes#dynamic-api-routes) correctly.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

N/A

### What are detailed steps to reproduce this?

1. Create a page with an optional catch-all route (e.

[2021-04-30 16:04] Skn0tt commented on #2286
Thanks for reporting! The issue likely has to do with https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/route-import-manifest/route-import-manifest.ts. Looking forward to your PR :D

[2021-04-30 18:33] fernvilla opened #2288 "UnhandledPromiseRejectionWarning: TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined"
### What is the problem?

Was testing out the latest canary release (v0.35.0-canary.3) and when attempting to generate a new app when I received this error.

Not an issue when I downgrade to v0.34.3 or v0.35.0-canary.2.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Update to latest canary version

[2021-04-30 18:35] rodrigoehlers commented on #2207
I'm having the exact same problem. Wrapping the call to `signOutMutation` in a `try`/`catch` block, therefore completing the following call to `router.push` fixes it for now. I've started seeing this behaviour since I upgraded my project to the latest release which at time of writing is `0.34.3`.

[2021-04-30 21:20] #2234 closed

[2021-04-30 21:21] #2084 closed

[2021-04-30 21:22] flybayer commented on #1988
We can definitely add this to the example app config, but I'm going to go ahead and close this since that's not something we are shipping.

[2021-04-30 21:36] #2184 closed

[2021-04-30 21:44] flybayer commented on #2262
Duplicate of https://github.com/blitz-js/blitz/issues/2286 (that issue was created later, but has more detail, so closing this one)

[2021-04-30 21:44] #2262 closed

[2021-04-30 21:44] flybayer commented on #2227
It's also interesting both of you are on Linux 🤔

[2021-04-30 21:45] agustif commented on #2284
Hello @flybayer, thank you so answering to your question:

So basically, It would generate the same underlying pages but under pages/projects/[projectSlug]/tasks instead of projects/tasks directly.
[code]
I'd like to be:
➜ blitz generate pages notes --parent=projects/tasks

[code]

[2021-04-30 21:48] flybayer commented on #2288
Thanks @fernvilla!

[2021-04-30 21:51] flybayer commented on #2284
Ok great, thanks.

So the best practice in this case is to use "shallow routing" which is to only nest one level deep. I.e. use this:

[code]

Because the taskId gives you all the data you need. You can look up projectId.

What do you think?

[2021-04-30 21:54] agustif commented on #2284
Think you're right, can close this, gonna ditch the full url thing as not really needed and adds code contrary to DRY's, had to add params for the parent and grandparent to routes etc which was a PITA...

Will try shallow routing!

[2021-04-30 21:54] #2284 closed

[2021-05-01 10:37] raulrpearson commented on #2227
FWIW, I'm running into the same problem on macOS:

[code]

I'm using [nvm.fish](https://github.com/jorgebucaran/nvm.fish) and I'm pasting the output for node 15.11.0, but I got the same results with 15.14.0 and 16.0.0. Interestingly, when I installed blitz on 15.14.0, I got this output:

[code]

Which seems auspicious since this is the output when I try to install a recipe:

[code]

Could it be "m

[2021-05-01 17:13] flybayer commented on #2227
@raulrpearson for Node 15+ you have to use `npm i -g blitz --legacy-peer-deps`. Can you do that and then try `blitz install` again?

[2021-05-01 17:32] raulrpearson commented on #2227
When I do that I don't get the ERESOLVE warnings during the installation of blitz, but I still get the same error when doing `blitz install tailwind` or `blitz install chakra-ui`.

[2021-05-01 19:55] waptik commented on #952
Thanks man! I was looking for something of the sort.
Kudos to you.

[2021-05-03 12:46] Anjianto commented on #2261
this remains the same. I get the same error

![Screenshot from 2021-05-03 19-45-26](https://user-images.githubusercontent.com/61521141/116877547-4890bd00-ac48-11eb-814c-6d4220b8f3ec.png)

[2021-05-03 17:50] cashmagnet opened #2294 "Setting trailingSlash: true in the blitz configuration creates 308 redirects for all api requests."
### What is the problem?

API requests for blitz, from either await direct function calls inside useEffects or useQuery calls are not being created with consideration for the trailingSlash config.

### What are detailed steps to reproduce this?

1. create new blitz application
2. update blitz.config.js as below
[code]

3. run your the blitz server (development or production, no difference)
4. open

[2021-05-03 21:34] ssledorze opened #2295 "Cannot run Blitz with Webpack 5"
### What is the problem?

Blitzjs does not work (yet) using webpack 5.

### Paste all your error logs here:

Try to access the App once compiled results in this crash:

[code]

### Paste all relevant code snippets here:

Here the config blitz.config.js :

[code]

### What are detailed steps to reproduce this?

1. change the config like exposed
2. start: blitz dev
3. access the page (likely on http

[2021-05-03 21:38] flybayer commented on #952
https://github.com/folke/esbuild-runner is an even better option now than ts-node

[2021-05-03 22:05] flybayer commented on #2261
Ok I can reproduce. You should be able to safely ignore that error.

[2021-05-03 22:38] #2286 closed

[2021-05-03 22:59] markhughes commented on #2295
@ssledorze could you share what's going on in your db file around lines 50-60?

(stripping anything sensitive along the way)

[2021-05-04 16:55] flybayer commented on #2294
### To Fix

1. Add trailingSlash to the blitz runtime data: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/blitz-data.tsx#L13
2. Update [`getApiUrlFromResolverFilePath`](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/rpc-client.ts#L161) to add trailing slash if `getBlitzRuntimeData().trailingSlash` is true.

[2021-05-04 17:00] flybayer commented on #2295
@markhughes `.next/blitz/db.js` is a bundled version of `db/index.[ts|js]` which comes [from here](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/with-blitz.ts#L37).

Could be that custom webpack config needs updated for webpack 5

[2021-05-04 19:18] #2261 closed

[2021-05-04 19:18] #2288 closed

[2021-05-05 01:09] jgable opened #2305 "Error: Cannot find module 'react' when running `blitz install tailwind`"
### What is the problem?

Error: Cannot find module 'react' when running `blitz install tailwind`

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. blitz new repro-app && cd repro-app
2. blitz dev
3. open site at localhost:3000
4. blitz install tailwind

Expected: tailwind recipe is installed
Actual:

[2021-05-05 11:41] pmlord commented on #2305
Also happening on Node 12 and Blitz 0.34.3

[code]

[2021-05-05 11:58] Anjianto opened #2306 "Duplicate page with one page"
### What is the problem?

I always got duplicate warn when i move page file to the folder with the same name, especially i restart the dev server.

Example : I have page forgot-password.tsx and i want move this to folder with the same name file without ext and i rename file to index.tsx. I make it like this because i make css module for styling. After i see the page (forgot-password) i got the war

[2021-05-05 13:43] felixbeer commented on #2305
Same issue happening here with a fresh installation.

[2021-05-05 15:22] itsazzad commented on #2305
Is there any shortcut workaround?

[2021-05-05 17:37] brapifra commented on #2125
It's still happening to me with `blitz@0.34.1`. Anybody else?

[2021-05-05 18:30] mabadir commented on #1475
Is the issue happening when adding the new relationship or during the actual migration? For me, I ran the command, and this is the resulting schema:

[code]

[2021-05-05 19:17] #2305 closed

[2021-05-05 19:34] flybayer commented on #1475
@mabadir ok must be fixed!

[2021-05-05 19:34] #1475 closed

[2021-05-05 19:53] flybayer commented on #2305
This should now be resolved for all blitz versions (you don't need to upgrade your blitz version)

[2021-05-05 21:39] #2085 closed

[2021-05-05 23:11] benjakugler96 commented on #988
@flybayer hi! I faced this issue today using node 14.0.0. After too many tries, I moved to node 16.1.0 solved the issue somehow. Just an FYI

[2021-05-05 23:31] markhughes commented on #2295
@flybayer ah, I misread! Interesting!

[2021-05-06 14:51] flybayer commented on #988
Node 14.0.0 has a number of bugs. Later versions of v14 should work fine

[2021-05-06 21:08] lksnmnn commented on #1935
I am having the same issue (I think). I made a minimal example based on a new blitz 0.34.3 app.
Steps to reproduce:

1. Register / Login
2. Go to authentication protected page /private
3. Click the logout button
4. Dont get redirected to the homepage

Instead of the redirect, the queries run again (I only have a non failing useCurrentUser hook here, but the issue would be the same as above, when y

[2021-05-08 08:52] NaseerAkbari opened #2314 "Blitz: command not found"
### What is the problem?

Hello guys,
I have installed the [nodejs from this online help](https://www.geeksforgeeks.org/installation-of-node-js-on-linux/) successfully then followed the online tutorial. now, when I wanna execute the downloaded project, shows such an error like the screen shot.
any idea, what I have done not correct?
thanks guys for your help.

### Paste all your error logs here:

[2021-05-08 19:27] carllippert opened #2317 "Can't use dependent queries"
### What is the problem?

Type system gets angry when passing query params as function like described in docs () => ({where: {...}}, {enabled: user}) etc.

Also when breaking by trying to go sans "args as function" get the "Module not found: Can't resolve 'fs'"

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce

[2021-05-09 06:31] MrLeebo commented on #2314
Hi, can you provide the output from `blitz -v`?

[2021-05-10 10:19] jensamunch opened #2322 "Can't install react-icons"
### What is the problem?

[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that show your problem:

_No response_

[2021-05-10 20:00] flybayer opened #2324 "Support async `initServer` hook"
### What do you want and why?

Support async `experimental.initServer` hook so that the server is not started until the promise returned from initServer resolves.

Original discussion: https://github.com/blitz-js/blitz/pull/2256#discussion_r629454953

### Possible implementation(s)

Move to [this](https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/next-server/server/next-server.ts#

[2021-05-10 20:07] flybayer commented on #2317
@carllippert ah, sorry about that! Our docs were wrong and should not have the query args returned by a function. I've just fixed that.

Here's the proper way:

[code]

Just using the `enabled` option, but passing args as usual

[2021-05-10 20:22] flybayer commented on #2314
@MrLeebo that won't work because blitz isn't installed.

@NaseerAkbari looks like blitz didn't successfully install. See that `error mem-fs-editor The engine node is incompatible` line? That means you have Node v10 which isn't supported.

I recommend using https://github.com/Schniz/fnm to install a newer version of Node, like v14. Then install blitz and it should work.

[2021-05-10 20:31] #2280 closed

[2021-05-10 22:04] jensamunch commented on #2322
That worked thanks

[2021-05-10 22:40] #2210 closed

[2021-05-10 22:44] #2322 closed

[2021-05-11 01:18] CarterMcAlister opened #2329 "Support req and res within Blitz Passport strategies"
### What do you want and why?
Currently, there is no way to include custom params and use them within Blitz passport strategies.
This prevents you from being able to do things like pass referral codes or invite codes when using the built in Blitz Passport integration.

### Possible implementation(s)

Add support for accessing `req` and `res` within Passport strategies, similarly to the way `ctx` i

[2021-05-11 04:25] acornellier opened #2330 "Globally enable suppressFirstRenderFlicker"
### What do you want and why?

I'd like to enable `suppressFirstRenderFlicker` for all pages by default. My website has some styling not know to the server, that can only be applied client-side. This feature is very useful for hiding a very obnoxious flicker.

Having to enable it manually for every single page is a little cumbersome.

### Possible implementation(s)

Perhaps in `blitz.config.js`?

[2021-05-11 19:53] flybayer commented on #2317
@carllippert same way. But if you have more than two dependent queries, you are much better off to make a new Blitz query resolver that returns all the data you need in one shot. This will result in better perf and better UX.

[code]

"Possibly undefined" is because that's the reality when a query is possibly disabled. You need to handle this. Example: if (not defined) throw error (or render loadi

[2021-05-12 11:53] MichaelBradetLegris commented on #1408
If anyone is still experiencing this, this fix worked for me:

blitz.config.js
[code]

Reference (in case the API changes):
https://blitzjs.com/docs/blitz-config#experimental

This will presumably get fixed when antd is up and running with the experimental react features. but this will have to do for now.

[2021-05-12 13:10] andreasasprou opened #2332 "Support optional disabling of server hot reloading"
### What do you want and why?

It's pretty frustrating when there are some common deps used in `server.ts` that are changed in a way that doesn't warrant a server reload in practice.

### Possible implementation(s)

[code]

[code]

[2021-05-12 15:34] Roesh opened #2333 "gitignored .env files do not show up in info log"
### What is the problem?

When running commands that display which .env files are loaded, we get the following logs:

info  - Loaded env from `<env file name>`
info  - Loaded env from `<env file name 2>`

By default, .gitignore ignores the following files:
[code]

Running `blitz dev` under this rule I see
[code]

If I then comment out the gitignores and retry, I get
[code]

Note that in either cas

[2021-05-12 15:59] acornellier commented on #2207
I'm getting the exact same thing on 0.34.3

[2021-05-12 16:06] Roesh commented on #2333
This log comes from [nextjs](https://github.com/blitz-js/blitz/blob/830e92e956f703f9cbe7053bb669439f403b1b3b/nextjs/packages/next-env/index.ts#L46)

I'm going to see if gitignored files not showing up is intentional in the nextjs docs, and work backwards from there about why the discrepancy exists

[2021-05-12 18:47] #2314 closed

[2021-05-12 20:42] noxify commented on #1935
@lksnmnn had the same challenge.

Until there is a permanent solution like `redirectUnauthenticatedTo`, you can add a

`router.push('/login')` inside the `else`.

Example:

[code]

[2021-05-12 21:04] lksnmnn commented on #1935
Alright, that fixes the issue for now. Thank you.

I might attempt to debug why the the queries fire before routing to "/login. I naively would expect the above code to do the mutation and then immediately route.

[2021-05-12 21:27] cj opened #2334 "You are trying to `import` a file after the Jest environment has been torn down."
### What is the problem?

If all tests are skipped jest throws an error.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. blitz new testapp
2. cd testapp
3. change `it` to `it.skip` in all tests.
4. run `yarn test`

### Run `blitz -v` and paste the output here:

[code]

### Please include below any

[2021-05-13 15:39] flybayer commented on #2329
### Implementation

Here's how I'm proposing to support this:

[code]

Will that work for you?

This is the line of code that needs changed: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/server/auth/passport-adapter.ts#L39

[2021-05-13 16:19] Roesh commented on #2333
Hmmmm, so I was fiddling around with the latest blitz version, and I don't see the behavior there... 0.35.0-canary.6 (local) I think I'll wait till that version comes and close this issue

[2021-05-13 17:58] dbachrach opened #2336 "Documentation Improvement: Page.authenticate implies Page.suppressFirstRenderFlicker"
### What do you want and why?

Based on this implementation:

[code]

The documentation for `suppressFirstRenderFlicker` can be improved to say that setting `authenticate` or `redirectAuthenticatedTo` on a Page component implies the `suppressFirstRenderFlicker` behavior. A user would only need to set `Page.authenticate = true` instead of:

[code]

### Possible implementation(s)

Update the `suppre

[2021-05-13 18:37] dbachrach opened #2337 "Page.authenticate should prevent the page component from rendering at all when user is not authenticated"
### What do you want and why?

[code]

When I load this page with a logged-out user, I would expect the `Home.authenticate = true` to restrict this component from even executing when there is not a current user. The actual behavior is:

[code]

I can add a guard for the no user case, which prevents the issue:

[code]

But it did not mesh with my understanding of Page.authenticate. From the docs:

[2021-05-13 19:13] flybayer commented on #2330
Good idea.

Let's add it via blitz config like this:

[code]

[2021-05-13 19:15] flybayer commented on #2332
Good idea!

Let's do the config like this:

[code]

[2021-05-13 19:20] flybayer commented on #2333
So although next.js supports loading `.env.local` files, we manually load those files using dotenv before invoking Next. The logs come from next.js which, as you said, doesn't include the gitignored files.

So those files are loading, just not being logged. This will be resolved once the next.js fork migration is complete

[2021-05-13 19:20] flybayer commented on #2336
Yes! PR Welcome!

[2021-05-13 19:24] flybayer commented on #2337
Thank you! You are right.

I forget why I put that in a useEffect, but I think it was because I was getting react hydration errors if we threw straight in the render function.

So this may take some fiddling and testing to figure out the best way to resolve it.

[2021-05-14 06:39] fernvilla opened #2339 "0.35.0-canary.6 New App - TypeError: Cannot convert undefined or null to object"
### What is the problem?

When generating a new blitz using version `0.35.0-canary.6` you receive this error: `TypeError: Cannot convert undefined or null to object`

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Update to latest canary version.
2. Attempt to generate a new blitz app.
3. Observer

[2021-05-14 08:07] okmr-d opened #2341 "Can't resolve modules placed in 'app/(. +)pages/' path"
### What is the problem?

This error has occurred when I tried to import 'app/web-pages/queries/getWebPages' module

<img width="975" alt="screenshot" src="https://user-images.githubusercontent.com/4679138/118236722-64f6ea00-b4d1-11eb-971d-b2b70fc39457.png">

I tried moving "app/web-pages" to "app/aaapages", but that didn't work.
I tried moving "app/web-pages" to "app/web-page", and it worked fine

[2021-05-14 08:53] Repomn opened #2342 "resolver.authorize() cannot transform an union type input"
### What is the problem?

Hi there.

Described the problem at the title, but I guess this is may be zod's problem.
Just a report.

Thank you!

### Paste all your error logs here:

partially formatted

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Make union schema via zod.union / zod.object().or() and so on.
2. throw this schema to r

[2021-05-14 08:59] Repomn commented on #2342
Now, my app is like the following code

[code]

[2021-05-14 15:21] #2339 closed

[2021-05-14 15:24] CarterMcAlister commented on #2329
@flybayer yes I believe so, thanks for pointing me in the right direction. I should have some time this evening to put up a PR for this change.

[2021-05-14 19:57] yogeshwar607 opened #2344 "Error while create-a-new-app steps in Introduction section"
### What is the problem?

For the first time setup from [blitzjs](https://blitzjs.com/docs/get-started#create-a-new-app) , using below commands  throws error

- blitz new myAppName
- cd myAppName
- blitz dev

Solution is after  running  prisma commands from [here](https://blitzjs.com/docs/cli-prisma)  , its works fine

Issue is very small & easy to fix but might be problematic for new users

### P

[2021-05-16 01:14] zebapy commented on #2227
I am still getting this issue on mac 11.3.1.

I ran `npm i -g blitz --legacy-peer-deps`

[code]

[code]

[2021-05-16 01:14] iooi opened #2348 "`routes` includes unnecessary files"
### What is the problem?

blitz routes parses unnecessary folders, for example `amplify`. Should only limit to `app` folder.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. run blitz  routes

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs a

[2021-05-16 06:43] marcnjaramillo opened #2349 "Avoid using Node 16 - will crash"
### What is the problem?

**Learned this the hard way. I hope this helps others avoid this problem.**

I needed to update Node to be able to install blitz, and I just ran `nvm install node` which installed Node 16. I was able to successfully install blitz, but when I tried to sign up I got a "TypeError - Failed to fetch" message in the browser, and the error message below in the console. It's real

[2021-05-16 20:42] embiem commented on #2162
I'm also interested in this. The current PR is difficult to me to get into, because of the huge change list. Is it still being worked on?

[2021-05-16 23:01] benbender commented on #1935
My solution ftm:
[code]

[2021-05-16 23:33] sakulstra commented on #2162
@embiem, sorry my branch just was behind canary a lot, inflating changes (just updated).

Still just playing with blitz on the weekend so i'm progressing extremely slow.
While it's "~still being worked on" i'd be more than happy with someone chiming in/picking it up :pray:!

Iirc i got stock here: https://github.com/sakulstra/blitz/pull/1/files#diff-29a4ffa429f282d408ff1e65bf1eed83611b2a0db1b48beb

[2021-05-17 00:07] markhughes commented on #2332
@andreasasprou did you want to implement this one? If not, @flybayer I could take this.

[2021-05-17 01:53] markhughes opened #2353 "Support nonce in BlitzScript"
### What do you want and why?
`<BlitzScript />` to take a `nonce`.

Currently `<NextScript />` can take a `nonce` but `<BlitzScript />` does not.

https://github.com/vercel/next.js/blob/canary/packages/next/pages/_document.tsx#L241-L244

### Possible implementation(s)

Add support to `blitz-script.tsx` for this optional prop and pass that to `NextScript` and `BlitzData`

### Additional context

Th

[2021-05-17 02:01] markhughes commented on #2353
Happy to take this one on for a quick implementation :)

[2021-05-17 06:36] lksnmnn commented on #1935
Neat! I am adding this right now.
It does feel unituitive but it solves the issue for me 👍 .

[2021-05-17 08:14] andreasasprou commented on #2332
Go ahead mate

[2021-05-17 08:40] benbender commented on #1935
@lksnmnn It should also work with `.then()` instead of `.finally()`. You could try smth like:

[code]

[2021-05-17 10:37] andreasasprou opened #2354 "Build config and custom server during `blitz build`"
### What do you want and why?

When creating a production Dockerfile, I don't want to include all my source files required to build `server.ts` (or `blitz.config.ts`!).

### Possible implementation(s)

**For custom server**
Build custom server during `blitz build` and use those built files when running `blitz start`:

- modify `getCustomServerPath` to include `.blitz/custom-server.js`
- modify `st

[2021-05-17 21:45] flybayer commented on #2341
Thanks for the report! Looks like a bug in our regex here: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/pages/index.ts#L8

And we need to add a test case for this in this file: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/pages/pages-path-transformer.test.ts

[2021-05-17 21:56] flybayer commented on #2342
Thanks for the report. Looks like an issue with our typing for authorize: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/server/resolver.ts#L273-L278

[2021-05-17 21:57] #2272 closed

[2021-05-17 21:59] flybayer commented on #2344
The solution is to manually run `blitz prisma migrate` and then run `blitz dev`.

However that shouldn't be needed. Probably there was an error during `blitz new`, but you didn't include that log in your post. Can you post that?

[2021-05-17 22:00] flybayer commented on #2227
@zebapy what blitz version? This is fixed in `0.35.0-canary.5`

[2021-05-17 22:02] flybayer commented on #2348
Oops, thanks for the bug report!

[2021-05-17 22:04] flybayer commented on #2349
Thanks @marcnjaramillo. Since this is a Prisma bug, I'll go ahead and close it. But it's here for anyone who searches for this in our repo

[2021-05-17 22:04] #2349 closed

[2021-05-17 22:07] remjx opened #2355 "sameSite=none in blitz.config.js breaks session.$create in development"
### What is the problem?

In blitz.config.js, when I set sessionMiddleware `sameSite: "none"`,  `ctx.session.$create` does not creating the necessary cookies to log when using `blitz dev`. This only affects local dev environment (`blitz dev`), it works as expected when deployed to Vercel.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are

[2021-05-17 22:14] flybayer commented on #2162
It's undefined on the client because the original query file is not included in the client build: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/rpc-client.ts#L200

So we'll need to take some other approach for getting that config to the client 🤔

[2021-05-17 22:14] flybayer commented on #2353
Sweet, all yours! @markhughes

[2021-05-17 22:27] flybayer commented on #2354
Makes sense!

We put blitz.config.js in `.blitz/` because we need the config before `.blitz/build/` is created.

The custom server could go inside `.blitz/build/` but that folder will go away once the next.js fork migration is complete. Which is why I put it just inside `.blitz/`.

### Implementation as I'm seeing it

1. Skip the build config step if command is `blitz start` here: https://github.c

[2021-05-17 22:28] flybayer commented on #2355
What url is it running on, `http://localhost:3000`?

[2021-05-17 22:40] #1972 closed

[2021-05-17 23:09] flybayer opened #2356 "Update to Zod v3"
### What do you want and why?

Zod v3 just released: https://twitter.com/colinhacks/status/1394326019855749129

[Read the Zod upgrade guide](https://github.com/colinhacks/zod/blob/master/MIGRATION.md)

- [x] We need to update our new app template to use v3: https://github.com/blitz-js/blitz/tree/canary/packages/generator/templates/app
  - I don't *think* there's any breaking changes but not sure b

[2021-05-17 23:17] remjx commented on #2355
Yes, localhost:3000

[2021-05-17 23:28] flybayer commented on #2355
Can you post your workaround in case anyone else has this before it's resolved?

[2021-05-18 00:08] remjx commented on #2355
added workaround to original post.

[2021-05-18 09:11] sebastianhoitz opened #2357 "HEAD requests cause 'Cannot read property '$authorize' of undefined'"
### What is the problem?

Blitz seems to have problems handling HEAD requests. In my app, every head request returns a 500 error.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Start the blitz app locally
2. Execute the curl command

### Run `blitz -v` and paste the output here:

[code]

### Pleas

[2021-05-18 12:42] zebapy commented on #2227
Ah yes I'm on ***@***.*** I'll try latest soon. Thanks!

On Mon, May 17, 2021 at 6:00 PM Brandon Bayer ***@***.***>
wrote:

[2021-05-18 13:55] Patil2099 commented on #2341
@flybayer I would love to help on this issue. Can you provide me examples of what strings should be accepted in the regular exp?

[2021-05-18 14:55] remjx opened #2358 "Route manifest not compatible with Page.authenticate "redirectTo""
### What is the problem?

When I try to do
[code]
I get the TypeScript error `error TS2322: Type 'RouteUrlObject' is not assignable to type 'string'.`

### What are detailed steps to reproduce this?

1. run `tsc`

### Run `blitz -v` and paste the output here:

[code]

[2021-05-18 15:27] Skn0tt commented on #2358
Seems very much related to https://github.com/blitz-js/blitz/pull/2243

[2021-05-18 17:08] andrei-scripcaru opened #2360 "Error: No QueryClient set, use QueryClientProvider to set one"
### What is the problem?

Is anyone experiencing the following error upon using `useQuery` / `useMutation`?

`Error: No QueryClient set, use QueryClientProvider to set one`

Error appears with both `latest` and `canary` Blitz version tags. Works well with `0.33.1`.

[2021-05-18 18:03] martenwallewein commented on #2227
Hey all,

I have the same issue with blitz version 0.35.0 (and same for 0.35.0-canary.6) while installing tailwind recipe to a blank blitz repo created via blitz new. Started with 0.34.3 and installed newer versions, does blitz perform some caching here that the error still exists?

[code]

[2021-05-18 21:01] cj commented on #2355
I am also running into the issue of the cookie not being set when `sameSite: "none"` is on in development when using ngrok.io.  The issue is when using `sameSite: "none"` the cookie has to be set to secure for it to work.

@flybayer can you expose the `secure` option for the cookie in the session middleware?

[2021-05-19 00:29] yogeshwar607 commented on #2344
@flybayer

Trying to replicate again , update blitz to `blitz: 0.35.0 (global)` , got another error

`blitz new` commands is successful with below output  , it created `blitz.config.ts` file but `blitz dev` is checking for `blitz.config.js`

<img width="1148" alt="Screenshot 2021-05-19 at 5 55 19 AM" src="https://user-images.githubusercontent.com/10059011/118739316-ce2a8480-b866-11eb-993f-c41fea24

[2021-05-19 06:14] medihack opened #2362 "Blitz 0.35.0 breaks Babel plugin "babel-plugin-transform-imports""
### What is the problem?

[As recommended by the Material UI team](https://material-ui.com/guides/minimizing-bundle-size/) I use [babel-plugin-transform-imports](https://www.npmjs.com/package/babel-plugin-transform-imports) to increase the build time in development mode. This worked quite well with Blitz 0.34.x (and faster than the other recommended alternative [babel-plugin-import]). Unfortunatel

[2021-05-19 14:36] remjx commented on #1935
The `router.push(Routes.HomePage)` before `logoutMutation()` workaround works for me after I disabled all redirect functionality on the homepage.

However the console is still logging these errors:

in `/node_modules/react-query/es/core/mutation.js`
[code]

in `/node_modules/next/node_modules/@babel/runtime/helpers/esm/asyncToGenerator.js`:
[code]

[2021-05-19 14:38] mabadir commented on #2356
Hi @flybayer, I will work on this one.

[2021-05-19 14:53] Roesh commented on #1935
When I got this error for my app, my workaround was similar to the manual redirect, but I didn't await the logout, and that seems to be working:

[code]

Is that a good idea? If so it could also be a workaround

[2021-05-19 14:53] flybayer commented on #2357
Yeah currently we are not adding session context on HEAD requests: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/server/auth/sessions.ts#L163

The reason was to minimize DB calls on a HEAD request, but I think it makes sense to remove that and run sessions for all http methods.

[2021-05-19 14:55] flybayer commented on #2341
@Patil2099 great! The regex should only match `/pages/` not `/web-pages/`, `/pages1/` or anything else besides an exact folder name of `pages`

[2021-05-19 14:56] #2358 closed

[2021-05-19 14:58] flybayer commented on #2360
Do you have `blitz/babel` set as the preset in `babel.config.js`? Sounds like you have `next/babel`, but it should be `blitz/babel`

[2021-05-19 15:53] Dipeshwagle commented on #2357
I really love blitz and was wanting to contribute in some way. So for this issue, we would just remove the HTTP method check right?

[2021-05-19 17:37] acornellier opened #2365 "Error when calling getSession from getServerSideProps after deployment"
### What is the problem?

Both 0.34.3 and 0.35.0 cause an error. It works fine in dev, it only fails in prod after I deploy with Vercel.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Call `getSession` from `getServerSideProps`
2. Deploy with Vercel

### Run `blitz -v` and paste the output here:

[2021-05-19 17:40] acornellier commented on #2365
Looks like I'm getting more errors on 0.35.0, even without `getServerSideProps`. For example, when trying to log in I get
[code]

Here's my `blitz.config.js`
[code]

[2021-05-19 18:55] bravo-kernel commented on #2227
Are we missing something obvious here?

Same issue here trying the chakra recipe using a pristine blitz `0.35.0-canary.5`  app.

[code]

[2021-05-19 20:11] medihack commented on #2362
Just for reference ... after some investigation, it seems that the configuration files of Babel are loaded differently in Blitz version 0.34.x and 0.35.0. I use the original `babel.config.js` and an additional `.babelrc.js` (as I got aome Eslint errors with the above code cause the template string expressions).
With Blitz 0.34.x I get the following messages while starting the dev server:
[code]
Bu

[2021-05-19 20:11] #2362 closed

[2021-05-19 20:40] andrei-scripcaru commented on #2360
Hey! Thanks for the reply, I've got `blitz/babel` and I rolled back everything to `0.33.1` to be able to work.

![image](https://user-images.githubusercontent.com/67165117/118881234-830e8100-b8fb-11eb-95a2-76430eced275.png)

[2021-05-20 14:31] lksnmnn opened #2368 "Query inside a custom ErrorBoundary is executed multiple times, before the fallback is rendered"
### What is the problem?

A ChildComponent executes a query, which throws a 404 NotFoundError. The ChildComponent lives inside an ErrorBoundary with its own fallback. The query is being retried at least 3 times before the boundary finally renders the fallback and calls its `onError` callback.

We chatted about this in a discordia help channel: https://discord.com/channels/802917734999523368/814628

[2021-05-20 19:22] nimashoghi opened #2370 "Dehydrated state serialization error"
### What is the problem?

#2281 made a change which makes it so that dehydratedState gets serialized using the default NextJS serialization method. This causes an error when we try to pass along data that is not JSON serializable (e.g., Date objects).

### Paste all your error logs here:

[code]
Linux 5.11 | linux-x64 | Node: v16.0.0

blitz: 0.35.0-canary.6 (local)

  Package manager: yarn
  Syste

[2021-05-20 20:00] nimashoghi opened #2371 "Blitz build fails with noPropertyAccessFromIndexSignature"
### What is the problem?

The code generation for queries/mutations updates the "config" export to set `api.externalResolver` to true. In doing this, it uses the following code snippet:
[code]

However, because `enhancedResolver.config` is of type `Record<string, any>`, the above code ends up producing a TS compile error when `noPropertyAccessFromIndexSignature` is true.

### Paste all your error

[2021-05-20 22:08] jesseweed commented on #2344
I ran into a similar problem, I was able to get it to work eventually, but here's my repro steps for posterity:

1. `yarn global add blitz`
2. `blitz new testapp`
3. Then I get this error straight away:
[code]

4. After that failing twice, I ran `touch blitz.config.js`
5. run `blitz new testapp` one more time
6. success!

So it seems that it's looking for a config file that's possibly incorrectly

[2021-05-20 22:42] jesseweed opened #2372 "Error: The cookie prefix used has invalid characters."
### What is the problem?

When creating a new app that has a `.` in the name (i.e.  `test.app`),  setting this as the `cookiePrefix` in `blitz.config.ts` throw the error `Error: The cookie prefix used has invalid characters. Only alphanumeric characters, "-"  and "_" character are supported`.

I was able to get it working but just changing the value of  `cookiePrefix` to just `testapp`, so not a b

[2021-05-20 22:51] flybayer commented on #2227
It seems the commonality now is Linux 🤔

[2021-05-20 22:53] flybayer commented on #2365
Sounds like it's the same issue as this: https://github.com/blitz-js/blitz/issues/794 Can you try the workaround there?

[2021-05-21 10:09] bravo-kernel commented on #2227
Not sure if this even matters but my Debian Linux runs inside the Windows Linux Subsystem.

[2021-05-21 10:13] benbender commented on #2370
Ran into the same issue and wanted to let you know about a (hacky) quick-fix.

As the famous parsing by superjson does seem to be missing, we are just adding it ourselves. Not nice, but at least it works for now until this is fixed.

[code]

[2021-05-21 11:55] juan-manuel-alberro opened #2374 "Focus issue?"
### What is the problem?

Hi,

Why every time the app gets the focus is calling the queries? I notice this with a paid service that I implemented (it has a limited quote of API calls), every time the app gets the focus it calls all the queries assigned to the component rendered.

I created a new app from the scratch and I can recreate the issue so is not only in my app

![issue](https://user-image

[2021-05-21 12:13] MichalBures commented on #2227
It's happening to me on Windows 10 as well. Installed the latest version with `--legacy-peer-deps`. Then the first thing I did after creating new blitz app was to install Chakra and it failed on the same error ` ERROR  Cannot read property 'useReducer' of null`.

[code]

[2021-05-21 14:25] acornellier commented on #2365
That worked, thanks!

[2021-05-21 17:49] benbender commented on #2295
Can confirm the bug by simply toggling via

[code]

in `blitz.config.ts`

[2021-05-21 19:34] benbender commented on #2342
@flybayer Would love to see this solved as this could enable discriminated unions (See https://www.typescriptlang.org/docs/handbook/unions-and-intersections.html#discriminating-unions). If this could be solved, we could have f.e. specific typings and schemas per role of a user and be much more explicit in those cases. Would love to see these cases supported!

[2021-05-22 15:38] mpftesta0 opened #2378 "forgotPassword.test.ts is getting a TS Error"
### What is the problem?

forgotPassword.test.ts is getting a TS Error (ts(2532)). This blocks pushing to a remote repository.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Create a new blitz app via `blitz new $APPNAME`
2. Go to `app/auth/mutations/forgotPassword.test.ts` in VSCode
3. Lines 49-5

[2021-05-22 18:32] mmalicki opened #2379 "blitz install chakra-ui fails"
### What is the problem?

The following command fails to execute on a new repo:
[code]
I'm also using fish shell, but haven't experienced any problems with that yet

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. create new blitz app
2. run `blitz install chakra-ui`

### Run `blitz -v` and paste th

[2021-05-23 04:09] fleck opened #2380 "name conflict"
### What is the problem?

building a wiki like application on blitz, the primary model for the application is "page". This resulted in the error:

[code]

found out it was because my queries/mutations folder were inside of pages (name collision with the special pages folder). Would it be worth adding a warning to the generator or adding some special suffix if there's a name collision with a "magic

[2021-05-23 11:46] Leigh-M commented on #21
I am still seeing: "Warning: start is not a blitz command." with blitz start - I do have blitz installed and run npm i

[2021-05-23 16:11] mabadir commented on #2356
Hello @flybayer; any thoughts of how best to test the changes? Should I bootstrap application under each template and write the test cases for a form?

[2021-05-24 00:48] craigglennie commented on #2227
Also happening to me on MacOS, on a brand-new app, with the Chakra and Material UI recipes

[code]

[2021-05-24 11:07] benbender commented on #1918
If this is extended anyways, it would be super nice to support Roles too. So that I could do

[code]

Instead of

[code]

Role based auth-checks are possible nearly everywhere afaik in the framework and the exception is quite counter-intuitive...

[2021-05-25 01:14] remjx opened #2387 "Error: Cannot find module 'next/constants' in Vercel deployment"
### What is the problem?

`blitz build` fails in Vercel but suceeds locally and in CI.

Similar issue: https://github.com/blitz-js/blitz/issues/2195

### Paste all your error logs here:

Relevant logs from Vercel:

[code]

### What are detailed steps to reproduce this?

 `blitz build` in Vercel

### Run `blitz -v` and paste the output here:

[code]

[2021-05-25 01:41] ajwgeek commented on #2387
I am experiencing a similar issue, but with the "next" package and Cloud Run. I was in the process of upgrading to 0.35, but I don't have many clues beyond that yet :/. I will certainly check back if I can get this solved!

[2021-05-25 13:49] remjx commented on #2387
Looking back at my Vercel deployment history it was definitely caused by something during the upgrade from 0.34 to 0.35.

I'm trying to pinpoint it now.

[2021-05-25 14:26] remjx opened #2388 ""TypeError: Cannot read property 'asPath' of null" during Vercel build"
### What is the problem?

Build step fails in Vercel deployment.

Note: This is only after installing `next` as a dependency as described here https://github.com/blitz-js/blitz/issues/2387

### Paste all your error logs here:

[code]

A similar error is generated for each page it's trying to prerender.

### What are detailed steps to reproduce this?

`blitz build` in Vercel

### Run `blitz -v` and

[2021-05-25 14:28] remjx commented on #2387
Installing `next@10.2.0` as a dependency resolves this error, but the build is still failing with other errors. I've created a separate issue for the new errors: https://github.com/blitz-js/blitz/issues/2388

If `next` is required as a dependency for Vercel deployments, should we update the "Deploy Serverless to Vercel" guide in the docs?

Should I keep this issue open in case there is another sol

[2021-05-25 15:40] #2357 closed

[2021-05-25 16:02] flybayer commented on #2387
Yeah keep this open. Installing next as a dependency will likely break in unexpected ways. Could be an issue with Vercel. I'll try to look into this soon (this week)

[2021-05-25 16:04] flybayer commented on #2388
Is this after you added `next` as a dependency of your app?

[2021-05-25 16:23] flybayer commented on #2360
Ok you should be able to upgrade to 0.35.0. Just make sure to address all breaking changes in the release notes.

[2021-05-25 16:25] flybayer commented on #2368
Thanks!

For whoever wants to look into this, this function (https://github.com/blitz-js/blitz/blob/canary/packages/core/src/utils/react-query-utils.ts#L23-L30) should be defining the query retry behavior. But it seems that maybe that function isn't even being used? Idk, but that's the place to start.

[2021-05-25 16:39] remjx commented on #2388
Yes, sorry I forgot to include that little tidbit.

[2021-05-25 16:45] flybayer commented on #2388
Ok, then closing as unsupported. Will fix the underlying issue

[2021-05-25 16:45] #2388 closed

[2021-05-25 16:47] flybayer commented on #21
@Leigh-M if you have an issue, you need to either open a new issue or ask for help in the Blitz discord. This issue was closed over a year ago 😅

[2021-05-25 16:58] flybayer commented on #2387
I think the temporary workaround is to change your install command in the Vercel project settings to be `rm -rf node_modules && npm install`

[2021-05-25 17:04] benbender commented on #2378
Just checked with a clean project on 0.35 and can confirm the bug. And typescript is correct as `const token = tokens[0]` can be either `Token | undefined`. Simple fix would be to force TS into a Non-null assertion by setting `const token = tokens[0]!`. What I don't get is why it didn't error before?

[2021-05-25 17:47] ajwgeek commented on #2387
Same situation on Cloud Run. It's as if the node modules folder isn't being created from `npm install` even though there are no errors.

[2021-05-25 18:01] #2371 closed

[2021-05-25 20:00] #2344 closed

[2021-05-25 20:33] lksnmnn commented on #2374
I think this is expected behaviour and an intentional feature. This irritated me once too, but you can read more about this here: https://blitzjs.com/docs/use-query#options

You can change the behaviour per query using the options: `refetchOnWindowFocus`

[2021-05-25 21:03] lksnmnn commented on #2368
Yes, I added a console log and this retry callback is actually not being called in this case. This seems to be an issue in `react-query` then? I've just skimmed through some issues and it seems that there are more subtle issues with `react-query` that explain some of the bugs we are currently seeing in blitz.

[2021-05-25 21:30] mabadir commented on #2354
Hey all, I am picking up this issue, and will work on it.

[2021-05-25 22:43] lksnmnn commented on #2368
Hm. The more I look at the code the weirder it gets. I dont think that it actually does retry the fetch request (network tab shows only a single request) but it runs through the useQuery -> useBaseQuery() code multiple times during render and then just throws the error multiple times, everything else seems to work correctly ?!

If `suspense` is `false`, then it won't even render the error fallback

[2021-05-26 07:42] MrLeebo opened #2395 "Automatic Static Optimization causes hydration warnings for pages with query string parameters"
### Simple Repro: https://codesandbox.io/s/misty-lake-dwvg7

### What is the problem?

If a page invokes the `useRouterQuery()` hook, it will generate a hydration warning when you visit the page. This is because Automatic Static Optimization is performed on all pages in Blitz by default, unless the page performs Server Side Rendering.

Say we have the query string `?name=John+Doe` and we render `<

[2021-05-26 19:16] benbender commented on #2395
Imho the described behaviour isn't a bug, but intended and expected.

Nextjs explicitly states "It [query] will be an empty object during prerendering if the page doesn't have data fetching requirements." (See https://nextjs.org/docs/api-reference/next/router).

If there is a bug, it's that `name` is an empty string on serverside and not `undefined` as `router.query.name` of `next/router` would be

[2021-05-26 21:17] flybayer commented on #2344
This should be fixed in https://github.com/blitz-js/blitz/releases/tag/v0.35.1

[2021-05-26 21:34] #2378 closed

[2021-05-26 21:54] kevinlangleyjr commented on #2379
@mmalicki I tried to replicate this both with my default shell, `zsh`, and even after installing and using `fish`, but both times I was able to install the `chakra-ui` recipe without any issues.

Was there any more information you can provide? Maybe a line number where the `SyntaxError` was at?

Any further information would be helpful in figuring out what went wrong here. Thanks! :)

[2021-05-27 03:06] mabadir commented on #2380
Hello @fleck; thanks for reporting this issue, I was able to replicate it as well. Your proposal to throw error when using a reserved name for model name, sounds like a good approach.

[2021-05-27 03:11] mabadir commented on #2380
Here is a proposed implementation:

1. Introduce a list of reserved keywords to https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/generate.ts
2. Check if the model name matches any of the entries in this list here; and throw error: https://github.com/blitz-js/blitz/blob/632df973423a6df3dde5313bfea28837c1e4ae6d/packages/cli/src/commands/generate.ts#L196
3. Update the docs to h

[2021-05-27 07:00] frankiesardo opened #2399 "Authenticate page based on user role"
### What do you want and why?

Blitz offers a way to secure frontend pages out of the box with

[code]

Which is very convenient when you want to ensure the user is logged in.

Another common use case is to secure certain pages for `admin` use only, but that currently is not supported and must be done manually via `useSession`.

It would be great to have a shorthand way to specify which pages are

[2021-05-27 07:41] bravo-kernel commented on #2227
Just upgraded to `0.35.2` as well but unfortunately that does not resolve installing any of the recipes (`chakra-ui` or `material-ui`).

[2021-05-27 10:46] AntoineGuestin opened #2400 "Error: blitz tried to access cross-spawn but it isn't declared in its dependencies with yarn 2.4.1"
### What is the problem?

I tried to install blitz with yarn version 2.4.1 (`yarn dlx blitz`), and I received this error message :
[code]
and I don't see cross-spawn listed in the dependencies of the package.json file (https://github.com/blitz-js/blitz/blob/v0.35.2/packages/blitz/package.json)

See the complete message below.

Thank you :)

### Paste all your error logs here:

[code]

### Paste al

[2021-05-27 14:06] kevinlangleyjr commented on #2374
It looks like this is documented and expected behavior here based on the documentation link from @lksnmnn. I think we're good to close this, but if you're still experiencing issues please file another issue @juan-manuel-alberro 🙂

[2021-05-27 14:06] #2374 closed

[2021-05-27 17:34] antonykamp opened #2401 "Queued queries starts after logout one last time"
### What is the problem?

hey :)

I have a query with a refetchIntervall, which should only run if the user is logged in. The problem is that after logging out, the query starts one last time.

It looks like a queued query call is executed although it should no longer.

### Paste all your error logs here:

I don't have an error message except for the thrown AuthenticationError :)

### Paste all re

[2021-05-27 19:17] acornellier commented on #2365
OK, turns out that fixes part of the problem, which is using `getServerSideProps` + `getSession` with vercel. But there's something else going wrong with 0.35, that causes either `Cannot read property 'sameSite' of undefined` or `Error: Missing Blitz sessionMiddleware!`

[2021-05-27 20:23] Talor-A opened #2403 "add READMEs to blitz recipes"
### What do you want and why?

it's not very easy to understand what each recipe in the blitz recipe directory does without browsing the source of each one :( . It would be nice to have READMEs in each one, giving a quick overview of what the recipe does and links to more documentation.

As an example, `gh-action-yarn-postgres` : the package.json description (the first place I'd check when I didn'

[2021-05-27 20:45] #2387 closed

[2021-05-27 21:53] chronark opened #2405 "Default error boundary does not catch authentication error on firefox correctly"
### What is the problem?

The default error boundary in `_app.tsx` does not catch a thrown AuthenticationError properly.

The Login form gets rendered properly and an Unhandled Runtime Error gets thrown immediately. See screenshot below.

I was able to reproduce this on ubuntu with firefox `88.0.1` in dev mode (`yarn dev`)
A production build or with chrome works as expected.

### Paste all your er

[2021-05-27 22:03] remjx commented on #1935
This doesn't address the root cause, but I think I prefer the following pattern over the previous mentioned workarounds:

Instead of triggering logout from the client side, create `pages/logout.tsx` that deletes the user session on the server then execute a server side redirect to homepage.

[code]

This ensures the user session is revoked before any additional changes are triggered on the front e

[2021-05-27 22:37] flybayer commented on #1935
The `CancelledError` part of this is fixed in https://github.com/blitz-js/blitz/pull/2406. That fixes `.then` not working correctly and `router.push` not working right after a logout mutation.

Now I'm looking into the original issue of this thread which is `Page.authenticate.redirectTo` not working on logout with suspense.

[2021-05-27 22:41] #2207 closed

[2021-05-28 11:16] frankiesardo opened #2407 "Blitz generate --parent creates problems with nested routes"
### What is the problem?

We have two simple models:

[code]

The first one is generated as `blitz generate all project` and the second as `blitz generate all task --parent project`

There seems to be a problem in the navigation for the nested entity, in particular:

[code]

The problem is that the result of `const projectId = useParam("projectId", "number")` is `number | undefined` but the router

[2021-05-28 13:12] kyashrathore commented on #2372
if you initiated your app with some name like `new.app` it adds a cookie prefix in blitz.config.js file you can change the dot something like underscore or dash.

[2021-05-28 15:11] #2353 closed

[2021-05-28 16:35] #2294 closed

[2021-05-28 20:07] flybayer commented on #2400
Thank you!! I'm fixing now

[2021-05-28 20:10] flybayer commented on #2380
@mabadir are you working on this? Checking because you moved it to in-review but you didn't assign yourself and it's not linked to a PR

[2021-05-28 20:11] flybayer commented on #2370
Thanks for the report @nimashoghi!

@Skn0tt, @MrLeebo you two worked on the PR that broke this — do you have a suggested fix?

[2021-05-28 20:14] mabadir commented on #2380
Yes, I will work on it. Assigning to myself now.

[2021-05-28 20:16] #2356 closed

[2021-05-28 20:18] #2400 closed

[2021-05-28 20:28] flybayer opened #2412 "Update our form templates to use new Zod error feature"
### What do you want and why?

Currently [our `<Form>` templates](https://github.com/blitz-js/blitz/tree/canary/packages/generator/templates/app/_forms) use [`error.formErrors.fieldErrors`](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/_forms/formik/Form.tsx#L40) to report zod form errors.

But this doesn't work with nested objects in the form, so we need to update

[2021-05-28 20:28] flybayer commented on #2356
This wasn't fixed in that PR, so opened a new issue for it: https://github.com/blitz-js/blitz/issues/2412

[2021-05-28 21:01] #2227 closed

[2021-05-28 21:18] flybayer commented on #2387
Ok please try https://github.com/blitz-js/blitz/releases/tag/v0.36.2 — hopefully fixed!

[2021-05-28 21:19] flybayer commented on #2227
This should be fixed in https://github.com/blitz-js/blitz/releases/tag/v0.36.2! Please let me know if it's not

[2021-05-29 04:05] MrLeebo commented on #2395
I get what you're saying, but Blitz.js isn't Next.js and the goals of the projects aren't necessarily the same. Blitz is, at least partially, defined by what it builds on top of the foundation laid by Next. In particular, the promises of No-API and eliminating the friction between the client-side and server-side portions of your application.

Those promises are broken if something as pedestrian as

[2021-05-29 04:08] MrLeebo commented on #2403
Great idea!

[2021-05-29 04:10] MrLeebo commented on #2399
Great suggestion!

[2021-05-29 05:23] MrLeebo commented on #2370
@benbender @flybayer The fix we implemented was to exclude the entire `dehydratedState` object from being serialized by superjson, but I think we can resolve this by excluding the `.dehydratedState.queries[n].queryKey` part specifically. That will prevent the query key from getting missed in the query cache without compromising its ability to serialize non-JSON stuff in the output data.

[2021-05-29 07:28] frankiesardo opened #2413 "[RFC] Nested model pages should avoid double id on path"
### What do you want and why?

When you call `blitz generate pages task --parent project` it creates the following files:

[code]

I think it's a mistake to rely on a double id (projectId and taskId) for a resource, unless its unique key is a combination of the two keys. Listing and creating tasks requires a `projectId` so the routes are correct as they are, but showing and editing a task only nee

[2021-05-29 07:29] frankiesardo commented on #2407
Related issue that could be addressed while touching this #2413

[2021-05-29 10:01] benbender commented on #2395
To be honest, I don't think thats a good idea. It would introduce "magic" instead of "convention over configuration". One would also need to parse the request-object somewhere to extract the querystring. If you already have `getServerSideProps()` defined, it would need to wrap or patch that method etc etc...

Besides implementation-problems, I have to say that I don't see the benefit of the (arbit

[2021-05-29 19:17] ekawatani opened #2414 "npm run build doesn't work"
### What is the problem?

I just upgraded to v0.36.2, but it seems that `npm run bulid` no longer works. It looks like the upgrade of zod to v3 may be related. I can also see in VSCode it complains `omit` is not available.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

N/A

### What are detailed steps to reproduce this?

1. `npm install blitz --legacy-pee

[2021-05-29 21:00] paulm17 opened #2415 "Yarn: Problem with installing new instance when global installation already exists"
### What is the problem?

Blitz not installing when yarn global version already installed.

Additionally when the previous version option is installed.  The latest Blitz is actually installed, but the previous version packages are installed and doing a blitz -v shows none of the dependencies showing.  So it's a broken install.

Making this issue, as another user created a similar topic in discord.

[2021-05-29 21:06] danestves opened #2416 "Third party recipes aren't found with Blitz v0.36.2"
### What is the problem?

With the latest version of Blitz i tried to install third party recipes but the script says that could not find remote recipe
![image](https://user-images.githubusercontent.com/31737273/120084664-03717680-c0a0-11eb-9837-5a454aa8ab3d.png)

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reprodu

[2021-05-29 21:22] flybayer commented on #2414
Thank you for the report!

I'm fixing in our template, but here's the solution:

[code]

[2021-05-29 21:23] #2414 closed

[2021-05-29 21:42] flybayer commented on #2395
I agree with @benbender that we shouldn't automatically opt into SSR. That's a big change to I feel devs should make themselves.

As for the hydration warning, the proper fix is to initialize `query` result as undefined on first render.

This is a fair point. Personally I don't have a strong feeling either way. Feel free to post an RFC in our GH discussions to revert to same behavior as Next.js to

[2021-05-29 21:43] flybayer commented on #2342
@benbender sounds good! PRs welcome on this one (as always :)

[2021-05-29 21:45] flybayer commented on #1918
@benbender I 100% agree. The implementation is going to be complex which is why I didn't add it on the first pass

[2021-05-29 21:47] flybayer commented on #2368
This is correct behavior

This does seem suspicious 🤔 . If it's a RQ issue, then next step is to make a failing RQ test and open an issue over there with it

[2021-05-29 21:50] flybayer commented on #2401
Could you test this in https://github.com/blitz-js/blitz/releases/tag/v0.36.2? Because we made a fix that may affect this.

[2021-05-29 21:52] Anjianto commented on #2416
@danestves Hmmm.... I can install this recipe with the same version of Blitz. But i don't if this install with macOS, i use Linux Ubuntu and it still good. Maybe you can try with nisaju/auth-tailwind, it also work for me. And maybe someone can try if use macOS

Sir, @flybayer can you try this, please?

[2021-05-29 21:56] flybayer commented on #2405
Thanks for issue!

[2021-05-29 22:12] flybayer commented on #2372
Thanks @jesseweed, you are absolutely right we should automatically replace invalid characters.

### How to fix

1. Add a new field [here](https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/generators/app-generator.ts#L41) called `safeNameSlug` that takes appName but replaces any invalid chars with `-`
   1. [Here's the regex](https://github.com/blitz-js/blitz/blob/canary/package

[2021-05-29 22:15] flybayer commented on #2413
Thanks @frankiesardo, this does make a lot of sense. I'll post this around to get others input. If others agree, I'm good with making this change.

[2021-05-29 22:18] #2405 closed

[2021-05-29 22:20] flybayer commented on #2407
I think we change the generated route manifest to accept undefined to make this a better DX.

Here's the code to change for that: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/route-import-manifest/route-import-manifest.ts#L70-L73

[2021-05-29 22:44] #2416 closed

[2021-05-29 22:45] #2365 closed

[2021-05-29 22:47] flybayer commented on #794
Note: as of version 0.35, this changed as follows:

[code]

[2021-05-29 22:50] flybayer commented on #2365
Fixed in https://github.com/blitz-js/blitz/releases/tag/v0.36.3!

[2021-05-30 00:17] waptik commented on #2413
I second this suggestion.
Also with url, it makes it messy if your ids are uuid &co, you'll get a very long(just my opinion).

[2021-05-30 08:58] antonykamp commented on #2401
Sorry :/ it still does not work, unfortunately.
(I updated the branch https://github.com/antonykamp/entel/tree/find-logout-bug)

[2021-05-30 11:45] bravo-kernel commented on #2227
Confirming that this is indeed fixed. Thank you sir, much ❤️

[2021-05-30 13:13] RhnSharma commented on #2407
I would like to take this one.

[2021-05-30 15:01] madflow opened #2421 "Prisma @@map in Enums break the model generator"
### What is the problem?

With version `0.34.3` and a Prisma file containing:

[code]

I was able to generate models with `blitz g model sth`.

Starting from Version `0.35.0` this is not working anymore.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Add

[code]

to db/schema.prisma

2. Generate a

[2021-05-30 15:19] madflow commented on #2421
I created an upstream issue, too: https://github.com/MrLeebo/prisma-ast/issues/2 - after logging this issue and doing a little bit more digging.

[2021-05-30 18:45] remjx commented on #2401
I think polling login status on an interval is an anti-pattern. Can you explain your use case?

[2021-05-30 19:07] remjx opened #2423 ""TypeError: Cannot read property 'asPath' of null" on pages with useRouter during static prerendering"
### What is the problem?

My project builds successfully locally (Windows 10) and in production (Vercel), but in CI (GitHub Actions, Ubuntu 20.04.2) I am getting this error during the static prerendering phase:

[code]

I'm not sure how applicable this is, but for completeness, note that my local environment and CI are installed & built with my blitz app as part of a lerna monorepo but no dependen

[2021-05-30 22:23] Skn0tt commented on #2413
Hi @frankiesardo! Great RFC, some thoughts on it:

I don't think REST principles are relevant in this case. These paths are about what *users* see, not about closely mirroring the database schema.
Take a look at GitHub URLs, for example. This issue is available at `/blitz-js/blitz/issues/2413`. It contains `/issues`, but that's actually not necessary to show the page! If you went to `/blitz-js/bli

[2021-05-30 23:13] frankiesardo commented on #2413
Hey @Skn0tt thanks for your comments! I've added some further consideration.

Take a look at GitHub URLs, for example. This issue is available at /blitz-js/blitz/issues/2413. It contains /issues, but that's actually not necessary to show the page! If you went to /blitz-js/blitz/pull/2413 instead, it'd have redirected you to the same page.

Absolutely agree on your point about REST principles: we s

[2021-05-31 04:14] Skn0tt commented on #2413
Regarding the `/blitz-js/blitz/issues/2413` example, I tried to emphasise on the `/issues/[ticketNumber]` part. Issues, Pull Requests and Discussions are labeled in one consecutive series. If you have their Ticket Number (e.g. 2413 for this issue), it doesn't matter wether you go to `/issues/2413`, `/pulls/2413` or  `/discussions/2413`. Thus, the prefix (`/issues`, `/pulls`, `/discussions) doesn't

[2021-05-31 06:02] antonykamp commented on #2401
Hm.. oke :D
In my use case, I want to fetch the users' groceries-lists from a database regularly (because they can change their status). Calling the query should only be possible if the user logged in.

[2021-05-31 08:05] andrei-scripcaru commented on #2360
Thanks!

[2021-05-31 08:05] #2360 closed

[2021-05-31 08:20] frankiesardo commented on #2413
Thanks for rephrasing both my point and yours, they're much clearer now.

Yes, I think if there was a way to generate a tightly coupled `--parent` relationship via blitz it would be the ideal solution. This is kind of what I was expecting when I hit enter.

The trouble is, I don't think it's that easy and requires a lot of wiring up, so I wasn't disappointed to see the generated model use autoincr

[2021-05-31 10:20] AntoineGuestin opened #2425 "Debug isn't declared in its dependencies"
### What is the problem?

It seems that some other's dependency are required for yarn berry, but they aren't declared.

I don't see debug listed in the dependencies of the package.json file (https://github.com/blitz-js/blitz/blob/v0.36.3/packages/blitz/package.json)

I opened a PR to fix it, but I always have an error :
[code]

Thank you :)

### Paste all your error logs here:

[code]
`/private/va

[2021-05-31 12:21] remjx commented on #2401
Look into `cacheTime` and `staleTime` options on useQuery, they might be more appropriate but I haven't played with them to understand how they work.

Also keep in mind the user session cookie has an expiration that you can change.

I think refetchInterval is overkill because refetchOnWindowFocus is enabled by default, and I think this would catch the scenario of data changing 99.999%+ of the time

[2021-05-31 20:40] swinner2 commented on #2412
Was looking at this one. It looks like `error.format()` returns a formatted error object like
`{ _errors: [], email: { _errors: [ 'Invalid email' ] } }`. Final-form expects an error object like `{ email: 'Invalid email'  }` . So does this task involve transforming the new zod object to be compatible with final-form/formik?

Also, for `react-hook-form` it looks like those steps are already done to

[2021-05-31 23:44] swinner2 commented on #757
Looks like these files have been moved around @flybayer

[2021-06-01 00:56] LikeCarter opened #2428 "cookiePrefix not working in production builds"
### What is the problem?

Wow. This was a full 5 days of debugging.

You cannot authenticate in production builds of blitzjs. The client side cannot find the correct public data cookie.

It seems that the cookiePrefix setting in `blitz.config.ts` is not actually implemented properly in production builds (for some reason?).

Leading to all kinds of mysterious auth errors.

### Paste all your error

[2021-06-01 03:41] remjx commented on #2423
Just had a passing build so doesn't seem like a Blitz issue. Not sure what caused this. Closing for now. Will report back here with any findings.

[2021-06-01 06:50] antonykamp commented on #2401
Thank you @remjx 🙏 Your hints were very helpful! I thought earlier that `staleTime` and `refetchInterval` are "the same thing". But that's not correct, because when I use `staleTime` the described errors don't occur! 🥳

But why do these occur when I use `refetchInterval`? 🤔

[2021-06-01 12:50] william-scalexp opened #2429 "Running full stack tests against a connected DB."
### What do you want and why?
BlitzJS looks amazing and I love the work done in bridging the frontend/backend.

What would make BlitzJS even more awesome is the ability to  connect frontend tests against
a test database instead of using mocks.

Why would this be amazing?
- Test the frontend against a realistic backend.
- Test the exposed backend queries with realistic calls from the frontend.
- Fa

[2021-06-01 13:15] remjx commented on #2401
https://react-query.tanstack.com/guides/caching explains how cacheTime and staleTime works. I think you'll want to leave them at default values actually.

[2021-06-01 16:22] remjx commented on #2423
So this error happens in CI when my Lerna monorepo leaf package versions are set in the leaf package-lock.json files (I had to do this to get deployment to work, but didn't realize it was breaking CI). My solution for now is to continue to generate lockfiles with `lerna bootstrap` (which does not put leaf packages in package-lock.json) and in deployment/Vercel change the install script to first ru

[2021-06-01 16:22] #2423 closed

[2021-06-01 16:45] YukioSenpai commented on #2279
Hello guys, any updates on this issue ?

[2021-06-01 19:05] flybayer commented on #2415
Thanks! Can you clarify if you are running `blitz new myApp` to create a totally new app or are you running `blitz new myExistingApp` to upgrade an existing app?

For whoever wants to work on this, the code for this is here: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/new.ts#L87-L121

[2021-06-01 19:15] flybayer commented on #2421
Thanks @madflow!

Solution is fix in the upstream dependency and then update that dependency in the Blitz code.

[2021-06-01 19:24] paulm17 commented on #2415
I'm running blitz new myApp

[2021-06-01 19:24] flybayer commented on #2412
Yes

Ah, yes you are right!

[2021-06-01 19:46] flybayer commented on #757
@swinner2 original issue updated!

[2021-06-01 19:55] NaseerAkbari opened #2431 "at=error code=H10 desc="App crashed" status: 503"
### What is the problem?

I have published the app on Heroku and it just showed me such errors.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

firs logs are here:
`2021-06-01T18:56:08.484038+00:00 app[web.1]: npm ERR!
2021-06-01T18:56:08.484227+00:00 app[web.1]: npm ERR! Failed at the nsr@1.0.0 start:production script.
2021-06-01T18:56:08.484410+00:00 app

[2021-06-01 19:57] flybayer commented on #2428
Hey @LikeCarter, sorry, that sounds super painful 😬

I just tested and cannot reproduce locally with `blitz build && blitz start`.

Are you reproducing locally? Or is this only happening on a cloud provider? If so, which?

[2021-06-01 19:58] #2431 closed

[2021-06-01 20:03] swinner2 commented on #2412
Looks like something like this would work
[code]
I'm not an expert on js at all so I'm not sure if this is the best way to transform an object. Would this transform code go into some kind of util we can import? If so, where would that util go?

[2021-06-01 20:05] #2425 closed

[2021-06-01 21:19] #2429 closed

[2021-06-01 21:25] #2372 closed

[2021-06-01 21:29] flybayer commented on #2423
If you can, I highly recommend not using lerna for the monorepo linking. Instead use yarn or npm workspaces. You can still use lerna for running scripts with this setup.

[2021-06-01 22:34] flybayer opened #2434 "Change all user facing references of "next.js" to "blitz.js""
### What do you want and why?

As we move towards full integration of the next.js fork, we need to change all user facing references to "next.js" to Blitz.

### Possible implementation(s)

Search through all the code inside `nextjs/packages/next/` folder and make the following changes:

- `next.config.js` -> `blitz.config.js`
- `Next.js` -> `Blitz.js`
- All CLI commands. Example: `next start` -> `

[2021-06-01 22:37] flybayer commented on #2279
Update! The solution is remove the `sessionMiddleware` import from `blitz.config.js`. That's not compatible with `blitz export`

I've just opened a PR that adds a helpful error for this case.

[2021-06-01 22:44] flybayer commented on #2412
Yes I think so. You could put it in `packages/core/src/utils/index.ts`.

Make sure it works with nested form data too.

Actually, you might can copy most of the code from here: https://github.com/react-hook-form/resolvers/blob/master/zod/src/zod.ts

[2021-06-02 00:55] vjpr opened #2436 "Dependencies missing prevents pnpm working"
### What is the problem?

When `blitz` is install as a dev dependency in a project using `pnpm`, there are many dependencies missing.

This is probably because blitz relies on dependency hoisting in `yarn`.

These need to be added:

- minimist
- debug
- tslib
- babylon

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

...

### What are detailed steps to repr

[2021-06-02 01:15] vjpr opened #2437 "`Error: @prisma/client did not initialize yet` when using pnpm"
### What is the problem?

[code]

`@blitzjs/core` depends on `@prisma/client`, but in pnpm this doesn't resolve to the local project `node_modules` which is where `prisma generate` puts it.

This is caused mostly by prisma's practice of placing generating code into a project's `node_modules` dir.

The fix is usually to set the prisma client generated location in `schema.prisma`. Something like thi

[2021-06-02 07:39] NamamiShanker commented on #2434
I'll take up this issue

[2021-06-02 11:42] ashikka commented on #2434
Hey! I was already working on this. Can you review my PR?

[2021-06-02 16:21] vjpr commented on #2437
I didn't see `db`...

[2021-06-02 16:21] #2437 closed

[2021-06-02 16:41] flybayer commented on #2436
`debug` was just added in #2426. And I've just opened https://github.com/blitz-js/blitz/pull/2439 to add `minimist`, `fs-extra`, and `semver`.

The other deps you listed are already included properly as dependencies of `@blitzjs/core` which `blitz` includes.

So test this in the next release and then report back if there's still any issues.

[2021-06-02 17:11] #2279 closed

[2021-06-02 17:23] flybayer commented on #2436
👉 https://github.com/blitz-js/blitz/releases/tag/v0.36.4

[2021-06-02 21:53] merceyz commented on #2436
If what you mean by that is that because `@blitzjs/core` depends on them the others doesn't have to then that's not how it works, see this explainer on hoisting for more details https://yarnpkg.com/advanced/rulebook#packages-should-only-ever-require-what-they-formally-list-in-their-dependencies

[2021-06-02 23:16] acornellier opened #2440 "Image domain error when using SSR"
### What is the problem?
https://codesandbox.io/s/heuristic-frog-qzvhy?file=/blitz.config.js

When I use `getServerSideProps`, and I render an `<Image />`, an error is thrown that says
[code]

But I definitely have the domain configured in `blitz.config.js`
[code]

Interestingly, it works after deploying with Vercel...

### Paste all your error logs here:

[code]

### Paste all relevant code snipp

[2021-06-03 00:49] Roesh commented on #2440
I ran into this same issue when I was working on the Blitz docs. Locally it didn't work, but when Vercel bot made a preview deployment it worked:
https://github.com/blitz-js/blitzjs.com/pull/474#issuecomment-839672652

[2021-06-03 11:38] ormarek commented on #2428
@LikeCarter can you post your actual config here? I've also tried it and wasn't able to reproduce issue

[2021-06-03 13:39] AxDSan opened #2442 "Error when installing Passport Twitter Auth in NPM - ERR! No matching version found for next@10.2.3-0.36.3."
### What is the problem?

I'm trying to complete the passport authentication guide, but I'm unable to complete this as `passport-twitter` fails to install in my system.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Install Blitz with: `> npm i -g blitz --legacy-peer-deps`
2. Make a new app projec

[2021-06-03 13:47] AxDSan commented on #2442
Solved this by doing: `> npm update`

[2021-06-03 13:47] #2442 closed

[2021-06-03 20:19] flybayer commented on #2413
Looks like there are no objections to this change, so let's do it! Ready for someone to work on.

[2021-06-04 02:17] dangreaves commented on #1935
Just thought I would throw in my temporary solution to this for anyone experiencing the same problem with logout and suspense. Building upon the separate "logout" page solution which @remjx provided, I have instead put together an actual page which runs the mutation.

It does not redirect the user anywhere, rather just provides a "You have been logged out" message, which you could add a "Back to a

[2021-06-04 11:46] lksnmnn opened #2448 "antiCSRF cookie gets set to "undefined" when using $setPublicData inside of getServerSidePorps"
### What is the problem?

When updating a user's session data inside of `getServerSideProps` using `session.$setPublicData` somehow the antiCSRF cookie value is being set to `"undefined"` resulting in a CSRF error which can only be resolved by deleting the session cookie and log in again.

Reproduction repository: https://github.com/lksnmnn/blitz-gssp-csrf/commit/39ccd2a379eb2893e5362e9e0fb52ecdac

[2021-06-04 11:58] lksnmnn opened #2449 "Add a setPublicData(userId, publicData) API to update active user sessions (i.e. update a user's role)"
### What do you want and why?
I want to be able to update publicData in users' sessions, such that the changes are reflected and used, when the user is doing the next request.

My example use case is changing a user's role. Assuming a user has the role ADMIN and I want to change that user's role to USER, then ideally I could update the user's session such that the new role is being enforced in fut

[2021-06-04 14:30] lksnmnn opened #2450 "Page.authenticate should (optionally) keep current query parameters in the next query parameter when redirectingTo"
### What do you want and why?
When I use `Page.authenticate` to redirect an unauthenticated user to some page, I want current query parameters to be included in the `next` redirect path.

In the following example I am on `MyPage` with a query parameter set (`token=abcd`).

[code]

Please imagine URL encoding for the next query parameter value ;)

My use case is that the user clicks on a link inclu

[2021-06-04 14:56] swinner2 commented on #2412
@flybayer Could you check out the PR #2441? I think the function does the thing, but I'm not sure if the code is the best. So appreciate any feedback.

Also, how do we get the function into the form components? We need to use the function here https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/_forms/finalform/Form.tsx#L33

[2021-06-04 15:27] lksnmnn commented on #2449
Ha, I've hacked this together in our app and this seems to work.

[code]

[2021-06-04 15:42] lksnmnn opened #2452 "Add require-await ESLint rule"
### What do you want and why?

The default ESLint configuration should enforce the require-await rule.
https://eslint.org/docs/rules/require-await

This helps people like me to not forget awaits and run into weird issues.

### Possible implementation(s)
[code]

### Additional context

Add any other context or screenshots about the feature request here.

[2021-06-04 16:59] flybayer commented on #2436
@merceyz ok yep. What I mean is that the other dependencies aren't not require'd by the `blitz` package itself. They are required in @blitzjs/core or @blitzjs/cli

[2021-06-04 17:02] flybayer commented on #2440
Thanks for the report @acornellier — this is odd.

Ready for someone to investigate

[2021-06-04 17:14] merceyz commented on #2436
I tested blitz with Yarn PnP a while ago and again right after making that comment and got to the following list of dependencies before I noticed `blitz` was invoking `npm install` in its postinstall and stopped looking into it so there might be more issues but here are my findings so far.

- All the undeclared dependencies PnP complained about when running `yarn dlx blitz new myAppName`
[code]
-

[2021-06-04 18:07] #2421 closed

[2021-06-04 18:11] #2332 closed

[2021-06-04 18:20] flybayer commented on #2448
Thanks for the report!

For whoever want's investigate, all the relevant code is in this file: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/server/auth/sessions.ts

[2021-06-04 18:25] flybayer commented on #2450
Thanks @lksnmnn!

What about including query params by default? Seems like probably most people would want this.

As for the API, I'm thinking this may be better:

[code]

[2021-06-04 18:33] flybayer commented on #2449
Yes!! Definitely need this. Your code looks pretty much like we need with one exception.

Currently all `setPublicData` calls **merge** values with existing publicData. So probably we should take the same approach here? Our current code to do this is here: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/server/auth/sessions.ts#L927-L935

For whoveever wants to work on this:

- Add

[2021-06-04 18:39] flybayer commented on #2452
Probably it's good to add that one, but to prevent issues where you forget to await a promise, we actually need [`@typescript-eslint/no-floating-promises`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-floating-promises.md) which requires using typescript as a parser.

We are currently using that in the blitz monorepo like so: https://githu

[2021-06-04 18:45] lksnmnn commented on #2450
Yes. Naming is hard. I think including the params by default is what a user would expect.

[2021-06-04 18:52] flybayer commented on #2436
Are you saying [this code](https://github.com/blitz-js/blitz/blob/canary/packages/blitz/scripts/postinstall.js#L86-L88) is being executed for yarn pnp?

I'm confused why there are deps listed here that we don't require in any of our code?

It thinks those deps should be added directly to the user's app? Any idea why?

This is where we generate the Routes manifest to. Same approach as Prisma. Maybe

[2021-06-04 19:14] cj commented on #2368
I have just run into the same/a similar issue.  I have a query exactly like this example https://blitzjs.com/docs/use-query but the ErrorBoundary is never triggered and infinitely retries the query.

[2021-06-04 19:17] cj commented on #2368
It's throwing an error, but it's just never caught by ErrorBoundary:

[code]

[2021-06-04 19:19] flybayer commented on #2368
@cj can you try this and let me know if it works or not? Add this code to `_app.tsx`

[code]

[2021-06-04 19:22] cj commented on #2368
@flybayer let me give that a try.  Does SuperJson need to be in _app?  I currently have https://gist.github.com/cj/073baeb3eb07257e7f27a6df0c90419b

[2021-06-04 19:23] Roesh commented on #2452
I think this definitely should be set to warn

[2021-06-04 19:27] flybayer commented on #2368
Ah yeah, because `SuperJson.registerClass` must be executed on both client and server. If it's in the resolver, it only executes server side but not client side

[2021-06-04 19:39] merceyz commented on #2436
Yes, `<root>/node_modules/next` doesn't exist with PnP, if it wants to locate `next` it should run `require.resolve('next')`. Besides running an install during an install isn't a good idea as it can corrupt the install state.

If you mean the ones that don't belong to `@blitz/*` it's because they're used somewhere in the dependency tree during project creation

For `next` and `@blitzjs/server` it'

[2021-06-04 20:00] lksnmnn commented on #2449
I've added this rudimentary version of a `setPublicData` function. It *works* but the corresponding user will expierence weird CSRF / Invalid Session issues. So maybe there is another bug, that will surface during development.

Since all sessions of a user could potentially be in use, we need to update each session with the new data. An additional merging step is not needed (?).

Here is my curren

[2021-06-04 23:35] uptickmetachu opened #2454 "Ability to circumvent blitzjs rpc during jest tests."
### What do you want and why?
I want to be able to run full stack jest tests that bypass the RPC layer without using cypress.
The jest test should be able to ignore the RPC layer and talk directly to the backend.

The main benefit is we would be able to do end to end tests without using cypress.
Other benefits include:
- wrapping end-to-end tests in a transaction and rolling back changes (much fas

[2021-06-05 16:21] acornellier commented on #2440
After some investigation, it seems that image config is loaded when `next/image` is imported here
https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/client/image.tsx#L94

The file is being imported before the environment variable is set up here
https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/build/webpack-config.ts#L1085

Not sure how to progress from here @flyba

[2021-06-05 20:41] juan-manuel-alberro commented on #751
Hi guys, there's any progress on this feature?

[2021-06-06 19:23] brapifra commented on #2428
I'm also suffering this :cry:
Not working on

[2021-06-06 19:50] mabadir commented on #2428
Hi @brapifra, would you share your config file?

[2021-06-06 19:53] mabadir commented on #2440
Hi @acornellier, thanks for the additional context and information, I have assigned the issue to myself, I will be digging a bit. Please feel free to share any other findings.

[2021-06-06 20:02] brapifra commented on #2428
@mabadir
[code]

[2021-06-06 20:31] lksnmnn commented on #2452
I've now looked into this and maybe I should rewrite this issue to reflect that we need to add the `no-floating-promises` rule rather than `require-await`. Because with the latter rule, this gets flagged:

[code]

and changing this to `return await bar()` is discouraged my the `no-return-await` rule, since it adds a small perfomance hit.

[2021-06-07 03:56] raghav0622 opened #2460 "Warning: You have created conflicting page routes:"
### What is the problem?

After upgrading version of blitz by running blitz new app-name and skipping the undesired differences. there is this error without -

[code]
....

I have tried deleting node_modules, .blitz folder, and complete fresh installation, restarting server, re-installing windows and what not.
There is no other error with previouse version

### Paste all your error logs here:

[co

[2021-06-07 06:27] lksnmnn commented on #2448
Hey @mabadir any progress on this? I'd be happy to help looking in to this, if you haven't had time so far.

[2021-06-07 12:26] steve-bate opened #2461 "Error when signing up initial user."
### What is the problem?

Saw an error when trying the Blitz tutorial. I was able to install Blitz, create a tutorial project, and display the initial Blitz page. When doing the next step, signing up a new user, I saw an error in the console.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

N/A

### What are detailed steps to reproduce this?

1. Install Bli

[2021-06-07 14:12] mabadir commented on #2448
Hey @lksnmnn. I am planning to look into it today. Go for it if you have the time.

[2021-06-07 16:25] flybayer commented on #2454
Thanks @uptickmetachu, I think we can make it work.

For whoever wants to work on this, we need to modify [the `useQuery` hooks](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-query-hooks.ts) to work "server-side" with a regular function when `Boolean(process.env.JEST_WORKER_ID) === true`

[2021-06-07 16:38] flybayer commented on #2395
@MrLeebo we still have the hydration warning issue, right?

[2021-06-07 16:39] flybayer commented on #751
Related discussion: https://github.com/blitz-js/blitz/discussions/2456

[2021-06-07 16:48] flybayer commented on #2440
@mabadir This should be fixed with two changes.

[code]

https://github.com/blitz-js/blitz/blob/canary/packages/babel-preset/src/rewrite-imports.ts#L11

[2021-06-07 19:12] #2407 closed

[2021-06-07 19:18] MrLeebo commented on #2395
Yes. It's always going to be a facet of automatic static optimization. I can see why nextjs couldn't do it, but blitz can assume users will be running a web server (can't have queries and mutations otherwise) so automatically switching doesn't seem as drastic a move as it would be for nextjs

[2021-06-07 19:27] flybayer commented on #2395
Unless I'm missing something, having a web server or not has zero affect on React hydration on the client.

We should never cause potential hydration issues as it could cause unexpected bugs. So we need to fix this.

[2021-06-07 19:28] flybayer commented on #2452
@lksnmnn sounds good to me to update the issue

[2021-06-07 19:33] flybayer commented on #2460
Ok two issues here. Sounds like you have duplicate pages and secondly for some reason the error reporting for this is broken on, maybe, just Windows.

Do you have two `login.tsx` pages? Like for example both `\app\pages\login.tsx` and `\app\auth\pages\login.tsx`

[2021-06-07 19:45] flybayer commented on #2461
Hey! Solution is to upgrade `prisma` and `@prisma/client` to `2.23.1

[2021-06-07 19:59] #2461 closed

[2021-06-07 20:05] flybayer commented on #2428
I just tested this on Vercel with a brand new app blitz `0.36.4` and it's working correctly 🤔

Are you able to share any more details? How big is your app? With how Vercel does things, it could be something that breaks once your app gets to a certain size?? idk.

[2021-06-07 20:15] steve-bate commented on #2461
Thanks! That fixed the problem (2.24.1 rather than 2.23.1, which didn't exist).

[2021-06-07 22:42] tafelito commented on #1935
@flybayer It seems like the client and the server sessions are not synced. In my case, when I logout, it triggers some other components to re-render and some queries to be executed (useCurrentUser and others The session on the client seems to be valid but when the server does `ctx.session.$authorize()` the session is already invalid and that causes an AuthorizationError

[2021-06-08 00:27] #794 closed

[2021-06-08 13:06] raghav0622 commented on #2460
No i double checked for duplicate names for files, componentes and exports

[2021-06-08 14:53] flybayer commented on #2460
Ok then can you provide a repo that reproduces this problem?

[2021-06-08 15:04] flybayer commented on #2460
Actually one thing for you to try: delete `.blitz` folder and see if you still have the issue

[2021-06-08 16:30] flybayer commented on #2436
Something else I don't understand is why `debug` is in the missing list, because `debug` is a native Node module like `fs`.

[2021-06-08 16:32] vjpr commented on #2436
https://www.npmjs.com/package/debug

[2021-06-08 16:50] flybayer commented on #2436
Oops 😅  That makes sense

[2021-06-08 17:03] #2354 closed

[2021-06-08 17:31] #2295 closed

[2021-06-08 23:38] LikeCarter commented on #2428
Sorry for the late response - I'm swamped.

This was the config file. *Switching from "arctic" to "blitz" solved my issue without change anything else.*
[code]

This is my package.json for versions
[code]

[2021-06-09 07:34] chronark opened #2465 "pnpm does not install dependencies correctly"
### What is the problem?

This might not actually blitz's fault but I think submitting this issue is still the right thing.

When I try to install dependencies via pnpm (v6.7.3) there seems to be something going wrong.
The install command succeeds but if I run the dev server I get this runtime error:
![image](https://user-images.githubusercontent.com/18246773/121311563-d37a6c80-c904-11eb-952f-c7cb

[2021-06-09 15:23] lksnmnn opened #2466 "BlitzConfig is missing typings for some nextjs configurations"
### What is the problem?

When extending the `BlitzConfig` with nextjs specific configurations like `images`, `env` or external configs (`pwa`), TS throws type errors.

Quoting from Dan Greaves  [comment on Discord](https://discord.com/channels/802917734999523368/814627656611397692/852072311073931274)

With a temporary solution on top:

It's referenced this way in the actual Blitz documentation to

[2021-06-09 15:28] prisis opened #2467 "Disable scripts on blitz install"
### What do you want and why?

Package/Recipe scripts are run on blitz install repo/name 

### Possible implementation(s)

Disable scripts on blitz install

### Additional context

Example:
 

[code]

[2021-06-09 15:30] prisis commented on #2467
Disable maybe only all default npm scripts, tbd.

[2021-06-09 15:30] lksnmnn commented on #2452
Updated the issue to reflect our discussion.

[2021-06-09 15:52] flybayer commented on #2428
Thanks @LikeCarter. Also important question: does this happen locally or in the cloud or both? (And if in the cloud, which cloud?)

[2021-06-09 15:55] flybayer commented on #2465
Thanks @chronark. I think this is a duplicate of https://github.com/blitz-js/blitz/issues/2436. Can you confirm?

[2021-06-09 16:00] flybayer commented on #2466
Thanks @lksnmnn!

For whoever wants to work on this. let's fix `BlitzConfig` to also extend from `Record<string, any>` which needs changed here: https://github.com/blitz-js/blitz/blob/canary/packages/config/src/index.ts#L15

[2021-06-09 16:01] flybayer commented on #2467
Thanks! For whoever wants to work on this, you can change the install args here: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/install.ts#L247

[2021-06-09 16:05] flybayer commented on #2452
For whoever wants to work on this, our eslint config is here: https://github.com/blitz-js/blitz/tree/canary/packages/eslint-config You'll need to add the correct dependencies to that package as well as the config file.

[2021-06-09 16:25] prisis commented on #2467
If im correct than "node-sass" will be not installed too, because its use the scripts to build some needed stuff, bit tricky

[2021-06-09 16:33] flybayer commented on #2467
Any deps you need should be specified as dependencies, which should work, right?

[2021-06-09 16:34] flybayer commented on #2467
I guess this is a tricky question on whether to ignore scripts or not 🤔

[2021-06-09 16:45] prisis commented on #2467
Yeah, its what i was thinking to, you adding all needed deps in the index.ts so it should work, i dont know a use case for scripts in recipes.

Checked gatsby  but didnt find anything about scripts there

[2021-06-09 16:52] juan-manuel-alberro opened #2468 "Doesn't work with Storybook"
### What is the problem?

Storybook cannot use Blitz components, as soon you import some of the files from the blitz package it will remove the story from the main list.

### Paste all your error logs here:

No errors on the console.

### Paste all relevant code snippets here:

[code]

[code]

[code]

### What are detailed steps to reproduce this?

1. `blitz generate newApp`
2. `npx sb init`
3. co

[2021-06-09 16:54] medihack opened #2469 "Internationalized links are broken"
### What is the problem?

When [internationalization is enabled](https://blitzjs.com/docs/i18n-routing) links generated with the `Link` component [should include the correct current locale](https://blitzjs.com/docs/i18n-routing#transition-between-locales). Say in a new blitz project with enabled i18n and `de` locale, when visiting `http://localhost:3000/de` the link to projects on the start page s

[2021-06-09 18:07] flybayer commented on #2469
Ah yeah, thanks for the report!

[2021-06-09 19:54] olliedean opened #2470 "blitz install errors if you use the --js arg on blitz new"
### What is the problem?

As the title says, if you use the --js argument when initializing a new project, blitz install fails since it can't compile the recipes with Typescript.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Initialize a new project
2. Try to `blitz install tailwind`

### Run `bl

[2021-06-09 21:40] dangreaves commented on #2466
Hey @flybayer - is there a reason we shouldn't extend [NextConfig](https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/next-server/server/config-shared.ts#L69), rather than adding the `Record` type ourselves?

[2021-06-09 23:46] markhughes commented on #2468
@juan-manuel-alberro could you provide an example reproduction in a repo?

[2021-06-10 00:04] markhughes commented on #2276
@CalebDelbridge your repo is gone now, is this still an issue?

[2021-06-10 02:42] zanami commented on #2055
_May 17, 2021: Zod v3 is now in stable release!_

[2021-06-10 08:30] juan-manuel-alberro commented on #2468
@markhughes check here https://github.com/juan-manuel-alberro/blitz-sb run `yarn storybook` and then swap the imports in the `CustomLink` component. Thanks.

[2021-06-10 13:39] CalebDelbridge commented on #2276
Yes, I would assume this is still an issue, but due to that, I am no longer using Blitz, so it's not an issue affecting me

[2021-06-10 14:59] chronark commented on #2465
Yeah that seems to be the same issue. Feel free to close this one ;)

[2021-06-10 15:31] mtford90 commented on #2337
Similar to this - I also noticed that `useAuthenticatedSession` can actually result `userId: null` which is not reflected in the typings

[2021-06-10 16:07] flybayer commented on #2470
Thanks for bug report!

[2021-06-10 16:10] #2055 closed

[2021-06-10 16:25] #2465 closed

[2021-06-10 16:32] #2466 closed

[2021-06-10 18:02] brapifra commented on #2428
It's finally working for me on Vercel with v0.37.0

[2021-06-10 21:35] #2337 closed

[2021-06-11 00:39] dangreaves commented on #2276
I can help with this one, as spent some time implementing FullCalendar with Next.js and Blitz!

The reason for the error is that the [example](https://github.com/fullcalendar/fullcalendar-example-projects/tree/master/next) which FullCalendar provides is using `next-transpile-modules@4.1.0`. This version of `next-transpile-modules` used a regex method of targeting packages, so if you had `@fullcale

[2021-06-11 01:16] dangreaves commented on #2276
I looked into updating the FullCalendar example with a PR, but looks like one is already open since March and has been ignored, so looks like they won't be updating it any time soon 👎

https://github.com/fullcalendar/fullcalendar-example-projects/pull/19

[2021-06-11 02:42] CalebDelbridge commented on #2276
Thanks for that info. I'll go ahead and close the issue

[2021-06-11 02:42] #2276 closed

[2021-06-11 09:03] paulm17 commented on #2415
With 0.37 I'm able to re-do the process and I managed to record it.

https://www.loom.com/share/4edc35b0e9824ddfb5ebe764c583ab0c

[2021-06-11 15:59] remjx opened #2477 "Cannot find module .next/server/blitz-db.js on Vercel deployment"
### What is the problem?

After upgrading from 0.36.3 to 0.37.0 my Vercel deployment builds successfully but there are server errors when trying to log in to the app. When I roll back to 0.36.3 login works fine.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

n/a

### What are detailed steps to reproduce this?

n/a

### Run `blitz -v` and paste the output

[2021-06-11 16:35] flybayer commented on #2477
Sorry about that. I definitely tested this before release and it was working. But I can reproduce your problem. So looking into it.

[2021-06-11 17:09] prisis commented on #2467
Looks likes nobody has a problem with it, would create a PR asap

[2021-06-11 18:31] #2412 closed

[2021-06-11 18:35] #2477 closed

[2021-06-11 21:03] dbachrach opened #2481 "Generated Edit Page Has Buggy Form Behavior"
### What is the problem?

The generated Edit page for a model has the following buggy behavior: If a user types into the form, clicks outside of the browser window and then clicks back into the browser window, the form will be reverted to the original content. I've tracked down why this happens. The edit page has a `react-query` query with default behavior. This means the query is re-fetched frequ

[2021-06-12 13:35] juan-manuel-alberro commented on #2334
Same here, the tests are passing but this `ReferenceError` is killing my CI with the exit code 1.

[2021-06-12 19:56] flybayer commented on #2415
@mabadir I unassigned you from this for now. Leave it ready-to-work-on until you start on it. This allows others to pick it up if they want in the meantime.

[2021-06-12 20:55] flybayer commented on #1935
Ok folks, this should be fully resolved in the next release!

Some of you asked for a `redirectUnauthenticatedTo` feature. We already have that but it just hasn't worked correctly on logout.
[code]

With the next release, if you use Page.authenticate.redirect, all you need to do is trigger a logout on that page and the user will be redirected correctly without you doing a manual redirect.

[2021-06-13 01:52] tafelito commented on #1935
@flybayer What's the main use for  `redirectUnauthenticatedTo`? Is it the same as doing `Page.autheticate = true` or  `Page.authenticate = {redirect: '/login'}`?

The docs only mention `redirectAuthenticatedTo`

[2021-06-13 02:03] dangreaves commented on #1935
@tafelito I think @flybayer means that `Page.authenticate` \*is\* the equivelant of a `redirectUnauthenticatedTo` feature. I searched the codebase and `redirectUnauthenticatedTo` doesn't actually exist.

[2021-06-13 02:51] tafelito commented on #1935
That's what I thought, just wanted to double check he was referring to that. Thanks @dangreaves

[2021-06-14 15:41] #2449 closed

[2021-06-14 15:56] flybayer commented on #2428
Ok going to close this for now then. If any of you still have an issue we can reopen

[2021-06-14 15:56] #2428 closed

[2021-06-14 16:07] flybayer commented on #2481
Thank you @dbachrach!!

1. We should open an issue or PR to react-query to fix Date equality since this is very common case for us.
2. The `staleTime` approach sounds reasonable, but it seems that if the data does change then the user may care to know about it, right?
  - my current solution for this problem is passing a deep equals function to `initialValuesEqual` prop on react final form. So an

[2021-06-14 16:08] #1935 closed

[2021-06-14 16:10] noxify commented on #1935
thanks @flybayer <3

[2021-06-14 16:22] thangngoc89 opened #2486 "Enable stack trace in db/seeds.ts"
### What do you want and why?

I like the nice out put when running `blitz db seed` but it hides all stack traces and makes it very difficult to know where does the error originated.

### Possible implementation(s)

I'm not sure

### Additional context

![image](https://user-images.githubusercontent.com/3049054/121925047-b4e1fe80-cd66-11eb-8198-01ef81b7f620.png)

[2021-06-14 18:58] dbachrach commented on #2481
1. Yes I'll open an issue in react-query
2. Yeah I think this is a tricky UX issue. If you are editing a field and someone else changes it while you are editing, it would be nice to know that that has occured, but you also wouldn't want to just clear the form to the new value. The user might be writing a long piece of text and suddenly have it all deleted. I'm trying to think of any form experienc

[2021-06-14 21:25] flybayer commented on #2481
Ok you've made a fair point. Let's go with the `staleTime` fix

[2021-06-14 21:25] flybayer commented on #2481
And add a comment in the template next to staleTime saying why it's there

[2021-06-15 02:09] #2481 closed

[2021-06-15 15:09] #2440 closed

[2021-06-15 15:19] flybayer commented on #2317
Closing this as I believe our code is working correctly

[2021-06-15 15:19] #2317 closed

[2021-06-15 15:53] #2434 closed

[2021-06-15 17:55] smashboy opened #2490 "Importing db in custom server throws an error"
### What is the problem?

Hello everyone! I'm setting up a custom server and I've encountered weird bug with db import. I don't know why, but if I import db after my utils, blitz wont start. If I import db before utils import everything is working fine.

![image](https://user-images.githubusercontent.com/30213662/122099720-01871180-ce1b-11eb-8acb-2764cbbcd68f.png)

### Paste all your error logs he

[2021-06-15 19:58] dbachrach opened #2491 "Register Prisma.Decimal with Superjson"
### What do you want and why?

I noticed that if you use the type `Decimal` in your Prisma schema that the Prisma client uses `Decimal.js` instead of just a raw JS number. If you return a `Decimal` through a blitz query though the value on the client side is not reserialized back into a `Decimal.js` class. I can register this class in `_app.tsx` to get superjson to handle this case:

[code]

Shoul

[2021-06-15 20:20] dillonraphael opened #2492 "Slow typescript definition with vscode"
### What is the problem?

Ever since I updated blitz from v0.33.0 to v0.37.0 I've noticed a huge delay in retrieving type definitions and autocomplete when using vscode.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

## Dependencies
[code]

##.eslintrc.js
[code]

##Version v0.33.0 Dependencies
[code]
##V0.33.0 .eslintrc.js
[code]

### What are detailed st

[2021-06-15 23:02] flybayer commented on #2492
Thanks @dillonraphael. Someone else mentioned this too I think.

Have you tried any versions in between? That would be very helpful, especially to test 0.34.0 as that's the only release I can think of that has significant change to types. It upgraded RQ from v2 to v3 and also added our Route Manifest.

[2021-06-15 23:03] flybayer commented on #2492
This might show up in the terminal with `yarn tsc`, but need to disable the `incremental` tsconfig flag to be accurate.

[2021-06-15 23:54] dillonraphael commented on #2492
Just tested with 0.34.0, and still having issues. Also, there still might be performance issues when extending the `.eslintrc.js` file with blitz v0.33.0 - _though I cannot confirm consistency compared with the newer versions._

[code]

Part of me thought I was going crazy and seeing things. But the difference between the latest blitz project versus the v0.33.0 project is greatly noticeable.

[2021-06-16 01:19] flybayer commented on #2492
Ok thanks. So perf with 0.37 and 0.34 is pretty much the same? Pointing to 0.34 as the issue?

[2021-06-16 14:36] dillonraphael commented on #2492
Yes that's correct.

I found a solution in the meantime.

Inside vscode, you can goto Settings > Extensions > Typescript and look for `TypeScript › Tsserver: Max TS Server Memory`

I set this from **4072** to **9072**

<img width="665" alt="Screen Shot 2021-06-16 at 10 35 00 AM" src="https://user-images.githubusercontent.com/3496193/122238978-91b26e80-ce8e-11eb-8571-7b8890197ee7.png">

[2021-06-16 17:46] tafelito opened #2493 "trying to add a prisma middleware throws error in the browser"
### What is the problem?

when using the prisma client to add a prisma middleware in `db/index.ts` throws error `Uncaught TypeError: prisma.$use is not a function` in the browser console.

A workaround now is to check whether is running in the browser or not

### Paste all relevant code snippets here:

db/index.ts
[code]

[2021-06-17 09:51] midgethoen opened #2499 "Blitz install [recipe] fails on missing dependency"
### What is the problem?

I tried to add tailwind to a fresh project and the following error ocurred:

[code]

installing this dependency locally fixes the problem for me

### Paste all your error logs here:

see above

### Paste all relevant code snippets here:

none

### What are detailed steps to reproduce this?

see above

### Run `blitz -v` and paste the output here:

[code]

### Please inclu

[2021-06-17 13:24] flybayer commented on #2499
That's odd. Does `node_modules` exist inside `.blitz/recipe-install/`?

Also does running `npm install` inside `.blitz/recipe-install/` have any errors?

[2021-06-17 14:16] midgethoen commented on #2499
just to be sure i did a complete reproduction (see below); I also noticed I had to run `npm i` after i generated the project.
FYI i choose not to upgrade to 0.38.0

[code]

and then the information you asked for:

[code]

[2021-06-17 14:19] midgethoen commented on #2499
@flybayer I imagine this might be an easy fix for someone familiar to the project (Im quite new, myself). Please let me know if i need to do some further troubleshooting myself

[2021-06-17 14:39] redbar0n commented on #1098
So I gather that these are examples of [runners/watchers](https://github.com/evanw/esbuild/issues/903) for development mode. For using a bit of esbuild to build in production, to get ~2x increase with NextJS, try [esbuild-loader-examples](https://github.com/vercel/next.js/issues/15152#issuecomment-863207119).

[2021-06-17 14:55] acornellier opened #2500 "0.38.0 errors: Can't resolve 'fs' and Cannot find module 'build-manifest.json'"
### What is the problem?

After upgrading from 0.36.4 to 0.38.0, I get two errors when running the app. I didn't see these errors in 0.37.0 either.
I tried clearing .next, .blitz, and node_modules.

### Paste all your error logs here:

[code]

[code]

### Paste all relevant code snippets here:

blitz.config.ts
[code]

### What are detailed steps to reproduce this?

unsure how to reproduce outside

[2021-06-17 15:56] flybayer commented on #2500
Does that happen with `blitz dev` or `blitz build` or both?

[2021-06-17 18:51] acornellier commented on #2500
@flybayer both

[2021-06-17 18:52] acornellier commented on #2500
@flybayer both

[2021-06-17 20:31] acornellier commented on #2500
any tips on how I could debug this @flybayer ?

[2021-06-17 23:19] flybayer commented on #2500
@acornellier I would start deleting code files to try to track down where the issue is. Like for example if you delete all pages but one, does it still fail?

[2021-06-17 23:22] flybayer commented on #2499
It appears to be something specific to your computer with how npm is installed.

What's the output of both `npm -v` and `which npm`?

[2021-06-18 00:06] kivi commented on #2500
Hi @acornellier,

I had a similar problem in previous Blitz versions and after updating from 0.37 to 0.38 I have similar error messages.

Try what I did in `blitz.config.ts`

Add a `webpack` config to your `module.exports`

[code]

[2021-06-18 04:10] acornellier commented on #2500
@kivi then I just get
[code]

[2021-06-18 04:13] acornellier commented on #2500
@kivi Indeed, that solved the errors I was getting! thanks

Now I'm getting another strange error though...
[code]

Maybe I'll make a separate issue for it

[2021-06-18 06:47] midgethoen commented on #2499
[code]

I can try to look into it further next week

[2021-06-18 15:00] acornellier commented on #2500
OK, no idea how I fixed this honestly, I was just deleting code until it eventually worked, then I brought the code back and it continued to work. For anybody else this happens to, I recommend doing a full wipe - re-clone your repo.

[2021-06-18 15:20] acornellier opened #2505 "0.37/0.38 504 timeout on SSR pages after deploying with vercel"
### What is the problem?

After upgrading from 0.36.4 to 0.37.0 or 0.38.0 and I try to load any page that uses `getServerSideProps`, the function times out.

### Paste all your error logs here:

These are the vercel logs, with details

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

I'll try to create a smaller reproducible sample later,

[2021-06-18 16:00] flybayer commented on #2486
Thanks for the bug report!

This should be a simple fix:

Change this line: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/db.ts#L36
and this line: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/db.ts#L82

to use `baseLogger.error` instead of `log.error`.

Import baseLogger like this:

[code]

[2021-06-18 16:15] flybayer commented on #2499
Ok cool. Here's the code for installing recipe deps: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/install.ts#L248-L251

And here it is for `blitz new`: https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/generators/app-generator.ts#L135-L137

[2021-06-18 16:18] flybayer commented on #2500
@kivi @acornellier the webpack `fs: false` thing is sort of like a band-aid. It's just covering up some other problem.

One case where `can't resolve fs` occurs is if you import something with server code into your frontend. Then only thing you can do this with is query/mutation resolvers.

[2021-06-18 16:20] flybayer commented on #2490
Thanks for this issue! It must have something to do with esbuild which we use to bundle the custom server 🤔

[2021-06-18 16:25] flybayer commented on #2493
Thanks for reporting this!

This is an easy fix. We need to change this line: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/prisma-utils.ts#L25

to return `{$use:()=>{}}` instead of `{}`

And while we are it we should check the prisma API and see if we need to add anything else there.

[2021-06-18 18:00] dbachrach commented on #2481
So this specific issue is now fixed but to trigger less react re-renders, we should consider adding something like this to the main app:

[code]

[2021-06-18 18:10] flybayer commented on #2481
@dbachrach want to PR that? Let's export `deepEqual` as a core utility for people to use

[2021-06-18 19:21] kivi commented on #2500
@flybayer indeed, it is a band-aid. In my case, I have a `herlper.ts`, which imports `fs` and that just for a function used server side only. I don't need `fs` on client, but I use `helper.ts` in some `tsx` files. I could simply structure my code and I won't get that error described here even without the "band-aid"

[2021-06-18 21:47] fritzblue opened #2506 "Support authentication without database sessions (i.e. JWT)"
### What do you want and why?

Server-side sessions come with pros and cons. Some users prefer the tradeoffs/benefits provided by client-side sessions (e.g. JWT).

This also makes it easier to choose alternative data stores (such as those unsupported by Prisma) without having to modify the auth system.

### Possible implementation(s)

Today database sessions are assumed. It would be nice to allow

[2021-06-19 01:12] koolii commented on #2486
@flybayer Hi, can I tackle this issue?

[2021-06-19 03:41] acornellier commented on #2505
After reading this I'm just going to try deploying to something other than vercel
https://blitzjs.com/docs/deploy-vercel

[2021-06-19 10:13] karimsx opened #2507 "1:1 Error: Replace `⏎import·{getIsomorphicEnhancedResolver` with `import·{·getIsomorphicEnhancedResolver·` prettier/prettier"
### What is the problem?

After updating blitz from 0.35 to 0.38
i started getting these error when running `blitz build`

`npm run lint` do not show these errors at att

[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

eslint.rc

[code]

### What are detailed steps to reproduce this?

updated from 0.35 to 0.38

### Run `blitz -v` and paste t

[2021-06-19 13:07] deini commented on #2507
Hey @karimsx, Next 11 (which blitz uses in v0.38) now [runs eslint during builds](https://nextjs.org/docs/basic-features/eslint#linting-during-builds).

Those look like regular prettier errors which you have enabled in your eslint config.

Everything else looks good to me. By any chance have you modified the lint script? Can you share the `scripts` section on your `package.json`?

[2021-06-19 13:37] flybayer commented on #2486
@koolii yes!!

[2021-06-19 18:05] flybayer commented on #2505
Ok I'm going to keep this open, because probably we have a bug we should fix

[2021-06-19 18:07] flybayer commented on #2500
Ok that makes perfect sense.

Then I'm going to close this unless someone finds we do have a bug in our code/build process.

[2021-06-19 18:07] #2500 closed

[2021-06-19 18:19] #2467 closed

[2021-06-19 21:37] benjakugler96 commented on #2493
Hi @flybayer @tafelito . I've just created a pr as per above comment suggestion. I started using blitz for a new project so I'll be happy to help whenever I can

[2021-06-19 22:11] #2493 closed

[2021-06-20 05:35] thangngoc89 opened #2518 "RedirectError should be caught by default"
### What is the problem?

RedirectError introduced since version 0.38.0 should be caught by default instead of throwing error in console.
Problems with this is end-to-end testing framework like Cypress treats this as error.
Error reporting service like Sentry also treats this as error and showing red in all over the places.

### Paste all your error logs here:

[code]

### Paste all relevant code

[2021-06-20 08:43] grnwld commented on #2492
What TS version is your VS Code using?

I had similar issues with Zod and Typescript 4.3.2. I set VS Code (.vscode/settings.json) to use workspace's TS version (4.2.4 for me). Instant fix for me.

https://github.com/colinhacks/zod/issues/473

[2021-06-20 10:36] remjx opened #2519 "Allow RouteURLObject in GetServerSideProps redirect"
### What do you want and why?

[Currently](https://blitzjs.com/docs/redirects#on-the-server), the expected type of GetServerSideProps' `redirect.destination` is `string`.

It would be nice if we could pass one of our Route Manifest objects into this field.

### Possible implementation(s)

- ~Add a `toString()` method to the route manifest~ (will be covered by https://github.com/blitz-js/blitz/issu

[2021-06-20 10:43] medihack opened #2520 "v0.38.0 breaks custom Webpack loader"
### What is the problem?

I use [SVGR](https://react-svgr.com/) as a Webpack plugin to load SVGs as React components. This worked fine till Blitz 0.37.0. But Blitz 0.38.x seems to break things. The SVGs can't be loaded anymore (`TypeError: unsupported file type: undefined (file: undefined)`).

Note: The problem occurs with Webpack 4 and 5.

### Paste all your error logs here:

[code]

### Paste al

[2021-06-20 12:48] cherta commented on #2506
Not sure this comment helps, but I've been playing with a middleware to allow my backend (queries and mutations) to be consumed from a mobile application that cannot store cookie based sessions.

The main idea is to register a jwt middleware before the sessions middleware and create a session based on the JWT payload when requests comes from a mobile client.

When this middleware manages the reque

[2021-06-20 15:51] acornellier commented on #2507
I'm also getting eslint errors on my queries and mutation files, only during `build`. I think there's something wrong on blitz's end.

[2021-06-20 16:13] acornellier commented on #2507
Reproduction instructions for my similar bug:
1. `blitz new test && cd test`
2. `yarn add @typescript-eslint/eslint-plugin`
3. replace `.eslintrc.js` contents with
[code]
4. `yarn build`

You'll see errors like
[code]

[2021-06-21 17:16] flybayer commented on #2491
Thanks for opening this!

Probably the best we could do for now is register it automatically if you have Decimal in your schema.

[2021-06-21 17:19] flybayer commented on #2520
This is a bug in Next.js 11: https://github.com/vercel/next.js/issues/26130

They've already fixed it so it'll be available in the next patch release. The above issue has a workaround.

So I'm going to go ahead and close this since there's nothing actionable for us

[2021-06-21 17:22] flybayer commented on #2507
This issue will go away with https://github.com/blitz-js/blitz/pull/2516

For now you can add an eslint override rule that disables your eslint prettier for `pages/api/**/queries/**` and `pages/api/**/mutations/**` paths.

Is it ok to go ahead and close this?

[2021-06-21 18:21] ospfranco opened #2521 "Anchor tags append `/pages` to links"
### What is the problem?

I was following the third party login tutorial, when the time came to create a link to the `/api/auth/[service]` endpoint, I placed the anchor tag in my component:

[code]

However, when I click on the link I get redirected to:

`http://localhost:3000/pages/api/auth/gihub`

the `pages` part of the URI is being prepended to a blank blitz project.

### Paste all your error

[2021-06-21 18:39] medihack commented on #2520
Cool, thanks for letting me know!

[2021-06-21 19:49] karimsx commented on #2507
@deini @flybayer Thanks of course.

[2021-06-21 19:49] #2507 closed

[2021-06-21 22:58] flybayer commented on #2518
@thangngoc89 I've opened a PR that I think will fix this for you. Can you install `blitz@0.38.2-danger.f25aac1ff.7` and let me know if it does or not?

[2021-06-22 14:05] acornellier opened #2524 "Jetbrains auto-import for the Routes object gives the wrong path."
### What is the problem?

Very low priority, but kinda interesting.

Jetbrains gives the wrong path when trying to auto-import `Routes`.
VSCode gives both paths, but still it would nice not to have the second (wrong) path.

It must be because it's generated, but Prisma objects seem to import fine.

![Screen Shot 2021-06-22 at 09 59 39](https://user-images.githubusercontent.com/8725423/122938345-ad

[2021-06-22 19:30] abdiweyrah opened #2525 "Custom web fonts not loading properly and warning when linking in _document.tsx"
### What is the problem?

I get the warning below when I link a web font inside the `<Head>` in the `_document.tsx`. The font I'm trying to use does not seem to be loading in correctly into any of the pages. Instead the browser seems to be defaulting to some system/browser font.

Repository to reproduce the issue.

https://github.com/abdiweyrah/head-font-test

### Paste all your error logs here:

[2021-06-22 20:07] flybayer commented on #2525
@abdiweyrah ah, it looks like this is the problem. Can you try this code? Use DocumentHead instead of Head. I'll fix our docs

[code]

[2021-06-22 20:54] abdiweyrah commented on #2525
I still get the same warning but the font is working correctly now. Thank you.

[2021-06-23 08:35] Swapnull opened #2527 "redirectAuthenticatedTo for authenticated users redirects but doesn't call queries"
### What is the problem?

When sending users to my app, I always send them to `/auth`, which contains
[code]
When they get there and the user is logged in, it redirects to `/dashboard` as it should, but the dashboard components never actually calls any of its queries, so the user gets stuck in the suspense fallback component.

### Paste all your error logs here:

[code]

### Paste all relevant cod

[2021-06-23 18:05] flybayer commented on #2519
Great idea! Let's modify redirect.destination type

To implement we need to modify the following and maybe more:
- https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/types/index.d.ts#L45
- https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/next-server/server/next-server.ts#L1527
- https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/build/webpack/loade

[2021-06-23 18:07] flybayer commented on #2524
Thanks! Yeah if Prisma only shows one, then we can too. Just need to investigate what's different and fix.

[2021-06-23 18:07] flybayer commented on #2525
Ok thanks. Ready for someone to investigate and fix

[2021-06-23 18:11] flybayer commented on #2521
That's odd. What's the code you have in the `/api/auth/[service]` route?

[2021-06-23 18:13] flybayer commented on #2506
Thanks @fritzblue! Good news. We already planned for this from the very start. See https://github.com/blitz-js/blitz/blob/canary/rfc-docs/03-session-management.md#advanced-short-lived-jwts-plus-refresh-tokens

It will just take some work to implement everything properly. I won't have time to work on this before 1.0, but anyone else is welcome to tackle it before I'm able to.

[2021-06-23 23:49] #2486 closed

[2021-06-24 00:55] thangngoc89 commented on #2518
I can confirm that `blitz@0.38.2-danger.f25aac1ff.7` fixes this error.
Thank you very much

[2021-06-24 00:55] #2518 closed

[2021-06-24 15:07] corysimmons opened #2530 "`generate all question text:string` creates forms/resolvers with `name` rather than `text`"
### What is the problem?

I followed [the tutorial instructions](https://blitzjs.com/docs/tutorial#scaffolding-code-for-our-models) and it seems like [the question was created correctly](https://user-images.githubusercontent.com/224636/123285249-e1bab200-d4da-11eb-996b-73dea1d4791d.png) in the schema.

![image](https://user-images.githubusercontent.com/224636/123285723-4b3ac080-d4db-11eb-87aa-534d

[2021-06-24 15:50] flybayer commented on #2527
Thanks @Swapnull! I've looked into this and I'm unable to reproduce. I've also added an integration test for this in https://github.com/blitz-js/blitz/pull/2531

Could you either open a PR to https://github.com/blitz-js/blitz/pull/2531 with changes to reproduce or provide a github repo/codesandbox?

[2021-06-24 18:05] ospfranco commented on #2521
I followed the guide on the website: https://blitzjs.com/docs/passportjs

I have nothing out of the ordinary, but the name of the file is: `/api/auth/[...auth].ts`

[2021-06-24 22:14] flybayer commented on #2521
Ok thanks @ospfranco. We just need someone who's interested to investigate.

Can you also post the contents of your blitz.config.js?

[2021-06-27 15:05] remjx opened #2534 "intermittent CSRFTokenMismatchError"
### What is the problem?

My app is throwing CSRFTokenMismatchError during queries.

I haven't been able to narrow down why this is happening:
- One time I found that the `myAppCookiePrefix_sAntiCsrfToken` was set to "undefined". Clearing the cookies and refreshing fixed the problem
- Sometimes after waiting a few minutes and refreshing it fixes itself
- Opening the page in an incognito window doe

[2021-06-27 17:56] esemeniuc commented on #2519
This is very much requested as well! I am doing manual string concatenation as a workaround

[2021-06-30 03:47] krunaldodiya opened #2537 "do you have any plan to support websocket subscription / useSubscription hooks"
it would be rather easy to have useSubscription hooks and user can directly configure the websocket provider, like socket.io or pusher and on frontend side just use const [subscribe, unsubscribe] = useSubscription('newUserCreated'), don't you think so ?

[2021-06-30 11:45] Swapnull commented on #2527
Hey @flybayer - I have tried to recreate this a couple of times but I can't seem to do it in a clean project. My guess is that there is something wrong in my main project that is causing this problem as a side effect.

Shall we merge the integration test, close this and I will reopen or create a new ticket if I can figure out what is causing the problems?

[2021-07-01 09:04] ospfranco commented on #2521
[code]

[2021-07-01 09:11] ospfranco commented on #2521
I keep testing this and the behavior looks really broken, I replaced the partial href to a full http address and the output is still `pages/[my route]`.

<img width="2181" alt="Screenshot 2021-07-01 at 11 09 47" src="https://user-images.githubusercontent.com/1634213/124098583-f2c86d80-da5c-11eb-966f-7e79f02c9abb.png">

[2021-07-01 15:02] ospfranco commented on #2521
Anyways, using the router hook and directly pushing the route is working, just in case anybody else runs into the same issue

[2021-07-02 05:29] erikshestopal opened #2538 "`useQuery` with `enabled` prop causing infinite loop with local Suspense/ErrorBoundary components"
### What is the problem?

When the using the `useQuery` hook with the `enabled` property that is controlled through a prop passed into the component, an infinite loop is caused when the the query resolver throws an error.

I have created a [Codesandbox](https://codesandbox.io/s/heuristic-dust-ws2ro?file=/app/pages/index.tsx) with a reproduction.

### Paste all your error logs here:

[code]

### Pa

[2021-07-02 05:39] erikshestopal commented on #2538
Probably a duplicate of https://github.com/blitz-js/blitz/issues/2368 now that I look through existing issues 🤔

[2021-07-02 14:39] maotora commented on #2500
@kivi I get this error when I use your solution

[code]

[2021-07-02 15:24] kivi commented on #2500
@maotora it is rather a workaround and not a solution.
I suggest you try to find where you use fs and see if you can only import it conditionally only on server side...

[2021-07-02 22:51] remjx opened #2539 "Add support for application/database monitoring i.e. Prometheus/Grafana, Sentry, etc"
### What do you want and why?

To monitor the status of application and database using [Prometheus](https://prometheus.io/)/[Grafana](https://grafana.com/), [Sentry](https://sentry.io), or others.

### Possible implementation(s)

- Ensure blitz exposes necessary code to be able to wrap API calls (queries/mutations) with the monitoring SDKs. Brandon mentioned adding "error middleware" to capture/tr

[2021-07-03 17:59] flybayer commented on #2530
Hey @corysimmons! Sorry for the abnormally long delay here. This is a know issue that we address in the tutorial.

We are currently tracking this in https://github.com/blitz-js/blitz/issues/2038 and will be fixed with https://github.com/blitz-js/blitz/pull/2134. So I'm going to go ahead and close this as duplicate. Hopefully that's ok :)

[2021-07-03 17:59] #2530 closed

[2021-07-03 18:00] #2537 closed

[2021-07-03 18:02] flybayer commented on #2527
@Swapnull is it something you could give me access to?

[2021-07-03 18:17] flybayer commented on #2527
@Swapnull ah, so now we are running all the tests in dev, prod, and serverless mode. And the test for this is failing in production mode (blitz build && blitz start).

Is it just failing in prod for you?

[2021-07-03 18:20] flybayer commented on #2521
@ospfranco ah! I bet I know why, and it should already be fixed. Can you test `0.38.3-canary.1` and see it that fixes it?

[2021-07-03 18:35] flybayer commented on #2341
Fixed in https://github.com/blitz-js/blitz/pull/2502

[2021-07-03 18:35] #2341 closed

[2021-07-03 18:35] Swapnull commented on #2527
Hey @flybayer
Yeah, this seems to only happen when building for production on my main now you mention it. The app is deployed via render.

Although I haven't really been able to replicate it locally on a clean project, I do get a bit of a weird experience.
Using https://github.com/Swapnull/Blitz-redirectAuthenticatedTo, which is effectively a brand new blitz app with a few small changes.  When I l

[2021-07-03 19:31] flybayer commented on #2527
Ok thanks. Since I have a failing test now, I should be able to fix it.

[2021-07-03 20:02] flybayer commented on #2534
@remjx could this be the same issue as https://github.com/blitz-js/blitz/issues/2448?

[2021-07-03 20:52] remjx commented on #2534
@flybayer I did find a situation where my sAntiCsrfToken was undefined, but I am not using $setPublicData at all, and furthermore I have experienced this issue even when sAntiCsrfToken is defined.

[2021-07-04 00:08] flybayer commented on #2534
@remjx do you notice it happens more on certain pages than others? And if so, what's unique about those pages? Using many queries? Or using the nextjs data hooks? Or API routes?

[2021-07-04 00:29] flybayer commented on #2534
So the core bug fixed by #2448 affected any call to `getSessionKernel` for anonymous users. So it's still very possible that is the same bug. I'll leave this open until I get that published and you can test it.

[2021-07-04 02:57] remjx commented on #2534
The only similarity I've been able to identify is that all the problematic pages use the getCurrentUser query.

I'm following that issue now so I'll be sure to test it, although I haven't found a way to replicate. It's just been happening intermittently.

[2021-07-04 14:57] ospfranco commented on #2521
I got the following error on my terminal after upgrading and trying to run `blitz dev`
[code]

[2021-07-04 15:06] ospfranco commented on #2521
Just as another data point, I seem to have ran into the same issue, when doing a `fetch` request to a custom api endpoint:

[code]

[2021-07-04 15:12] ospfranco commented on #2521
Just as another data point, I have run into the same issue when trying to query a custom endpoint via fetch (and axios):

[code]

somehow the server tries to return a `pages/` component, instead of calling the `api/` component

[2021-07-04 18:47] itsazzad opened #2542 "Error: Timeout - Async callback was not invoked within the 10000 ms timeout specified by jest.setTimeout."
### What is the problem?

Cannot git push.
Prepush test failing

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. `blitz new my-blitz-app`
2. `blitz dev`

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that show your problem:

[2021-07-05 00:13] itsazzad opened #2543 "SQL query log"
### What do you want and why?

Need to get logs of queries running in the DB server

### Possible implementation(s)

Might be through one middleware or through an event listener.

### Additional context

How is it like this? https://laravel.com/docs/master/database#listening-for-query-events

[2021-07-05 00:45] elmehalawi opened #2544 "Default logo for development site should be different version of the blitz logo"
### What do you want and why?

This is a small quality of life change, but it would be nice if the default logo included in blitz is a different version from the one used on the blitz website. This would make it really easy to distinguish a tab with a dev site from tabs with the blitz documentation

### Possible implementation(s)

For example, the colors could be inverted so that it's white on pur

[2021-07-05 07:27] midgethoen commented on #2499
I haven't come around to fixing this yet. Although, i think it has to to with permissions; when node in installed as a snap though the software center in Ubuntu.

[2021-07-05 15:03] #2096 closed

[2021-07-05 15:03] #2448 closed

[2021-07-05 15:21] flybayer commented on #2543
Good news, [Prisma already supports this](https://www.prisma.io/docs/concepts/components/prisma-client/working-with-prismaclient/logging)!

Simple:

[code]

More advanced log formatting:

[code]

[2021-07-05 15:21] #2543 closed

[2021-07-05 15:24] flybayer commented on #2542
If it's just a timeout issue, then add this to the test file to increase the timeout: `jest.setTimeout(1000 * 60) // 60 seconds`

[2021-07-05 15:28] flybayer commented on #2544
Good idea, thank you!

Currently we just have favicon file in the `/public` folder. To do this, I think we'd need to specifically link to it using `<Head>`, right?

Here's the template file for _app where we can do that: https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/app/pages/_app.tsx

[2021-07-05 21:04] flybayer commented on #2527
I spent a long time on this today. Turns out my production test failure I thought I had was just a test harness failure.

However I was able to reproduce the issue in your loom video. Turns out the solution is to remove `<Suspense>` from _app.js. I suspect that is caused by a react bug. So I've fixed that in the new app template for now: https://github.com/blitz-js/blitz/pull/2548

Can you try tha

[2021-07-05 21:56] flybayer commented on #2538
Thank you! I'm able to reproduce and am working on fixing it.

[2021-07-05 22:17] flybayer commented on #2538
Well, this is a bug in react-query itself: https://github.com/tannerlinsley/react-query/issues/2434

So we'll have to wait on a fix there. Anyone's welcome to contribute a fix there.

[2021-07-05 22:24] flybayer commented on #2534
That fix is released: https://github.com/blitz-js/blitz/releases/tag/v0.38.3

[2021-07-05 22:25] flybayer commented on #2521
Alright, I fixed that Cannot find module error and made a full release: https://github.com/blitz-js/blitz/releases/tag/v0.38.3

Let me know if that fixes this or not

[2021-07-05 23:15] laubonghaudoi opened #2550 "Chakra-ui recipe should update the LabeledTextField with Chakra's Input component"
Right now, installing Chakra UI with the recipe does not update the `LabeledTextField` component. The recipe should update the raw HTML `<input></input>` with Chakra's `<Input></Input>` component.

### Suggested Fixes

In `app/core/components/LabeledTextField`, make the following changes(omitting the imports):

[code]

Maybe the `<style jsx>{`...`}</style>` should also be removed, and the `<div></

[2021-07-06 01:02] erikshestopal commented on #2538
Thanks @flybayer!

[2021-07-06 02:18] Ghosts commented on #2544
Wouldn't just swapping out the `facivon.ico`  [in the public folder](https://github.com/blitz-js/blitz/tree/canary/packages/generator/templates/app/public) with one that isn't purple work too?

[2021-07-06 04:58] remjx opened #2552 "All pages return 404 with `blitz dev` after upgrading to 0.38.3 on Windows"
### What is the problem?

0.38.2 is working fine, but when I try to load any page locally with 0.38.3, I get a 404 error.

In CI, my Cypress tests are able to load the pages without issue.

### Paste all your error logs here:

[code]

I don't know if this is related, but the "Restart the server to see the changes in effect" keeps showing up even after re-running `blitz dev`

### Paste all relevant

[2021-07-06 14:07] flybayer commented on #2552
I'm unable to reproduce in my production app and we have integration tests for this.

Can you try deleting `.blitz` and `.next` and see if the issue persists? It should be cleared automatically, but worth a shot.

[2021-07-06 14:22] flybayer commented on #2550
Thanks! For whoever wants to work on this, the chakra recipe file is here: https://github.com/blitz-js/blitz/blob/canary/recipes/chakra-ui/index.ts

[2021-07-06 14:54] Ghosts commented on #2544
Ah gotcha - I thought the intent was just to differentiate a site using Blitz from the docs site _for_ blitz by having different favicons.

[2021-07-06 16:15] elmehalawi commented on #2544
Personally, I would just be happy with the whole dev site changing, since in production I'm going to replace it with a real icon anyway. It's just that in the early stages of development, I'm not focused on the bookkeeping stuff like the icon so I leave the default, and that makes it hard to distinguish it from the docs, which I also have open.

[2021-07-06 18:06] juan-manuel-alberro commented on #2468
hi @flybayer did you have some time to debug this issue?

[2021-07-06 19:42] Mohron commented on #2552
Seeing the same issue to include the "Found a change in blitz.config.js. Restart the server to see the changes in effect." when running `blitz dev`

[code]

[2021-07-06 19:47] flybayer commented on #2552
Oh, both of you are on windows. I will fix

[2021-07-07 01:28] remjx commented on #2552
@flybayer i tried deleting `.blitz` in my root and re-running `blitz dev` but am still getting 404 errors on every page.

[2021-07-07 03:30] markhughes commented on #2552
@remjx they have solved it in https://github.com/blitz-js/blitz/pull/2554 so when that's in and released you'll be good to go :)

[2021-07-07 06:40] muyiwaolu commented on #2550
Happy to work on this if nobody else wants to.

[2021-07-07 07:07] abuuzayr commented on #2550
@muyiwaolu you are very welcome to, thank you!

[2021-07-07 07:29] laubonghaudoi commented on #2550
Just asking, should the recipe also replace the `<div>` with Chakra's `<Box>`, also the `<button>` with Chakra's `<Button>`? Also if we do this, the recipe should also remove unnecessary `<style global jsx>` in the codes.

[2021-07-07 07:59] kenneho commented on #2550
In my opinion going for Chakra's <Box> and <Button> sounds like a good idea.

Regarding using Chakra's Form: Are you referring to usage in the file Form.tsx? If so, at least in my (default) setup, I'm using FinalForm, and would probably prefer to continue using this.

[2021-07-07 08:04] muyiwaolu commented on #2550
@laubonghaudoi Right now, I've updated the recipe to replace the `div` with Chakra's `Box` (as well as sorting out imports). What benefit would replacing the form bring?

[2021-07-07 13:51] medihack opened #2557 "Found a change in blitz.config.js"
### What is the problem?

Since v0.38.3 a new `.blitz.config.compiled.js` is generated in the project root folder. Also, this message is printed during startup of the dev server: `Found a change in blitz.config.js. Restart the server to see the changes in effect.`. This message is printed every time the server is started. Also, the compiled file sometimes changes a bit its structure (even if `.bli

[2021-07-07 14:15] flybayer commented on #2544
Oh oh, I misread the original issue! Sorry about that. Then yes all we need to do is replace the favicon in our template.

Here's all the current options we have: https://github.com/blitz-js/art/tree/master/Favicons But we can make a new one if needed too.

[2021-07-07 16:16] laubonghaudoi commented on #2550
Replacing it with Chakra's `<FormControl>` should provide more control to the form's aesthetics, like `colorScheme`. But other than that I don't know if there is any other benefit.

[2021-07-07 18:32] flybayer commented on #2557
Thanks for the report!

[2021-07-07 18:36] remjx opened #2558 "Routes manifest only returns one route when 2+ routes have same component name"
### What is the problem?

When two pages exist that export `BlitzPage`s with the same name, e.g. `Page` in this example:

[code]

the route manifest only generates one entry because there is a naming conflict, causing one of the routes to be missing/overwritten in the manifest:

[code]

This should cause an error during the build/dev process.

### Paste all your error logs here:

N/A

### Paste al

[2021-07-07 18:43] flybayer commented on #2558
Good catch, thanks!

I believe we just need to add a check right before this code: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/route-import-manifest/route-import-manifest.ts#L187-L190

[2021-07-07 18:52] flybayer commented on #2550
Personally I'm not sure it's worth it for us to maintain switching out divs since it doesn't have a visual impact, but if you already have it done, probably fine to leave for now :)

[2021-07-07 22:54] #2552 closed

[2021-07-07 23:38] #2557 closed

[2021-07-08 06:17] ospfranco commented on #2521
Hi, I just tried it with both latest releases (0.38.3 and 0.38.4) and neither of them works still

[2021-07-08 07:24] ospfranco commented on #2521
Sorry! there was a small mistake on my part, but anchor links are now properly working, thanks a lot!

[2021-07-08 17:20] remjx commented on #2534
@flybayer after upgrading to 0.38.4 I am still encountering this issue. Here are the error logs from Vercel. You'll notice it is logging `Internal error: antiCSRFToken is being set to undefined`

[code]

and

[code]

[2021-07-08 17:39] davidsoderberg opened #2560 "Be able to handle what the response will be from an query"
### What do you want and why?
Let's say I like to serve images stored on a S3 storage or even directly from server disk.
In this case it would also be good to be able to have an GET method instead of POST.

### Possible implementation(s)
We could add one more param in the query function like we today have context.
Like an api definition where the developer can decide stuff like:
- http method
- co

[2021-07-08 19:58] remjx commented on #2560
Static files/images can be served directly https://blitzjs.com/docs/static-files why do you want an API route for it?
There is also built-in image optimization https://blitzjs.com/docs/image-component

Does this work for your use case? If not, can you please elaborate on what you are trying to accomplish?

[2021-07-08 20:03] davidsoderberg commented on #2560
No it do not lets say that I have I am building a topic based comments like Github issues for example and like to host the profil images in an s3 bucket and do not like to expose the s3 links. So I use Blitz api like an image proxy and can also add some checks before responding with the image.

[2021-07-08 21:45] #2534 closed

[2021-07-08 21:49] flybayer commented on #2534
Ok! I'm quite confident the remaining issue is fixed in https://github.com/blitz-js/blitz/releases/tag/v0.38.5.

Of course if it's not, please reopen. I really appreciate you working with me on this!

[2021-07-09 02:33] hariria opened #2562 "Blitz passport auth don't call local sqlite db"
### What do you want and why?

I'm having an issue in my Vercel prod build where when I try to call [blitz passport.js auth](https://blitzjs.com/docs/passportjs) for google sign in, it seems to call my sqlite database even though there are no references to my local database anywhere in the file. I'd like to sign the user in and create a session for that user without having to access the database.

[2021-07-09 03:26] remjx commented on #2534
@flybayer the CSRF error seems to be fixed! The only caveat is that i had to clear my cookies on mobile Chrome to get past the error.

Thank you!

[2021-07-09 04:03] davidsoderberg commented on #2560
Also this maybe could be used for receiving file upload, so I like to be able to  change how the query works to be able to do these custom things.

[2021-07-09 06:26] itsazzad opened #2563 "Soft delete"
### What do you want and why?

- Soft delete middleware: https://www.prisma.io/docs/concepts/components/prisma-client/middleware/soft-delete-middleware
- Soft Deleting: https://laravel.com/docs/master/eloquent#soft-deleting

### Possible implementation(s)

Middleware?

### Additional context

[2021-07-09 15:27] flybayer commented on #2468
No unfortunately I haven't.

[2021-07-09 15:30] flybayer commented on #2562
Blitz built-in auth (which passport adapter uses) requires a database to manage sessions. If you don't want that, then you'll need to use some other auth package like auth0 or vanilla passport. Make sense?

[2021-07-09 15:30] #2562 closed

[2021-07-10 14:04] kamkry opened #2569 "getQueryKey does not work in jest"
### What is the problem?

When I try to use the `getQueryKey` function in a test environment, I get `Cannot read property 'apiUrl` of undefined` error. From what I see it is caused by a non-existent `_meta` prop on the resolver. An easy solution that comes to mind is to just add optional chaining like this:
[code]
but maybe it's a bigger problem than this.
Thanks for your help in advance!

### Pas

[2021-07-11 10:17] tomhallam commented on #289
This seems to be working as of Blitz 0.38.5 - a blend of the proposals from @benjick and @kn0ll. Without it, I was getting TypeScript errors for enums inferred from my Prisma Schema.

[code]

This results in a 580MB file, which is pretty huge. Doesn't feel like I'm bringing in much as dependencies, just the Multi-tenancy customization and Stripe.

Any ideas how I can remove the `RUN yarn blitz pri

[2021-07-12 01:59] CarterMcAlister commented on #2527
I am seeing this issue as well after updating Blitz from `0.34.3` to `0.38.5`.
I do not have `<Suspense>` in `_app.tsx`
If I log the error in the fallback, it prints `RedirectError: /` for me.

[2021-07-12 02:18] CarterMcAlister commented on #2527
@Swapnull I discovered the issue for me, maybe for you as well?
I upgraded blitz, but missed the breaking change introduced in [0.38.0](https://github.com/blitz-js/blitz/releases/tag/v0.38.0)
After removing `react-error-boundry` and replacing it with the new one from Blitz, `redirectAuthenticatedTo` is working as expected for me.

[2021-07-12 07:49] oceandrama commented on #586
Highly anticipated feature

[2021-07-14 03:25] itsazzad commented on #1221
@flybayer I am suffering from this issue in heroku console.
[code]

[2021-07-14 06:23] divpreet commented on #2334
Not sure if this helps anyone, but I think this seems to be happening when there are tests for queries or mutations as I am seeing in my case. I haven't found a solution for it yet.

[2021-07-14 10:04] maxfi commented on #2492
I'm also experiencing this issue. Very slow intellisense / errors / autocomplete in vscode. I've occasionally also found that some query results will incorrectly show as type `any`.

Dependencies:

[code]

Blitz output:

[code]

`tsconfig.json`

[code]

It's a decent size project but I wouldn't expect Typescript to not be able to handle it:

[code]

---

I've tried (without success):

- downgradin

[2021-07-14 20:52] flybayer commented on #1221
@itsazzad is `faker` in your package.json? And if you are only installing production deps on heroku, make user you put faker in regular deps instead of dev deps.

[2021-07-14 22:40] MrLeebo commented on #2563
@itsazzad What exactly are you asking for? You could add the proposed middleware in the prisma docs to your `db/index.ts` file and be all set, no?

[2021-07-14 23:19] MrLeebo commented on #2569
Thank you for bringing this up.

I think you're right, but I think the actual problem with that file is that as of https://github.com/blitz-js/blitz/blob/fcb2782b332900ebecbf8d27050a25cc7c8b7c0b/packages/core/src/utils/react-query-utils.ts#L91 the Type system is lying to you, claiming that the resolver is enhanced when (in the context of running Jest) it isn't an enhanced resolver at all.

That se

[2021-07-14 23:37] MrLeebo commented on #2560
If you need to set the method or content type of a request, you can implement it as an API Route https://blitzjs.com/docs/api-routes. There's no reason to add that kind of customization to queries/mutations, because they act as an abstraction from the HTTP protocol... if you don't want to work with an abstraction, you can just leverage the HTTP directly using API Routes.

[2021-07-15 01:26] MrLeebo commented on #1795
Closing for staleness

[2021-07-15 01:26] #1795 closed

[2021-07-15 01:30] MrLeebo commented on #2257
Closing this as a duplicate of the linked PR

[2021-07-15 01:30] #2257 closed

[2021-07-15 01:47] MrLeebo commented on #2379
Closing this for staleness

[2021-07-15 01:47] #2379 closed

[2021-07-15 01:48] MrLeebo commented on #2460
Closing this for staleness and a repro was never provided

[2021-07-15 01:48] #2460 closed

[2021-07-15 04:49] #2560 closed

[2021-07-15 18:27] ravindranrahul commented on #2558
Hi can i take this up?

[2021-07-16 07:31] abuuzayr commented on #2558
absolutely, @ravindranrahul ! i'll assign it to you, do let us know if you need any help.

[2021-07-16 22:55] #2550 closed

[2021-07-16 23:00] flybayer commented on #2569
Heads up: the _meta implementation is changing in https://github.com/blitz-js/blitz/pull/2516 so no one work on this until that is merged.

[2021-07-17 13:51] jmcelreavey commented on #1983
Any progress on this one? :)

[2021-07-17 14:23] vavdoshka commented on #241
in case if someone will read this - this is how I managed to do it as of today:

`blitz prisma migrate reset && blitz db seed` with postgres DB.

[2021-07-17 15:08] jmcelreavey commented on #1145
Can we reopen this? I feel it would be really nice to just start the debugger similarly to how you would debug in nextjs?

[2021-07-17 19:24] doncicuto commented on #2329
Hi @flybayer, I have the same issue and was willing to use req and res to be able to manage invitation codes. If you want to assign this issue to me, I think I'm ready to create a pull request right now following your previous guidelines and comments. Thanks!

[2021-07-17 21:27] tafelito opened #2575 "Add session info (or maybe context) to the redirectAuthenticatedTo"
### What do you want and why?

Based on the conversation we had over discord, it would be nice to have a a way to pull the session data when using `redirectAuthenticatedTo` to make it easier to redirect to different places depending on the user's session

### Possible implementation(s)

After implementing this, redirectAuthenticatedTo would look like something like this `Page.redirectAuthenticated

[2021-07-17 22:51] abuuzayr commented on #2329
awesome, thanks @doncicuto ! I have assigned you as requested

[2021-07-18 15:14] uvero opened #2577 "⚠️ security problem with passwords on default scaffolded app"
Hi, entirely new here, going in raw. Looking at the code, I found code that made me suspect that passwords are saved in the database by hashing alone. I registered two users with the same password, have the same hashed password in the database. This is a common security breach. Password security requires at least hash & salt.

I would implement it myself for you and PR but this isn't really my lea

[2021-07-18 19:24] LucasCoderT opened #2578 "Allow resolver.zod to parseAsync"
### What do you want and why?

`resolver.zod` only parses using the `sync` method, it'd be helpful if resolver.zod had a 2nd parameter for mode: `"async" | "sync"` to allow for parsing that requires it. Modeled after the resolver from ``@hookform/resolvers`` package.

The more information the better!

### Possible implementation(s)

How might we do this?

https://github.com/blitz-js/blitz/blob/e79

[2021-07-19 05:43] Elias-Graf commented on #2117
What version of Next.js are you guys using? Because this is happening to me given the following packages:

[code]

Thus it's probably not on you to fix this.

[2021-07-19 07:41] ravindranrahul commented on #2558
Hey @abuuzayr, Im pretty new to this. So far:

- I have setup my local blitz
- After yarn dev on root folder & blitz dev inside `examples/auth`, Im able to get the example app working.

However,  the following console log  in `packages/server/src/stages/route-import-manifest/route-import-manifest.ts` doesn't seem to work.

![Screenshot from 2021-07-19 13-10-42](https://user-images.githubuserconten

[2021-07-19 16:19] nimashoghi opened #2580 "Types for useQuery Hook Don't Support the "select" Property"
### What is the problem?

The TypeScript types for the `useQuery`, `usePaginatedQuery`, `useInfiniteQuery` hooks don't support the "select" parameter.

### Paste all your error logs here:

N/A

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

See code snippet above

### Run `blitz -v` and paste the output here:

[code]

### Please include below an

[2021-07-19 16:29] nimashoghi commented on #2580
See #2581

[2021-07-19 21:06] laubonghaudoi commented on #2550
@muyiwaolu This issue is closed but I am thinking can we also replace the error message div with Chakra's `<FormErrorMessage>`. At the moment this recipe creates a `LabelTextField` like this:

[code]
And I am looking to change into this:
[code]

I think it is better to integrate with Chakra's `<FormErrorMessage>` instead of `<div>`, what do you think?

[2021-07-19 23:28] Gabrielgvl opened #2582 "useParam hook returns undefined in tests"
### What is the problem?

I was trying to implement some tests in a page which uses the useParam hook. I tried to mock the param in the render, however, it does not seems to work as the param is undefined.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

Here is how I tried to mock it:
[code]

### What are detailed steps to reproduce this?

1. Add useParam

[2021-07-21 07:01] divpreet opened #2584 "Having multiple domains with the same locale causes router redirections to incorrect domain"
### What is the problem?

We have multiple domains with the same locale defined in the config. Something like this in the blitz.config file:-
[code]

Running the app on `app.test.ca.domain.com` and triggering a `router.push()` where `router = useRouter()` redirects to the first matched domain with the same locale ie `app.ca.domain.com` in this case.

Seems like `detect-domain-locale` has the domai

[2021-07-21 11:20] zwl1619 opened #2585 "Support Dgraph？"
I want to try [Dgraph](https://github.com/dgraph-io/dgraph) with blitz.
Does blitz support  [Dgraph](https://github.com/dgraph-io/dgraph)?

[2021-07-21 12:12] LucasCoderT commented on #2585
Hi,

Blitz doesn't force you to use any specific database. You can Integrate any database you want￼. It comes with prisma but you can remove it.

[2021-07-21 14:34] #2585 closed

[2021-07-21 20:18] cole-robertson opened #2587 "Blitz generate is still generating auth code when session middleware is removed"
### What is the problem?

The command `blitz generate ...` is still generating authentication code after removing the session middleware from the blitz.config.ts file.

This includes `Page.autenticate = true` and the ` resolver.authorize()` for the newly scaffolded pages, queries, and mutations.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### W

[2021-07-21 21:29] flybayer commented on #2575
Thank you! This will be good to add. We should just tweak the API slightly so that it passes in an object. Will allow us to add other things in the future.

[code]

[2021-07-21 22:11] flybayer commented on #1983
Not fixed yet, but definitely lots of progress on the nextjs fork migration. Several PRs already released and this one https://github.com/blitz-js/blitz/pull/2516 in progress

[2021-07-21 22:12] flybayer commented on #1145
We can, but there's no action item on this except for finish the nextjs fork migration which is in progress as we speak. This will then automatically fix itself.

[2021-07-21 22:21] flybayer commented on #2577
Thanks @uvero. We leverage https://github.com/emilbayes/secure-password for the hashing which automatically salts them.

So I'm a bit surprised by your report. Can you include code snippets to reproduce?

Here's a quick test I did. On first glance they **appear** the same but they are actually different.
[code]

[2021-07-21 22:24] flybayer commented on #2578
Thanks! I'm thinking we can actually just switch to parseAsync. Do you see any reason not to?

[2021-07-21 22:26] flybayer commented on #2558
@ravindranrahul to run that code, run `blitz routes` :)

[2021-07-21 22:26] flybayer commented on #2558
sorry for the delayed response! You can always ask in the contributor section in discord too

[2021-07-21 22:27] flybayer commented on #2550
@laubonghaudoi I'm fine with that if that's something you think a lot of Chakra folks would like!

[2021-07-21 22:33] #2580 closed

[2021-07-21 22:41] flybayer commented on #2582
Thanks! I think to fix this we need to adjust some code inside nextjs core. Not sure where exactly. But in there, on first render we can check if running in a jest test via env variable. If yes, then set params on first render. Otherwise on second render as it currently does.

[2021-07-21 22:42] flybayer commented on #2584
Hi @divpreet. This comes from Next.js — looks like a bug. Is it the same as this? https://github.com/vercel/next.js/issues/22795

[2021-07-21 22:43] flybayer commented on #2587
Thanks! This is a great idea we should address. If sessionMiddleware is not present, omit the auth code from generated code.

[2021-07-21 22:46] divpreet commented on #2584
Thanks @flybayer, looks like that is the same issue.

[2021-07-21 22:47] flybayer commented on #2584
Cool — ok to close this one then?

[2021-07-21 22:49] divpreet commented on #2584
Sure.

[2021-07-21 22:49] #2584 closed

[2021-07-21 22:58] LucasCoderT commented on #2578
I don't see any reason not to parseAsync no.

[2021-07-21 23:07] flybayer commented on #2578
Ok cool.

Let's add the argument, make it optional, and default to async.

[2021-07-22 09:05] frankiesardo opened #2588 "validateZodSchema error messages don't work for nested objects when creating an entity"
### What do you want and why?

When you create a new entity, say Project, you might have something like this:

[code]

This works fine. Fronted validation correctly highlights the LabeledTextField when it's touched and it's empty because `validateZodSchema` returns `{name: "Required"}` and React Final Form correctly interprets that and marks the field as invalid.

But if your entity has nested fie

[2021-07-22 15:17] flybayer commented on #2588
Thank you! Ready for someone to work on.

[2021-07-22 17:02] dawnofmidnight commented on #2144
Actually, I don't think I'll be able to do this as I've been rather busy lately.

[2021-07-22 17:45] bravo-kernel commented on #2575
This would be awesome as I am trying to redirect to `/{session.username}`

[2021-07-23 10:25] ravindranrahul commented on #2558
@flybayer Thanks for getting back to me! Let me try that. I'll direct additional questions to discord group.

[2021-07-24 09:05] thefrontendguy opened #2594 "model Question creation in Tutorial should be 'name'"
### What is the problem?

**blitz generate all question text:string** throws an error in **app/pages/questions/index.tsx**  at **<a>{question.name}</a>**

The created question model has no name

[code]

It should be this **blitz generate all question name:string**

[2021-07-24 09:19] #2594 closed

[2021-07-24 09:21] thefrontendguy commented on #2594
my bad. the solution was below in the tutorial.

[2021-07-24 22:40] medihack opened #2595 "Warning after redirectAuthenticatedTo"
### What is the problem?

After redirection because of `redirectAuthenticatedTo` the below warning occurs in the console.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

None.

### What are detailed steps to reproduce this?

1. Create a new project
2. Login
3. Visit `localhost:3000/login`

### Run `blitz -v` and paste the output here:

[code]

### Please i

[2021-07-25 20:40] hariria opened #2598 "Passport Auth redirect_uri_mismatch secureProxy does not work (Google Auth)"
### What is the problem?

I'm using [passport.js](https://blitzjs.com/docs/passportjs) to do 3rd party login with Google OAuth in `api/auth/[...auth].ts`. like so:

[code]

Everything works great on local, but when deployed, I get this redirect_uri_mismatch:

[code]

Note how it says `http` and not `https` above.

It appears that no matter what I do (even with the `secureProxy` set to `true`, the

[2021-07-25 22:20] hariria commented on #2598
Nevermind, i figured it out! you need to change the `callbackURL` setting for the strategy to include https (ie. `https://<YOUR_WEBSITE>.com/api/auth/google/callback`. Hope that helps someone

[2021-07-25 22:20] #2598 closed

[2021-07-26 09:57] clgeoio opened #2601 "dehydrateState does not apply server side props"
### What is the problem?

The [Prefetching](https://blitzjs.com/docs/query-usage#prefetching) suggests that if set up correctly, adding `dehydratedState` should render the result of a query in the server-side render.

The [test case](https://github.com/blitz-js/blitz/blob/334a771c867334f76123d9c4c0b9b1f5d39c9eb2/test/integration/queries/test/index.test.ts#L79) for the dehydrated state is invalid a

[2021-07-27 10:50] gielcobben commented on #2520
I'm still having issues with this on the latest version of Blitz. @medihack do you still have this issue too or is it fixed for you?

[2021-07-27 10:51] gielcobben commented on #2520
I'm still having this issue on the latest version of blitz.

[2021-07-27 21:30] MrLeebo commented on #2577
Closing this since passwords are already salted

[2021-07-27 21:30] #2577 closed

[2021-07-27 21:33] MrLeebo commented on #2563
Closing this for lack of information

[2021-07-27 21:33] #2563 closed

[2021-07-27 23:01] jaydev commented on #2569
This bug causes all `useQuery` calls to throw the error `Cannot read property 'apiUrl' of undefined` that are at the top level of any 'BlitzPage` component. Is there a workaround until #2516 is done?

[2021-07-28 08:37] sagnik-chatterjee commented on #2588
Hi , can I work on this issue ?

[2021-07-28 12:01] lancejpollard commented on #1922
Having this same issue.

[2021-07-28 14:13] medihack commented on #2520
@gielcobben For me the problem (with SVGR) is completely resolved. Maybe an other issue? Maybe you could post your SVGR setup and how you load the files.

[2021-07-28 14:59] ravindranrahul commented on #2558
I have reused the `dedupeBy` method for highlighting duplicate paths. FYI -  While testing it shows `Test` is also a duplicate entry in `examples/auth`. Potentially because of conflict between `pages/ssr.tsx` & `pages/test.tsx`.

![Screenshot from 2021-07-28 20-18-30](https://user-images.githubusercontent.com/10168946/127345383-44bdbb01-309d-47b4-a0c1-929f3e9a0e64.png)

@flybayer  let me know what

[2021-07-28 16:42] flybayer opened #2608 "ENOENT error when trying to install blitz recipe"
You get an ENOENT error if you `rm -rf .blitz && blitz install [name]`

### Discussed in https://github.com/blitz-js/blitz/discussions/2596

<div type='discussions-op-text'>

<sup>Originally posted by **spidertwin2** July 25, 2021</sup>
`blitz install chakra-ui` gives the output -

[code]

running my project on macOS Big Sur 11.4

🐰 </div>

### Workaround

1. Run `blitz dev`
2. Stop `blitz dev`
3.

[2021-07-28 17:14] ugogo opened #2609 "`setQueryData` seems to break resources typing"
### What is the problem?

When using `useQuery`, the resources' type seems to get lost when destructuring `setQueryData`

### Paste all your error logs here:

-

### Paste all relevant code snippets here:

-

### What are detailed steps to reproduce this?

Inspect typing with and without `setQueryData`

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other appli

[2021-07-28 17:50] Duckinm opened #2610 "Base path reports error"
### What is the problem?

Whenever you set your own custom basepath in blitz.config.ts or blitz.config.js

All of the pages using Link components by Blitz will get warn:
import { Link } from 'blitz'

### Paste all your error logs here:

[code]

### What are detailed steps to reproduce this?

Have to fix something on { Link } from 'blitz' to make it work properly, but you can make the warning disap

[2021-07-28 18:37] #2544 closed

[2021-07-29 07:02] gielcobben commented on #2520
Thanks for the reply. Would you mind sharing your config? Here is mine:

`blitz.config.ts:`
[code]

`global.d.ts:`
[code]

[2021-07-29 08:19] medihack commented on #2520
@gielcobben Sure, below are mine (but yours look ok). What's the output of `blitz -v`?

`custom.d.ts`
[code]

`blitz.config.ts`
[code]

`index.ts`
[code]

[2021-07-29 15:18] flybayer commented on #2595
This is expected because our redirects are implemented via `throw` inside the render function. This is necessary to prevent the user from seeing something they shouldn't. In the case of redirectAuthenticated, it's probably not a big deal. But it's important for redirecting unauthenticated users.

My opinion is that React should not log that warning in the case when errors are thrown, because this

[2021-07-29 18:39] flybayer commented on #2569
@jaydev if you need, we can merge a PR to fix this before #2516 is done.

[2021-07-29 18:46] flybayer commented on #2609
Thanks! This is ready for someone to work on. Code is here: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-query-hooks.ts#L35

[2021-07-29 18:51] #2329 closed

[2021-07-29 19:47] beerose commented on #2609
Hey @ugogo!

I tried reproducing it with Blitz examples and my side project, and  I did see an `any` type in a tooltip a few times due to a VS Code lag. However, it was in various configurations — with and without destructuring `setQueryData`, or with destructuring some other field.
Did you notice this issue outside of your editor  — e.g. with tsc not reporting an error that would happen if the va

[2021-07-30 00:42] jaydev commented on #2569
@flybayer That would be super swell! Let me know if there's any way I can help out here.

[2021-07-30 01:48] Talor-A opened #2613 "npx blitz new prints an error but resumes creating app"
### What is the problem?

running `npx blitz new` (no global `blitz` installed, so fetching the latest version

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

N/A

### What are detailed steps to reproduce this?

1. `npx blitz new myapp` with no global `blitz` installed
2. error is printed
3. project is initialized fine

### Run `blitz -v` and paste the out

[2021-07-30 03:27] Roesh commented on #2578
I was thinking of picking this up, but I want to clarify what is being targeted here. Based on @LucasCoderT Lucas' comment, it looks like we will want to do something like
`export default resolver.pipe(resolver.zod(GetEvent, "sync")` and if that argument isn't specified, we do an async parse?

From the file @flybayer linked, I see an additional function that is also commonly used, and I assume thi

[2021-07-30 06:34] medihack commented on #2595
Ok, good to know. Then let's close the issue. At least it is now documented somewhere.

[2021-07-30 06:34] #2595 closed

[2021-07-30 06:38] ugogo commented on #2609
hey @beerose
Just tried `npx tsc` with `"noImplicitAny": true` in my `tsconfig.json` and it's throwing an error when trying to map the resource
Like in this example
![CleanShot 2021-07-30 at 08 37 58@2x](https://user-images.githubusercontent.com/5040476/127611474-388b012f-e312-4c5e-84e3-b495021646cc.jpg)

[2021-07-30 12:20] hmbrg opened #2614 "Permanent Access Tokens for protected API routes"
### What do you want and why?

My team is using Retool.com to create internal tooling for our Blitz.js app.
The plan is to create API routes within the Blitz app and then send request to these endpoints from Retool.
Ideally, I could generate a personal access token like GitHub offers which can then be used to access protected routes.

### Possible implementation(s)

@flybayer suggested on Discord

[2021-07-31 12:24] clgeoio commented on #2601
I was looking into this a bit, managed to get the test working with some changes: https://github.com/blitz-js/blitz/pull/2617