[2022-08-02 10:48] beerose commented on #3623
Hey @sherryxiao1988, unfortunately not yet. Maybe @dillonraphael has some ideas as he was working on a fix.

[2022-08-02 12:49] #3608 closed

[2022-08-02 19:21] alfonmga commented on #3637
Looks Passport.js integration is broken. I tried to refactor a legacy Blitz app to `v2` and after a lot of plumbing and several hours, I decided to give up.

I stumbled upon a `Missing Blitz sessionMiddleware!` error when processing a callback for a Passport strategy.
Blitz passport adapter [does a session assertion ](https://github.com/blitz-js/blitz/blob/6559c25f71326df4fa81ebfc0eb25208ecab5d28/

[2022-08-02 21:58] Zeko369 opened #3656 "When running codemod fix imports from pages files"
### What is the problem?

If you import something from a page in another component, then run the codemod it doesn't change the imports

### Paste all your error logs here:

Breaks build

### Paste all relevant code snippets here:

Any export / import (i.e. component)

### What are detailed steps to reproduce this?

1. make a legacy blitz app
2. import something from one page in any other component

[2022-08-02 22:01] Zeko369 opened #3657 "Next warning that blitz shouldn't be shown in next.config.js"
### What is the problem?

Next.js > 12.2.0 uses json-schemas to validate config, causing a warning that `blitz` isn't expected

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

[code]

And `yarn add next@latest`

### Run `blitz -v` and paste the output here:

[code]

### Possible implementation

Destruc

[2022-08-03 08:10] Zeko369 opened #3660 "Add `zod` as one of the dependencies we print in `blitz -v`"
### What do you want and why?

It would be useful to also print the `zod` version (since a mismatch / outdated zod can cause a bunch of problems)

### Possible implementation(s)

In [index.ts:88](https://github.com/blitz-js/blitz/blob/f60f96f5d1412b6c810b1d5e94d8dda5b6ee5454/packages/blitz/src/cli/index.ts#L89), add `zod` as the last element in array

[2022-08-03 10:46] #3544 closed

[2022-08-03 12:26] chaiwattsw commented on #3660
Hi, I would like to take this issue

[2022-08-03 12:46] beerose commented on #3660
Hmm, `zod` is not a core element of Blitz, and in my opinion, it's one of the things that can be super easily removed and replaced. I'm not very fond of adding it to the list. Because if we do it with `zod`, then why not do it for jest, eslint, ts-node? The fact that it was causing issues is on us, and we should make sure to fix the root cause and talk about it to inform users what to do etc.

[2022-08-03 13:06] chaiwattsw commented on #3649
So I can simply delete this line to fix this right?
https://github.com/blitz-js/blitz/blob/890b0c0c9ded4c4a464bda2c09b1ff0085f79b2e/packages/blitz-rpc/package.json#L30

[2022-08-03 15:55] edrickleong opened #3663 "@blitzjs/rpc does not work without auth plugin"
### What is the problem?

Hi, I am trying to setup the minimal blitzjs project and adding the `@blitz/rpc` without the `@blitz/auth` package. I assumed that blitz rpc would work without the blitz auth plugin but it currently throws an error.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

I created a brand new blitz project and made minimal changes to add

[2022-08-03 16:02] #3646 closed

[2022-08-03 20:37] flybayer commented on #3649
@chaiwattsw move that to `devDependencies`, and I think you'll need to add zod to this externals array: https://github.com/blitz-js/blitz/blob/main/packages/blitz-rpc/build.config.ts#L11-L17

[2022-08-03 20:50] chaiwattsw commented on #3649
I got it, Thanks!

[2022-08-03 23:13] #3580 closed

[2022-08-04 11:21] #3657 closed

[2022-08-04 19:43] dillonraphael commented on #3592
Thanks for the issue @lhocke

Going to take a look at this for beta release

[2022-08-04 19:58] dillonraphael commented on #3623
@sherryxiao1988 We patch your nextjs with a fix for this whenever `blitz codegen` is called. It happens on the postinstall script for `@blitzjs/next`.

Can you try updating to the latest alpha version?

Also after checking your repo, you seem to have a version mismatch between packages. Some are `alpha` & some are hardcoded. I just tested your repo with all the versions set to `2.0.0-alpha.65` & i

[2022-08-04 20:00] dillonraphael commented on #3565
As reference https://github.com/blitz-js/blitz/issues/3625

[2022-08-04 21:57] #3649 closed

[2022-08-05 04:53] googamanga commented on #3467
@aleplusplus, @Zeko369 how would this be done in the 0.45.4 version?

[2022-08-05 07:40] Zeko369 commented on #3467
@googamanga https://legacy.blitzjs.com/docs/passportjs

[2022-08-05 10:20] noxify opened #3676 "Toolkit - Unable to create new app with 2.0.0-alpha.66"
### What is the problem?

Tried to create a new app with the new toolkit.

Just followed the installation instructions to install the blitz cli ( https://alpha.blitzjs.com/docs/get-started#set-up-your-computer )

Got an error ( see below ) and the project directory is empty ( but created ).

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What a

[2022-08-05 10:24] noxify commented on #3676
It seems that the path to the `templates/app` is wrong.
I checked the folder and it should be `/usr/local/lib/node_modules/blitz/node_modules/@blitzjs/generator/dist/templates/app
`

[2022-08-05 14:09] noxify commented on #3676
Fixed by https://github.com/blitz-js/blitz/pull/3679

[2022-08-05 14:09] #3676 closed

[2022-08-05 14:46] noxify commented on #3623
Thanks for the hint @dillonraphael :)

I have added the following line to the `scripts` section in the `package.json` to make sure the fix is working even when i add a new package to my repo :) ( since I had the same problem after installing a new package )

[code]

[2022-08-05 15:57] dillonraphael commented on #3637
Can you open a different issue for this?

[2022-08-05 15:59] dillonraphael commented on #3636
You can install `ts-node` as a devDependency. It's included with the app generator templates but I'm assuming you're using the codemod on a project and getting this error?

[2022-08-05 19:09] lhocke commented on #3636
It was happening with fresh projects as well, but I'm not running into the issue after updating to 2.0.0-alpha.67

[2022-08-05 19:11] googamanga commented on #3467
Thanks! issue was that I was using
`import { passportAuth } from "@blitzjs/auth"`

from non-legacy docs

[2022-08-05 20:27] dillonraphael commented on #3663
Yup, we're aware of this. Currently we're tinkering on the best approach to this.

[2022-08-07 03:00] sfarrowGR opened #3685 "CLI Error: Cannot find module 'generate'"
### What is the problem?

I create a new app with blitz new

blitz dev works fine

when I run blitz generate all project name:string -> an error occurs.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

none

### What are detailed steps to reproduce this?

1. use the cli to create a new app
2. run blitz generate all project name:string

### Run `blitz -v` an

[2022-08-07 11:07] noxify opened #3686 "Toolkit: Auth - Passport - Custom strategy name"
### What do you want and why?

While trying to implement the third party login via passportjs I have currently the challenge to change the strategy name.

There are some providers which have a static strategy name ( e.g. [twitter](https://github.com/jaredhanson/passport-twitter/blob/master/lib/strategy.js#L54)  ) and there are some providers ( in my case https://github.com/panva/node-openid-client

[2022-08-07 13:01] beerose commented on #3623
Still happening after a fresh install. Using latest version @dillonraphael

[2022-08-07 13:11] dillonraphael commented on #3623
Hmm not for me. Not able to replicate.

[2022-08-07 15:34] beerose opened #3689 "Tests fail to run in a new Blitz alpha app"
### What is the problem?

There are currently multiple problems with tests:

1. Missing ts-jest dependency. Fix: https://github.com/blitz-js/blitz/pull/3688
2. Trailing comma causing parse issue. Fix: https://github.com/blitz-js/blitz/pull/3687
3. However, after fixing these two issues, we still have get an error: `Cannot find module '@testing-library/jest-dom' from 'node_modules/@blitzjs/next/jes

[2022-08-08 10:21] beerose commented on #3663
Adding some notes on making `@blitzjs/rpc` work without `@blitzjs/auth`:

What we need to do:

1. Hook up auth types into the rpc package instead of importing them from `@blitzjs/auth`.
For example, `ResolverAuthorize` should be different depending on whether the user uses the auth plugin.
If yes, we should have `AuthenticatedMiddlewareCtx` provided as a generic argument to `ResultWithContext`. Ot

[2022-08-08 11:14] beerose commented on #3542
Why was this issue moved to `done` column if it's open? Is there a related PR?

[2022-08-08 13:37] #3542 closed

[2022-08-08 13:39] beerose opened #3691 "Add `blitz generate` back to toolkit"

[2022-08-08 13:47] noxify commented on #3691
related: #3685

[2022-08-08 13:48] beerose commented on #3603
If cookie prefix is undefined we should throw an error telling people to fix it manually.

[2022-08-08 13:50] beerose commented on #3625
Closing in favor of https://github.com/blitz-js/blitz/issues/3566

[2022-08-08 13:50] #3625 closed

[2022-08-08 15:57] #3623 closed

[2022-08-08 16:54] #3601 closed

[2022-08-08 17:22] siddhsuresh commented on #3319
Hey, @beerose can I work on this? I can convert the plain-js, static and the store examples to use Blitz Toolkit as the other two have been taken by others. Should I create a PR for each or should I do it in a single PR?

[2022-08-08 17:23] #3689 closed

[2022-08-08 19:35] #3614 closed

[2022-08-08 20:10] #3604 closed

[2022-08-08 20:35] #3603 closed

[2022-08-08 20:54] flybayer opened #3697 "gSSP `redirect` does not accept Routes manifest object"
### What is the problem?

This code inside getServerSideProps function that's wrapped in gSSP does not work:

[code]

### Paste all your error logs here:

[code]

[2022-08-09 12:32] #3685 closed

[2022-08-09 13:03] beerose commented on #3637
Hey @paulm17,

I tested the `Page.redirectAuthenticatedTo, Page.authenticate` methods with both strings, route objects, booleans, but it seems to work correctly. I'm using the latest blitz — 2.0.0-alpha.67.

However, I did see the `Error: Hydration failed because the initial UI does not match what was rendered on the server.` popup.

After some debugging, I nailed it down to the styled-jsx used in

[2022-08-09 13:35] paulm17 commented on #3637
@beerose Thanks.  I will give it another test when another patch is released to fix the issue you mention.  👍

[2022-08-09 14:42] oltdaniel commented on #3329
As the new version `2.x` is more directly connected to NextJS, I think NextJS needs to support it first. The last step for BlitzJS should be minimal by then. See the NextJS issue regarding deno support for more infos: https://github.com/vercel/next.js/issues/12334

[2022-08-09 15:10] siddhsuresh commented on #3624
Hey, @beerose can I work on this?

[2022-08-09 17:21] #3641 closed

[2022-08-10 09:17] #3490 closed

[2022-08-10 09:35] oltdaniel opened #3706 "missing `loadConfigAtRuntime` for `baseLogger` to change logger config"
### What is the problem?

Currently there is no way to configure the logger level, as the config is currently a placeholder and marked as ToDo. See https://github.com/blitz-js/blitz/blob/85b15a9cfba1280a0dc146af23b12488d26584d4/packages/blitz/src/logging.ts#L37

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce

[2022-08-10 14:44] siddhsuresh commented on #3602
hey, @dillonraphael @beerose can I work on this?

[2022-08-10 16:51] dillonraphael commented on #3602
@siddhsuresh for sure! Wanted to get this done by the end of the week. Let me know if you need any help

[2022-08-10 17:19] paulm17 commented on #3637
Hi @beerose

So the redirection is somewhat working... 😓

I have my login page set with

But when I hit /auth/login, it redirects to home.  Although I have no current session.

https://www.loom.com/share/0814f0627ca34d68aed2dfbb449379b4

[2022-08-10 21:08] dillonraphael commented on #3706
Thanks for bringing this to our attention

[2022-08-11 10:27] beerose commented on #3637
Hey @paulm17,

So I again tried to reproduce it but everything works fine for me. Here's an example app: https://github.com/beerose/blitz-alpha-auth-redirects-demo (it's a brand new blitz app with modified index.tsx and login.tsx).

As for the hydration error — it seems to be related to styled-jsx that we use in the template. Could you open a new issue for that?

[2022-08-11 10:31] paulm17 commented on #3637
@beerose Alright.  I'll test out the example app and go from there.  It's going to be a bit, because I'm in the middle of something and want to get that finished before I circle back...

[2022-08-11 10:36] beerose commented on #3637
Sure, take your time!

In the meantime, I'll move this issue to a `to do` column since it doesn't seem like a blocker for the beta release as it works well in other projects.

[2022-08-11 11:20] #3697 closed

[2022-08-11 14:35] #3691 closed

[2022-08-11 15:11] #3602 closed

[2022-08-11 16:52] medihack commented on #3637
Not sure if this is the same issue, but I am also having trouble with redirection. I am using `LoginPage.redirectAuthenticatedTo = Routes.HomePage()` in my login page and when I visit it as a logged-in user then the site just gets blank. No error message, no redirection. I try to investigate this further, but without an error hint this is quite hard.

[2022-08-11 16:58] paulm17 commented on #3637
@medihack Do you see a 320 in the titlebar or a 320 ./ in the middle of the page?

[2022-08-11 18:35] medihack commented on #3637
No, not really. I visit the login site. It appears for a some moment (milliseconds) and then disappears, leaving a blank screen. No errors in the browser console, nor in the server console. No title change. I'll try to create a minimal example, but that's not so easy as so much is going on in the app (Redux, i18next, ...). But I also have trouble with redirecting using the router after login, so m

[2022-08-12 09:53] SilvanVerhoeven opened #3714 "Deploying Blitz.js in production with Docker fails"
### What is the problem?

I want to deploy a Blitz.js in production using Docker. I build and start the containers `docker-compose -f docker-compose.production.yml up --build`. Once the server has started, I open the website via the browser. This fails with an 500 - internal server error. The logs show `Error: @prisma/client did not initialize yet. Please run "prisma generate" and try to import it

[2022-08-12 10:15] medihack commented on #3637
Ok, I looked into it again, and all my redirection problems are associated with `redirectAuthenticatedTo`. As soon as I add it to e.g. my LoginPage (`LoginPage.redirectAuthenticatedTo = Routes.HomePage()`) it fails in several ways (mostly by just leaving me with a blank screen).

[2022-08-12 17:52] beerose commented on #3498
https://github.com/blitz-js/blitzjs.com/pull/729

[2022-08-12 17:52] #3498 closed

[2022-08-12 17:53] #3503 closed

[2022-08-12 21:17] SilvanVerhoeven commented on #3714
After more testing I figured that I must be missing some `node_modules` from the `build` image in my `production` image, as after copying all `node_modules` everything worked.

Unfortunately I don't know which module(s) cause the issue, so I just keep copying them all, but given this is not a bug I close this issue now.

[2022-08-12 21:17] #3714 closed

[2022-08-12 21:26] #3660 closed

[2022-08-12 23:13] freakaziod210 commented on #3566
I also see this error when trying to installing a recipe.

[2022-08-13 04:56] alphaolomi opened #3719 "Beta CLI won't start v2.0.0-alpha.69"
### What is the problem?

This is more of a heads up rather than a bug report

Running `blitz new toolkit`

Expected for CLI to give menu for TS or JS

An error is thrown

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

blitz@v2.0.0-alpha.69 Works fine

`yarn global add blitz@v2.0.0-alpha.69`

### What are detailed steps to reproduce this?

0. `yarn global

[2022-08-13 09:49] beerose commented on #3719
Thanks for the report! Fixing it now

[2022-08-13 09:58] beerose commented on #3566
Hey @freakaziod210! Recipes aren't currently working in Blitz 2.0.

[2022-08-14 13:49] #3719 closed

[2022-08-14 15:08] medihack opened #3725 "invalidateQuery not working without params"
### What is the problem?

In v2.0.0-alpha.70 `invalideQuery` does not work anymore without providing the optional `params`. So `invalidateQuery(getUsers)` does not work, but `invalidateQuery(getUsers, {})` does work.

### Paste all your error logs here:

None

### Paste all relevant code snippets here:

See above

### What are detailed steps to reproduce this?

See above

### Run `blitz -v` and pa

[2022-08-14 19:30] lnguyenfx opened #3726 "Minified React Error with Production Build"
### What is the problem?

Newly created projects using `blitz new` (with all default settings selected) output a "Minifed React error" in the console when run as a production build.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Execute `blitz new test-project` command
2. Select 'TypeScript' as pr

[2022-08-14 20:04] beerose commented on #3725
Thanks for the report! We'll look into it soon

[2022-08-14 20:07] beerose commented on #3725
For whoever is going to look into this issue: we probably need to look into how queryKey is generated. We probably generate a different query key if `useQuery` doesn't have params vs in `invalidateQuery`.

[2022-08-14 20:28] Zeko369 commented on #3725
The problem here is that if nothing is passed to `invalidateQuery` it assumes undefined as a value and passed that to the serializer.

[2022-08-14 20:35] Zeko369 opened #3727 "Improve contribution to blitz itself"
It would be nice to have one issue to track all simple contribution problems we currently have on "it's not as simple to run stuff"

i.e. https://discord.com/channels/802917734999523368/1008448685421637632/1008473006382788658
Add example on how to start apps easily in dev (`pnpm dev` and `NODE_PATH="../../packages" pnpm start:dev`)

Ideas:
- [ ] Create section in repo / site / discord
- [ ] Upgrad

[2022-08-14 20:56] lhocke commented on #3637
just adding my own experience as a +1 for this, I'm getting the hydration error with 2.0.0-alpha.69 and also seeing ```/next=2%F{pageRedirectedFrom}``` appended to the url after redirect. Not sure if that's relevant, a result of the error, or something else entirely. I did try removing the global jsx tags from the form components to see if that resolved anything, but the problem persists. I'll try

[2022-08-15 12:22] iDavidB commented on #3637
Removing <style global jsx ... solves the problem.

Hi @beerose, we do not use any styled JSX in our project and still have the same problem as well. Any idea what else it could come from?

[2022-08-15 14:51] FlorianWendelborn opened #3735 "Blitz Legacy Migration has Wrong Import for <Script />"
### What is the problem?

When I used `npx @blitzjs/codemod upgrade-legacy` one of the issues I encountered was wrong imports.

The tool generated
[code]

While typescript suggested

[code]

which ended up working

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

N/A

### What are detailed steps to reproduce this?

1. Upgrade legacy blitz app which imports/u

[2022-08-15 15:00] siddhsuresh commented on #3735
Hey, @dillonraphael can I submit a PR for this?

[2022-08-15 15:33] FlorianWendelborn opened #3737 "Update eslint config with upgrade-legacy codemod"
### What is the problem?

ESLint doesn’t work after migrating to Blitz V2. The [documentation page](https://blitzjs.com/docs/eslint-config) uses the same code snippet that exists in my repo so it’s unclear how to resolve this.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Make an `.eslintrc.js` w

[2022-08-15 16:20] lhocke commented on #3637
I think I've resolved my issue, I had moved the footer into ```app/core/layouts/Layout.tsx``` and placed it below ```{children}``` which appears to cause a mismatch when the page is compiled. Placing it above ```{children}``` or moving it to ```pages/_document.tsx``` appears to have resolved the issue. I'll continue fiddling about and see if it pops up again.

[2022-08-15 22:34] gcavanunez commented on #3637
Just did a fresh install of blitz and ran into the hydration mismatch error reported above, was able to fix it by upgrading to react and react-dom to v18.2.0

[2022-08-16 02:46] whaleAPI opened #3740 "Error when trying to install a recipe"
### What is the problem?

when I want to install the chakra ui recipe it gives me an error

### Paste all your error logs here:

$ blitz install chakra-ui
Loaded env from C:\Users\Parcero\Desktop\wallet\.env.local
Loaded env from C:\Users\Parcero\Desktop\wallet\.env
Error: Cannot find module 'install'
Require stack:
- C:\Users\Parcero\Desktop\wallet\noop.js

### Paste all relevant code snippets he

[2022-08-16 05:27] DataCrusade1999 commented on #3740
refer to #3253 it's not supported yet.

[2022-08-16 05:53] #3740 closed

[2022-08-16 11:36] madhenry commented on #3737
Perhaps just

`yarn add -D eslint-config-next`

and

[code]

?

Not sure though

[2022-08-16 16:05] FlorianWendelborn commented on #3737
I ended-up going for this solution. I’m not 100% sure that it’s the correct thing to do but it was the best I could come up with.

1. `yarn add -D eslint-config-blitz`
2. `extends: ['blitz']`

I don’t know if this is the intended way to use it and the documentation or migration codemod should certainly be improved so I’ll leave this open

[2022-08-16 18:53] iDavidB commented on #3637
Temporary workaround for `Page.authenticate` not working is to use `useAuthorize`.

[2022-08-16 19:37] CarlosZiegler commented on #3737
Same problem here :)

[2022-08-16 22:56] waxidiotic opened #3744 "TypeScript linting errors for styled-jsx"
### What is the problem?

I was working through the tutorial when I was checking out the `LabeledTextField.tsx` component and VS Code immediately had a red squiggle under `jsx` in `<style jsx>`. The same thing happens for `<style global>`.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.  Create a n

[2022-08-16 23:19] dillonraphael opened #3745 "Codemod using import statement for `withBlitz` in `next.config.js`"
### What is the problem?

When running the codemod, the `move the config from blitz.config.ts to next.config.js` step adds an import statement for `withBlitz` from `@blitzjs/next`.

But because `next.config.js` isn't parsed by babel, webpack or typescript it fails to run the app.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

https://github.com/blitz-js/b

[2022-08-17 01:46] gcavanunez commented on #3744
Hi, updating the following packages should mitigate the lint error

[code]

I believe in your case it should just be the next version

[2022-08-17 01:54] siddhsuresh commented on #3745
Hey @dillonraphael could I work on this?

[2022-08-17 02:49] waxidiotic commented on #3744
Yup, everything is fine after updating those packages. Thanks!

[2022-08-17 02:49] #3744 closed

[2022-08-17 02:55] sfarrowGR opened #3747 "reset-password.tsx page is missing"
### What is the problem?

After creating a new project with the Blitz cli, using the reset password fails as the page the email directs to does not exist.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

none

### What are detailed steps to reproduce this?

1. Create a new app.
2.  blitz dev
3. create user
4. log out
5. click login
6. click forgot password

[2022-08-17 10:28] beerose commented on #3747
Thanks for the report. It will be soon fixed by https://github.com/blitz-js/blitz/pull/3743

[2022-08-17 11:19] madaxen86 opened #3748 "Add custom template usage back to toolkit"
The legacy version supported the use of custom templates.
Docs:
[Custom templates](https://blitzjs.com/docs/cli-generate#custom-templates)
[blitz.config.ts](https://blitzjs.com/docs/cli-generate#custom-templates)
This does not work at the moment.
`blitz generate` will always use the default templates instead.
@beerose

[2022-08-17 13:34] #3637 closed

[2022-08-17 14:44] #3745 closed

[2022-08-17 15:03] #3735 closed

[2022-08-17 15:25] #3747 closed

[2022-08-17 21:19] emersonlaurentino commented on #3740
any news about it? I have the same problem

[2022-08-17 22:25] whaleAPI commented on #3740
refer to [#3253](https://github.com/blitz-js/blitz/issues/3253) it's not supported yet.

[2022-08-17 23:19] sherryxiao1988 commented on #3623
I am still seeing this error in 2.0.0-beta.1

[2022-08-18 00:48] Vandivier opened #3752 "Install ts-jest if TypeScript was selected at project init"
### What do you want and why?

not really sure if i should call this a feature or a bug? ` Cannot find module 'ts-jest'` happens if i try to `yarn test` OOTB on the alpha version when i picked TypedScript

### Possible implementation(s)

just install ts-jest for me if i picked typescript

### Additional context

Add any other context or screenshots about the feature request here.

[2022-08-18 08:58] beerose commented on #3686
This is a good idea, thanks for creating this issue!

Here's a relevant passport-adapter code: https://github.com/blitz-js/blitz/blob/83b355900b592f75a0f51d29fad266c0bf3464a1/packages/blitz-auth/src/server/passport-adapter.ts. Would be awesome if you could create a Pr for that! Let me know if you have any questions :)

[2022-08-18 08:59] beerose commented on #3726
Thanks for the report! We'll look into it soon!

[2022-08-18 09:03] beerose commented on #3737
We should cover that in the upgrade-legacy codemod.

The new eslint config should look like this:

[code]

So you shouldn't need to install a new dependency — eslint config is included in the `@blitzjs/package`.

[2022-08-18 09:05] beerose commented on #3752
Hmm, `ts-jest` **is** included in the template dependecies: https://github.com/blitz-js/blitz/blob/078fe474191e9db508ce9f8de25ae67690a7319a/packages/generator/templates/app/package.ts.json#L54

What Blitz version are you using?

[2022-08-18 11:09] noxify commented on #3686
@beerose - you can assign it to me, will give it a try

[2022-08-18 14:58] siddhsuresh commented on #3737
Hey @beerose @dillonraphael could I work on this?

[2022-08-18 16:24] flybayer commented on #3623
@sherryxiao1988 in development or production? If production, then that is fixed in [v2.0.0-beta.2](https://github.com/blitz-js/blitz/releases/tag/v2.0.0-beta.2)

[2022-08-18 17:07] sherryxiao1988 commented on #3623
Thanks @flybayer. Updating the version to v2.00-beta.2 fixed it.

[2022-08-19 13:33] #3737 closed

[2022-08-19 14:10] FlorianWendelborn commented on #3737
@beerose so customizing eslint is no longer possible with blitz 2? That makes it pretty much unusable

[2022-08-19 17:12] tmcw opened #3758 "codemod replaceIdentifiers replaces all identifiers with NextApiRequest"
### What is the problem?

Running the codemod on my codebase produces some odd results. A function signature like

[code]

Becomes

[code]

The cause looks to be that `newIdentifier` isn't used the method that transforms identifiers, and instead it transforms everything to requests:

https://github.com/blitz-js/blitz/blob/1bf185d6189776eb27eb737760ba8580ef4ea884/packages/codemod/src/utils.ts#L320-

[2022-08-19 21:40] dillonraphael commented on #3758
Oh no! Good find @tmcw. I'll assign my self to this issue.

[2022-08-19 22:06] dillonraphael opened #3760 "Show file name for when codemod errors with an Unexpected Error"
### What is the problem?

Currently when running the codemod and an `Unexpected Error` occurs during a step that loops through all files with the `getAllFiles` function it's impossible to determine which file is causing the error.

### Paste all your error logs here:

[code]

[2022-08-20 02:31] aaly00 commented on #3253
What would be the recommended way to install material ui without recipes ?

[2022-08-20 19:47] noxify commented on #3253
@aaly00 - i would assume, the current workaround is to use the material ui example for nextjs and check what they did to add add material ui to nextjs :)

https://github.com/mui/material-ui/tree/master/examples/nextjs-with-typescript

[2022-08-20 19:48] aaly00 commented on #3253
Thanks! That's what I assumed 👍

[2022-08-21 05:01] kayue opened #3761 "secure-password would crash the app in node:16-alpine"
### What is the problem?

I am using the [Next.js's example Dockerfile](https://github.com/vercel/next.js/blob/canary/examples/with-docker/Dockerfile) which is using node:16-alpine. I noticed the "secure-password" library using in Blitz would cause the app failed without any error message in stdout.

I can reproduce this by adding the following lines to `app/blitz-server.ts`

[code]

### Paste all

[2022-08-21 06:23] #3761 closed

[2022-08-21 06:23] kayue commented on #3761
I don't have this issue after switching from node:16-alpine to node:16.

[2022-08-21 06:42] DataCrusade1999 commented on #3253
This is what I would recommend because I wanted to install tailwind but I couldn't and then I asked around on Discussion.

- [Here's the link to the Discussion](https://github.com/blitz-js/blitz/discussions/3757)

- [Material UI recipe from legacy framework](https://github.com/blitz-js/legacy-framework/tree/main/recipes/material-ui)

If you had installed material UI previously then you probably kn

[2022-08-21 07:44] karimsx opened #3762 "Body exceeded 1mb limit error in blitzjs mutations"
### What do you want and why?

augment size limit received by blitzjs mutations

### Possible implementation(s)

expres bodyparser

[2022-08-21 09:01] potikhanovsergey commented on #3762
It's described in docs

<img width="690" alt="image" src="https://user-images.githubusercontent.com/71494201/185783721-30199a2b-8c04-44aa-b2e7-cbc3fd7c0684.png">

[2022-08-21 09:03] karimsx commented on #3762
@potikhanovsergey its for api routes, is it working for mutation files?

[2022-08-21 19:57] yassinebridi opened #3765 "withBlitz HOC doesn't work with App.getInitialProps"
### What is the problem?

The getInitialProps in `_app.tsx` doesn't get executed when using it with the `withBlitz` HOC.

Once i remove the the withBlitz HOC, everything works as expected.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]
MyApp.getInitialProps = async (context: AppContext) => {
  const appProps = await App.getInitialProps(context)

[2022-08-21 21:06] FlorianWendelborn commented on #3737
FYI, I had to add `eslint-config-next` to my `devDependencies`.

[code]

Other than that, I only ran into issues that are related to me using a lerna monorepo. I resolved them by only adding this config file to `packages/web/.eslintrc.js` (my blitz package):

[code]

[2022-08-22 12:02] #3624 closed

[2022-08-22 13:00] beerose commented on #3546
@Zeko369 could you provide more details here? It's hard to grasp the context currently.

[2022-08-22 13:20] medihack opened #3767 "Hydration error while using redirectAuthenticatedTo (v2.0.0-beta.2)"
### What is the problem?

When using `redirectAuthenticatedTo` I end up with an error in the console (see error log below). It is missed by the ErrorBoundary of `_app` and only logged in the browser console. This can be easily reproduced in a freshly created blitz app. There was a similar error that was closed (#3528) with a PR, but the described error here still happens in v2.0.0-beta.2.

### Pas

[2022-08-22 15:52] beerose commented on #3762
If you're using Blitz 2.0, you can do it in the RPC API route (`pages/api/rpc/[[...blitz]].ts`):

[code]

[2022-08-22 15:52] #3762 closed

[2022-08-22 16:25] flybayer opened #3768 "Race condition bug when running two mutations back-to-back when the first one creates a session"
### Problem

When a session is created, [we have a 100ms async task that cancels and resets queries](https://github.com/blitz-js/blitz/blob/main/packages/blitz-rpc/src/data-client/rpc.ts#L120-L132). Normally this is fine except if you run two queries/mutations back to back.

In the below code, the 100ms delayed query cancellation will happen when `anotherMutation()` is in flight, causing it to fai

[2022-08-22 16:27] tmcw opened #3769 "Blitz codemod does not upgrade references to AuthenticatedSessionContext"
### What is the problem?

Applications that import and use the `AuthenticatedSessionContext` don't have a fully automatic upgrade path. The module for SessionContext is specified:

https://github.com/blitz-js/blitz/blob/main/packages/codemod/src/upgrade-legacy.ts#L205

And the module for `AuthenticatedSessionContext` should be the same.

### Paste all your error logs here:

[code]

### Paste all r

[2022-08-22 16:35] tmcw opened #3770 "Codemods should probably run on components directory"
### What is the problem?

One of the codemods that's currently implemented will also look at the `components` directory to scan for components to upgrade:

https://github.com/blitz-js/blitz/blob/b72d1215c3c0741810e55d79ead8b130d0607797/packages/codemod/src/upgrade-legacy.ts#L1138

But the rest don’t:

https://github.com/blitz-js/blitz/blob/b72d1215c3c0741810e55d79ead8b130d0607797/packages/codemod/

[2022-08-22 18:11] #3758 closed

[2022-08-22 18:26] #3760 closed

[2022-08-22 18:34] dillonraphael commented on #3770
@tmcw Actually, the opposite seems to be happening here. The 3rd argument in `getAllFiles` is an array for directories to ignore.

Where is your `components` directory located?

[2022-08-22 18:38] dillonraphael commented on #3769
Great find @tmcw. Making a PR now.

[2022-08-22 20:24] dillonraphael commented on #3767
Hey @medihack we're going to investigate this ASAP

[2022-08-22 21:02] dillonraphael opened #3772 "Load custom log config from `setupBlitzServer`"
### What is the problem?

We're currently missing the ability to load custom a custom config for `baseLogger()` found in the blitz package.

We should be loading the config here https://github.com/blitz-js/blitz/blob/3d950f77721d3ba766379445dd1e5e4ee5a08080/packages/blitz/src/logging.ts#L35-L40

and add a property called `log` to the object argument in `setupBlitzServer`

eg.
[code]

[2022-08-22 21:09] dillonraphael opened #3774 "Remove `/` prefix from Blitz RPC logs"
### What is the problem?

Currently all the logs in Blitz RPC have a prefixed slash before the function name. We should remove this.
<img width="689" alt="CleanShot 2022-08-22 at 17 05 47@2x" src="https://user-images.githubusercontent.com/3496193/186019083-78501366-9363-4aef-88eb-5a3f0862a6a3.png">

It seems a prefix is being set in the `baseLogger()` config object found here https://github.com/bl

[2022-08-22 21:14] dillonraphael opened #3775 "Only generate prisma client if it has not been generated"
### What is the problem?

Currently the prisma client is being generated on most commands as part of the `codegen-tasks.ts` file (https://github.com/blitz-js/blitz/blob/3d950f77721d3ba766379445dd1e5e4ee5a08080/packages/blitz/src/cli/utils/codegen-tasks.ts#L40-L50)

Since it's a big performance hit, we should only be generating the prisma client once.

[2022-08-22 21:18] dillonraphael opened #3776 "Generating prisma client fails when using global `blitz dev` command"
### What is the problem?

Fails to generate the prisma client when running `blitz dev` with the global cli. It works when using `npx blitz dev`.

### Paste all your error logs here:

[code]

[2022-08-22 21:31] #3726 closed

[2022-08-23 03:38] siddhsuresh commented on #3775
Hey @dillonraphael can I work on this?

[2022-08-23 11:36] beerose commented on #3775
Sure!

[2022-08-23 14:49] #3774 closed

[2022-08-23 16:25] #3775 closed

[2022-08-23 17:55] tmcw commented on #3770
My components directory is located just at the root of my project, so a path would be like `components/trial_banner.tsx`. It appears that all components have been excluded from some of the transforms.

[2022-08-23 18:19] tmcw opened #3783 "Codemod changes import for AuthenticatedMiddlewareCtx to non-existent module"
### What is the problem?

This one's pretty straightforward: typo below:

https://github.com/blitz-js/blitz/blob/161270e3b121bca2938c9857f2bdc30b62389b33/packages/codemod/src/upgrade-legacy.ts#L198

(this should be `@blitzjs/rpc`, not `@blitz/rpc`)

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

Upgra

[2022-08-23 20:47] tmcw opened #3785 "getAntiCSRFToken is updated to import from /rpc, should be auth."
### What is the problem?

![CleanShot 2022-08-23 at 16 46 15@2x](https://user-images.githubusercontent.com/32314/186262223-f242cdb2-afac-4d5e-87b6-7e782775dd15.png)

The docs and codemod are incorrect here - `getAntiCSRFToken` got moved to auth, not rpc

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

[2022-08-23 21:11] tmcw opened #3786 "Documentation pages out of date with latest Blitz"
### What is the problem?

As far as I can tell, the expectation is that Blitzjs.com should be documenting v2 and any defects in that should be reported, but happy to not open issues if not 😆

Some doc pages that are out of date:

- https://blitzjs.com/docs/eslint-config - the "default eslint config" is not the default anymore, and doesn't work anymore.
- https://blitzjs.com/docs/testing - the `tes

[2022-08-23 21:18] tmcw opened #3787 "Codemod could/should update test environment"
Right now if you run the codemod, you go from having a testing setup to generally not having one - none of the new testing dependencies are updated, `test/utils.tsx` isn't fully updated, any custom or basic jest configuration is not there.

It'd be very nice if the codemod updated the testing rig by installing necessary dependencies and setting up the jest configuration.

[2022-08-24 08:57] #3783 closed

[2022-08-24 09:02] beerose commented on #3786
Thanks for reporting this! The eslint config should be updated and live in a few minutes. We'll cover testing soon too!

[2022-08-24 09:03] beerose commented on #3785
Fixed in https://github.com/blitz-js/blitz/pull/3788

[2022-08-24 09:03] #3785 closed

[2022-08-24 09:04] beerose commented on #3787
Good point! Thanks for reporting it

[2022-08-24 09:09] #3769 closed

[2022-08-24 12:11] siddhsuresh commented on #3271
Hey @dillonraphael @beerose, I saw this issue as one of the points to be completed for the stable release. Can I open a PR to add the windows testing to the workflow?

[2022-08-24 13:03] beerose commented on #3271
That would be amazing!

[2022-08-24 13:14] tmcw opened #3789 "Strategy for CSRF protection to work with SSE or be individually disabled"
### What do you want and why?

My application currently uses Server-Sent-Events as part of a realtime collaboration system. It's not possible to [set headers using SSE](https://github.com/whatwg/html/issues/2177) at the browser level.

This breaks CSRF, which relies on setting the csrf token as a request header.

Given this limitation, it would be nice to:

- Specify the token another way
- Disabl

[2022-08-24 13:57] tmcw opened #3790 "Documentation request: interacting with API endpoints"
### What do you want and why?

My application uses mutations and queries for part of its operations, and API endpoints for other parts - where I'm dealing with a library like Replicache with its own assumptions / preferences about how requests work.

Doing this is not very obvious, and I've been able to get it to work, but it involves stuff like attaching the anti-csrf token yourself to your reque

[2022-08-24 14:12] #3686 closed

[2022-08-24 14:36] tmcw opened #3791 "Crash running getSession in prod"
### What is the problem?

Getting the following error trying to authenticate an API endpoint.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Run the above code.

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that show your

[2022-08-24 21:46] dillonraphael commented on #3770
Out side the `app` directory right? We can update the codemod to look in a `component` directory outside the `app` directory.

[2022-08-24 22:48] tmcw commented on #3770
TBD, this might just be a corner case that only my application was doing - I don't think there's any rule that all your tsx files need to be in `app`, but there's also no suggestion that you should put them in the root directory. Might make more sense for people to move their other files into `app` before running the codemod.

[2022-08-25 08:25] stychu opened #3793 "Blitz new Minimal setup broken"
### What is the problem?

The new blitz app setup with "minimal" template option from CLI seems to be broken.

 - `Eslint` seem to be wrongly configured
 - `types.ts`  imports non existing type/interface from blitz
 -  `index.test.tsx` imports non existing `render` utility function

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detail

[2022-08-25 08:28] stychu commented on #3793
Also there is typo in the `index.test.tsx`

[2022-08-25 12:33] beerose opened #3794 "index.test.tsx is not included in new app template"
### What is the problem?

Previously we had an example test for the index page. We don't have that anymore. Additionally, we used to have test utilities, and we don't have them either. The utilities (in particular, a `render` function) is needed to bring the test file back.

It applied to both full-app and minimal-app templates.

### Paste all your error logs here:

No logs.

### Paste all relevan

[2022-08-25 16:15] benJephunneh commented on #3546
Comparing `_App.tsx` from a project using Blitz v0.54 and another from v2.0.0-beta.2, I noticed the `getLayout` function was not being created.  Adding that, I was able to get layouts to again render.

Added to `_App.tsx` in my Blitz v2 app:
`export default function App({ Component, pageProps }: AppProps) {
  const getLayout = Component.getLayout || ((page) => page)
  ...

  {getLayout(<Component

[2022-08-26 09:05] #3793 closed

[2022-08-26 21:10] adrien-guesnel opened #3797 "NEXT_PUBLIC and BLITZ_PUBLIC env variables are not accessible from the client"
### What is the problem?

Hi,

I used version v0.4X before, now i'm on the 2.0.0 beta. With older version client can access to env variables if they are prefix by BLITZ_PUBLIC or NEXT_PUBLIC and it's not the case anymore with the beta version.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Put thi

[2022-08-26 21:54] adrien-guesnel commented on #3797
After other tests, i saw that `console.log(process.env)` appears empty but `console.log(process.env.NEXT_PUBLIC_HI)` display my variable on my client. So no problem, sorry for this, i close this issue.

[2022-08-26 21:54] #3797 closed

[2022-08-27 01:49] tommymarshall commented on #3566
Seeing the same problem (unable to install recipes) with **2.0.0-beta.3**

Is it possible to have master be stable and leave alpha/beta versions as separate branches?

[2022-08-29 05:09] elbarto132 opened #3798 "Error: Cannot find module"
### What is the problem?

After creating a new blitz app using "blitz new...", changing into the directory and trying to run "blitz install tailwind" I get "Error: Cannot find module 'install'"
For example the command "blitz dev" is working as expected. But I noticed that if I try to run "blitz help" I get "Error: Cannot find module 'help'"

### Paste all your error logs here:

[code]

### Paste a

[2022-08-29 08:39] noxify commented on #3798
The recipe installer is currently not implemented.
But there is an PR which will solve this: https://github.com/blitz-js/blitz/pull/3784

[2022-08-29 13:54] flybayer commented on #3767
Ok @medihack, this is actually normal and expected behavior with all of our auth-related redirects. The implementation throws a RedirectError, causing the first render on the client to be different than the static HTML. Which is especially important in then case where you don't want an unauthenticated user to see an authenticated page.

So as long as your app continues to work correctly after the

[2022-08-29 13:54] #3767 closed

[2022-08-29 13:54] flybayer commented on #2395
We removed useRouterQuery

[2022-08-29 13:54] #2395 closed

[2022-08-29 13:55] flybayer commented on #2975
should be resolved with blitz 2.0

[2022-08-29 13:55] #2975 closed

[2022-08-29 14:06] flybayer commented on #2635
Closing, same response as: https://github.com/blitz-js/blitz/issues/3767#issuecomment-1230341547

[2022-08-29 14:08] flybayer commented on #3626
closing for inactivity, feel free to comment if this is still an issue

[2022-08-29 14:08] #3626 closed

[2022-08-29 14:11] flybayer commented on #3791
@tmcw did you get this resolved? If so, how?

[2022-08-29 15:48] medihack commented on #3767
Ok, thanks. Good to know. When I see red in the console and read "error" I normally think that there is something wrong there ;-) And no, nothing seems to be broken on the page after the redirect.

[2022-08-29 17:15] dillonraphael commented on #3798
Yup as @noxify this will be coming back REALLY soon. PR is open https://github.com/blitz-js/blitz/pull/3784

I will close this issue, since it's already accounted for

[2022-08-29 17:15] #3798 closed

[2022-08-29 17:17] dillonraphael commented on #3790
We definitely need to and will put more details into our documentation.

[2022-08-29 17:18] dillonraphael commented on #3789
Ah I see what you mean. @flybayer any thoughts on this?

[2022-08-29 18:02] dillonraphael opened #3800 "Codemod should convert import statements to require when creating `next.config.js`"
### What is the problem?

Currently when running the codemod on the step `move the config from blitz.config.ts to next.config.js`, it will take the old import statements from `blitz.config` and just move them to `next.config.js`.

Either this step (or in another step), the codemod should look for import statements and convert them to a require expression.

### What are detailed steps to reproduce

[2022-08-29 18:40] dillonraphael opened #3801 "Only run `prisma generate` if the prisma client hasn't been generated"
### What is the problem?

The current implementation creates a temporary `blitz-prisma-status.json` file in the temp directory and checks every time the prisma schema file has been changed.

We can drastically simplify this, by instead just checking if the prisma client files have been generated. We don't need to check every time the schema file has been changed since it's expected to migrate whic

[2022-08-30 06:16] siddhsuresh commented on #3800
@dillonraphael can I work on this?

[2022-08-30 15:35] flybayer commented on #3789
Yes we can add ability to turn off CSRF, either with getSession as suggested and/or as a global config. Turning it off is fine as long as the session sameSite config is set to "strict" or "lax" (default), since same site cookies prevent cross site scripting attacks as long as mutations are not made with GET requests.

[2022-08-30 16:16] #3546 closed

[2022-08-30 17:25] #3800 closed

[2022-08-30 22:28] MrLeebo commented on #3789
Seems worthwhile to allow csrf tokens to be read from FormData because SSE isn't the only context where you may not have the ability to set headers

[2022-08-30 22:32] #3271 closed

[2022-08-30 23:25] dillonraphael opened #3804 "Show file path on error for the `update project's import` step"
### What is the problem?

Currently if the `update project's import` step fails with an `Unexpected Error`, we have no clue which file the error is happening on.

![unknown](https://user-images.githubusercontent.com/3496193/187560628-f1efb49a-7c05-42cf-8463-b96f12d2927e.png)

### Paste all relevant code snippets here:

We should put the logic inside a try catch block. Like what @siddhsuresh did he

[2022-08-31 16:53] siavashmohammady66 opened #3805 "blitz intall not working"
### What is the problem?

**blitz install tailwind** not working

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

yarn global add blitz

blitz new myAppName
cd myAppName

blitz install tailwind

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs an

[2022-08-31 17:04] dillonraphael commented on #3805
Ya, this is a known issue. Currently working on it https://github.com/blitz-js/blitz/pull/3784

[2022-08-31 17:04] #3805 closed

[2022-08-31 20:20] BadCoder1337 opened #3806 "Optional chaining from @blitzjs/auth crashes app on old devices"
### What is the problem?

After upgrade to Blitz 2.0 I found regression on iOS 12. Regardless of configuration (previously working babel.config.js, next-transpile-modules, etc.) I can't fix it.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

https://github.com/blitz-js/blitz/blob/e3523407b9abadfc21f01bc57f8421cd351dc510/packages/blitz-auth/src/client/index

[2022-09-01 05:49] siddhsuresh commented on #3804
@dillonraphael can I work on this and add the try...catch block for all the instances where ```getAllFiles``` function is called?

[2022-09-01 10:58] stychu opened #3808 "Blitz logging"
### What do you want and why?
It seems that currently there is no way to connect to the current logger of the blitz app either to modify nor to extract the logs.
I would expect to be able to use current logging solution to log relevant things as I want and whenever I want for debugging purposes especially in production env.
On top of that I should be able to get the logs in a file so I could proce

[2022-09-01 13:20] dillonraphael commented on #3806
Thanks for sharing. We'll take a look at this

[2022-09-01 21:34] dillonraphael commented on #3808
`setupBlitzServer` inside `app/blitz-server.ts` has an `onError(e)` property.

There's a PR opened for this in the docs but hasn't been merged yet https://github.com/blitz-js/blitzjs.com/pull/750

[2022-09-02 05:50] oguzgelal opened #3811 "Generator: `core/hooks/useCurrentUser` hook should be under `auth/hooks`"
### What do you want and why?

Based on the [file structure](https://blitzjs.com/docs/file-structure) section in the docs, the recommended file organization pattern is:

I feel like moving the generated `core/hooks/useCurrentUser.ts` to `auth/hooks/useCurrentUser.ts` makes more sense based on that principle.

### Possible implementation(s)

By moving `hooks/useCurrentUser.ts` under `auth`

[2022-09-02 08:23] ravenberg opened #3812 "Blitz CLI help command provides unexpected output"
### What is the problem?

As I was exploring the new Blitz beta I noticed a peculiar output when running help commands.

### Paste all your error logs here:

After installing Blitz globally I was able to setup a fresh neat new project with `blitz new`. But when exploring available commands with e.g. `blitz help` and `blitz -h` you get this:

[code]

### Paste all relevant code snippets here:

[cod

[2022-09-02 17:56] dillonraphael commented on #3811
I think I agree. @flybayer @beerose ?

[2022-09-02 17:59] dillonraphael commented on #3812
Thanks for letting us know

[2022-09-02 22:45] dillonraphael opened #3813 "Update recipes to work with blitz toolkit"
### What is the problem?

Some recipes are out of date and need to be updated.

- [ ] `recipes/secureheaders`
- [ ] `recipes/theme-ui`
- [ ] `recipes/vanilla-extract`

The main thing that that needs to be updated is the use of `paths.blitzConfig()`. Blitz toolkit exports helpers for transforming `next.config.js`.

You can get the `next.config.js` path with `paths.nextConfig()`. `transformNextConfi

[2022-09-02 23:51] siddhsuresh commented on #3813
Hey @dillonraphael can I work on this?

[2022-09-03 01:21] aaly00 opened #3814 "Linting error during blitz build"
### What is the problem?

I am getting this error when running blitz build after a fresh blitz install.

<img width="892" alt="image" src="https://user-images.githubusercontent.com/11652379/188250345-f14a8d8c-6e66-4273-a083-a68592a9fc3c.png">

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

NA

### What are detailed steps to reproduce this?

1. Install blit

[2022-09-03 16:23] Southclaws opened #3816 "Improve error message for `Uncaught Rendering Suspense fallback` after fresh setup and writing one query"
### What is the problem?

Just installed Blitz by following the docs, some types were generated incorrectly (which i fixed) but it seems queries are broken too:

I wrote a simple query that literally just prints the args:

[code]

Also wrote it another way as I wasn't sure which was is the proper way, found both in docs:

[code]

### Paste all your error logs here:

backend:
[code]

frontend:
[cod

[2022-09-03 17:08] MartinMuzatko commented on #3592
It is also still the case in the current beta - 2.0.0-beta3

[2022-09-04 02:26] iojcde commented on #3816
Having similar issues here. However, I only have a single `useSession` hook, and no queries on the page.

[2022-09-04 09:07] carlreid commented on #3626
I just hit the same thing, so there must be an issue somewhere. Just not sure where! I also tried to `(errors[name] as Array<any>).map(error => error.message).join(", ")` but receive the same `Conversion of type 'FieldError | Merge<FieldError, FieldErrorsImpl<any>> | undefined' to type 'any[]' may be a mistake because neither type sufficiently overlaps with the other`

My generated code does match

[2022-09-04 14:38] noxify opened #3818 "Wrong commit user after creating a new app"
### What is the problem?

After running the `blitz new` command, the generated code will be commited to git.
The user who did this is not myself, it's https://github.com/hng63

I would expect that my own user is used to make the initial commit.
Or alternative `Blitz.JS CLI` is used as user as defined in the code: https://github.com/blitz-js/blitz/blob/main/packages/generator/src/generators/app-gen

[2022-09-04 19:01] kivi commented on #3816
I have upgraded to to 2.0 and I am getting also this message:
`[Rendering Suspense fallback...]`

[2022-09-05 09:15] joonasnuutinen commented on #3814
I started having the same issue today but I'm not using Blitz. Could this be related to a change in some dependency?

[2022-09-05 16:37] stychu commented on #3808
`onError(e) property.` is not sufficient. Sophisticated logging over application in places where developer want is what we need. Attaching only to error logs from blitz is not enough. Logging any extra meta information from within custom files/queries/mutations is needed.

[2022-09-05 16:44] stychu commented on #3808
I guess creating a custom server would make this work so then you can use custom logger as described here https://blitzjs.com/docs/custom-server

But what do I loose making a custom server is the question.
Ideally I would like to just use blitz server as it is and just attach to it's logger 🐻

[2022-09-05 20:01] mbrookson commented on #3816
Also seeing this issue when trying to use the Blitz `useQuery` function in a component.

[code]

[2022-09-05 20:24] mbrookson commented on #3816
Ah! I have just solved this by adding a top-level `Suspense` wrapper in my `_app.tsx` component like so:

[code]

This exists in the default `index.tsx` page but when you add more pages and use Blitz features there needs to be a suspense boundary added around those pages/components.

[2022-09-05 21:01] luvolondon commented on #3812
FYI: On my setup "blitz install" results in the same error. "blitz generate" and "blitz prisma" work as expected.

Blitz version: 2.0.0-beta.3 (local)
Windows 8.1 | win32-x64 | Node: v16.17.0

    OS: Windows 8.1 6.3.9600
    CPU: (8) x64 Intel(R) Core(TM) i7-9700K CPU @ 3.60GHz
    Memory: 4.68 GB / 15.93 GB
  Binaries:
    Node: 16.17.0 - E:\Program Files\nodejs\node.EXE
    Yarn: 1.22.19 - ~\Ap

[2022-09-05 21:02] mbrookson opened #3819 "Throwing error within NextJS getServerSideProps is not caught by ErrorBoundary"
### What is the problem?

Using `getServerSideProps` is a huge benefit of using NextJS, but there's currently an issue within Blitz where throwing an error inside the `getServerSideProps` function is not reaching the `ErrorBoundary` on the client.

It means the error shown is the standard uncaught error exception for the development environment rather than being gracefully handled by the error bou

[2022-09-06 03:06] imnoahcook opened #3820 "Infinite queries can't prefetch"
### What is the problem?

I want to prefetch an infinite query, but using the format provided in the docs doesn't successfully prefetch the query and the data on the client is undefined on first fetch.
I confirmed this by `console.logging` the query results.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

Minimal project required
create new blitz app with

[2022-09-06 03:07] imnoahcook commented on #3820
<img width="495" alt="Screen Shot 2022-09-05 at 11 07 08 PM" src="https://user-images.githubusercontent.com/36086777/188538746-ceae35ce-298a-48b5-926b-ec2c39d3e43e.png">

Screenshot of chrome console logs

[2022-09-06 10:06] Southclaws commented on #3816
Ah, I added one to the page itself but I guess it _must_ be inside the top level _app.tsx then?

🥇 for worst error message of the year 😂

[2022-09-06 14:27] flybayer commented on #3626
@dillonraphael 👆

[2022-09-06 14:29] flybayer commented on #3811
@dillonraphael yes, this makes sense

[2022-09-06 17:05] dillonraphael commented on #3820
Thanks for creating this issue. We'll take a look at it soon

[2022-09-06 17:08] dillonraphael commented on #3816
The error message should definitely be more clear, especially when DX is the blitz north star. Now that recipes are basically migrated, our main focus is going to be stability and that will include better documentation & better error messsages.

[2022-09-06 18:07] dillonraphael commented on #3819
This is expected behaviour. When throwing an error on the server, you're going to get the server error.

Though there is a solution that would require a little manual work.

Inside your query you can do this:
[code]

Then inside `gSSP`

[code]
And just update your generic for `gSSP`.

You can also create a util function to do this and catch server errors in `_app.tsx` by following this: https://gi

[2022-09-06 18:10] dillonraphael commented on #3818
I think I've seen someone else with this issue before.

Can you try `rm -rf .git` then running `git init` ?

[2022-09-06 19:48] mbrookson commented on #3819
Interesting. Thanks for the response and workaround.

Why is this expected behaviour though? In terms of what's happening, in both scenarios the work is being performed on the server. Therefore I'd expect the behaviour to be the same, whether it's a call to the API via a Blitz query from the client, or on initial page load via `getServerSideProps`.

[2022-09-06 21:06] Southclaws commented on #3816
Great to hear!

I didn't notice I'm on a beta version, I just followed the tutorial. Should I backdate to 1.x? I want to ship something quick rather than wait for bug fixes, I thought blitz was stable now but it seems to be in a bit of state of flux. Is this the best course of action?

[2022-09-07 07:25] noxify commented on #3818
Hi @dillonraphael,

yes this solves the issue.

After running `blitz new blitz-issue-3818`:
![Bildschirmfoto 2022-09-07 um 09 20 05](https://user-images.githubusercontent.com/521777/188814874-79f3dab3-141b-4399-b348-e41c9a2a79ba.png)

After deleting the `.git` directory and running `git init` (+commit):
![Bildschirmfoto 2022-09-07 um 09 20 57](https://user-images.githubusercontent.com/521777/18881

[2022-09-07 13:18] #3804 closed

[2022-09-11 16:08] MrLeebo commented on #3819
While the function of getServerSideProps always runs on the server, the context for how it gets presented to the user is different depending on if it's a full page load or a client side navigation.

When you request a page in your browser, the first thing that gets loaded is the HTML document. This document contains references to the bundled script files that allow components to be interactive, in

[2022-09-11 16:12] mbrookson commented on #3819
Aha! Understood. Thanks for the detailed explanation - makes total sense 👍

[2022-09-11 17:34] oceandrama opened #3825 "Fast Refresh is not working"
### What is the problem?

Fast Refresh during development is not working. It's necessary to manual refresh the page to see new version

### What are detailed steps to reproduce this?

1. npm install -g blitz@latest
2. blitz new app (select TypeScript, Full and react-hook-form)
3. cd app
4. blitz dev
5. change the source code

### Run `blitz -v` and paste the output here:

[code]

[2022-09-11 19:22] oceandrama opened #3826 "Page during SSR generates with no data"
### What is the problem?

HTML from server returns with `Loading...` fallback and all data appears only on the client
Without `<Suspense>` tag page crashes and not displayed
Error exists even in production mode

### What are detailed steps to reproduce this?

1. npm install -g blitz@latest
2. blitz new app (select TypeScript, Full and react-hook-form)
3. cd app
4. blitz dev
5. create new user
6. r

[2022-09-12 04:57] Rasikh-DMio commented on #3791
Having the exact same issue, for now I've disabled authenticating at endpoint(s)

[2022-09-12 12:48] beerose commented on #3811
Relevant file to move: https://github.com/blitz-js/blitz/blob/main/packages/generator/templates/app/app/core/hooks/useCurrentUser.ts.

[2022-09-12 14:08] beerose opened #3828 "Improve docs structure (use legacy docs as a starting point)"
- [X] Change headings to `Blitz RPC`, `Blitz Auth` etc
- [ ] Go over each page and see how it can be improved:
  - [ ] Is there a guide?
  - [ ] Is the API covered?
  - [ ] Make sure that the information is correct and up to date with the Blitz 2.0
 - [ ] Add missing items like custom server, monorepos

[2022-09-12 14:40] jan-wilhelm opened #3829 "Middleware code does not wrap RPC handler"
### What do you want and why?
In legacy-blitz it was possible to fully wrap queries and mutations in middlewares. This means that you could have middlewares execute code before calling `await next()` and then run code afterwards, and the call to `next()` would internally call the next middleware ... etc until it ultimately calls the handler itself. Therefore, we were able to e.g. measure the execu

[2022-09-12 16:35] siddhsuresh commented on #3772
Hey @dillonraphael @beerose can I work on this?

[2022-09-12 21:19] dillonraphael commented on #3825
Can you share a little more context?

I notice you're using windows. So I'm wondering if it's happening with a fresh blitz install on windows?

[2022-09-12 22:18] oceandrama commented on #3825
What do you mean "fresh install"?
I've had already installed global version of blitz v1 and update it to v2 before run `blitz new`
But after creating new project it's using a local version of `blitz`, which is absolutely "fresh", isn't it?

[2022-09-13 18:12] medihack opened #3835 "Switch from Jest to Vitest for new Blitz app"
### What do you want and why?

As [discussed on Discord](https://discord.com/channels/802917734999523368/1018452312311730287/1019238651403714702) evaluate if [Vitest ](https://vitest.dev/) instead of Jest is a better fit for a new Blitz app. Especially as the Blitz monorepo itself uses Vitest as a testing library.

### Possible implementation(s)

Next.js has an official [example](https://github.co

[2022-09-13 18:19] medihack opened #3836 "Brand-new Blitz app renders four times with React strict mode turned on"
### What is the problem?

When enabling React strict mode a brand-new Blitz app renders 4 times on a page load (and 2 times without strict mode). Normally it should render only 2 times in strict mode (and only one time without strict mode). Is this really intended?

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to repro

[2022-09-13 18:27] medihack opened #3837 "Implement useInfiniteQuery without count"
### What do you want and why?

There are use cases when a `count` can't be calculated that easily, e.g. when fetching [distinct entries](https://github.com/prisma/prisma/issues/4228). In that case, a normal paginated count is not easily possible, but infinite pagination could still be possible. Unfortunately, Blitz implements its `useInfiniteQuery` with a mandatory `count` property. Other implemen

[2022-09-13 20:06] medihack opened #3838 "Get rid of "blitz db seed""
### What do you want and why?

Maybe we should get rid of `blitz db seed` and setup Prisma in a new Blitz app correctly that `blitz prisma db seed` can be used. Even executing `blitz db` tells me that `That command is no longer available..`.

### Possible implementation(s)

Make `blitz prisma db seed` work.

[2022-09-14 08:36] medihack commented on #3837
It seems `useInfiniteQuery` doesn't need the count property. It's just part of the [example](https://blitzjs.com/docs/use-infinite-query) as it uses the [paginate](https://blitzjs.com/docs/resolver-server-utilities#paginate) function. I guess it can be implemented without the `paginate` function and without calculating the `count` (just like in the tRPC example mentioned above).

[2022-09-14 08:36] #3837 closed

[2022-09-14 19:12] dillonraphael opened #3840 "Throw `RedirectError` and `AuthenticationError` on second render"
### What is the problem?

We need to throw these errors after mount

- [ ] RedirectError
- [ ] AuthenticationError

[2022-09-14 19:22] dillonraphael commented on #3836
Interesting. May have something to do with suspense errors. We'll be looking into this

[2022-09-14 19:24] dillonraphael commented on #3825
I see. So you're getting the issue with the default index page that blitz generates for you?

I ask, because I haven't had an issue running on osx

[2022-09-14 19:25] dillonraphael commented on #3826
This may have something todo with https://github.com/blitz-js/blitz/issues/3840

[2022-09-14 19:29] Zeko369 commented on #3838
We had `blitz db seed` before prisma introduced `prisma seed`, since `blitz prisma` loads correct ENVs `blitz prisma seed` SHOULd have .env.local but this needs to be tested since I think was the main reason to keep it before (after prisma introduced seed)

[2022-09-14 19:39] flybayer commented on #3838
I think it's a reasonable idea to remove our `db seed` command in favor of prisma. But, I'm not sure if there are anyone using our db seed command without prisma?

Also, Prisma's seed mechanism is kind of goofy, requiring setting up your own ts-node or esbuild-runner command, etc.

[2022-09-15 00:17] jatidevelopments opened #3841 "Make NextJS Feature Custom Page Extensions work with BlitzJS 2.0 RPC"
### What do you want and why?

Make NextJS Feature Custom Page Extensions work with BlitzJS 2.0 RPC (https://nextjs.org/docs/api-reference/next.config.js/custom-page-extensions)

Use cases:

We want to have non-pages in the /pages folder then we can declare NextJs Page Extensions in the config file. This enables to write pages with e.g. signup.tsx > signup.page.tsx.

[code]

### Possible implement

[2022-09-15 11:54] reymon359 commented on #3592
As an update, it is still happening on 2.0.0-beta4

In case it helps someone else, I updated the `target` in the `tsconfig.json` to  `"target": "es6"` as a workaround to remove the error 😉

[2022-09-15 14:12] beerose commented on #3841
Thanks for reporting!

File to update: https://github.com/datner/blitz/blob/f6dac093d240a93543b7bd09f55069cb3291d980/packages/blitz-rpc/src/index-server.ts#L91

[2022-09-15 18:36] beerose commented on #3814
Thanks for reporting. I haven't seen this before, so maybe it is related to a dependency update.

[2022-09-15 18:39] beerose commented on #3819
Closing this issue as it seems to be resolved after following the discussion above. Feel free to reopen if it's not.

[2022-09-15 18:39] #3819 closed

[2022-09-15 21:16] dillonraphael opened #3844 "Add FAQ to Blitz Discord"
### What do you want and why?

An FAQ channel in the discord with the most asked questions. Let's start collecting them here.

[2022-09-16 14:14] veigamann commented on #2211
@oceandrama any updates on this? did you manage to get correct typings with `useQuery`?

[2022-09-16 16:26] flybayer commented on #2211
This is a limitation of typescript. Sadly, nothing we can do to fix it.

[2022-09-16 16:26] #2211 closed

[2022-09-16 18:05] #3841 closed

[2022-09-16 20:33] #3840 closed

[2022-09-16 20:39] flybayer commented on #3767
We changed the implementation and this is fixed in https://github.com/blitz-js/blitz/pull/3842

[2022-09-16 21:58] medihack commented on #3767
That's cool ... keep the console clear :-) Thanks for letting me know!

[2022-09-17 14:55] medihack commented on #3725
Will this fix be merged for the next beta? When the query has non-optional parameters, you can't just do `invalidateQuery(getUsers, {})` but have to cast the empty object to `any`. It is also [against the documentation](https://blitzjs.com/docs/resolver-client-utilities#arguments-1) (_"If you don't provide this, it will invalidate all resolver queries"_).

[2022-09-17 22:33] alchui opened #3845 "Fix security vulnerabilities in Blitz"
### What is the problem?

When running `npm install -g blitz` and `npm i blitz@alpha -g`, I have encountered a critical npm setup error. I am using Windows 10 and my development IDE is Microsoft Visual Studio Code.

Here is a quick illustration of the problem.
![image](https://user-images.githubusercontent.com/26880060/190878249-6f116aa5-bf71-40fc-bed5-0a72f6e48e0d.png)

Alternatively, I tried `ya

[2022-09-18 16:06] siddhsuresh commented on #3361
@beerose just confirming because the issue is almost 5 months old and there is no activity on this, is this still required? If so, can I open a PR to add this functionality to the CI?

[2022-09-18 21:23] Zeko369 commented on #3725
@medihack This should be fixed in the next beta, #3728

[2022-09-18 21:44] Zeko369 opened #3846 "TypedLink and useTypedRoute"
### What do you want and why?

From `@blitzjs/next` export 2 new utils

1. `<TypedLink>` allowing us to write typesafe links by default
2. `useTypedRoute` when called without props it's the same as useRouter but enforces the use of typesafe routes in push/replace, but if called with a prop also types router.query (example below)

### Possible implementation(s)

Super simple example of just key + a

[2022-09-19 08:15] beerose commented on #3361
Hey @siddhsuresh! Yep, it would still be nice to have this CI action. Feel free to open a PR!

[2022-09-19 08:16] beerose commented on #3845
Just to confirm — you mean the security vulnerabilities?

[2022-09-19 08:41] #3829 closed

[2022-09-19 08:50] alchui commented on #3845
It is weird. I am not sure if it is a security vulnerability or if it is something else. It produced the security vulnerabilities instantly after trying to install Blitz with `npm`. It didn't download any npm packages into the corresponding directory. Therefore, I wasn't able to "audit" or "fund" the vulnerability issues without the log files. I have thought of the possibility that something may h

[2022-09-19 09:01] alchui commented on #3845
Here, I have done a little more diggings and work around. Hope this helps.
[code]

[2022-09-19 09:03] alchui commented on #3845
To make it easier to read, these are the major issues.
[code]

[2022-09-19 09:53] beerose commented on #3633
Hey @markdav, the issue with Ctx in resolver files was fixed in one of the recent releases. The router no-floating-promises problem will be fixed here: https://github.com/blitz-js/blitz/pull/3848

[2022-09-19 18:57] #3812 closed

[2022-09-19 19:07] #3633 closed

[2022-09-19 19:23] #3820 closed

[2022-09-19 19:48] dillonraphael commented on #3845
Superjson is upgraded in `blitz@2.0.0-beta.4`

[2022-09-19 19:48] #3845 closed

[2022-09-19 19:49] dillonraphael commented on #3844
I don't think we need this any more with the help of discord's new forum channel. User's can just search for issues before posting.

[2022-09-19 19:49] #3844 closed

[2022-09-19 20:08] Wykaz opened #3851 "Bug forgot password"
### What is the problem?

On a new project, the forgotten password option does not work.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

I think it comes from here

mailers/forgetPasswordMailer.js
[code]

### What are detailed steps to reproduce this?

1. npm install -g blitz
2. blitz new blitzjs-test
3. cd blitzjs-test
4. blitz dev
5. View your brand new

[2022-09-20 09:34] beerose commented on #3592
@lhocke could you try with Node 16? Trying to see if that could be related to Node version.

[2022-09-20 13:35] devaayushraj opened #3854 "Autoload path (import and export)"
In a normal JS program, dependencies need to be loaded by hand. (import and export)

This shouldn't be case within a framework.

Instead of:

[code]
We should be doing this:

[code]
Point of a framework is to make our life easier, isn't it?

[2022-09-20 13:58] beerose commented on #3854
Blitz is a JavaScript framework, so you do have to write a valid JavaScript or TypeScript code. Being a framework means abstracting boilerplate and providing solutions that would otherwise require users to write a lot of code. Yet as long as it's a JavaScript framework, it will require JavaScript syntax.

[2022-09-20 13:58] #3854 closed

[2022-09-20 17:25] dillonraphael commented on #3851
I just tested on osx and it's working. By the looks of your error this may be a window specific issue.

[2022-09-20 18:23] abeauvois commented on #2892
Same issue here after following the doc with "yarn global add blitz"

Blitz version: 2.0.0-beta.4 (global)
macOS Monterey | darwin-x64 | Node: v17.8.0

 Package manager: npm

  System:
    OS: macOS 12.6
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 754.93 MB / 16.00 GB
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 17.8.0 - ~/.nvm/versions/node/v17.8.0/bin/node
    Yar

[2022-09-21 13:13] madhenry commented on #2654
Anyone knows if/how this could work with the new Blitz 2.0 next toolkit?

Got as far as this with a couple of edits (mainly to imports and types) to the latest example above:

[code]

[code]

[2022-09-22 10:49] #3818 closed

[2022-09-22 11:21] Darkhorse-Fraternity opened #3856 "Default configuration failure about suspense in queryclient"
### What is the problem?

When i upgrade to version 2 of blitz.  I found that the configuration failure about suspense in queryclient. and if  I set suspense  to true manually, it's ok.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

[code]

### Run `blitz -v` and paste the output here:

[code]

### P

[2022-09-22 11:31] beerose commented on #3776
The issue seems to result from the wrong path for `schema.prisma`. I believe that it will be fixed by https://github.com/blitz-js/blitz/pull/3855

[2022-09-22 12:32] beerose commented on #3772
Closing this issue in favour of https://github.com/blitz-js/blitz/issues/3706 (https://github.com/blitz-js/blitz/issues/3706 was created earlier than this one).

[2022-09-22 12:32] #3772 closed

[2022-09-22 13:41] yaniket commented on #3828
Hello @beerose mam can you give me the location of docs file
eg: Auth docs
     RPC docs

[2022-09-22 14:13] johnlk opened #3858 "Add `blitz console` option to skip preloading of queries/mutations"
### What do you want and why?

I wish there were a way to skip over the pre-loading of queries and mutations when executing `blitz console`. For one, it's very slow especially when you have > 40 queries + mutations as my project does. Second, I almost never use my queries in the console.

When I SSH to my remote server and run `blitz console` it takes > 2 mins to preload queries. Locally, it's abo

[2022-09-23 00:20] sharmapukar217 opened #3860 "Don't rely on hardcoded `db/prisma.schema` — use whatever is configured in package.json"
I want the db folder to be prisma but there's no config available for this.

[2022-09-23 04:07] webdeb opened #3861 "Update npm version of @blitzjs/cli"
### What is the problem?

The latest deployed `@blitzjs/cli` version is 0.45.x..

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that show your problem:

_No response_

[2022-09-23 07:26] beerose commented on #3861
Hey, `@blitzjs/cli` is deprecated. Is this causing any trouble?

[2022-09-23 07:28] beerose commented on #3860
You can configure this in your `package.json` file:

[code]

Here you can find relevant docs: https://www.prisma.io/docs/concepts/components/prisma-schema#prisma-schema-file-location

[2022-09-23 08:59] sharmapukar217 commented on #3860
I'm not talking about configuring for prisma, I want blitz js to use `prisma` folder rather than `db`

[2022-09-23 11:05] webdeb commented on #3861
Ah, ok, thanks for clarification. I was getting an error while using `blitz prisma ..` that `@blitzjs/cli` is not installed.. Installed blitz globally, and its fixed now.

[2022-09-23 11:05] #3861 closed

[2022-09-23 12:22] #3361 closed

[2022-09-23 12:23] beerose commented on #3860
Blitz doesn't really use Prisma internally. Can you describe more about what's causing issues?

[2022-09-23 12:33] sharmapukar217 commented on #3860
when I'm running blitz dev or blitz codegen, or any blitz command running or using prisma, i get "db/schema.prisma" not found 🥲  but its there at `prisma/schema.prisma`

[2022-09-23 12:56] beerose commented on #3860
Ah okay. It should be fixed with changes introduced in this PR: https://github.com/blitz-js/blitz/pull/3855.

However, I'm going to reopen this issue to make sure we don't rely on hardcoded db directory anywhere else.

[2022-09-23 12:58] beerose commented on #3860
Places to update:
- [ ] Blitz generator package
- [ ] Codegen tasks

[2022-09-23 13:49] beerose opened #3862 "Add `blitz console` back to Blitz 2.0"
We should also switch to esbuild while at it: https://github.com/blitz-js/blitz/issues/1098

[2022-09-23 13:49] beerose commented on #3858
Thanks for the suggestion! Currently blocked on https://github.com/blitz-js/blitz/issues/3862

[2022-09-23 16:13] siddhsuresh commented on #3748
@beerose can I work on this and add this back to the generate command? If so, should I add the option for the custom template folder in the ```next.config.js``` or in the ```app/blitz-server.ts``` or is some other location preferred?

[2022-09-25 05:06] siddhsuresh commented on #3862
@beerose @dillonraphael @flybayer can I work on this?

[2022-09-26 07:00] cesarve78 opened #3864 "error when blitz prisma migrate dev"
### What is the problem?

In a fresh project.

I changed prisma.schema

and run:

[code]

but it throw an error

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. create a fresh project
2. change the DATABASE_URL to postgress (my case supabase)
3. change the database provider in prisma.schema
4. chang

[2022-09-26 07:06] cesarve78 commented on #3864
I update to node 16 and now is working.

[2022-09-26 07:06] #3864 closed

[2022-09-26 08:26] beerose commented on #3748
@siddhsuresh we were thinking about using `export default` in `app/blitz-server.ts` for this. Something like:

[code]

[2022-09-27 07:06] Darkhorse-Fraternity commented on #3856
I found the cause, ThirdwebProvider also uses queryclient, which then overrides blitz's configuration. we can rewriter like this
[code]

[2022-09-27 07:06] #3856 closed

[2022-09-28 20:38] #3786 closed

[2022-09-28 20:38] #3794 closed

[2022-09-29 06:34] #3801 closed

[2022-09-29 06:59] #3566 closed

[2022-09-29 20:22] #3858 closed

[2022-09-29 20:22] #3862 closed

[2022-09-29 20:22] #1098 closed

[2022-09-30 15:11] siddhsuresh commented on #2038
I'm opening branch [port-subtemplate](https://github.com/blitz-js/blitz/tree/port-subtemplate) to continue the work done by @Roesh in PR #2679 to work in the toolkit

[2022-09-30 18:07] Zeko369 commented on #3851
@Wykaz can you check if you something else set to open .html files in windows settings? If you don't have anything set it prompts you. If you have it set to something else change it to your default browser

![image](https://user-images.githubusercontent.com/3064377/193330575-76161bc5-9203-41c1-b81c-35ed9ed9a93d.png)

![image](https://user-images.githubusercontent.com/3064377/193330660-c703b080-c5c

[2022-09-30 22:45] DmacMcgreg commented on #3566
➜  Improved git:(master) ✗ yarn export
yarn run v1.22.19
$ blitz export
Loaded env from /Users/d/Documents/6_Code/Lebri-Improved/.env.local
Loaded env from /Users/d/Documents/6_Code/Lebri-Improved/.env
Error: Cannot find module 'export'
Require stack:
- /Users/d/Documents/6_Code/Lebri-Improved/noop.js

@beerose  getting this with beta versions

I've deleted node_modules and re-installed, I've trie

[2022-10-01 08:52] flybayer opened #3870 "New app template incorrectly has `views` field in session public data"
### What is the problem?

this line needs removed: https://github.com/blitz-js/blitz/blob/main/packages/generator/templates/app/types.ts#L12

[2022-10-01 11:10] beerose opened #3871 "🎃 Hacktoberfest 2022 🎃"
Hi all 👋

It's time for Hacktoberfest 2022, and The Blitz team is excited to have you contribute to our project. Blitz is a community-first project, so that we couldn't miss out on an event like this. You can learn more about the community [here](https://blitzjs.com/docs/how-the-community-operates). In our repository, you can find some beginner-friendly issues to work on! There are several reposit

[2022-10-01 11:59] #3600 closed

[2022-10-01 12:00] #3572 closed

[2022-10-01 12:00] #3565 closed

[2022-10-01 12:02] beerose commented on #3291
Fixed in https://github.com/blitz-js/blitz/pull/3557

[2022-10-01 12:02] #3291 closed

[2022-10-01 12:04] beerose commented on #3218
Closing as a duplicate of https://github.com/blitz-js/blitz/issues/3253

[2022-10-01 12:04] #3218 closed

[2022-10-01 12:06] beerose commented on #2988
Should be fixed by https://github.com/blitz-js/blitz/pull/3863 (as we switched to esbuild)

[2022-10-01 12:06] #2988 closed

[2022-10-01 13:04] harshsinghatz commented on #3870
Can i pick this?

[2022-10-01 13:05] harshsinghatz commented on #3835
Can I pick this?

[2022-10-01 21:29] Zeko369 commented on #3835
Go ahead @harshsinghatz

[2022-10-01 22:18] Zeko369 commented on #3860
Codegen tasks - already fixed by @dillonraphael in the last PR
Blitz generator package - in #3874

[2022-10-01 23:22] Zeko369 opened #3875 "Add default settings.json inside of the repo to tell vscode which TS version to use"
### What do you want and why?

VSCode by default uses typescript bundled inside of itself (which is as of Oct 2nd ts4.8, while our repo is on ts4.6) which sometimes causes errors that aren't actual errors (will be when we upgrade but aren't right now)

### Possible implementation(s)

add `.vscode/settings.json` with
[code]

[2022-10-02 02:16] Himanxu1 commented on #3875
Assign this to me .

[2022-10-02 13:15] a11rew commented on #2829
Hi I'd like to take this up - adding a `.href` property to `RouteUrlObject` with the "real" path that is.

[2022-10-02 22:13] Wykaz commented on #3851
I have a browser configured for you to open .html but it does not work.
![image](https://user-images.githubusercontent.com/23290667/193478507-9eb8ff95-e88e-4119-a06d-45e880e2b76a.png)

[2022-10-03 02:59] beerose commented on #3566
@DmacMcgreg, we removed the `export` command in favor of `next export` (https://nextjs.org/docs/advanced-features/static-html-export). You can try running `next export` or `blitz next export `.

[2022-10-03 03:01] beerose commented on #3566
On second thought — we should add it back as we had additional `-o` and `-e` CLI options. We also still have this in the docs. Would you mind opening an issue for that, @DmacMcgreg?

[2022-10-03 03:05] #3275 closed

[2022-10-03 03:29] #3870 closed

[2022-10-03 03:34] beerose commented on #2829
Go ahead @a11rew! Let us know if you have any questions

[2022-10-03 06:16] beerose commented on #3875
@Himanxu1, @FreemRL already started working on this issue.

[2022-10-03 11:40] Zeko369 commented on #3851
@Wykaz there could be a problem with where it stores the files, try changing `await previewEmail()` to this and create a `tmp` folder in the root of your project

[code]

[2022-10-03 12:46] beerose commented on #3828
@yaniket you can find the docs repo here: https://github.com/blitz-js/blitzjs.com

[2022-10-03 12:48] beerose opened #3879 "Remove old Next.js pages from the docs"

[2022-10-03 13:21] #3253 closed

[2022-10-03 13:32] JoelLau commented on #3223
hi @flybayer , i would like to pick this issue up as part of `hacktoberfest` if it's okay with you. Do you mind elaborating on what is expected of the integration test?

[2022-10-03 13:47] DmacMcgreg opened #3880 "Blitz export command is missing"
### What is the problem?

When running blitz export, an error appears.

Probably we should put this command back?
Referencing: https://github.com/blitz-js/blitz/issues/3566#issuecomment-1264868614

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

See above

### What are detailed steps to reproduce this?

1. blitz export

### Run `blitz -v` and paste the outp

[2022-10-03 13:47] DmacMcgreg commented on #3566
@beerose
https://github.com/blitz-js/blitz/issues/3880

Cheers!

[2022-10-03 13:56] Zeko369 opened #3881 "Blitz codegen should import from the correct db folder"
### What is the problem?

As of #3874, we allow users to have `prisma/schema.prisma` instead of the default `db/schema.prisma`.

What happens now is that our codegen generates resolvers with `import db from "db"`, instead of checking package.json to see where the prisma folder is

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed

[2022-10-03 13:57] #3475 closed

[2022-10-03 17:02] #3860 closed

[2022-10-03 18:29] siddhsuresh commented on #3881
@Zeko369 I shall be fixing this in #3869

[2022-10-03 19:06] Zeko369 commented on #3881
Amazing @siddhsuresh

[2022-10-03 22:27] Wykaz commented on #3851
Thank you for taking the time to resolve the issue.
It was this import?
[code]
I tried with it and it doesn't work, it gives the same error.

[2022-10-04 03:55] siddhsuresh commented on #3851
@Wykaz I think the problem lies with previewEmail not able to read your process.env.SYSTEMROOT environment variable to launch powershell

[code]

Can you check if the problem resolves if you manually set the systemroot in your projects ```.env``` file as

```SYSTEMROOT = C:\\WINDOWS```

[2022-10-04 06:13] isurumaldeniya commented on #3190
@beerose Hi I would like to work on this issue. This is my first time contributing to open source. I have read the code of conduct and contribution guidelines. Can you please assign me this issue and guide me to complete the PR 😊

[2022-10-04 06:31] siddhsuresh commented on #3190
@isurumaldeniya
https://github.com/blitz-js/blitz/blob/d6717b9d3c72691844a335c9e5f72804641f0d74/packages/generator/package.json#L27
The above should be changed to
[code]

[2022-10-04 07:00] isurumaldeniya commented on #3190
@siddhsuresh Hi thank you for the fast reply. When I change the package.json and run `pnpm install` on root folder, it gives me a lot of warning about peer dependencies version mismatch. Will I neglect the warning or try to update the peer dependencies also?

[2022-10-04 07:05] beerose commented on #3190
@isurumaldeniya, you should ignore the warnings for now. We'll take care of them one day 😅

[2022-10-04 07:17] beerose commented on #3223
@JoelLau, here's the integration test directory that needs to be migrated: https://github.com/blitz-js/legacy-framework/tree/main/nextjs/test/integration/env-config-app-env. You should add it to this project's `integration-tests` folder and modify it accordingly (we use vitest now instead of jest). You can follow other tests in `integration-tests` to see how to make the changes.

Also, I'm assigni

[2022-10-04 07:40] isurumaldeniya commented on #3190
@beerose Thank you for the reply 😊. Send a PR, please check it and let me know if anything missing.

[2022-10-04 09:38] estevanjantsk commented on #3880
I will try to work on this one 👍

[2022-10-04 10:49] estevanjantsk commented on #3880
@beerose could you provide me the PR where this cmd was removed, please? 🤔 I tried but I didn't find.

[2022-10-04 15:13] Braggedtooth opened #3883 "Adding new properties to session publicData causes type error in blitz-server.ts"
### What is the problem?

Adding new properties seems to be causing type error or changing the type of  userId to string (uuid)

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. i believe this happens when adding properties to the session data.
2. i could reproduce this twice but reverting it to orig

[2022-10-04 17:01] Wykaz commented on #3851
I added dfgdfg in the .env file and it works. Thanks

But when I do this to modify the .env file the variable was good
![image](https://user-images.githubusercontent.com/23290667/193880302-1e1f5596-a42d-4f82-a695-07f55f949f71.png)

[2022-10-05 07:07] beerose commented on #3880
@estevanjantsk Actually, it was never _removed_ per se — it was never _added_. We had it in Blitz 1.0, and then when we started working on Blitz 2.0 it was from ground zero. We were moving some things from old Blitz to new Blitz, but a few stuff got missed. Export command was one of them. Here's the code that should be added back to this repo: https://github.com/blitz-js/legacy-framework/blob/main

[2022-10-05 09:32] lksnmnn opened #3884 "Possible improvements for codemod upgrade-legacy"
### What is the problem?

We migrated our legacy Blitz application from `v0.45.3` to `v2.0.0-beta4` using the `upgrade-legacy` codemod. This was a big help! After migrating there were still a few things we had to change manually, in order to get everything to run:

1. Remove `blitz.config.ts`
2. Move custom server code (e.g., `node-cron`) to `blitz-server.ts` (was moved into next.config.**js**)
3.

[2022-10-05 12:47] estevanjantsk commented on #3880
YAS, ready to be reviewed.

[2022-10-06 08:38] adamshand commented on #3814
I just started using blitz a few days ago, and I'm getting this error as well:

[code]

It's a very simple componet:

[code]

[code]

[2022-10-06 08:44] adamshand commented on #3814
It looks like adding this line to eslint will solve the problem (but I haven't yet figured out how to configure eslint with Blitz):

[code]

[2022-10-06 10:34] estevanjantsk commented on #3806
I will try to fix this one. Looks kinda tricky but 🤞 .

[2022-10-06 20:59] aaly00 commented on #3814
@adamshand This just disables the linter check. The root cause is not fixed. It's also weird that only me and you ran into this issue. @beerose I am able to reproduce the issue on every fresh project on both of my M1 MacBook Pros.

[2022-10-06 23:54] adamshand commented on #3814
Yes, but ... I'm only seeing a linting problem?  Once I fixed the linting the build works perfectly for me.

Are you seeing other errors?

[2022-10-07 03:50] beerose commented on #3814
I investigated this issue a while back, and posted some notes here: https://github.com/blitz-js/blitz/issues/3637#issuecomment-1209354952. We haven't had time to take a closer look yet, but we definitely have to revisit it soon.

[2022-10-07 05:32] #3875 closed

[2022-10-07 12:24] estevanjantsk commented on #3268
I will work on this one 👍

[2022-10-07 15:43] estevanjantsk commented on #3268
@flybayer hey hey! Could you give more info about this? I mean, where/how do I get this warning? From there I can go deeper with the investigation. Thank you! And have a good weekend!

[2022-10-07 17:00] lksnmnn commented on #3884
Update: I was just committing my changes and found that eslint is not working out of the box as well. So the codemod change the config to
[code]
I get the error:
[code]

Following this advice https://github.com/blitz-js/blitzjs.com/pull/743 I change our config to
[code]

So I guess the codemod should replace `"blitz"` with `require.resolve("@blitzjs/next/eslint")` and maybe leave custom rules inta

[2022-10-09 08:06] siddhsuresh commented on #2162
@flybayer would this feature still be relevant/beneficial to the toolkit?
I have made the basic changes allow the users to opt in to the GET request in the query files.
I wanted to confirm, because this issue is more an a year old, before continuing to work on this.

[2022-10-10 05:03] beerose commented on #3884
Thanks for summarizing and reporting these issues!

[2022-10-10 05:28] flybayer commented on #3268
@estevanjantsk sure thing. You can get the warning if you remove `react` from the `externals` array in `packages/blitz-rpc/build.config.ts` and then run the build.

[2022-10-10 05:40] flybayer commented on #2162
@siddhsuresh yes, let's add it!

[2022-10-10 11:48] lksnmnn commented on #3637
@gcavanunez If you create a fresh Blitz app now (it uses 18.2.0) can you confirm the `styled-jsx` is still gone for you? Because I still see the hydration issues.

[2022-10-11 04:59] adamtang79 commented on #3851
May I know why

SYSTEMROOT="C:\\WINDOWS"

is not working if i put it only inside .env.local but it is working if i put it only inside .env?

[2022-10-11 08:01] #3725 closed

[2022-10-11 08:18] #3880 closed

[2022-10-11 08:18] #3258 closed

[2022-10-12 02:54] Alex-Munro opened #3894 "Blitz install failing in new project"
### What is the problem?

`blitz install tailwind` results in an error.
Seems like an import/dependency within the recipes needs updating.

Error appears with each package.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Updated Blitz to version: 2.0.0-beta.11 with `sudo npm install -g blitz`
2. Cr

[2022-10-12 10:11] #3894 closed

[2022-10-12 15:46] #3748 closed

[2022-10-12 22:16] benwhut opened #3897 "reset-password page doesn't work when using React-Hook-Form library"
### What is the problem?

The reset-password page doesn't work when using "React-Hook-Form" library setup in a new Blitz project

This error is similar to the one found [here](https://github.com/blitz-js/legacy-framework/issues/353), but I get this using [Blitz v2.0.0-beta.11](https://github.com/blitz-js/blitz/releases/tag/v2.0.0-beta.11).

When opening the link to reset-password?token=... it is n

[2022-10-13 13:52] dillonraphael commented on #3436
PR to the docs https://github.com/blitz-js/blitzjs.com/pull/780

[2022-10-14 23:57] mikeyXmomo opened #3900 "Blitz install stuck on "Generating file diff" in new project"
### What is the problem?

`blitz install tailwind` stuck on "Generating file diff". I waited for an hour and still not done yet

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.Updated Blitz to version: 2.0.0-beta.12 with `sudo npm install -g blitz`
2. Created a new Blitz app with `blitz new`
3. `cd

[2022-10-15 00:08] mikeyXmomo opened #3901 "Blitz install error in new javascript blitz project"
### What is the problem?

`blitz install material-ui `results in an error

Error appears with each package.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.Updated Blitz to version: 2.0.0-beta.12 with `sudo npm install -g blitz`
2. Created a new Blitz app with `blitz new`
3. Choose Javascript on "Pi

[2022-10-15 22:22] DominicTobias opened #3903 "5 Styled JSX related eslint errors on new unmodified project"
### What is the problem?

Running `lint` results in 5 eslint errors on a new unmodified project.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. blitz new myAppName (Typescript, PNPM, final-form)
3. cd myAppName
4. pnpm/yarn/npm lint

### Run `blitz -v` and paste the output here:

[code]

### Pleas

[2022-10-16 11:20] WaysToGo opened #3904 "Blitz install graphql-apollo-server is not working"
### What is the problem?

Blitz install graphql-apollo-server is not working

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.blitz install graphql-apollo-server

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that show your p

[2022-10-16 13:31] JoelLau commented on #3223
had some trouble installing pnpm, but its working now! i'm still working on this - hope to open a PR in the coming week. will post questions here

_(sorry for the delay)_

[2022-10-17 04:46] nickluger opened #3905 "blitz dev + @sentry/nextjs => endless recompile loop"
### What is the problem?

When using the CLI command `blitz dev` together with Sentry (the `@sentry/nextjs`) it ends up in a fast-refresh-recompile endless loop.

This does not happen when using `next dev`.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Create a blitz project
2. Add the latest Sen

[2022-10-17 07:44] beerose commented on #3901
Closing as a duplicate of https://github.com/blitz-js/blitz/issues/2470

Blitz recipes aren't currently supported for JS projects.

[2022-10-17 07:44] #3901 closed

[2022-10-17 10:28] beerose commented on #3903
Closing as a duplicate of https://github.com/blitz-js/blitz/issues/3814

We're currently investigating it.

[2022-10-17 10:28] #3903 closed

[2022-10-17 11:29] sharmapukar217 opened #3908 "@blitz/auth secure password prevent auto throwing error"
Why is the secure password throwing error automatically when password and hash doesn't match. I think its better to return SecurePasswod status rather than throwing "You are not authorized" error. :-)

[2022-10-17 12:24] talesmgodois commented on #2974
Hi guys, this is happening to me as well, I am trying to use prisma with serverless.

✖ TypeError: __assign is not a function
      at ../../node_modules/.pnpm/chalk@4.1.2/node_modules/chalk/source/index.js (/home/tales/projects/bolico/bolico-auth-svc/.esbuild/.build/.build/dist/handlers/index.js:45011:29)
      at __require (/home/tales/projects/bolico/bolico-auth-svc/.esbuild/.build/.buil

this

[2022-10-18 02:47] dillonraphael commented on #3905
Oh interesting. Thanks for catching this. Working on stable release right now, but will definitely look into this.

[2022-10-18 02:48] dillonraphael commented on #3900
Ya currently working on a fix

[2022-10-18 02:48] dillonraphael commented on #3904
There are some issues with blitz install currently. Sorry about that. Working on fixes.

[2022-10-18 02:49] dillonraphael commented on #3897
Oh interesting. Looks like the react hook form templates aren't appeasing the zod validation.

[2022-10-18 05:29] beerose commented on #3897
No, that's not it. The `useRouter` returns undefined on the initial load. Hence the token goes as `undefined` to the mutation and validation fails.

[2022-10-18 05:30] beerose commented on #3897
Previously we were using `useRouterQuery`, so we didn't have this issue.

[2022-10-18 06:54] #3814 closed

[2022-10-18 07:50] #3706 closed

[2022-10-18 12:15] alenvuletic opened #3911 ""Expected number, received string" when using select field in forms"
### What is the problem?

Hi, I'm probably doing something wrong here, help would be great. If someone can push me in the right direction I would be very grateful.

I tried to build `LabeledSelectField` but I hit the wall.

I need a select field which values will be numbers (IDs).

That specific field works as expected when I use `<LabeledTextField type="number">` component, but I need a select fi

[2022-10-18 12:44] flybayer commented on #2974
Hey @talesmgodois, this doesn't _look_ like it has anything to do with Blitz. Can you check with Prisma support on this one?

[2022-10-18 13:51] talesmgodois commented on #2974
Hi @flybayer, alright, I just  saw  the same error happening so I though that might  be helpful.

Anyway I was able to "fix" by myself. The reason I quoted fiz is because i was using some serverless plugins that I didn't control where my built javascript should be. I removed  those, and generate only using tsc and worked like a charm.

[2022-10-19 06:43] nickluger opened #3913 "ESM packages need to be imported with `.blitz`"
### What is the problem?

I'm using a `pnpm` monorepo, so I'm not 100% sure, whether this is because of Blitz.

Next.js is throwing the [import-esm-externals error](https://nextjs.org/docs/messages/import-esm-externals), while Blitz is trying to `require` the auto-generated `.blitz` routes directory.

As with Next.js 12 new `esmExternals` mode (per default on), Next.js assumes somehow that the `.b

[2022-10-19 06:50] nickluger opened #3914 "Allow defining routes manifest output directory `.blitz`."
### What do you want and why?

The location of the routes manifest directory `.blitz` should be configurable, similar to Prisma client's output directory, which also per default goes into `node_modules`, but can be changed.

This is important for monorepo directories, for usage with pnpm/yarn2+ workspaces etc. Also, it's currently still not possible to use multiple Blitz apps in a single monorepo

[2022-10-19 06:55] beerose commented on #3914
Good idea!

[2022-10-19 08:03] beerose commented on #3883
Hey, I just created a new app, and changed my `types.ts` file to be the same as yours. I also changed the Prisma schema to use uuid and String for `userId`. I needed to get rid of a few `as number` in changePassword, login, signup mutations and in getCurrentUser query. It works fine though — I didn't get any type issues. I made a minimal repro here: https://github.com/beerose/blitz-publicdata-repr

[2022-10-19 09:34] jasperhartong opened #3917 "Vercel OG (Edge Function) fails in Blitz app"
### What is the problem?

The serverless functions for the newly introduced [Vercel OG Image api](https://vercel.com/blog/introducing-vercel-og-image-generation-fast-dynamic-social-card-images) fail in a Blitz project with an internal 500 error.

Removing the wrappers on `_app`, and `next.config.js` fixes the issue (but removes most Blitz functionality).

### Paste all your error logs here:

[code

[2022-10-19 20:27] #3911 closed

[2022-10-20 06:56] #3592 closed

[2022-10-20 07:04] beerose commented on #3908
Thanks for the suggestion! I think we should support both options — throwing and returning result.

[2022-10-20 10:17] caveman-dev opened #3920 "Reference Error: React is not defined"
### What is the problem?

While using primereact with blitz and importing few of the components  for instance InputText  ,it says react is not defined.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

import { InputText } from "primereact"
import React from "react"

const test = () => {
  return (
    <div>
      <div>hello</div>
      <InputText />
    </d

[2022-10-20 10:23] sharmapukar217 commented on #3908
Yes that would be best

[2022-10-21 01:34] Braggedtooth opened #3921 "Better typesafety on LabeledTextField component"
### What do you want and why?
The default Input component is currently not type safe and writing the incorrect name will not provide any error in the linter or browser

### Possible implementation(s)

### Additional context

https://discord.com/channels/802917734999523368/1029509375238352936/1029509375238352936
Expected Behavior
![Expected Behavior](https://user-images.githubusercontent.com/543392

[2022-10-21 09:17] beerose commented on #3921
Thanks for the issue!

[2022-10-22 03:23] #3897 closed

[2022-10-22 03:31] beerose commented on #3917
Thanks for reporting! We'll take a look and fix it soon.

[2022-10-22 03:31] beerose commented on #3825
Closing due to inactivity.

[2022-10-22 03:31] #3825 closed

[2022-10-23 11:43] sharmapukar217 commented on #3908
Any updates on this?

[2022-10-24 08:57] beerose commented on #3908
It's up for grabs :) It won't be prioritized any time soon to be worked on by the core team, but if someone wants to try it, we can help.

[2022-10-24 10:31] paulm17 opened #3923 "Add from, to params to paginate.ts"
### What do you want and why?

Would be nice to have from and to, to the paginate function.  Hasmore is nice, but is more aimed at infinite pagination.  It also would save me a lot of boilerplate.  😓

### Possible implementation(s)

[code]

### Additional context

This allows for:

![pagination](https://i.imgur.com/frr0YZI.png)

[2022-10-24 10:54] sharmapukar217 commented on #3908
I'll be happy to provide the help. Should we be using an option to enable/disable throwing error?

[2022-10-24 15:45] ajduet opened #3924 "Installing blitz recipes on windows fails with yarn global install"
### What is the problem?

I installed the blitz cli using yarn global. When attempting to install tailwind recipe, I get an error stating the installer module is not found. This only happens when the cli is installed using yarn global. The recipe installs just fine with npm global.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detail

[2022-10-24 19:34] antonykamp opened #3925 "Adding staticPageGenerationTimeout to blitz.config.js"
### What do you want and why?

Our application throws the error `Restarted static page generation for any route because it took more than 60 seconds` during the static page generation phase. One way to fix it [in NextJS](https://nextjs.org/docs/messages/static-page-generation-timeout) is to increase the staticPageGenerationTimeout in the `next.config.js` file. Can we configure it in blitzJS?

[2022-10-25 10:33] beerose commented on #3904
Should be fixed by https://github.com/blitz-js/blitz/pull/3909

[2022-10-25 10:33] #3904 closed

[2022-10-25 12:43] rRakarare opened #3926 "blitz generate returns "cannot find module db" error when using javascript template"
### What is the problem?

When seting up a new project via **blitz new projectname** command with **javascript** as selected language , **blitz generate model testModel** command returns the error **_Error: Cannot find module 'db'_**.

However when selecting typescript as language there is all fine with **blitz generate**.

Am i missing something here?

### Paste all your error logs here:

[code]

[2022-10-25 15:28] dillonraphael commented on #3926
Thanks for bringing this to my attention. Just made a PR to fix this.

[2022-10-28 08:33] dylan10293 commented on #3920
I am getting the same issue while running with primereact library

[2022-10-28 10:40] #3920 closed

[2022-10-29 18:57] googamanga commented on #3925
+1

[2022-10-29 21:10] #2162 closed

[2022-10-29 22:01] dillonraphael commented on #3924
Try the latest beta version which is 15

[2022-10-31 14:15] dillonraphael opened #3934 "Update recipes installer to use either `src` directory or `app` directory"
NOTE: See what's placed in the current `app` directory and decide weather to support both or have everything in the `src` directory.

[2022-11-01 00:19] Nfinished opened #3935 "Eslint cannot find blitz config"
### What is the problem?

After running the codemod using beta 14, Eslint throws errors because it cannot find blitz config.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

Couldn't say, my codemod reported successful completion and there's nothing outstanding about my tooling setup.

### Run `blitz -

[2022-11-01 00:27] Nfinished opened #3936 "Codemod is mixing and matching ES modules and commonJS"
### What is the problem?

In both `blitz.config.js` and `next.config.js` the following code was generated after using the beta 14 codemod.

[code]

[code]

### Paste all your error logs here:

[code]

Additionally `blitz.config.js` reports it's unable to find the types for the objects imported.

### Paste all relevant code snippets here:

see above

### What are detailed steps to reproduce this?

[2022-11-01 00:35] Nfinished opened #3937 "Codemod generates `blitz-server.ts` with errors"
### What is the problem?

The beta 14 codemod generates a bad `blitz-server.ts`, notably it omits the required `logger` property from `setupBlitzServer`'s options arg

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Run the codemod

### Run `blitz -v` and paste the output here:

[code]

### Please i

[2022-11-01 00:44] ryanrudd commented on #3924
I was also running into this issue and the upgrade to `beta.15` resolved it for me.

[2022-11-01 04:04] meehawk commented on #2815
@beerose is this still relevant? If so I'd love to take it

[2022-11-01 11:25] krishnamauryaext commented on #3934
Is this something related to renaming the `app` folder in Blitzjs application? With upgrade to nextjs13, `app` directory becoming the standard folder for lots of feature Next provides.

[2022-11-01 13:56] flybayer commented on #2815
@meehawk yes!

[2022-11-01 14:30] ilguciems commented on #3926
The easiest way to fix this is to fix the wrong import in "app/blitz-server.js" to
[code]

[2022-11-01 19:21] dillonraphael commented on #3937
Ah good point. We released the logger property after the codemod. Will get this fixed.

[2022-11-01 19:23] dillonraphael commented on #3936
Hmm interesting. Don't remember having this issue. Will have to look into this as well. Regarding `blitz.config.js` is no longer supported. We keep it for you as reference.

[2022-11-01 19:27] dillonraphael commented on #3935
Seems you found a few codemod errors. Odd, not sure if we had this before. Like the other issues, I'll take a look.

[2022-11-02 12:42] nickluger opened #3941 "Upgrade tslog for bugfixes"
### What is the problem?

Blitz is using an old version of `tslog` which is missing [several bug fixes](https://github.com/fullstack-build/tslog/releases/tag/v3.3.4).

### Paste all your error logs here:

No error logs, just an upgrade request to version `3.3.4` which provides the mentioned bugfixes.

Of course, we can upgrade to the latest version ourselves resolving/overriding Blitz' dependency,

[2022-11-02 13:22] #3926 closed

[2022-11-02 13:25] dillonraphael commented on #3934
@krishnamauryaext exactly

[2022-11-02 16:11] dillonraphael commented on #3934
Doing some more thinking on this:

- `blitz/src/installer/utils/paths.ts` only needs to check if `blitz-server` & `blitz-client` is located in either the `app` directory or `src` directory.
- We should start assuming `mutations`, `queries` & validation files will be in the `src` directory
- Recipe layouts & components should be placed in the `app` directory

Eventually we should consider if recipe

[2022-11-02 20:23] #3924 closed

[2022-11-02 20:57] phoenixeliot commented on #2491
FWIW I'm also finding that `sum(...)` $queryRaw queries across Int (@db.TinyInt) columns are also returning Decimals, so I don't think it needs to be in the schema for it to show up.

[2022-11-02 23:02] flybayer commented on #3934
I've seen that most nextjs devs seem to prefer putting all source code in `src` and so would also be using `src/app/`. I don't have a good read currently on if people would want things like components and queries and mutations to be in `src/app/` or not.

However I do think we should switch to putting all code inside `src/` where we use `src/core/components` or `src/app/core/components`

[2022-11-03 17:44] xaronnn opened #3944 "blitz dev > endless fast recompile"
### What is the problem?

Endless fast recompiling while i did nothing.
Used template: TypeScript, Full Auth, Formik

I did not changed anything on template, all is default.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.---

### Run `blitz -v` and paste the output here:

[code]

### Please include

[2022-11-03 19:24] flybayer commented on #3937
Fixed in #3939

[2022-11-03 19:24] #3937 closed

[2022-11-03 19:55] flybayer commented on #3944
@xaronnn can you share some logs or a loom video or something? Need more info to be able to help :)

[2022-11-03 21:53] dillonraphael commented on #3923
This could be helpful. How do you see it? An addition to `usePaginatedQuery`?

[2022-11-03 21:56] dillonraphael commented on #3941
Ah ya for sure. Would be nice to have done. Could be a good second issue for someone.

[2022-11-04 12:28] paulm17 commented on #3923
Yes exactly.  So from: https://blitzjs.com/docs/use-paginated-query

For projects that support infinite scroll, there is:

For projects that want to support pagination: It changes to:

The only concern that I have, is whether to support page at zero or one.

[2022-11-04 15:59] #3941 closed

[2022-11-05 01:23] bitabs opened #3948 "Prevent page flicker when refreshing page with dark mode theme"
### What is the problem?

There is a brief white flicker when refreshing the page. Can only be noticed if your page has a black background.

### Paste all your error logs here:

No logs

### Paste all relevant code snippets here:

N/A

### What are detailed steps to reproduce this?

1. Ensure `<html />` has a black background
2. Refresh the page.
3. You'll notice that there's a white flicker.

###

[2022-11-05 04:14] xaronnn commented on #3944
Used Template: TypeScript, Formik, AWS PGSQL, Full Auth

++ only tailwindcss (recipe), classnames installed.

https://user-images.githubusercontent.com/28219912/200100292-9c8116ed-ceac-4de5-9c54-324146855cf0.mp4

[2022-11-05 17:24] flybayer commented on #3944
ok that's odd. Can you make a minimal reproduction and share the code?

[2022-11-05 17:31] paulm17 commented on #3923
Feel free to assign this issue to me.  Since I now have a working instance of Blitz for development.  Happy to submit a PR.

[2022-11-05 22:19] pestaa opened #3949 "`PORT` is not forwarded to `next start`"
### What is the problem?

`PORT` is not forwarded to `next start`.

### Paste all your error logs here:

[code]

vs

[code]

### Paste all relevant code snippets here:

-

### What are detailed steps to reproduce this?

-

### Run `blitz -v` and paste the output here:

Blitz version: 2.0.0-beta.14 (local)

### Please include below any other applicable logs and screenshots that show your problem:

[2022-11-06 03:44] flybayer commented on #3949
@pestaa thanks for reporting this! Want to take a stab at fixing it? Here's the line of code where you need to add PORT awareness: https://github.com/blitz-js/blitz/blob/main/packages/blitz/src/cli/utils/next-utils.ts#L158

[2022-11-06 03:47] dennisjbell opened #3950 "blitz new --no-git causes npm install of husky to fail"
### What is the problem?

If you chose the `--no-git` option for blitz new operator, it will still try to install husky:

[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.  Run `blitz new my-blitz-project --no-git`

### Run `blitz -v` and paste the output here:

[code]

### Please include belo

[2022-11-06 07:09] nkilm commented on #3949
@flybayer I would like to work on this issue.

[2022-11-06 16:06] flybayer commented on #3950
Thanks for reporting this! Ready to work on :)

[2022-11-06 17:17] nkilm commented on #3949
@flybayer Please correct me if I am wrong, this is order of flow
1. Execution starts from `/src/cli/index.ts` - [this line](https://github.com/blitz-js/blitz/blob/916692db74bee043cb5992500e052bea9152cb5e/packages/blitz/src/cli/index.ts#L30)
2. Then this calls the function `dev()` present in `/src/cli/commands/next/dev.ts`. - [this line](https://github.com/blitz-js/blitz/blob/916692db74bee043cb5992

[2022-11-06 18:09] nkilm commented on #3949
@pestaa Okay

[2022-11-06 21:12] aaly00 opened #3952 "Ambiguous class "...." provide a unique identifier."
### What is the problem?

Getting Ambiguous class  "...." provide a unique identifier on a fresh installation.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

NA

### What are detailed steps to reproduce this?

1. Create new blitz app
2. pnpm run dev

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs

[2022-11-07 14:10] dillonraphael commented on #3952
Ya just noticed this now too. Thanks for reporting. Should be a relatively easy fix.

[2022-11-07 19:37] flybayer commented on #3949
@nkilm some context: nextjs used to always use port 3000 even if something else was using it. So in blitz we auto detected next available port and used that.

But now nextjs does the autodetection, so we should remove all the availablePort stuff from our code. Then PORT will work as expected.

I forgot this nextjs port change earlier which is why I'm just now mentioning it :)

[2022-11-07 21:21] aaly00 commented on #3952
Can you point to where this error is coming from. I can work on a PR with a fix.

[2022-11-08 01:34] dillonraphael commented on #3952
We're exporting the errors inside `packages/blitz/src/index-browser.tsx`, but not 100% sure why the class names are being duplicated. I believe @beerose dealt with this issue recently and might have more input.

[2022-11-08 02:39] dillonraphael commented on #3948
Is this specific to blitz, or more of a nextjs solution that's needed?

[2022-11-08 11:24] Dimava opened #3954 "NPM is missing Readme and Github link"
### What is the problem?

NPM is missing Readme and Github link

### What are detailed steps to reproduce this?

1.  go to https://www.npmjs.com/package/blitz

[2022-11-09 15:25] #3934 closed

[2022-11-09 19:57] #2399 closed

[2022-11-10 18:57] giandanves opened #3960 "Getting Memory Leak on testing"
### What is the problem?

I noticed in a medium size and on development application that I'm working with Blitz that there is a memory leak problem while running tests, on this moment we already have 58 test files and we'll have more. When my team try to run all existing tests on our github repo, the memory limit is always exceeding and the Action is failing.

We created a repo with basic tests an

[2022-11-10 22:46] dillonraphael commented on #3960
Hmm thanks for reporting. Will need some time to debug & investigate what's happening unless someone has an idea. Set this to ready to work on.

[2022-11-10 22:53] dillonraphael commented on #3954
Ya that's very weird. I have a feeling it has something todo with how we do releases currently. I'm hoping this will be fixed when we do our stable release.

[2022-11-11 17:50] tmcw opened #3962 "httpMethod option mutates all other httpMethod options"
### What is the problem?

Noticed a spate of 404s deploying a new version of my application in a way that was sort of inconsistent between deploys. I think I have a diagnosis of the issue, and it's rather severe.

The gist is:

- #3891

This PR introduced a new `httpMethod` option to queries, which is great! Unfortunately I think it has a coding mistake.

So it starts by defining a default setup.

[2022-11-13 07:10] nkilm commented on #3949
@flybayer Since nextjs does autodetection for PORT, there is no need to add `fallback PORT(3000)` to blitz-js?

If yes then this condition checking should be removed - https://github.com/blitz-js/blitz/blob/936211a657202aab4ba68791eb2f2aefa02db590/packages/blitz/src/cli/utils/next-utils.ts?rgh-link-date=2022-11-06T03%3A44%3A55Z#L158

[2022-11-13 22:07] rodobre commented on #3900
Still experiencing this issue on 2.0.0-beta.17 with a fresh app.

Steps to reproduce on my system:

[code]

[code]

[2022-11-14 13:44] medihack opened #3964 "Runtime error after upgrade to beta 15 (and later) because of enhancePrisma"
### What is the problem?

Upgrading from 2.0.0-beta.14 to 2.0.0-beta.15 (or later) gives me the below runtime error. I see that there was a commit named `Export enhancePrisma from the server entry point`. Do I have to change anything on my site? Also tried to delete `.next` and `node_modules` folder without success.

When I console log `enhancePrisma` in the `db/index.ts` file, it is a function on

[2022-11-14 17:52] flybayer commented on #3960
@giandanves I suspect this is related to db connection management. Are you using enhancedPrisma like below or something else?

[code]

[2022-11-14 19:00] jhonnymichel commented on #3960
Hi @flybayer, the reproduction repository is using blitz's defaults, so it's enhancedPrisma like in your snippet

[2022-11-14 19:01] giandanves commented on #3960
@flybayer Yeah, we use it both in our work and in the repo I created.
[Here](https://github.com/giandanves/memory-leak-problem/blob/master/db/index.ts) and on [tests.](https://github.com/giandanves/memory-leak-problem/blob/f5284cd4f603f7c74d34bd2127f5151a3614d064/app/users/queries/getUsers.test.ts#L21)

[2022-11-14 19:23] #3962 closed

[2022-11-14 19:24] flybayer commented on #3949
@nkilm correct, we can remove this line

[2022-11-14 19:51] flybayer commented on #3923
@paulm17 existing paginate utility supports this, unless I'm missing something. I have the same style pagination component with current utility.

Our `blitz generate page` template has it set up this way where we store the "page" number in the query string: https://github.com/blitz-js/blitz/blob/main/packages/generator/templates/page/index.tsx#L26-L31

`skip` is same as `from` and `to` is replaced

[2022-11-14 20:25] flybayer commented on #3944
also try upgrading to latest nextjs and latest blitz!

[2022-11-14 21:42] xaronnn commented on #3944
It's fixed in beta.17, what's happened idk but works. It really saved me because of my CPU and RAM dead before update for leak resources. Thanks @flybayer

[2022-11-14 21:42] #3944 closed

[2022-11-15 03:16] nkilm commented on #3949
@flybayer Okay, will open PR asap.

[2022-11-16 08:30] stijnvanderlaan opened #3972 "Next v13 Error: Cannot read properties of null (reading 'isReady')"
### What is the problem?

I updated next to 13 & blitz to beta 17, and this resulted in an error at first render:

[code]

Adding an null check in `useQuery` for the useRouter() return value fixes this for me:

[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

Adding an null check in `useQuery` for the useRouter() return value fixes this for me:

[cod

[2022-11-16 12:06] hongfanmeng opened #3973 "Fail to set publicData"
### What is the problem?

i set the userId after login without creating a session
[code]
publicData not set after executing
[code]

[2022-11-16 12:28] stijnvanderlaan commented on #3972
Strangely this now does not happen anymore.

[2022-11-16 15:18] tmcw commented on #3835
I've made some headway on this. Unfortunately the task of automatically migrating test files to vitest is blocked on #465 - recipes can only transform one fine.

[2022-11-16 21:39] jatidevelopments opened #3975 "Stripe Webhook Error"
### What is the problem?

I would like to build a webhook with Stripe. However, Stripe returns an error even if I pass the raw body.

Related issue: https://github.com/blitz-js/blitz/issues/477

Stripe Webhook Error: No signatures found matching the expected signature for payload. Are you passing the raw request body you received from Stripe? https://github.com/stripe/stripe-node#webhook-signing

[2022-11-17 00:19] dillonraphael commented on #3975
I don't believe this issue is specific to blitz. I'm sure there are some examples out there with using nextjs with stripe. It would be the same concept.

[2022-11-17 00:19] #3975 closed

[2022-11-17 00:22] dillonraphael commented on #3973
I'm not really understanding your issue. Why not use `ctx.session.$create` ?

[2022-11-17 00:23] dillonraphael commented on #3972
Is there any specific code causing this? Is it router related?

[2022-11-17 10:07] hongfanmeng commented on #3973
Isn't it default to using anonymous sessions when not using `ctx.session.$create`?
https://blitzjs.com/docs/session-management#anonymous-sessions

[2022-11-17 18:50] flybayer commented on #3835
Thanks @tmcw!

To clarify, this issue is mainly to change the new app template. We don't have to add a codemod or make any change to recipes afaik.

Having to stop using projects isn't ideal, but I think switching to vitest is still worth it.

[2022-11-17 19:20] anteprimorac opened #3976 "Allow the graceful termination to be manually configurable"
### What do you want and why?

Currently, cleanup on graceful termination of server process is impossible because blitz CLI exits process on SIGTERM and SIGINT signals.

### Possible implementation(s)

It would be nice to reuse the same env var that next.js has. https://github.com/vercel/next.js/blob/canary/packages/next/bin/next.ts#L116

[2022-11-18 06:21] harshsinghatz commented on #3835
@tmcw are you working on this migration?

[2022-11-18 14:50] #3923 closed

[2022-11-18 14:51] dillonraphael commented on #3976
Will label as ready to work on

[2022-11-18 15:34] bitabs commented on #3952
I get the same warnings when bumping Nextjs to 13

[2022-11-18 18:16] bitabs opened #3979 "Support Next 13"
### What do you want and why?

Please support Next 13 as Vercel deployment fails due to the following error: `The "target" property is no longer supported in next.config.js.`. I believe the `withBlitz({...})` maps config from Next 12 which has `target` that is deprecated in Next 13.

### Possible implementation(s)

Bump Next 12 to 13

### Additional context
<img width="1194" alt="Screenshot 2022-1

[2022-11-18 22:21] Daidalos117 commented on #3964
I have exactly same issue. On v14 everything fine, when upgrading to v15 starts to fail.

[2022-11-19 18:03] SemmelJochen commented on #3900
Same thing here. Still experiencing this issue on 2.0.0-beta.18 with a fresh app on macOS Monterey 12.6.1.
blitz --version
Blitz version: 2.0.0-beta.18 (global)
Blitz version: 2.0.0-beta.18 (local)
macOS Monterey | darwin-x64 | Node: v16.17.0

 Package manager: npm
`
  System:
    OS: macOS 12.6.1
    CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
    Memory: 979.15 MB / 16.00 GB
    Shell

[2022-11-19 18:30] tmcw commented on #3835
I've been working on a migration, but haven't made any efforts at changing the starter template, which is probably the better way to do it - so if you're still working on updating _new_ Blitz apps to use vitest, go for it.

[2022-11-20 19:28] nknganda commented on #3900
Same issue on  Ubuntu 20.04.5 LTS (Focal Fossa)

## Steps to reproduce:

1. Installed Blitz with `npm install -g blitz`
2. Created a new Blitz app with `blitz new mysite`
3. cd into the folder
4. Attempted to install tailwind with `blitz install tailwind` and stuck on "Generating file diff"

## Logs after forcefully exiting the command:

[code]

## `blitz -v`  output:

[code]

[2022-11-20 23:06] andrewhamon opened #3980 "Tests are broken in a freshly generated project"
### What is the problem?

With a newly generated blitz app, tests are failing.

### Paste all your error logs here:

`yarn run jest`

[code]

### Paste all relevant code snippets here:

There is no relevent code snippet

### What are detailed steps to reproduce this?

1. `npx blitz new my-test-app` use default for all choices
2. `cd my-test-app`
3. `yarn jest`

### Run `blitz -v` and paste the out

[2022-11-21 00:31] andrewhamon opened #3981 ".husky/pre-commit in a newly generated app is not executable"
### What is the problem?

In a new project, `.husky/pre-commit` and `.husky/pre-push` are not executable, which prevents the hooks from running.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

No relevant code snippers

### What are detailed steps to reproduce this?

[code]

### Run `blitz -v` and paste the output here:

[code]

### Please include below an

[2022-11-21 15:02] dillonraphael commented on #3981
@andrewhamon We're actually going to remove the husky hook completely from the new generated app template

[2022-11-21 15:09] dillonraphael commented on #3980
@andrewhamon Ah yes, just realized this too. Good news is there is an issue open to start using vitest instead of jest for the generated templates https://github.com/blitz-js/blitz/issues/3835

This should fix these issues.

[2022-11-21 19:30] #3964 closed

[2022-11-22 16:43] bitabs commented on #3979
@dillonraphael Sorry - do we have an ETA on this? It's a blocker for us unfortunately 😞

[2022-11-22 21:04] #3952 closed

[2022-11-22 23:20] datner commented on #3972
`isReady` is deprecated as of next13, are you importing `useRouter` from `'next/navigation'` perchance?
It was removed because it became irrelevant

![image](https://user-images.githubusercontent.com/22598347/203440603-d3997093-81b5-48d5-aa54-e4951f477d2a.png)

[2022-11-22 23:22] datner commented on #3979
@bitabs
as a patch, for now do something like
[code]

it should work

[2022-11-23 09:19] bitabs commented on #3979
That's not a bad shout @datner 😅. Works for the time being 🙏🏻

[2022-11-23 10:39] beerose commented on #3835
Hey @tmcw and @harshsinghatz. I was asked to help with the template migration, so I'm going to cover the new app template part. I assigned myself to this issue.

[2022-11-24 11:31] dbrxnds opened #3988 "resolver.authorize types break when using zod (discriminated)union as resolver input"
### What is the problem?

When using a union or discriminated union as the `resolver.zod` input, the types of `resolver.authorize` error

https://codesandbox.io/s/distracted-farrell-fpyvkg?file=/app/animals/mutations/createAnimal.ts

### Paste all your error logs here:

-

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Create zod input with a

[2022-11-24 11:47] dbrxnds opened #3989 "resolver config httpMethod "GET" appends useless superjson data as query params with empty params"
### What do you want and why?

The option to set the httpMethod for a resolver is nice, but currently it uselessly adds superjson data as the query params for GET requests whenever the params passed are just NULL

### Possible implementation(s)

I think we should check if the passed params are null or undefined, and withhold appending query params whenever that is the case.

### Additional context

[2022-11-24 15:04] dillonraphael commented on #3988
A current workaround is:

[code]

But would love to have this accounted for in the `resolver.authorize()` types.

[2022-11-24 15:05] dillonraphael commented on #3989
Thanks for bringing this to our attention @dbrxnds

[2022-11-25 23:21] #3989 closed

[2022-11-26 21:04] iamgraeme commented on #3900
Still happening, `2.0.0-beta.18` very frustrating as its hindering  me from checking out this framework 😢

[2022-11-26 21:28] manstfuu commented on #3900
same error.

[code]

[2022-11-27 04:32] hongfanmeng commented on #3973
I read the source code and found that setting the userId is not allowed, so in order to use jwt to login without a database session, I need to use another name.

[2022-11-27 04:33] #3973 closed

[2022-11-27 17:51] datner commented on #3979
@blakeley
idk what to tell you, the `delete` reserved word removes the property from the js object.
If you're still getting the same error then either the deletion missed timing or something else is still setting (re-setting?) that property..

either that or your js runtime is broken (which i doubt hahahah)

[2022-11-28 10:51] laurencefass opened #3993 "request for regular blog and release of a roadmap detailing support for Next 13 beta features."
### What do you want and why?
A blog and a roadmap!

Im currently searching for information relating to support for Next 13 beta features.

The more information the better!

### Possible implementation(s)

How might we do this?
add /blog and /roadmap to your website.

### Additional context
none necessary i thinkl

Add any other context or screenshots about the feature request here.

Thank you.

[2022-11-28 14:28] dillonraphael opened #3994 "Unclear error when a resolver doesn't use a default export"
### What is the problem?

A ReferenceError pops up, saying `__internal_rpcHandler is not defined` whenever a query or mutation resolver doesn't export a default function.

For example, in a freshly generated Blitz project if you modify the `getCurrentUser` query from:

[code]

To:

[code]

You will get the error.

We should make this a first class error so users know exactly what is wrong.

### Pa

[2022-11-28 14:39] dillonraphael commented on #3980
A PR has been open https://github.com/blitz-js/blitz/pull/3985

Just waiting for the documentation to be updated before we merge and release

[2022-11-28 15:46] dillonraphael commented on #3993
We do have a roadmap in the projects section of Github. Regarding next 13 beta features. We're still doing some internal investigation on how it's going to work, but will definitely document more and include the community through discussions, issues, discord & our twitter.

[2022-11-28 15:48] #3993 closed, assigned to nobody

[2022-11-28 19:24] #3835 closed

[2022-11-29 00:41] logancollingwood commented on #3980
Thanks for the update on this!

Just curious if there's any recommended approach to fix up a project that was created when these were broken besides cherry-picking in the appropriate fixes for my app. Thanks in advance!

[2022-11-30 22:52] bitabs commented on #3979
If your running it via Vercel, be sure to invalidate your cache deployment. @blakeley