[2021-07-31 13:02] zwl1619 commented on #2506
Could raise the priority of this issue?

[2021-07-31 17:18] Roesh commented on #2614
I've used retool as well, its really good for admin panel type tools. I've only done queries directly on the db though, but adding an API key to a route would be good too.

I'm wondering if we can modify resolver.authorize to take an argument that finds a hashed token, and compares the has of the token in the request to allow access to the mutation / query

As for how to provide the token, would i

[2021-08-01 05:59] MrLeebo commented on #2614
@hmbrg You can create an access token using the Token table that is generated by the new blitz app template, give it a type of `"ACCESS_TOKEN"` and create middleware authenticate it. I don't think it would take much code to set up a basic implementation.

You could add middleware to the global middleware list:

[code]

Alternatively, you could add the middleware to the individual queries and mutat

[2021-08-01 12:15] andresgutgon commented on #2399
This looks super nice, would like to know how hard would be this

[2021-08-01 18:46] codytooker opened #2620 "Allow configuring React Query default options"
### What do you want and why?
The ability to set React Query `QueryClient` default options. Blitz provides some defaults adding to React Queries already aggressive fetching defaults.  Being able to configure the rest of default options from React Query would be a great addition

### Possible implementation(s)
Adding a new key to BlitzConfig named queryClient that accepts `DefaultOptions` from Reac

[2021-08-02 00:31] chikamichi opened #2621 "Update the official tutorial with initial db migration"
### What do you want and why?

Hi. Following along the [official tutorial](https://blitzjs.com/docs/tutorial#sign-up-as-a-user), I stumbled upon an "error" where the User table would be missing, preventing from signing up.

I figured it out easily: one must run `blitz prisma migrate dev`.

### Possible implementation(s)

Before the _Sign up as a user_ section, add another section "explaining" the

[2021-08-02 10:13] ivanjeremic opened #2622 "Optimize file structure of Bliz.js"
Hi, I'm new to Blitz but one thing that I saw where I think this can be done cleaner is how the generated files are structured.

When I run in my Blitz app `blitz generate all projects` I get a file structure like this.

📦app
 ┣ 📂api
 ┃ ┗ 📜.keep
 ┣ 📂auth
 ┃ ┣ 📂components
 ┃ ┃ ┣ 📜LoginForm.tsx
 ┃ ┃ ┗ 📜SignupForm.tsx
 ┃ ┣ 📂mutations
 ┃ ┃ ┣ 📜changePassword.ts
 ┃ ┃ ┣ 📜forgotPassword.test.ts
 ┃ ┃ ┣ 📜fo

[2021-08-02 10:57] chikamichi commented on #2621
Moved to https://github.com/blitz-js/blitzjs.com/issues/532 :pray:

[2021-08-02 10:57] #2621 closed

[2021-08-02 14:38] Slein2012 opened #2623 "LabeledTextField type number does not apply values by arrow buttons in Firefox"
### What is the problem?

When using an LabeledTextField type="number" in Firefox the value of that field can be changed by the arrow buttons on the right side of the input field, but when the form gets submitted they do not submit any values. If one change the text field's value by hand and not by the arrow buttons the value gets submitted correctly.
In Chrome both, the selection by the arrow but

[2021-08-02 14:44] MrLeebo commented on #2622
I don't think this proposal is an improvement. To begin, there is a mistake in the proposed folder structure,

[code]

You need to have the resource folder after `/pages` because the folders before it won't be part of the URL route. All of your resource pages would conflict with each other. This creates a redundancy, because `projects` appears in the path twice. That is why the pages are organized

[2021-08-03 08:56] akbo commented on #2518
Hi there,

It appears that this error is present in `blitz@0.38.6`. Strangely, the error doesn't show up in Console, but still fails my Cypress test (see screenshot), which as far as I understand means that I cannot test anything involving `BlitzPage.redirectAuthenticatedTo`.

<img width="1787" alt="Screenshot 2021-08-03 at 10 20 25" src="https://user-images.githubusercontent.com/1926271/127986142

[2021-08-03 09:45] jan-wilhelm opened #2624 "CSRFTokenMismatchError when importing Prisma client in blitz.config.ts"
### What is the problem?

When importing the `@prisma/client` package in `blitz.config.ts` (or when importing any file in `blitz.config.ts` that itself recursively references an import to `@prisma/client` anywhere in its dependency tree), any incoming request to Blitz fails with a `CSRFTokenMismatchError` in production mode.

For example, simply cloning and running the "auth" example from the curr

[2021-08-03 14:52] ivanjeremic commented on #2622
It is less about if the folder is called 'data' or not even if there is no folder at all still fine, the main point is to have the pages inside the same folder where also the queries and mutations are generated.

[2021-08-04 15:14] Extra-Extra-Dev commented on #2492
I'm working with this configuration and after a day or two playing around -- I don't think it's the magic bullet.  I just completed an A/B test with a small prisma.schema and a larger (~100 classes(?)) schema... and that's when responsiveness goes way out the window. ... and specifically .. you can notice the rebuilding/scanning effect on the CPU after you click around on your page after about 10

[2021-08-04 15:29] flybayer commented on #2569
@jaydev sorry for the delay here. You're welcome to make a PR for it if you want!

[2021-08-04 15:33] flybayer commented on #2613
Ah, looks like a bug! Thanks for the report.

For whoever wants to look into this, here's the broken line of code: https://github.com/blitz-js/blitz/blob/canary/packages/blitz/scripts/postinstall.js#L84

I think probably we need to also check that `root` is not null in that if statement. If null, skip that if.

[2021-08-04 15:51] flybayer commented on #2578
@Roesh so sorry for the delay here but yes that's correct. And perf isn't an issue here since it's a quick one time thing vs being inside a for loop.

Thanks for the PR, I'll review soon!

[2021-08-04 16:01] flybayer commented on #2518
@akbo can you please open a new issue for that?

[2021-08-04 16:19] flybayer commented on #2506
@zwl1619 unfortunately I don't have the bandwidth to work on this before 1.0. But I'm more than happy to help guide anyone who has the time and motivation to take it on.

[2021-08-04 19:22] flybayer commented on #2614
@MrLeebo good idea! `accessTokenMiddleware` needs to go after `sessionMiddleware` though if you want to access `ctx.session`.

Here's another workaround:

[code]

---

I think this is a common enough use case that the ideal solution is add a feature to our `sessionMiddleware` that supports a token.

Maybe like this

[code]

[2021-08-04 19:34] flybayer commented on #2620
Thanks! We should definitely add this and add ability to override our default options.

This needs to wait until https://github.com/blitz-js/blitz/pull/2516 is merged.

I think adding the config in blitz.config makes sense, but we'll just have to figure out how to get that code into both server and client environments for runtime.

[2021-08-04 19:37] flybayer commented on #2623
Interesting! Sounds like a bug with the form library maybe.

Which form library are you using?

[2021-08-04 19:40] Slein2012 commented on #2623
I'm currently using React-Hook-Form v.7.9.0

[2021-08-04 19:40] flybayer commented on #2624
Hmm that's weird! Are you using auth example on `main` or `canary` branch? Because `main` branch is mega old and not currently used.

The first step for anyone who wants to look into this is add a new `prisma` integration test in https://github.com/blitz-js/blitz/tree/canary/test/integration (can copy the auth integration test and modify). Then make a test to reproduce this issue.

[2021-08-04 19:42] #2622 closed

[2021-08-04 19:48] flybayer commented on #2623
Ok then very likely it's a bug there. Blitz doesn't do anything with forms itself. I recommend making a minimal reproduction with RHF and opening an issue in their repo.

[2021-08-04 19:51] flybayer commented on #2492
So sounds like maybe Prisma is the culprit here?

[2021-08-05 06:54] akbo opened #2633 "RedirectError breaks Cypress tests via uncaught exception"
### What is the problem?

The Cypress tests of my app's signup and login flows fail, although the app works as expected. This can be reproduced with a new blitz app with `blitz@0.38.6` and `blitz@v0.39.0-canary.0`.

From the error message, it looks like blitz's RedirectError isn't caught, leading to Cypress failing the test due to an uncaught exception. As far as I understand, RedirectError is tri

[2021-08-05 06:56] akbo commented on #2518
Sure, you can find the new issue here: #2633

[2021-08-05 07:12] andresgutgon commented on #2399
Just to confirm. This authentication/authorisation on the Page works at client site right? I mean. This is not run in the server. So we get the roles with `useSession`?

The magic is that with Babel you add a HOC on nextjs pages that understand this `Page.authenticate`?

[2021-08-05 09:09] Extra-Extra-Dev commented on #2492
Well absolutely. --- or a missed item in testing the TS+Zod version issue ticket.

Larger description in our new thread: https://discord.com/channels/802917734999523368/872521899752710225/872767263151915018

**snip**

[2021-08-05 13:44] meehawk commented on #2613
@flybayer I'd love to take this up if thats okay?

[2021-08-05 14:45] jan-wilhelm commented on #2624
yes, sorry I meant the canary branch, not main.

[2021-08-05 14:47] flybayer commented on #2608
To fix, we need to change this line: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/install.ts#L142

I think this should be all that's needed. Need to test and see.

[code]

[2021-08-05 14:54] flybayer commented on #2399
@andresgutgon that's correct, except that inside useAuthorize we don't use the publicData store directly instead of through useSession.

[2021-08-05 14:58] flybayer commented on #2613
You bet!

[2021-08-05 21:02] Slein2012 opened #2635 "Home.authenticate = true throws React styling error"
### What is the problem?

If ```Home.authenticate = true``` is set on a page, then there is always an error in the browser console such as ```Warning: Expected server HTML to contain a matching <h1> in <div>.``` and the styling of the login page is no longer correct. On the normal page localhost:3000/login, however, everything works perfectly.
I suspect it's a problem with React hydrating the page

[2021-08-06 03:13] CarterMcAlister opened #2636 "`redirectAuthenticatedTo` does not call queries when redirecting from a dynamic route"
### What is the problem?

When redirecting from a dynamic route, the queries are not called on the page you are redirected to.
`redirectAuthenticatedTo` works fine if the page is not a dynamic route.

I've tried redirecting to a non-dynamic route first as a workaround, and this did not work.

I believe this [this issue](https://github.com/blitz-js/blitz/issues/2527) may be related

### Paste all r

[2021-08-06 03:28] CarterMcAlister commented on #2636
Note: the `useRedirectAuthenticated` hook **does** work properly on dynamic routes

[2021-08-06 07:49] meehawk commented on #2608
Hi @flybayer can I take this up?

[2021-08-06 07:51] abuuzayr commented on #2608
absolutely @meehawk !

[2021-08-06 20:11] karimsx opened #2639 "Error upgrading from 0.37 to 0.38.6"
### What is the problem?

Upgrading from 0.37 to 0.38, maybe a webpack error

### Paste all your error logs here:

[code]

### What are detailed steps to reproduce this?

Upgrading from 0.37 to 0.38, maybe a webpack error

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that show your problem:

_No response_

[2021-08-09 21:10] flybayer commented on #2633
Thanks @akbo!

[2021-08-09 21:17] flybayer commented on #2635
Hey @Slein2012. The console warning is expected (see https://github.com/blitz-js/blitz/issues/2595). But if we are having styling issues, then that is a problem.

Can you provide exact steps to reproduce the styling issue? Maybe a codesandbox?

[2021-08-09 21:18] flybayer commented on #2636
Ok, thanks @CarterMcAlister!

[2021-08-09 21:20] #2613 closed

[2021-08-09 21:23] flybayer commented on #2639
@karimsx hmm that's odd. Try this.

1. Set `isolatedModules` to `true` in tsconfig.json
2. Delete `.next` and `.blitz` folders
3. Try again

[2021-08-10 14:01] #2608 closed

[2021-08-10 17:12] meehawk commented on #2588
@flybayer 3 is my lucky number. Can I take this up?

[2021-08-11 15:20] flybayer commented on #2588
Yep!

[2021-08-11 15:22] #2601 closed

[2021-08-12 02:34] christianto88 opened #2651 "Logging out for Passport-auth0"
I am implementing third party authentication using passport-auth0. Based on the example on the documentation, we just expose an api endpoint for login. What about the logout? Is there any function/api endpoint exposed?
The default logout Mutation that comes with blitz JS is just revoking the session.

[2021-08-12 06:30] tomhallam commented on #289
https://github.com/blitz-js/blitz/pull/2475 was merged and was ostensibly attempting to improve this but I'm still seeing issues with the size.

I cannot understand why the resulting image is so huge. @flybayer and crew any ideas? Making my deploys pretty huge right now.

[2021-08-12 19:13] midgethoen commented on #2582
Im running into `useParam(s)`, `useRouter().params` all returning `undefined` on first render.
It seems to re-render after that and return the correct param, so its only noticable in the console.

is this the same issue?
relevant code:

`.app/pages/[handle]/settings/teams/index.tsx`
[code]

[2021-08-13 06:22] Skn0tt commented on #289
Nope, no immediate ideas. `node_modules` will just be *very* big in a lot of cases, I don't know if there's a way around that. If this can't be fixed by some magic Dockerfile, and you still need tiny images, you may want to use something like webpack to inline & treeshake your dependencies into the bundle. I imagine that will be very finicky, though.

[2021-08-13 15:29] flybayer commented on #289
@tomhallam can you open a new issue specifically for the size issue?

Haven't had a chance to dig into it. I'll try to dig in as soon as I can, but would definitely appreciate anyone's help.

[2021-08-13 16:10] #2575 closed

[2021-08-13 16:11] flybayer commented on #2582
@midgethoen that is a separate issue and is caused by a fundamental law of react that first render must match static HTML. You can use `Page.suppressFirstRenderFlicker=true` to hide the first render. See https://blitzjs.com/docs/pages#first-render-ux

[2021-08-14 18:47] meehawk commented on #2588
@flybayer I am slightly confused as to what needs to be done here since this is a use case I have not encountered before. Can you help me figure out what needs to be done? I'm not used to monorepos and find myself kind of lost

[2021-08-16 14:55] flybayer opened #2654 "Make it easier to mock `ctx` for tests and `blitz console`"
### What do you want and why?

Currently you have to manually craft a `ctx` mock for using in tests or running queries/mutations inside `blitz console`.

We need to make this better.

Current workaround: https://github.com/blitz-js/blitz/discussions/2653

### Possible implementation(s)

Maybe add a new `createMockCtx()` utility to Blitz?

[2021-08-16 14:58] flybayer commented on #2651
@christianto88 I know we had some discussion on this in Discord. What solution did you end up with?

[2021-08-16 15:04] flybayer commented on #2588
@meehawk sure thing.

1. Add this new test case to https://github.com/blitz-js/blitz/blob/canary/packages/core/src/utils/index.test.ts
[code]
2. `cd` into `packages/core` and then run `yarn test` and you will see that new test fail.
3. Change code in https://github.com/blitz-js/blitz/blob/0243df5b6a03798fa6481fd9fe3b5f49c0456601/packages/core/src/utils/index.ts#L21 to make all the tests pass

[2021-08-16 16:57] akbo commented on #2633
I am starting to look into this and here is what I found up to this point:

- The problem also fails a cypress test in the 'auth' example app (can be found under `examples/auth` in this repo)
- A workaround for this problem is to explicitly tell Cypress to ignore uncaught exceptions due to `RedirectError` by adding this to `cypress/support/index.ts` in your project:

[code]

[2021-08-16 18:14] akbo commented on #2633
Ok, after some more research, I gather this: the problem is caused by the way React's error boundary behaves in development. For more info, check out this comment and the corresponding issue on the Cypress repo: https://github.com/cypress-io/cypress/issues/7196#issuecomment-680126693

I am out of my depth here, but from what I have read in https://github.com/cypress-io/cypress/issues/7196#issuecom

[2021-08-16 22:32] flybayer commented on #1729
This code was removed awhile back

[2021-08-16 22:32] #1729 closed

[2021-08-16 22:33] flybayer commented on #1497
Fixed in #2516

[2021-08-16 22:33] #1497 closed

[2021-08-17 03:17] christianto88 commented on #2651
@flybayer I end up making GET request to Auth0 logout endpoint, providing client ID and redirectUrl as query params. That should work

[2021-08-17 07:09] meehawk commented on #2588
@flyber I've noticed the function recursiveFormatZodErrors and its implementation. The way `zod` works, if we do:

[code]

The `error.format` returns:

`{ _errors: [], nested: { _errors: [ 'Required' ] } }`

I am not sure how do we catch the nested errrors in this case since they are not displayed by path. If however we did

[code]

In this case, it shows error on the `test` field

[2021-08-17 09:32] akbo commented on #2633
I implemented the second option from the above comment in my fork: https://github.com/akbo/blitz/commit/ea816ca3c87bebdc776218c8651b5803334835bb

Will create a pull request next.

[2021-08-17 11:02] frankiesardo commented on #2399
I think this is fixed by this now? https://blitzjs.com/docs/authorization#redirecting-logged-in-users

[2021-08-17 14:32] flybayer commented on #2651
@christianto88 can you share your code snippet?

[2021-08-18 01:59] christianto88 commented on #2651
[code]

[2021-08-18 16:34] sam3d opened #2657 "React query erroneously caches initial data during SSR"
### What is the problem?

Potentially related to https://github.com/tannerlinsley/react-query/issues/70, React Query seems to be caching the value of `initialData` when server rendering

### What are detailed steps to reproduce this?

https://github.com/sam3d/blitz-query-repro

1. On the above reproduction repo, install the dependencies and run `yarn dev`
2. Load the page in any web browser
3. Ref

[2021-08-18 16:48] nickluger opened #2658 "Cannot import .gitignored files"
### What is the problem?

I'm trying to import a JSON-file which is in our `.gitignore` using something like `await import("i18n/en.json")` in `getStaticProps`.  (Or just `import` on the top, which doesn't work neither).

Context: We use this to import and provide an auto-generated locale file to be used by [Rosetta](https://github.com/lukeed/rosetta) for i18n. This file is auto generated on build

[2021-08-18 21:39] #2633 closed

[2021-08-19 06:05] nickluger commented on #2469
I think this breaks international SEO, as it might work after the client is loaded, but the a-tags contain the wrong `href`.

Did you find a workaround for this?

[2021-08-19 09:56] medihack commented on #2469
I found no workaround. Full i18n support seems to be broken. I am just hoping that it gets resolved in a foreseeable future (also seems to be a must for a v1.0 release) and my app also has enough other construction zones.

[2021-08-19 20:51] #2651 closed

[2021-08-19 20:55] flybayer commented on #2588
@meehawk hmm good question. I think probably we can manually extract the information from the error object instead of using `.format`. Can you investigate that? Perhaps look at the source of `.format` (in zod repo)

[2021-08-19 20:56] flybayer commented on #2657
Thanks @sam3d. Open for someone to work on!

(@Skn0tt maybe you can take this one up if you have time.)

[2021-08-19 21:05] flybayer commented on #2658
This will be fixed by a change coming soon (related to nextjs fork migration)

[2021-08-20 07:48] meehawk commented on #2588
@flybayer Sure, I'll try to take a look at the zod internal implementation. I did take a look at the `error` object itself but it doesn't seem to expose the nested error path

[2021-08-20 10:46] nickluger opened #2661 "Changing getStaticProps/getServerSideProps does not trigger fast refresh"
### What is the problem?

Changing `getStaticProps` or `getServerSideProps` should trigger a fast refresh or at least a reload of the page automatically, and the function should re-run. Currently, you have to manually reload the browser page, to make `getStaticProps` re-run.

Could be an upstream issue, not sure about that: https://github.com/vercel/next.js/issues/19230

### Paste all your error l

[2021-08-20 13:59] flybayer commented on #2588
Maybe @colinhacks can help us? (Colin, we're trying to extract nested errors, so that `.parse({})` returns `{name: {nested: "Required"}}` instead of `{name: "Required"}`

[2021-08-20 15:22] flybayer commented on #2520
Should be fixed on `blitz@canary` because of nextjs 11.1 upgrade: https://github.com/blitz-js/blitz/pull/2656

[2021-08-20 15:22] #2520 closed

[2021-08-20 21:20] Talor-A commented on #2661
same issue for making changes to the page layout.

[2021-08-20 21:36] Talor-A commented on #2454
is this check already in place? https://github.com/blitz-js/blitz/blob/1ed6dd1d39d7f9f70aeda9480b204ce24a47a548/nextjs/packages/next/data-client/react-query-utils.ts#L82

[2021-08-23 04:35] frantic opened #2665 "passportAuth: API resolved without sending a response for …, this may result in stalled requests."
### What is the problem?

Following the guide here https://blitzjs.com/docs/passportjs I see NextJS warnings about "API resolved without sending a response" in the console.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Follow the guide here https://blitzjs.com/docs/passportjs
2. Visit http://loca

[2021-08-23 10:20] AbhinavMir opened #2667 "Blitz Dev server crashes for unknown reasons upon trying to load webpage"
### What is the problem?

I had a BlitzJS project running with Prisma, Postgres and Tailwind that seems to crash upon certain changes I can't quite put a finger on. This happened in an earlier project with some changes to the schema.prisma, but here nothing much had changed for this error to occur.

### Paste all your error logs here:

No error, the server just crashes. I'm confident there are no

[2021-08-23 14:56] flybayer commented on #2667
@AbhinavMir I understand you said there was no error logged, but could you still paste the logs from your terminal when this happens? With something like this, we need as much info as possible.

1. What changes did you make before this started happening?
2. When it crashes, how do you recover?
3. Does it still crash with an earlier version of your codebase?

Lastly, you can try testing the latest

[2021-08-23 16:20] flybayer commented on #2661
Thanks @nickluger, most likely this is an upstream issue.

@Talor-A sounds like a separate issue, so open a new issue for that if you want.

[2021-08-23 16:22] flybayer commented on #2454
@Talor-A no, that function just doesn't display an error in test environment.

The [use query hooks](https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/data-client/react-query.tsx) still need modified to enable this.

[2021-08-23 16:26] flybayer commented on #2665
Thanks @frantic! Not sure why that's happening, but this is ready for someone to investigate.

[2021-08-23 16:28] #2657 closed

[2021-08-23 17:15] nickluger commented on #2469
Absolutely @medihack, for us, i18n is a must, too, as we need to release content in English + German. I think for a good deal of e-commerce etc. this is equally urgent.
We're not in production yet with our new release, so we can tolerate it until we are. If I were (in or close to) production though, I'd immediately switch back to pure Next + API, as SEO is unforgiving.

I assume these Next+Blitz i

[2021-08-23 18:49] flybayer commented on #2469
@medihack @nickluger does it work fine if you use `import Link from 'next/link'` in your Blitz app?

[2021-08-23 22:42] medihack commented on #2469
@flybayer Ah yes, this seems to fix it.

[2021-08-23 22:52] flybayer commented on #1244
should already be fixed for some time now

[2021-08-23 22:52] #1244 closed

[2021-08-23 23:01] flybayer commented on #2469
Ok that's so weird, because all we are doing is re-exporting that.

[2021-08-23 23:12] medihack commented on #2469
That's strange, but it seems the locale codes are added to the URLs correctly with the next/link component. At least there is a workaround now ;-)

[2021-08-23 23:34] biernaweb commented on #745
Hello! You can see deployd.com this framework that I have been used is fantastic! I developed a full stack based on riot.js, deployd, semantic ui and others... My stack is very simular with blitz.js! I'm studying blitz.js and I'm in love with it :)

[2021-08-24 06:36] meehawk commented on #2588
@flybayer I tried looking at Zods internal implementation. Feel kinda lost but I feel we should get to something until @colinhacks replies

[2021-08-24 07:45] nickluger commented on #2469
Can confirm. Works perfectly, both JS-navigation done by `Link` but also the path passed to the underlying `<a>`-tag.

[2021-08-24 08:17] MrLeebo commented on #2654
This is something I'm toying with as a solution, but I'm not 100% on it yet. Example usage:

[code]

Implementation is below. Still have some testing to do on it.

- I wanted to avoid defining req/res/session objects that just had `jest.fn()` calls on all the properties, since that doesn't create a great dev experience when you try to interact with it. The alternative is to bring in a new dependen

[2021-08-24 15:29] fleck commented on #2492
https://www.youtube.com/watch?v=wpgKd-rwnMw&t=1842s (may not be the issue, but I wonder if we're hitting a lot of turtles due to heavy use of recursive types)

[2021-08-24 18:22] Extra-Extra-Dev commented on #2492
Well I've certainly been reading about the changes (regarding recursion specifically) in the different releases -- so that's been a on my radar. Maybe there is a bomb in my schema that I've not seen/haven't found yet.  (would be odd at this point, though, so maybe depth?)

Gonna take me some time but I'll tear that down until i find something ,,,, or not.

[2021-08-24 19:15] fleck commented on #2492
@Extra-Extra-Dev Since I've started using blitz vscode intellisense has always been slow, no matter what version of TS I'm using. How many lines is your generated node_modules/.prisma/client/index.d.ts file? Mine comes in at a hefty 33505 lines....

[2021-08-24 21:57] flybayer commented on #98
Closed in https://github.com/blitz-js/blitz/pull/2516

[2021-08-24 21:57] #98 closed

[2021-08-24 21:59] flybayer commented on #417
Nothing actionable on this for us

[2021-08-24 21:59] #417 closed

[2021-08-24 22:00] #466 closed

[2021-08-24 22:00] #467 closed

[2021-08-24 22:01] flybayer commented on #468
Closing in favor of https://github.com/blitz-js/blitz/issues/469

[2021-08-24 22:01] #468 closed

[2021-08-24 22:02] flybayer commented on #757
Sufficient tests for now

[2021-08-24 22:02] #757 closed

[2021-08-24 22:04] flybayer commented on #1410
Should be working fine now

[2021-08-24 22:04] #1410 closed

[2021-08-24 22:05] #1682 closed

[2021-08-24 22:06] flybayer commented on #2064
Fixed via documentation

[2021-08-24 22:06] #2064 closed

[2021-08-24 22:06] #2074 closed

[2021-08-24 22:09] flybayer commented on #2230
We haven't had any other requests for this, so going to close. Can revist if we get more demand.

[2021-08-24 22:09] #2230 closed

[2021-08-24 22:10] #2237 closed

[2021-08-24 22:14] flybayer commented on #2499
closing for staleness

[2021-08-24 22:14] #2499 closed

[2021-08-24 22:14] #2505 closed

[2021-08-24 22:16] flybayer commented on #2639
Closing for staleness — we can reopen if you are still having issues

[2021-08-24 22:16] #2639 closed

[2021-08-24 22:52] #1372 closed

[2021-08-24 22:52] #1465 closed

[2021-08-24 22:52] #1495 closed

[2021-08-24 22:52] #1829 closed

[2021-08-24 22:52] #1983 closed

[2021-08-24 22:52] #2248 closed

[2021-08-24 22:52] #2306 closed

[2021-08-24 22:52] #2333 closed

[2021-08-24 22:52] #2348 closed

[2021-08-24 23:02] #2469 closed

[2021-08-24 23:02] #2610 closed

[2021-08-24 23:54] flybayer commented on #2492
@fleck how does TS perf in blitz compare to a nextjs or other node app with equivalent prisma schema?

[2021-08-25 15:54] #2578 closed

[2021-08-25 16:34] colinhacks commented on #2588
There's no way to do this with the schema as written. Once Zod sees that there's no value associated with `<input>.nested` it doesn't try to validate deeper.

You can handle this with `preprocess` (new in zod@3.8 feature). Basically if `nested` is missing, Zod swaps in an empty object before parsing occurs. This is required at every level of nesting.

[code]

[2021-08-26 13:51] frankiesardo opened #2671 "usePaginatedQuery loses type information if you destructure queryExtras"
### What is the problem?

When you use `usePaginatedQuery` the types are usually inferred correctly.

[code]

But binding the `queryExtras` variable makes products lose its type info

[code]

What's funny is that if you don't destructure `products` and leave it as data, everything works again

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this

[2021-08-26 22:23] flybayer opened #2674 "Fix `blitz install` to work with pnpm"
### What do you want and why?

Currently `blitz install` only knows about yarn or npm. So when you run `blitz install tailwind` in a pnpm repo, the code doesn't see yarn, so installs all the deps with npm.

This code here needs fixed: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/install.ts#L245-L249

P.s. general pnpm support is just now working with https://github.com/b

[2021-08-27 23:00] Extra-Extra-Dev commented on #2492
I'm too embarrassed to say.:|   124792

Call me "the canary in the coal mine". It seems I just love being the probe in to problems ahahahha.

Actually @flybayer  ..  This is very much how I've been/was "prodding" Blitz.  I had been testing capabilities and way-of-working against a large schema (real world). Lots of files (early ion) by running all the CRUD generation against that schema, then test

[2021-08-28 18:26] flybayer commented on #2667
@AbhinavMir any update on this?

[2021-08-28 18:28] AbhinavMir commented on #2667
@flybayer absolutely missed this. We can temporarily close this for now, I remade the project without error. If I get it again, we can open it maybe. Unable to reproduce.

[2021-08-28 18:28] #2667 closed

[2021-08-29 14:06] AlexandrePhilibert opened #2680 "Cannot wrap App in HOC"
### What is the problem?

I am not able to wrap the `App` component with the `appWithTranslation` HOC provided by : https://github.com/isaachinman/next-i18next

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

_app.tsx should look like this :

[code]

### What are detailed steps to reproduce this?

1. Add next-i18next to a blitz app following : https://githu

[2021-08-29 14:18] AlexandrePhilibert commented on #2680
Here is a repo reproducing the issue : https://github.com/AlexandrePhilibert/blitzjs-nexti18-next

[2021-08-30 09:44] DLevai94 commented on #289
@tomhallam
[code]

is not working anymore as of the latest canary build.

[2021-08-30 12:56] regardt-nel opened #2682 "`blitz generate` broken on canary"
### What is the problem?

Installed Blitz.js with recommended npm command but when I run `blitz -v` it shows that nothing is installed.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

Install Blitz with `npm install -g blitz` running Node 12.13

### Run `blitz -v` and paste the output here:

[code]

#

[2021-08-30 14:47] sam3d commented on #2682
Do you only have Blitz installed globally? Not locally (i.e. `npm install blitz --save` instead of `npm install blitz --global`)

[2021-08-30 15:36] nsantos16 commented on #2403
I can take this issue :)

[2021-08-30 16:13] vincentrolfs commented on #2654
This was extremely helpful! I made a couple of changes to your script in order to make sure that the simulation is as close to the real thing as possible. Also, `httpMocks.createMocks<Req, Res<C>>` did not typecheck for me, so I had to use `any`.

The most important change I did was to import `blitz.config.js` instead of calling `sessionMiddleware`. This ensures that the correct function for `isAu

[2021-08-30 17:39] regardt-nel commented on #2682
Hi @sam3d I only installed it globally as per the documentation.  When I proceed to create a new Blitz project I get an error when I run the first migrate command - `blitzjs/server not found`.  This lead me to check `blitz -v` to see if everything installed properly.

[2021-08-30 19:10] noxify opened #2683 "Hide meta property when calling a query via Postman/External Tool"
### What do you want and why?

**What:**
When using the auto-generated api endpoints to call them via an external tool ( e.g. postman or a 3rd-party application ),
the response includes always a `meta` property.

The content is something like this:
( i have two date fields in the enviroments table )

[code]
It would be good if there is a way to hide it - or if not needed, we could remove it.

**Wh

[2021-08-30 21:26] ananni13 commented on #2118
`blitz generate` also ignores `--dry-run`

[2021-08-30 21:42] flybayer commented on #2658
Fixed in https://github.com/blitz-js/blitz/issues/2658

[2021-08-30 21:42] #2658 closed

[2021-08-30 22:53] flybayer commented on #2671
Ah yeah, duplicate of #2609, so will close in favor of that. But thanks @frankiesardo!

[2021-08-30 22:53] #2671 closed

[2021-08-30 22:56] flybayer commented on #2588
Hmm ok. Looks like there's nothing we can do here, so closing.

# Workaround

Explicitly provide nested objects to form initialValues:

[code]

[2021-08-30 22:56] #2588 closed

[2021-08-30 23:01] flybayer commented on #2680
ok, thanks @AlexandrePhilibert!

[2021-08-30 23:02] flybayer commented on #289
With latest canary, copy `.next`. `.blitz` is no longer used

[2021-08-30 23:02] flybayer commented on #2403
@nsantos16 yes! There's quite a few recipes, so instead of assigning this to you for all of them, just open PRs for as many/few as you want :)

[2021-08-30 23:04] flybayer commented on #2683
Thanks @noxify!

My proposal is to accept a new header. If the header is present, we skip the superjson step.

[code]

Thoughts?

[2021-08-30 23:05] CalebDelbridge opened #2685 "ctx.session is undefined when deployed on vercel"
### What is the problem?

On blitz version `0.40.0-canary.7` ctx.session is undefined when hosted on vercel, I haven't tested an earlier version

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Create a blitz app with auth on version 0.40.0-canary.7
2. Deploy to vercel

### Run `blitz -v` and paste

[2021-08-30 23:08] flybayer commented on #2682
@regardt-nel the "not found" from `blitz -v` is expected, those only show when running that command inside an app.

Did you try removing blitz and installing again? (could be a fluke)

The other thing you can try is `npm i -g blitz@canary`. Perhaps the issue is already fixed.

[2021-08-30 23:15] #2538 closed

[2021-08-30 23:36] ajwgeek opened #2686 "getCurrentUser query receiving undefined ctx.session on Cloud Run"
### What is the problem?

My `getCurrentUser` query began receiving an `undefined` `session` in the 2nd parameter after upgrading to Blitz 0.40.0-canary.7. The [starter app and docs](https://blitzjs.com/docs/session-management#customize-session-public-data-in-typescript) seem to indicate that `session` shouldn't be `undefined`.

I cannot reproduce this on my local machine with `blitz dev` or `blit

[2021-08-30 23:41] flybayer commented on #2686
Sweet, thanks! I'll look into it

[2021-08-31 08:48] regardt-nel commented on #2682
HI @flybayer thanks for the suggestion.  Installation ran perfectly.  The app started up perfectly with `blitz dev`.

When I ran `blitz generate all project name:string` I got the following output ->

![image](https://user-images.githubusercontent.com/50947477/131471501-3c580778-b992-43ed-aaff-b5b5c55d0b27.png)

[2021-08-31 12:29] frankiesardo commented on #2588
@flybayer if initialValues is the suggested workaround, how do we expect people to strongly type their Form schemas. Example

[code]

The error is `Property 'test' is missing in type '{}' but required in type '{ test: string; }'`

Do we suppress this typescript error?

[2021-08-31 12:44] frankiesardo commented on #2588
I think even if you set `initialValues={{ nested: { test: "" } }}` you have a runtime error when you add something to the input field (say "foo") and then you delete the string in the input. FinalForm deletes the entry for `{test: "foo"}` in its form state and the error is

Step to reproduce:
- Go to https://codesandbox.io/s/thirsty-driscoll-lepmv?file=/app/pages/index.tsx
- Add "foo" in the Email

[2021-08-31 15:14] flybayer commented on #2682
@regardt-nel can you (1) paste the output of `blitz -v` and (2) paste the contents of `node_modules/next/package.json`?

[2021-08-31 15:40] flybayer commented on #2588
@frankiesardo you have the type issue regardless of the error display, right? Error display doesn't affect the types. It's perfectly acceptable to do `initialValues={{ nested: {} } as any}` in this case.

The `` error occurs in that sandbox because it is not using `validateZodSchema` inside Form (need to upgrade blitz and zod versions). You can see it working here: https://codesandbox.io/s/stupefi

[2021-08-31 16:21] MrLeebo commented on #2654
@vincentrolfs Looks nice. What typescript error did you see? I didn't get any type errors when I tried it.

If this is going to be a core utility, I think it has to avoid importing User from `db` since there's no guarantee that client applications will have that model and I don't think a core utility would be able to import the app's db client anyway. I suppose we could make it a recipe instead?

[2021-08-31 17:03] frankiesardo commented on #2588
Thanks @flybayer will do 👌

[2021-08-31 17:34] MrLeebo commented on #2683
@noxify the meta attribute is generated to serialize values to the same type client-side as they had server-side. So when your query returns a Date value, you get a Date in your react component instead of a string.

@flybayer if there's going to be header override like that, I think the RPC handler should check to see if the header has been added (for instance, via global middleware) and remove it

[2021-09-01 08:07] depfu[bot] opened #2688 "Depfu Error: Depfu is stuck and needs your help"
Hello,

⚠️ **We're getting errors with this repo and have given up after trying several times.**

In most cases that means something is wrong with your current Yarn setup and we can't fix it automatically:

##### • Error details:
[code]
##### • Error details:
[code]
##### • Error details:
[code]

After you've fixed the problem, please activate this project again in the [Depfu Dashboard](https://de

[2021-09-01 08:10] markhughes commented on #446
Error has changed a little bit now:

[code]

[2021-09-01 08:13] markhughes commented on #2118
@souravmondal93 how did you go with this one? :)

[2021-09-01 08:16] regardt-nel commented on #2682
Package.json ->

`PS C:\Projects\TodoToday> cat .\package.json
{
  "name": "TodoToday",
  "version": "1.0.0",
  "scripts": {
    "dev": "blitz dev",
    "build": "blitz build",
    "start": "blitz start",
    "studio": "blitz prisma studio",
    "lint": "eslint --ignore-path .gitignore --ext .js,.ts,.tsx .",
    "test": "jest",
    "test:watch": "jest --watch",
    "prepare": "husky install"
  },

[2021-09-01 15:51] flybayer commented on #2682
Thanks @regardt-nel, but I need the contents of `node_modules/next/package.json`, not your app package.json

[2021-09-02 06:42] regardt-nel commented on #2682
Sorry @flybayer ! Here you go ->

[code]

[2021-09-02 06:42] regardt-nel commented on #2682
[code]

[2021-09-02 06:43] regardt-nel commented on #2682
Sorry @flybayer here you go ->

PS C:\Projects\TodoToday\node_modules\next> cat .\package.json
{
  "name": "@blitzjs/next",
  "version": "11.1.0-0.40.0-canary.7",
  "nextjsVersion": "11.1.0",
  "description": "The React Framework",
  "main": "./dist/server/next.js",
  "license": "MIT",
  "repository": "vercel/next.js",
  "bugs": "https://github.com/vercel/next.js/issues",
  "homepage": "https://ne

[2021-09-02 09:31] anteprimorac opened #2692 "Add ability to define project-wide page default options"
### What do you want and why?

My use case for this is an internal app that will require authentication to access all pages except the login page.

### Possible implementation(s)

[code]

[2021-09-03 17:58] MrLeebo commented on #2692
Good suggestion!

Ideally, the config should apply to all of the page options and not just `authenticate`. As far as I know, the options are `authenticate`, `redirectAuthenticatedTo`, `suppressFirstRenderFlicker`, and `getLayout`. It would also be good to add a page to the Blitz docs documenting all of these options together. Right now they are spread out across different sections.

https://blitzj

[2021-09-04 03:15] itsMapleLeaf opened #2694 "Add package manager prompt to `blitz new`"
### What do you want and why?

A prompt to skip installing modules, e.g. `Install modules with yarn? (Y/n)`

### Possible implementation(s)

Would definitely prefer it as a prompt, since a flag has to be remembered and/or looked up preemptively. But if a prompt doesn't work, a CLI flag is... fine ¯\\\_(ツ)\_/¯

One _could_ also add pnpm to the list, but we'll just go through this song and dance aga

[2021-09-04 13:12] karimsx opened #2695 "Cannot read property 'fromQueryHook' of null, Caused by react-query useQueries"
### What is the problem?

using parallel ```useQueries``` queries from react-query cause this error,

``` Cannot read property 'fromQueryHook' of null```

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.  using `useQueries` from react query

### Run `blitz -v` and paste the output here:

[code]

###

[2021-09-06 02:02] Vandivier opened #2696 "prisma db update fails during `blitz generate all`"
### What is the problem?

See image below. After running `blitz generate all` I am asked if I would like to update DB + Prisma. If I say `yes` then I get an error.

![image](https://user-images.githubusercontent.com/5559355/132150130-6cdc107f-68c2-4a58-b8eb-25c09a8b07e9.png)

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed step

[2021-09-06 02:19] Vandivier commented on #2696
my starter when deployed also tells me I should say yes to prisma migrate which is having an issue:

![image](https://user-images.githubusercontent.com/5559355/132151413-beae4f7c-b953-4d16-9637-85a197f42a35.png)

[2021-09-06 05:47] samrath2007 opened #2697 "/reset-password in the example doesn't work"
### What is the problem?

Using the boilerplate code, Login, signup and mailing works but reseting passwords doesn't.

### Paste all your error logs here:

N/A

### Paste all relevant code snippets here:

All relevant code is boilerplate.

### What are detailed steps to reproduce this?

1. Clone [this repository](https://github.com/InternNova-Labs/web)
2. Install dependencies and run dev server
3.

[2021-09-06 20:17] ananni13 commented on #2697
I'm not a blitz expert, but to my understanding the _**/reset-password**_ page expects a token as a query parameter, it obviously won't work without it.

You first need to go to _**/forgot-password**_ and submit the form with your account email, this will generate and save a `RESET_PASSWORD` token for that account (see `forgotPassword.ts` mutation).
Then you'll receive an email (in dev you'll just

[2021-09-07 00:34] kotx commented on #966
maybe this should extract the protocol from the more standard [`forwarded`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Forwarded) header as well?

[2021-09-07 02:33] samrath2007 commented on #2697
Thanks, works now

[2021-09-07 02:33] #2697 closed

[2021-09-08 22:25] flybayer commented on #2692
Sweet! My first thought is to nest the config like this to provide for more future flexibility:

[code]

[2021-09-08 22:27] flybayer commented on #2694
Yes yes, thank you!

My preference is to add a multiple-select option during blitz new (like the current form prompt) that let's you choose from the following:

[code]

We can always add more over time. And I think we should only show pnpm option if it's installed. Same for yarn.

[2021-09-08 22:30] flybayer commented on #2695
This is because we don't yet have `useQueries` hook added to Blitz (we need someone to do that).

But in the meantime it would probably work if you use `invoke` like this:

[code]

[2021-09-08 22:33] flybayer opened #2703 "Add useQueries hook"
### What do you want and why?

React-query has a useQueries hook that we need to add support for.

### Possible implementation(s)

API like this:

[code]

Here's the file that has our react-query hooks: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/data-client/react-query.tsx

[2021-09-08 22:35] flybayer commented on #2696
@Vandivier ah, it looks like you have too old of a prisma version for that version of Blitz. Can you try upgrading to latest prisma version?

[2021-09-08 22:36] flybayer commented on #966
@kotx yeah that sounds like a good idea. Want to make a PR?

[2021-09-08 22:46] #2674 closed

[2021-09-09 04:25] kotx commented on #966
@flybayer Sure, but I was checking it out and got a bit stuck- for some reason `req.headers['forwarded']` is undefined, even if I define it in a test file like so:
[code]
Any pointers? I have a [Gitpod](https://gitpod.io) [snapshot here](https://gitpod.io#snapshot/75e5135c-fd1b-448c-85e3-beca151d588e) if it helps.

[2021-09-09 09:58] andreasasprou commented on #289
What about .blitz.config.compiled.js?

[2021-09-09 17:23] muhammad-Osman opened #2704 "npm install -g blitz --legacy-peer-deps not working on ubuntu"
### What is the problem?

npm install -g blitz --legacy-peer-deps

is not working on ubuntu instead of this when i install with
yarn in that case

yarn install

successfully but when i run

blitz new myAppName

blitz: no command found

![image](https://user-images.githubusercontent.com/64417390/132732797-e70f5097-6a60-43b5-9fb7-8ff35370510c.png)

### Paste all your error logs here:

[code]
npm WAR

[2021-09-10 00:17] kotx commented on #966
@flybayer Here you go ^^

[2021-09-10 06:38] meehawk commented on #2452
@flybayer Number 5? Can I hop on this one?

[2021-09-10 08:27] karimsx commented on #2695
@flybayer i can take care of it if you can assign ticked to me?

[2021-09-10 16:53] Emmanuel296 opened #2709 "v0.40.0-canary.7 home reload problem"
### What is the problem?

Installed v0.40.0-canary.7
ran blitz dev
page loaded fine (two buttons Sign Up and Login)
signed up (created a new user)
app redirected to home page correctly (one button Logout)
BUT after reload all buttons appeared (Sign Up, Login and Logout)

### Paste all your error logs here:

[code]
Warning: Expected server HTML to contain a matching <button> in <div>.
    at button

[2021-09-10 18:46] andreasasprou commented on #289
Also, it's worth noting that your custom server won't work if you just copy the `.next` folder in canary. ATM I'm copying all custom server source files into my production build docker container

[2021-09-10 20:12] flybayer commented on #2695
@karimsx assign https://github.com/blitz-js/blitz/issues/2703? Sure thing, please comment in that issue (otherwise I can't assign you, github limitation)

[2021-09-10 20:18] flybayer commented on #289
@andreasasprou yes you will need `.blitz.config.compiled.js`. Currently that's not inside `.next` because the config is built, then `.next` is totally wiped. We should change that so we can store `.blitz.config.compiled.js` inside there.

Hmm, it should. Because custom server is built to `.next/`. Could you open an issue for this case?

[2021-09-11 15:46] Vandivier commented on #2696
@flybayer yep, everything looks good! Seems like both Vercel and Railway have out-of-date starters that don't cooperate w v0.39+ blitzJs CLI - building new project from cli and importing is the way to go!

[2021-09-11 15:46] #2696 closed

[2021-09-11 16:13] Vandivier opened #2711 "blitz generate uuid"
### What do you want and why?

I want my Prisma schema correctly generated with uuid data type when I run:
`blitz generate all futurecast mainText:string castToken:uuid`

This is for developer convenience when making a new model with a uuid.

should output like this:
[code]

[2021-09-12 07:56] karimsx commented on #2703
i can take care of this one +1:

[2021-09-12 09:01] meehawk commented on #2132
@flybayer is this still open? It seems like this was merged. Should we close this?

[2021-09-12 22:07] frankiesardo commented on #751
Hey @anteprimorac would you be able to share an example of how you've got vitro working? I'm trying to but I'm stuck at

`Error: module imports rewrite failed`

`Error: Cannot resolve 'app/core/components/MyComponent'`

[2021-09-13 23:10] kdasme commented on #2539
Picked blitz for my project, my current plan is to set up something like https://github.com/jochen-schweizer/express-prom-bundle to provide node/web server metrics. Sentry is also vital at this point.

🤞 will report back in a few weeks. Or ping me if I forget to! :)

[2021-09-14 09:36] FSE-Hyd-Raju opened #2716 "Facing issues after deployed to vercel"
### What is the problem?

Hi Team,

I developed a blitz app and deployed it to vercel. I am trying to access the application. When I sign up got the error saying TypeError: Cannot read property '$create' of undefined. But the user got created in db. Also I tried logging in with the created user, Getting the same error. I am not getting what I am missing. Please help.

![image](https://user-images.

[2021-09-15 01:12] Nfinished opened #2717 "passportAuth - provide better error message if `req.query.auth` is undefined"
## Updated Issue

The below issue was caused because the file was not named `[...auth].js`, it was named something like `passport.js`. And in this case `auth` is not a dynamic param and so `req.query.auth` is undefined.

We need to provide helpful error in these two cases:
1. `req.query.auth` not defined - page must be named `[...auth].js/ts`
2. `req.query.auth` is defined, but not array - page mu

[2021-09-15 06:35] lksnmnn opened #2718 "CSRFTokenMissmatch for anonymous sessions"
### What is the problem?

There might be 2 Problems:

1. For anonymous sessions, the `blitz_sAntiCSRFToken` is being removed, while the `blitz_sAnonymousSessionToken` is not.
2. If the above mentioned state is reached, users can only recover by deleting the session token.

We've got several reports from users, where the scenario (1) happened. If this is the case, the user can't log in (or use any

[2021-09-15 06:47] lksnmnn commented on #2718
I was able to _reproduce_ this (once) in all browsers (FF, Chrome, Safari), after re-visiting the production app after ~1 month or so. All non `httpOnly` cookies where gone, only the `blitz_sAnonymousSessionToken` was there. I am still not 100% that this is the browsers doing or if this is an issue in Blitz or our implementation.

However, if the user is in this state, we _could_ recover by fetchi

[2021-09-15 15:25] m0rdreck opened #2721 "AuthenticationError not working and loop"
### What is the problem?

Hello,

I use AuthenticationError for protect article page on website.

I use this in Query i load my article and in the query i get information for know if user have the authorization for read this.

When i go on this i'm redirect to login page no problem.

But if i go on one page where i have the authorization and after i going to the page where i don't have.

The Authe

[2021-09-15 15:53] andreasasprou commented on #2716
Me too

[2021-09-17 21:10] Nfinished commented on #2717
Closing, pebcak

[2021-09-17 23:18] Nfinished commented on #2717
reopening re: @flybayer (only _mostly_ pebcak). Nuking `.blitz` eventually worked.

[2021-09-21 07:45] andreasasprou commented on #2716
Any updates on this @flybayer?

[2021-09-21 15:29] flybayer commented on #2704
what is output of `npm -v`?

[2021-09-21 15:31] flybayer commented on #2452
@meehawk sorry for the delay, of course! Btw, you don't have to wait for confirmation if it's labeled `status/ready-to-work-on`

[2021-09-21 16:12] flybayer commented on #2490
@smashboy so sorry for the long delay here.

This is so odd. Can you share your code where import order matters and which file paths those are?

[2021-09-21 16:20] flybayer commented on #2716
Sorry, haven't had a chance to look at this. Should be able to today or tomorrow.

[2021-09-21 16:22] flybayer commented on #2703
@karimsx awesome! Sorry for delay in responding here, you don't have to wait for confirmation if it's labeled `status/ready-to-work-on`

[2021-09-21 16:23] flybayer commented on #2132
@meehawk their template still needs updated. It's currently at v0.17 lol

[2021-09-21 17:46] smashboy commented on #2490
@flybayer Here is a gist with main files that are related to this issue: https://gist.github.com/smashboy/5b64ba6044a69cc44d242a9dc111a559. There are comments in `updateTwitchEventReward.ts` that are describing an issue. Hope it will help.

[2021-09-21 21:34] flybayer commented on #2490
@smashboy thank you. This is so weird. These files are processed by webpack, not esbuild like the custom server.

Does it work if you import using a relative path like `import db from '../../../db'`?

[2021-09-21 21:35] flybayer commented on #2490
It appears like maybe the issue is if you import db after importing something from blitz. The pattern so far is that if db import is first in the file, it works, right?

[2021-09-21 21:43] flybayer commented on #2721
Hey @m0rdreck sorry for the delay here.

So is the query actually executing in a loop (i.e. you see server logs for the query repeating)?

In the loom, I see the login form appear, which I assume is from catching authenticationerror. But then I don't see you trying to navigate to another page.

By default, as long as you import `ErrorBoundary` from `blitz`, it will be automatically reset when the

[2021-09-22 05:32] kenneho opened #2727 "Internal Blitz Error: process.env.BLITZ_APP_DIR is not set"
### What is the problem?

Hi.

Steps to reproduce:

1. Install 0.40.0-canary.8
2. `blitz new myapp`
3. `cd myapp`
4. `blitz generate all something`. Throws error message `Error: Internal Blitz Error: process.env.BLITZ_APP_DIR is not set`

### Error logs:

`blitz generate all something` output:
[code]

[2021-09-22 06:00] Roesh commented on #2727
I think I have the fix for this, working on it in PR https://github.com/blitz-js/blitz/pull/2679

Wondering if we should add a separate quick fix for this:
packages/generator/src/generators/page-generator.ts
[code]

[2021-09-22 06:10] Roesh commented on #2727
I actually was wondering where the BLITZ_APP_DIR should be set.

1) Should this be done by the abstract generator's constructor instead of at the postWrite hook in that one page generator?
I don't mind leaving it here until we add a feature to all generators that requires the config from blitz.config

[2021-09-22 06:27] Roesh commented on #2711
If no one else would like to take it on after finishing the generators PR, hoping to finish that by end of week

[2021-09-22 06:31] m0rdreck commented on #2721
Hello @flybayer,

Yes in the server console, I see that the request is called multiple times as well as the authentication error.

After many loops, we are redirected to the login page.

Thank for help

[2021-09-22 06:52] smashboy commented on #2490
@flybayer Looks like the issue is in [next-translate](https://www.npmjs.com/package/next-translate#add-next-translate-plugin) plugin that I'm using. I'm not able to reproduce this error if I remove it from `blitz.config.ts`. Also let me remind that I'm using custom server, maybe this information also can be helpful.

Relative path reacts the same and I start to think that db import order does not

[2021-09-22 15:59] flybayer opened #2728 "Add a minimal newapp template"
### What do you want and why?

We want a minimal newapp template that provides an experience similar to the nextjs newapp generator.

I'm not sure exactly what everyone wants included/omitted from this, but here's my current thoughts: (feedback welcome!!)

- no auth
- no mailers
- no forms
- no components except Layout component
- no prisma
- no zod
- keep prettier, eslint, jest, husky, lint-stage

[2021-09-22 16:06] sakulstra commented on #2728
Would personally keep zod.
Discovered it via blitz and was more then happy with that. Would be sad if newcomers who don't want to use Prisma(due to db not supported or similar) and thus using the minimal app miss out on that.

[2021-09-22 16:16] flybayer commented on #2727
@Roesh yes let's get a quick fix for this.

It should be set in https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/generate.ts, same as we are doing in https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/routes.ts#L32

[2021-09-22 16:17] flybayer commented on #2682
Closing in favor of https://github.com/blitz-js/blitz/issues/2727

[2021-09-22 16:17] #2682 closed

[2021-09-22 16:18] beerose commented on #2728
I also like `zod` — it's super powerful, but in some cases, it may feel like too much. Also, sometimes I'd like to use something else (e.g. https://github.com/typeofweb/schema), but I'm too lazy to replace zod if it's already there 😀.
What about making `zod` opt-out during the generation step?

[2021-09-22 16:21] flybayer commented on #2728
I sort of feel like if something isn't being used in the code anywhere, then it shouldn't be in the package.json. Which would be the case with zod if we removed all auth queries/mutations.

We could make zod an option, but being it's easy enough to do `yarn add zod` afterwards, I don't think it's worth the effort for us to add and maintain an option for it.

[2021-09-22 21:44] flybayer opened #2729 "Update newapp template to use Prisma 3.x"
### What do you want and why?

Update newapp template to use Prisma 3.x

Needs updated in this file: https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/package.json **both `prisma` and `@prisma/client`

Please save this for a first time contributor to Blitz.

[2021-09-22 22:52] emilygracekz commented on #2729
lol ok let me try this

[2021-09-23 00:55] Roesh commented on #2727
Ok, I've made the following change:

[code]

I initially set BLITZ_APP_DIR to `this.options.destinationRoot` because several generator commands seem to be ensuring that that directory was created, but after looking at various places in different files, I'm not able to ascertain the role of BLITZ_APP_DIR vs destinationRoot to determine which should be set here.

It will probably take me a couple ho

[2021-09-23 01:16] reggie3 commented on #280
Has anyone had any success getting Mock Service Worker working so far?

I'm trying to set up basic MSW integration with blitz for testing and am receiving this error when running my test.

[code]

[2021-09-23 08:58] #1309 closed

[2021-09-23 09:18] m0rdreck commented on #2721
Hello @flybayer,

Yes the location changes.

[2021-09-23 12:16] smashboy commented on #2490
@flybayer As it is kind of another issue, should I open a new issue for that? There is one more issue when using next-translate with blitzjs.

[2021-09-23 12:34] smashboy commented on #2490
@flybayer Should I open another issue, because this latest one is kind of not ralated? I also have another issue with next-translate that I did not opened yet.

[2021-09-23 17:25] #2716 closed

[2021-09-23 17:37] #2694 closed

[2021-09-23 17:51] flybayer commented on #280
@reggie3 I haven't used MSW, but my understanding is that when MSW makes it easier to test your frontend by removing any calls to backend code, right?

If that's true, then the issue you are showing is that backend code is still being called. Probably because you are importing the query or mutation and passing to useQuery. But in our build, we replace that import with a tiny http client. So by def

[2021-09-23 18:49] #2727 closed

[2021-09-23 18:51] flybayer commented on #2686
Fixed in https://github.com/blitz-js/blitz/pull/2730

[2021-09-23 18:51] #2686 closed

[2021-09-23 18:51] flybayer commented on #2685
Fixed in https://github.com/blitz-js/blitz/pull/2730

[2021-09-23 18:51] #2685 closed

[2021-09-23 18:56] flybayer commented on #2721
@m0rdreck ok, is this app on github? If not, can you make an open repo with the minimal code to reproduce this?

[2021-09-23 19:01] flybayer commented on #2490
@smashboy you can open another issue for next-translate, although likely it requires a fix inside next-translate itself

And can you try latest `blitz@canary` release to see if the issue goes away, or if not, share the error and stack trace you get with that release.

[2021-09-23 22:17] reggie3 commented on #280
@flybayer Thanks for the quick response.

 With MSW, an API call is still made by the client, but the call is intercepted by MSW which responds with whatever is specified in the configuration give to MSW.  So the backend call isn't removed, just intercepted before it gets to the actual server.

[2021-09-23 22:59] jontas commented on #2709
I'm able to reproduce this in `0.40.0-canary.8`

[2021-09-24 07:06] #2729 closed

[2021-09-24 09:44] beerose opened #2738 "blitz jest preset doesn't work in plain javascript projects"
### What is the problem?

After creating a new javascript project with `blitz new test --js`, and running `yarn test`, it results in a validation error:

[code]

The [jest-preset.js](https://github.com/blitz-js/blitz/blob/canary/packages/blitz/jest-preset.js), requires a tsconfig.json (https://github.com/blitz-js/blitz/blob/canary/packages/blitz/jest-preset.js#L5), which is then used to ensure any

[2021-09-24 13:36] iDavidB commented on #2492
While trying to create a little proof of concept as an option for our new stack, I ran into this intellisense issue aswell. After generating the client, our `node_modules/.prisma/client/index.d.ts` file comes in at a whopping 1.151.145 lines.

Now, my schema was generated using introspection of our current database, which admittedly includes a lot of legacy tables that would no longer be used in t

[2021-09-24 15:01] flybayer commented on #2709
@jontas ok, can you provide more details on how to reproduce? I tried your steps but no luck. Recording a loom of this would help!

[2021-09-24 15:11] flybayer commented on #280
Ok, so in your case MSW is not doing anything, because there's no network request. The resolver is being called directly. If MSW was intercepting a network request, then that resolver function would not be called.

Here's [the rpc client](https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/data-client/rpc.ts#L74-L243) that we replace the function import with.

Maybe let's take a ste

[2021-09-24 15:26] jontas commented on #2709
@flybayer thanks for the response!  Here's a video of the issue--it is essentially a clean install, I had some local changes but I stashed them all before recording.  Also, in this video I'm running on an alternate port but I doubt that is related--when I was working on this yesterday I was running on the default.

https://share.squarespace.com/lluopbxY

[2021-09-24 17:25] reggie3 commented on #280
Thanks for the info on the rpc client.

1. I'm trying to run a React Testing Library test that types text into an input and clicks a submit button.
2. The submit button makes an async call to a mutation.
3. When the program is run in dev, the mutation returns an object based on the response from the server.  Since this is a test, I want to specify the response that is returned.
4. A successful obj

[2021-09-24 18:39] flybayer commented on #280
@reggie3 ok understood, Then I think by far the easiest way is to mock your createAnswer mutation with jest, like mocking any old function. No network involved.

[2021-09-24 20:29] reggie3 commented on #280
Seems like I'll run into the same problems @Skn0tt ran into previously if I try it that way, but I'll give it a shot.

[2021-09-25 03:48] winner106 opened #2742 "`npm install -g blitz --legacy-peer-deps` ==> `Cannot find module 'react'`"
### What is the problem?

a postinstall script throws an error

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.   npm install -g blitz
2.   npm install -g blitz --legacy-peer-deps

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screensho

[2021-09-25 04:03] winner106 commented on #2742
I try ``` npm install -global blitz``` , but thow the same error.

[2021-09-25 08:53] malekjaroslav commented on #2492
I have the same issue in WebStorm, it doesn't load the types at all 99% of the time. It's getting stuck somewhere in the enhancement method.

[2021-09-25 17:24] MrLeebo commented on #2253
I have some hesitations about this and the practice of bundling dependencies that Blitz doesn't need but to invite users to play with them. Perhaps down the road the matter will be different, but at this juncture it seems to me that the value added may not outweigh the additional maintenance cost of including this library. It is probably better for this to be something that users who want it can i

[2021-09-25 17:34] MrLeebo commented on #2742
Have you tried `npm install -g blitz --legacy-peer-deps` or running it with NPX `npx blitz new app-name` ?

[2021-09-25 17:44] MrLeebo commented on #2542
Closing this issue as stale/potentially resolved. These tests don't appear to be that slow normally.

[2021-09-25 17:44] #2542 closed

[2021-09-25 18:11] MrLeebo commented on #2623
Closing this because it seems like it's gone stale and I am unable to repro. If it's still a problem, can you please provide a working repro that showcases the issue? https://codesandbox.io/s/github/blitz-js/codesandbox-template

[2021-09-25 18:11] #2623 closed

[2021-09-25 18:35] reggie3 commented on #280
@flybayer Once again thanks for all the help so far.  I do have another question.  When you said:

 "Ok, so in your case MSW is not doing anything, because there's no network request. The resolver is being called directly. If MSW was intercepting a network request, then that resolver function would not be called."

How is the resolver is being called directly?  The documentation for Mutation Resol

[2021-09-25 21:10] Vahor opened #2746 "CSRFTokenMismatchError when logout"
**Edit :** It's maybe not related to logout, I got this same error message on first load, just after starting production. And this multiples times in a row. And after some time, while I was looking in local if I hadn't broke something, it worked again ( I've cleared my cache directly after the first crash )

### What is the problem?

Hello, I have a `CSRFTokenMismatchError` error with the logout m

[2021-09-25 21:34] Extra-Extra-Dev commented on #2492
Whoa! @iDavidB !!!!  Now I don't feel so bad at 124792. But see now, @flybayer , @iDavidB  just echoed my way of working. I've been/was prodding the full blitz stack early on. So, (MONTHS back)  ignoring UI -- I started with DB first and flushed out the schema, en-masse CRUD generation, and building -- to see the full pipeline and where and how the whole thing behaves (and painfully and embarrassi

[2021-09-26 14:08] winner106 commented on #2742
yep，also failed😇

[2021-09-26 15:51] MrLeebo commented on #2635
@Slein2012 check if you get the proper styling if you change the authenticate call:

[code]

While these lines appear equivalent, how they're implemented is actually slightly different. Specifying a redirectTo will, as the name implies, redirect you to the page, and it seems like `true` would be a shorthand for the same behavior, but instead it raises an `AuthenticationError` that gets caught by t

[2021-09-26 15:59] fmgono opened #2747 "generate prisma schema with optional column don't work - no matches found: <column-name>:string?"
### What is the problem?

I want to generate new table with command
`blitz generate resource master/shifts code:string:unique name:string? from:string? to:string? isActive:boolean:default=true`

because [the docs](https://blitzjs.com/docs/cli-generate#model-fields) said that if you want to set column to be optional, then add `?` after type (e.g: string?>)

but when i type that, i got an error

###

[2021-09-27 08:00] beerose opened #2751 "Loading a mutation via `blitz console` fails silently due to a missing ENV var"
### Discussed in https://github.com/blitz-js/blitz/discussions/2745

_Originally posted by @jelling in https://github.com/blitz-js/blitz/discussions/2745#discussioncomment-1387880_

[2021-09-27 08:26] beerose commented on #2747
Hey @fmgono! Thanks for the report. It looks like when you're using `zsh` you need to wrap the field with type in quotes (`""`). The following command worked for me in zsh:
[code]

Though, it should be documented or fixed so that the same command works in all terminals.

[2021-09-27 08:49] fmgono commented on #2747
Thank you @beerose , this is work as expected!

[2021-09-27 08:49] #2747 closed

[2021-09-27 10:12] #2738 closed

[2021-09-27 13:28] prosoftwaredev commented on #2717
at authHandler (D:\WorkSpace\test\node_modules\@blitzjs\core\server\dist\blitzjs-core-server.cjs.dev.js:1544:25)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)
    at async apiResolver (D:\WorkSpace\test\node_modules\next\dist\next-server\server\api-utils.js:8:1)
    at async DevServer.handleApiRequest (D:\WorkSpace\test\node_modules\next\dist\next-server\server\next-serve

[2021-09-28 08:32] malekjaroslav opened #2754 "Add babel plugin to throw error when importing named exports from queries/mutations in the client build"
### What do you want and why?
As Blitz transforms mutation and query imports in the background to a fetch, it removes secondary imports as well. This causes an issue where the other imported objects or functions are `undefined` but no error is thrown.

Example:
[code]
In this case, the mutation works, but `UserValidationSchema` is `undefined` which is, IMO, an unexpected behavior.

### Possible im

[2021-09-28 08:48] m0rdreck commented on #2721
Hello @flybayer,

I found the problem, but i don't have a solution, i try to explain it :

I Have one url exemple page/{slug}

When i'm on page/test1 and i click on link page/test2

Same component, same page with dynamic slug.

The page is not reloading.

For example, on mobile, the menu doesn't close because i think the component is not reloading.

Only the component where i use the query to get

[2021-09-28 14:31] iDavidB opened #2755 "Calling the database in middleware breaks CSRF in production"
### What is the problem?

Using async middleware is fine unless you try to query something from the database. Doing so will break the Blitz CSRF behavior and cause constant `CSRFTokenMismatchError` errors in production

[code]

### Paste all your error logs here:
[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Create a new Blitz app
2.

[2021-09-28 17:09] flybayer commented on #2253
I think let's close this for now for lack of demand. Can always revisit down the road.

[2021-09-28 17:09] #2253 closed

[2021-09-28 17:43] beerose opened #2757 "Dependencies versions not resolved correctly"
### What is the problem?

The new app generator probably doesn't resolve dependencies versions correctly. For example, with blitzjs v.0.39 and `prisma` set to `2.x` in the new app template, it resolved the version to `2.31.0-integration-under-4.3`.

Related Discord's thread: https://discord.com/channels/802917734999523368/870041934046060615/892414188364902440.

### Paste all your error logs here:

[2021-09-28 19:20] iDavidB commented on #2755
Update: It seems that this issue causes a race condition, which as a result causes this CSRF issue, but also makes it so that page props such as `Page.authenticate` and `Page.redirectAuthenticatedTo` are always ran on that page, rather than being checked if they should first.

[2021-09-28 21:18] iDavidB commented on #2755
Upgrading our project to latest canary seems to have fixed this issue.

[2021-09-28 21:19] #2755 closed

[2021-09-29 09:55] shishkin opened #2758 "Index page test fails on newly generated app"
### What is the problem?

I've enabled the skipped default test in `app/pages/index.test.tsx` and it fails. After adding the width and height attributes to the image, test keeps failing now complaining about wrong image source URL, which comes from the jest mock settings as `test-file-stub`.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What

[2021-09-29 15:10] shishkin commented on #2758
Thanks for the suggestion and triage @beerose!

That relates to the second problem. But what about the error message with width and height?

I'm also not very clear why mocking is necessary for that test. Wouldn't it be beneficial to test the real image component with its source path and other attributes to e.g. verify that the source file exists?

[2021-09-29 15:25] flybayer commented on #2746
Would be interesting to know if it changes between `0.39.0` and `0.40.0-canary.9`

[2021-09-29 15:27] flybayer commented on #2746
Could be related to or same bug as https://github.com/blitz-js/blitz/issues/2718

[2021-09-29 17:51] Vahor commented on #2746
Hi ! @flybayer
I have created a small repro on https://github.com/Vahor/BlitzCSRFTokenMismatchError
On here I am using 0.40.0-canary.9 ; I haven't had time to try other versions yet.
But if I found something I'll let you know

[2021-09-29 21:30] flybayer commented on #2746
@Vahor awesome thanks, taking a look

[2021-09-29 21:51] flybayer commented on #2718
Ok yes, I can confirm that browsers are now removing non httpOnly cookies after ~7 days...

I'm currently working on https://github.com/blitz-js/blitz/issues/2746, then will find a solution for this one

[2021-09-29 21:53] flybayer commented on #2746
Ok I've reproduced and found the cause.

It happens when you have two queries in the same render and do login/logout dance.
[code]

It's a race condition where getA query creates an anon session, but getB fires off before that anon session has been fully saved on the client. So getB request has no session. And therefore getB response creates a new anon session. And then somehow wires get crossed,

[2021-09-29 23:23] flybayer commented on #2709
Thanks @jontas! I can reproduce now.

[2021-09-30 06:21] m0rdreck commented on #2721
Hello @flybayer,

The solution i make 2 query

First time i query the group of user (dynamic role).

After i redirect user in front if he don't have the authorization.

After i query the information if user have authorization i request page data.

I make github demo when i have little time.

[2021-09-30 06:22] #2721 closed

[2021-09-30 08:08] beerose commented on #2758
Yeah, I forgot to include it. This mock should work:

[code]

I agree with you. Alternatively, you could try using `jest-webpack` to make your tests more integration-like (testing webpack config and checking for actual images).

The current implementation is a suggested solution in both [Next](https://nextjs.org/docs/testing) and [Jest](https://jestjs.io/docs/webpack#handling-static-assets) docs (

[2021-09-30 15:37] Roesh opened #2765 "Latest blitz version on Windows does not work"
### What is the problem?

After installing the latest blitz version using `npm i -g blitz@latest`, there is an error preventing running any global blitz commands.

This occurred with my Windows PC. I removed blitz and reinstalled it, but still had the same issue. I then tried to do the same on my laptop and ran into the same issue.

EDIT: Current latest version is 0.39.0

### Paste all your error

[2021-09-30 16:25] Roesh commented on #2765
Next steps: check latest canary release.

0.40.0-canary.9 actually does not have this issue

[2021-09-30 16:43] martinsaxa commented on #2717
hi, I would be happy to help with this one.

[2021-09-30 17:35] beerose commented on #2717
Please go ahead @martinsaxa!

[2021-09-30 18:41] beerose opened #2767 "Hacktoberfest 2021 🚀"
Hi all 👋

Hacktoberfest 2021 is coming and the Blitz team is excited to have you contribute to our project. Blitz is a community-first project so we couldn't miss out on an event like this. You can learn more about the community [here](https://blitzjs.com/docs/how-the-community-operates). In our repository, you can find some beginner-friendly issues to work on! There are several repositories that

[2021-09-30 19:36] beerose commented on #2717
Fixed in https://github.com/blitz-js/blitz/pull/2766

[2021-09-30 19:36] #2717 closed

[2021-10-01 08:51] beerose commented on #2754
As the resolver files are not loaded client-side, the secondary imports become undefined (can only run on server).
The solution now is to have all additional stuff (like zod's schema) in a third file and import it to both server and client.

Throwing an error at some point (so that the user knows what's going on) sounds good to me.

[2021-10-01 14:24] flybayer commented on #2754
yeah, we can throw an error in this case. Ideally, we could make it just work, but it's SUPER tricky from a code-shaking standpoint.

Currently our client build babel plugin replaces the entire contents of the resolver file: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/build/babel/plugins/blitz-rpc-client.ts So we aren't currently checking imports from that file.

I think we

[2021-10-01 15:27] CalebDelbridge opened #2772 "Cannot read property 'getSession' of undefined on Vercel"
### What is the problem?

When I use `getSession` in getServerSideProps on an app deployed on Vercel the app crashes

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Create a new blitz app
2. Create a page using the getServerSideProps snippet above
3. Host the app on vercel
4. Navigate to route

###

[2021-10-01 15:59] adavijit commented on #2772
@CalebDelbridge , I would like to take this issue

[2021-10-01 16:01] CalebDelbridge commented on #2772
Great, thanks @adavijit!

[2021-10-01 16:12] adavijit commented on #2772
@CalebDelbridge , Could you please assign to me?

[2021-10-01 16:16] CalebDelbridge commented on #2772
I think you would have to get a maintainer or someone with that ability to do that, but as long as you comment that you claim this issue, you should be good and that no one will try to fix it before you.

[2021-10-01 16:46] #2746 closed

[2021-10-01 19:24] Talor-A commented on #2454
Happy Hacktoberfest! Hoping to pick this one up - can I be assigned here?

[2021-10-01 20:38] Talor-A commented on #2454
and should this be opt-in behavior, or replace the default? since the default behavior now is to throw an error for any RPC call in a test environment, I imagine replacing the default would be a sensible option for simplicity's sake.

[2021-10-02 04:44] maybebored commented on #2144
Happy to take this if it's still open

[2021-10-02 04:52] maybebored commented on #1767
Happy to take this and work on it, went through the earlier discussion and PR, seems there's a set up for cypress without any tests. I'd like to add some test cases if someone can point at what is to be tested.

[2021-10-02 09:41] beerose commented on #2144
Still open, go ahead @maybebored!

[2021-10-02 11:09] beerose opened #2781 "delay between `blitz new` prompts with slow internet"
### What is the problem?

When a user has a slow network, there is a delay between `"install deps?"` prompt and `"form library"` prompt.
It's because after `install deps` step, we are fetching the latest blitz version to see if cli needs to be updated. It looks like cli is stuck because of no activity indicator.

**Possible implementations:**

* show a loading indicator,
* do the network request i

[2021-10-02 11:22] arvinf07 commented on #2609
I want to work on this issue!

[2021-10-02 11:29] arvinf07 commented on #2268
I want to work on this issue

[2021-10-02 15:53] lksnmnn commented on #2718
I am not sure if this is 100% correct. We have this issue when logging a user in, so only an anonymous session exists. However, antiCSRF checks are still needed in this case, to prevent https://en.wikipedia.org/wiki/Cross-site_request_forgery#Forging_login_requests

So, if the browser was to delete the localStorage (after 7 days as well?), we would end up in the same invalid state (no antiCSRF tok

[2021-10-02 16:12] jmcelreavey opened #2782 "Expose the Blitz logger and chalk for easy usage"
### What do you want and why?
Currently in order to include the logger and chalk we have to
[code]

These are not currently exposed or documented, we should expose these in the blitz module

[2021-10-02 16:22] flybayer commented on #2772
@adavijit ah, I had just assigned it to me before your comments loaded.

Have you made any progress on it? It's actually very tricky and is caused by Vercel's magic file tracing. I've dealt with it before, so probably far easier for me to fix.

[2021-10-02 16:28] #2718 closed

[2021-10-02 17:15] maybebored commented on #2144
I drafted a PR, could use some feedback there before I continue to add more docs. What kind of info is useful?

This also begs the question, could we use this to auto generate a different type of doc in the future? The documentation website serves more like a guide than a full list of the API spec.

[2021-10-02 19:13] #2709 closed

[2021-10-02 20:03] flybayer commented on #2772
@adavijit I've fixed in #2787. I want to get a new stable release published today, so I went ahead and fixed.

[2021-10-02 20:24] #2772 closed

[2021-10-02 20:34] flybayer commented on #2781
Here is the code that handles the upgrade check, and that either needs a spinner or, maybe even better, network request moved to the background: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/new.ts#L105-L112

[2021-10-02 20:38] flybayer commented on #2765
@Roesh `Cannot find module 'next/dist/server/lib/logging'` indicates that the `next` package inside your global node_modules is corrupted.

Try deleting `blitz` (not just `.blitz`), `@blitzjs`, and `next` from your global node_modules

[2021-10-02 22:51] JuanM04 opened #2788 "VSCode autocomple defaults to `next` instead of `blitz`"
### What is the problem?

When typing, for example, `invoke` in VSCode and hitting Enter, it will import it from `next/data-client` instead of `blitz`:

![Screenshot](https://user-images.githubusercontent.com/16712703/135733636-bafefdd4-b63b-4977-aa2d-0d147074839b.png)

### Paste all your error logs here:

-

### Paste all relevant code snippets here:

-

### What are detailed steps to reproduce t

[2021-10-02 23:44] Vandivier commented on #2711
@Roesh I should be able to jump on this starting Tuesday but feel free if u got it before then :)

[2021-10-03 04:10] Roesh commented on #2711
Hey @Vandivier! You can go ahead and have it assigned, I'll be working on the documentation and more testing for that PR I mentioned

[2021-10-03 05:11] Roesh commented on #2765
Oh, so I'm looking at my global node_modules and I don't actually see a next folder or `@blitzjs` folder, I have a .blitz folder and a blitz folder.

Though I'd confirm again, so I uninstalled blitz with `npm uninstall -g blitz`, and the global node_modules looked like this:
[code]

After installation of blitz@0.40.0, I have the following folders, but still no next or `@blitzjs` folder:
[code]

I'

[2021-10-03 12:44] g3offrey commented on #2781
I'm working on this 😄

[2021-10-03 13:21] g3offrey commented on #2781
I tried to think about both of the solutions (the spinner, and the background task one). I'm not sure the second one is the best in terms of user experience. Indeed, what happen if the user is in the middle of the prompting part when the request finish. Should we take it back at the start? Record his answers?
What happen if the prompting questions change between the version used initially and the

[2021-10-03 14:14] g3offrey commented on #2751
I am working on a solution, that enables the debug mode when run with the verbose flag.

[2021-10-03 15:30] LouGhys commented on #2492
Downgrading to "typescript": "4.2.4" was the improved for me.

[2021-10-03 15:34] winner106 commented on #2742
When I try it in version 0.40, problems still exist, it's so pity. I want to use this is in Windows 10 as soon as possible

[2021-10-03 16:05] jelling commented on #2751
@g3offrey what do you think of making it display errors by default, meaning even without a debug flag? My thinking is that the console is designed almost exclusively for technical users. At a minimum, I don't think a console command (or module load) should ever fail silently. A middle ground might be writing errors to a log but only displaying an abbreviated trace message unless the debug flag is

[2021-10-03 16:08] g3offrey commented on #2751
Yes that what I did finally. I always display the errors. I also documented the previously existing DEBUG flags, I think they could have helped in your initial case. You can find my contributions here :
https://github.com/blitz-js/blitzjs.com/pull/560
https://github.com/blitz-js/blitz/pull/2792

[2021-10-03 17:04] beerose commented on #2268
Go ahead @arvinf07 🚀

[2021-10-03 20:37] Talor-A opened #2793 "Spinner from `ink-spinner` causes `blitz install` to fail"
### What is the problem?

blitz chakra-ui recipe seems to be broken. maybe a dependency update breaking part of the installer cli?

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.`yarn blitz install chakra-ui`

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other

[2021-10-03 20:55] 9j commented on #2793
tailwind also broken
![image](https://user-images.githubusercontent.com/11691670/135771256-aac061af-fc98-4862-aed2-f40ac13f0cd4.png)

[2021-10-03 21:28] Lucheti opened #2794 "blitz install tailwind not working"
### What is the problem?

when attempting to install tailwind recipe i get
"Cannot read property 'dots' of undefined"

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. type "blitz install tailwind" in the cli

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other a

[2021-10-04 08:13] beerose commented on #2794
Thanks for reporting. I'll close this issue in favor of this one: https://github.com/blitz-js/blitz/issues/2793 as the root cause is the same. Will continue the discussion there.

[2021-10-04 08:13] #2794 closed

[2021-10-04 08:15] beerose commented on #2793
An issue in `ink-spinner`: https://github.com/vadimdemedes/ink-spinner/issues/12. (`cli-spinners` package was updated three days ago, and the latest version causes this issue in `ink-spinner`.)

I think we can remove `ink-spinner` and use `log.spinner` from `@blitzjs/spinner` everywhere.

[2021-10-04 09:27] beerose commented on #1767
Hey @maybebored, as Brandon mentioned in the issue, this is roughly what needs to be tested (you can only cover some of those, and that would be a huge help already!):

1. Test the following for each form option
2. Test `blitz build` success inside new app
3. Test `yarn test` success inside new app
   1. Need to remove the `.skip` from `app/pages/index.test.tsx` to ensure that test passes
4. Test

[2021-10-04 09:38] #2751 closed

[2021-10-04 11:10] 9j commented on #2793
or use yarn.lock to fix the old version

[2021-10-04 11:41] beerose commented on #2144
I think having `@params` and `@returns` in TSDoc would be good. And a one-sentence summary of what the function does. In some cases using a `@example` would also be beneficial. If there's a default value, we should probably also have `@defaultValue` mentioned in TSDoc. I see you're also adding links to the docs (`@see`) — great idea!

In general, if a function has TSDoc, it should be super precise

[2021-10-04 15:06] jontas commented on #2709
Amazing, thank you for the fix @flybayer !!

[2021-10-04 15:15] flybayer commented on #2788
If there's a quick fix for this via vscode config or something, let's do it. Otherwise it will be fixed with a coming rework to our monorepo that will remove the current `blitz` package and rename the current `next` package to `blitz`.

[2021-10-04 15:21] flybayer commented on #2793
For whoever wants to work on this, `ink-spinner` is currently used here https://github.com/blitz-js/blitz/blob/canary/packages/installer/src/executors/file-transform-executor.tsx#L4 and here https://github.com/blitz-js/blitz/blob/canary/packages/installer/src/executors/add-dependency-executor.tsx#L4. And then need to also remove ink-spinner dep from `packages/installer/package.json` and `@types/in

[2021-10-04 15:23] flybayer commented on #2742
@winner106 can you try skipping global install and do `npx blitz new myApp`?

Another optional workaround is install globally with `yarn`, `yarn global add blitz`

[2021-10-04 15:29] flybayer commented on #2765
Ok, so `@blitzjs` probably lives under `node_modules/blitz/`. Package managers keep changing where nested packages actually live. But either way, that should be fine.

Real issue here is missing `next` package which should be installed because it's set as a dependency of `@blitzjs/core` using an npm alias. However sometimes npm is broken and doesn't install that correctly, so [we have postinstall

[2021-10-04 15:49] johnmurphy01 commented on #2793
@flybayer I have an implementation. How would one test installing a recipe locally? I'd like to verify things are 👍 before I make a PR.

[2021-10-04 15:50] namirsab commented on #2380
@mabadir is this issue up for grabs?

[2021-10-04 15:56] abuuzayr commented on #2380
@namirsab it is! do you want to take it up?

[2021-10-04 16:00] winner106 commented on #2742
Thanks for your reply, I tried, but also prompt error

[code]

myApp folder has been successfully created, but when I install chakra-ui :

[code]

[2021-10-04 19:10] g3offrey commented on #2139
I wanted to try out FaunaDB so I can work on this issue and propose a pull request. 😄

[2021-10-04 20:03] g3offrey commented on #2324
I am working on that.

[2021-10-04 20:11] flippyhead opened #2797 "Tailwind recipe fails"
### What is the problem?

Can't use tailwind recipe on a brand new blitz app.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

None, this occurs only vai the command line.

### What are detailed steps to reproduce this?

1. blitz new my-app
2. cd my-app
3. blitz install tailwind

### Run `blitz -v` and paste the output here:

[code]

### Please include belo

[2021-10-04 20:12] flippyhead commented on #2797
Realized this has already been reported.

[2021-10-04 20:12] #2797 closed

[2021-10-05 07:57] namirsab commented on #2380
@abuuzayr i want to give it a try, yeah!

[2021-10-05 07:59] abuuzayr commented on #2380
cool @namirsab assigned to you! do let us know here or in discord if you come across any issues.

Thank you!

[2021-10-05 08:58] chartgerink commented on #2793
Just ran into this issue as well for Quirrel (tagging @Skn0tt as an FYI).

[2021-10-05 09:15] beerose commented on #2403
Update: only the `theme-ui` recipe is left :)

[2021-10-05 11:49] beerose opened #2800 "`blitz generate` should check if model name is passed correctly"
### What is the problem?

When you forget to pass a model name in `blitz generate` command (for example: `blitz g all name:string age:int`), it assumes that `name:string` is the model and proceeds to generate invalid code. It would be nice if it was caught before generating the files. We could prompt an error that the model name is not correct.

Related code: https://github.com/blitz-js/blitz/blob

[2021-10-05 11:59] martinsaxa commented on #2800
Hey, I would like to work on this

[2021-10-05 14:45] beerose commented on #2403
Thank you all for your contributions!

[2021-10-05 14:45] #2403 closed

[2021-10-05 14:53] flybayer commented on #2742
Ok, not sure why the cannot find react issue.. but looks that is working.

The blitz install problem is this: https://github.com/blitz-js/blitz/issues/2793

[2021-10-05 14:54] flybayer commented on #2635
Also please test with Blitz `0.40.0` and report back

[2021-10-05 15:02] flybayer commented on #280
Here's the babel plugin that replaces the resolver file contents in the client build: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/build/babel/plugins/blitz-rpc-client.ts

And here's the babel plugin that modifies the resolver file contents in the server build: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/build/babel/plugins/blitz-rpc-server-transform.ts

[2021-10-05 15:08] Amaro-Koberle opened #2804 "blitz generate CLI command fails to generate files"
### What is the problem?

This is the first issue I ever posted on GitHub, please excuse if it is inappropriate in some way.

I am trying to follow the introductory tutorial at https://blitzjs.com/docs/tutorial

However, when I get to the part called "Scaffolding code for our models", I get stuck.
When I run `blitz generate all question text:string` in the CLI, I get an error.

I tried to restart

[2021-10-05 15:47] flybayer commented on #2804
Thanks @Amaro-Koberle! This is odd.

So `node_modules/@blitzjs/generator/dist/templates/page/__modelIdParam__/edit.tsx` file does not exist?

Does the `node_modules/@blitzjs/generator/dist` folder exist?

Does the `node_modules/blitz/node_modules/@blitzjs/generator/dist` folder exist?

[2021-10-05 15:56] Vandivier opened #2805 "field.ts type errors"
### What is the problem?

As a developer, I notice some type errors in this file. Image below, but here's one error text snippet:
`Property 'group' is missing in type '{ type: "attribute"; kind: "field"; name: string; }' but required in type 'Attribute'.`

![image](https://user-images.githubusercontent.com/5559355/136058454-e6660274-dc79-4882-b992-a6d44373b91a.png)

### Paste all your error logs h

[2021-10-05 16:07] Vandivier opened #2806 "0.40 canary blitz generator tests failing"
### What is the problem?

fresh install of 0.40 fails unit tests in the generator subpackage

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

My unit test process seems unable to access the below import, although I've confirmed it's in the package.json and in my node_modules

[code]

![image](https://user-images.githubusercontent.com/5559355/136060636-b3433

[2021-10-05 16:17] Vandivier commented on #2711
kind of depends on https://github.com/blitz-js/blitz/issues/2806

I cloned the repo and ran tests to ensure passage before making any changes, and tests were failing.

If above is merged, then tests pass, and I consider that a starting point for the present issue

[2021-10-05 17:00] flybayer commented on #2805
Hey, did you first run `yarn dev` or `yarn build` as it states [in the contributing docs](https://blitzjs.com/docs/contributing#development-setup)?

[2021-10-05 17:01] flybayer commented on #2806
Hey, same as the other issue, did you first run `yarn dev` or `yarn build` as it states [in the contributing docs](https://blitzjs.com/docs/contributing#development-setup)?

[2021-10-05 17:08] Vandivier commented on #469
@flybayer u can assign me to this, I'll work on it in the next week or two

it could also be split into several issues (one for each needed spec file below)

![image](https://user-images.githubusercontent.com/5559355/136070063-6be2a5da-0199-4215-9697-266dd1faeab7.png)

[2021-10-05 17:08] Vandivier commented on #2805
Good call i didn't...will check and ya that will prob fix it if it's a prisma thing right?

[2021-10-05 17:15] Vandivier commented on #2805
`yarn buildpkg` resolved the issue (+ close VS Code + Open VS Code to make red squiggles go away)

[2021-10-05 17:15] #2805 closed

[2021-10-05 18:03] Amaro-Koberle commented on #2804
Thanks for the swift reply @flybayer!

node_modules/@blitzjs/generator/dist/templates/page/__modelIdParam__/edit.tsx DOES exist.

[code]
![image](https://user-images.githubusercontent.com/53105057/136076613-9a05fbff-30fa-4404-a021-16047a4a1d5b.png)

4 imports are underlined with red squiggles.

All of the errors read `Cannot find module 'app/...'`

`get__ModelName__`, `update__ModelName__` and `__

[2021-10-05 19:09] #2806 closed

[2021-10-06 08:51] beerose commented on #469
I assigned you, @Vandivier! Feel free to split it into as many PRs as you see fit :)

[2021-10-06 09:32] #2711 closed

[2021-10-06 11:04] #2781 closed

[2021-10-06 14:02] maybebored commented on #2144
That makes sense. `@params` and `@returns` would work best for functions. I'm trying to documents Components and Hooks where `@example` would make a lot of sense. Good feedback!

[2021-10-06 19:41] flybayer commented on #2804
@Amaro-Koberle to confirm, the below is what you see?

[code]

If that's the case, I highly suspect something goofy in your local environment. Maybe a shell or anti virus or something that is stripping out the `__X__` from file names.

Are you able to try in a new user account on your computer, or another computer or something?

[2021-10-06 19:57] namirsab commented on #2380
@abuuzayr I posted a PR. I don't know if I need to create any integration tests, as I didn't see any of them testing the CLI.

I've added unit tests to the function i've added, and I've manually tested myself.

I of course don't know if the style of coding  or the error I've thrown is what you would expect, as I miss experience with blitz itself as a user.
In any case, it was a pleasant experience

[2021-10-07 03:11] Talor-A opened #2815 "Put generated zod schemas into a separate file"
### What do you want and why?

Per #2754,
The current `generate` script crates queries / mutations with a zod schema in the same file. When users attempt to export this schema to use in e.g. form validation, it will fail as all imports from query / mutation files are replaced.

Instead, it would be great if they were in a separate file to avoid this unexpected behavior.

### Possible implementatio

[2021-10-07 03:12] Talor-A commented on #2754
Done! #2815

[2021-10-07 08:08] okmr-d opened #2816 "make RouteURLObject work directly with res.redirect"
### What do you want and why?
Currently, the expected type of API route' `res.redirect` is string.

It would be nice if we could pass one of our Route Manifest objects into this field.

### Possible implementation(s)

(1) ~add toString() method to RouteURLObject~ (will be covered by blitz-js/blitz#2829).

(2) make RouteURLObject work directly with res.redirect.

### Additional context
similar issu

[2021-10-07 15:56] Talor-A commented on #2815
I'm not sure, do all files in a ` queries` directory get transformed? Or would this not be an issue?

[2021-10-07 20:34] jelling commented on #2782
+1 for documenting `log`

[2021-10-08 21:30] flybayer opened #2826 "Make `blitz codegen` also generate prisma client if prisma is installed"
### What do you want and why?

Currently to generate all code you have to run `blitz codegen && blitz prisma generate`. We should make `blitz codegen` also run `prisma migrate` if prisma is installed.

### Possible implementation(s)

- Codegen cli command file (where to add the code): https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/codegen.ts
- Use `require('prisma')` to ch

[2021-10-09 03:32] tomhallam opened #2827 "Decrease the size of built Dockerfiles"
### What do you want and why?

Thank you for your excellent project. I'm really stoked to see something like this gaining traction and I am keen to help out where I can. However, this issue goes beyond my skill as a speculative contributor -

As discussed in https://github.com/blitz-js/blitz/issues/289, the Docker image when running the following multi-stage Dockerfile is roughly 600MB on a pretty

[2021-10-09 08:57] nickluger opened #2829 "Routes manifest: Extract real/dynamic paths from RouteUrlObject"
### What do you want and why?

[Routes manifest](https://blitzjs.com/docs/route-manifest#query-parameters) is a great Single Source of Truth for pages and routes. There are certain places in the app, though, where we would need the filled out URL-path instead of the Next.js dynamic-placeholder path, i.e. we would like to extract

[code]

instead of
[code]

Currently, the `RouteUrlObject` generated

[2021-10-09 13:52] aleplusplus commented on #2680
I have the same issue

[2021-10-09 22:15] justjake opened #2831 "Large error from passportAuth redirect causes HTTP 431 error with no response body"
### What is the problem?

Tweet summary: https://twitter.com/jitl/status/1446848491452575746

Prisma's errors are very detailed and helpful, but if they end up in a query param - like for an OAuth error redirect - your app might not be able to actually render anything.

- Probably passportAuth should truncate errors
- But also Blitz should have a route or default error page for 431 errors, even if

[2021-10-11 02:13] kotx opened #2832 "Update Material-UI recipe - "Can't resolve CssBaseline""
### What is the problem?

- After using `blitz install material-ui`, I can't build the project: `Can't resolve '@material-ui/core/CssBaseline'`
- Unrelated, but there was this deprecation warning before this broke: `_app.tsx` also uses `createMuiTheme`, which was replaced with `createTheme` a while ago.

Also, it seems material-ui has moved to https://mui.com/ and `@mui/material`. The recipe shoul

[2021-10-11 10:53] beerose commented on #2804
Thank you for letting us know, @Amaro-Koberle! I'm closing this issue then, but feel free to reopen if it happens again, or it turns out to be Blitz related after all.

[2021-10-11 10:53] #2804 closed

[2021-10-11 13:07] beerose commented on #2816
Ideally, we could have both implementations. The first one could also cover this issue: https://github.com/blitz-js/blitz/issues/2829 (the suggested solution is slightly different but also works). To keep things tidy, I'll rename this issue to `make RouteURLObject work directly with res.redirect` (solution number 2), and solution number 1 will be covered by https://github.com/blitz-js/blitz/issues

[2021-10-11 13:12] beerose commented on #2829
Thanks for reporting. I think this is a nice idea! In other issues (#2816, #2619), a suggested solution was to add `toString` method to `RouteUrlObject`, which handles filled-out path scenario. Open for discussion about what would work better!

[2021-10-11 14:46] #2800 closed

[2021-10-11 20:53] vivek7405 opened #2835 "Feature Request: Bulma Recipe"
### What do you want and why?

I want to add the Bulma CSS framework to the project using Blitz recipe because I am not a CSS expert and Bulma provides a rich set of components which are customisable. Again, Bulma is a popular CSS framework and it is also being used in the Hactoberfest app.

### Possible implementation(s)

Need to integrate Bulma in the bare Blitz app and see what files are added/

[2021-10-12 18:09] vivek7405 commented on #2835
Hi @paulm17 👋🏻

I installed bulma and node-sass and imported the App.sass file (with all the bulma variables and imports) in _app.js.
But, there were errors regarding Node Sass version being incompatible:
[code]

I then installed the specific Node Sass version 4.14.1 and then it worked.

Just thought it would be easier to configure with a recipe for Bulma, but we can probably think of it at a late

[2021-10-12 18:26] paulm17 commented on #2835
Hi @vivek7405 Did you follow https://nextjs.org/docs/basic-features/built-in-css-support#sass-support ?  Maybe it is better than node-sass?

Let me know, if this works or not.

Thanks

[2021-10-13 05:32] divpreet opened #2838 "Infinite query requests when Blitz app loaded inside an iframe"
### What is the problem?

Running a blitz app inside an iFrame leads to infinitely loading queries.

The queries keep repeating themselves and error logged from `onSettled` method shows a CancelledError.

We have our application running in various environments eg.  as a browser app, as an iframed app inside another application.
Once we upgraded the app from 0.38.2 to 0.38.3, we notice the app neve

[2021-10-13 10:56] #2468 closed

[2021-10-13 13:58] beerose commented on #2144
Go ahead @dmahajan980! There are still many functions without tsdoc comments, so feel free to document at least one.

[2021-10-13 15:30] beerose opened #2840 "Environment Variable Loading"
### Discussed in https://github.com/blitz-js/blitz/discussions/2444

<div type='discussions-op-text'>

<sup>Originally posted by **flybayer** June  3, 2021</sup>
## Problem

Blitz/Next use basically [dotenv-flow](https://github.com/kerimdzhanov/dotenv-flow) to load env var files like `.env`, `.env.test`, `.env.development.local`, etc.

That behavior relies on setting NODE_ENV to the appropriate va

[2021-10-14 15:36] flybayer commented on #2815
👆 @beerose's comment as the correct approach here imo.

[2021-10-14 15:55] flybayer commented on #2827
Thanks @tomhallam! We should definitely address this

[2021-10-14 16:05] flybayer commented on #2829
I vote for `Routes.Post().href`. `href` matches other nextjs/blitz href usage and also `new Url()` usage.

[2021-10-14 22:21] Redaloukil commented on #1767
Hi @flybayer, I want to work on  **2.Test blitz build success inside new app**
I've been following the discussion and reading some of the links that you posted above, It's still unclear what are the steps to follow and how to reproduce those steps in cypress and test results. In my understanding, the testing flow for **2.Test blitz build success inside new app** would be :

1. Create a new app run

[2021-10-15 08:58] beerose commented on #1767
Hey @Redaloukil, here are a few links that can be helpful:
1. Cypress' `exec` command that you can use to run CLI commands https://docs.cypress.io/api/commands/exec#Usage. You can probably use this for 1. and 3. points. You'd also probably need to pass flags for forms, package manager etc, so that the command doesn't prompt to ask questions.
2. An example of the testing flow including `exec` usage

[2021-10-15 14:53] flybayer commented on #2838
Well that is weird... Btw here's the new code location: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/data-client/rpc.ts#L142-L154

[2021-10-15 19:46] noga-aviator opened #2843 "Faunadb example does not work"
### What is the problem?

First, there are missing modules like 'zod' in the package.json, and react seems to be on an older version, but even when you fix those there are still issues.

### Paste all your error logs here:

[code]
after `npm i zod`
[code]
after `npm install --save-dev typescript` and loading localhost:3000
[code]

### Paste all relevant code snippets here:

[code]

### What are de

[2021-10-15 23:46] fleck opened #2845 "file storage abstraction layer and transform API"
### What do you want and why?

A file storage abstraction layer and transform API. Similar to https://edgeguides.rubyonrails.org/active_storage_overview.html

### Possible implementation(s)

My current setup in a blitz app:

The storage driver is based on @slynova/flydrive. This allows for the same API for s3 (and by extension most competing object storage services), Google Cloud Storage, and loca

[2021-10-17 01:12] margalit commented on #2829
Would love if this also exposed a method that prepended the baseUrl. My specific use case is copying a link to the clipboard for sharing.

[2021-10-17 19:35] CalebDelbridge commented on #2838
I can confirm that `0.38.2` works and I can embed my app, but I'll wait to have `0.41.1` fixed

[2021-10-20 01:23] jelling commented on #2230
Here's how I handle the mirgation mode vs production mode issue for PgBouncer. I'm using Heroku and they set the PgBouncer url as `DATABASE_CONNECTION_POOL_URL`  and the regular db string is in `DATABASE_URL`.

So my `schema.prisma` uses the PgBouncer config looks this;

[code]

And the `migrate` command in `package.json` looks like below, overwriting the default bouncer connection string with the

[2021-10-20 04:18] FSE-Hyd-Raju opened #2861 "Frequently getting 500 error when accessing the app"
### What is the problem?

Hi Team,

I have created a blitz app with prisma and deployed to vercel. When I was accessing the app frequently app crashing with a 500 error. ANy solution for this ?

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

#

[2021-10-20 11:05] krszwsk commented on #2861
Hi @FSE-Hyd-Raju, I'm not an active contributor, but I'd suggest adding more info about your issue, otherwise, nobody will be able to assist you. Getting an internal server error means something crashed on the server, go to your Vercel deployment and check the logs for help.

[2021-10-20 12:12] chrisjkr opened #2863 "`blitz generate` doesn't handle string defaults"
### What is the problem?

It's currently impossible to generate a Prisma model with a string default using `blitz generate`. Not a big deal since it's easy to modify the model manually before migrating, but it's a bad DX. Open to fixing this, if anyone can point me to where to look for and what the intended behaviour is.

### Paste all your error logs here:

No error log, see reproduction steps be

[2021-10-20 12:23] chrisjkr opened #2864 "`blitz generate` doesn't properly handle relations"
### What is the problem?

When generating a Prisma model, `blitz generate` ignores the fact that we also have to add a relation definition to a target model.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

See below

### What are detailed steps to reproduce this?

1. `blitz generate model a name:string`
2.`blitz generate model b name:string relation:A`

Th

[2021-10-20 12:36] beerose commented on #2864
Or we can call `prisma format` inside of `blitz generate` command.

[2021-10-20 16:18] #2742 closed

[2021-10-20 22:10] ospfranco commented on #2521
Seems this broke again, I'm now creating a different app, and whenever I try log via OAuth I get a very brief error flash

![723ab66a-4815-4430-9319-4d10e0d13af3](https://user-images.githubusercontent.com/1634213/138179569-934eec59-32b8-4082-9a67-069d018a270d.png)

[2021-10-20 22:13] #2835 closed

[2021-10-20 22:19] #2324 closed

[2021-10-21 20:58] flybayer commented on #2829
@margalit should that be a separate field? I'm not personally sure of which places nextjs automatically handles basePath and which they don't.

[2021-10-21 21:45] flybayer commented on #2864
I think Prisma used to add that automatically, but now it seems they error lol. Prisma format seems like a good solution.

[2021-10-21 22:11] #2521 closed

[2021-10-22 11:18] ospfranco opened #2871 "When redirecting to oauth endpoint, a page redirection error popups"
### What is the problem?

I implemented third party login via oauth in my app, followed the steps in the official documentation, however, when I do the redirection to the `/api/auth/oauth2` endpoint, the page resolution algorithm kicks in and fails to find a page under `/pages/api/auth/oauth2`, therefore there is a brief error flash:

![138179569-934eec59-32b8-4082-9a67-069d018a270d](https://user-

[2021-10-25 10:10] lovethebomb opened #2876 "Allow to set baseLogger options"
### What do you want and why?

The baseLogger works great currently to display nice logs in the CLI, but sadly there's no way to easily override the baseLogger options before the server starts.

I'd like to use the `type: json` option from [tslog](https://tslog.js.org/#/?id=type) to provide JSON logs to Heroku/Datadog, and easily pass more informations with my logs to help down the road (eg: error

[2021-10-25 11:49] dbrxnds opened #2877 "[Feature Request] Optional "Remember me" functionality"
### What do you want and why?
The ability to set whether a user should be remembered only for the duration of their browser session or for a longer period of time (As is now)

### Possible implementation(s)
We were thinking you could add a property to `session.$create` which allows you to set `rememberMe` to true or false.
If this value is false, the relevant cookies get set with the expiry set to

[2021-10-26 13:30] beerose opened #2879 "`blitz install` doesn't install dependencies for `styled-components` recipe"
### What is the problem?

When installing `styled-components` recipe, no dependencies are installed. There's a success message: "✅ Installed 2 dependencies", though.

Link to the relevant code: https://github.com/blitz-js/blitz/blob/canary/recipes/styled-components/index.ts#L46.

### Paste all your error logs here:

Seeing only success logs in the terminal.
[code]

### What are detailed steps to r

[2021-10-26 14:58] beerose opened #2880 "Propagate `prisma generate` errors when using `blitz codegen`"
### What is the problem?

Currently, if a user runs `blitz codegen`, and there there is Prisma installed, Blitz also runs `primsa generate`. If there are any errors during the `prisma generate` step, they aren't displayed in the terminal even when using `DEBUG=blitz:*`. This way some useful information returned from Prisma is omitted.

Relevant code: https://github.com/blitz-js/blitz/blob/canary/p

[2021-10-27 07:05] Jassi10000 opened #2883 "Request to a github action for contributors"
### What do you want and why?
Blitsz is an awesome and an engaging repository , plus due to hacktoberfest'21 many open source enthusiasts ( preferably students who are first time contributors ) open issues and PRs which eventually help repo to grow
I think there should be a github action to welcome  contributors on their each issue and PR
The more information the better!

### Possible implementati

[2021-10-27 07:52] lksnmnn opened #2884 "Unhandled CSRFMissmatchError crashes Blitz"
### What is the problem?

I've updated from 0.38.5 to 0.41.1 in order to fix the CSRFMissmatchError we were seeing for users, that haven't visited for a longer time. Presumbly this error was due to browsers removing the non-http cookie at will.

While this issue seems to be fixed (we saw it once on *dev* but couldn't reproduce so far), I do see several unhandled CSRFMissmatchErrors crashing the Bl

[2021-10-27 15:28] vincentrolfs opened #2885 "Blitz modifies logging output by rewriting paths, even in error messages"
### What is the problem?

[code]

It looks like blitz tries to rewrite paths in console output? This also applies to error messages. This is extremely confusing, as I got an error message like

`[Error: ENOENT: no such file or directory, open '/app/foo/bar.pdf']`

when the real error should have been

`[Error: ENOENT: no such file or directory, open '/app/.blitz/build/foo/bar.pdf']`

This cost me

[2021-10-29 17:23] netwarex opened #2889 "Phusion Passenger support"
### What do you want and why?

Support Blitz.js production server with Phusion Passenger

### Possible implementation(s)

Create a recipe that provides a special entrypoint file designed for Phusion Passenger

### Additional context

Next.js already supports this, so probably no problem to use the same solution for Blitz.js

[2021-10-30 03:34] twhite96 commented on #1331
Fixed this by creating a new Blitz site. My version was so outdated I couldn't run anything.

[2021-10-30 18:56] jayqui opened #2892 "blitz codegen commands cause errors if there are parenthesis in path"
### What is the problem?

The `blitz new` app generation encounters an error when trying to generate `app/auth/components/LoginForm.tsx`. Due to this error, I cannot create a new Blitz app.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. `blitz new simpleActivityTracker`
2. Install dependencies (ei

[2021-10-30 20:07] flybayer commented on #2877
You can make a cookie expire at the end of a session by setting the expire time to `0` or omitting it altogether.

It seems adding ability to set an expire time from `session.$create()` could be a good solution. Because then you can do `session.$create({userId, role}, {}, {expiresAt: 0})` to "not remember".

However, that's not super intuitive. So maybe in addition to that, we can add a "shortcut"

[2021-10-30 20:50] flybayer commented on #2883
I think I agree with @beerose. It's always better if a human responds than a bot.

[2021-10-30 20:53] flybayer commented on #2885
Hey @vincentrolfs, I'm very sorry for causing you to waste hours on that 😞

The good news is that this is totally fixed as of v0.40.0! The intermediate `.blitz` folder is no longer used. It's a much better dev and build experience now

[2021-10-30 21:06] flybayer commented on #2884
Ok that makes sense. Thanks! Will fix

[2021-10-30 21:10] flybayer commented on #1331
v0.17 😱 happy halloween lol!

[2021-10-30 21:10] flybayer commented on #2892
Can you try node v16? Looks like there could be a Node v17 issue

[2021-10-30 23:31] jayqui commented on #2892
Still occurs with node v16.

[2021-10-31 07:31] Jassi10000 commented on #2883
Ok sure , no issues

[2021-11-01 01:38] aefmind opened #2894 "Infinite loop in useQuery"
### What is the problem?

Infinite loop in queries (`useQuery`, `usePaginatedQuery`...). Problem is even present in a clean project generated by `blitz new` command.

When using `blitz dev`, sometimes it stops after several reloads. But using `blitz build && blitz start` loop is always endless.

### Paste all your error logs here:

No errors are shown. But suspended content is reloaded infinitely

[2021-11-01 02:09] jodylecompte commented on #2892
I am not able to reproduce on v16.6.1

[2021-11-01 03:43] aefmind commented on #2894
I've installed it succesfully in Windows and all is working fine. But this problem is still present in server using Ubuntu 20.04

`blitz -v` output in Windows:
[code]

[2021-11-01 08:11] beerose commented on #2767
Huge thanks to everyone who contributed! 🎉

[2021-11-01 08:11] #2767 closed

[2021-11-01 08:11] vincentrolfs commented on #2885
@flybayer Thanks a lot for your reply, I will check out the new version!

[2021-11-01 08:19] beerose commented on #2883
I'm closing this issue then. But thanks for an idea @Jassi10000 — we may reconsider it in the future!

[2021-11-01 08:19] #2883 closed

[2021-11-01 10:22] beerose opened #2895 "Add `deepEqual` utility to stdlib and use it for `initialValuesEqual` in `react-final-form` template"
### What do you want and why?

If a user has a react-final-form with a JS Set (or Map) in the initial values, the form resets on some activities, e.g. switching to another tab.

### Possible implementation(s)

This can be fixed by using the `initialValuesEqual` prop:

[code]

We can add a `deepEqual` utility to our `stdlib` and then add it to final form template. We can use the `nextjs` compiled l

[2021-11-01 11:14] beerose commented on #2892
My guess would be that there can be a babel plugin that interferes and that causes a parsing issue.
Could you try to run `blitz new` in different locations?

[2021-11-01 14:05] beerose commented on #2525
I attempted to investigate this problem and was able to reproduce it with the original code, but it works fine when using `DocumentHead`. Since it's already mentioned in the docs to use `DocumentHead`, I'll close this issue. Please reopen if there are any more problems!

[2021-11-01 21:15] aefmind commented on #2894
I upgraded to Ubuntu 21.04 and problem persists

[2021-11-01 22:08] thisdotrob opened #2896 "Heroku release command fails because `prisma` is not installed"
### What is the problem?

I have created a new app with `blitz new myApp` and followed the instructions at https://blitzjs.com/docs/deploy-heroku to deploy to heroku.

When running `blitz new` I selected `npm` for dependency management. I also set Node 16 in `engines` in `package.json` so that Heroku uses the same version as I am locally.

After pushing to Heroku the build succeeds but deploy fail

[2021-11-02 03:09] malekjaroslav commented on #2614
@flybayer This would be great! That'd also solve other use-cases - like using Auth0 + JWT tokens from CLIs or mobile apps.

[2021-11-02 10:48] dhythm opened #2898 "[Feature] `blitz db seed` can be receive the file option"
### What do you want and why?
`blitz db seed` always refers `db/seeds.ts`, it may be useful to refer another path like `db/mock.ts`.
The reason why I think so that we sometimes want to prepare mock DB to check behaviors, but not want to rewrite `db/seed.ts` for temporary check.

So, I think that adding the file option to `blitz db seed` like `blitz db seed -f db/mock.ts` would help us much more.

[2021-11-02 12:08] thisdotrob commented on #2864
Is the plan still to open a separate PR for this? I found my way to this issue I as I couldn't work out how to cleanly use `blitz g` to generate models with relationships, as the docs suggests it should.

[2021-11-02 12:39] Cyklan opened #2899 "`blitz generate` does not generate the correct `zod` objects"
### What is the problem?

I'm trying blitz for the first time today and I've followed the tutorial. When reaching the [`blitz console`](https://blitzjs.com/docs/tutorial#scaffolding-code-for-our-models) part, I got multiple error messages, that some files could not be compiled. Upon further inspection, I noticed that the `CreateQuestion object` did not contain the specified `text` key, but rather

[2021-11-02 13:29] thisdotrob commented on #2864
Something to note; running `blitz prisma format` to create the missing opposite relation does not set the `fieldName` as I'd expect.

For example, running the below
[code]

will result in the following on the Foo model
[code]

I would have expected the `fieldName` to be `bar` not `Bar`.

[2021-11-02 13:33] thisdotrob commented on #2864
Also, what should happen when using `belongsTo`?

E.g.:
[code]
will result in the following on the `Foo` model:
[code]

It assumes there should be a one-many relationship Foo -> Bar, but the user may want a one-one relationship.

Also, if it is a one-many relationship, I would expect the `fieldName` to be `bars` not `Bar`...

[2021-11-02 15:44] Cyklan commented on #2899
I'm closing this because I am an idiot who should have read two more paragraphs.

[2021-11-02 15:44] #2899 closed

[2021-11-02 20:09] meehawk commented on #2895
@beerose can i take this up?

[2021-11-02 20:10] flybayer commented on #2894
@aefmind what are you using to access it via different hostname? Something like ngrok?

[2021-11-02 20:12] aefmind commented on #2894
No. I'm using browser. I've used chrome, edge and brave.

[2021-11-02 20:52] #2885 closed

[2021-11-02 20:55] flybayer commented on #2899
@Cyklan no worries, you aren't an idiot! :)

[2021-11-02 20:58] flybayer commented on #2864
hmm ok, sounds like we can't just rely on prisma format then.

[code]

should result in
[code]

[2021-11-02 21:11] aefmind commented on #2894
@flybayer using ngrok, it also fails.

[2021-11-02 22:08] #2884 closed

[2021-11-02 23:01] flybayer commented on #2884
Fixed in https://github.com/blitz-js/blitz/releases/tag/v0.41.2-canary.5

Note - that doesn't prevent users from seeing the CSRF error, it just prevents the server from crashing.

[2021-11-03 04:58] maxall41 opened #2904 "Update graphql-apollo-server and run prisma generate"
### What is the problem?

after running `blitz install graphql-apollo-server` and then going to `http://localhost:3000/api/graphql` i get `Internal Server Error` on the page and in the terminal i get the logs below.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

Just the default graphQL stuff

### What are detailed steps to reproduce this?

1. create new

[2021-11-03 07:26] lksnmnn commented on #2884
Great! Thank you!
The error is correct, as long as it doesn't crash the server anymore. I will test it now :)

[2021-11-03 07:39] Andrew6ix commented on #2892
me too

[2021-11-03 11:53] CalebDelbridge commented on #2838
Is there any possible workaround for this @flybayer?

[2021-11-03 12:11] aefmind commented on #2894
Doing SSH port forwarding (from port in remote server to a local port in my PC) makes it works by simply being able to access using localhost. But using IP address or domain, it has the infinite loop.

[2021-11-03 12:43] beerose commented on #2904
After installing the recipe, you have to run `blitz prisma generate`. It's mentioned in the template file, but we can make it more obvious. We can add it to the recipe's readme, or print a message after installing the recipe.

[2021-11-03 14:21] beerose commented on #2896
It looks like the problem is with using `npx blitz`. I reproduced this issue with a different Prisma command. @flybayer any ideas?

[2021-11-03 14:28] beerose commented on #2898
Thanks for the issue! That's a good idea to have a file option

[2021-11-03 21:54] kaedub commented on #2884
I've actually been having this issue on my development server when trying to make a POST request to an RPC url from Insomnia. I have provided a valid antiCSRFToken on the anti-csrf header in the request but still receive this error. This may be a separate issue but I thought I'd at least bring it up.

[2021-11-03 23:05] flybayer commented on #2884
@kaedub yeah that's separate. Feel free to open an issue with steps to reproduce

[2021-11-04 00:26] kaedub opened #2908 "CSRFTokenMismatchError when using curl or Insomnia to request RPC routes"
### What is the problem?

I'm trying to test some functionality through a RPC route and am getting 401 `CSRFTokenMismatchError` even though I have provided a valid `anti-csrf` token header.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:
Not sure if it's relevant, but I have a hardcoded access token in `seeds.ts` that, in a previous version of Blitz, I used

[2021-11-04 04:10] aefmind commented on #2894
@flybayer I managed to workaround this issue creating two files (dev.js and start.js) and running:

-  `node dev.js` instead of `blitz dev`
-  `node start.js` instead of `blitz start`

The contents of these files are:

**start.js:**
[code]

and **dev.js:**
[code]

It is working fine. So the error is in blitz cli.

[2021-11-04 10:17] #2880 closed

[2021-11-04 11:02] JohannesKlauss opened #2912 "Blitz 0.42.0 causes build error"
### What is the problem?

Pre 0.42.0 builds ran just fine, there are no code changes, we just upgraded to 0.42.0. Now the build is failing trying to generate static pages with react-query complaining that there is no `QueryClient` set:

`Error: No QueryClient set, use QueryClientProvider to set one`

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

#

[2021-11-04 11:14] beerose commented on #2912
Did you try to delete `.next` folder and run the build command again?

[2021-11-04 12:24] JohannesKlauss commented on #2912
Yes I tried, it is still happening. Also happening on the deployment pipeline which doesn't hold the `.next` folder.

[2021-11-04 15:20] flybayer commented on #2912
Well I can reproduce this in my client's app, but I can't in a brand new app.

This is very odd. I'm investigating.

[2021-11-04 18:58] Extra-Extra-Dev commented on #2492
Although it's been reported here by @fleck and by others on Discord conversations (million line Prisma file scenario) that removing EnhancedPrisma was not great or did nothing - I must say I see improvement. I'd not tried this fix until yesterday. I apologize.

Before: Task Manager the memory usage WAS in the 1000MG range and using 60% of CPU when recalculating/generating autocomplete/intellisense

[2021-11-04 21:50] flybayer commented on #2838
## Solution (I think)

The core issue is that the auth cookie is not being saved, resulting in a brand new session being created on each request.

Add `sameSite: 'none'` in your sessionMiddleware config in blitz.config.ts so that the third-party cookie can be saved.
[code]

**But:**  it will still not be saved in development with `http`. It will only work on the production site with `https`.

Assu

[2021-11-05 01:19] malekjaroslav commented on #2492
@Extra-Extra-Dev I didn't remove `enhancePrisma`, I just explicitly typed the client with `as PrismaClient` and that helped as well

[2021-11-05 15:46] jayqui commented on #2892
UPDATE: when I updated to Blitz 0.42.0, it gave me a new option to choose `Full - includes DB and auth (Recommended)` vs. `Minimal — no DB, no auth`. The above-described error happens when I choose the `Full` option seemingly no matter what other setup options I choose. But it does not happen when I choose the `Minimal` option.

[2021-11-05 18:45] tmcw opened #2918 "useMutation does not have a type error for mutation without required input"
### What is the problem?

On a clean Blitz install, find a mutation with an argument, like:

[code]

Editing that mutation to a version without an argument, like

[code]

Will pass TypeScript's type checking, but will trigger an error in Zod because you've called the underlying mutation endpoint with `undefined` instead of an object. This appears to root in the custom types that Blitz has for a mu

[2021-11-06 16:35] flybayer commented on #2896
Then issue is with this code here: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/prisma.ts#L4-L13

It should be changed to resolve `@blitzjs/server` from the current working directly, not relative to the file like it is now

[2021-11-06 16:39] flybayer commented on #2908
So the anti-csrf token is tied to a specific session. You can't copy the token from one session and use it in another.

So in insomnia, you first need to clear all cookies (remove session from insomnia), then make any request to the backend. That will automatically create an anon session and set cookies in insomnia. You'll then need to get the correct anti-csrf token from that cookie in insomnia.

[2021-11-06 16:40] flybayer commented on #2894
Thanks @aefmind for your help! We'll soon be removing the blitz cli wrapper, so probably this will be automatically fixed by that change then.

[2021-11-06 17:03] flybayer commented on #2918
There are two use cases we want to support here:

1. No first arg
[code]

2. Required first arg
[code]

When I was creating the types some time ago, I couldn't figure out how to support both, so I only got the first case to work. But probably there is a way to make them both work.

[2021-11-06 17:09] #2912 closed

[2021-11-06 17:16] flybayer commented on #2912
Fixed in https://github.com/blitz-js/blitz/releases/tag/v0.42.1

[2021-11-07 04:56] chrisj-back2work opened #2925 ""Failed to load" for custom auth handler"
### What is the problem?

I've implemented Auth0 as an external auth provider as described in https://blitzjs.com/docs/passportjs. The auth process itself works well.

After clicking the link to `/api/auth/auth0` and before that page loads, a transient error message appears in the browser: `Error: Fail to load script: /_next/static/chunks/pages/api/auth/%5B...auth%5D.js`

Note that's the urlencode

[2021-11-08 07:01] chrisj-back2work opened #2928 "Route error after running "generate all""
### What is the problem?

After a successful `blitz generate all admin/Tag` run, there is a server error:

`TypeError: _blitzjs_core__WEBPACK_IMPORTED_MODULE_2__.Routes.NewTagPage is not a function`

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

The files created by the generate operation were:

[code]

The NewTagPage route is referenced in `app/pages/tag

[2021-11-08 16:52] #2876 closed

[2021-11-08 17:36] beerose commented on #2928
Related issue: https://github.com/blitz-js/blitz/issues/2865.

Can you try running `blitz codegen` and let us know if that helps?

[2021-11-08 18:07] kaedub commented on #2908
@flybayer thanks for the response. I guess I was just doing this wrong then.

Do API routes support a way to auth with just an API token without having to open a session?

[2021-11-08 21:44] NorfeldtAbtion opened #2930 "`blitz new` missing the test packages"
### What is the problem?

Blitz does not come with testing packages like described https://blitzjs.com/docs/testing

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. $ blitz new TestingForTestPackages
2. Typescript
3. yarn
4. yes yes
5. cd TestingForTestPackages
6. cat package.json

### Run `blitz -v

[2021-11-09 08:45] NorfeldtAbtion commented on #2930
Became aware of it when running `yarn tsc` and saw all the related errors

tried to add them manually

[code]

[code]

[code]

but typescript is still not detecting the `extend-expect` ? 🤷‍♂️

[2021-11-09 09:13] NorfeldtAbtion commented on #2930
Extending the previous comment 👆

The jest packages are lacking but found that there was an issue with the way I installed cypress.

[code]

(not sure if the `blitz` preset in the `jest.config.ts` should take care of it or this boilerplate file needs to be updated to this?)

[code]

(notice the addition of **`"**/*.spec.ts"`** and that `"cypress"` is not part of the types)

[code]

[2021-11-09 09:25] beerose commented on #2930
Regarding the test packages `blitz` dependency already has `jest`, and `@testing-library/*`. Can you paste errors you saw?

[2021-11-09 10:46] hugo4711 opened #2933 ""@mui/icons-material" missing"
### What is the problem?

mui dependencies like "@mui/icons-material" are missing

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that show your problem:

_No response_

[2021-11-09 15:07] Extra-Extra-Dev commented on #2492
No change/improvement with this suggestion.

[2021-11-09 15:56] malekjaroslav commented on #2492
[code]

Did you do it like this?

[2021-11-09 18:02] beerose commented on #2933
Hi @hugo4711, could you provide more details? Is the `@mui/icons-material` dependency required for a project to build & run after installing the material recipe?

[2021-11-10 09:46] #2889 closed

[2021-11-10 11:24] yusiflinurlan commented on #2139
@flybayer , Hello! Can you please assign this to me?

[2021-11-10 11:35] beerose commented on #2925
Hey @chrisj-back2work, I'm sorry for the late response. Thank you for the detailed steps to reproduce!

Good thing  — I was able to reproduce it locally, but not sure yet what's the cause. We'll get back to you as soon as we have some more info.

[2021-11-10 11:46] beerose commented on #2925
Ok, got it! So the `Link` component is from Next and it tries to navigate to a Next page without reloading the app, so if you replace `Link` with just `a` it works fine (`a` will direct the user to an URL as a new page):
[code]

Let us know if that helped!

[2021-11-10 12:19] beerose commented on #2871
@ospfranco are you using `Link` component for auth buttons? If yes, I think the issue is that Next tries to navigate to a Next page without reloading the app, so using `a` should work fine (a will direct the user to an URL as a new page).

@flybayer correct me if I'm wrong, but shouldn't there always be `a` for links to auth API?

[2021-11-10 12:46] ospfranco commented on #2871
Ah, you are right, I was using a `<Link/>`! Sorry, my bad!

[2021-11-10 12:46] #2871 closed

[2021-11-10 12:53] #2925 closed

[2021-11-10 13:15] #2879 closed

[2021-11-10 14:24] jxe commented on #2492
Upgrading to typescript 4.5 fixed this for me. Apparently they broke an optimization and then fixed it again.

[2021-11-10 15:27] malekjaroslav commented on #2492
I can confirm, TS 4.5.1-rc works like a charm

[2021-11-10 16:06] 90dy opened #2935 "0.42.4 .blitz folder not resolved by @next/stdlib with pnpm"
### What is the problem?

When using blitz 0.42.4 (latest) with pnpm 6.16.0, .blitz folder is not resolved by @next/stdlib
It works with blitz 0.40.0

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. `blitz new apptest --pnpm --template=full --form=react-final-form --language=typescript`
2. `cd appte

[2021-11-10 19:55] NorfeldtAbtion commented on #2930
I have tried see if I can reproduce it by starting a new and repeating the steps and reverting the jest installs on my existing. I just can't reproduce the issue. 🤔

I apologise for any inconvenience it might have caused you.

[2021-11-10 19:55] #2930 closed

[2021-11-10 20:00] beerose commented on #2930
There's no inconvenience! I'm glad the issue is solved. Feel free to reopen this issue or open a new one if you face any more problems :)

[2021-11-10 20:57] Extra-Extra-Dev commented on #2492
@jxe @malekjaroslav

Well I'm gonna say TS4.5.1-RC is an improvement.  I tested without @malekjaroslav's suggestions and feel/see improvement that is considerable. There are occasional small, sluggish lags -- but survivable. @iDavidB ... I think many of us would be curious for you to try this.

I also tested/tried TS4.5.1-RC _with_ @malekjaroslav's mod and feels even peppy peppy peppier. Of course

[2021-11-11 11:37] Kiodok opened #2937 "Missing Blitz sessionMiddleware when trying to use passport-twitch-strategy"
### What is the problem?

I'd like to include twitch login for my blitz application. I created a Button in the login form with a router.push to the route "/api/auth/twitch".
After that I was able to login through twitch and authorize my app.
I already tried the passport-twitch package, but found out that it is a bit outdated, last update years ago.
So I switched to passport-twitch-strategy, which

[2021-11-11 12:25] beerose commented on #2935
Related issue: https://github.com/blitz-js/blitz/issues/2865

Does this happen only with pnpm?

[2021-11-11 12:32] beerose commented on #2933
I just tried this recipe and it seems to work correctly — any additional dependencies are up to the users. I'm closing the issue — feel free to reopen with more details.

[2021-11-11 12:32] #2933 closed

[2021-11-11 12:49] beerose commented on #2937
Hi @Kiodok!
I think there are two issues:
1. Missing Blitz session middleware — yet to investigate.
2. `Failed to load script ...` in the browser — are you using `<Link>` component? If yes, you should use `<a>` instead. We had a similar issue here: https://github.com/blitz-js/blitz/issues/2871, and it seemed to help.

[2021-11-11 13:10] beerose commented on #2793
I'm closing this issue as the main problem was solved by removing the usage of `Spinner` components. `ink-spinner` in version 4.0.3 has an internal fix, so we'll soon update it and revert back to using spinners.

[2021-11-11 13:10] #2793 closed

[2021-11-11 14:07] Kiodok commented on #2937
Hello @beerose :)
With your advice from the second step, I was able to fix the error shown in the second screenshot from above.
Missing Blitz sessionMiddleware is sadly the same.

But I have a new error now, take a look below:
![grafik](https://user-images.githubusercontent.com/12086438/141311895-e96342b2-33db-4261-a74c-ec65ff45920d.png)

Thanks for your help so far 👍

[2021-11-11 16:14] danestves commented on #2935
Yeah, only with pnpm

[2021-11-11 16:54] shaohaolin commented on #2918
What is thought on setting first argument to required? Doing so will prevent possible bugs and fix typing, at the expense of having to call the function as `mutate(undefined)` when the mutation does not have any variables.

[2021-11-11 20:32] #2908 closed

[2021-11-11 20:46] flybayer commented on #2492
Good news for TS 4.5! And if the type code workaround for enhancePrisma does improve perf, then we can export a type that has any additions we add to make this cleaner. And switch to that by default.

[2021-11-11 23:06] Lucheti opened #2940 "Blitz is bricking the browser tab"
### What is the problem?

I'm using a UI library called "ant design" link: https://ant.design/ and im not really sure on whick version did this change but i was using blitz@0.42.4 (latest version to date) and a lot of interactions with this UI library ended up on the browser tab bricked, totally unresponsive.

This happened some times when using the **Select** input but the one that was super cons

[2021-11-12 08:43] noxify opened #2941 "[Feature] Allow to run additional commands in the recipe installer"
### What do you want and why?

@beerose explained it very good in the PR:

### Possible implementation(s)

I had in mind to implement only something like `runBlitzCommand` ( Example: `builder.runBlitzCommand('prisma migrate')` ).

But with the comment from @beerose, I think it's better to implement it more generic via `runCommand` ( Example: `builder.runCommand('blitz prisma migrate')` ).

This al

[2021-11-12 10:55] beerose commented on #2941
Thanks for creating this issue! We use [`cross-spawn`](https://www.npmjs.com/package/cross-spawn) package in other places, so that's something we can use here as well.

[2021-11-12 11:16] noxify commented on #2941
If it's not urgent, I can give it a try after my vacation ( 2 weeks ).

[2021-11-12 11:23] beerose commented on #2941
Awesome!

[2021-11-12 12:05] beerose commented on #2940
@Lucheti could you edit the issue and add some markdown formatting? 🙏🙏

[2021-11-12 13:17] noxify commented on #2941
Reminder for myself:

Docs to update:
* https://blitzjs.com/docs/writing-recipes
* https://github.com/blitz-js/blitzjs.com/blob/main/app/pages/docs/writing-recipes.mdx

[2021-11-12 13:53] Lucheti commented on #2940
i didn't realize that using "<>" symbols would mess the whole markdown, sry for that

[2021-11-12 14:07] beerose commented on #2937
hey @Kiodok, I was trying to reproduce it and `passport-twitch-strategy` seems to work fine, so maybe the problem is somewhere else. Could you share your `blitz.config.ts`?

[2021-11-12 14:51] Kiodok commented on #2937
Hey @beerose :D
That sounds great so far, thanks for trying it out.

**blitz.config.ts:**
`
import { BlitzConfig, sessionMiddleware, simpleRolesIsAuthorized } from "blitz"

const config: BlitzConfig = {
  middleware: [
    sessionMiddleware({
      cookiePrefix: "streamconnect",
      isAuthorized: simpleRolesIsAuthorized,
    }),
  ],

  webpack: (config, { buildId, dev, isServer, defaultLoaders,

[2021-11-12 15:31] beerose commented on #2892
We are unable to reproduce this. It appears to be environment-specific. It would be ideal if someone who can reproduce it, could work on it. In the meantime, you could try a different terminal, or run `npx blitz new ...`.

[2021-11-12 15:57] jahilliard opened #2944 "`Blitz codegen` fails to create Route when there is a comment between JSX component and default if use getLayout and authenticate"
### What is the problem?

See video in more section, but route won't be generated if there is a comment between blitz page and `export default`.  Only able to reproduce while using the `[PAGE].authenticate` and/or `[PAGE]..getLayout`

### Paste all your error logs here:

NA

### Paste all relevant code snippets here:

NA

### What are detailed steps to reproduce this?

1. see video

### Run `blitz

[2021-11-12 15:59] flybayer opened #2945 "Migrate all blitz package code into the nextjs fork"
### What do you want and why?

In order to streamline nextjs upgrades, we need to move all blitz package code into the nextjs fork. Once that is finished, we can move the nextjs fork to the top level and then merge nextjs upgrades directly into this repo.

- [x] `packages/babel-preset` @flybayer https://github.com/blitz-js/blitz/pull/2903
- [x] `packages/display` (some or all already in next packa

[2021-11-12 19:24] imcodingideas commented on #2945
I was thinking about that because with this coming: https://twitter.com/leeerob/status/1458846513451384832

[2021-11-12 21:02] tbosch82 opened #2947 "Unable to compile TypeScript on `blitz install [recipe]`"
### What is the problem?

`blitz install [recipe]` fails with an `Unable to compile TypeScript` error when attempting to run in a TypeScript project. I initially noticed when attempting to add `material-ui` but it appears to be failing on other recipes as well.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

NA

### What are detailed steps to reproduce thi

[2021-11-12 21:20] ugogo commented on #2947
Same with `blitz install chakra-ui` 👍

[2021-11-13 02:10] cursecodes commented on #2614
This would be incredibly useful in basically any production app, so I hope that before v1, this gets implemented.

But in the meantime, the methods provided should work just fine.

[2021-11-13 02:55] fleck opened #2950 "recipe install creates folder with the same name as files"
### What is the problem?

installing this recipe: https://github.com/fleck/file-depot#install, leads to this bug: https://github.com/fleck/file-depot#bug-with-recipe

[code]

[2021-11-13 02:57] fleck commented on #2845
anybody interested I have a recipe setup if you wanna kick the tires and provide feedback!

https://github.com/fleck/file-depot#install

[2021-11-13 13:36] strocchia commented on #2947
Same for me on Mac with `blitz install tailwind` :

[code]

[2021-11-13 17:39] alcance commented on #2947
Same issue. Any solution for this ?

[2021-11-13 18:08] ghoshnirmalya opened #2951 "Route manifest runtime errors"
### What is the problem?

Getting the same error as https://github.com/blitz-js/blitz/issues/2865 while creating a new Blitz application.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. npx blitz new blitz-app
2. ✔ You have the latest Blitz version
✔ Pick a new project's language · TypeScript
✔ Pic

[2021-11-13 18:21] alcance commented on #2947
My workaround for now was to install it manually from [Chakra UI + Next.js docs](https://github.com/blitz-js/blitz/issues/2947).

[2021-11-14 14:47] #2947 closed

[2021-11-14 21:42] edmbn opened #2955 "SessionMiddleware to available on Vercel"
### What is the problem?

Using Vercel on production, on latest version of Blitz (0.42.4), I get an authentication error: "Sorry, we had an unexpected error. Please try again. - TypeError: Cannot read property '$create' of undefined".

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

This is my blitz.config.ts:

[code]

### What are detailed steps to reprodu

[2021-11-15 11:38] beerose commented on #2944
That's weird. Thanks for reporting

[2021-11-15 11:54] beerose commented on #2845
@fleck it looks awesome! Do you want to create a PR with your recipe?

Also, is there a way to not use sharp? As it's a native module it can cause a lot of problems and increase the barrier of entry for new contributors or cause problems for existing ones (that is if you want to create a PR to blitz).

[2021-11-15 12:05] beerose commented on #2955
Was it working with `next-translate` with previous Blitz releases?

[2021-11-15 12:10] edmbn commented on #2955
I didn't try since I was using next-rosetta. Once I added the blitz.config.ts change with next-translate it started showing this error on production.

[2021-11-15 12:40] beerose commented on #2955
I think there's a bug related to wrapping the config — I noticed the same issue locally with a different library. In your case, does it also happen locally?

[2021-11-15 12:57] chrisj-back2work opened #2956 "Support for CREATE EXTENSION during migration"
### What is the problem?

Add-on data types like @db.Citext work on initial migration, not subsequent migrations.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

See detailed steps

### What are detailed steps to reproduce this?

Delete existing db/migrations dir.

Create a new / empty Postgres DB and shadow DB.

Apply this configuration to both of the DBs

[2021-11-15 13:00] beerose commented on #2956
Hey! I think this is more of a Prisma issue because Blitz uses Prisma to run the migrations and other db related things also go through prisma.

[2021-11-15 13:08] edmbn commented on #2955
With next-translate I can't reproduce it locally

[2021-11-15 13:16] chrisj-back2work commented on #2956
Confirmed that before `prisma migrate reset`, the extensions show up in both DBs; and after the command fails, the extensions are missing from main (but not shadow).

[2021-11-15 13:17] chrisj-back2work commented on #2956
I'll do some research on the prisma side -- will bring back a solution if I find one.

[2021-11-15 13:21] chrisj-back2work commented on #2956
This is a known issue. The workaround is what I was already doing: add the CREATE EXTENSION language to the top of the migration.sql file

https://www.prisma.io/docs/guides/database/developing-with-prisma-migrate/enable-native-database-functions

This is worthy of a small doco add. Assuming you accept PRs on doco, I'll try that.

[2021-11-15 13:24] beerose commented on #2956
Yes, we do! Here's the repo: https://github.com/blitz-js/blitzjs.com

[2021-11-15 14:14] flybayer commented on #2951
I believe is is a duplicate of https://github.com/blitz-js/blitz/issues/2935.

Let us know if it's not.

[2021-11-15 14:14] #2951 closed

[2021-11-15 14:15] zayenz opened #2957 "`blitz install tailwind` fails with `TSError: ⨯ Unable to compile TypeScript`"
### What is the problem?

In a new blitz project with default options using yarn, the recipe for installing Tailwind fails with a `TSError: ⨯ Unable to compile TypeScript` error.

Potentially relevant is that I use yarn managed by Volta. See full details below.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce

[2021-11-15 14:45] edmbn commented on #2955
I can confirm it's only happening on Vercel in my case. On Render it is working fine.

[2021-11-15 22:14] ricardoSlv opened #2959 "Logout redirect between pages with oposite auth state redirects can't be done cleanly"
### What is the problem?

With the folowing pages:

- Page A -> Redirects Unauthorized users to Login Page
- Home Page -> Redirects Authorized users to Page B

If we're on page A and want to do a logout and redirect to Home Page, we have no way of doing that without causing issues on the site.

1.  If we call router.redirect(Home Page) and then logout mutation, the site executes the routing before

[2021-11-15 22:26] CalebDelbridge opened #2960 "PNPM doesn't work on vercel"
### What is the problem?

When a blitz app is deployed on Vercel with PNPM, Vercel cannot detect the next.js version and ultimately fails to build the app.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Create a blitz app
2. Deploy app on vercel with pnpm as package manager

### Run `blitz -v` and

[2021-11-16 00:10] divpreet commented on #2838
Sorry, had been pretty busy the last few days. I don't think this resolved my issue even when I run it in production mode. But I ll try out a few things and see if this is somehow related.
Interested to see if this solved it for @CalebDelbridge

[2021-11-16 00:59] CalebDelbridge commented on #2838
@divpreet I haven't thoroughly investigated it, but it did solve my issue

[2021-11-16 01:28] fleck commented on #2845
@beerose great! I'll work on getting a PR ready. Good idea on not using sharp by default. I'll see if I can get it to work with https://github.com/oliver-moran/jimp and then comment out a sharp based solution (sort of how blitz defaults to sqllite, but has postgresql settings commented out as many users will ultimately want that).

[2021-11-16 03:27] flybayer commented on #2950
thanks for reporting!

[2021-11-16 03:29] flybayer commented on #2960
Thanks! We can solve it by copying our next fork package.json to `node_modules/next/package.json` in our [blitz postinstall hook](https://github.com/blitz-js/blitz/blob/canary/packages/blitz/scripts/postinstall.js) when on vercel. That way when vercel does `require('next/package.json')` they can find something.

[2021-11-16 12:30] CalebDelbridge commented on #2960
Great, thank you!

[2021-11-16 13:03] beerose commented on #2959
Thanks!

[2021-11-16 14:50] Lucheti commented on #2940
i'm well aware of that but even if i tried to pass on a string instead of the component the window would brick anyways

[2021-11-16 15:42] #2898 closed

[2021-11-16 21:32] tmcw opened #2964 "Authorized queries run and crash in server rendering"
### What is the problem?

Routes that use `getServerProps` are rendered with SSR. If they use `useQuery`, the value of the query result, if you have a `resolver.authorize` call, is `undefined`. As a result, any page that relies on a `useQuery` value that is non-nullable and runs on the server will cause that route to crash in production.

Any of the following would be better:

- If `useQuery`'s re

[2021-11-16 23:40] divpreet commented on #2838
Ok I think I was able to make it work after jumping through a couple of hoops.
In addition to `sameSite: "none"`, I also needed to add `secureCookies: true`

And instead of running the app on http://localhost:3000, I had to run it on https://127.0.0.1:3001 as `secure` is not added for localhost as the hostname, which I found out from the PR https://github.com/blitz-js/blitz/pull/2361
PS. I added a

[2021-11-17 06:25] exKAZUu opened #2969 "`createQuestionSchema` seems not working (tutorial)"
### What is the problem?

The tutorial shows the following code, but client validation seems not working.

[code]

For example, if we change the definition of `CreateQuestion` as follows:

[code]

So I expect we cannot enter non-email string in a question text, but we can do and got the following error from a SERVER (not a client).

![image](https://user-images.githubusercontent.com/436237/1421454

[2021-11-17 06:38] exKAZUu commented on #2969
I have another but a related question.
Since the file path of the auth validation is `app/auth/validations.ts`, I suspect we should move `validation.ts` from `app/pages/questions/validations.ts` to `app/questions/validations.ts`. (Actually, I tried, but the behavior didn't change)

[2021-11-17 07:01] exKAZUu opened #2970 "`blitz install material-ui` doesn't work"
### What is the problem?

`blitz install material-ui` fails due to the following type errors.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

Nothing.

### What are detailed steps to reproduce this?

1. `blitz install material-ui`

### Run `blitz -v` and paste the output here:

I've confirmed that the errors occurred on both blitz `0.42.4` and `0.42.5-dang

[2021-11-17 08:58] beerose commented on #2970
Thanks for the report! I'm closing as a duplicate of https://github.com/blitz-js/blitz/issues/2957. It will get fixed with the new release, which should be today.

[2021-11-17 08:58] #2970 closed

[2021-11-17 09:06] exKAZUu commented on #2970
Sorry for duplicated issue 😓

[2021-11-17 09:15] beerose commented on #2970
No problem!

[2021-11-17 09:52] #2935 closed

[2021-11-17 10:21] beerose commented on #2969
Hey! Thanks for reporting this.

As for the first question — yes, the validators don't work when exported from `mutations/` or `queries/` folders. That's because code in those folders can only run on the server, and secondary imports are undefined on the frontend. Here's more: https://github.com/blitz-js/blitz/issues/2754. That's why it's necessary to move it to a separate file: https://blitzjs.co

[2021-11-17 14:41] jatidevelopments opened #2972 "Deployment on AWS: TypeError: Cannot read property '$create' of undefined"
### What is the problem?

I have successfully deployed BlitzJS to AWS. However, when I try to login or signup an account I get an Error:
Blitz.JS Deployment: TypeError: Cannot read property '$create' of undefined

I think this issue is related to blitz-js/blitz#2955

I don't wrap the config like in the issue in 2955, so I don't get why it's not working correctly. BlitzJS is supported with this mod

[2021-11-17 14:41] jatidevelopments commented on #2972
Related to: https://github.com/milliHQ/terraform-aws-next-js/issues/239

[2021-11-17 15:29] beerose commented on #2957
Fixed via https://github.com/blitz-js/blitz/pull/2952. We'll do a release soon!

[2021-11-17 15:29] #2957 closed

[2021-11-17 15:31] MrLeebo commented on #2614
@cursecodes I don't think the base app template should necessarily be updated to include any of this. The base architecture is the most secure when it assumes that all fetches are same-origin only, which doesn't require access tokens. Blitz shouldn't make assumptions about which endpoints the developer is going to share with outsiders; you should always have to opt-in to that functionality, whethe

[2021-11-17 15:31] beerose commented on #2956
I'll move this issue to the docs repo, and change the title.

[2021-11-17 16:44] flybayer commented on #2972
Hey @jatidevelopments, I'm not sure if we've had anyone use this module with Blitz yet.

In order for Blitz auth to work correctly, we need the `.blitz.config.compiled.js` file to be available at runtime. This is generated in the project root at build time. The reason it's compiled is because we support `blitz.config.ts`

Probably the terraform module needs updated to read that file if it detects

[2021-11-17 17:26] ofhouse commented on #2972
Would agree that this is not an issue with Blitz but with the Terraform module.
We currently build with the legacy `experimental-serverless-trace` target and due to that we always create a wrapper `next.config.js` that then requires the original config when running `tf-next build`.

We are in the process of removing the wrapper, so this should be resolved soon.

[2021-11-17 21:01] Andreychik32 opened #2974 "Cannot use multiple prisma clients"
### What is the problem?

I want to develop a project, which will actively use 4 MySQL database connections.
As Prisma doesn't support more than one database schema connections in one `.schema` file, I've decided to follow the second advice from this GitHub issue comment: https://github.com/prisma/prisma/issues/2443#issuecomment-630679118

In the project root, I've created `db-one`, `db-two` and `

[2021-11-17 22:28] reiwa opened #2975 "Starting inspector on 127.0.0.1:9229 failed: address already in use"
### What is the problem?

I read this document (https://blitzjs.com/docs/troubleshooting#chrome-devtools-server) and try to debug blitz app with DevTool, but this looks like it is not working correctly.

[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. open termial
2. run : `NODE_OPTIONS='--i

[2021-11-17 23:50] flybayer commented on #2972
Ok, then a workaround that probably would work is use `patch-package` to change `next.config.js` in the terraform module to `.blitz.config.compiled.js`.

[2021-11-17 23:50] #2972 closed

[2021-11-18 00:00] flybayer commented on #2838
@divpreet yes great point! Want to open a PR to the docs?

Setting secureCookies by default on localhost would degrade DX for most people in development, right? Been awhile since I looked at this so not sure.

[2021-11-18 10:27] beerose commented on #2956
I'm going to close this issue, as it's not strictly related to Blitz. Blitz uses Prisma, but all the issues with Prisma or the underlying database are mostly outside of Blitz control.

You're welcome to submit a PR to our docs if you have ideas on how to make the experience better (we could, for example, put a link to Prisma docs saying that "if you have problems with prisma/db, refer to their doc

[2021-11-18 10:27] #2956 closed

[2021-11-18 15:02] jatidevelopments commented on #2972
Hi @flybayer thanks for the support!

I patched the tf-next package with `patch-package` to `.blitz.config.compiled.js`. Didn't helped.

[code]

I think I need to change `next.config.js` in the terraform module. How am I able to do so? `patch-package`is only for npm packages not for terrafrom.

[2021-11-18 15:17] flybayer commented on #2974
Hey @Andreychik32, I don't *think* there's a bug in Blitz causing this. Not sure what's happening, but I would suggest backing out all your changes until it starts working, then one by one make a change to see what breaks it.

Then feel free to post more information here

[2021-11-18 15:26] flybayer commented on #2964
@tmcw unfortunately @beerose and I are unable to reproduce the issue in a new blitz app. Maybe there is a cache issue from your blitz upgrade? Try deleting `node_modules`, `.blitz`, and `.next`.

If that doesn't work, can you provide a full repo that we can clone and test? We'd love to get this fixed for you.

[2021-11-18 16:44] #2904 closed

[2021-11-18 18:04] ofhouse commented on #2972
Quick explainer here: The "module" consists of two parts:
1. The CLI [`tf-next`](https://www.npmjs.com/package/tf-next)
2. The deployable [Terraform code](https://registry.terraform.io/modules/milliHQ/next-js/aws)

The CLI creates a package from your Blitz / Next.js source that is consumable by AWS Lambda.
Terraform then picks up the package and creates AWS resources from it that are then deployed

[2021-11-18 19:18] Andreychik32 commented on #2974
Isn't it caused by some kind of babel config issue? Or maybe my implementation of 4 clients is completely wrong? To use 4 prisma clients, I've specified `output   = "./client"` in `schema.prisma` files, which, after generation, results in this directory tree _(please note the `-L 2` flag in command to limit introspecting subdirectories)_:

[code]

I assume, that in the `client` directories, there

[2021-11-18 20:13] MrLeebo commented on #2838
Right, making cookies secure in dev would cause the session cookie to not be issued on most developer's machines since dev is generally run without SSL, but it seems weird that the isLocalhost() check ignores and operates outside the purview of the `secureCookies` config; presumably if you're adding that option then you're also taking responsibility for defining what it should be in each environme

[2021-11-18 20:30] Andreychik32 commented on #2974
Also found this prisma issue: https://github.com/prisma/prisma/issues/10058

I've tried to run `yarn add prisma@3.5.0 @prisma/client@3.5.0` and regenerated all prisma clients.
After that, I've got this error:
[code]

Now I've found this issue https://github.com/prisma/prisma/issues/6899#issuecomment-849126557 (also prisma) and added this snippet to `blitz.config.js`.

And now, I get this error:
[c

[2021-11-18 22:23] Andreychik32 commented on #2974
I suppose that Babel should not bundle generated prisma client if it was generated inside the project directories.

[2021-11-19 00:56] tuvshinbayar-coinhub commented on #2974
Did you manage to solve it?

I am using multiple databases so generated 3 clients for it and when I import the generated clients then run the code. It says
[code]
and API is very slow on the first call.

[2021-11-19 00:58] giva9712 commented on #2974
Did you manage to solve it?

I am using multiple databases so generated 3 clients for it and when I import the generated clients then run the code. It says
[code]
and API is very slow on the first call.

[2021-11-19 02:07] tmcw commented on #2964
Sorry, working on it. This bug is unbelievably hard to diagnose.

[2021-11-19 02:51] tmcw commented on #2964
Okay! I've finally distilled a repro!

https://github.com/tmcw/bug-distill

If you run

[code]

And request the first page, you should get the error.

[2021-11-19 05:15] Talor-A commented on #2454
I spent some time hacking on this, but unfortunately I didn't make much progress :( I'll unassign myself and maybe someone else can pick this up.

[2021-11-19 10:38] beerose commented on #2964
Thanks for the repo! I can confirm that something weird happens and that the behaviour was different with Blitz 0.38. We'll investigate and get back to you as soon as possible

[2021-11-19 10:50] beerose commented on #2975
Thanks for reporting. It looks like this issue might be related: https://github.com/vercel/next.js/issues/11030, and we also pass the `node_options` to subprocesses (when I tried to run next binary with `NODE_OPTIONS='--inspect', the inspector started properly).

I guess that will be solved when we migrate out CLI package to nextjs fork: https://github.com/blitz-js/blitz/issues/2945.

[2021-11-19 14:32] dvnrsn opened #2988 "Blitz Console TypeScript Ctx error"
### What is the problem?

[Short Discord Mention](https://discord.com/channels/802917734999523368/870041934046060615/910998525003825162)

When running `blitz console`, I experience the following error

[code]

Linting passes fine locally and in CI

### What are detailed steps to reproduce this?

1.  I thought this happened with new blitz apps but perhaps I was mistaken. It's happening on an aged b

[2021-11-19 19:02] jatidevelopments commented on #2972
Hmm... Yeah I already thought that the CLI is responsible for building the Lambda Functions. That's why I was confused why changing the `next.config.js` to the builded blitz.js config as @flybayer commented didn't helped.

Would be great if you could fix it over the weekend. I would maybe give a bug bounty reward if this helps for your motivation ;)

Other than that if you know a workaround for sh

[2021-11-19 21:45] flybayer opened #2990 "Routes manifest is not updated without dev server restart"
### What is the problem?

Routes manifest is not updated without a dev server restart

### Paste all your error logs here:

None

### Paste all relevant code snippets here:

None

### What are detailed steps to reproduce this?

1. `blitz dev`
2. Add a new page named `export default TestPage`
3. Add link to that new page using the Routes manifest, `Routes.TestPage()`
4. See error in the browser tha

[2021-11-20 02:25] andyjy commented on #2974
Might help, potentially - how I worked through a bunch of the issues above to get multiple prisma schemas working in a npm workspaces monorepo with multiple packages and Next.JS: https://github.com/prisma/prisma/issues/9435#issuecomment-974576800

[2021-11-20 09:25] winner106 opened #2991 "blitz install recipe failed v0.43"
### What is the problem?

blitz install recipes fail  v0.43

I tried  `blitz install chakra-ui` , failed
also tried  `blitz install tailwind` , failed

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. blitz new blitz01
2. cd blitz01
3. blitz install chakra-ui

### Run `blitz -v` and paste the output

[2021-11-20 11:32] ganeshmani commented on #2896
I am facing this issue too. I need to deploy my app to the Heroku server Is anyone working on this issue?. @flybayer

[2021-11-20 16:22] beerose commented on #2991
Can you try `blitz install` (without providing a name of a recipe) and see if there are any options? It should print available recipes

[2021-11-20 16:54] winner106 commented on #2991
[code]

[2021-11-20 21:36] beerose commented on #2991
It works for me with 0.43.0, but something definitely doesn't look right. Can you run `DEBUG=blitz:* blitz i chakra-ui` and paste the logs here?

[2021-11-21 05:09] markhughes commented on #2525
I can confirm this is still an issue in 0.43.0.

What is the link to the docs? We can insert the link here instead of showing the nextjs message:
https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/eslint-plugin-next/lib/rules/no-page-custom-font.js#L52

[2021-11-21 11:39] WNemencha commented on #988
Had almost the same issue (see below) and was able to fix it by `nvm use 16 && cd .. && rm -rf my-new-blitz-app && blitz new my-new-blitz-app` then I was able to start the `dev` server! Thanks @benjakugler96 ;)

**Original issue**:

[code]

[2021-11-21 14:51] ofhouse commented on #2972
Learned today that Vercel is still forcing `experimental-serverless-trace` as build target when it detects Blitz.
So using the server target as suggested and implemented by https://github.com/milliHQ/terraform-aws-next-js/pull/89 would not help in this case.
I would follow Vercel's evaluation that server target and serverless environment is currently not working for Blitz.

Have you tried to deplo

[2021-11-21 16:17] winner106 commented on #2991
Is it possible that there is a network connection problem?

[2021-11-22 00:33] tafelito commented on #2614
Hey @flybayer, I tried adding that middleware to my blitz app but when I try to access the session by doing `await getSession(req, res)` from an api, I get a `CSRFTokenMismatchError`. Am I missing something?

[2021-11-22 10:42] beerose commented on #2525
I meant this section: https://blitzjs.com/docs/font-optimization#usage

[2021-11-22 10:51] beerose commented on #2991
I thought so in the beginning, but when you run `blitz install` we make a call to fetch available recipes, so if there was a network issue, it should fail earlier. I think I found the issue — we parse args twice: 1) https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/install.ts#L245, and 2) https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/install.ts#L251.

[2021-11-22 11:47] beerose commented on #2991
I thought so in the beginning, but when you run `blitz install` we make a call to fetch available recipes, so if there was a network issue, it should fail earlier. In the install.ts file we parse args twice: 1) https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/install.ts#L245, and 2) https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/install.ts#L251. That

[2021-11-22 11:48] beerose commented on #2991
Could you try a different terminal if possible?

[2021-11-22 17:03] beerose commented on #2964
So in order to fix it, I first tried to create a minimal repro from a new Blitz app. I used @tmcw's code, but it was working fine, so I compared deps, and turns out it fails only with the experimental react version (new Blitz apps have 18 alpha so that works, and that's why we weren't able to reproduce it before).

With experimental version and  `blitz start` runtime  `__BLITZ_SUSPENSE_ENABLED` is

[2021-11-23 15:48] beerose commented on #1298
I'm closing this issue because of inactivity. We can open a new one or reopen this one if we have more demand for the framework for generation prompts.

[2021-11-23 15:48] #1298 closed

[2021-11-23 15:49] beerose commented on #236
If someone wants to work on that, there's been an initial work done in this PR: https://github.com/blitz-js/blitz/pull/1018, which might be good for a starting point or an inspiration for future work.

[2021-11-23 16:40] beerose commented on #2896
It looks like `devDependecies` weren't installed properly (and `prisma` is in dev deps). There are two options:

1. Install deps with `--production=false`, e.g. `npm --production=false install`. From the npm docs:

2. Move `prisma` from `devDependencies` to `dependecies`.

[2021-11-23 22:31] divpreet commented on #2838
@flybayer sorry I had been a bit busy last few days.
I will create a PR to the docs soon.
Shall I close this issue for now?

[2021-11-24 10:12] Yael95 opened #2999 "Azure Compatibility"
I intend on using blitzjs for a Dapp for a media organization, but I wanted to know if blitzjs can be dockerized and deployed on azure?

[2021-11-24 10:13] JuanM04 commented on #2999
I never deployed to Azure, but Blitz can be dockerized without problems. Check out this examples: https://github.com/LoriKarikari/blitz-docker#overview

[2021-11-24 13:12] #2519 closed

[2021-11-24 13:19] beerose commented on #2838
@divpreet I'm going to close this issue, but I created one in the docs repo to keep track of the docs change: https://github.com/blitz-js/blitzjs.com/issues/614

[2021-11-24 13:19] #2838 closed

[2021-11-24 13:28] beerose commented on #2964
I'm going to close this issue, as it doesn't seem to be Blitz specific, but rather something was wrong with a few React versions. Please reopen if this happens again.

[2021-11-24 13:28] #2964 closed

[2021-11-24 15:14] tmcw commented on #2964
Got it - thanks for digging in to this!

[2021-11-24 17:17] kivi commented on #289
Is there anything I could test? Or even help with a Dockerfile that tries to reduce the size?

[2021-11-24 22:14] fleck commented on #2840
Nice, just spent the last hour trying to figure out why NODE_ENV was getting set to production when I thought it should be test!

[2021-11-25 16:54] beerose commented on #2680
Reopening this as it seems to be an issue again — related discussion: https://discord.com/channels/802917734999523368/913414036778008636/913444197128876052

[2021-11-26 14:08] Kiodok commented on #2937
Hello @beerose :)
Did you find out anything new about the sessionMiddleware error?

Greetings,
Kiodok

[2021-11-28 07:06] kyoungduck opened #3004 "[Feature Request] Possible to make anonymous session at passportAuth"
### What do you want and why?

I want to make anonymous session at passportAdapter. For now, I can only return error or publicData to passport `done` callback.
But I just want to make anonymous session(private session).

Because I need to get user information after third party authorized. For example, when I try to implement "Login with blizzard account" I can use [passport-bnet](https://github.co

[2021-11-29 13:13] beerose commented on #289
@kivi you can take a look at this repo from @LoriKarikari: https://github.com/LoriKarikari/blitz-docker. It has a few examples

[2021-11-29 14:25] beerose commented on #2937
Hey @Kiodok — could you try using `<a>` HTML element instead of `router.push` and see if that works? Something like this:
[code]

[2021-11-29 16:14] kivi commented on #289
Thanks @beerose, I already was discussing with Lori and others on Discord. I have this example running: https://github.com/kivi/blitz-docker-example/blob/main/Dockerfile

I was more likely referring to the topic of this issue: "Add a recipe for Docker(file)"

[2021-11-29 16:39] beerose commented on #289
@kivi oops, I misunderstood. Maybe this docs page on writing/testing recipes will help: https://blitzjs.com/docs/writing-recipes?

[2021-11-29 17:15] IRediTOTO commented on #2788
i get this error too.

[2021-11-30 03:33] levu304 opened #3008 "Parameter undefined (dynamic page)"
### What is the problem?

Hi, i'm new in Blitz, when i'm trying dynamic page and using useParam to get parameter from URL, it's return undefined.
Is it a bug? See attach image below

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Create new project
2. Create [slug] folder inside pages folder
3. Cre

[2021-11-30 08:13] Kiodok commented on #2937
Hello @beerose,
Yes, I tried it, but nothing changed.

[code]

[2021-11-30 08:53] oyatek commented on #2704
When I see

`npm ERR! Unexpected end of JSON input while parsing near '...`

I always do
`npm cache clean --force`
And it helps.

[2021-11-30 09:13] beerose commented on #2704
I'm closing this issue due to inactivity. Please reopen if the problem remains!

[2021-11-30 09:13] #2704 closed

[2021-11-30 10:11] beerose commented on #3008
Hi @levu304! Thanks for reporting it — it looks like, for dynamic pages, the param comes undefined as it's not resolved in the router state. It changes to the proper value after it's resolved.
<img width="783" alt="Screenshot 2021-11-30 at 10 46 01" src="https://user-images.githubusercontent.com/9019397/144023848-7203a3b3-14b6-4bc7-9242-0df4ae6cd0ae.png">

[2021-11-30 12:31] beerose commented on #2937
Ok, I tried it again, and this time I used your blitz.config.ts. You overode the config (with the second `module.exports` and there was no session config. You'll have to set `distDir` in the first object:

[code]

[2021-11-30 12:53] beerose commented on #2988
Thanks for creating the issue!

[2021-11-30 13:04] Kiodok commented on #2937
Thanks @beerose, that really helped and did the trick so far.
Now I get some profile information like ID and name from my twitch account.
But after that I got a new error:

14:02:51.173 INFO Starting authentication via twitch...
Starting authentication via twitch...
14:02:51.978 INFO Processing callback for twitch...
Processing callback for twitch...
API resolved without sending a response for /ap

[2021-11-30 16:17] beerose commented on #3008
Ok, so turns out it's actually a React limitation — the page is statically rendered and when you see `undefined` for the first time, it's the pre-rendered version without the information about the URL. Then once it comes online it changes the value to the proper one. You can add an `if` statement in your code to handle that. I'm going to close this issue, feel free to reach out if you have any que

[2021-11-30 16:17] #3008 closed

[2021-11-30 16:26] beerose commented on #3004
I'm going to close this issue and move the discussion back to Discord.

[2021-11-30 16:26] #3004 closed

[2021-11-30 17:26] Nfinished opened #3010 "useQuery initialdata not being set correctly by QueryClient"
### What is the problem?

dehydrated queryClient in getServerSideProps is not correctly rehydrating on the client, resulting in an empty cache and immediate fetch with a suspense state

### Paste all your error logs here:

no logs

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

### Pleas

[2021-11-30 17:48] beerose commented on #2928
It might have been fixed in the latest releases. Could you try and let us know if the issue persists?

[2021-11-30 20:09] Nfinished opened #3011 "Route manifest types don't handle routes with a single optional param"
### What is the problem?

For a route like this:
[code]

`projects/`, `projects/1234`, and `projects/edit/1234` should be equally valid. But as seen in the error logs below, tsc requires that the ProjectsPage route have an id param. I'm pretty sure that param is the wrong type too, `(string | number)[]` is too narrow when `string` and `number` should also be valid.

### Paste all your error logs h

[2021-11-30 20:12] Nfinished commented on #3011
Worth noting that this works as expected in dev so the functionality is there. It's just the stricter types during build that are wrong.

[2021-11-30 20:24] #3011 closed

[2021-12-02 11:09] Stringsaeed commented on #2892
It works when removing blitz from global dependancies, and using `npx blitz new ...`.

[2021-12-02 12:09] beerose commented on #2990
Some things we learned after debugging this issue:

Let's say you have `index.tsx`, and add `users.tsx` and then use `Routes.Users()` in `index.tsx` file.

1. The manifest **IS** updated, but not sent to the browser (you'll see the error that `Routes.Users() is not a function`. The manifest is also updated correctly after renaming the page, but the issue is the same.
2. After a timeout it's being

[2021-12-02 12:11] beerose commented on #2892
Okay, then maybe that's a global installation issue? Did you try reinstalling Blitz? Also, another thing to check is if it helps if you switch to node 14.

[2021-12-02 12:17] Stringsaeed commented on #2892
I am already on node 14, and I encountered the error while I'm on node 14.
but after I removed `blitz` from global dependencies and used `npx` it worked.

[2021-12-02 12:35] beerose commented on #3010
Could be related: https://github.com/blitz-js/blitz/issues/2370

[2021-12-02 15:40] beerose commented on #3010
Hey @Nfinished! The problem is that you have dynamic data relying on the current time (`spacetime.now('utc')`), so the params are different in three places where you use them: 1) when retrieving query key, 2) when setting query client, 3) in the component when using `useQuery`. The hydration works correctly only when the query params are static. I'm going to close this issue as we can't do much ab

[2021-12-02 15:43] Nfinished commented on #3010
Hi, @beerose,  if you look at the next few lines

[code]

you'll see that I'm effectively setting a floor with `.startOf('day')`. It'll be the same everywhere.

[2021-12-02 18:57] beerose commented on #3010
Ah, sorry for missing that. Reopening it then.

[2021-12-02 23:46] flybayer opened #3015 "`connectMiddleware` does not work when imported from `blitz`"
### What is the problem?

`connectMiddleware` does not work when imported from `blitz`

The issue is that we are missing a babel import rewrite rule.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

#### Workaround

[code]

### How To Fix

We need to add a new rule to [this code section](https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/

[2021-12-03 02:09] MukulKolpe commented on #3015
@flybayer can I work on this issue?

[2021-12-03 02:37] rdrgn commented on #2525
I still get the `@next/next/no-page-custom-font` warning even though I'm using `DocumentHead`. (But the font is working correctly.) So I have to suppress the warning by adding a rule to my project-level eslintrc.

**.eslintrc.json**
[code]

[code]

[2021-12-03 05:06] IRediTOTO commented on #2727
Hi, I am getting this error. I ran `blitz cg` well before, but now it not work, don't know why.
current version I am using `"blitz": "0.43.0",`
`Generating route manifest` run forever, nonstop
I tried delelte node_modules
[code]

[2021-12-03 12:29] beerose commented on #3015
Go ahead @MukulKolpe!

[2021-12-03 15:05] #2840 closed

[2021-12-03 23:15] markhughes commented on #2525
Perhaps it's related to it expecting `next/document`?
https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/eslint-plugin-next/lib/rules/no-page-custom-font.js#L15

[2021-12-03 23:46] JuanM04 opened #3016 "[v0.44.0] Jest error"
### What is the problem?

Errors are thrown when running `yarn test` after upgrading from v0.43.0 to v0.44.0

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

—

### What are detailed steps to reproduce this?

Import code which imports code from `blitz` into Jest

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other appli

[2021-12-03 23:47] JuanM04 commented on #2991
Does this error persists?

[2021-12-04 14:38] AngelEngineer314 opened #3018 "Tailwindcss is not working in Blitz project"
### What is the problem?

I already installed Tailwindcss but the classes are not reflected on project.
And when I reinstall Tailwindcss module, it is error like "Error: Cannot find module 'next/dist/server/lib/logging'".

### Paste all your error logs here:

[code]
$ blitz install tailwind
    Error: Cannot find module 'next/dist/server/lib/logging'
    Require stack:
    - F:\share_folder\Develo

[2021-12-04 16:42] winner106 commented on #2991
Yes, errors continue to occur, even in version 0.44🤔

[2021-12-04 16:47] winner106 commented on #2991
How can I download a recipe to my PC ? Maybe I can  try to install  recipe  locally , But I need some guidance ，Thanks a lot

[2021-12-04 18:16] winner106 opened #3020 "add Formiz as an option of form library"
### What do you want and why?

To create React forms, there is a lot of libraries out there. Formiz will help you create React forms with ease! Composable, headless & with built-in multi steps.

### Possible implementation(s)

[https://formiz-react.com/](https://formiz-react.com/)

### Additional context

Add any other context or screenshots about the feature request here.

[2021-12-04 19:33] aklassen commented on #3016
I experienced the same to today. Had to downgrade blitz to v0.43.0 to get the tests running on my new project.

[2021-12-05 00:40] Vandivier opened #3021 "TS Incompatible with typescript-estree"
### What is the problem?

1. Checking out [this commit](https://github.com/blitz-js/blitz/commit/8f5cad91d47a87cc53690ae40284afe9bca72f16), which I think is equivalent to 0.44 release, `yarn && yarn test` fails out of the box without modification
2. I get errors which are described below, including one that says `WARNING: You are currently running a version of TypeScript which is not officially su

[2021-12-05 00:55] Vandivier opened #3022 "Tests fail out of the box on Windows"
### What is the problem?

As mentioned in #3021 `yarn test` fails out of the box on Windows at [this canary SHA](https://github.com/blitz-js/blitz/commit/8f5cad91d47a87cc53690ae40284afe9bca72f16), which I think is equivalent to blitz 0.44. This issue adds detail for a specific test example within `yarn testonly:packages`

### Paste all your error logs here:

[code]

### Paste all relevant code sni

[2021-12-05 00:56] Vandivier commented on #469
tried to work this on a windows machine and I was blocked by two issues:
https://github.com/blitz-js/blitz/issues/3022
https://github.com/blitz-js/blitz/issues/3021

I'll try from a mac next week and/or try again from windows as those other issues are worked through

[2021-12-05 04:22] hen-x opened #3023 "Installation fails in node 12.22.7"
### What is the problem?

Under `node@12.22.7`, the command `yarn global add blitz` fails at the `postinstall` step.

It appears that the script at `packages/blitz/scripts/postinstall.js` uses null-coalescing (`??`) syntax, which is not supported in Node 12.

Both the documentation and the `engines` field of Blitz indicate that Node 12 is supported.

### Paste all your error logs here:

[code]

##

[2021-12-05 12:24] codemile opened #3025 "Blitz throws unhandled error when run outside a project."
### What is the problem?

Blitz should be more friendly when run outside a blitz project without arguments.

When running the CLI outside a blitz project an unhandled error is thrown internally. Instead the CLI should provide the user with helpful feedback. Like a list of command arguments or version information. Instead it just seems to crash.

The expect behavior would be that it yields the same

[2021-12-05 14:02] JuanM04 commented on #2991
I've tested it with Node v16.13.1 in both CMD and PowerShell and it works like a charm.

First, install degit (with `yarn global add degit`). Then run these commands:

[code]

(change all the `/` for `\` when using Windows)

[2021-12-05 16:13] bartoszkrawczyk2 commented on #2314
Hi,

I have the same issue. My node version is 16.13.0, I've run `yarn global add blitz`, installed successfully with message:
[code]

But when I try to create new project I get an error:
[code]

Do I have to add it manually to PATH? It would be great to provide instructions in documentation.

[2021-12-05 16:35] winner106 commented on #2991
[code]

[2021-12-05 16:45] JuanM04 commented on #2991
Could you try with tailwind?

[2021-12-06 00:30] WNemencha commented on #3023
Also getting this in my project since yesterday, which prevents me to do any `yarn add`

[2021-12-06 08:09] depfu[bot] opened #3028 "Depfu Error: Depfu is stuck and needs your help"
Hello,

⚠️ **We're getting errors with this repo and have given up after trying several times.**

In most cases that means something is wrong with your current Yarn setup and we can't fix it automatically:

##### • Error details:
[code]
##### • Error details:
[code]
##### • Error details:
[code]
##### • Error details:
[code]

After you've fixed the problem, please activate this project again in th

[2021-12-06 10:57] winner106 commented on #2991
[code]

[2021-12-06 10:59] winner106 commented on #2991
I tried  `tailwind`,  Error: Cannot find module 'react' as follows:

[code]

[2021-12-06 16:50] #3016 closed

[2021-12-06 16:53] flybayer commented on #2974
@Andreychik32 sorry for delay here. I recommend generating the clients inside `node_modules`, but using custom names. For example `node_modules/.prisma1/`. That way it's excluded from babel processing.

[2021-12-06 16:54] flybayer commented on #2614
@tafelito so sorry for the delay here. You need to include the csrf cookie value in a header like this: https://blitzjs.com/docs/session-management#manual-api-requests

[2021-12-06 16:59] flybayer commented on #3021
Hmm, probably we need to update these deps: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/eslint-config-next/package.json#L14-L15

If you are using yarn, you can use the package.json `resolutions` field to overside those versions to a newer one.

[2021-12-06 17:08] flybayer commented on #2314
@bartoszkrawczyk2 unfortunately that's a package manager issue and there's nothing we can do on our side. Maybe try using a different version of yarn or using npm instead.

[2021-12-06 17:14] MrLeebo opened #3029 "Turn Page.suppressFirstRenderFlicker and authenticate into React components"
### What do you want and why?

(Edited from my thread on Discord)

It would be beneficial to convert page options like suppressFirstRenderFlicker and authenticate into React components. Having options as `Page.xxx = x` restricts you to configuring the option upfront and doesn't mesh with how developers expect to compose features in React components.

Benefits:
- no learning curve, React devs are f

[2021-12-06 17:15] flybayer commented on #2680
@beerose we nolonger have the `withBlitzAppRoot` wrapper. I think the issue in discord is something else

[2021-12-06 17:20] #3015 closed

[2021-12-06 17:21] flybayer commented on #2727
@IRediTOTO try upgrading to `blitz@latest`

[2021-12-06 17:22] flybayer commented on #2525
@markhughes yes!

[2021-12-06 17:25] MrLeebo commented on #2614
I think the CSRF token error would be a consequence of changing the order of the middlewares, my initial example didn't require CSRF, and it shouldn't since the request is authenticated by the access token, not by a cookie.

[2021-12-06 17:42] MrLeebo commented on #3029
I'm also not a fan of the name `<SuppressFirstRenderFlicker />`. Simplify it to `<SuppressInitialRender />`?

[2021-12-06 17:56] #3021 closed

[2021-12-06 17:56] #3022 closed

[2021-12-06 18:05] tafelito commented on #2614
@flybayer I understand I need to call the `getAntiCSRFToken` when calling an api manually from the client. In this case I'm calling the api from a external client and sending a token in the header.
When the token is present, I need to set the session as authenticated before calling the api so the pipe.authenticate doesn't throw an authentication error

[2021-12-06 18:13] flybayer opened #3032 "`blitz generate model` messes up uses of `@db.Text`"
### What is the problem?

If you have any use of `@db.Text` inside your prisma schema, running `blitz generate model newModelName` will change `@db.Text` to @Text` which is a bug.

### Paste all your error logs here:

none

### Paste all relevant code snippets here:

See below

### What are detailed steps to reproduce this?

Start with this in your schema
[code]

Then run `blitz generate model tes

[2021-12-06 18:52] bartoszkrawczyk2 commented on #2314
Thanks @flybayer , installing with npm instead of yarn did help :)

[2021-12-06 21:30] MrLeebo commented on #3032
https://github.com/blitz-js/blitz/blob/831b0d4bcd848106ede5b539c96d8b48ea577ac9/packages/generator/package.json#L37

@flybayer it looks like this is because blitz generator has the version of prisma-ast hardcoded to v0.2.4, and that bug was fixed in the next release:

[code]

Should be easily fixed by updating the dependency

[2021-12-06 22:25] bmatzner commented on #2838
While setting
[code]
does work for Chrome and Firefox, it will not resolve the infinite query attempts in Safari when loading a query inside an iframe

https://stackoverflow.com/questions/59754345/reading-cookies-with-samesite-nonesecure-from-iframe-in-safari-13

I understand there is no workaround except not to load queries from within an iframe in Safari.

[2021-12-06 22:37] CalebDelbridge commented on #2960
Is it possible to have this fixed in the next minor release? Im willing to work on it just need pointers in the right direction

[2021-12-07 10:40] IRediTOTO opened #3038 "Missing typescript for paginate function"
### What is the problem?

Hi, I just want report missing ts of `paginate` , that made `useQuery ` in client lost ts too
![image](https://user-images.githubusercontent.com/15695252/145013355-afacd174-eb40-499d-936a-77299525468b.png)
![image](https://user-images.githubusercontent.com/15695252/145013393-43d43186-f0bf-42da-b399-e88252b29200.png)
![image](https://user-images.githubusercontent.com/15695

[2021-12-07 11:07] JithinKS97 opened #3039 "Error while trying to push to Github repo"
### What is the problem?

When I try to push to GitHub a clean install of Blitz, I get this error

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

N/A

### What are detailed steps to reproduce this?

1. Clean install blitz js with typescript setup
2. Try to push to Github repo

### Run `blitz -v` and paste the output here:

N/A

### Please include below any

[2021-12-07 14:52] winner106 commented on #2991
After `react @types/react` installed successfully, I tried install chakra-ui, `Error: Cannot find module 'react' ` as follows:
[code]

[2021-12-07 14:53] winner106 commented on #2991
After `react @types/react` installed successfully, I tried install chakra-ui, `Error: Cannot find module 'react' ` as follows:
[code]

[2021-12-07 15:11] JuanM04 commented on #2991
Did you cloned the repo inside your project? If you cloned it outside, please clone it inside a new `.blitz` folder inside your project

[2021-12-08 02:01] winner106 commented on #2991
Thank you for your guidance, chakra-ui finally installed successfully!

First, I'll copy the folder  from `\blitz-canary\recipes-chakra-ui` to a new blititz02 project.
Second, I run `yarn` in the chakra-ui folder to install the dependency package
Third, run `blitz install chakra-ui` in the blitz02 project root folder
Finally, it was successfully installed.

But I do not know why through the networ

[2021-12-08 10:11] jayu commented on #2569
Maybe this will help someone

I tired to mock
[code]
but it didn't work.

So I tried to mock
[code]
instead and it worked!

[code]

and then in test
[code]

[2021-12-08 13:37] beerose commented on #3023
Yeah, nullish coalescing is supported from Node 14, so we should get rid of it in our post-install script.

[2021-12-08 13:54] meehawk commented on #2895
@beerose sorry for the delay, gonna take this up this week. Had been travelling the previous week

[2021-12-08 13:56] beerose commented on #3025
That's odd. It should print the following message:

[code]

We'll investigate why it throws an error instead.

[2021-12-08 13:59] beerose commented on #2895
Ok! Let us know if you have any questions

[2021-12-08 14:08] beerose commented on #3039
Fixed in https://github.com/blitz-js/blitz/pull/3027. Please upgrade to the latest Blitz version!

[2021-12-08 14:08] #3039 closed

[2021-12-08 14:42] beerose commented on #3038
Hi! So the generated types for `paginate` function include `Awaited` type. It was added in the new typescript `4.5`, and it looks like you have it, but most likely you have an older version in VS Code. The `any` issue will disappear once you set the `4.5.x` TS version in your editor. In VS Code you'll have to find `Select TypeScript version` in the command palette, and then pick the one from node_

[2021-12-08 14:42] #3038 closed

[2021-12-08 15:00] beerose commented on #3020
Thanks for the suggestion!

I briefly went through Formiz docs, and it looks like it has its validation. That means we could no longer share Zod schemas between server and client. Is that right? Are you using it with Blitz and want to share how you're working with it in a Blitz project?

[2021-12-08 15:12] beerose commented on #2937
Sorry about the late reply. The code that looks for `blitz-db.js` is here: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib-server/auth-sessions.ts#L66, but I'm not yet sure why it's causing issues. It should look under `server/blitz-db.js` but it turns out to be empty. Maybe you could put some console logs in `node_modules` to debug this? I'll try to reproduce it too.

[2021-12-08 15:25] #3023 closed

[2021-12-08 16:06] marraleks opened #3042 "Blitz new command won't generate a SQLite database"
### What is the problem?

When i run blitz new ... it's fails at Initializing SQLite database and I have to migrate manually after.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Run; blitz new ...

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicabl

[2021-12-08 16:07] flybayer commented on #2960
@CalebDelbridge

Inside our [blitz postinstall hook](https://github.com/blitz-js/blitz/blob/canary/packages/blitz/scripts/postinstall.js):

1. Find the `@blitzjs/next` package.json, probably by `require.resolve('@blitzjs/next/package.json')`.
2. Copy that package.json to `<project_root>/node_modules/next/package.json`

That should be all that's needed.

[2021-12-08 16:36] beerose commented on #3029
I do see potential in that (in moving `authenticate` and `suppressFirstRenderFlicker` to somewhere else, but also have some concerns:

* The usage feels like too much magic — by looking at the example code, I'm not sure if it'll render something to the UI or not. Feels weird to have a side effect as a component on the same level as other children components. I think having side effects in parents

[2021-12-08 16:48] Kiodok commented on #2937
@beerose No problem.
I think the problem is, that my .next folder is missing. In the past it was generated with blitz build, but that doesn't happen anymore. It can't find the file within F:\Blitz Projects\streamconnect\.next\serverless\blitz-db.js without the folder at all.
The question is now, how to generate the .next folder :D

[2021-12-08 17:09] ajanth97 commented on #2635
@MrLeebo thank yo this fixed the issue for me !

[2021-12-08 17:23] ajanth97 commented on #2635
Is someone working on a PR to fix this ? If not I'd like to make the fix

[2021-12-08 17:32] beerose commented on #2635
@ajanth97 I don't think anyone is working on this issue, I'll assign you :)

[2021-12-08 17:33] beerose commented on #2680
Ok, going to close it then.

[2021-12-08 17:33] #2680 closed

[2021-12-08 17:35] vivek7405 commented on #1636
I'm facing the same issue with react-hook-form. Can someone please suggest a fix for the same?

[2021-12-08 17:36] beerose commented on #2937
Hmm, that should be generated out of the box when you run `blitz dev` or `blitz build`. Could you try reinstalling deps and running one of those commands again? Or do you remember when it stopped being generated?