[2021-01-28 14:56] flybayer commented on #1813
@brantchoate the issue is you have your local blitz version set to `1.0.0` which is invalid 🤔

[2021-01-28 15:11] rince commented on #1803
@flybayer
I'd like to tackle this issue :)

[2021-01-28 15:14] flybayer commented on #1803
@rince all yours! :)

[2021-01-28 16:56] Zeko369 commented on #1814
This is a Next.js (which blitz is built upon) bug so no fixing on our side :disappointed:

[2021-01-28 20:20] brantchoate commented on #1813
@flybayer I think that output for blitz (local) is actually being mapped to what's in the package.json for the app itself. I got it to change based on what I input here:

[code]

[2021-01-28 20:21] brantchoate commented on #1813
[code]

[2021-01-28 21:09] koolii opened #1818 "Fails to build manually with `yarn build`"
### What is the problem?

### Steps to Reproduce

1. go to `myapp` after `blitz new myapp`
2. `yarn build`

#### log

[code]

### Versions

[code]

### Other

Please include applicable logs and screenshots that show your problem.

[2021-01-28 21:15] koolii commented on #1818
https://github.com/blitz-js/blitz/pull/1810/files#diff-b472525b9204050b21afb4bbc98e5b13337de6ffde29078fb867966b2031b06d

My blitz-command generates an old template because of caches?

[code]

[2021-01-28 21:23] koolii commented on #1818
needed to build `blitz` itself

[2021-01-28 21:23] #1818 closed

[2021-01-28 21:34] koolii commented on #1712
reproduced

[2021-01-28 23:49] brantchoate commented on #1813
@flybayer ok might have traced it down to something more useful... when I npm install inside my project folder I get this (this is a brand new project that failed a 'npx blitz new app':

[code]

[2021-01-29 03:20] brantchoate commented on #1813
Solved. The problem was that I was running npm 7. I was unaware that it handled the dependency tree completely differently and thus couldn't resolve.

[2021-01-29 03:20] #1813 closed

[2021-01-29 03:44] ctrngk commented on #303
I hope custom server like express is supported too. It is powerful and used by many users. I always want an easy solution for bootstrapping express + react+ auth project.

[2021-01-29 14:56] camsloanftc opened #1819 "Api route async exports must be anonymous functions, but eslint complains"
### What is the problem?
When creating an [external api route](https://blitzjs.com/docs/api-routes), it seems that you need to export the function in a  specific way (not sure if intentional or a bug):

[code]

[code]

[code]

Part of the problem is that blitz eslint config has an eslint rule that complains when you do the way that works:
`Assign arrow function to a variable before exporting as mo

[2021-01-29 16:10] flybayer commented on #1819
I just ran into this today too.

Issue is a bug in babel-plugin-superjson-next which is included in `blitz/babel` preset: https://github.com/blitz-js/babel-plugin-superjson-next/pull/37

Workaround is use `next/babel` or an older version of babel-plugin-superjson-next. But that fix should be published very soon

[2021-01-29 16:19] merodiro opened #1820 "pipe.authorize() doesn't work as type guard"
### What is the problem?
The new `pipe.authorize()` doesn't work as a type guard like `ctx.session.$authorize()`

### Steps to Reproduce

create a new mutation with this code
[code]

### Expected
`ctx.session.userId` to always be `number`

### Current
`ctx.session.userId` is `number | null`

### Versions

[code]

[2021-01-29 16:21] camsloanftc commented on #1819
Got it thanks! We can close this out.

[2021-01-29 16:21] #1819 closed

[2021-01-29 18:46] flybayer commented on #1820
NOTE: in canary branch, this is now `resolver.authorize` in `packages/core/src/resolver.ts`

[2021-01-29 19:36] flybayer commented on #303
@ctrngk yes it is!

[2021-01-29 19:39] flybayer commented on #1814
@ctrngk follow this issue for unicode: https://github.com/vercel/next.js/issues/15896

In a quick search I did not see an issue for a space in the url, so feel free to open an issue for that there :)

[2021-01-29 19:39] #1814 closed

[2021-01-29 19:57] flybayer commented on #1712
@koolii have you found a solution?

[2021-01-29 20:13] flybayer opened #1826 "`enhancePrisma` does not work with TS `strict: true`"
### What is the problem?

Set `strict: true` in tsconfig.json and you get this error:

[code]

### Versions

[code]

[2021-01-29 21:42] jnielson94 opened #1829 "Blitz start crashes if files with special permissions exist even if in .gitignore list"
### What is the problem?

When there are directories with special permissions in the root folder (might cause problems elsewhere but that's where mine was), `blitz start` crashes when trying to check that directory for `.gitignore` files.

### Steps to Reproduce

1. Create an empty folder, say `test-access`
1. Add a file inside that folder `touch test-access/test.ts`
1. Add to `.gitignore` as `tes

[2021-01-29 21:45] hasparus commented on #1820
**how I thought about it**

So... there's no way to use `asserts` or `is` on a `ctx` parameter, because there is no "ctx" variable in common scope, right?
`Ctx` is set in `PipeFn` type, and that's it, no function earlier in the chain can modify it...

**end result**

![image](https://user-images.githubusercontent.com/15332326/106328956-f1fa9800-6280-11eb-854e-a6dda6c5b9c1.png)

**new authorize fun

[2021-01-29 21:49] JuanM04 opened #1830 "Issue with export * from"
### What is the problem?
I'm having some problems when importing. I have this validation folder with zod utilites:
[code]

Inside `index.ts`, I have this:
[code]

When I import from validation, neither TypeScript nor VSCode detects any problem, but when I run `yarn start`, it throws `undefined`. If I change each import to its respective file (insted of a big `import { ... } from 'validation'`, I d

[2021-01-29 23:01] koolii commented on #1712
@flybayer my apologies. I was too busy at work to tackle this issue last week. I can have 3,4 hours to do this today for certain. Let me text you my progress tomorrow it today 🙇

[2021-01-30 00:48] flybayer commented on #1712
Ok, sweet, no worries :)

[2021-01-30 01:15] #1803 closed

[2021-01-30 01:30] flybayer commented on #1820
@hasparus YOU ARE A CHAMPION!! THANK YOU!!!

![image](https://user-images.githubusercontent.com/8813276/106342905-cec7ec80-6270-11eb-9ed9-43021722d5be.png)

[2021-01-30 01:44] #1820 closed

[2021-01-30 01:44] #1826 closed

[2021-01-30 02:17] flybayer commented on #1830
Thanks for the bug report!

[2021-01-30 02:19] flybayer commented on #1829
Thanks for the bug report!

[2021-01-30 02:33] flybayer commented on #1820
Released in https://github.com/blitz-js/blitz/releases/tag/v0.30.0-canary.4

[2021-01-31 10:30] bravo-kernel commented on #1651
This looks resolved in current blitz version 0.29.7

Menu works, colors now show as well.

[2021-01-31 10:30] #1651 closed

[2021-01-31 13:33] hamidshoa opened #1836 "Error: EPERM: operation not permitted, scandir"
### What is the problem?
-Each time I need to start blitz, an error occurred. Code below shows that:

Error: EPERM: operation not permitted, scandir 'C:/Users/hamid/Desktop/Blitz/isgood/.blitz/caches/dev/.next/static/development'
    at Object.readdirSync (fs.js:955:3)
    at readdirWithFileTypes (C:\Users\hamid\Desktop\Blitz\isgood\node_modules\@nodelib\fs.scandir\out\providers\sync.js:16:33)

[2021-01-31 16:30] JuanM04 commented on #1830
I've been investigating... The code in `.blitz/cache` seems normal: all the imports identical to the source code.
I noticed that TypeScript doesn't throw any error, and the compiler (I think it's Webpack) doesn't throw a "import not found" error but a "this variable is undefined" import.

[2021-01-31 20:08] akbo commented on #1318
I run into the same problem: `blitz new` tells me that `git commit` failed. When I run the git commit manually, it tells me that I haven't configured `user.email` and `user.name`:

[code]

I haven't set a global `user.email` and `user.name` because the values I use depend on the project (I use different values for work and personal projects) and I have done many commits with the wrong email addres

[2021-01-31 23:23] camsloanftc opened #1837 "Set-Cookie appears to be called twice if there is no anonymous session present."
### What is the problem?
I am attempting to set an auth cookie on a non-blitz app client, calling my blitz api login queries.

It appears as though this triggers the blitz server to send back duplicates of each of the session cookies, and so the session that gets added to the database on session.$create never gets set on the client.

This means I cannot access protected routes because I am sending

[2021-02-01 00:47] camsloanftc commented on #1837
My current workaround is to make an initial all to a query endpoint called `get-anon-token` which just returns "ok" and sets the anonymous session cookie. Then immediately after, I can send another request including those cookies and the anti-csrf token. This works as intended and will only set the 4 cookies needed.

[2021-02-01 01:39] chrisbull commented on #1600
@anteprimorac Looks like they merged your PR, but the issues still remain.
Only when I set the flag does it work for blitz:
[code]
@flybayer:  I've tested extensively everything with create-next-app and ChakraUI works correctly, even if I'm using `react@experimental`. So something you're doing with the experimental settings is throwing things off. Any chance you can investigate what flags are doin

[2021-02-01 02:24] chrisbull opened #1838 "chakra-ui Checkbox and Radio components require double click, but non-issue for NextJS"
Please keep open for others to find until this is resolved.

### What is the problem?

See comments from #1600

The issue is that when using `chakra-ui` and `blitz`, blitz has invoked experimental react flags that are causing Checkbox and Radio to not work correctly and must be clicked twice, and quickly.

Issues do not pertain to any other libraries (such as react-final-form or others)

### Steps

[2021-02-01 02:32] anteprimorac commented on #1838
The fix for this https://github.com/chakra-ui/chakra-ui/pull/3165 has already been merged into chakra. Still waiting for a new version to be published on npm.

[2021-02-01 02:38] anteprimorac commented on #1838
There is a new version of chakra published yesterday. Can you make sure that you are using the latest version `1.2.1`?

[2021-02-01 08:22] osirvent commented on #1838
@Zeko369 is the chakra-ui recipe maintainer

[2021-02-01 10:39] anteprimorac commented on #1838
@chrisbull here is a working example https://codesandbox.io/s/concurrent-mode-fixed-fyuiz

[2021-02-01 14:30] jan-wilhelm opened #1840 "resolver pipes without resolver.zod as the first argument shows TypeScript error when in strict mode"
### What is the problem?
When in TS strict mode, the code
[code]
shows a type error for the `resolver.authorize()` part.
The error is `Argument of type '<T, C>(input: T, ctx: C) => ResultWithContext<T, AuthenticatedMiddlewareCtx>' is not assignable to parameter of type 'PipeFn<unknown, T, Ctx, AuthenticatedMiddlewareCtx>'`.

The error does not occur when you put a `resolver.zod()` call as the firs

[2021-02-01 22:37] flybayer opened #1842 "Add `prettier-plugin-prisma` to new app template"
### What do you want and why?

Add https://github.com/umidbekk/prettier-plugin-prisma as a dependency to the new app template! Prettier automatically uses the plugin if installed

### Possible implementation(s)

Here's the new app package.json template: https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/package.json

**NOTE: please leave this issue for someone who hasn'

[2021-02-01 23:02] #997 closed

[2021-02-01 23:02] #1712 closed

[2021-02-01 23:02] #1756 closed

[2021-02-01 23:04] flybayer commented on #1836
Wow that's a weird one! Thanks for the report.

Probably to reproduce we need to use `chmod` in the terminal to change the file permissions

[2021-02-01 23:10] flybayer opened #1843 "Change initial git commit to use custom name and email"
### What do you want and why?

Currently the initial git commit initiated by `blitz new` requires you to have a global git config name and email set. Some people don't have this (https://github.com/blitz-js/blitz/issues/1318#issuecomment-770442493), so we should just set a custom name and email.

### Possible implementation(s)

Change [this line](https://github.com/blitz-js/blitz/blob/canary/packa

[2021-02-01 23:11] flybayer commented on #1318
@akbo ah, yes, that's a great idea! I opened https://github.com/blitz-js/blitz/issues/1843 for that

[2021-02-02 08:18] wafuwafu13 commented on #1767
@flybayer
Hi :)
I try this now at https://github.com/blitz-js/blitz/pull/1846 .
Could you check it?

[2021-02-02 11:06] nyn0x opened #1848 "the discord invite link has expired"
### What is the problem?
Hi, the discord invite link has expired.

On slack and on https://blitzjs.com/

(https://discord.com/invite/epMSc7Mpvt)

[2021-02-02 12:14] koolii commented on #1475
@flybayer Let me tackle this issue :)

[2021-02-02 15:32] flybayer commented on #1848
I am unable to reproduce. I created that invite link to never expire. So must have been a temporary fluke. Can you try again?

[2021-02-02 16:05] nyn0x commented on #1848
oh maybe, yeah it works now !

[2021-02-02 19:44] #1848 closed

[2021-02-02 21:30] #1842 closed

[2021-02-03 16:33] #1843 closed

[2021-02-04 08:20] abuuzayr opened #1856 "blitz new will throw ERESOLVE error on Node 15 if yarn is not installed"
### What is the problem?

When running `blitz new` on Node 15 (npm 7), the Installing Dependencies step will fail with an `ERESOLVE` error:

[code]

#### Verbose logs

[code]

#### eresolve-report

[code]

When yarn is installed, the command runs fine.

### Steps to Reproduce

1. Switch to Node 15 - `nvm use 15`
2. Remove yarn if installed
3. `blitz new test-app`
4. Get error
5. Install yarn
6. `b

[2021-02-04 09:34] mtford90 commented on #1752
Seem to be experiencing something like this myself. If I log into my app, some of the queries run before the session is configured - this causes an AuthenticationError which boots the user back to the login screen immediately.

If I then refresh the page all is well & the user is logged in.

[2021-02-04 10:04] mtford90 commented on #1752
As expected the following workaround seems to fix this issue:

[code]

On a side note, amazing work with this library @flybayer & co - I've been converting our nextjs/graphql monolith over to Blitz as an experiment - and the amount of boilerplate that's disappearing is amazing.

[2021-02-04 10:05] lcswillems opened #1857 "Blitzjs with React 17"
### What do you want and why?

Blitz.js currently uses an experimental version of React. I assume that it is used because Blitz.js needs some experimental features of React. What are them? Would Blitz.js work without them?

[2021-02-04 10:28] merodiro commented on #1857
Concurrent Mode. it's currently not available in the stable release and it's only available in the experimental channel

I believe you can turn off concurrent mode by changing `reactMode` but I'm not sure if you can use the stable release from react

[2021-02-04 10:33] lcswillems commented on #1857
Thank you for your answer! I saw it uses suspense too. I will investigate.

[2021-02-04 12:13] lcswillems opened #1858 "More robust authorization mechanism"
### What do you want and why?

I have a `Post` model and a `User` model. Each post has `authorId` field. I want to authorize a user to edit a post only if it is the author. How could I do with the current authorization mechanism? It seems to be only based on the `role` field.

[2021-02-04 12:37] Skn0tt commented on #1858
Hi @lcswillems! You can implement any authorization rules by throwing `AuthenticationError` when a user makes a request that he isn't authorized to.

[2021-02-04 13:21] lcswillems commented on #1858
Thank you for your answer!

[2021-02-04 13:22] #1858 closed

[2021-02-04 16:56] #1856 closed

[2021-02-04 17:00] #1857 closed

[2021-02-04 18:55] mtford90 opened #1866 "Blitz build fails if the project uses bluebird & bluebird global typings"
### What is the problem?

`blitz build` fails if `bluebird`, `@types/bluebird`, `bluebird-global` & `@types/bluebird-global` are installed.

I can only assume `bluebird-global` interferes with the `Promise` typing and causes an issue in the blitz build process whereby `CancellablePromise` no longer matches `Promise` due to the override by Bluebird.

I'm not entirely sure if this something that sho

[2021-02-04 19:48] flybayer commented on #1866
Hey @mtford90 thanks for the report and the workaround. I'm going to go ahead and close this, because I think using a custom promise implementation is a very rare request.

However, happy to take a PR that resolves the type issue without degrading types when not using bluebird.

[2021-02-04 19:48] #1866 closed

[2021-02-04 20:05] camsloanftc opened #1867 "Enable mocking Ctx for queries/mutations that use resolver.authorize"
### What do you want and why?
I would like to be able to test my protected mutation routes that use resolver.authorize. The problem is that this generates a type error when I try to mock out the Ctx.

[code]

This actually runs no problem but it results in a type error in the test file when I try to cast as `Ctx`, because it does not overlap with `AuthenticatedMiddlewareCtx`
```Argument of type 'C

[2021-02-04 21:39] flybayer opened #1868 "Prompt user to run prisma migration during `blitz generate`"
### What do you want and why?

Currently `blitz generate` simply prints a message about running `prisma migrate`.

We should instead prompt the user with yes/no, do you want to run `prisma migrate`. If yes, then we will run prisma migrate for them, saving them an extra step of typing.

Also, we need to only do this if prisma is installed.

[code]

[2021-02-04 22:26] flybayer commented on #1241
fixed

[2021-02-04 22:26] #1241 closed

[2021-02-05 01:35] #1691 closed

[2021-02-05 13:50] mtford90 opened #1874 "When using useQuery with suspense disabled, the typings should suggest that the data can be undefined whilst loading"
### What is the problem?

[code]

### Versions

[code]

[2021-02-05 16:29] reiwa commented on #1840
I have the same problem and I need to use unknown for this case.

[code]

[2021-02-05 16:54] lcswillems opened #1877 "Allow to embed a Blitz.js app"
### What do you want and why?

I have a Blitz.js website. However, I can't embed it in an iframe. I get a CRSF token error. How can I embed it?

[2021-02-05 20:45] flybayer commented on #1840
I think the ideal solution would look like this:

[code]

I spent a bit of time trying to make this work, but failed. Will need more work

[2021-02-06 03:43] sinn22 commented on #1704
Hi! I would like to do this issue! May I do it?

[2021-02-06 08:48] SigurdMW opened #1879 "Tailwind Recipe fails with Blitz v 0.29.7"
### What is the problem?
Getting error when trying to run `blitz install tailwind`:

λ blitz install tailwind
You are using beta software - if you have any problems, please open an issue here:
      https://github.com/blitz-js/blitz/issues/new/choose

    Error: Cannot find module 'module-alias'

### Steps to Reproduce

1. Run  `blitz install tailwind` with a newly installed Blitz@0.29.7 on Window

[2021-02-06 10:50] dkozickis commented on #1879
Hi!

I have same issue with Node 12/14, on OS X.

[code]

[2021-02-06 12:48] merodiro commented on #1879
I'm having this issue with all recipes and not just tailwind

[2021-02-06 16:41] Skn0tt commented on #1704
You're very welcome to! We'll have to wait for the feature to become publicly available, though.

[2021-02-06 17:33] mtford90 commented on #1379
Experiencing this also.

If usage of `useQuery` is extracted to another hook, then suspense seems to be disabled when using this hook even if `suspense: true`. Pretty weird.

[2021-02-06 17:51] mtford90 commented on #1379
Ah - is it because `useSession` does not suspend, and therefore the `useQuery` call waits for `enabled` to be `true` and therefore never suspends either? I guess this isn't a good workaround after all.

[2021-02-06 20:02] C-reddd commented on #1879
Same issue for me as well.

macOS Big Sur | darwin-x64 | Node: v14.15.4

blitz: 0.29.7 (global)
blitz: 0.29.7 (local)

  Package manager: yarn
  System:
    OS: macOS 11.2
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 1.95 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 14.15.4 - /usr/local/bin/node
    Yarn: 1.22.5 - ~/.yarn/bin/yarn
    npm: 6.14.10 - /

[2021-02-06 20:11] vkivia commented on #1879
Same issue with: 0.30.0-canary.2

blitz: 0.30.0-canary.2 (global)
blitz: 0.30.0-canary.2 (local)

[2021-02-06 21:52] flybayer commented on #1704
Actually our repo is now in the beta program. I've just been focused on the beta release instead of adding this :)

[2021-02-06 21:55] flybayer commented on #1879
Sorry about that folks!

This is an easy fix. Need to add `module-alias` as a dependency to the config package here: https://github.com/blitz-js/blitz/blob/canary/packages/config/package.json

One of you want to make a PR for that? (use an exact version number `2.2.2`)

[2021-02-06 21:56] flybayer commented on #1877
I've asked my security guy about this. Will report back!

[2021-02-06 22:06] alii commented on #1879
Can do! 👍

[2021-02-06 23:05] #1879 closed

[2021-02-06 23:11] flybayer commented on #1379
Ok bummer. Will try to get this fixed asap.

[2021-02-06 23:23] #1840 closed

[2021-02-06 23:23] #1867 closed

[2021-02-07 00:24] lcswillems commented on #1877
Thank you!

[2021-02-07 09:36] mtford90 commented on #1752
Note: the above workaround does NOT work with suspense due to the fact that `useSession` itself does not suspend. Perhaps it should?

I've only just started digging into the Blitz codebase & this is also my first time experimenting with `Suspense` in general -  but I was able to hack together a way to suspend `useSession`. It works but it's ugly & I had to modify `publicDataStore`...

@flybayer I'

[2021-02-07 13:17] sinn22 commented on #1704
Thank you for replay!
I didn't know this feature is not public.
Should I start this issue when this feature is public released?

[2021-02-07 15:11] joaogarin commented on #1173
I was running into this and updating node helped fix the issue for me :+1:

[2021-02-07 18:05] lcswillems commented on #1877
Is there a way to temporary disable the CSRF verification?

[2021-02-07 18:53] camilo86 commented on #1868
Is anyone working on this? If not, I can get a pr soon

[2021-02-07 20:02] Slein2012 opened #1884 "0.30.0-canary.6 - Reset password doesn't submit form and throws an error"
### What is the problem?
If a password reset link is requested via forget-password everything works fine, but when opening the link to reset-password?token=... it is not possible to submit the form. There is no error message in the browser's console or in the executing terminal. When commenting the form's schema with //schema={ResetPassword} , the form submits, but throws the error:
ERROR resetPas

[2021-02-08 02:57] markhughes commented on #1877
@lcswillems can you show us the error you get?

[2021-02-08 07:27] aravindballa commented on #1730
I had the same issue. `npx prisma generate` fixed it. I installed Tailwind recipe soon after generating a blitz app.

[2021-02-08 07:37] lcswillems commented on #1877
I get this:

![image](https://user-images.githubusercontent.com/5437552/107188862-ba11f400-69e8-11eb-9946-74dbc22754a2.png)

The CSRF token is not sent during the request.

[2021-02-08 09:51] lcswillems commented on #1838
It seems the issue is coming from Blitz.

[2021-02-08 10:12] lcswillems commented on #1877
I have activated the debugging mode and I get this:

[code]

This is weird because the token is in the cookies.

[2021-02-08 10:22] lcswillems commented on #1877
The error is on my side! I embed the Blitz.js app in a Chrome Web Extension but cookies are not enabled. This is weird because I was sure that the equivalent Next.js version was working but I am surely wrong. Sorry for the inconvenience!

[2021-02-08 10:22] #1877 closed

[2021-02-08 12:36] kenneho opened #1890 "Upgrade to 0.30.0-canary.6 causes "Cannot read property 'resolver' of undefined""
### What is the problem?

### Steps to Reproduce

1. Upgrade existing project from 0.30.0-canary.2 to 0.30.0-canary.6
2. Run `blitz dev`
3. Error during startup:
[code]

### Versions

[code]

### Other

I have not checked the versions between canary 3 and 5, so I don't know in which version the bug was introduced.

[2021-02-08 13:03] kenneho commented on #1890
I downgraded to canary 5, then 4, 3 and 2. When I was back at 2 it started working again. So something apparently happened in canary-3.

[2021-02-08 14:23] lcswillems opened #1891 "Wrong `useSession` return type"
### What is the problem?

In the following code, `session.userId` has the type `number`. However, in `session.userId` can also be undefined if the user is not authenticated.

[code]

Here the type should be `number | undefined`.

[2021-02-08 22:14] bacongravy commented on #1890
0.30.0-canary.3 includes the following breaking change:

    Rename resolver pipe fns: pipe.resolver to resolver.pipe, pipe.zod to resolver.zod, etc: #1821

To resolve this issue in your project you'll need to find all occurrences of `pipe.resolver` and replace them with `resolver.pipe`. (According to the error message you included, at least one occurrence is in `auth/mutations/login.ts`.)

[2021-02-08 22:21] flybayer commented on #1838
@lcswillems Blitz doesn't change anything with react rendering, so it's unlikely.

Perhaps it could have to do with which react experimental version you are using? Try updating to the latest react experimental versions. (`yarn add react@experimental react-dom@experimental`)

[2021-02-08 22:23] flybayer commented on #1838
I just noticed @anteprimorac's sandbox is using create react app instead of next.js. So you should test this with a next.js or [blitz codesandbox](https://sandbox.blitzjs.com).

[2021-02-08 22:29] flybayer commented on #1891
Good catch!

This is an easy fix. [This type](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/supertokens.ts#L60-L62) needs updated to look like this:

[code]

[2021-02-08 22:46] flybayer commented on #1884
@Slein2012 I'm unable to reproduce. Can you provide a repo or codesandbox with your issue?

![image](https://user-images.githubusercontent.com/8813276/107291056-8e692b00-6a35-11eb-9641-36bbddaee34e.png)

[2021-02-08 22:48] flybayer commented on #1890
@bacongravy is correct. That should fix your problem. Make sure you pay close attention to the release notes when upgrading!

[2021-02-08 22:48] #1890 closed

[2021-02-08 22:58] rodrigoehlers commented on #1891
I‘d like to fix this tomorrow, if that‘s fine.

[2021-02-09 08:43] anteprimorac commented on #1838
here is a working example created with blitz codesandbox template https://codesandbox.io/s/exciting-noether-x6er0

[2021-02-09 10:49] lcswillems commented on #1838
Here is a version with the bug: https://codesandbox.io/s/bold-sky-gk21l

It seems it is related to `FormControl`

[2021-02-09 12:09] lcswillems commented on #1838
The issue seems to come from Blitz.

With create-react-app, there is no bug: https://codesandbox.io/s/unruffled-lovelace-fcjor
With Blitz, there is the bug: https://codesandbox.io/s/bold-sky-gk21l

[2021-02-09 12:14] anteprimorac commented on #1838
The main issue is with new react concurrent mode https://github.com/facebook/react/issues/18591. Blitz use it by default, but you can opt-in for legacy react mode.

Here is the codesandbox example without blitz that shows described error https://codesandbox.io/s/concurrent-mode-fyuiz. I will post a link to PR that fixes this issue in chakra once I create it.

[2021-02-09 12:19] lcswillems commented on #1838
Okay, I see, the version of create-react-app I used was not using concurrent mode!

How can I opt out?

[2021-02-09 12:23] anteprimorac commented on #1838
By setting `experimental.reactMode` to `legacy` in blitz.config.js:
[code]

[2021-02-09 13:36] lcswillems commented on #1838
Thank you!

[2021-02-09 16:34] flybayer commented on #1704
# Issue Forms Alpha

## Set up instructions

1. Add a new YAML file and name it `.github/ISSUE_TEMPLATE/template.yml`, where “template.yml” is the name of your form (e.g., "bug_report.yml").
2. Open up the [documentation site](https://gh-community.github.io/issue-template-feedback/alpha/). Now, in the body of your YAML file, try creating a new issue template form using the docs. You can also try c

[2021-02-09 16:35] #1838 closed

[2021-02-09 17:58] #1868 closed

[2021-02-09 19:21] Slein2012 commented on #1884
I have set up a repository. I hope this helps, because I don't know exactly what information I can use to help. https://github.com/Slein2012/blitzjs-bug

[2021-02-09 19:36] Slein2012 commented on #1884
I have to add that I have been using React Hook Form. I just installed blitz with React Final Form and the password reset works fine.

[2021-02-09 19:49] sleventyeight commented on #1884
I had this same issue.  Not sure if it's related only to React Hook Form but the token parameter is not being passed to the schema resolver and the error message isn't displaying.   I'm sure there's a better way but I added a hidden input field so I could register the field with RHF.

`<HiddenInputField name="token" />`

[2021-02-09 22:20] #1891 closed

[2021-02-10 00:21] #1752 closed

[2021-02-10 16:17] flybayer commented on #1884
I've fixed this in https://github.com/blitz-js/blitz/pull/1902. Check that out to see the proper fix.

[2021-02-10 16:31] Slein2012 commented on #1884
Thank you, it works as it should, with the small change I suggested.

[2021-02-10 16:37] #1884 closed

[2021-02-10 23:00] #605 closed

[2021-02-10 23:04] flybayer commented on #900
done

[2021-02-10 23:04] #900 closed

[2021-02-10 23:05] #1596 closed

[2021-02-10 23:09] #209 closed

[2021-02-10 23:10] flybayer commented on #826
Closing in favor of https://github.com/blitz-js/blitz/issues/259

[2021-02-10 23:10] #826 closed

[2021-02-10 23:11] #385 closed

[2021-02-10 23:13] flybayer commented on #505
Going to close this since this is a more niche request. Happy to take a PR to add a recipe though

[2021-02-10 23:13] #505 closed

[2021-02-10 23:14] flybayer commented on #509
Note: Try adding `retainLines` option to `@babeljs/generator`

[2021-02-10 23:15] #641 closed

[2021-02-10 23:18] flybayer commented on #1145
Going to close this as stale. Feel free to re-open if needed.

[2021-02-10 23:18] #1145 closed

[2021-02-10 23:19] flybayer commented on #1178
Closing as stale

[2021-02-10 23:19] #1178 closed

[2021-02-10 23:22] flybayer commented on #1379
Fixed in #1888

[2021-02-10 23:22] #1379 closed

[2021-02-10 23:22] flybayer commented on #1433
Going to close this in favor of letting prettier/vscode format it. We've added prettier prisma plugin so I think this should be formatted by default now.

[2021-02-10 23:22] #1433 closed

[2021-02-10 23:23] #1516 closed

[2021-02-10 23:24] flybayer commented on #1874
Fixed in #1893

[2021-02-10 23:24] #1874 closed

[2021-02-11 00:20] #724 closed

[2021-02-11 01:26] flybayer commented on #1652
Closing as I don't think there's anything we can do on this. Feel free to comment if others are having the issue.

[2021-02-11 01:26] #1652 closed

[2021-02-11 10:05] sakulstra commented on #745
just stepped over this issue. This idea is super cool!

Having a recipe for generating a dokz page as part of the application would be a dream come true, but perhaps for the beginning we could try to generate an openapi yaml/json and offload the integration to the enduser.

[2021-02-11 12:08] Akhokle opened #1908 "Node issue"
### What is the problem?

### Steps to Reproduce

1.

### Versions

[code]

### Other

Please include applicable logs and screenshots that show your problem.

[2021-02-11 12:38] Skn0tt commented on #1908
Hi @Akhokle, please create a new issue with an actually filled-out issue template.

[2021-02-11 12:38] #1908 closed

[2021-02-11 12:39] Skn0tt commented on #745
Related discussion: https://github.com/blitz-js/blitz/discussions/1907

[2021-02-11 23:45] sinn22 commented on #1704
OK! I`ll create PR. Thanks!

[2021-02-12 19:14] JuanM04 opened #1918 "Declare authenticated pages in blitz.config.js"
### What do you want and why?

A way to declare [authenticated pages](https://canary.blitzjs.com/docs/authorization#secure-your-pages) inside `blitz.config.js`. This would be helpful if an app has a big chunk of authenticated pages.

### Possible implementation(s)

A possible implementation could be this:

[code]

Each item of `securePages` must have a `path` (following [path-to-regexp](https://ww

[2021-02-12 19:25] remjx opened #1919 "Type error: Property 'create' does not exist on type 'SessionContext'"
### What is the problem?

Upgrading from 0.29 to 0.30.0-canary.11 breaks build step

### Steps to Reproduce

`yarn build`

### Versions

[code]

### Logs

[code]

[2021-02-12 19:30] flybayer commented on #1918
Yes, great idea!! We can implement this with a babel plugin that reads the config and adds `Page.x` as needed.

I think maybe `routesConfig` is a better key which allows other configs other than auth.

[code]

[2021-02-12 19:31] flybayer commented on #1919
@remjx make sure you read all of the release notes carefully for all the breaking changes.

`session.create` is now `session.$create` :)

[2021-02-12 19:31] #1919 closed

[2021-02-12 19:47] karimsx opened #1920 "React native plan"
### What do you want and why?

Hey everyone, i want to know when it is planned to have react-native support, i'm planning to start a new app, i will be working on the backend, waiting for it to be implemented.

and thanks you for this awesome framework, its is an genuise idea to encapsulate the api/graphql call layers, that permit a seamless full stack integration.

### Possible implementation(s)

[2021-02-12 23:01] AndriusBartulis commented on #1920
I am also interested in this. I wonder if it's worth having a wider conversation of the best mobile story in the context of fullstack and Blitz. Is react native the right approach for the smaller teams/projects that Blitz audience mainly work on? What about Capacitor based hybrid apps that would allow wrapping pretty much all web React components/pages, do a bit of processing, and output a hybrid

[2021-02-12 23:04] karimsx commented on #1920
and would be very interesting to have ionic v5 as it already support react

[2021-02-12 23:34] kivi commented on #1918
authenticate and redirectAuthenticatedTo as predefined conditions.
And and you could add customFunction: checkSomething(req, {redirectTo: '/', reject: response404()})

[2021-02-12 23:54] flybayer commented on #1918
We could do this, but this would add `getServerSideProps` to every page, de-opting out of static pre-rendering. But this could certainly be desirable in various cases.

[2021-02-13 00:19] emgoto opened #1921 "Do newly created apps still need to import React?"
### What do you want and why?
I know from React 17 you [no longer need](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html#whats-different-in-the-new-transform) the `import React from 'react';` line.

If I remove that line from `app/auth/components/SubmissionForm.tsx` it seems like it still renders as well.

### Possible implementation(s)

Remove all instances of `import Re

[2021-02-13 00:21] flybayer commented on #1921
Thanks @emgoto, I think this is resolved in the lastest canary release: https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/form/__ModelName__Form.tsx

[2021-02-13 00:43] AndriusBartulis commented on #1920
Yup. Ionic could work. I guess the question is whether most people building apps in small teams want to rewrite their web app in React Native, or whether they are happy give up some of React Native performance and features and instead get significant time savings by being able to reuse a large percentage of their existing React app code.

The area I am most excited about is automating the extracti

[2021-02-13 05:14] remjx opened #1922 "Importing CSS module generates TypeScript error"
### What is the problem?

When I run `blitz dev` the CSS is applied to my component, so JavaScript-wise it's working as expected, but when trying to build and run `tsc`, it errors on the import statement (`import styles from "./my-component.module.css"`)

### Steps to Reproduce

1. Create `my-component.module.css`
2. In component `my-component.tsx`, `import styles from "./my-component.module.css"`

[2021-02-13 07:47] emgoto commented on #1668
I tried a couple of packages and was experiencing the same issue (very confusing!) I switched to Node 12.20.0 and got it working.

[2021-02-13 08:47] karimsx commented on #1920
using some ui library like material-ui and some responsive design can make application have a great mobile experience too, and seamless integration between web and mobile component ?

[2021-02-13 17:53] remjx commented on #1922
This is my workaround: create `next-env.d.ts` at project root with contents `declare module '*.css';`  https://linguinecode.com/post/how-to-fix-cannot-find-module-css-scss-nextjs

[2021-02-13 19:17] #1920 closed

[2021-02-13 19:39] flybayer commented on #1668
@emgoto sorry about that, that issue is fixed in latest canary release via https://github.com/blitz-js/blitz/pull/1859

Solution: Add `legacy-peer-deps=true` to `.npmrc`

[2021-02-13 19:44] #1921 closed

[2021-02-14 02:23] #178 closed

[2021-02-14 16:04] AndriusBartulis opened #1935 "Triggering logging out on a page that uses queries that require authentication leads to an unhandled failed authentication exception"
### What is the problem?
Triggering logging out on a page that uses queries that require authentication leads to an unhandled failed authentication exception. This is using `Page.authenticate = {redirectTo: "/login"}` on the page.

### Steps to Reproduce

1. Use `Page.authenticate = {redirectTo: "/login"}` on a BlitzPage.
2. Use useQuery with any query that checks for an authenticated user. I am u

[2021-02-14 20:07] Lani opened #1936 "Canary 13 breaks running blitz dev from a new blitz app or after upgrading from canary 12"
### What is the problem?
Updating  from canary 12 to 13 and running `npm run dev` gives the following error.
[code]

I tried deleting `.blitz` and `node_modules` and `package-lock.json` and running `npm i' again, but it didn't help.

Then I first ran `npm run build` and `npm run start`, after that `npm run dev` printed out the whole `_manifest.json` in the console and it started working again.

I

[2021-02-14 21:37] AndriusBartulis commented on #1936
This happened to me too. I got around the issue by first running blitz build and then blitz dev worked.

[2021-02-14 21:41] markhughes opened #1937 "A way to plug/hook in somewhere with createStagePages"
### What do you want and why?

A way to plug/hook in somewhere with `createStagePages` in the `server` package, to modify the source as it goes out to NextJS.

### Possible implementation(s)

**blitz.config.js**
[code]

**my-cool-hook.ts**
[code]

Inside of my example, we could add additional actions to the create stages in the server package.

### Additional context

References from my research I

[2021-02-14 22:47] JuanM04 commented on #1837
@camsloanftc I'm unable to replicate that with `v0.30.0-canary.13`. Can you confirm if it's still happening with this version?

[2021-02-14 22:55] JuanM04 commented on #1480
How this should work with [multiple ID models](https://www.prisma.io/docs/reference/api-reference/prisma-schema-reference#id-1)?

[2021-02-15 01:33] camsloanftc commented on #1837
I will be updating to the latest canary this week at which point I can try again and report back!

[2021-02-15 02:53] JuanM04 commented on #1830
Seems that is the same error in #937

[2021-02-15 12:44] malkomalko commented on #1936
Just doing some initial triage here and this code looks like it should be creating a manifest if it doesn't exist https://github.com/blitz-js/blitz/pull/1933/files#diff-7ecf655de14f9da25f6bcda0675376fb3e199e607395955d69828a664aefb39aR83-R87 so this feels like a high priority bug.

[2021-02-15 13:46] JuanM04 commented on #1830
I think I have an idea
Let's say my index page needs a enum from prisma, so the import chain would look like this

[code]

Maybe, because `pages/index.tsx` imports `db`, the compiler never imports `@prisma/client`. In my case, it would never import `zod`.

[2021-02-15 15:37] flybayer commented on #1830
#937 is fixed in our canary releases. Are you still having this problem on canary?

[2021-02-15 17:41] #1922 closed

[2021-02-15 18:01] #1936 closed

[2021-02-15 18:05] flybayer commented on #1480
@JuanM04 I'd say don't support that for now

[2021-02-15 18:07] Extra-Extra-Dev commented on #1836
Reporting I got this a few times just now while chatting with flybayer. Then with no intervention on my part but rerunning "npx blitz build" a 3rd time was able to bypass the error .

[2021-02-15 18:12] flybayer commented on #1935
@AndriusBartulis I think the solution is to also manually redirect after the logout mutation as shown below. This code is working for me. Can you try it and confirm?

[code]

[2021-02-15 18:16] Extra-Extra-Dev opened #1943 "EPERM: operation not permitted, on /.next"
### What is the problem?
Getting an EPERM error on the .next folder AFTER/at-the-end-of build process.

Could be causing problems downstream/during other/subsequent builds.

Was in chat with FlyBayer who asked to document.

EDIT/ADDING to ticket:
1) first run .next directory not made
2) second run .next directory is made

### Steps to Reproduce

1. npx blitz build

### Versions

debug: blitzPkgPat

[2021-02-15 18:17] Roesh opened #1944 "Issues running blitz dev or blitz start on Windows"
### What is the problem?
On Windows, there are issues related to file permissions (file deletion, file unlinking etc.) that cause the blitz dev or blitz start command to crash.

Here is one scenario that I have encountered:
On Windows, after the prisma schema is update, and a migration is applied, trying to run blitz start or blitz dev produces the following error:

[code]

### Steps to Reproduce

[2021-02-15 18:18] flybayer commented on #1836
Related: https://github.com/blitz-js/blitz/issues/1943

[2021-02-15 18:21] Extra-Extra-Dev commented on #1943
EDIT/ADDING:
1) first run .next directory not made
2) second run .next directory is made

[2021-02-15 18:42] flybayer commented on #1944
Thanks!

Related: https://github.com/blitz-js/blitz/issues/1836

[2021-02-15 18:46] JuanM04 commented on #1830
Yes, it stills happens (tested with `v0.30.0-canary.13`)

[2021-02-15 19:06] remjx opened #1947 "TypeScript does not identify invalid CSS/SCSS module paths"
### What do you want and why?

This PR https://github.com/blitz-js/blitz/pull/1929 declares `*.module.css` files as valid for import. This means it is possible to `import styles from some-file-that-doesnt-exist.module.css` and TypeScript compiles without any error.

Is there any way it can check that the file actually exists?

### Possible implementation(s)

Unknown

### Additional context

N/A

[2021-02-15 19:24] flybayer commented on #1947
@remjx I'm not aware of any way to do that via TS, but if the file is missing the build will fail.

[2021-02-15 19:24] #1567 closed

[2021-02-15 20:10] davidroulier opened #1948 "Login form keeps showing up even if already authenticated"
### What is the problem?

Authenticated page is constantly asking me to reauthenticate when trying to access a protected page, even if I'm already authenticated.

### Steps to Reproduce

1. Created a blitz app with blitz@canary14
2. Generated a "todo" model with `blitz generate all todo`
3. Try to access to `http://localhost:3000/todos/new`
4. Login form shows up
5. Authenticate successfully with

[2021-02-15 20:26] flybayer commented on #1948
@davidroulier actually I'm not able to reproduce 🤔

Can you provide more detailed reproduction instructions?

[2021-02-15 21:19] #1947 closed

[2021-02-15 23:25] AndriusBartulis commented on #1935
@flybayer Just tried this. Just adding `router.push("/")` didn't fix the problem, but your example showed` {suspense: false} `being passed to queries, and doing that instead of using suspense indeed fixed the issue. I guess some concurrency issue here with the useQuery refetching data when during or just after the logout mutation triggering.

So the actual issue is not quite solved, but I did find

[2021-02-16 07:06] davidroulier commented on #1948
I gave it a new try this morning with fresh blitz install and the same issue keeps happening.

I did exactly what I explained on "Steps to reproduce".

So yeah, I don't know how to be more specific :(

[2021-02-16 07:26] davidroulier commented on #1948
Just to be extra sure, I made a fresh install of blitz (non canary), and everything is working fine.

I was afraid to do something wrong when using Blitz, but...since it's working, there might be definitely an issue with the latest canary version.

[code]

[2021-02-16 16:16] flybayer commented on #1935
Hmm. In this case only `useSession` has suspense:false. The actual queries are using suspense

[2021-02-16 16:19] flybayer commented on #1948
@davidroulier where in the reproduction steps do you sign up (and also log out so that you can log back in)?

[2021-02-16 16:28] flybayer commented on #1948
@davidroulier can you record a [loom video](https://www.loom.com/) showing exactly what you are doing?

[2021-02-16 17:14] AndriusBartulis commented on #1935
It's probably something I misconfigured somewhere else then. Doesn't look like anyone else is having this issue. Shall we close this for now?

[2021-02-16 17:30] flybayer commented on #1935
Let's leave it open for some more investigation

[2021-02-16 18:14] davidroulier commented on #1948
I don't know what I did yesterday....

It's working now.

I'm so sorry for wasting your time :(

Maybe I had two installations of blitz cli (canary and non canary), or I have changed "postgres" to "postgresql" (just like it's recommended it prisma documentation). I don't know, but it's working now.

[2021-02-16 18:14] #1948 closed

[2021-02-16 18:25] Extra-Extra-Dev commented on #1943
new experiences today on Canary@14:

NPX BLITZ BUILD:

... files inside the file structure seemed locked..(sorry I didn't note it, files regarding one of my pages) gave a warning... couldn't build. .. multiple tries.

Closed VS Code

Tried BUILD again : FAILED with this error.
Tried BUILD again with SUCCESS immediately after.

You are using beta software - if you have any problems, please open an

[2021-02-16 19:50] Extra-Extra-Dev commented on #1943
(Canary 14)
Here's another sequence captured.  1 .2 3. attempts to build. the 4rd makes it  then ends on an error.  Not the first time i've seen "stuckness" on "integrations" and "auth" folders sequence.

PS C:\clients\XXXXXX> npx blitz build
You are using beta software - if you have any problems, please open an issue here:
      https://github.com/blitz-js/blitz/issues/new/choose

  errno: -4048,

[2021-02-17 22:46] markhughes commented on #1836
This error here:

[code]

Is related to locked files. But this may not be blitz specific...

@Extra-Extra-Dev are you using vscode? If so, does the issue happen if you close vscode?

I believe #1943 and #1944 is caused by the same issue.

[2021-02-17 22:50] markhughes commented on #1410
Lerna is typically used if you want to _deploy_ multiple packages from a single monorepo. If you don't want this, yarn workspaces is enough.

[2021-02-17 23:05] markhughes commented on #446
I went to test this and see if it was still an issue, however, I'm getting thrown this now:

[code]

[code]

my babel.config.js:

[code]

[2021-02-18 00:02] dmvinson opened #1953 "Invalid hook call when installing recipes with NPM"
### What is the problem?
When running the `blitz install tailwind` command, the install fails with a "Invalid hook call" React error.

### Steps to Reproduce

1. Create new blitz project
2. Run `blitz install tailwind`

### Versions

[code]

### Other

Please include applicable logs and screenshots that show your problem.
Command Output:
[code]

[2021-02-18 01:29] JuanM04 commented on #1830
Fun fact: it's a Next.js bug.

I sort of figured out what's wrong. This is the `index.ts` file:

[code]

In this particular example, `cuit.ts` and `ncm.ts` only import types from `others.ts`. When I do `import {} from 'validation'`, it throws `undefined` in `cuit.ts`. If I remove `cuit.ts`, it throws it in `ncm.ts`.

What's weird is what happens when I rearrange the imports like this:

[code]

If

[2021-02-18 01:29] #1830 closed

[2021-02-18 03:33] thropx opened #1955 "'blitz routes' breaks a project - Error: Cannot find module '[APP_FOLDER_PATH]/.next/server/pages-manifest.json'"
### What is the problem?

'blitz routes' breaks a project, and it starts throwing Error: Cannot find module '[APP_FOLDER_PATH]/.next/server/pages-manifest.json' error

### Steps to Reproduce

1. **blitz new testApp**
2. **cd testApp**
3. **blitz dev**
4. Go to localhost:3000 and see the default page load
5. **Ctrl-C** to terminate "blitz dev"
6. **blitz routes**
7. Verify that the routes are displ

[2021-02-18 03:34] Immortalin opened #1956 "Security improvement: Bind to 127.0.0.1 host instead of 0.0.0.0"
### What is the problem?
Blitz binds to 0.0.0.0 during development mode instead of 127.0.0.1 for localhost. The former exposes the app to the public/external network which may be undesirable for security.
### Steps to Reproduce

`blitz dev`
[code]
### Versions

[code]

[2021-02-18 07:14] MrLeebo commented on #1953
This appears to be caused when you are using NPM instead of Yarn. I can reproduce the error with the following steps:

[code]

There's probably a mistake in https://github.com/blitz-js/blitz/blob/canary/packages/installer/src/executors/add-dependency-executor.tsx when using NPM.

[2021-02-18 07:30] MrLeebo commented on #1955
I was able to repro this. As a workaround, running `blitz build` resolves the error.

Shortened repro steps:

[code]

[2021-02-18 07:50] thropx commented on #1955
Yes, `blitz build` resolves the error, but calling `blitz routes` again, breaks it again,  with what looks like a different error..

[2021-02-18 07:50] MrLeebo commented on #1956
Good suggestion. This issue comes from [nextjs](https://github.com/vercel/next.js/issues/20137) but probably won't change soon because it is potentially a breaking change for existing devs. Since we're in beta we can change the default with much less potential for backlash.

[2021-02-18 08:10] MrLeebo commented on #1937
Couldn't you accomplish this in a more flexible manner by making my-cool-hook.ts a babel plugin?

[2021-02-18 13:24] lcswillems opened #1957 "Weird error if no name field in package.json"
### Steps to Reproduce

Create a new Blitzjs app: `npx blitz new blitz-app`

Remove the `name` field from the `package.json` file.

Run `yarn build`.

This gives this error:

[code]

[2021-02-18 15:00] lcswillems opened #1958 "Allow suspense but not concurrent mode"
### What is the problem?

With Blitz 0.29.7, I encountered an issue when using Chakra-UI and @anteprimorac said me to add this to `blitz.config.js`:

[code]

what I did. It fixed the issue while still allowing me to use Suspense. However, after the upgrade to 0.30, it seems that I can't use suspense anymore in legacy mode.

[2021-02-18 15:51] sakulstra opened #1959 "file watcher issues on arch"
### What is the problem?
Sometimes blitz doesn't pick up changes.

### Steps to Reproduce
I can't provide a reliable reproduction - most of the time it works :sweat_smile: (happened twice within ~2-3h of development)

1. save a file with an error
2. fix the error
3. ... see the same error on screen
4. change the file as often as you want -> nothing will happen -> kill the process & restart it :tad

[2021-02-18 18:06] daganomri opened #1960 "Installing chakra-ui throws a `Invalid hook call` error."
### What is the problem?
I'm trying to install the chakra-ui recipe on a brand new project and after trying to install the dependencies it throws a `Invalid hook call` error.
[code]
### Steps to Reproduce
1. run command `blitz new <project-name>`
2. cd into newly created <project-name> folder
3. run `blitz install chakra-ui`
### Versions
[code]
### Other
I've also tried running blitz dev to see if

[2021-02-18 18:32] karthikeyan676 opened #1961 "Getting type error while building the app"
### What is the problem?
I'm getting the type error while building the application.

### Steps to Reproduce
Just install the new project with the help of CLI and build the project with `blitz build`

### Versions

[code]

Please include applicable logs and screenshots that show your problem.

![image](https://user-images.githubusercontent.com/24937683/108404257-a74bba80-7245-11eb-915e-ce4af5202c3d

[2021-02-18 19:14] karthikeyan676 commented on #1961
I guess it's because of the blitz local version. If someone tells how to remove the local cache would be great.

[2021-02-18 21:02] Roesh commented on #1961
I am unsure of the best method to upgrade the Blitz version, so I'll defer to anyone who can help with that.

You'll still need to update the session.create function call and any others to the new syntax, session.create is now session.$create:
[https://github.com/blitz-js/blitz/issues/1919](url)

[2021-02-18 21:33] markhughes commented on #1767
@flybayer was this issue resolved in #1846?

[2021-02-18 21:36] markhughes commented on #1836
FYI: those with a similar issue, an easy solution is to close vscode. But you can also [configure vscode to hide node_moules](https://stackoverflow.com/a/30142299).

[2021-02-18 21:38] markhughes commented on #1937
@MrLeebo I've tried this but it only seemed to process _after_ it was thrown into Next, so I had no path information from my next project.

[2021-02-18 22:13] flybayer commented on #446
Thanks for the update @markhughes

[2021-02-18 22:23] flybayer commented on #1957
Hey thanks!

Here's the line that needs fixed: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/blitz-data.tsx#L14

If package.json name isn't available, we should default to "blitz" as the name

[2021-02-18 22:34] flybayer commented on #1958
@lcswillems that's an odd one, I can't think of anything that changed around this.

Can you provide more details, logs, etc?

Also a reproduction codesandbox or repo would really help

[2021-02-18 22:47] #1704 closed

[2021-02-18 22:58] flybayer commented on #1961
@karthikeyan676 that's a bit odd. Your local version is `0.29.7` which uses `session.create` so you shouldn't get that type error.

Does it still error if you run `npx blitz build`?

[2021-02-18 22:59] flybayer commented on #1767
@markhughes no, that PR just added an empty cypress set up (no tests)

[2021-02-18 23:00] flybayer commented on #1937
I think this is a good idea!

[2021-02-18 23:02] #1957 closed

[2021-02-18 23:39] wafuwafu13 commented on #1767
I want to test `blitz new`, so study cypress and read redwood test (and commit https://github.com/redwoodjs/redwood/pull/1780).
But it is too difficult for me to test `blitz new`:(

- How to `blitz new` in this repository
shell srcipt is written in redwood https://github.com/redwoodjs/redwood/blob/main/tasks/test-tutorial
and copy template
https://github.com/redwoodjs/redwood/blob/4cd6c74da3b7ba0c

[2021-02-19 00:03] Extra-Extra-Dev commented on #1836
Ohhhhhhhh.  Hiding Node_modules may help? Interesting.
But yes... closeing and opening resolves it.. but of course it leaves permissions of unknown files in an unknown state for the next pass ( which Is why i've been reporting it so it's a known issue).

now.. need to find out how to hide Node_modules to see if that helps! it's a constant problem!

[2021-02-19 00:12] flybayer commented on #1767
Ah, responding to prompts is a good question. Probably we should add flags like `--final-form`, `--hook-form`, etc. That will help with testing and is a good idea anyways.

[2021-02-19 00:13] flybayer commented on #1767
I think we shouldn't have to copy the template. Running `blitz new` within our repo will automatically use the correct template

[2021-02-19 01:07] #1955 closed

[2021-02-19 01:08] karthikeyan676 commented on #1961
I found the problem. It's because earlier I had a dummy package JSON with `0.29.7`th version and whenever I try to install blitz it was using the local node_modules blitz instead of the global. Now I deleted that package JSON with node_modules. Now it's working perfectly. Thanks, @Roesh and @flybayer. I'm closing this issue now.

[2021-02-19 01:08] #1961 closed

[2021-02-19 01:13] flybayer commented on #1959
Do you get any errors in the terminal?

[2021-02-19 02:17] flybayer commented on #1959
I added a watcher error log in https://github.com/blitz-js/blitz/releases/tag/v0.30.1. So update to that and see if you see any errors.

[2021-02-19 02:18] flybayer commented on #1836
Hey y'all, please update to https://github.com/blitz-js/blitz/releases/tag/v0.30.1 and see if this is fixed or not.

[2021-02-19 02:18] flybayer commented on #1944
Hey, please update to https://github.com/blitz-js/blitz/releases/tag/v0.30.1 and see if this is fixed or not there :)

[2021-02-19 04:21] karthikeyan676 opened #1968 "Is blitz supports Nextjs Internationalized Routing?"
NextJS started to support internationalized routing from v10.0.0 Is that supported in blitz as well? if yes any workable example will be helpful.

[2021-02-19 04:21] karthikeyan676 commented on #1968
FYI: https://nextjs.org/docs/advanced-features/i18n-routing

[2021-02-19 04:48] markhughes commented on #1836
I've recently moved to a windows machine (from work for WFH) and I find that most things in node_modules and the .blitz .next folders gets "locked" by vscode, so I fall into that issue a lot :(

@flybayer I'll try that soon and see if it resolves the issue!

[2021-02-19 10:31] lcswillems commented on #1957
Thank you for the fix!

[2021-02-19 10:32] lcswillems commented on #1958
Okay! I will do it

[2021-02-19 10:39] lcswillems commented on #1957
I don't know if it is a good idea to base the name of the cookies on the name of the project. It is an unexpected behavior from my side. I would have never expected that changing the name of the project would log out all my users...

[2021-02-19 13:15] jan-wilhelm opened #1970 "Hot Reload is sluggish since v0.30"
**What is the problem?**

Since upgrading to one of the 0.30 canaries (can't pinpoint which one it was), the Hot Module Reload has been slower than before. It now consistently takes around 3-5 seconds before the NextJS reloading indicator even shows up, compared to a basically instantaneous HMR with pure NextJS.

@engelkes-finstreet [pointed out](https://discord.com/channels/802917734999523368/802

[2021-02-19 15:23] flybayer commented on #1918
So I just had another idea.

What if instead of this route config, we add first class `Layout` support that lets you do `Layout.authenticate = true` so that all pages with that layout are authenticated. And you could disable per page with `Page.authenticate = false`.

[2021-02-19 15:26] flybayer commented on #1970
This should be fixed in `0.30.1`. I changed some settings in that release. Can you double check to make sure you still have it in `0.30.1`?

[2021-02-19 15:36] dmvinson commented on #1960
Same issue as #1953, try using yarn

[2021-02-19 16:06] #1968 closed

[2021-02-19 16:28] flybayer opened #1972 "Change session cookie prefix to have an explict config instead of using package.json `name` field"
### What do you want and why?

Currently we are using the name field of your `package.json` for setting the session cookie prefix. [As @lcswillems highlighted](https://github.com/blitz-js/blitz/issues/1957#issuecomment-781992049), this isn't ideal.

So we should change this to be an explicit config:

[code]

And we'll add that to templates for new apps.

### Possible implementation(s)

1. Update c

[2021-02-19 16:28] flybayer commented on #1957
@lcswillems excellent point. I opened an issue for that: https://github.com/blitz-js/blitz/issues/1972

[2021-02-19 17:01] fredmaiaarantes opened #1973 "I'm not able to create a new project using Node v14.10"
**What is the problem?**

I'm not able to create a new project using Node v14.10 on my Ubuntu 20.04 machine.
I ran the creation command (blitz new myApp) and nothing happens, the current folder remains empty.
Then I ran the same command but using sudo and got this message: 'You are using an unsupported version of Node.js. Please switch to v12 or newer'.

After that I switched to Node v12.18.3 and

[2021-02-19 17:12] engelkes-finstreet commented on #1970
For me it is fixed in 0.30.1. Back to normal speed 🚀

[2021-02-19 17:31] piotrski commented on #1972
Can I grab this one?

[2021-02-19 17:56] piotrski commented on #1960
We are trying to call `npm add` instead of `npm install`. Should be pretty easy to fix.

[2021-02-19 18:34] flybayer commented on #1972
Yes!!

[2021-02-19 18:34] flybayer commented on #1972
Let me know if you have any questions as you go

[2021-02-19 19:11] MrLeebo commented on #1960
Closing this as a duplicate of #1953, feel free to comment there if you have additional information

[2021-02-19 19:11] #1960 closed

[2021-02-19 19:14] MrLeebo commented on #1953
This comment from @piotrski is right on the money I think.

[2021-02-19 19:55] flybayer commented on #1973
I wonder if it's an issue of yarn vs npm?

Can you go back to that node version, make sure `blitz new` fails, then try `npx blitz new myapp` and see if that works?

[2021-02-19 21:48] piotrski commented on #1972
I was thinking about adding type and config properties to [Middleware type](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/types.ts#L84-L88), but I'm not sure if it will be useful somewhere else?
[code]

[2021-02-19 21:51] flybayer commented on #1972
That's a good idea!

[2021-02-20 02:56] Roesh commented on #1944
Nice!

Ok, replicated on the machine this was initially occurring on, and I didn't get the issue.

Used my windows laptop as well for good measure and I don't get the issue there either with 0.30.1

However, based on previous experience, these issues seem to go away for like one day but recur a day or two later, so I'm going to try reproducing again tomorrow and Sunday to be 100% sure before marki

[2021-02-20 08:04] wafuwafu13 commented on #1767
I agree with it.
I think it is bettter to do it before `blitz new` test if can't find a way to mock formChoices well.

[2021-02-20 15:50] Roesh commented on #1944
Day 2, no issues on both computers when I do the steps manually (Edit schema.prisma, run migrate commands)

However, I did try and test running example scaffold command, blitz generate all project name:string, and that throws an error :(

√ Run 'prisma migrate dev' to update your database? (Y/n) · true
events.js:292
      throw er; // Unhandled 'error' event
      ^

Error: spawn prisma ENOENT

[2021-02-20 16:38] birksy89 commented on #1944
I think I'm running into a similar issue.

![image](https://user-images.githubusercontent.com/4971630/108602418-b774ae80-7399-11eb-839e-c32aff4e771e.png)

[code]

I'm also surprised that it says `Package manager: yarn`, as I use NPM.

[2021-02-20 18:09] hirenchauhan2 commented on #1953
Hi, may I take this one and create a PR?

[2021-02-20 19:58] zigomir opened #1980 "NotFoundError has `undefined` `statusCode` in `_app.tsx`"
**What is the problem?**

Opening http://localhost:3000/projects/40 I'd expect to see good old `404` and not `400` status code.

I get `400` because this line of code in `_app.tsx`

[code]

but I'd expect error's `statusCode` being `404` when I throw `NotFoundError` like so:

[code]

**What are detailed steps to reproduce this?**

1. blitz new app
2. blitz generate all project name:string
3. blitz

[2021-02-20 20:00] 8balloon commented on #586
@flybayer As a preface, I spent a lot of time on this problem while prototyping my own "zero-api" solution before I found Blitz :) so hopefully this is useful.

### Based on file structure convention

This is an essential component of the "file dependencies + conventions" option detailed below

### Based on Prisma introspection magic

This could be useful for optimizing a more general solution

##

[2021-02-20 20:06] flybayer commented on #1944
That error on `blitz generate` is a separate error and fixed here: https://github.com/blitz-js/blitz/pull/1979

[2021-02-20 20:06] flybayer commented on #1953
@hirenchauhan2 yes!

[2021-02-20 20:09] flybayer commented on #1980
Yep, bug, thanks for reporting! Will publish a fix here shortly

[2021-02-20 20:13] flybayer commented on #586
@8balloon thank you, I love it!

I've caught wind of some possible caching changes in react-query that could be very useful here, so I think we should sit on this until we get more details on any react-query changes.

[2021-02-20 20:30] #1980 closed

[2021-02-20 20:33] jan-wilhelm commented on #586
Any links that you could point us to? :) sounds awesome

[2021-02-20 20:37] flybayer commented on #586
Nope

[2021-02-20 22:12] maxtheman commented on #1973
I can confirm having this same issue with npm node version 13.5.0 on mac osx. Error message shows up for me, but the solution is the same.

Error message on  v13.5.0 for both blitz new and npx blitz new

`(node:69998) [MODULE_NOT_FOUND] Error Plugin: @blitzjs/cli: No valid exports main found for '/Users/max/.nvm/versions/node/v13.5.0/lib/node_modules/blitz/node_modules/@blitzjs/generator/node_modu

[2021-02-20 22:18] flybayer commented on #1973
This is the weirdest thing 🤔

[2021-02-21 06:13] karimsx opened #1982 "Prisma can't connect to database after 30.0 update."
**What is the problem?**

Prisma can't connect to postgresql database after 30.0 update.

Error: Invalid `prisma.user.create()` invocation: connect ECONNREFUSED ::1:46113

Each time, the connection port `46113` is differents, even if i specified the port in `DATABASE_URL`

**What are detailed steps to reproduce this?**

1. setup database to postgresql or any database(tested sqlite too) and create

[2021-02-21 06:18] karimsx opened #1983 "Can't debug application using breakpoint and node debugger"
**What is the problem?**

Hello everonye,

I tried to debug blitjz using launch.json file in vscode, but the debugger can't attach to the 9229 port even if blitz lunched with inspect and the debugger web-socket is correctly setup and working. the error is coming from the fact that vscode try to get `localhost:9229/json/list` and get a 503 error ( even if working in browser)

i tried webstorm, he c

[2021-02-21 11:05] fredmaiaarantes commented on #1973
Hey @flybayer,  I just tried the steps you suggested and I got the same error using npx.

[code]

[2021-02-21 15:34] Slein2012 opened #1984 "SessionUncheckedCreateInput doesn't work with changes in prisma schema"
**What is the problem?**

If I create a Blitz default app with Auth, import my database schema and customise the Auth pages with the new schema, it is not possible to use the app if customisations have been made to the default schema for User and Session. This is the error: "Unknown arg `user` in data.user for type SessionUncheckedCreateInput. Did you mean `idUser`?
Argument idUser for data.idUser

[2021-02-21 15:45] sakulstra commented on #1959
hello @flybayer

While i cannot find anything in the logs, it now seems to be always broken which might make debugging easier (i'm not 100% certain it's now more broken than before, perhaps i just moves from creating new things to refactoring old ones).

Added an error in a mutation & started blitz, fixed the error again.
[code]

fixed the error

[code]

restarting blitz -> it works again.
[code]

[2021-02-21 15:50] tconroy commented on #225
Hey @flybayer 👋  it seems the `globalThis` stuff has been removed from the app template since this ticket was originally opened. Does that mean the only remaining step is to add the `next-prisma-plugin` to `withBlitz`? Have a branch locally with that change, happy to push it up. :-)

[2021-02-21 18:59] medihack opened #1985 "pageProps in <App> component differ from next.js"
**What is the problem?**

I am pretty new to Blitz.js, but I stumbled a bit about the fact that `pageProps` of the <App> component behave a bit differently than in Next.js. In Next.js you get precisely what you return as props from `getServerSideProps`. In Blitz.js everything is added to an object with the `json` key. This may break some Next.js plugins (like [next-i18next](https://github.com/isaa

[2021-02-21 19:18] Roesh commented on #1944
Nice! OK, tested again and didn't get this specific error on both pcs, I'll close this issue now.

[2021-02-21 19:18] #1944 closed

[2021-02-21 22:34] markhughes commented on #1973
@fredmaiaarantes is `blitz new --dry-run myApp` any different?

[2021-02-22 09:35] fredmaiaarantes commented on #1973
No, it's not different.

[code]

[2021-02-22 10:55] BjoernRave opened #1987 "Support `server.ts` (Custom Server with Typescript)"
### What do you want and why?

I would like to use Typescript in my custom server.

### Possible implementation(s)

Detect if a `server.ts` file exists, compile it and use it as it is being used right now.

[2021-02-22 12:51] jan-wilhelm opened #1988 "Block analytics scripts for cypress tests by default"
### What do you want and why?
With the default `cypress.json` file, running Cypress actually sends data to your analytics service (If you have set up one), leading to distorted analytics.
We can prevent this by blocking common analytics hosts by default.

### Possible implementation(s)
I found this [reference article](https://cri.dev/posts/2020-04-23-How-to-exclude-Google-Analytics-in-your-Cypress

[2021-02-22 12:52] jan-wilhelm commented on #1970
yes, you're right. 0.30.1 is good again, and so is 0.30.2 :)

[2021-02-22 12:52] #1970 closed

[2021-02-22 17:11] lcswillems commented on #1958
Here is the reproduction:

- In Blitz 0.29.7, Suspense works with legacy reactMode: https://codesandbox.io/s/blitz-030-with-bug-forked-6bkiz
- In Blitz 0.30.2, Suspense doesn't work with legacy reactMode: https://codesandbox.io/s/blitz-030-with-bug-1uu3j

The only difference is Blitz version.

[2021-02-22 21:23] flybayer commented on #1982
Looks like an issue connecting to your database server. Are you sure it's running and running on port 5432?

[2021-02-22 21:25] flybayer commented on #1983
Sorry about that! Probably to get breakpoints working, you need to add them to the code inside `.blitz/build`. Not sure if we can fix that at the debugger level or not.

[2021-02-22 21:40] flybayer commented on #1984
Hey @Slein2012, currently our zero-config session config requires `User.id`, not `User.idUser`.

But you can use `idUser` by overriding the sessionMiddleware config in blitz.config.js. [Here's the default config which we use](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/supertokens.ts#L55-L94). You can change the db hooks to use `idUser`.

[2021-02-22 21:43] flybayer commented on #1959
Ok thanks for the update

[2021-02-22 21:46] flybayer commented on #225
Hey @tconroy, I haven't added `next-prisma-plugin` yet because it's still experimental from prisma and I don't know if it works with webpack 5. Also it doesn't it with our `globalThis` caching which we still do inside `enhancePrisma`.

So need to test that prisma plugin with webpack 5 plus change it to work with `globalThis`.

[2021-02-23 01:08] Extra-Extra-Dev commented on #1836
I've not been doing as much work this past few days (been focusing on docker builds). But I've noticed a little less trouble.  I still report back when I get back in to heavier production.

[2021-02-23 02:05] flybayer commented on #1958
Thank you, that's very helpful! I see the main issue is this in browser console.

[code]

[2021-02-23 02:10] flybayer commented on #1988
What do you mean default `cypress.json`? :)

[2021-02-23 02:15] jan-wilhelm commented on #1988
the cypress config that we have in the [`auth` example](https://github.com/blitz-js/blitz/tree/canary/examples/auth) for example?  I personally directly copied that `cypress` folder when setting up Cypress for myself. I always thought the Blitz new app generators included a Cypress template setup, or has that changed recently?

[2021-02-23 08:06] Skn0tt commented on #1985
Alright, PR is merged! This should improve once `babel-plugin-superjson-next@0.2.2` lands in Blitz.js :)

[2021-02-23 08:06] karimsx commented on #1982
Hmm, yes actually i downgraded my version to blitz 0.29 and its working correctly without any modification in database, is there a way to show more logs about the error?

[2021-02-23 09:22] lcswillems commented on #1958
Thank you for your support!!

[2021-02-23 10:44] medihack commented on #1985
Wow, this was blitz fast ;-) I close the issue, ok?

[2021-02-23 10:44] #1985 closed

[2021-02-23 16:43] maotora opened #1991 "blitz console wont open after updating to beta version"
**What is the problem?**

When I start `blitz console` it just starts printing the logs then it hangs and won't open.

I've also noticed that my RAM keeps going up while `blitz console` hangs until it throws out of memory error.

When I run `blitz console`:
[code]

**What are detailed steps to reproduce this?**

1. Update to v 0.30.2

2. Run `blitz console`

3. Watch it hang and your RAM going up

[2021-02-23 17:09] flybayer commented on #1988
New apps don't have cypress :) And the auth example cypress setup isn't the most ideal either. I have a nice setup I just have to get public at some point

[2021-02-23 20:17] flybayer commented on #1982
@karimsx yeah you can enable more prisma logging: https://www.prisma.io/docs/concepts/components/prisma-client/working-with-prismaclient/logging

[2021-02-23 20:19] flybayer commented on #1991
Thanks for the bug report!

[2021-02-23 20:54] Roesh opened #1996 "On Linux, Javascript files being generated after running git push prevent git push"
**What is the problem?**

On Linux, when .ts files are modified (such as types.ts or a query or mutation), and a commit with those changes is added to git, if git push is called, it fails with the following error:
[code]

(There are several other ts files with warnings, but those are expected (I need to fix those warnings sometime smh))

This is the file that is causing the error, it is a js file

[2021-02-23 21:00] Roesh opened #1998 "Attempting to upgrade the global blitz version from the blitz new prompt fails"
**What is the problem?**

EDIT: There is a really simple workaround mentioned by Brandon in the posts below, npm i -g blitz@latest will upgrade the global blitz version to the latest release.

When trying to create a new blitzjs project, if your global blitz version is not the latest released version, a prompt to upgrade the global blitz version appears. Selecting yes to the prompt causes the foll

[2021-02-23 21:20] flybayer commented on #1958
So that error is because with `0.30.x` you must have a custom `_document.tsx` page as follows:
[code]

That will get what you want. However, `blitz build` still fails with a React error: https://reactjs.org/docs/error-decoder.html/?invariant=294

Because suspense for data fetching is still experimental. So officially we do not support suspense in legacy mode.

As for the issue with chakra-ui, ther

[2021-02-23 21:20] #1958 closed

[2021-02-23 21:20] #1953 closed

[2021-02-23 21:21] aditsachde opened #1999 "Resolver.authorize not properly functioning as a type guard"
**What is the problem?**

`ctx.session.$authorize()` functions as a type guard, turning `ctx.session.userId` from `number|null` into `number`. Adding `resolver.authorize()` to the pipe function should do the same, but it does not.

**What are detailed steps to reproduce this?**

[code]

**Run `blitz -v` and paste the output here:**

[code]

![image](https://user-images.githubusercontent.com/237071

[2021-02-23 21:41] flybayer commented on #1999
I see the problem. You need to remove `Ctx`.

[code]

[2021-02-23 21:54] aditsachde commented on #1999
Ah without the `Ctx` it's detected as `AuthenticatedMiddlewareCtx`.

It might be useful to change the first code block [here](https://blitzjs.com/docs/authorization#secure-your-data). I was looking at the second code block that specified `Ctx` because the first one didn't have an example.

[code]

I opened a PR just to make it easier if you think it might be helpful, otherwise, feel free to close

[2021-02-23 21:58] #1999 closed

[2021-02-23 21:59] FDiskas commented on #1956
Also if you expose just 127.0.0.1 - this will not work on dockerized dev environment

[2021-02-24 00:03] flybayer commented on #1937
Update: we're getting rid of our custom compiler: https://github.com/blitz-js/blitz/discussions/1990

[2021-02-24 00:03] #1937 closed

[2021-02-24 03:14] markhughes commented on #1937
@flybayer can you give an example, please? I cannot see how to run a babel transformation before blitz.

[2021-02-24 09:15] lcswillems commented on #1958
Adding or removing the custom page `_document.tsx` doesn't change anything to the issue.

0.29.7 and 0.30.0 both use the same experimental version of React.

So I don't understand what I should conclude from your message: where had been the bug introduced in Blitz? Because it is not coming from neither React (that has not changed) or my app (adding `_document.tsx` solves nothing).

[2021-02-24 15:11] maotora commented on #1408
Hi, @Daidalos117 making a follow-up, how did you solve this?

[2021-02-24 15:52] Slein2012 commented on #1984
Thank you very much. I've overseen that.

[2021-02-24 15:52] #1984 closed

[2021-02-24 16:04] flybayer commented on #1996
@Roesh did you modify the eslint config for your app? I'm unable to reproduce with a new app. Please add a repo or codesandbox with a reproduction :)

[2021-02-24 16:05] flybayer commented on #1998
@Roesh can you please update to 0.30.3 and try again?

[2021-02-24 16:08] flybayer commented on #1956
Can we detect if in a docker environment and default to 127.0.0.1 if in docker?

[2021-02-24 16:09] flybayer commented on #1937
@markhughes what change do you want to make? The more specific code you can give, the better I can help

[2021-02-24 16:13] flybayer commented on #1958
@lcswillems ah, I'm so sorry, I forgot one key thing. `useQuery` now defaults to `{suspense: false}` if reactMode is legacy. So now you have to add `{suspense: true}` to `useQuery` third argument for it to work.

See https://codesandbox.io/s/blitz-030-with-bug-forked-ubcet?file=/app/pages/index.tsx

[2021-02-24 18:13] lcswillems commented on #1958
Thank you!! Is there a way to set it globally?

[2021-02-24 19:46] m0rdreck opened #2002 "Hot reload - v0.30.3"
**What is the problem?**

I have upgrade blitz to 0.30.3 from 0.27.1

When i change mutations file, the hot reload not working

exemple file: app/articles/mutations/createArticle.ts

I change z.object
[code]
To:
[code]
The hot reload module not working. Nothing is reload and the file in .blitz folder is older version.

For resolve i need to stop blitz dev, delete .blitz folder and restart blitz de

[2021-02-24 20:00] flybayer commented on #1958
No because, as I said, suspense without concurrent mode is not supported :)

[2021-02-24 20:00] #1996 closed

[2021-02-24 20:09] Roesh commented on #1998
Sounds good. I'll need to learn a little more about how npx works since I am on 0.30.0-canary.15 and I'm not sure what the best method to create a single project with 0.30.3. I should be able to have that done by sometime tomorrow

[2021-02-24 20:26] flybayer commented on #1998
@roesh run `npm i -g blitz@latest` and then run `blitz new` to create a new project with latest version

[2021-02-24 20:29] #2002 closed

[2021-02-24 20:32] m0rdreck commented on #2002
Hum just many file not reload, no specific folder.

Package.json if can help you.
[code]

[2021-02-24 20:35] flybayer commented on #2002
@m0rdreck fixed in https://github.com/blitz-js/blitz/releases/tag/v0.30.4. Thanks for the bug report!

[2021-02-24 20:45] m0rdreck commented on #2002
@flybayer Thank for your speed and your working, i try it ;)

[2021-02-24 21:57] markhughes commented on #1937
@flybayer apologies I wrote out an example but for some reason I didn't post it.. not sure what happened there.

I'm working on a feature flag handler. Essentially, I want to be able to enable and disable large portions of the application based on a `features` folder.

For example, this is the "download-page" feature I've built, the features folder lives in the `app` directory:

[code]

The index.

[2021-02-24 22:15] flybayer commented on #1937
@markhughes ok got it. So after we fork next.js, that directory structure will stay the same (it won't be moved in the build like it is now). I think then babel will work for you?

[2021-02-24 22:42] markhughes commented on #1937
@flybayer sure. But there is no current solution, right? I assume the process of forking and getting up a stable build of it up will take some time.

[2021-02-24 22:48] flybayer commented on #1937
@markhughes yes. I'm thinking a few weeks. If you want to add a stage hook in the meantime, we can do that.

[2021-02-24 22:48] flybayer commented on #1937
You could probably also get along with https://github.com/ds300/patch-package without any changes to blitz core

[2021-02-25 00:08] sakulstra commented on #1959
hey @flybayer i missed #2003 which might have been a duplicate :thinking: - just spend another hour with blitz without facing any issues! Thanks for putting so much effort into the projcect.

Will close this issue for now as it seems like i cannot reproduce since `0.30.4`

[2021-02-25 00:08] #1959 closed

[2021-02-25 03:25] bacongravy commented on #1958
@lcswillems While Suspense may appear to work in "legacy" mode during development, server-side rendering and client-side rehydration of Suspense does not[1], so in general, Suspense will not reliably work with Blitz in "legacy" mode, unless you ensure that your Suspense only ever gets rendered client-side.

You might try setting reactMode to "blocking" and see if that works for you; the issues you

[2021-02-25 05:25] Roesh commented on #1998
Cool. So I upgraded to blitz 0.30.3 with npm i -g blitz@0.30.3, and I still run into the same issue.

If I upgrade to latest (0.30.4), I don't get the `✔ Your global blitz version is outdated. Upgrade?` prompt. Is there a way to manually trigger that? I can wait till we have 0.30.5 to test latest

[2021-02-25 08:15] verekia opened #2006 "`blitz test` does not pick up .env.test.local"
**What is the problem?**

`blitz test` does not seem to load the right environment variables. It loads `.env.local` but not `.env.test.local`.

In `.env.local` I have `DATABASE_URL="Dev_Database"`
In `.env.test.local` I have `DATABASE_URL="Testing_Database"`

When running `npm test` or `yarn test`, the test suite uses `Testing_Database` as expected.
When running `blitz test`, the test suite uses `

[2021-02-25 08:22] lcswillems commented on #1958
THANKS A LOT @bacongravy !!

I have just put:

[code]

And I have Suspense working by default and no Chakra UI bug.

[2021-02-25 15:53] flybayer commented on #1998
So maybe there's some confusion here 🤔 `✔ Your global blitz version is outdated. Upgrade?` only upgrades the globally installed CLI version. That doesn't affect your app code.

The global CLI version only affects what is generated via `blitz new`. Everything else is determined by your local blitz version. When you use global blitz cli inside a project, it uses the cli code from your project instea

[2021-02-25 15:55] flybayer commented on #1958
Thanks @bacongravy! Do you think it would makes sense to set 'blocking' as default in Blitz instead of concurrent?

[2021-02-25 16:01] flybayer commented on #2006
Issue here is that we need to set `process.env.NODE_ENV = test` before loading env variables. However I'm considering removing this command entirely. I've never used it and I doubt many others have either. I'll ask around.

So for now use, `yarn test` or `npm run test`

[2021-02-25 17:57] Roesh commented on #1998
Hmm that makes sense, let me make sure I'm doing this right

Opening VSCode to a folder that is not a blitz project:

[code]

[code]

[code]

I assume that since I am not in a blitz project that the global blitz version would be used when generating the project correct? If I upgrade to the latest global repository (which currently is 0.30.5), I won't get the prompt to upgrade blitz versions until

[2021-02-25 18:38] matthieu994 commented on #1638
Hello @flybayer !
I'm on Windows so I thought it would be a good idea to give a hand on this issue. :)

I've set-up the dev environment, changed this line :
`const testIfNotWindows = process.platform === "win32" ? test : test`
and this is what I get when I run the tests suite in `agnostic-source` :

[code]

I'm on Windows 10 Family, Version 10.0.19042 Build 19042.

[2021-02-25 19:11] flybayer commented on #1638
Hey thanks for looking into this @matthieu994!

We're actually going to be removing this code (see https://github.com/blitz-js/blitz/discussions/1990), so I think we can just close it.

@all-contributors add @matthieu994 for tests

[2021-02-25 19:11] #1638 closed

[2021-02-25 19:15] flybayer commented on #1983
Putting in icebox because this should be fixed by this coming change: https://github.com/blitz-js/blitz/discussions/1990

[2021-02-25 19:16] flybayer commented on #1943
Going to close because it should be fixed.

And if not fixed now, it will be fixed by  https://github.com/blitz-js/blitz/discussions/1990

[2021-02-25 19:16] #1943 closed

[2021-02-25 19:16] flybayer commented on #1836
Going to close because it should be fixed.

And if not fixed now, it will be fixed by  https://github.com/blitz-js/blitz/discussions/1990

[2021-02-25 19:16] #1836 closed

[2021-02-25 19:16] flybayer commented on #1829
Putting in icebox because this should be fixed by this coming change: https://github.com/blitz-js/blitz/discussions/1990

[2021-02-25 19:17] flybayer commented on #1729
Putting in icebox because this should be fixed by this coming change: https://github.com/blitz-js/blitz/discussions/1990

[2021-02-25 19:17] flybayer commented on #1659
This was fixed in https://github.com/blitz-js/blitz/releases/tag/v0.30.1

[2021-02-25 19:17] #1659 closed

[2021-02-25 19:18] flybayer commented on #1497
Putting in icebox because this should be fixed by this coming change: https://github.com/blitz-js/blitz/discussions/1990

[2021-02-25 19:18] flybayer commented on #1372
Putting in icebox because this should be fixed by this coming change: https://github.com/blitz-js/blitz/discussions/1990

[2021-02-25 19:19] flybayer commented on #261
Putting in icebox because this may be fixed by: https://github.com/blitz-js/blitz/discussions/1990. Or at least the implementation will be changed by that

[2021-02-25 21:55] jmcelreavey opened #2009 "Seeding dates seems to throw Prisma error"
**What is the problem?**

This is a strange one, I've raised it on the prisma github too, basically I'm trying to seed a date of birth. When I use faker or chance and pass in the date (even doing `.toDate`) it errors with "out-of-range datetime" however if I simply pass "new Date()" with the same value it works fine

**What are detailed steps to reproduce this?**

1. Create a schema.prisma with a

[2021-02-25 22:02] jmcelreavey commented on #2009
This is the only way I have got it to work so far:

[code]

[2021-02-26 15:26] Roesh commented on #1998
I finally read through the contributors guide, I've been meaning to get around to it for too long, looks like its pretty simple, I just had to fork and clone the repo.

There are two spots that might be erroring, they're in packages/cli/src/commands/new.ts, lines 88 or line 97 are causing the error

`const useYarn = checkYarn.stdout.toString().includes("blitz@")`

`versionResult.stdout.toString().

[2021-02-26 15:28] flybayer commented on #2009
Thanks @jmcelreavey probably we should close this since it's a prisma issue. Maybe you can link to the prisma issue you opened?

[2021-02-26 15:35] flybayer commented on #1998
Awesome, thanks @Roesh!

[2021-02-26 16:36] flybayer opened #2012 "Upgrade react-query to v3"
### What do you want and why?

We need to upgrade to react-query v3. This is a fairly sizable task and will required some typescript skills.

### Possible implementation(s)

[Read the v2 to v3 migration guide](https://react-query.tanstack.com/guides/migrating-to-react-query-3) and makes all changes required.

- Upgrade react-query v3
- Add new queryClient providers
- Update types for our useQuery

[2021-02-26 18:13] Roesh commented on #1998
Anytime!

So, when I was trying to run blitz new in the auth example I ran into an issue because I needed yarn dev to be running for it to work. I didn't have yarn installed, so I downloaded yarn via npm and did yarn dev. I modified new.ts to always ask to upgrade, and ran blitz new and I didn't get the error, I'm assuming its because I actually had yarn installed now lolol,

I went to a random di

[2021-02-27 01:41] tundera commented on #2012
How about something like this for allowing the user to specify both the query client and opt into the hydration by passing the client and dehydrated state as props to a custom `QueryProvider` component:

[code]

and then in `_app.tsx` we can just let the user define the `queryClient` or provide one like this:

[code]

I use this approach now in my Next.js apps and like it 🥳

[2021-02-27 04:06] usman-coe opened #2014 "tsc throw error on blitz beta version"
**What is the problem?**

I cannot push code with tsc run on pre-push

**What are detailed steps to reproduce this?**

1. create a new blitz app
2. connect to repository
3. push code to my repository

**Run `blitz -v` and paste the output here:**

[code]

this is error
![image](https://user-images.githubusercontent.com/2543952/109374911-51cd7880-78eb-11eb-97e0-971f7dba247f.png)

[2021-02-27 13:35] BenedictWHD opened #2015 "next export - Not working"
**What is the problem?**

Next export which would be required to deploy on some providers does not work out of the box due to use of `next/image` component within Blitz.

When doing next export after a blitz build, we get the following error, even though personally not making use of either the Blitz Image component or the Next Image component with the application.

Error: Image Optimization using

[2021-02-27 14:21] Swapnull opened #2016 "invoke returning Promise<any> rather than query return type"
**What is the problem?**

Originally asked: https://discord.com/channels/802917734999523368/814627766694838293/814822759519354892

When doing `invoke(someQuery, {})`, the type returned should be whatever `someQuery` returns. It seems to be `Promise<any>`.

**What are detailed steps to reproduce this?**

Repo with example: https://github.com/Swapnull/invoke-any-error-blitz

Can also be tested by ge

[2021-02-27 15:33] matthieu994 commented on #1703
Hello @flybayer !
I would like to work on this :)
I've already started to change commands and I'm trying to find out what needs to be modified for Blitz.

[2021-02-27 21:31] flybayer commented on #1998
Ok cool, and no yarn is not a requirement, so we should fix this so that it works without yarn

[2021-02-27 21:40] flybayer commented on #2012
@tundera yes that is close to what I was picturing except that we need to own the queryCache internally so it can be used outside the react tree.

But now that I'm thinking more about it, I think we can do this with just a config object. And then in a babel plugin we'll wrap the default export like `withBlitz(MyApp, config)`.

[code]

But then actually why not just put that config inside `blitz.co

[2021-02-27 21:58] flybayer commented on #2014
Thanks @usman-coe! Turns out this is a bug in typescript 4.2.

Solution: downgrade to typescript 4.1

Typescript bug: https://github.com/microsoft/TypeScript/issues/42773

[2021-02-27 22:09] #2014 closed

[2021-02-27 22:10] flybayer commented on #2015
Hey @BenedictWHD, I'm curious, why are you using Blitz instead of Next.js for this?

[2021-02-27 22:11] flybayer commented on #2016
Probably we need to use our `Await` utility type to extract the true return type here

[2021-02-27 22:12] flybayer commented on #1703
Awesome! Let me know if you have any questions

[2021-02-28 01:45] markhughes commented on #1767
@wafuwafu13 If you get stuck with this one, i'm happy to help you out!

[2021-02-28 02:40] wafuwafu13 commented on #1767
Thank you :)
I can't find a good way to mock formChoices, so could you help me ?

[2021-02-28 05:24] usman-coe commented on #2014
Thanks @flybayer

[2021-02-28 08:31] BenedictWHD commented on #2015
Hi @flybayer,

Thanks for taking a look, is essentially as Blitz has extra features that I would like to make use of which next doesn't, specifically for me, the ability to schedule functions to run is very useful!

[2021-02-28 10:49] matthieu994 commented on #1703
Thanks ! Can I have access to the repo ?

[2021-02-28 15:11] flybayer commented on #1703
@matthieu994 done. Accept here: https://github.com/blitz-js/versions-diff/invitations

[2021-02-28 15:57] JuanM04 commented on #2015
Have you tried [Quirrel](https://quirrel.dev)?

[2021-02-28 17:07] brillout opened #2022 "Use Vite instead of Webpack/Next.js"
Author of [vite-plugin-ssr](https://github.com/brillout/vite-plugin-ssr) here.

Would be lovely if Blitz rebases on top of [Vite](https://vitejs.dev/).

Vite has unprecedented DX.
 - Order of magnitude faster dev speed & HMR.
 - Lazy transpiling for scaling up to thousands of modules with no hit on dev speed.
 - No unnecessary complex configuration (looking at you webpack.config.js).
 - Native SSR

[2021-02-28 22:59] remjx opened #2023 "Generate types for /pages routes"
### What do you want and why?

TypeScript types for routes in /pages

For example, given `app/pages/user/settings.tsx`, generate `type UserSettingsRoute = "/user/settings"`

This way, we can reference the route in a type-safe manner instead of relying on tests to catch the error.

### Possible implementation(s)

Create a `blitz generate types` command that scans the directory structure for /pages

[2021-02-28 23:12] remjx commented on #2023
@engelkes-finstreet's current approach:

[code]

[2021-03-01 00:30] markhughes commented on #1767
@wafuwafu13 can you push up the branch in your fork so I can see your current progress and then I'll be able to make a suggestion :)

[2021-03-01 01:35] Roesh opened #2024 "Generate Labeled Select, Radio and Checkbox Fields components when blitz new is run"
### What do you want and why?

There is a LabeledTextField component in app/core/components/LabeledTextField.tsx, which is generated next to our Form component when we run Blitz new <appname>

I would be nice to have a LabeledSelectField, LabeledRadioField and LabeledCheckBox field to complete the set

### Possible implementation(s)

We should support all three of the form options (React final for

[2021-03-01 09:02] Skn0tt commented on #2023
I like this idea! We could then use the generated type in our `Link` adaptation.

What file should we write these types into? Maybe into the .blitz directory?

[2021-03-01 09:11] BenedictWHD commented on #2015
Hi! Yes thanks, as this is what Blitz uses, though a good shout! I may use it independently of Blitz in the meantime until this is resolved as I do want to be able to make use of the other features of Blitz with the scheduled functions eventually.

[2021-03-01 12:26] lcswillems opened #2026 "Add `blitz export` command"
### What do you want and why?

Next.js has a `next export` command to create a static website.

### Possible implementation(s)

I would like to have the same for Blitz.

[2021-03-01 12:50] kandros opened #2027 "Filter mutaion/queries logging with a custom function"
### What do you want and why?

Ability to filter which logs will be printed in the console.

There is a lot of noise generated by queries such as `getCurrentUser`

### Possible implementation(s)

a function declared inside `blitz.config.js` that receives the message going to be logged and extra metadata when available.

### Additional context
I have thousands of logs like that that are not much us

[2021-03-01 17:29] flybayer commented on #2022
Hey! Thanks for reaching out. The Blitz community is currently very happy about being built on Next.js, and we have no plans to switch to something else. We're confident Next.js will bring similar dev DX performance to vite.

Additionally, unless I missed it, vite-plugin-ssr does not provide API routes like Next.js, and this is a critical feature for Blitz.

[2021-03-01 17:29] #2022 closed

[2021-03-01 17:31] #1998 closed

[2021-03-01 17:33] flybayer commented on #2026
Thanks @lcswillems, but closing as a duplicate of #2015

[2021-03-01 17:35] flybayer commented on #2015
Ok yeah makes sense. This will be fixed by https://github.com/blitz-js/blitz/issues/639 which I'm working on soon.

[2021-03-01 17:36] flybayer commented on #2026
Actually nevermind, this is a separate issue :)

[2021-03-01 17:37] flybayer commented on #2027
Great suggestion!

[2021-03-01 17:42] flybayer commented on #2024
Great idea!

[2021-03-01 17:51] flybayer commented on #2023
Oh, this is a fabulous idea!! And I think we can take it a step further to provide routes as a JS object so that you can do something like this:

[code]

Basically do the same thing as Prisma but for routes.

It would be better if we can generate the field/type name based on something other than the filepath because ideally you can reorganize your files and routes without changing your usage of `R

[2021-03-01 18:22] hasparus commented on #2023
If you go filepath-based way, I kinda dislike runtime emit. It's not a hard preference, but I feel I'd rather write a string inside href without any import — it could be still typechecked and autocompleted by Link props.

Made sth in this theme once — https://github.com/hasparus/strict-routes

---

This is **smart**. Routes are an implementation detail, what the user wants to do is navigate to a p

[2021-03-01 18:31] kandros commented on #2027
Wondering if is better to make `rpcMiddleware` https://github.com/blitz-js/blitz/blob/5619dcca97317e61cc1948493c40d3a578c01c1a/packages/server/src/rpc.ts#L43 somehow configurable (maybe via exporting a config object) or intercept logging at the `display` package level https://github.com/blitz-js/blitz/blob/canary/packages/display/src/index.ts

[2021-03-01 19:12] flybayer opened #2030 "Create a DigitalOcean droplet image for the DO Marketplace"
### What do you want and why?

We are adding a Blitz image to the Digital Ocean marketplace (they contacted me to start this process)

All of our image engineering docs and samples are [listed together here](https://github.com/digitalocean/marketplace-partners). You can build a VM template manually, and automate that fairly quickly by simple scripting with Fabric.py

For the Image, the basic premi

[2021-03-01 19:12] flybayer opened #2031 "Create a DigitalOcean Kubernetes 1-click app for the DO Marketplace"
### What do you want and why?

We are adding a Blitz image to the Digital Ocean marketplace (they contacted me to start this process)

To do this, you submit a PR to https://github.com/digitalocean/marketplace-kubernetes with the blitz setup.

Once that PR is made, let me know, and I'll finish the submission process with DO.

---

We're also adding a regular droplet image setup here: https://githu

[2021-03-01 19:17] flybayer commented on #2023
Yes. So the default export component name would have to be globally unique in this case

[2021-03-01 19:20] flybayer commented on #2027
@kandros yeah the config idea is pretty good. What do you picture it looking like?

[2021-03-01 19:32] kandros commented on #2027
Something like

[code]

Where in the code can I find the point where `getCurrentUser` gets imported?

[2021-03-01 19:33] daganomri commented on #2023
What about in the case of anonymous default exports? Is it possible to enforce named default exports?

[2021-03-01 19:52] flybayer commented on #2027
Ok, let's make it a bit more general, so like this:

[code]

And the current rpc code is getting ready to be totally changed with the next.js fork, so best to wait on implementing this.

A workaround is to use https://github.com/ds300/patch-package to patch the display package.

[2021-03-01 23:09] flybayer commented on #2023
@daganomri we currently have a lint rule that errors (or at leasts warns) on anonymous default exports. So we can totally enforce that

[2021-03-02 03:25] Roesh commented on #2024
OK, I've been able to create Select, Radio and Checkboxes for Final form for myself, but there are a couple things:

1) I've had to keep the radio and checkbox's input and select elements as siblings because I'm using mdb ui kit which styles them as siblings, and I needed to add a required id parameter to those components so that the input has an id and the label has a htmlFor with that same id
2)

[2021-03-02 09:09] lcswillems commented on #1244
I have the exact same issue! I can't target serverless because of 'next-transpile-modules'

[2021-03-02 10:07] paulm17 opened #2037 "CRA show compile+eslint warnings, blitz does not"
### What is the problem?

I've been developing an app and blissfully unaware that I have a ton of issues with it.  I'm a new react developer and not yet grok-ing all the things.  When I run blitz dev I get no notification of any coding issues.  So I think that all is well.

It so happens, that I needed to show a POC to someone for help with a component, and had to port it to CRA.  CRA displayed ma

[2021-03-02 14:45] flybayer commented on #2024
Let me see your code. I'm currently using id + htmlFor and `@reach/auto-id` so I don't have to specify an id. Perhaps we can add `@reach/auto-id` to blitz core so we can use that.

You need to pass `type: 'checkbox'` in the second argument to `useField`

---

Here's my current RFF components. I should have posted this earlier 🤦

[code]

[code]

[2021-03-02 14:52] flybayer commented on #1244
This *should* be fixed in the next patch release

[2021-03-02 17:37] Maastrich opened #2038 "Multiple fields forms using templates during generation"
### What do you want and why?

I was thinking of a feature that allow the generator to use less "static" templates for exemple for the Form which, after generation, only contains a `Name` field whether or not it exists.
The goal would be to complete the Form generation to a complete one allowing multiple variable as the CLI allow it.

After running command: `blitz g all test variableOne:string var

[2021-03-02 22:17] Roesh commented on #2024
Ohh, nice. Your selection's parse argument is also better than mine.

Here's the ones I have right now, (They use some bootstrap classes, so I'll need to make them neutral with custom jsx). I'm probably also going to take your selection and checkboxes logic and update mine:

### Select:

`import { forwardRef, PropsWithoutRef } from "react"
import { useField, Field } from "react-final-form"

export

[2021-03-03 01:18] tundera commented on #2012
@flybayer That makes sense that the cache would need to be internal. I like your idea of wrapping the default export in a `withBlitzApp` function. A nice side-effect of that approach is that it would simplify the process of moving existing Next apps to Blitz.

[2021-03-03 06:59] Skn0tt commented on #2023
I'd love to work on this!

What's the best place to emit into? Should the resulting dictionary be checked into Git or not?

[2021-03-03 11:54] michaelspeed opened #2046 "Cannot create a new project with node 14.0.0"
### What is the problem?

Creating a new blitz project with blitz new app throws an error

### What are detailed steps to reproduce this?

1.npm install -g blitz
2. blitz new myAppName

error Log =
[code]

### Run `blitz -v` and paste the output here:

[code]

[2021-03-03 14:31] medihack opened #2047 "Blitz breaks Shallow Routing of Next.js"
### What is the problem?

With [Shallow Routing](https://nextjs.org/docs/routing/shallow-routing) it is possible to update a path without losing component state. The components get rerendered, but will not be destroyed and created again. This works fine in Next.js, but Blitz.js breaks this.

### What are detailed steps to reproduce this?

I created two little different repositories that demonstrat

[2021-03-03 14:52] michaelspeed commented on #2046
Works ok with node 15.5.0

[2021-03-03 19:59] bugzpodder opened #2048 "RPC doesn't use basePath"
### What is the problem?

basePath wildly inconsistent during development and deployment

### What are detailed steps to reproduce this?

1. blitz new app
2. Edit blitz.config.js and add an entry { basePath: "/admin" }

Run yarn dev (development):
RPC: served from /admin/api/users/queries/getCurrentUser
requests to RPC: to /api/users/queries/getCurrentUser, which means it won't connect with above

[2021-03-03 20:12] androsj commented on #1953
still having the same issue on v0.36.0
npm: 7.6.0

[2021-03-03 21:40] flybayer commented on #2038
Oh yes!! I've definitely wanted to add this, so I'd love if you'd work on it!

The subtemplate idea is a good one.

I wonder if we can do even better, maybe like this?

[code]

[2021-03-03 21:46] flybayer commented on #2023
@Skn0tt well, unless we have a better reason, I think it makes sense to follow exact same pattern as prisma and generate it to `node_modules/.blitz` and we can use a postinstall hook like them to generate it

[2021-03-03 21:51] flybayer commented on #2023
But I guess it could be nice way to easily see all routes in your app if it's checked into git 🤔  (as long as it's relatively clean to look at)

[2021-03-03 22:12] #2016 closed

[2021-03-03 22:13] #1956 closed

[2021-03-03 22:20] flybayer commented on #2047
Hey @medihack, I'm fairly certain this is because of react concurrent mode which we have enabled by default in blitz.

Can you try this in the next app and see if it still works or not?
1. `npm i react@experimental react-dom@experimental`
2. Add following to `next.config.js`
[code]

And you can disable that in blitz with this in blitz.config.js:

[code]

You can also try `"blocking"`

[2021-03-03 22:21] flybayer commented on #2046
Can you try with the latest node 14.x version?

[2021-03-03 22:24] flybayer commented on #2048
Ah, this is indeed a bug! Thanks for reporting

[2021-03-03 22:41] medihack commented on #2047
Unfortunately not. It fails with `legacy` and `blocking` mode in those demos (and also in my main project). The components still get destroyed.

[2021-03-03 22:54] medihack commented on #2047
Ok, I also tried it now in the Next sample. It still works there as expected (in blocking and concurrent mode).

[2021-03-03 23:06] flybayer commented on #2047
Ok interesting, thanks for checking. Then my next guess is that it's caused by our `getLayout` pattern or by our https://github.com/blitz-js/blitz/blob/canary/packages/core/src/blitz-app-root.tsx components which we add via a babel plugin

[2021-03-03 23:10] markhughes opened #2050 "Removing the "db" folder will throw warnings from queries"
### What is the problem?

Removing prisma and the db folder should just remove the functionality of prisma.

However, doing so will cause the following error to appear when compiling query files.

[code]

### What are detailed steps to reproduce this?

1. Remove prisma references from package.json
2. Delete 'db' folder
3. Have a query compile in blitz dev mode

### Run `blitz -v` and paste the out

[2021-03-03 23:17] flybayer commented on #2050
You are right it shouldn't error if db is missing.

This could be caused by this: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/rpc/index.ts#L75-L84 or this: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/supertokens.ts#L57-L62

[2021-03-03 23:57] james2406 opened #2052 "Ability to access the session data within a passport strategy"
### What do you want and why?

I would like to be able to access the session data inside the verify callback of the passport strategy.

This session data is set on an anonymous session via the `ctx.session.$setPublicData()` and `ctx.session.$setPrivateData()` functions.

### Possible implementation(s)

Potentially, the `passportAuth` function could accept a callback which would provide the `ctx.se

[2021-03-04 08:00] medihack commented on #2047
Disabling the persistent layout (and removing the suppressFirstRenderFlicker) also seems to have no effect (components still get destroyed with shallow routing).

I updated the Blitz example to be more simplistic (without persistent layout) and with legacy mode.

[2021-03-04 08:38] YashKumarVerma commented on #2050
I'll try to look into this, this is my time contributing to blitz, so might take a bit long to workup on this.

[2021-03-04 12:39] Maastrich commented on #2038
I'll start have a better look onto this and work on it then

[2021-03-04 16:14] flybayer commented on #2052
Sweet, thanks! Great idea.

This change needs to be made in the `passport-adapter.ts` file. We'll need to run global middleware at start of function instead of the end, we can access ctx.

So something like this:

[code]

[2021-03-04 16:19] flybayer commented on #2050
Awesome, sounds good! Feel free to ask any questions here or in discord #new-contributor-help

[2021-03-04 16:22] flybayer commented on #2038
So something else we need to consider is how we can set this up to we can update files that were previously generated. This actual feature can be added later, but need to plan for it.

1. `blitz generate all project name:string` -> generates all new files
2. `blitz generate all project description:string` -> updates existing files with new description field

I think your comment idea might actuall

[2021-03-04 16:37] Maastrich commented on #2038
It's been a long time that I've been thinking about developing a template typescript transformation tool adapted to this kind of use (for personal projects as well as for projects like blitz) I think I'm going to start working on it right now.
Maybe we could contact each other to discuss it together?

[2021-03-04 16:48] flybayer commented on #2038
Yeah! We can have a call in the discord voice channel

I think the comment can be even simpler.

[code]

[2021-03-04 16:57] flybayer commented on #2038
Related is custom templates: https://github.com/blitz-js/blitz/pull/1018

[2021-03-04 16:59] flybayer commented on #259
Closing in favor of https://github.com/blitz-js/blitz/issues/2038

[2021-03-04 16:59] #259 closed

[2021-03-04 17:32] kn0ll commented on #289
hello, i am the one from Discord who said i could look at this (so hopefully no conflict of interests).

i got this working locally. i was testing against a VSCode remote container for development, and Heroku for production. there are still a few considerations i need to work out.

1. assuming sqlite will remain the default database provider in the near future, i need to give a little more thought

[2021-03-04 17:37] androsj opened #2055 "Update zod to v3"
### What do you want and why?

I just noticed blitz is using zod v1, both internally and in generated apps.

How do you feel about updating to v3?

Here's the branch with the list of breaking changes:
https://github.com/colinhacks/zod/tree/v3

[2021-03-04 17:53] james2406 commented on #2052
Okay. This makes a lot of sense! I'm happy to take a go at this change and submit a PR.

[2021-03-04 19:55] #639 closed

[2021-03-04 19:55] #2015 closed

[2021-03-04 19:55] #2006 closed

[2021-03-04 19:58] flybayer commented on #2037
Alright, after investigating, there's not actually a bug in blitz (everything is working as intended).

The eslint and typescript errors are showing in the editor, and they also show when you run `npm run lint` and `npx tsc`.

It seems CRA has a nicer DX for eslint errors than next.js does. So to fix the DX issue here we need to make the change in next.js which will be more work. So putting it in

[2021-03-05 06:43] jhonnymichel opened #2063 "ctx object is empty in Vercel Cloud Functions"
### What is the problem?

After updating my blitz app from 0.25.0 to 0.31.0 (It was very straight forward even with breaking changes, kudos to your docs and changelogs), my Vercel builds have a very specific problem: ctx objects are empty inside mutations and queries. Looks similar to #862, but I have my blitz updated. I even updated the login/signup mutations to use the latest version.

On my loc

[2021-03-05 10:33] nikolay opened #2064 "No parent relationship"
### What is the problem?

There's no parent relationship between `teacher` and `school` anywhere. The DB migration SQL, the Prisma schema, etc. have no mention of school with teacher!

### What are detailed steps to reproduce this?

1. `blitz generate all school name:string`
2. `blitz generate all teacher name:string --parent=school`

### Run `blitz -v` and paste the output here:

[code]

[2021-03-05 12:32] rodrigoehlers opened #2065 "Unable to install latest blitz globally with Node 14.16.0 (latest LTS) and latest npm on latest macOS"
### What is the problem?

When running `npm i -g blitz` on Node.js version 14.16.0 with npm version 7.6.1, the install fails with the following error output.

[code]

If re-trying with ` --legacy-peer-deps` as suggested, it works.

This could have something to do with the way peer dependencies are handled in the new npm major version 7.y.z+.

### What are detailed steps to reproduce this?

See sec

[2021-03-05 14:52] flybayer commented on #2065
Yeah, we need to remove peerDependencies from pkg json and use patch-package to patch manypkg so that it doesn't use peerDeps.

[2021-03-05 14:55] scisteffan opened #2066 "Recipe installer is broken"
### What is the problem?

I am getting an error when I try to install a blitz recipe.

The error is:

[code]

### What are detailed steps to reproduce this?

1. Run `blitz install quirrel`

### Run `blitz -v` and paste the output here:

[code]

[2021-03-05 14:55] flybayer commented on #289
Don't use sqlite for production. I think assume postgres for now. Perhaps we can name recipe `docker-postgres` and then we can add recipes for mysql too.

Also we have two use cases: Docker only for prod and Docker for local and prod. Does it make sense to have two separate recipes for these?

[2021-03-05 14:58] flybayer commented on #2055
We'll definitely upgrade to v3 as soon as it's stable!

[2021-03-05 15:10] androsj commented on #2055
Gotcha. I thought maybe it was "stable enough", even though it's still tagged as alpha.

👍🏻✌🏻

[2021-03-05 15:13] kn0ll commented on #289
this makes things easier.

how do you feel about a single recipe that prompts for input? (database type (oiptional), username and password)? the variations between a sqlite, psql, and mysql recipe are almost insignificant.

unless i am missing anything obvious, which i have a tendency of, it seems like for the default project we can treat prod as a strict superset of dev in a multistage build:

[c

[2021-03-05 15:24] flybayer commented on #2063
I'm looking into this now

[2021-03-05 16:55] flybayer commented on #289
That's a great idea! Although I'm not sure if currently support installer prompts? 🤔

👍

[2021-03-05 17:22] LucasUnplugged commented on #2031
Maybe this is wide open, but is the idea here that the kubernetes image would be for a serverless deployment?

I'm new to the k8s ecosystem (and to blitz.js, for that matter), but have been digging into this quite a bit. I'm looking at using a FaaS platform for that purpose — most likely Fission.

I'm still in the process of trying this setup locally, but it would be amazing to have a 1-click Blit

[2021-03-05 18:02] flybayer commented on #2031
I honestly have no idea 😅

[2021-03-05 18:02] #2063 closed

[2021-03-05 18:10] flybayer commented on #2063
Fixed in https://github.com/blitz-js/blitz/releases/tag/v0.31.1

[2021-03-05 18:25] rodrigoehlers commented on #2063
Awesome @flybayer I deployed my app yesterday and was confused why I couldn't create accounts or login. Didn't look into it yet, but it'll probably be resolved now. Also thanks @jhonnymichel for bringing this up!

[2021-03-05 18:42] jhonnymichel commented on #2063
Yep, updated and redeployed to Vercel and now I can login!

[2021-03-05 20:00] Roesh opened #2072 "Running yarn dev to run development version fails on Windows"
### What is the problem?

After forking and downloading the blitz repository on Windows, running the `yarn` command, running `yarn dev` causes the following error
[code]

### What are detailed steps to reproduce this?

1. Forking and download the blitz repository at https://github.com/blitz-js/blitz
2. Clone your fork onto a Windows machine
3. Run the `yarn` command
4. Run the `yarn dev`  command

[2021-03-05 20:58] flybayer commented on #2072
@Roesh can you try running `yarn reset` and then `yarn dev` and see if that works?

[2021-03-05 21:00] flybayer commented on #2072
A workaround is to manually run `preconstruct watch`, then remove `preconstruct dev` from that script and run `yarn dev` also.

[2021-03-05 21:08] flybayer commented on #2064
Hey @nikolay, this is definitely sub-optimal UX right now.

You need to include `belongsTo:school` for the prisma relationship to be added.

So: `blitz generate all teacher name:string belongsTo:school --parent=school`

[2021-03-05 22:05] matthieu994 commented on #1703
Hello @flybayer !

Any idea how to skip this :
[code]
when I run `npx blitz@0.30.4 new BlitzDiffApp` ?
Because the script is gonna run the `new` command for each and every version of Blitz, and it would be super cool if we don't have to press 'No', and then `React Final Form` for every run.

[2021-03-05 23:02] Roesh commented on #2072
Hm, so doing yarn reset and yarn dev doesn't solve it, but the preconstruct watch one does.

I downloaded @preconstruct/cli separately, and ran preconstruct watch in one terminal, and ran yarn dev in another and I'm seeing the changes I made.

Question though, I assumed that the process needs to be left running for any changes to take effect, however, I closed both the terminals running preconstru

[2021-03-06 02:16] wafuwafu13 commented on #1767
Sorry, I'm very busy lately, so I don't have any current progress :-(

[2021-03-06 10:00] AidanRRR commented on #2065
Sam problem here on Windows.

[2021-03-06 10:22] renet commented on #1306
I ran into the same problem without a syntax error, following the tutorial, but with one exception: I didn't install blitz globally, but was using `npx blitz console` instead. This was actually causing the problem. Queries like `await db.question.findMany()` didn't work with npx, but worked just fine as soon as I used a globally installed blitz.

(Off topic: Running `npx blitz new <project-name>`

[2021-03-06 11:43] LucasUnplugged commented on #2031
No worries 😄 I'll keep this task in mind, as I get to know Blitz and Kubernetes better. I'd be happy to contribute, if/when I'm capable of doing so.

[2021-03-06 12:03] Swapnull opened #2074 "Auth Example Cleanup and Additions"
### What do you want and why?

Firstly I would like to see it cleaned up. Currently looking at  https://github.com/blitz-js/blitz/blob/canary/examples/auth/app/api/auth/%5B...auth%5D.ts there are inconsistencies and it is hard to say if they are on purpose or not.

Examples are
line 80, 81 + 119 - Referencing twitter inside Auth0 and Github strategies.
line 136 - Using "githubUsername" variable in

[2021-03-06 12:07] rodrigoehlers opened #2075 "Vercel: Cannot find module '/var/task/.next/blitz/db.js'"
### What is the problem?

After deploying my app to Vercel, I'm unable to access an authenticated server side rendered page. In the functions tab I'm able to see the following error:

[code]

### What are detailed steps to reproduce this?

As this doesn't happen on local, I'm unable to specify the steps to reproduce this.

### Run `blitz -v` and paste the output here:

[code]

Please note that I d

[2021-03-06 15:45] flybayer commented on #1767
@markhughes go ahead and work on this if you want

[2021-03-06 16:05] flybayer commented on #2075
@rodrigoehlers this is on a SSR page? Please post the contents of your `getServerSideProps` function

[2021-03-06 18:48] rodrigoehlers commented on #2075
Yes, sorry I wrote

I've updated the description. Yes, it is a server side rendered __page__.

The content of `getServerSideProps` is the following:
[code]

This is `getEntity`:
[code]

[2021-03-06 23:02] zenhob opened #2080 "Extraneous console errors during tests in 0.31.1"
### What is the problem?

This commit introduced console error noise during tests: https://github.com/blitz-js/blitz/pull/2068/files#diff-2eafc75a9015704b121dff9585728616f562e1625da9a53e44a86cacb94ae619R89

The pasted error below shows up for every test suite. The tests still pass.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detail

[2021-03-07 13:21] nestoralonsovina opened #2084 "Blitz cli crash on windows"
### What is the problem?

After installing the cli it crashes on Windows 10 , if I select the form type fast It will crash afterwards, it seems to be unable to perform any type of request.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Install the cli
2. run blitz new appName

### Run `blitz -v` a

[2021-03-07 15:17] wescopeland opened #2085 "CSRFTokenMismatchError should have some messaging/hint about requiring the anti-csrf header"
### What is the problem?

Right now, if you hit an API route without including the `anti-csrf` header (such as with Postman or Insomnia, but could be from a client-side call in your app as well), you get a console error signifying a `CSRFTokenMismatchError`. However, it is not immediately clear without going through the docs [here](https://blitzjs.com/docs/session-management#manual-api-requests) t

[2021-03-07 17:19] nestoralonsovina commented on #2084
It seems to be good if I use node 15.0.0

[2021-03-07 20:40] michaelminhvo opened #2086 "Nested Pages do not resolve public paths correctly"
### What is the problem?

Nested pages, say "localhost:3000/nested/broken" will correctly render images from `/public` folder only if we reference the image by navigating one folder up with `<img src="../logo.png" />`, ideally it should work with `<img src"logo.png" />`.

This is because if we use a shared component in "core/components" that references an image from `public`, that shared component

[2021-03-08 09:09] brillout commented on #2022
Thank you for your answer!

👍 Looking forward to see how Next.js & webpack are going to catch up. Exciting times.

Yes `vite-plugin-ssr` only does SSR. It can however be used with [Wildcard API](https://github.com/brillout/wildcard-api) (we briefly talked about it previously).

I'm aware that do-one-thing-do-it-well is not beginner friendly. I'm actually thinking of building a framework on top Vit

[2021-03-08 14:04] kevinlangleyjr commented on #2086
@michaelminhvo, it looks like you're referencing the static file incorrectly according to the [documentation](https://blitzjs.com/docs/static-files).

You should be referencing the static file with the root slash, i.e. `/logo.png` instead of `logo.png`.

[2021-03-08 19:51] michaelminhvo commented on #2086
Thanks. This fixes it.

[2021-03-08 19:51] #2086 closed

[2021-03-08 20:12] Roesh opened #2089 "Typescript compiler flags error in generated forgotPassword.test.ts file"
### What is the problem?

In line 12 of \app\auth\mutations\forgotPassword.test.ts, `...jest.requireActual("blitz")!,` causes tsc to throw this error: `Spread types may only be created from object types.ts(2698)`

Seems like the issue is that spread types are not supported on generics (and I'm assuming that the jest.requireActual("blitz") call is returning an object, but the signature denotes that

[2021-03-08 20:42] Roesh commented on #2089
Update 2:

Doing `...jest.requireActual<object>("blitz")!` also fixes the issue. Should we do this then?

[2021-03-08 20:51] #2052 closed

[2021-03-08 20:58] flybayer commented on #2072
Right, `yarn preconstruct watch` must be running to pick up changes.

Could you open an issue in https://github.com/preconstruct/preconstruct with the exact steps to reproduce this in our repo?

[2021-03-08 21:25] flybayer commented on #2084
Can you try on a later version of v14? Likely 14.0.0 has some bugs fixed in later releases

[2021-03-08 21:32] #2065 closed

[2021-03-08 22:35] flybayer commented on #1306
Yeah we should support npx

[2021-03-08 22:47] michaelspeed commented on #2046
Works with 14.15.5

[2021-03-08 22:52] flybayer commented on #2074
Hey thanks!

Not sure if it was you or not that I talked about this with in Discord. Why do you want to use passport local strategy instead of the blitz built in email/password solution?

[2021-03-08 22:57] #2046 closed

[2021-03-08 23:00] flybayer commented on #2089
Thanks! I think I vote for `jest.requireActual("blitz")!` because `<object>` isn't the correct type. So `!` expresses the intent better here, where the intent is just to make typescript stop complaining :)

[2021-03-08 23:04] flybayer commented on #2085
Great suggestion!!

This needs fixed here: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/server/auth/sessions.ts#L588.

There are two places in that file that we throw `CSRFTokenMismatchError`. We can add a `log.warning` statement before each `throw` that prints a helpful error about this.

[2021-03-08 23:06] #2080 closed

[2021-03-08 23:09] flybayer commented on #2075
@rodrigoehlers ok looks like this is a duplicate of https://github.com/blitz-js/blitz/issues/794

Can you look at that and try the workaround listed there?

[2021-03-08 23:10] flybayer commented on #2066
Fixed in https://github.com/blitz-js/blitz/pull/2091

[2021-03-08 23:10] #2066 closed

[2021-03-09 00:43] #2048 closed

[2021-03-09 01:16] Roesh commented on #2072
mitchell from the preconstruct repo mentioned that `You need to enable Windows Developer Mode so that Preconstruct can create symlinks - https://www.howtogeek.com/292914/what-is-developer-mode-in-windows-10/`

I did so and it fixed this issue.

Adding a section for preconstruct errors to the docs: https://github.com/blitz-js/blitzjs.com/pull/401

[2021-03-09 01:16] #2072 closed

[2021-03-09 03:33] Roesh commented on #2089
Ah, I was going to help do this change, but tsc complains that a comma was expected if I remove the spread operator :((

[code]
I tried a few permutations with the `!` at different spots with no luck, I don't think I have enough TS expertise for this haha. I'll defer to you or someone else for the fix.

[2021-03-09 03:33] nikolay commented on #2064
Thank you, @flybayer! I probably will fix the documentation, because it doesn't really have it in the basic example.

[2021-03-09 08:40] hirviid opened #2096 "CSRFTokenMismatchError with passportAuth"
### What is the problem?

The user gets a CSRFTokenMismatchError when starting (but not finishing) a login flow with oauth2 (using passportAuth).
I also reproduced this in the official Blitz passport example.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

My [auth].ts configuration

[code]

### What are detailed steps to reproduce this?

1. User clicks "L

[2021-03-09 08:45] hirviid commented on #2096
After some more testing I found out that the problem is with the ?redirectUrl=... query parameter that I pass to /api/auth/oauth2.

When I don't add the redirectUrl, everything works as expected.

[2021-03-09 09:11] matthieu994 commented on #1703
Hello !
Turns out rn-diff-purge uses 2 repos to generate the github.io webpage. I've forked the second one : https://github.com/matthieu994/upgrade-helper

There are still bugs, especially with the react-diff-view library. (see console)
And the canary versions are removed from the version selector.
I will look into this, but you can already have a look and maybe deploy somewhere. :)

[2021-03-09 13:47] adblanc commented on #2085
I'll try to fix it :smile:

[2021-03-09 15:42] rodrigoehlers commented on #2075
@flybayer I did another deployment, adding `path.resolve('.next/blitz/db.js')` as that path seems to be mentioned in the error message I posted. It does indeed work now. Not sure if this has any other implications though, should I add a comment to the original thread #794?

[2021-03-09 16:25] vedovelli opened #2098 "Unable to install CLI"
### What is the problem?

I am trying to install Blitz cli on my MacOSX

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

[2021-03-09 21:47] markhughes commented on #2098
You have a dependency conflict, do you have React installed globally? We can check this with the following command:

[code]

[2021-03-09 21:51] flybayer commented on #2089
@Roesh did `...jest.requireActual<object>("blitz")!` not work?

[2021-03-09 21:52] flybayer commented on #2064
@nikolay oh, yes it should! A PR would be greatly appreciated

[2021-03-09 21:57] flybayer commented on #2075
Ah yes, sorry about that. I just updated that issue with the correct path (it changed since it was opened)

[2021-03-09 21:57] #2075 closed

[2021-03-09 22:07] james2406 opened #2099 "Allow useQuery to suspend when the `enabled` option is `false`"
### What do you want and why?

I am trying to use the router query data in the `useQuery` arguments object. Like this:

[code]

The problem is, the router query object is empty during static pre-rendering, so the `useQuery` hook is disabled. Unfortunately, the query does not suspend so the `project` variable (in the example above) is `undefined`.

### Possible implementation(s)

Either allow `useR

[2021-03-09 22:27] flybayer commented on #2098
@vedovelli This should be fixed now as I just published a new release. Can you try again?

[2021-03-09 23:08] Roesh commented on #2089
@flybayer that did work, and I have it set to that in my personal project, but I assumed we wanted to not have the <object> generic and use `jest.requireActual("blitz")!`?

I might have misunderstood that comment then. Shall I modify `...jest.requireActual("blitz")!` to `...jest.requireActual<object>("blitz")!` and submit a PR with that change then?

[2021-03-10 04:52] vedovelli commented on #2098
Hey @markhughes. That's not the case. @flybayer fixed it already but just FYI this is what I have installed globally.

![image](https://user-images.githubusercontent.com/151001/110578263-b34fdb80-8164-11eb-9a9c-e142dcb4f7de.png)

[2021-03-10 05:16] vedovelli commented on #2098
🚀

Just did a quick evaluation and WOW! Blitz is 🔥!

Thanks a lot!

[2021-03-10 22:54] markhughes commented on #2050
From my investigation it is from this:

https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/rpc/index.ts#L75-L84

I think if we added some validation before this line:

[code]

It could handle it well.

@YashKumarVerma are you still ok to take this one on?

[2021-03-10 23:12] zenhob opened #2105 "Error when rendering Link during tests"
### What is the problem?

I am getting the same test errors described in this NextJS ticket: https://github.com/vercel/next.js/issues/20048

When I use the Link component in tested code, I get errors that cause the test to fail. If I put `prefetch={false)` in the Link attributes, I still see the errors in the console but the test does not fail.

### Paste all your error logs here:

[code]

### Pas

[2021-03-11 10:46] merodiro commented on #2037
there is a PR for this in next.js already  https://github.com/vercel/next.js/pull/22437

[2021-03-11 21:35] camsloanftc commented on #1837
I am a bit late on the upgrade - but I just got back up to date with the latest version `"blitz": "0.32.1",` and I am still encountering this issue.

I noticed something just now in some testing. If I call `await ctx.session.$setPublicData({})` more than once in a request - each time will add another set of all the blitz cookies to the `set-cookie` header.

For demonstration purposes:
[code]
This

[2021-03-11 22:41] markhughes opened #2106 "Reroute next logger to blitz"
### What do you want and why?

The next.js logger is pretty terrible and we can't add our own transport. The blitz logger lets us add transports (cool!) this lets me do more things with my logs!

### Possible implementation(s)

I can do this currently by hacking the next.js logger like so in my blitz.config.js file:

[code]

However this means the trace tells me the log line came from blitz.config

[2021-03-12 08:12] Julien-e opened #2107 "Webpack can't load css"
### What is the problem?

Hello error with new version of blitz 0.32.1
Can't launch blitz dev pages-manifest.js not found
I have clear .blitz folder change nothing.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

blitz dev

### What are detailed steps to reproduce this?

Update from 0.30

### Run `blitz -v` and paste the output here:

[code]

[2021-03-12 15:46] sinnrrr opened #2108 "Environment variables aren't exposing to the browser"
### What is the problem?

Using the official guide [here](https://blitzjs.com/docs/environment-variables#exposing-environment-variables-to-the-browser) tried to expose environment variables to the browser

### Paste all your error logs here:

No error logs

### Paste all relevant code snippets here:

`.env.local`
[code]

`index.tsx`
[code]

### What are detailed steps to reproduce this?

A new pro

[2021-03-12 17:11] flybayer commented on #2096
@hirviid can you try again with `0.32.1`? I think a change in `0.32.0` (passport ctx feature) likely fixed this issue.

[2021-03-12 17:12] flybayer commented on #1703
@matthieu994 thank you!

I've been swamped this week, but I'll try to review asap

[2021-03-12 17:14] flybayer commented on #2089
@Roesh I'm still a bit fuzzy. I think this is what you are saying:

- Works: `...jest.requireActual("blitz")!`
- Works: `...jest.requireActual<object>("blitz")!`

Since both work, then let's go the more minimal approach and use `...jest.requireActual("blitz")!`

[2021-03-12 17:17] flybayer commented on #1991
@brantchoate you should be able to open `ts-node` directly (which is what blitz console does) using these instructions: https://github.com/blitz-js/blitz/issues/952#issuecomment-682268003

But instead of passing a file (`index.ts`) as shown there, don't pass any file and it will open the repl.

Then you can run `const db = require('db')` and access your db

[2021-03-12 17:20] flybayer commented on #2105
@zenhob did you try adding wrapping it in `act` as described in the error message?

[2021-03-12 17:24] flybayer commented on #2037
Awesome!! I'll go ahead and close this then

[2021-03-12 17:24] #2037 closed

[2021-03-12 21:08] Roesh commented on #2089
@flybayer Ah, I didn't mean that, rather

`...jest.requireActual("blitz")!` (what it is originally) causes typescript to complain that `error TS2698: Spread types may only be created from object types.`

However, `...jest.requireActual<object>("blitz")!` works and typescript doesn't throw that error.

Does tsc not throw the same error for you at `...jest.requireActual("blitz")!`? My typescript ver

[2021-03-12 22:33] flybayer commented on #1837
@camsloanftc ah yes! Probably all we need is to first call our [`removeHeader`](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/server/auth/sessions.ts#L445) function inside our [`setHeader`](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/server/auth/sessions.ts#L438) function.

[2021-03-12 22:35] flybayer commented on #2106
So what do you want here? Maybe change all next.js logs to go through our tslog logger?

[2021-03-12 22:36] flybayer commented on #2107
Looks like there's an issue with your css config 🤔

Can you post the contents of your `blitz.config.js` file?

[2021-03-12 22:37] flybayer commented on #2108
Hmm... Do you have `.env` in `.gitignore` by chance?

[2021-03-12 22:38] flybayer commented on #2089
@Roesh ah got it! Ok then yes, make a PR with `<object>`. No, currently on TS 4.1 which is probably why

[2021-03-12 23:09] flybayer commented on #1703
@matthieu994 ok wow, this is so cool!! 👉  https://github.com/blitz-js/versions-diff

I've ported your repo here: https://github.com/blitz-js/versions-diff-web And it's now auto deployed to https://diff.blitzjs.com (but broken, like you said)

[2021-03-12 23:13] flybayer commented on #1703
Also did you figure out how what I need to do to get it automated?

[2021-03-13 00:26] markhughes commented on #2106
I need my server-side logs to go into Sumo Logic (but I'm sure others would want to it to go other places too like Datadog, cloudwatch, etc), I was just sharing my current approach which is to change all the next.js logs to go through blitz's tslog where we can then use attachTransport. This is required because next.js has no way to attach ourselves to their logs (unless you use my weird solution

[2021-03-13 01:41] Roesh commented on #2108
Wait, I thought the process.env.VARIABLE set was only available on the backend?

Also, @sinnrrr to clarify, you mean index.tsx correct? I assume that's what you meant because only that file has a `const Home: BlitzPage` component.

I would assume that this is expected behavior because we're meant to store sensitive things like the database connection strings etc in .env, and we don't want users to

[2021-03-13 06:40] sinnrrr commented on #2108
No, `.env` isn't gitignored

I have made a mistake in the issue. This environment variable is being set not in `.env`, but in `.env.local`, but, according to the documentation, it shouldn't be a problem, because variables are being loaded from `.env*`

[2021-03-13 06:43] sinnrrr commented on #2108
Also, I have tried both prefixing variable with `NEXT_PUBLIC_`, and setting it in `env` section of `blitz.config.js`, but that didn't work either

[2021-03-13 14:08] wescopeland commented on #2085
@adblanc I am happy to take this on if you'd like! :-)

[2021-03-14 14:56] paulm17 commented on #763
So I went though this just now.

Since there is *.module.scss and *.module.css in global.d.ts, can't the following be added there now?

	declare module "*.svg" {
	    const content: string
	    export default content
	}

Thanks

[2021-03-15 15:14] zenhob commented on #2105
@flybayer well I am not taking any actions, I am just rendering a component with a <Link>. I cannot wrap a render in act,  I get an error.

[2021-03-15 15:45] olerichter00 commented on #2108
Hey @sinnrrr,

I can't reproduce the bug and all env variables prefixed with `NEXT_PUBLIC_` are accessible in the frontend.

Did you restart blitz after changing `.env.local`?

[2021-03-15 19:32] zenhob commented on #2105
This is caused by some sort of cross-test interaction, I can't reproduce when this is the only running test. Closing since I don't think this is a Blitz issue.

[2021-03-15 19:32] #2105 closed

[2021-03-15 19:33] hirviid commented on #2096
No luck after upgrading :(

[code]

Not sure if it helps, but I made a short screen recording:

![f916a888eb8c9d41723d7d0df3c88967](https://user-images.githubusercontent.com/6641475/111210359-7143f100-85cd-11eb-997c-4ad6813deb16.gif)

[2021-03-15 19:58] zenhob opened #2117 "Rendering a component with a Link multiple times in a test results in console errors"
### What is the problem?

When a `Link` is rendered by multiple tests in a suite, errors appear on every render after the first one: `Warning: An update to Link inside a test was not wrapped in act(...).`

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

LinkWrapper.test.tsx:

[code]

LinkWrapper.tsx:

[code]

### What are detailed steps to reproduce this?

[2021-03-15 22:27] #1837 closed

[2021-03-15 23:38] flybayer commented on #2106
Ok great. Will move this to the icebox for now until the next.js fork integration is complete. Then we can revisit and figure out how to integrate this by default.

[2021-03-15 23:41] flybayer commented on #2117
I think this should be fixed like this:

[code]

[2021-03-16 07:59] CGamesPlay opened #2118 "blitz new --dry-run not respected"
### What is the problem?

The documentation for `blitz new` indicates a `--dry-run` flag which will "show what files will be created without writing them to disk". It appears to have no effect.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

This is a required field.

### What are detailed steps to reproduce this?

1. The error logs include complete reprod

[2021-03-16 14:55] flybayer commented on #2118
Thanks for the report!

[2021-03-16 15:04] flybayer commented on #2108
I think this is a bug in our current compiler setup that will be fixed once we integrate the next.js fork.

For now, try this — it should work.

[code]

[code]

Then you can use `process.env.PUBLIC_ANALYTICS_ID` in client-side code

[2021-03-16 15:48] zenhob commented on #2117
Thanks for the suggestion, @flybayer but that did not fix it, I get the same result when I call `render` in an `act` callback.

[2021-03-16 15:49] zenhob commented on #2117
Again, this doesn't happen when there is only one test, is some kind of state persisting between the tests? Do I need to clear the screen or something?

[2021-03-16 15:58] flybayer commented on #2117
Ok odd. This was fixed in next.js in 10.0.7, so surprised you have this. We may need to implement some of the same changes as they did in https://github.com/vercel/next.js/pull/22072. Also maybe this will just be fixed with our next.js fork integration.

For now I suggest following this workaround: https://github.com/vercel/next.js/issues/20048#issuecomment-755028887

[2021-03-16 17:16] sinnrrr commented on #2108
@flybayer @olerichter00 and others

thanks a lot for your time
the issue _just gone_

prefixing with `NEXT_PUBLIC_` is working as expected
I think that might be because I didn't restarted the blitz server

@flybayer thanks for a great framework and great community

[2021-03-16 17:16] #2108 closed

[2021-03-16 17:37] Roesh commented on #2108
I ran into this same issue when I was trying this feature out for the first time. Even though I added the NEXT_PUBLIC_ thing to the variable, I wasn't seeing it pop up on the front end.

I ran blitz build and blitz start and it worked. I then re-ran blitz dev, and that also worked. I think the reason for this is because

`This inlining occurs at build time, so your various NEXT_PUBLIC_ envs need t

[2021-03-16 17:39] sinnrrr commented on #2108
@Roesh you're right. I just have forgotten, that exposing all environmental variables are being made by packing tool like webpack, etc.

[2021-03-16 18:28] #2026 closed

[2021-03-16 18:31] quatick commented on #2063
Hi, I think it worth to be mention, I also have the issue after upgrading the blitz version.
I have the v0.32.1 on **Vercel** with the problem, and unfortunately, downgrading to v0.31.1 doesn't help.
Does someone have an idea on how to resolve this issue ?

PS: Thank you for all the amazing work about blitz, it is truly a life changer, love it !

[2021-03-16 21:38] Julien-e commented on #2107
Hello, i clear all my project remake blitz new now i have this error .

[code]

[2021-03-16 23:38] Julien-e commented on #2107
i have try to create next-env.d.ts but not working.

[2021-03-17 00:53] Julien-e commented on #2107
Ok i found why css not working.

If the css file is not in same folder of pages it's not working.

[2021-03-17 16:24] flybayer commented on #2063
@quatick is your issue with gSSP or gSP? If so, see workaround here: https://github.com/blitz-js/blitz/issues/794

[2021-03-17 18:25] quatick commented on #2063
Hi @flybayer , none of the two, it is call with useMutation `const [loginMutation] = useMutation(login)` in a react component.

Do you have some ideas why this could happens to help me narrowing down the issue ?

[2021-03-17 18:37] quatick commented on #2063
Ok I found the issue ! This is coming from the module `next-transpile-modules` which I integrated to `blitz.config` in order to import Pusher.io correctly.
Tooks me far too long to debug.
Thank you for your support.

[2021-03-17 19:08] flybayer commented on #2107
@Julien-e Ok probably a bug. Can you list the exact file paths that cause it to break?

[2021-03-17 19:12] #2089 closed

[2021-03-18 08:27] rfermann opened #2125 "Deployment on Vercel fails with fresh Blitz App"
### What is the problem?

The deployment on Vercel fails after creating and deploying a fresh Blitz App. The deployed page first loads and then errors out. Page can be visited [here]:(https://vercel-deployment-a1lcubdas-rfermann.vercel.app/ ), the github repo can be found [here]:(https://github.com/rfermann/vercel-deployment).

The same setup is working fine on local machine.

### Paste all your e

[2021-03-18 14:41] tom-richter opened #2126 "Unable to 'Add record' in Prisma Studio if not all fields are filled even if they are not required"
### What is the problem?

I can't add a new record in prisma studio if not all fields are filled, even if they can be null. By clicking on 'Add record' this is logged into the browser console: `row index for ensureIndexVisible: 0` By clicking on the 'Save change' button nothing happens. If using prisma in a non-blitz project this issue doesn't occur.

### Paste all your error logs here:

Browser C

[2021-03-19 00:51] brantchoate commented on #1991
@flybayer thank you!

[2021-03-19 04:38] MrLeebo commented on #1982
I'm closing this issue because it seems to have gone quiet. Without those additional logs there's nothing to follow up on and I'm not observing any issue connecting to a database. Feel free to re-open / comment again if you have a way to reproduce this issue.

[2021-03-19 04:38] #1982 closed

[2021-03-19 04:54] MrLeebo commented on #2009
You can track the progress of this issue at https://github.com/prisma/prisma/issues/5854

[2021-03-19 04:54] #2009 closed

[2021-03-19 05:13] MrLeebo commented on #1991
Does this still happen on 0.33? I can't repro, but I'm also on OSX not Linux.

[2021-03-19 12:35] malkomalko commented on #2030
I'll pick this up next week if nobody ends up grabbing it.  I'm working on a little service that I'd like to deploy to a 5 dollar DO box.

[2021-03-19 14:25] MrLeebo commented on #1795
We've had a couple of releases since then. What is the status of this issue now?

[2021-03-19 14:51] flybayer commented on #2030
@malkomalko awesome!

[2021-03-19 14:58] flybayer commented on #2125
Ok that's really weird. I would try again today, maybe it's a temporary issue.

If still not working, contact Vercel support.

[2021-03-19 15:51] Southclaws opened #2127 "`id` fields using uuid Prisma type are overwritten every time `blitz generate` modifies a model"
### What do you want and why?

I wanted to use UUIDs for all my `id` fields in models. So I updated my schema to:

[code]

And the relevant zod schemas:

[code]

But any future changes to the model, such as `blitz generate resource thing field:type` results in:

[code]

Which isn't a huge problem, I can just update the model myself, run `prisma generate` and make any necessary schema changes mysel

[2021-03-19 19:27] Skn0tt commented on #2125
I had a similar problem with quirrel.dev. It was fixed by rolling back to 0.32.1. Judging by the diff between 0.33.0 and 0.32.1, I can't find a reason why this should happen.

[2021-03-20 19:07] RobertBroersma commented on #2125
I too experienced this exact problem after upgrading to 0.33.0. Downgrading to 0.32.1 fixed it as @Skn0tt mentioned.

[2021-03-20 20:57] embiem opened #2130 "Build into temp folder & then move into actual build folder"
### What do you want and why?

I'd like to change `blitz build` to use a temporary folder for the new build and then move over all files to the final folder that is used by the production server.

Why?

When deploying a new version and the process looks like the following, then the running instance will break because the current build is removed once `blitz build` is executed.

1. Push changes to

[2021-03-20 21:06] embiem commented on #2130
Another option to solve it would be to give

a) the ability to set a build folder via argument to `blitz build`
b) the ability to set a build folder to use via argument to `blitz start`.

[2021-03-20 21:29] embiem commented on #2030
Hey I just stumbled over this issue, after I created #2130. That issue might be interesting here, too. I am running a Blitz.js app on a DO droplet and re-building with updates is possible, but will result in a downtime as I describe in that issue.

[2021-03-21 04:42] MrLeebo commented on #2127
That's for reporting this. The `blitz generate` tools are not feature-complete yet; they're basically templates that do a couple of value substitutions. Until they get smarter I think it's better to do manual editing once you've set up your app.

[2021-03-21 04:58] ericvicenti opened #2131 "Custom error page for 403 error?"
### What is the problem?

Is it possible to customize the 403 error page? This might be a feature request instead of a bug.

[Blitz allows](https://blitzjs.com/docs/error-pages#customizing-the-error-page) a custom error page defined in `app/pages/_error.tsx`

The page accepts a statusCode prop, so I incorrectly assumed that 403 errors would be handled by this page. But the 403 error looks like the

[2021-03-21 05:11] MrLeebo commented on #755
@flybayer Perhaps this was resolved already by another issue? When I repro this, the app code function that is calling `ctx.session.$authorize("ADMIN")` is at the front of the stack trace.

[2021-03-21 05:32] MrLeebo commented on #2131
@ericvicenti The code that you're probably looking for is `if (error instanceof AuthorizationError)` in https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/app/pages/_app.tsx#L35-L41 from the default app template.

Queries and mutations are implemented as RPC calls internally and don't reflect their HTTP status code in the response. So the status code is always 200 OK an

[2021-03-21 05:48] MrLeebo commented on #2126
Are you sure you're using prisma 2.17 in the non-blitz context? I can repro this in 2.17, but if I upgrade to 2.19 the issue goes away, but 2.19 has a different bug where it doesn't save your edits unless ​you blur the textbox before you click "Save changes"

[2021-03-21 09:22] JonasBa opened #2132 "Vercel boilerplate type error resulting in broken build"
### What is the problem?

Tried creating a project through vercel's GUI using Blitz template and deploying it resulted in compile time type error

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

None

### What are detailed steps to reproduce this?

1. Create new vercel project from blitz template
2. Try deploying the projecct

### Run `blitz -v` and paste t

[2021-03-21 09:33] JonasBa commented on #2125
@flybayer I think this is duplicate of the one I just opened (sorry, I haven't seen it through search) - https://github.com/blitz-js/blitz/issues/2132

I attached the detailed stack trace, so feel free to close/move the discussion to either of the two

[2021-03-21 10:03] rfermann commented on #2125
@JonasBa it might still be 2 different issues. My actual deployment passed without issues. But all the pages using the api are erroring out.

[2021-03-21 13:51] tom-richter commented on #2126
You're right, I was using a newer version of prisma in the non-blitz context. If I update to prisma 2.19 this bug also goes away in my blitz app, so it wasn't a blitz issue.

[2021-03-21 13:51] #2126 closed

[2021-03-21 16:53] ericvicenti commented on #2131
@MrLeebo , thank you, that makes perfect sense.

I added some docs in this PR here, to help smooth this out for the next round of newbies: https://github.com/blitz-js/blitzjs.com/pull/418

[2021-03-21 16:53] #2131 closed

[2021-03-21 18:49] tmcw opened #2133 "GitHub Action configuration recipe"
### What do you want and why?

Blitz has good test defaults, and I'd reckon that most Blitz users will be setting up continuous integration testing. And in 2021, GitHub Actions is a great solution for that - it might be the emerging default?

Setting up GitHub actions my experience tends to be copying-and-pasting code from repo to repo, and then struggling every time I need a service or something

[2021-03-21 18:56] kevinlangleyjr commented on #2133
Thanks for the suggestion @tmcw! 🙂

Have you seen the Blitz recipe that will setup GitHub actions with PostgreSQL for you? https://github.com/blitz-js/blitz/tree/canary/recipes/gh-action-yarn-postgres

All you would need to do is run `blitz install gh-actions-yarn-postgres` in order to install the recipe.

You can read more about Blitz recipes here, https://blitzjs.com/docs/using-recipes.

[2021-03-22 00:53] tmcw commented on #2133
😆 Way ahead of me! That looks great, thanks for the pointer!

[2021-03-22 00:53] #2133 closed

[2021-03-22 06:39] maxfi commented on #2063
@quatick I'm also using `next-transpile-modules` and am having the same issue. How did you resolve this? TIA! 🙏

[2021-03-22 19:58] toinbis opened #2135 "provide default <a> behaviour, i.e. normal non-SPA navigation"
### What do you want and why?
I'd expect a standard HTTP-based navigation as a primary option of how my frontend works. Like with Rails or django - each click generates a http request and retrieves http response. There is so much things js navigation makes impossible, i.e. decent client+server side web analytics. IMHO all-around frameworks should surely support both means of navigation. Not arguin

[2021-03-22 21:38] flybayer commented on #755
ok, great!

[2021-03-22 21:38] #755 closed

[2021-03-22 21:46] flybayer commented on #2125
This almost certainly caused by Vercel or something they changed. I have contacted them for help

[2021-03-22 21:48] flybayer commented on #2132
@JonasBa does `blitz build` work locally? (always the first thing to try if production build fails)

Also please paste the contents of your `tsconfig.json`

[2021-03-22 22:03] flybayer commented on #2130
That's a fair request! We're soon switching to a fork of next.js which will change the current build process, but it won't fix this. So putting in the icebox for now until we get that fork integrated.

[2021-03-22 22:08] flybayer commented on #2135
Hey @toinbis, we actually do support that. You don't have to use the `<Link>` component, but it will be a poorer experience because it will do hard page transitions which kill the entire react app and restart it on the next page. Whereas with the `<Link>` component, the react app stays booted and simply changes the page component, resulting in a nice, fast page transition.

[2021-03-22 22:38] maotora commented on #1991
@MrLeebo I just updated my project and it does work on 0.33.

Thank you very much!

[2021-03-22 22:38] #1991 closed

[2021-03-23 01:29] MrLeebo commented on #2135
`<Link>` components fallback to `<a>` and still work when JS is disabled, don't they?

[2021-03-23 05:03] toinbis commented on #2135
Thanks a lot @flybayer, @MrLeebo !

`it will be a poorer experience because it will do hard page transitions` - I'd argue (things are getting opinionated from here, haha) it's the (complete) oposite:

a) consistent experience for each pageview - instead of two completely different experiences visiting same page from external VS internal click.
b) consistent experience with how pageview happens bro

[2021-03-23 05:57] #2135 closed

[2021-03-23 10:04] markhughes commented on #1972
Could `cookiePrefix` be a callback function as well, with some basic information? e.g. the path?

[2021-03-23 12:06] piotrski commented on #1972
We could do this, but I will let you dynamically change the prefix, which can break the authentication. @markhughes what,s your intended use case?

[2021-03-23 12:54] quatick commented on #2063
@maxfi I just removed `pusher` and `next-transpile-module` as I hesitated between pusher and firebase.
I think every new version of next could break `next-transpile-module` and adding blitz (even more with the fork next repo) will add even more instability, I choose to avoid using the module.

[2021-03-23 13:01] ofhouse commented on #2125
Some info: Vercel uses `target: 'server'` instead of `target: 'experimental-serverless-trace` for versions of Next.js 10.0.9 and higher on their build system.

[2021-03-23 15:43] maxfi commented on #2063
@quatick thanks for the clarification. I was hoping to still use `next-transpile-module` but you're right that it will most likely cause more pain than it's worth down the track.

[2021-03-23 20:10] noga-aviator opened #2139 "Add a better faunadb integration example"
### What do you want and why?

The current faunadb example doesn't show how to include the forgotPassword and resetPassword mutations. Could it be added ?

[2021-03-23 22:54] flybayer commented on #2063
The fork will make blitz much more stable. Perhaps next-transpile-modules will work once that is complete

[2021-03-23 23:12] flybayer commented on #2125
@ofhouse whaaaat, why did they change that?

I found this comment about them removing the docs for the target option which could provide some insight: https://github.com/vercel/next.js/issues/20790#issuecomment-755178273

[2021-03-23 23:23] flybayer commented on #2139
Yes! Until we get that, you can compare signup mutations between fauna and a default blitz app. And then apply the same difference to the forgot/reset password mutations.

[2021-03-23 23:28] markhughes commented on #1972
Yep, my use case is to have two different authentication areas of the app... maybe a more ideal process here is conditional middleware?

[2021-03-24 13:00] JohnGrisham opened #2140 "Provide a better error message for non-resolvers in queries folders"
### What do you want and why?

Provide a better error message when placing files in queries folders that aren't resolvers. Or determine a better way to indicate that a file is a query.

Bonus points: Maybe a config setting?

### Possible implementation(s)

- Provide a better error message
- Determine a better way to indicate that a file is a query

Possibly add a configuration setting to change th

[2021-03-24 22:15] waptik commented on #2125
Seems like i'm not the only one with this issue.
Deployment was working perfectly with blitz v0.32.1 but now gets 500 error with v0.33.0.
I downgraded back to v0.32.1 per @Skn0tt suggestion and it now works.
Thanks man!!!

[2021-03-25 01:08] michaelminhvo opened #2144 "Add jsdocs for Blitz functions inside VSCode"
### What do you want and why?

Currently developers have to rely on the [blitz wiki](https://blitzjs.com/docs/contributing) for documentation about function and parameter definitions. This means we have to context switch to the browser, visit the webpage, copy and paste the function name and use the search functionality.

We should use jsdocs to embed the documentation from the wiki inside VSCode.

[2021-03-25 02:54] Rhinomcd commented on #1953
I'm still having this same issue on windows. -- Opened a support thread in discord (#help-scorpius 3/24 ~7PM PST) and @Maastrich suggested to just switch to yarn.  (Thank you again btw)

That's fine for my usage, but I'm just commenting that I'm still able to reproduce this bug on windows in case anyone wants to dig into this further.

blitz -v output:
[code]

[2021-03-25 03:07] Rhinomcd commented on #1953
Oops! I just realized this fix is slated for the 1.0 release.  My bad! I'm clearly new here ;)

[2021-03-25 14:47] jorisre opened #2146 "Allow manual configuration of the react-query `key`"
### What do you want and why?

*What?*
I want to be able to change manually the react-query cache key

*Why?*
I want to display multiples results based on different react-query keys, for example:
- Home list
- Search list
- Etc ...

It allows us to have multiples results in cache and improve the UX or trigger a new request when the key change.

### Possible implementation(s)

I'm pretty new to Bli

[2021-03-25 16:55] styfle commented on #2132
I see the same TS error with latest blitz version. Steps to reproduce:

[code]

[2021-03-25 16:57] flybayer commented on #2132
Ok yes the solution to this problem is we need to update the vercel example: https://github.com/vercel/vercel/tree/master/examples/blitzjs

The workaround is create a new app via `blitz new`

[2021-03-25 19:29] flybayer commented on #1708
Please update react and react-dom to `0.0.0-experimental-6a589ad71` and test again

[2021-03-25 19:31] flybayer commented on #1838
Concurrent mode is now fixed for me as of react/react-dom `0.0.0-experimental-1fafac002` with react-final-form, so very likely Chakra is fixed too!

[2021-03-25 19:31] flybayer commented on #1600
Concurrent mode is now fixed for me as of react/react-dom `0.0.0-experimental-1fafac002` with react-final-form, so very likely Chakra is fixed too!

[2021-03-25 19:31] flybayer commented on #1958
Concurrent mode is now fixed for me as of react/react-dom `0.0.0-experimental-1fafac002` with react-final-form, so very likely Chakra is fixed too!

[2021-03-25 19:54] flybayer commented on #1972
@markhughes can you open a new issue for your use case and please include as much detail as possible about the problem you're trying to solve.

[2021-03-25 19:56] flybayer commented on #2140
Thanks @JohnGrisham! This is blocked pending integration of next.js fork

[2021-03-25 20:06] flybayer commented on #2144
Great idea!

### If you'd like to help contribute to this issue, make a PR that adds jsdoc comments to at least one of our blitz functions

You can add jsdoc comments to more than one function in a PR. But you only have to add at least one. This way everyone can contribute to this, vs one person having to do everything! :)

We'll keep this issue open until everything is sufficiently documented.

[2021-03-25 20:16] flybayer commented on #1953
@Rhinomcd this is in the 1.0 milestone but closed because the mentioned issue was fixed.

Possible we have another issue, so if you can reproduce, please open a new issue.

But first make sure you have `legacy-peer-deps=true` in your `.npmrc` file

[2021-03-25 21:43] markhughes commented on #2050
@YashKumarVerma I would love to work on a fix for this one if you don't have time. :)

[2021-03-25 21:53] shrugs commented on #1708
i'm still seeing the behavior in https://github.com/shrugs/blitz-auth-loop-hook-form after only updating react to that tag. the reproduction is based on blitz2 - do you think it's worth updating to blitz@latest, ensuring the app still builds, and testing again? or is the problem definitely on the react side, and that wouldn't be a good use of time?

[2021-03-25 21:58] flybayer commented on #1708
Thanks! And yes definitely worth upgrading to latest blitz and testing again.

[2021-03-25 21:59] flybayer commented on #2050
@markhughes go for it!

[2021-03-26 02:04] JuanM04 commented on #2144
I'll leave this message for the near future: we should add a checkbox to the PR template that says something like "I updated the JSDocs if necessary"

[2021-03-26 07:55] Lani commented on #2144
If the purpose is to get descriptions for the IntelliSense in vs-code, then I would suggest following the TSDoc specification instead of JSDoc. Microsoft is behind TSDoc and has made real progress lately. They have created a good webpage that utlines some of the differences with JSDoc and why they created TSDoc: https://tsdoc.org/

They also have a nice playground where you can try out that the do

[2021-03-26 13:21] karimsx opened #2150 "Prisma error connection refused"
### What is the problem?

prisma client can't connect to database

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

[code]

### What are detailed steps to reproduce this?

1. clone the last version of blitz in archlinux with postgresql database, i think it more a prisma error

### Run `blitz -v` and paste the output here:

[code]

[2021-03-26 13:22] karimsx opened #2151 "prisma can't connect to database"
### What is the problem?

prisma can't connect to database

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

I have tried with and without Unix domain socket, still same error
[code]

[code]

### What are detailed steps to reproduce this?

1. run with last version of blitz, prisma and postgresql

### Run `blitz -v` and paste the output here:

[code]

[2021-03-26 14:15] #2151 closed

[2021-03-26 14:23] JuanM04 commented on #2144
@Lani I really like the idea of generating HTML documentation from TSDoc. We could generate documentation for blitzjs.com with that!

[2021-03-26 15:06] karimsx commented on #2150
fixed in case there is an error  with prisma, you need to enable unix domain socket :

[code]

[2021-03-26 15:32] flybayer commented on #2144
Thanks @Lani, good suggestion

[2021-03-26 15:33] #2150 closed

[2021-03-26 16:59] leerob commented on #2125
Hey everyone! We've been investigating this on the Vercel side. First, we encountered a TypeScript issue with the official Blitz + Next example. Should I create an issue to update this? Secondly, we ran into a module not found error.
![image](https://user-images.githubusercontent.com/9113740/112666915-ac92bb00-8e2a-11eb-9235-ebc86f5d9606.png)

We're still investigating on our side and working with

[2021-03-26 17:12] shrugs commented on #1708
nice! I've verified that the reproduction, with blitz 0.33.0 using the (currently default after `blitz new`) react version `0.0.0-experimental-3310209d0`, does not loop in firefox. i didn't try react version `0.0.0-experimental-6a589ad71` since it seemed unnecessary.

here's the version that worked: https://github.com/shrugs/blitz-3-auth-loop-hook-form

[2021-03-26 17:12] #1708 closed

[2021-03-26 17:22] flybayer commented on #2125
@leerob we already have an issue for that: https://github.com/blitz-js/blitz/issues/2132

[2021-03-26 20:25] flybayer commented on #2146
I just gave an update at https://github.com/blitz-js/blitz/discussions/2128#discussioncomment-535723

Does that solve your use case?

[2021-03-27 00:21] sakulstra commented on #2047
not sure if this sheds more light on the issue -as i didn't immediately find this issue here's my reproduction as well :sweat_smile:

I ripped everything off my app(middlewares, layout and so on), replaced all the needed elements with direct next imports, except for:
[code]
Because without BlitzScript nothing will render due to cookie related errors.

Then I crated the most simple page I could thi

[2021-03-27 02:26] markhughes commented on #2050
Great! Thank you!

[2021-03-27 07:04] eai04191 opened #2153 "Installing the tailwind recipe on windows will rewrite the line feed code in _app.tsx to CRLF"
### What is the problem?

Subject Says It All.
The recipe installer shouldn't need to change the line feed code.

### Paste all your error logs here:

[code]

### What are detailed steps to reproduce this?

1. `blitz install tailwind` on Windows
2. see `app/pages/_app.tsx`

### Run `blitz -v` and paste the output here:

[code]

[2021-03-27 07:47] eai04191 commented on #2153
Probably because the default line feed code of recast used by jscodeshift depends on the OS?
https://github.com/facebook/jscodeshift/issues/195
https://github.com/benjamn/recast/blob/master/lib/options.ts#L172
I think specifying this as \ n would solve the problem, but I didn't know where to specify the option in the recipe.

[2021-03-27 13:48] malkomalko commented on #2130
Just dropping a comment here that I'm looking into this as part of me getting a DO box setup manually for a project of mine.  The way to solve this is with symlinks and something like https://pm2.keymetrics.io/docs/tutorials/capistrano-like-deployments.  Basically, you'll have a folder for each release and then swap out the symlink on deploy so there's no downtime.

[2021-03-27 15:12] #2050 closed

[2021-03-27 15:12] flybayer commented on #2153
Thanks for the report!

[2021-03-28 17:23] ericvicenti opened #2160 "TypeScript issues in custom server"
I'm trying to build an application with WebSockets, implemented in TypeScript, that can connect to the database/prisma.

### What do you want and why?

TypeScript support for custom server files, which can access "db"

In `app/server/server.ts`, I want to write the following:

[code]

I know Nextjs/Vercel do not really care about custom server files. But I'd hope Blitz would have support for suppo

[2021-03-28 18:49] thomasbroderick commented on #1600
I've been trying to add a Chakra Checkbox component to my Blitz app and I'm sad to report that even with the latest React experimental build and Chakra 1.4.0 that this error still persists. :(

[2021-03-28 22:03] sakulstra opened #2162 "[RFC] add GET support to rpc specification"
### What do you want and why?
I want to be able to query(and perhaps even mutate) RPC via `GET` instead `POST` as it unlocks cdn side caching.
This is quite useful for public apis which rarely change, or are processing intensive(swr, rate-limit¹).
Considering cdn a rate-limiting solution(which it isn't), one might even argue that `GET` might be useful for mutations as well.

### Possible implement

[2021-03-29 02:31] MrLeebo commented on #1544
As a workaround, I think you can
[code]
in your gSSP and have your page/layout render the error component or `throw props.error` on render to produce the same client-rendered error experience.

[2021-03-29 05:48] souravmondal93 commented on #2118
Hi @flybayer, I would love to take up the issue. I will start on this and keep you updated with my progress. Thanks :)

[2021-03-29 08:56] MANTENN opened #2163 "useAuthentication hook run before the component gets mounted"
### What do you want and why?
So this is a request of: https://twitter.com/mantennn/status/1375349353821298692.

I want the `useAuthentication` to redirect the user without any mounting and flashes. I want it because this would provide a better UX for users.

### Possible implementation(s)
The `_app` component can have a provider which would periodically and on route change grab the stored token.

[2021-03-29 19:01] flybayer commented on #1600
@thomasbroderick ok, then set this and it should work

[code]

[2021-03-29 19:07] flybayer commented on #2162
Thanks @sakulstra! I think we should make it opt-in. It's quite nice and simple when all requests use POST and the network requests all look uniform. As well because of the query string limit. Also it helps prevent user data being accidentally cached.

But I'm open to hear other's thoughts on this.

[2021-03-29 19:13] flybayer commented on #2163
Thanks @MANTENN. We already support part of this via `Page.authenticate = true` [(docs)](https://blitzjs.com/docs/authorization#secure-your-pages). You will not see a flash of content with that. However it does mount the page in the background and run any useEffect hooks.

We could do what you are asking for not actually mounting the the page, but this will prevent the static page optimization. Cu

[2021-03-29 21:49] markhughes commented on #1972
@flybayer thinking about the approach a bit more and will do :)

[2021-03-30 05:39] svo393 opened #2168 "Shallow routing does not maintain state"
### What is the problem?

When changing url query through <Link>  or router.push with { shallow: true } the page acts like it is the first render. It defeats the purpose of using usePaginatedQuery, making react-query loose it's last successfully resolved data from previous page. In Next.js that doesn't happen.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[2021-03-30 20:01] #2146 closed

[2021-03-30 20:17] jorisre opened #2172 "No request sent with `useInfiniteQuery` when query params change"
### What is the problem?

ℹ️I haven't tested with other hooks _(useQuery, ...)_

When using `useInfiniteQuery` with `initialData` and passing params dynamically no request is sent.
I got this problem only if I use `initialData`, if I don't use it, all works well.

Example fo the problem:
![blitz-ss](https://user-images.githubusercontent.com/7545547/112736952-faa4dd00-8f56-11eb-8606-4a62210e94f7.gi

[2021-03-31 02:56] MrLeebo commented on #2163
You can also authenticate in getServerSideProps, along with any initial data fetches so you can render the page without hitting a loading state.

[code]

[2021-03-31 12:38] malkomalko commented on #2030
Ok, I got a DO box setup manually and wrote down the steps with PM2, Symlinking, and automatic deploys through a Github Action.  Just need to think about how to turn this into a script for the marketplace.  Will look into that a bit this weekend.

[2021-03-31 19:47] Roesh commented on #2027
Hey, wondering if we have updated the rpc code since nextjs has been forked? I'd be down to help with this too since I'm doing a query with refetch interval of 500ms and its flooding my logs haha

[2021-03-31 19:56] kandros commented on #2027
If it has and can be worked on, I'm available for doing it in pair programming you are open to it.

[2021-03-31 21:53] MANTENN commented on #2163
Yup, I am aware of the ServerSide prop my proposal was for client side routing.

[2021-03-31 21:54] MANTENN commented on #2163
Closing as this is what I was requesting.

[2021-03-31 21:54] #2163 closed

[2021-03-31 22:18] flybayer commented on #2125
Vercel says this should be fixed now. Can someone test?

[2021-03-31 22:20] flybayer commented on #2172
Thank you!

[2021-03-31 22:21] #2047 closed

[2021-03-31 22:25] flybayer commented on #2168
Closed in #2173

[2021-03-31 22:25] #2168 closed

[2021-03-31 22:53] waptik commented on #2125
I can confirm it's been fixed, at least at my end.
I no longer get error 500.
I just upgraded blitz to latest version

[2021-03-31 23:00] sakulstra commented on #2125
works for me as well

[2021-04-01 00:02] leerob commented on #2125
Glad it’s working for everyone 👍🏼 Thanks for bearing with us 🙏🏼

[2021-04-01 09:28] rfermann commented on #2125
Same here, new deployment with the same code base is working. Thanks for fixing.

[2021-04-01 14:42] ericvicenti commented on #2160
Thanks for the response @flybayer. I guess there is no support for typescript in the server file? I have used this approach with Next before. With blitz I can't get past the blitz pages directory error. Is there anything i can pass into `blitz({ dev })` that can help configure the pages directory?

Unfortunately WS+TS support is important for me, and I may be forced to go back to bare Next.js.

I

[2021-04-01 18:22] #2125 closed

[2021-04-01 18:32] flybayer commented on #2160
@ericvicenti your tsc approach should work exactly the same with Blitz. Can you link a repo that reproduces this?

[2021-04-01 18:54] flybayer commented on #1600
I just tested this myself and I can no longer reproduce 🤔

[code]

[2021-04-01 19:22] ericvicenti commented on #2160
Here is my blitz repo where I am trying to add a TypeScript server file:

https://github.com/co-base/co.base/tree/72785c87b33ea0310c12d873722a05130906213a

You can see all the clumsy attempts I have made: `yarn dev1` `yarn dev2` and `yarn dev3` are all broken 😭. (`yarn dev` runs blitz without the custom server file)

`dev1` reaches the "pages directory" issue above.

`dev2` is a bad approach (and

[2021-04-01 19:32] flybayer commented on #2160
@ericvicenti oh my, I'm so sorry. With Blitz, you don't actually run your custom server.

1. Add a `server.js` file at your project root
2. Run `blitz dev`,  `build build`, and `build start` will all automatically use your custom server

But you'll still need nodemon to run tsc `server.ts -> server.js` and restart `blitz dev`. (Until we get custom server TS support added)

See https://blitzjs.com/

[2021-04-01 19:47] ericvicenti commented on #2160
No worries, I realize I am on the bleeding edge! 🔥

But that was one of the first approaches I tried. I just added `yarn dev4` on that repo to demonstrate.

`"dev4": "tsc server.ts --esModuleInterop && blitz start",`

I also added `server.js` to my .gitignore file, because it is not a source file in this case.

But the TS build fails, it gets confused when it sees blitz stuff.

<img width="1246" a

[2021-04-02 15:08] flybayer commented on #2160
@ericvicenti I got you going: https://github.com/co-base/co.base/pull/40

[2021-04-02 16:03] ericvicenti commented on #2160
Thanks for the help @flybayer . I am still having troubles with the configuration so I responded here:

https://github.com/co-base/co.base/pull/40#issuecomment-812592214

Let me know if I should just wait for full TS support on the blitz server side. I don't want to take up your time on work-arounds.

I am also considering maybe separating out the "front end" and the "back end" into separate node

[2021-04-05 14:04] garytube opened #2180 "Can't access DEV Server on WSL2 (Windows Subsystem Linux)"
### What is the problem?

I'm running Ubuntu in a WSL2.

When i run `blitz run dev` I can't access it via localhost:3000 or 127.0.0.1:3000. I think there is a issue with the network interface binding. #1956

once I added the custom server snippet (https://blitzjs.com/docs/custom-server) everything works like a charm.

BlitzJS is the only framework where I have this issue. NextJS works just fine

#

[2021-04-05 17:48] #2160 closed

[2021-04-05 17:48] flybayer commented on #1987
Idea: use esbuild to bundle server.ts https://github.com/co-base/co.base/blob/be76dad44c4ae07135196c286e858e8a1247dc64/server-build.js

[2021-04-05 18:04] flybayer commented on #2180
@garytube two questions:

1. Does `blitz dev --hostname 0.0.0.0` work?
2. In a vanilla next.js project, does `next dev --hostname 127.0.0.1` work?

[2021-04-05 18:38] garytube commented on #2180
`blitz dev`
[code]
no access

`blitz dev --hostname 0.0.0.0`
[code]
no access

**NextJS**

 `npx next dev --hostname 127.0.0.1`
[code]
no access

----

In all cases the Server is running just fine. I did a simple `curl -I -X GET http://localhost:3000``  **inside** WSL
[code]

I'm pretty sure it's not directly a blitzJS problem but something is not playing nice.

Any idea what else to check?

PS:
i

[2021-04-05 18:48] flybayer commented on #2180
Hmm that's really weird. We don't change anything about the networking binding except setting a default `hostname` unless you specify it. Do you get any compile errors?

[2021-04-05 18:55] garytube commented on #2180
found it.

 Powershell: `netsh interface portproxy show all` listed a rouge port proxy was running...    I don't know where that came from but once I deleted it, everything works fine.

 sorry @flybayer   ;)

ps:
thank you for all the work

close

[2021-04-05 18:55] #2180 closed

[2021-04-05 19:00] #2012 closed

[2021-04-05 21:06] anteprimorac opened #2181 "AuthenticatedClientSession incorrect type when PublicData is discriminated union"
### What is the problem?

Typescript cannot find public data properties in the `useAuthenticatedSession` hook value when defined public data is discriminated union. Only `isLoading` is available.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

[2021-04-05 22:42] flybayer commented on #2181
Thanks @anteprimorac

[2021-04-06 16:05] mattfwood opened #2183 "Files Using Spread Syntax ([...auth].tsx) can't be copied by recipes"
### What is the problem?

When trying to create a recipe that copies a file using the Next.js "spread" syntax `[...auth].tsx`, the file can't be found.

However, if I change the file name to something like `auth.tsx`, it works as expected.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

Here is my recipe builder step:

[code]

### What are detailed steps t

[2021-04-06 16:17] BjoernRave opened #2184 "Invalidate Query not working on blitz@0.34.0-canary.0"
### What is the problem?

Queries are not being invalidated correctly on the latestet `canary` version

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Fetch data
2. use `invalidateQuery` to invalidate results

### Run `blitz -v` and paste the output here:

[code]

[2021-04-07 09:47] mauriarmora opened #2187 "blitz command not working in mac"
### What is the problem?

I installed blitz but the blitz command is not working in the mac terminal, so I cannot do blitz 'new appName'. I tried installing it with sudo, updating node (I have it in version 14.16.0), but still it says: 'command not found: blitz'

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduc

[2021-04-07 12:37] Maastrich commented on #2187
It might be because you ran npm with sudo, the package is installed for your super user but not for the normal user.
Try running `npm install blitz -g` (or better `yarn global add blitz`)

[2021-04-08 14:36] flybayer commented on #1973
This was also reported by a macOS user: https://discord.com/channels/802917734999523368/814627638265643068/829705558147596358

[2021-04-08 15:07] flybayer commented on #2183
That's weird!

[2021-04-08 17:25] SirKaleeb opened #2190 "Duplicated Output When Using <body> Tag"
### What is the problem?

Good afternoon!

Discovered this bug when using the `<body>` tag when returning the JSX/TSX.

### Paste all your error logs here:

No errors were thrown.

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Create a file for your page.
2. Include a `<body>` tag in your JSX/TSX when returning it.

### Run `blitz -v` and pa

[2021-04-08 17:26] Roesh commented on #2190
Able to duplicate on 0.33.0 as well

[2021-04-08 20:48] Roesh commented on #2190
So, I thought I'd look into this again, and I remember from a create react app type example in ASP.NET Core, there is usually an "index.html" page which contains like a default page, and it does things like display a banner if javascript isn't enabled, informing users to turn it on.

I thought next might have added it, but
1) I can't seem to find where that file
2) There isn't documentation that w

[2021-04-08 21:03] wescopeland opened #2191 "react-query 3 upgrade doesn't play nicely with Preact Suspense"
### What is the problem?

Up until 0.33.1, Blitz.js and Preact played together perfectly, with no errors or hitches of any kind.

As of 0.34.0-canary.0, Blitz's `useQuery` hook (and probably useMutation, but I haven't tried) appears to be having issues with preact/compat's `<Suspense />` component. The hooks go into infinite loops, unable to resolve their promises.

### Paste all your error logs h

[2021-04-08 21:54] wescopeland opened #2192 "Jest tests are not aware of internal Next.js fork's next/image configured domains"
### What is the problem?

If a component is using `next/image` or the new `Image` import from `blitz`, an error will be thrown on Jest tests stating that the `src` prop is invalid due to the domain not being specified in the _next.config.js_ file. However, this occurs when the domain is indeed specified in _blitz.config.js_ file.

### Paste all your error logs here:

[code]

### Paste all relevant

[2021-04-08 22:43] markhughes commented on #1973
Is this possibly related to [nvm](https://github.com/nvm-sh/nvm)? I've been trying to replicate it but I use [volta](https://github.com/volta-cli/volta).

[2021-04-08 22:48] markhughes commented on #1973
Actually.. replicated it:

[code]

However, I resolved it by updating node:

[code]

[2021-04-08 22:56] markhughes commented on #1973
I have tried to replicate it node 14.9:

[code]

and node 14.11

[code]

but they seem to work ok. The issues seems isolated to **Node 14.10**.

Digging further, the issue is resolved in 14.10.1:

[code]

[2021-04-08 23:16] flybayer commented on #2184
Hey @BjoernRave, I'm unable to reproduce. I added a working integration test in https://github.com/blitz-js/blitz/pull/2194.

Can you provide a reproduction? Ideally you could update that integration test and submit a failing PR.

After running `yarn build` or `yarn dev` in the repo root, you can run that test with this:

[code]

[2021-04-08 23:43] flybayer commented on #2191
I don't think this has anything to do with react-query. Commenting out the useQuery stuff in `/` and it still doesn't work.

I ran `yarn add blitz@latest` in your repo and removed the query error reset from `_app`. Now I don't see Promiseloading in the terminal, but it's still very much broken. I see the following in the browser console:

[code]

Which seems to point to a preact concurrent mode is

[2021-04-08 23:45] flybayer commented on #2190
Yes this is by design, `<body>` should be rendered inside `_document.tsx`.

Here's the default one: https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/app/pages/_document.tsx

[2021-04-08 23:46] flybayer commented on #1973
Awesome, thank you @markhughes!! We'll close this with that solution.

### Solution

Upgrade to any version other than Node 14.10.0

[2021-04-08 23:46] #1973 closed

[2021-04-08 23:55] markhughes commented on #1973
For reference, seems related to this: https://github.com/nodejs/node/commit/0f94c6b4e4

[2021-04-09 13:20] wescopeland commented on #2191
Interesting - in my real app I have concurrent mode disabled because I'm using Material UI.

[2021-04-09 16:58] paulm17 opened #2195 "Error: Cannot find module 'next/constants'"
### What is the problem?

Since upgrading to 0.34.0-canary.2, whenever I am interacting with NPM and running blitz dev.  I get a cannot find module with 'next/constants'

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

.

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

[2021-04-09 16:59] wescopeland commented on #2195
I am experiencing the same since using `canary.2`. Based on nothing, I suspect this is also the cause of https://github.com/blitz-js/blitz/issues/2192.

[2021-04-10 05:36] denvaar commented on #1991
I am still seeing this issue running Blitz 0.33.1

[code]

[2021-04-10 11:35] sakulstra opened #2196 "suspense refresh/invalidation broken on canary-0"
### What is the problem?

When I use `useInfiniteQuery` with suspense, query parameter change will trigger a fetch, but the data parameter is never updated.

When I disable suspense it seems to work again.

I think this might be related to the react-query v3 update, but i'm not 100% sure.
Might be related to #2191, #2172 and #2184, but am not quite sure.

### Paste all your error logs here:

There

[2021-04-10 19:34] flybayer opened #2200 "Throw an error if using a query with useMutation or a mutation with useQuery"
### What do you want and why?

Throw an error if using a query with useMutation or a mutation with useQuery. These have different expectations and behavior, so we need to throw an error in this case.

### Possible implementation(s)

Split [sanitize](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/utils/react-query-utils.ts#L82) into `sanitizeQuery` and `sanitizeMutation` and add th

[2021-04-10 19:37] flybayer opened #2201 "Rename `types.d.ts` to `global.d.ts`"
### What do you want and why?

`types.ts` and `types.d.ts` sometimes conflict and don't work properly, so we need to rename [types.d.ts](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/types.d.ts) to `global.d.ts`

This is simple, just rename the file.

[2021-04-10 19:54] laubonghaudoi opened #2202 "Some errors and improvements in the tutorial"
I just walked through the Blitz [tutorial](https://blitzjs.com/docs/tutorial) and found several issues there, which I will list below:

## 1 Instructions of migration and generation should be more clear

In the last second part of [Scaffolding code for our models](https://blitzjs.com/docs/tutorial), *Next we'll generate the Choice model with corresponding queries and mutations.*, it doesn't say wh

[2021-04-10 20:16] flybayer commented on #1991
@denvaar ok probably because your production server doesn't have enough memory. This is almost certainly related to https://github.com/blitz-js/blitz/issues/1098 and that issue should fix your issue.

[2021-04-10 20:22] #2023 closed

[2021-04-10 20:27] flybayer commented on #2195
Thanks y'all, will try to find a fix. I think a workaround is to run `npm rebuild blitz`.

Issue is that we create a `node_modules/next` to `node_modules/@blitzjs/next` symlink and that is apparently getting deleted.

[2021-04-10 20:27] flybayer commented on #2192
Does this happen even after clearing node_modules and reinstalling?

[2021-04-10 20:28] flybayer commented on #2191
Ok then yeah I think it's a Preact issue that we can't do anything about

[2021-04-10 20:33] flybayer commented on #2192
Also did this work `<= 0.33`?

[2021-04-10 20:35] wescopeland commented on #2191
Ok, no worries! I will switch back to React.

[2021-04-10 20:35] #2191 closed

[2021-04-10 22:22] #2195 closed

[2021-04-10 22:30] flybayer commented on #2195
Published a fix in https://github.com/blitz-js/blitz/releases/tag/v0.34.0-canary.3

Let me know if that doesn't solve the problem

[2021-04-11 08:45] paulm17 commented on #2201
Can you add:

[code]

So that it's ready for those who will use svg?

[2021-04-11 08:50] paulm17 opened #2206 "Npm upgrade and build issue with blitz@0.34.0-canary.3"
### What is the problem?

Error with npm upgrade and doesn't build on blitz dev

### Paste all your error logs here:

npm upgrade
[code]

blitz dev:
[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

[2021-04-11 17:46] malkomalko opened #2207 "`CancelledError` when clicking Logout on 0.34.0-canary.3"
### What is the problem?

There's an error with the logout mutation with a fresh project install.  Looks like this is an error after upgrading `react-query`.  I'm not quite sure yet if this is happening for other mutations, but my guess is it might be.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1

[2021-04-11 21:18] medihack opened #2208 ""missing script: lint-staged" with v0.34.0-canary.3"
### What is the problem?

I created a new Blitz project from scratch (`blitz new blitz-test`) and tried to commit a change. When trying to commit I get the following error message

[code]

When I change the `.husky/pre-commit` and `.husky/pre-push` to use `yarn` instead of `npm` the commit works fine.

### What are detailed steps to reproduce this?

- `blitz new blitz-test`
- `cd blitz-test`
- Edi

[2021-04-12 06:52] mubaidr opened #2209 "Blitz unable to find/install any recipe when using a proxy"
### What is the problem?

Unable to install any recipes using `blitz install`. Tried `tailwind`, `material-ui`, `chakra-ui` so far
[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. blitz new myApp
2. cd myApp
3. blitz install material-ui

### Run `blitz -v` and paste the output here:

[code]

[2021-04-12 07:58] Swapnull opened #2210 "Ability to increase bodyParse sizeLimit inside a mutation"
### What do you want and why?
I want to be able to increase the bodyParser sizeLimit in a mutation.
I am trying to create a file upload on my project and the mutation works great until I try to use a file above 1mb and we hit a `Error: Body exceeded 1mb limit` error.

Although this is achievable by using a custom api route, I have managed to do everything else with `useMutation` and `useQuery` so

[2021-04-12 08:30] Maastrich commented on #2187
I'll mark this issue as close, feel free to reopen it if it is still not resolved

[2021-04-12 08:30] #2187 closed

[2021-04-12 12:09] markhughes commented on #2209
I've just tried this using `node v14.10.1` and didn't have issues.

So using these versions:

[code]

I also couldn't replicate it.

[code]

Is there anything different about your environment? Symbolic links? Weird file system?

Could you try nuking `node_modules` and running `yarn`?

[2021-04-12 12:15] mubaidr commented on #2209
I have forgot to mention that I am using proxy for internet. Could this be the issue here that blitz does not support proxy connections?

Proxy is set system wide. Npm, git etc all working fine.

[2021-04-12 12:34] markhughes commented on #2209
Maybe! I'll try setup a proxy soon myself and see if I can replicate it too

[2021-04-12 13:56] mubaidr commented on #2209
I just tried on a system without proxy and it works fine.

[2021-04-12 15:20] oceandrama opened #2211 "Add better `select` support for resolvers"
### What do you want and why?

Now you can pass `select` option from `Prisma` API to your resolvers and it works well
[code]

[code]
But the type of users will always be `User[]`, no matter what you pass in `select` option
Even if just call `getUser` without `useQuery`
[code]

You can improve you typings like this
[code]
Now, if you call `getUsers` directly, it will work
[code]

But if you call it

[2021-04-12 16:42] #2201 closed

[2021-04-12 16:43] flybayer commented on #2201
@paulm17 yeah we can add that in another PR, but do we actually support svg out of the box? 😅

[2021-04-12 16:48] flybayer commented on #2211
Thanks @oceandrama. Here's our useQuery hook: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-query-hooks.ts#L33. We already use a generic, so I'm not sure if it's possible with current Typescript to make what you want. If it's possible, then we can certainly do it.

However, a word of caution, if you are allowing `select` from the frontend, you need to add a `zod` input schema

[2021-04-12 16:51] flybayer commented on #2210
Thanks! I'll keep this in mind with the nextjs fork integration. I should be able to add this at the same time.

[2021-04-12 17:11] #2208 closed

[2021-04-12 17:54] shubhsk88 opened #2215 "Generators don't support string IDs"
### What is the problem?

In order to ensure more safety on the user id. I tried to change the `Id` to `cuid` mode .But that changes is not reflecting in my future relationship models and it is still taking the reference as `Int` in the other models

### Paste all your error logs here:

`blitz generate resource subscription belongsTo:user belongsTo:community isFavourite:boolean:default=false`

###

[2021-04-12 19:50] karimsx opened #2216 "session not working when putting in production"
### What is the problem?

After setting up my project in local, i pushed my code to a vps and used it as a server.

everything work as expected but authentication, specifically, when i try to login, the authentication process go well, user is fetched with correct password, and is redirected. but after been redirect to the correct page, the user is  redirect again to login page as if is was not log

[2021-04-12 20:16] MrLeebo commented on #2216
Hi @karimsx, it looks like your production URL is being served insecurely over HTTP, instead of HTTPS. The auth token is stored in a secure cookie, so it will not be used for insecure connections.

Make sure your authenticated routes are served as HTTPS so the session information can't be intercepted and stolen while it's on its way been the server and the client.

[2021-04-12 21:36] tmcw commented on #477
Setting up subscriptions requires quite a few moving parts! I've set up a PR for review against a vanilla Blitz app. Would love some input on it, and thoughts on whether it could be translated to a recipe: https://github.com/placemark/blitz-saas/pull/1

[2021-04-12 23:29] karimsx commented on #2216
Hey @MrLeebo, i see, for the moment, i'm using the vps as a development server to work with my client, is there anyway to bypass it temporarily while waiting for the website domain/ssl ?

Thanks you for you fast and precise response ;)

[2021-04-13 01:06] MrLeebo commented on #2216
You can set the environment variable `DISABLE_SECURE_COOKIES=true` to [disable](https://github.com/blitz-js/blitz/blob/563720bb5798b0c43d6858ffe502d19d78be1c5b/packages/core/src/server/auth/sessions.ts#L491) it.

[2021-04-13 02:45] markhughes commented on #2209
@mubaidr how are you setting the proxy? Is it through something like `yarn config set proxy`, or is it on the system level?

[2021-04-13 02:51] mubaidr commented on #2209
I am using proxy on system level. (debian system settings )

Btw I have also setup proxy in npm but it did not work.

[2021-04-13 07:31] mtford90 opened #2218 "Blitz apps crash when run in an iFrame in Chrome when third-party cookies are disabled"
### What is the problem?

This is quite an obscure problem - we discovered it after integrating a form from our Blitz app in an iframe within our webflow landing page.

If third-party cookies are disabled then a Blitz app will crash when run in an iFrame in chrome.

This is Chrome's default setting when running in incognito.

As a side effect of third-party cookies being disabled, localStorage is

[2021-04-13 07:39] #2216 closed

[2021-04-13 11:31] markhughes commented on #2209
Still trying to work out [here](https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/install.ts) how recipes work and I'll hopefully be able to help more!

[code]

Can you see if this works from your command line?

[2021-04-13 13:40] mubaidr commented on #2209
According to this: https://github.com/nodejs/node/issues/1490#issuecomment-207771233 `got` (and even `nodejs`) does not support system level proxy.

Can't test right now, I am on a pc with direct connection. Will test and report as soon as possible.

[2021-04-13 14:29] mubaidr commented on #2209
I am willing to create a pull request to add proxy support using environment variables. Let me know

[2021-04-13 15:08] flybayer commented on #2196
Ok thank you @sakulstra! This is indeed caused by https://github.com/tannerlinsley/react-query/issues/2095.

[2021-04-13 15:11] flybayer commented on #2215
Yeah, this is a known issue. Generators don't yet support string id's, sorry about that

[2021-04-13 15:27] flybayer commented on #2206
@paulm17 I'm unable to reproduce this. Can you please provide more details?

[2021-04-13 15:36] paulm17 commented on #2206
Now that I know removing node_modules is the ultimate fix.  I just upgraded the blitz version, remove node_modules and did a re-install via npm install.

No issues, so closing.

[2021-04-13 15:36] #2206 closed

[2021-04-13 18:11] mhmdAljefri commented on #1459
@flybayer I'm getting the same issue when I upgraded blitz from `0.29.7` to `0.31.0`!

[2021-04-13 19:24] flybayer commented on #2206
Ok yeah probably was a leftover issue from that old symlink method which I got rid of

[2021-04-13 19:34] flybayer commented on #2207
Thanks @malkomalko. I see this too, but everything is functioning properly. Not sure why it's happening. Maybe in `rpc-client` under the `HEADER_SESSION_REVOKED` section we need to first "cancel" all queries before running `queryClient.clear()`

[2021-04-13 19:54] malkomalko commented on #2207
The mutation works, but if you want to redirect after a logout, it won't do that redirect until a refresh.  For now you have to catch it.  I'll try to dig in here a bit.