[2020-02-21 20:08] flybayer opened #5 "[RFC] Code of Conduct"
## Request For Comments

**This is a proposal for the Blitz Code of Conduct.**

Please share any and all feedback.

It's heavily inspired from [Hood.ie](http://hood.ie/code-of-conduct/).

---

# The Blitz Community Code of Conduct

The Blitz core members take this CoC **very** serious. All members, contributors and volunteers in this community are required to act according to the following Code of

[2020-02-21 20:18] merelinguist commented on #5
Looks great! Very comprehensive 👍

[2020-02-21 20:31] jasonblalock commented on #5
Looks great to me!

Need a `)` in the second to last bullet, "What We Believe..." section:

[2020-02-21 20:40] robdrosenberg commented on #5
Awesome to see a new project making it a priority for everyone to feel included and empowered! Well done @flybayer

[2020-02-21 23:16] mabadir commented on #5
Looks great. I’d recommend creating a twitter account for Blitz that people can follow and interact with the community.

[2020-02-22 02:18] D8ATech commented on #5
Seems like a common sense CoC.  Sorry it has to be spelled out but if anyone has a problem with it they should probably not be involved.

[2020-02-23 19:47] flybayer commented on #5
Adopted via #9!

[2020-02-23 19:47] #5 closed

[2020-02-23 21:10] aem commented on #5
Something that may be great to add on top of what's here is examples of how we expect our team to handle conflicts + reports. [WeAllJS](https://wealljs.org/code-of-conduct) has a good example here - clear steps the team will take with complains, as well as actual dialogue examples of how situations will be handled.

[2020-02-24 04:00] flybayer commented on #5
Great idea @aem — that's a very good CoC! I'll open a PR soon with improvements.

[2020-02-27 00:01] flybayer opened #13 "Fix `@prisma/client` being included in the client side bundle during development"
The current `core` and `first-demo` code runs in production on Zeit now, but it fails during local development:

[code]

- [Prisma docs on what `@prisma/client` is and how it works](https://github.com/prisma/prisma2/blob/master/docs/prisma-client-js/codegen-and-node-setup.md)
- [A blog post describing what's happening here](https://arunoda.me/blog/ssr-and-server-only-modules)

This issue is up for

[2020-02-27 00:14] toddgeist commented on #13
is there going to be a next.config.js in the root of core?

[2020-02-27 00:20] toddgeist commented on #13
nevermind - I see what the plan is

[2020-02-27 00:25] flybayer commented on #13
I think Blitz will provide a next.config.js wrapper

[2020-02-27 00:42] toddgeist commented on #13
you already have a next.config.js in the example.

[2020-02-27 00:43] toddgeist commented on #13
I'll take a shot at this.

[2020-02-27 01:16] toddgeist commented on #13
I have some work to do to get up to speed though. haven't used TypeScript in a while, and postgres in years....

So if anyone else wants this issue, have at it.  :-)

[2020-02-27 01:18] flybayer opened #14 "Add tests to blitz core"
Blitz core is currently untested. We need to add comprehensive tests. This would be a good task for anyone who wants it!

Comment below if you're getting ready to work on it

[2020-02-27 01:22] flybayer commented on #13
You can switch to sqlite. Change to this in `prisma/schema.prisma`
[code]

[2020-02-27 01:48] jasonblalock commented on #14
I'd love to take a crack at this

[2020-02-27 02:39] MrLeebo commented on #14
I checked it out, tried to use the nextjs tests as a template, but the `next-test-utils` dependency isn't public so we'd have to replace that or come at it a different way.

[2020-02-27 05:54] jasonblalock commented on #14
Yeah, @MrLeebo  I see what you mean. I was able to copy the test-utils and get that compiling properly (not that I think that's the ideal solution). But there's a ton of config/packages that goes into their integration tests that I'm not sure the right move is to copy it. Not to mention they use selenium for all their stuff and I don't know if that's the direction we want to be entrenched.

I'm go

[2020-02-27 07:35] emeraldsanto commented on #14
If by any chance this hasn't been taken care of when I get back home on Sunday, I will gladly start working on it!

[2020-02-27 15:02] MrLeebo commented on #14
I started a PR (#16), but I'm sure there's more testing to be done.

[2020-02-28 02:53] jimthedev commented on #13
I have a PR for this incoming.

[2020-02-28 02:57] flybayer commented on #13
@jimthedev yay, thank you!!

[2020-02-28 03:01] jimthedev commented on #13
Ok a couple of things. The webpack docs indicate you should be able to just use

[code]

Unfortunately the version of webpack being used seems to want a string and will not accept `false`. It seems that perhaps in the future the right approach may be to use `false` but that won't work for now.

I also looked into the approach using the IgnorePlugin but was getting some strange errors where webpack

[2020-02-28 03:17] flybayer commented on #13
I just posted in the Prisma slack. We'll see what they say.

[2020-03-01 08:54] flybayer opened #20 "Change CLI build to use pkg"
Currently, the cli uses the default oclif packager. We want to use [pkg](https://github.com/zeit/pkg) to build it into a single binary without any install dependencies.

@lorenzorapetti is working on this

[2020-03-01 09:00] flybayer opened #21 "Add cli command: blitz start"
- [ ] `blitz start` should start the Next.js development server by spawning `next dev`
- [ ] `blitz s` should run `blitz dev`
- [ ] `blitz start --production` or `blitz start -p` should run `next build && next start`
- [ ] Add tests

[2020-03-01 11:37] flybayer opened #22 "Add cli command: blitz test"
- [ ] `blitz test` should run the `test` script in package.json.
- [ ] `blitz t` should run `blitz test`
- [ ] Add tests

[2020-03-01 11:51] flybayer opened #23 "Add cli command: blitz test watch"
- [ ] `blitz test watch` should run the `test:watch` package.json script.
- [ ] `blitz tw` should run `blitz test watch`
- [ ] Add tests

[2020-03-01 12:02] flybayer opened #24 "Add cli command: blitz db migrate"
- [ ] `blitz db migrate` should effectively run `prisma2 migrate save --experimental && prisma2 migrate up --experimental`
- [ ] Add tests

[2020-03-02 03:22] #14 closed

[2020-03-02 08:26] flybayer opened #26 "Add cli command: blitz console"
- [ ] `blitz console` should start a Node REPL (that's it for now — I'll create another issue for auto loading application code into scope which has to wait until we have a direction on file structure)
- [ ] `blitz c` should run `blitz console`
- [ ] Add tests

[2020-03-02 08:29] flybayer opened #27 "Auto load application code into the blitz console REPL"
As much application code as makes sense should be auto loaded into scope, such as models, controllers, integration files, utils, and jobs.

This is pending the file structure being nailed down a bit more.

[2020-03-02 14:35] flybayer opened #29 "Properly solve the `@prisma/client` development bundling issue"
There's currently an issue with `@prisma/client` being included in the development bundle. See https://github.com/blitz-js/blitz/issues/13.

This currently has a hacky workaround via https://github.com/blitz-js/blitz/pull/19.

We're waiting to hear from Prisma on a good solution: https://github.com/prisma/prisma2/issues/1725

[2020-03-02 14:50] #13 closed

[2020-03-02 17:46] camilo86 commented on #22
If still open, I can submit a PR for this later today

[2020-03-03 02:42] flybayer commented on #22
Yep, still open. Go for it! @camilo86

[2020-03-03 04:27] camilo86 commented on #22
Just sent a PR for this issue https://github.com/blitz-js/blitz/pull/30 Let me know what you think

[2020-03-03 09:16] #29 closed

[2020-03-03 21:08] quirk0o commented on #26
Wouldn't it make sense to run `ts-node` if the project is generated with TypeScript?

[2020-03-04 02:37] #26 closed

[2020-03-04 02:37] #22 closed

[2020-03-04 03:02] flybayer opened #33 "Controller should return 404 if the target controller action isn't defined"
An application controller doesn't have to define all the index, show, create, update, delete actions, so if the target action for a request is not defined, the Blitz controller code should return a 404 http status code.

This change will be in `packages/core/src/controller.ts`

- [ ] Return 404 if action not defined
- [ ] Add a test for each action to verify 404 is returned if it doesn't exist

[2020-03-04 03:17] flybayer opened #34 "Controller should return 404 if the requested resource doesn't exist"
For example, you have a PostController with a `show` action. You request the `/posts/100` route but a post with id 100 doesn't exist in the DB. The Blitz controller should detect this and return a 404.

- [ ] Show action should return 404 if resource doesn't exist
- [ ] Update action should return 404 if resource doesn't exist
- [ ] Delete action should **not** return 404 if resource doesn't exist

[2020-03-04 08:54] flybayer commented on #34
Related prisma issues:

- https://github.com/prisma/prisma2/issues/1762
- https://github.com/prisma/prisma-client-js/issues/544

[2020-03-04 23:13] marcoseoane opened #40 "add blitz generate command"

[2020-03-04 23:22] ryardley opened #41 "Create separate @blitzjs/webpack package for node context"
Currently from the same package we are exporting code that runs:
* Within a node context. (webpack config)
* Within an isomorphic JSX / React context.

Because of the nature of JS when modules are loaded they are also run. Unfortunately that means stuff breaks when it is in the wrong context.

For example, in order to allow our users to import using absolute paths such as. `app/posts/controllers`,

[2020-03-05 01:10] flybayer opened #44 "Add a some Cypress tests to the first-demo example"
We need a couple e2e tests on the first-demo example to make sure it's working properly and prevent issues like https://github.com/blitz-js/blitz/pull/37

[2020-03-05 03:40] #41 closed

[2020-03-05 04:11] #33 closed

[2020-03-05 10:13] quirk0o commented on #27
when this gets started I have some thoughts and research on this that I could share :)

[2020-03-05 10:18] quirk0o commented on #27
Would we want to autoload dependencies (node_modules) as well? I'm thinking that would make a lot of sense

[2020-03-05 12:18] flybayer commented on #27
@quirk0o you're welcome to go ahead and post it all here now! Might as well start discussion on what this will look like exactly.

[2020-03-05 18:02] tsawan commented on #24
@flybayer can you comment if blitz db will have more options (commands) in the future? This may require us to structure this command in a specific way ( I need to read more from oclif docs ).

[2020-03-06 02:48] flybayer commented on #24
Sure, some possible examples:

[code]

[2020-03-07 08:17] tsawan commented on #23
@flybayer apparently oclif doesn't support `blitz test watch` as a separate command (with a space) out of the box, since you also want alias `blitz tw`.
So we have 2 options.
a) extend `blitz test` command to support `watch` argument. but then we can't have alias `blitz tw`.
b) create a new command `blitz test:watch` (with a colon), with an alias `blitz tw`.

let me know your thoughts?

[2020-03-07 11:48] flybayer commented on #23
Ok, probably not worth that. Can we do `blitz t w` with oclif?

[2020-03-07 12:56] tsawan commented on #23
we can probably do `blitz t w` but that may impact the semantics on context with other commands. I guess we have to visit these commands anyway in near future so let's start with simple case(s) for now.

[2020-03-08 00:45] flybayer commented on #23
Can you elaborate?

[2020-03-08 09:33] quirk0o commented on #27
Sure!
So if we're using the builtin Node REPL module (which I haven't found any alternative to) then here are some thoughts:
* we can use the repl's `context` property to assign any variables to the global scope in the repl
* I created a POC for loading the project's dependencies in here https://github.com/blitz-js/blitz/compare/canary...quirk0o:cli/feature/console-load-deps?expand=1
* it's import

[2020-03-08 11:34] #44 closed

[2020-03-08 13:01] ryardley commented on #27
I think having access to the prisma client will be helpful esp with autocomplete.

[2020-03-08 13:06] tsawan commented on #23
I guess single letter aliases make sense only for the command but not for parameters and it may become difficult to implement the same for other more complex commands (even if we can manage this for simpler case like test watch).

[2020-03-08 13:08] tsawan commented on #23
Ok, I've just played around with oclif's topic support and it's not very flexible. we can have commands like test:watch (here test is main command and watch is a sub-command) but it doesn't support t:w.
So I suggest we modify current test command to add support for --watch flag (it will also work with -w) and be done with this?

[2020-03-08 13:09] tsawan commented on #23
just to clarify further, as soon as we implement topic (sub-command) aliases doesn't work for any combination of main+sub-command.

[2020-03-08 13:15] flybayer commented on #23
Bummer. The more I think about it, the more I really want sub-command alias support. Will also use it with generators like `blitz g m` to generate a model.

This may be the kicker to switch off oclif. See the slack convo in #dev-cli

[2020-03-08 14:20] flybayer commented on #27
Good points @quirk0o!

- Let's use a file watcher to auto reload packages in the REPL. Rails requires you to run `reload` which is quite annoying
- Yes, definitely add a command history! I use this all the time in rails
- Definitely add a prisma client instance

P.s. You should have write access to this repo, so you don't have to use your fork. You can create new branches in this repo.

[2020-03-08 15:43] tsawan commented on #23
yeah, I read the whole convo and think we rushed off too early towards oclif. Probably should've listed all scenarios and started off with writing tests.
just read commander intro. and it is more open than oclif. We can still try oclif with a custom patch (I've found a patch from adobe that supports space separated topic commands).

[2020-03-08 19:04] ryardley opened #48 "blitz-next-compilation: Create file transform rules"
For the compiler file synchronisation system, (`packages/cli/src/scripts/synchronise`) create a list of rules that hold the transform information (path, content).

Might be a good idea to separate the rules from the rest of the code in a rule configuration module so there is a clear way to add more.

Apply the rules to collect `/pages` and write them to the compiled next js `/pages` folder.

[2020-03-08 19:27] tsawan commented on #23
@flybayer since the oclif testing issue is resolved, I can send a PR for this and #24. Or you want to hold these till oclif's fate is decided?

[2020-03-09 02:28] flybayer commented on #23
So right now we can do `blitz test watch` and `blitz t watch`, but we just can't alias `watch`, correct?

[2020-03-09 02:38] #21 closed

[2020-03-09 07:33] tsawan commented on #23
I now think we went too deep in topics/sub-command route.
Please review this PR #50.

It doesn't support t:w (since colon is used by oclif for sub-commands).
Ideally I would've liked to use flags but oclif uses hypens (e.g., --version or -v) to distinguish between a flag and a positional argument.

If you are happy with this PR, I can next look into #24.

[2020-03-09 08:30] #23 closed

[2020-03-09 14:23] tsawan commented on #24
@flybayer do you want 'd' alias for 'db'? and how about replacing setup with init since 's' alias is already taken by 'seed'?

[2020-03-09 14:54] flybayer commented on #24
Don't alias `db` since it's already so short. Don't add `seed` and `setup` yet, let's wait till we know how to implement those. But `blitz db init` is fine. Might be better than `setup` anyways.

[2020-03-10 08:18] tsawan commented on #40
@flybayer any details here then I might be able to pick it up?

[2020-03-10 08:51] #24 closed

[2020-03-10 08:54] flybayer commented on #40
@tsawan it's already mostly done in #46

[2020-03-10 20:19] quirk0o commented on #27
@flybayer would you like me to create a PR with these changes?

[2020-03-10 21:57] ryardley opened #53 "blitz-next-compilation: Output errors should have changed file paths according to file path transformation"
One issue I have discovered with the compile to Next approach is we will somehow need to map typescript/build errors in next outside of the compiled folder. The problem is when you click through they send you a path to the compiled file and not the original.

![image](https://user-images.githubusercontent.com/1256409/76151262-97df6a00-60e5-11ea-84b1-9b9652f5b7f8.png)

Also when you click in the br

[2020-03-10 22:04] ryardley opened #54 "blitz-next-compilation: Refactor next server scripts out to a separate package."
Problem
* We want to build Blitz so that the components that maintain dependencies to specific core downstream technology decisions are kept together.
* We should not couple the args parser with the scripts the args parser calls because we should be able to substitute out the args parser for something else at a later point.
* `@oclif` imposes restrictions sets up expectations on how the CLI packag

[2020-03-10 22:07] ryardley opened #55 "Make blitz server stop and log a nice error if it finds duplicate react pages"
Ensure that Blitz throws and error when there are duplicate pages within the app folder.

[2020-03-10 22:11] ryardley opened #56 "Improve Blitz Server Efficiency/performance"
Avoid copying files that are the same.
Avoid upfront copying when starting the server.
Test with a large next codebase with a few hundred pages.

[2020-03-11 05:51] flybayer commented on #27
@quirk0o sure!

[2020-03-11 05:53] flybayer commented on #54
Awesome, this sounds great

[2020-03-11 06:52] ryardley commented on #53
I have prototypal code for this that fixed both issues.

[2020-03-11 07:01] ryardley opened #58 "blitz-next-compilation: Write synchronisation manifest"
As synchronisation occurs, debounced and in a separate process, write the synchronisation to a JSON file manifest that can be looked up by other processes. Initially we need a reverse lookup (destination indexed) map for error redirection. It might make sense to have each value in a loose (as in not every key) source map format for later consumption: see https://www.bugsnag.com/blog/source-maps

[2020-03-11 07:02] #54 closed

[2020-03-11 07:05] flybayer opened #59 "Switch from `next.config.js` to `blitz.config.js`"
`blitz.config.js` will be the same as `next.config.js` except that it automatically adds the `withBlitz` config wrapper.

- [x] Change Blitz server to use `blitz.config.js`, but transform it to `next.config.js` with the `withBlitz` wrapper
- [x] Update examples to use the `blitz.config.js`

[2020-03-11 07:37] flybayer opened #60 "Upgrade Next in packages & examples to 9.3"
Note: `unstable_getServerProps` is now `getServerSideProps`

[Next 9.3 release notes](https://nextjs.org/blog/next-9-3)

[2020-03-11 08:22] flybayer opened #61 "Pass req and res objects to controller actions"
**NOTE: #60 needs to be resolved before starting on this**

Currently, this is the first function parameter given to controller actions:

[code]

It should be changed to this:

[code]

And as usual, include tests for these changes.

**Secondly,** import `GetServerSideProps` type from Next and add this as the return type for `harnessServerProps`.

#### Needs Investigation

The latest Next documenta

[2020-03-11 08:29] flybayer opened #62 "Investigate demo bug when running in Edge"
A friend of mine reported this issue with the `first-demo` example running in Edge. It's very surpising, so it could be an environment issue on his end — I'm not sure.

- Test http://first-demo.blitzjs.com/ in Edge and see if you can reproduce this issue
- If yes, then see if you can reproduce by running the example from this repo in local development mode.

![image.png](https://images.zenhubuserc

[2020-03-11 08:43] flybayer opened #63 "Add Form.post, Form.patch, Form.delete"
Currently, Blitz provides a `Form` component that automatically does the proper fetch request.

For users who don't want to use the Form component and would rather make the request imperatively, we need to add `post`, `patch`, and `delete` as methods on the component. Then the user can use their own form stuff with an onSubmit hook that calls the Blitz `Form.[METHOD]` function.

Existing component

[2020-03-11 14:45] #60 closed

[2020-03-11 14:56] #53 closed

[2020-03-13 10:31] cr101 commented on #34
Also consider that URLs opening with both slash & without slash create duplicate content issue in Google - https://support.google.com/webmasters/thread/6407607?hl=en

`/posts/100` and `/posts/100/` are treated as two separate pages by the Google bot

[2020-03-13 10:36] cr101 commented on #34
Next.js 9.3 handles 404s for non-existent routes - https://nextjs.org/blog/next-9-3#automatic-static-optimization-for-404

[2020-03-20 08:45] #48 closed

[2020-03-22 22:34] ryardley opened #70 ""ENAMETOOLONG" bug in CI"
Currently there is a bug with compilation script working on CI.

CI passed within the PR but failed on canary and the error does not occur locally.

At a guess it could be an OS compatibility or possibly a resource issue so it may take some investigation.

[code]

[2020-03-24 05:57] #70 closed

[2020-03-26 13:55] danawoodman opened #72 "Demo application page transitions very slow"
Just pointing out something I noticed when using the demo application: it seems page transitions are very slow. On average I'm seeing 300ms-1.5sec on a 50mbps connection.

Curious if this is expected because of the Now serverless functions being by nature slow or something else?

![](https://p198.p4.n0.cdn.getcloudapp.com/items/E0uqNPo6/Screen%20Shot%202020-03-26%20at%2010.53.36.png?v=1136409d74ba

[2020-03-26 14:11] flybayer commented on #72
Hey, thanks for your interest! Yeah, that demo is not optimized and was extremely prototype code! :) But I think the main issue here is pages aren't being prefetched and the DB is in America.

We're currently deep in architecture design. The current design is way better than the initial demo!

[2020-03-26 14:11] #72 closed

[2020-04-02 15:09] #58 closed

[2020-04-02 15:10] #63 closed

[2020-04-02 15:10] #61 closed

[2020-04-02 15:10] #34 closed

[2020-04-02 15:14] #62 closed

[2020-04-02 16:44] rishabhpoddar commented on #63
One point to keep in mind for automatic form submissions is to have CSRF protection. We are planning on storing the anti-CSRF token in the localstorage, so any automatic form submission should read from that before and then pass that as a header to the backend API.

[2020-04-03 08:40] merelinguist commented on #55
@ryardley Could you give an example of what a duplicate page looks like?

[2020-04-03 08:43] ryardley commented on #55
When two pages get compiled to a single page output the synchronizer should whinge instead of silently clobber.

The following should raise an Error:

[code]

[2020-04-05 08:18] Johnson444 opened #84 "[ENHANCEMENT] Allow easy swapping of Prisma with different db client"
Hi,

nice project!

It would be cool to have an option to swap Prisma with a different db client.

Cheers!

[2020-04-05 10:54] flybayer commented on #84
Hey, thanks!

Yes we'll support using any db client! This is totally part of the plan :)

[2020-04-05 10:54] #84 closed

[2020-04-06 11:27] #20 closed

[2020-04-06 15:24] flybayer opened #85 "RPC Specification"
This issue is for defining the RPC specification used for Blitz queries and mutations. Each query and mutation can be used by third parties, so the specification must be clear and documented publicly.

**This initial specification is my first pass. I haven't thought real deeply about this, so please help me refine it!**

- [x] Define the specification
- [ ] Implement versioning (#98)
- [x] Add com

[2020-04-06 15:27] merelinguist commented on #85
@flybayer Do you want error to be an object or array? Just thinking that e.g. for validation errors, there may be multiple problems to report.

[2020-04-06 15:30] flybayer commented on #85
@merelinguist I think the top level error field should be an object. Then we can have sub fields that are arrays.

I'm headed to bed for the night, but tomorrow I plan to create the other issue on error handling. I'll think about this more then :)

[2020-04-07 02:26] camilo86 commented on #85
In case of form validation, maybe the error object should contain an inner object with detail errors about each field:
[code]

Or would something like this follow under the developer's responsibility to do on their own?

[2020-04-07 07:58] merelinguist commented on #85
I’d expect it to look a bit more like:

[code]

[2020-04-07 08:27] flybayer commented on #85
Let’s discuss the actual error format in the separate issue on error handing. I’m working on it at the moment and will link here when I’m finished.

For the purposes of this specification, error should be an object for maximum flexibility. But the spec shouldn’t dictate anything beyond that.

[2020-04-07 12:27] flybayer opened #87 "Query & Mutation Error Handling"
This issue is for designing how error handling works for queries & mutation execution. Related #85

**Please provide any feedback you have or if you have a suggestion for how this can be better!**

## Goals

- Always handle errors the same way, regardless if function is called directly or via RPC
- Support all possible error types:
	- Native JS errors like TypeError, SyntaxError, etc.
	- Custom er

[2020-04-07 12:28] flybayer commented on #85
I just created the issue on error handling! #87

[2020-04-07 12:39] flybayer commented on #85
@ryardley what do you think of this?

[2020-04-07 14:11] flybayer commented on #87
Currently prisma client has pretty abysmal error handling (all errors have the name of 'Error'). But I opened a feature request for adding prisma specific errors.

https://github.com/prisma/prisma/issues/2122

[2020-04-07 14:44] flybayer opened #88 "Client RPC Transformation"
I'm sure there are many ways we could do this, but here's what I'm thinking:

### Overview

Essentially, every usage of a query or mutation inside a React component anywhere in the project should be replaced with a fetch call.

- Blitz exports an RPC client
- During build time, the direct query/mutation call is replaced with a call to the rpc client.

App code:
[code]

Built code:
[code]

But quer

[2020-04-07 22:04] ryardley commented on #88
I think it might be easiest to look for usage of useQuery and then work back using references. That way we shouldn't need a manifest. The rpc module should know how to find the correct endpoint. It should only need the import path and possibly the named export if we want to allow named exports.

[2020-04-07 22:36] ryardley commented on #85
Looks good. I guess one concern I see here would be how do we handle security concerns such as  CSRF and client authentication in the context of this?

[2020-04-08 02:19] flybayer commented on #85
@ryardley yeah, I think all of those will be handled via cookies and headers, not  in the actual JSON body.

[2020-04-08 02:22] flybayer commented on #88
We can't rely on useQuery usage, because you should be able to manually use queries and mutations without useQuery. useQuery is only there as a declarative hook interface.

[2020-04-08 03:11] ryardley commented on #88
Hmm ok. A couple of questions. How do we warm the lambda for a mutation or query if all we are doing is importing it and running it in a callback? Seems to me currently useQuery is acting mainly as a proxy for React query query caching. What about return values from mutations? Surely they need to invalidate the cache key?  Could accessing mutations somehow through a hook solve that problem as you

[2020-04-08 05:05] flybayer commented on #88
#### Warming the Lambda

Oops, I forgot this! We can do that like shown below.

App code:
[code]

Built code:
[code]

#### Query cache invalidation

Great point. This needs more attention. I'll open another issue on `useQuery`, mutations, and cache invalidation.

Once we figure that out, then we can come back here and figure out the best way to handle it under the hood.

#### Babel transform?

I'm

[2020-04-08 11:49] flybayer opened #89 "Define Query & Mutation Usage (useQuery, cache invalidation, etc.)"
We need to define exactly how queries and mutations are used in Blitz app code.

- [x] Decide whether to go all in on Suspense (yes)
- [x] SSR usage (must go through middleware)
- [ ] Intelligent cache invalidation

### Requirements

- Using a query/mutation in server code (like `getStaticProps`) should directly use the query/mutation. It should not make an RPC call to another lambda
- Using a que

[2020-04-08 11:52] flybayer commented on #88
Alright, here's the issue on query/mutation usage: https://github.com/blitz-js/blitz/issues/89

[2020-04-09 00:16] cr101 commented on #89
Does that mean there will be no option to cache queries on the server-side? We need data caching and SSR Suspense for our web app.

React Suspense with [react-cache](https://github.com/facebook/react/blob/master/packages/react-cache/src/ReactCache.js) is also an option in the future -  https://hackernoon.com/magic-of-react-suspense-with-concurrent-react-and-react-lazy-api-e32dc5f30ed1

[2020-04-09 02:55] flybayer commented on #89
@cr101 good question.

What type of caching do you need on the server? And do you need this for serverful or serverless deployment?

Blitz will definitely support SSR suspense — as soon as Next.js does, which I expect to be at or soon after the production release.

[2020-04-09 04:10] ryardley commented on #89
I would imagine that might be a good candidate for an optional middleware?

[2020-04-09 05:41] ryardley commented on #89
On the surface `react-async-ssr` looks really nice! I am not sure without working through the details as to how much easier that would be to hook up with Next.js as opposed to doing a standard SSR query preload as whilst I would have to look at it to be sure, I am not sure we can easily override the actual renderToString routine to replace it with the async version. So far what I have managed to d

[2020-04-09 11:12] flybayer commented on #88
@ryardley what are you thinking by now on how to approach this?

[2020-04-09 12:15] ryardley commented on #89
As far as this API is concerned this client-side cache invalidation stuff is getting complex and I feel like we are straying away from the core premise of blitz that you should never need to worry about data fetching. I am wondering if we could merge queries into a resource if we could get more automatic mileage in terms of cache invalidation after mutations as you could configure this is a resour

[2020-04-09 12:42] ryardley commented on #88
I think as far as this transformation task is concerned I think your idea to transform every import to be a call to rpc with the absolute import path is a good one. It might make for babel transform complexities though this could be mitigated during query compilation. I can see advantages to the idea around simply swapping out the path universally but then calling the result as a function in place

[2020-04-09 13:27] flybayer commented on #89
Invalidating cache on route transitions is quite simple, yeah? And instead of requiring an opt-in, we could automatically invalidate cache on route transitions and then have an option to opt out.

`refetch` and `mutate` are for advanced cases.

Unless we enforce 100% SSR, then there's no way to get around client side cache. So the best we can do is make the common case extremely simple. I think a

[2020-04-09 13:30] flybayer commented on #88
Yeah, that looks promising! I've never actually written a babel transformation, so I trust your judgement on this!

[2020-04-10 00:44] ryardley commented on #89
Ok but we are not clearing the cache just invalidating it so things get refetched via ReactQuery after interaction. This could be a leaky abstraction if application developers don't change page routes after mutations. Think edit in place fields. Spreadsheets. Drag and drop interfaces. Not every app has a save button. I think we need to link interactions to inform the way the cache works by default

[2020-04-10 06:57] flybayer commented on #89
I'll think more about the cache stuff and report back later.

I realized something I overlooked: applying middleware in `getServerSideProps`. Middleware can't be used in `getStaticProps` because that is at build time without a request, but gSSP has req & res.

Here's what I'm thinking. Thoughts?

[code]

Alternately, we could use a babel transform to add the req and res objects to the ssrQuery cal

[2020-04-10 07:30] flybayer commented on #88
I had a realization: Next does two builds: server bundle and client bundle. So I think we only have to solve each separately. We don't have to solve both at once.

Therefore I think we can do this without any transform at all.

**Server bundle**

- Leave the original code as is. No changes

**Client bundle**

- Next removes gSSP from this build, so it's irrelevant.
- We use webpack to alias query

[2020-04-10 08:17] ryardley commented on #88
Interesting hack. Really like the idea to just use a webpack alias. I was thinking about that but wrote it off as it might fire off all lambdas on initial page load. However now you bring it up I realise I forgot about code splitting which might save us as only lambdas first defined in the page will be warmed on initial page load and the rest as soon as each subsequent code splitting bundle is loa

[2020-04-10 08:27] flybayer commented on #88
Let's just do one initial warm for now and see how it goes. It's impossible to guarantee you won't hit a cold lambda. Best we can do is minimize it to some extent. I think cold starts will be most noticeable for very low traffic apps where there's only 1 person using the app at a time. In this case, warming, at initial load, the lambdas that are likely to be used next will help to some extent.

[2020-04-11 03:48] flybayer opened #91 "Blitz start is broken"
## Problem

1. Checkout canary branch
2. yarn install and yarn build
3. cd examples/vanilla-next
4. yarn start

You get the following error:

[code]

[2020-04-11 03:52] flybayer commented on #91
I commented out the code in `packages/server/register/index.js`, but then I get the following issue:

[code]

[2020-04-11 04:03] flybayer commented on #91
So the recursive .blitz/caches/dev/.blitz/caches/dev only happens if the .blitz already exists from a previous blitz start.

[2020-04-11 06:26] flybayer opened #93 "Server Bugs Tracking Issue"
As I'm working on coding up the new architecture, I'm discovering a bunch of issues with our server package. So I'm listing them here instead of creating a bunch of independant issues.

- [x] Recursive path issue `.blitz/caches/dev/.blitz/caches/dev`
- [x] Bunch of `UnhandledPromiseRejectionWarning` errors
- [x] Rarely detects file changes. When it does, it's quite slow to detect and recompile
- [

[2020-04-11 06:37] ryardley commented on #91
There are two bugs here. #92 solves one of them. Investigating the other probably has to do with ignore patterns.

[2020-04-11 06:58] ryardley commented on #91
#94 Should fix the rest

[2020-04-11 07:05] ryardley commented on #93
Have a look after the fixes I just did. Chokidar would have been stuck in an infinite loop because of the server path which would account for at least some of those issues. It's also important to build the server package or run root `yarn dev` in the background.

[2020-04-11 07:10] ryardley commented on #93
Just checked off the things I think may be solved or possibly not quite clear.

[2020-04-11 07:17] #91 closed

[2020-04-11 07:25] flybayer commented on #93
@ryardley sweet, much better now!

I just added a new one: `app/pages` doesn't get copied to the built pages directory. Nested ones get copied, but not the first level inside app.

[2020-04-11 07:37] ryardley commented on #93
Yes that was by design. I think having a context was assumed but we can change that.

[2020-04-11 07:37] flybayer commented on #93
Ok, yeah let's change that

[2020-04-12 02:56] flybayer commented on #93
I added a new bug: `blitz build` and `blitz start -p` both fail

[code]

Also, I changed the server to use routes instead of pages (in my new arch PR)

[2020-04-12 03:22] ryardley commented on #93
Would it help to put these in separate issues? I can't reproduce the build an start issue.

[2020-04-13 06:00] ryardley opened #97 "Add e2e tests for Blitz examples"
We should have a way to test our example apps in as a real world way as possible.

Create a testing system to run tests against our example apps.

Ideally the tests should be able to test a developer running cli commands and then investigating the results through the cli output or the e2e browser.

[2020-04-13 06:55] flybayer commented on #88
Closed by #95

[2020-04-13 06:55] #88 closed

[2020-04-13 07:01] flybayer opened #98 "Implement RPC versioning"
- [ ] Implement RPC versioning as described in https://github.com/blitz-js/blitz/issues/85

[2020-04-13 07:03] flybayer opened #99 "Add comprehensive tests to RPC module"
- [ ] Add tests for `packages/core/rpc.ts` and ``packages/server/rpc.ts` to ensure it follows the specs defined in #85

[2020-04-13 07:20] flybayer opened #100 "Can't use Formik in Blitz app"
Trying to use Formik in the store example results in
[code]

We need to figure out what is happening here.

[2020-04-13 07:21] flybayer commented on #93
I opened #100 for the formik issue

[2020-04-13 07:21] #93 closed

[2020-04-13 07:23] flybayer opened #101 "Yarn link for Blitz CLI is failing on db migrate"
1. `cd packages/cli`
2. `yarn link`
3. `cd ../../examples/store`
4. `blitz db migrate`

Fails with:
[code]

[2020-04-13 07:27] sijad commented on #100
can you please share your example?

[2020-04-13 07:29] flybayer commented on #100
I don't have code for this at the moment. But if you want, you can check out latest canary, and add formik to the store example to see this. Let me know if you need help

[2020-04-13 07:31] ryardley commented on #100
I’ll have a check once back from my walk but have you checked we don’t have multiple versions of React?

[2020-04-13 07:33] flybayer opened #102 "Update blitz new app template for new architecture"
We need to update `packages/cli/template/app` for the new architecture.

- [x] Convert to Typescript
- [x] Use the store example as basis for template files (like package.json, tsconfig.json, prisma/index.ts, etc.)
- [x] Add default directories and files as defined in https://github.com/blitz-js/blitz/pull/74
- [x] Empty directories should have a '.gitkeep' file so they are checked into git (git d

[2020-04-13 07:40] flybayer opened #103 "Clean up build error for `blitz start --production`"
1. Change a typescript file to have a TS error, like missing variable or something
2. Run `yarn blitz start -p`
3. The build fails and prints the right error, but it also prints a bunch of garbage that needs to be cleaned up.

[code]

Here's everything that needs removed from the end:
[code]

The correct output should be:

[code]

[2020-04-13 07:47] flybayer opened #104 "Don't run the lambda warming code if not serverless"
Currently the query/mutation lambdas are always being sent a HEAD request on page load to warm the lambda.

- [ ] We need to automatically detect if running as a traditional server, in which case don't make the HEAD call
- [ ] Open question: should we make the HEAD calls in development? If I'm deploying serverless, then I'd like to see the HEAD calls in development. But if not, I don't want to see

[2020-04-13 07:59] sijad commented on #100
I couldn't reproduce this issue with store example

[2020-04-13 08:04] flybayer commented on #100
Weird! Some of the later work in the arch PR must have fixed whatever was the issue. I just verified that I can't reproduce either.

I appreciate you looking into it, but sorry for the wild goose choose!

[2020-04-13 08:04] #100 closed

[2020-04-13 08:25] sijad commented on #89
as blitz does not support graphql it would become out of hand to define and maintaining   queries and their types in large project.
would be nice if blitz could auto generate queries using prisma somehow, something like https://gqless.dev

[2020-04-13 08:34] flybayer commented on #89
The `blitz generate` cli command will generate queries and mutations for you. From then on you only need to customize if needed. If this still doesn't provide good enough DX, then we can explore more things.

[2020-04-13 08:45] ryardley commented on #101
I am struggling to reproduce this:
* `git clone git@github.com:blitz-js/blitz.git`
* `yarn`
* `yarn build`
* `cd examples/store`
* `yarn blitz db migrate`
* `yarn blitz start`

All works fine on canary. After if I try to link I get this:

[code]

Which seems legit.

I have seen this before at some point though. Possibly cleaning out node_modules fixes it?

[2020-04-13 08:46] ryardley commented on #59
Gonna have a look at this tonight.

[2020-04-13 08:50] flybayer commented on #101
- lerna never auto linked the cli package for me
- `yarn blitz db migrate` works fine. `blitz db migrate` doesn't

[2020-04-13 08:56] ryardley commented on #101
Ok I can reproduce. This is when blitz is installed I suspect by `pkg` after running `yarn build` at the root.

[code]

[code]

[2020-04-13 09:11] merelinguist commented on #101
Having this error too.

[2020-04-13 09:24] ryardley commented on #101
So upon investigation I suspect the issue is that we need to keep the version within the example in sync with lerna or it's dependencies will not install correctly.

[2020-04-13 09:24] ryardley commented on #101
Will try to PR soon

[2020-04-13 13:30] flybayer opened #107 "Change blitz server to support `pages` and `api` as siblings instead of nested"
We just updated the file structure RFC to switch from `routes` and `routes/api` to `pages` and `api`: https://github.com/blitz-js/blitz/pull/74

- The server already supports the `pages` directory
- [ ] `api` directory at top level or nested anywhere inside `app/` should be moved to `pages/api` inside the blitz build directory.
- [x] Presence of `pages/api/` should error.

[2020-04-13 17:15] wKovacs64 opened #108 "[cli] db and test commands don't work on Windows"
yarn blitz db migrate

[code]

yarn blitz test

[code]

(Side note: `test` tried to run `npm` instead of `yarn`, but that's another issue.)

PR incoming.

[2020-04-13 18:13] merelinguist commented on #85
Love the sound of the versioning, by the way!

[2020-04-13 19:08] merelinguist commented on #103
@camilo86 I haven’t fixed this yet but if you’re working on it the problem is in `prod.ts`:

[code]

`await build(config)` gives the first (wanted) part of the error, and `await nextStart(nextBin, rootFolder)` gives the unwanted part.

If the file looked like this:

[code]

It would gives us the ouput we want.

To fix, you’ll have to find some way to only run `nextStart` if `build` succeeds. Good

[2020-04-13 19:17] ryardley commented on #103
I think we would probably want to have our own special error handler that reformats errors when they arise. I wonder if at a later point some of the invariant work you were doing @merelinguist could be refactored so that it caught specific errors and displayed them nicely? That could be a better way to design this sort of code.

[code]

[2020-04-13 19:28] merelinguist commented on #103
@ryardley Blitz relies on a lot of external packages that use clis (`prisma`, `next`) which will probably lead to a bit of an inconsistent experience. I think as a rule we should aim to do as much of the actual logging of information / errors ourselves. I’m going to write up a pr (or at least a design issue) soon implementing some kind of standardised way for us to print stuff.

[2020-04-13 21:18] cr101 commented on #89
Will it be possible to query the database using raw queries via [prisma.raw()](url)?

[2020-04-14 03:05] ryardley commented on #103
This is going to be difficult as stderr is not always for errors and we don't have insight into the child processes we run unless it is something designed to be serializable like webpack. Ideally we would import a programmatic node interface and run it in our own childprocess and handle the errors ourselves. Perhaps next exposes that capability somewhere?

[2020-04-14 03:53] camilo86 commented on #103
@ryardley  So far, from investigating the issue; seems like `build(config)` fails without throwing any errors causing `nextStart(nextBin, rootFolder)` to get executed.

I did get `build(config)` to throw errors when the process fails by checking the status code of the spawn process:

[code]

Now, the solution above only lets us know if the process finished successfully/failed and does not provide

[2020-04-14 04:03] #101 closed

[2020-04-14 04:21] #108 closed

[2020-04-14 05:25] flybayer commented on #103
Hmmm, how long until we fork Next.js? 🤔🙂

I totally agree about wanting to have more control over the error display for a more consistent experience. I'm excited to see y'all working on this.

I think we probably can start Next programmatically without forking. Basically implement the following in our own code:
- [packages/next/cli/next-dev.ts](https://github.com/zeit/next.js/blob/b88f20c90bf4659b

[2020-04-14 05:43] #55 closed

[2020-04-14 05:49] flybayer commented on #89
@cr101, yes you bet! You have full access to prisma. The only thing we are planning to do for now is wrap the prisma CLI like `blitz db migrate`. But in your code, you import prisma directly.

[2020-04-14 07:17] flybayer commented on #103
We could also do the same for Prisma — import and use node functions instead of spawning the CLI. If it makes sense to.

https://github.com/prisma/prisma/blob/master/cli/prisma2/src/bin.ts

[2020-04-14 07:28] merelinguist commented on #107
“Presence of pages/api/ should error.” fixed by #106

[2020-04-14 07:38] flybayer opened #113 "Add helpful and pretty logging for RPC calls"
- We want to log RPC events to give Blitz developers insight into the system and for troubleshooting.
- Logs should be helpful. I.e. only log helpful things and no more
- Logs should be beautiful
- Logs should use color unless `NODE_ENV = 'production'`

Things I think we should log at a minimum:
- [ ] Query/mutation name
- [ ] Timestamp
- [ ] Duration
- [ ] Input parameters
- [ ] Output, whether s

[2020-04-14 07:49] tsawan commented on #113
I read logging code in rpc.ts eariler. No plan to use a logging library like winston https://github.com/winstonjs/winston?

[2020-04-14 07:56] flybayer commented on #113
@tsawan Good point, I think we should use a logging library. I don't have opinion on which one.

[2020-04-14 07:58] flybayer commented on #113
Using a logging library is related to @merelinguist's work on pretty logging

[2020-04-14 08:18] tsawan commented on #113
just checked and winston has very good support for colors (linked with log-levels).
@merelinguist can you please check if it will fit our needs?

[2020-04-14 09:53] merelinguist commented on #113
@flybayer @tsawan Will look into third party logging solutions when I do the cli stuff.

[2020-04-14 10:13] merelinguist opened #116 "Command blitz console broken"
`yarn blitz console` gives:

[code]

[2020-04-14 10:18] flybayer commented on #116
@quirk0o do you want to look into this? We're at a point now where I think we can make the console command actually work nice since we know our app structure and code.

[2020-04-14 11:46] flybayer commented on #103
A related problem we have right now is that blitz commands are returning status 0 even when spawned processes return 1

[2020-04-14 14:23] flybayer commented on #40
Ok @marcoseoane! Here's the details for the generate command. For now it's only one generator command.

Are you able to work on this soon? If not, we can label "help wanted" until someone else (or you) is able to do it.

---

Goal: a single command to generate **working** crud code for a model. Then you can customize from there. At some point we'll add ability to define the templates inside a blit

[2020-04-14 14:23] flybayer commented on #27
Related #116

[2020-04-14 14:27] marcoseoane commented on #40
Hey! Yeah sure I'll get to work on having this completed for this week thurs/fri?, by all means put up a help wanted in case theres an extra eager contributor laying in wait for a ticket :)

[2020-04-14 14:30] flybayer commented on #40
Ok sounds great!!

[2020-04-14 16:13] wKovacs64 opened #119 "[cli] can't build/test @blitzjs/cli on Windows"
[code]

Fix incoming.

[2020-04-14 16:33] silversoftwerks opened #121 "Document needed dependency on Ubuntu in WSL"
When running yarn I get this error:

`user@XPS:/mnt/c/Users/username/code/blitz/examples/store$ yarn
yarn install v1.19.1
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
info fsevents@1.2.12: The platform "linux" is incompatible with this module.
info "fsevents@1.2.12" is an optional dependency and failed compatibility check. Excluding it from installation.

[2020-04-15 02:37] #119 closed

[2020-04-15 02:58] ryardley commented on #59
Started working on this and got distracted as I noticed a few simpler and modular ways we can implement the synchroniser. Will throw up a hack for this tomorrow so it works and refactor the synchroniser later.

[2020-04-15 03:09] flybayer commented on #121
@silversoftwerks yeah we should document that in CONTRIBUTING.md!

Do you want to submit a PR for that?

[2020-04-15 03:10] flybayer commented on #59
Ok sounds good! @ryardley

[2020-04-15 03:21] silversoftwerks commented on #121
Yeah but I think I may have just followed directions incorrectly. I figured having the solution in the issues should be enough if anyone runs into it. But, should I also add it just in case others run into it?

[2020-04-15 04:18] flybayer commented on #121
Ok, yeah we should still add it to contributing.md. Maybe add a Troubleshooting section, and under that have a Windows section where you can document this.

[2020-04-15 08:04] #102 closed

[2020-04-15 08:53] Zeko369 commented on #104
I'd like to work on this

[2020-04-15 08:55] Zeko369 commented on #104
I'd like to work on this. We could maybe detect this by finding `firebase.json`, `serverless.yml`, `now.json`?, or just have user add a config flag?

[2020-04-15 08:58] Zeko369 commented on #97
I'd like to do this. Maybe we should also think about adding cyperss and/or jest to our generated app by default?

[2020-04-15 09:15] flybayer commented on #104
@Zeko369 ok cool!

So if the app is started with `blitz start --production`, we know it is **not** serverless. Serverless only uses `blitz build`.

The above works for production, but in development we have to guess. Checking for `now.json` could work, but you don't have to have to for deploying to Zeit. I'm fine to just always run the HEAD call in development for now. Deal with this optimization

[2020-04-15 09:17] flybayer commented on #97
@Zeko369 yeah for sure! We need someone to set up a really nice out-of-the-box testing experience for blitz apps.

[2020-04-15 09:21] Zeko369 commented on #97
I'll add cyperss to current apps and then we discuss adding it to the template

[2020-04-15 09:28] flybayer commented on #97
@Zeko369 ok sounds like a plan

[2020-04-15 09:39] flybayer opened #126 "[Help Wanted!] Make CLI work from the `blitz` package and with npx"
We need the following:

- [x] Be able to install the blitz cli globally with yarn/npm from the `blitz` package instead of `@blitzjs/cli`
- [x] `npx blitz --help` to work
- [x] The globally installed binary delegates to the locally installed version in the app. So `blitz start` in an app will use the blitz version in package.json.

This is needed for our imminent alpha release, so I'd love if someo

[2020-04-15 09:51] flybayer opened #127 "Fix CLI test failure — always fails on first test run"
The cli tests are always failing on the first test run.

**To reproduce:**

1. Checkout canary
2. `git clean -xfd`
3. `yarn`
4. `yarn test` <-- succeeded
5. `git clean -xfd packages`
6. `yarn`
7. `yarn test` <-- failed

[code]

[2020-04-15 09:57] flybayer commented on #126
This is one approach: https://github.com/sindresorhus/import-local

[2020-04-15 14:12] flybayer commented on #126
Update: I had to back out the `blitz` package from canary branch because of some blocking issues.

I've reopened a PR adding the blitz package: https://github.com/blitz-js/blitz/pull/128

It has a couple issues that I'm stumped on at the moment.

[2020-04-16 09:44] flybayer commented on #40
So I'd also like to add an optional `--parent MODEL` argument:

[code]

Would generate the following:

[code]

Building all of this is a lot of work, so feel free to split them up into different PRs. For example, the first PR could support generating queries/mutations, but not not the pages.

[2020-04-16 12:08] flybayer commented on #59
Closed in #130

[2020-04-16 12:08] #59 closed

[2020-04-16 12:17] flybayer opened #132 "Add CLI e2e tests"
Currently the only tests for the blitz cli are unit tests. We need to add e2e tests for all the commands to ensure they actually work properly.

You are welcome to submit a PR to add e2e tests to just one command. Don't feel like your PR has to be all or nothing :)

[2020-04-17 08:27] flybayer opened #135 "Add help information to `blitz db` command"
Currently `blitz db` and `blitz db -h` both print an error about an unsupported command.

Both of these should print a list of supported commands.

The alpha user guide lists the supported `blitz db` commands: https://github.com/blitz-js/blitz/blob/flybayer-patch-1/USER_GUIDE.md#blitz-cli-commands

[2020-04-17 09:35] sijad commented on #135
can I take this?

[2020-04-17 09:46] flybayer commented on #135
@sijad You bet!

[2020-04-18 03:21] #135 closed

[2020-04-19 01:23] ryardley commented on #132
Perhaps this can be related to https://github.com/blitz-js/blitz/issues ? I think it would be nice if we can somehow coordinate these.

[2020-04-19 05:12] flybayer commented on #40
Hey @marcoseoane, could you share a quick status update on this and if you've started or not?

[2020-04-19 05:46] flybayer commented on #113
Hey @merelinguist, could you provide a brief update on if you've started on more CLI logging stuff and when you think you might start/finish?

[2020-04-19 05:46] flybayer commented on #104
Hey @Zeko369 could you provide a status update on where you're at with this?

[2020-04-19 06:04] #103 closed

[2020-04-19 06:06] sijad commented on #104
I can take this if you want

[2020-04-19 06:07] flybayer opened #145 "Automatically run `blitz db migrate` on every `blitz start`"
- [x] `blitz start` should automatically run `blitz db migrate`
- [x] `blitz start` should have a flag, `--no-migrate` that disables this
- [x] `blitz start --production` should **not** automatically run db migrate

[2020-04-19 06:08] flybayer commented on #104
Cool, let's see what @Zeko369 says

[2020-04-19 07:22] Zeko369 commented on #104
I'll have a PR up today, I can ping you both to review it if you'd like

[2020-04-19 07:32] flybayer commented on #104
@Zeko369 ok perfect!

[2020-04-19 18:56] merelinguist commented on #113
@flybayer Working on this. I want to create some docs about how we should do logging, so expect a pr for that soon (tomorrow I hope).

[2020-04-20 01:12] hew opened #148 "Blitz start fails in real app because can't find @blitzjs/server/register"
I tried to run the store example just now, but I'm getting an error that `@blitzjs/server/register` is not available. I looked at the latest NPM versions of the `@blitzjs/server` package, and it doesn't look like any of the canary versions published have the `register` folder.

So we might just need to push a new release for the server package?

[2020-04-20 02:11] flybayer commented on #40
We need this for the alpha release, so if noone else can get to this within the next day or two, I'll do it.

[2020-04-20 02:16] flybayer commented on #148
Hey thanks! Two things: npm packages are still wip. But there is also a separate issue with this register thing not being required properly.

[2020-04-20 03:10] flybayer commented on #145
Closed by #147

[2020-04-20 03:10] #145 closed

[2020-04-20 05:18] #126 closed

[2020-04-20 07:04] flybayer opened #149 "Unsupported blitz command prints error instead of help message"
The below should print the blitz help information, saying that this command is not supported.

[code]

[2020-04-20 07:12] flybayer commented on #148
Fixed in https://github.com/blitz-js/blitz/commit/45a09911a4cf5810e57cb451a3f9b25b7f796a2c

[2020-04-20 07:12] #148 closed

[2020-04-20 14:47] aem commented on #40
Talked with @flybayer in Slack, I'm going to pick up the generator this week. Should be manageable given the existing scaffolding for `new` to leverage the existing infrastructure to implement the rest of `generate`

[2020-04-20 14:52] aem commented on #40
Is the terminology `crud` set in stone. How would we feel about a novel term that's specific to Blitz. Maybe a "resource" - e.g. allowing us to talk about this set of files/components like this:

It has the benefit of our CLI reading slightly more like English - `blitz generate resource task`

[2020-04-20 15:12] merelinguist commented on #113
Whoever wants to work on this should refer to this new logging file:

https://github.com/blitz-js/blitz/blob/456d3e88d5b7ddc7a03970d16883e999fda1d1dc/packages/server/src/log.ts

[2020-04-20 16:18] flybayer commented on #40
That's a good question.

So here's the main generation use cases I expect:

- Generates only the schema definition (like `blitz generate model User name:string`)
- Generates only queries/mutations
- Generates only pages and/or components
- Generates everything

We should probably go ahead and figure out what the naming will be for all of these.

I'll think about this and circle back tomorrow.

[2020-04-20 19:06] hew opened #157 "Command `blitz generate` does not exist on canary."
Following the instructions in [this document](https://github.com/blitz-js/blitz/blob/canary/USER_GUIDE.md), the user is met with an error when attempting to run the 'blitz generate` command.

It does not exist as a CLI command.

I tried installing `@blitzjs/cli@latest` and  `@blitzjs/cli@canary` but it's not present on either tag.

[2020-04-21 01:15] Zeko369 commented on #104
I had some stuff at work in the meantime, but the PR is up, so you can check it out @flybayer @sijad

[2020-04-21 02:47] flybayer opened #160 "Support vanilla Javascript for the blitz new template"
You can use vanilla JS right now in a Blitz app by creating new files in JS or converting the existing files to JS.

However, currently blitz new generates all Typescript files. We need to add a prompt during blitz new for selecting Typescript or plain Javascript.

The main unknown on implementing this is how to minimize code duplication for template files. Can we write all templates in TS and the

[2020-04-21 02:56] flybayer opened #161 "Support other ESLint configs for blitz new template"
Currently blitz new generates an app with the create-react-app ESLint config.

The community is divided enough over their preferred eslint config that I think we should support a few other ones and then prompt the user to choose during blitz new generation.

Other configs to support:

- Standard.js

If you want something besides CRA eslint or Standard.js, comment here. We can't support every varia

[2020-04-21 03:51] flybayer commented on #157
Yeah, this is still being worked on! 😅 #40

[2020-04-21 05:23] flybayer commented on #127
This might be the fix: https://jestjs.io/docs/en/troubleshooting#unresolved-promises

[2020-04-21 06:45] flybayer opened #166 "Improve dependency versioning of the blitz new template"
**What do you want and why do you want it?.**
Currently most of the dependency versions in the `blitz new` template are defined as `latest`. This is not ideal.

It's much better for versions to be explicitly defined to prevent unintended dependency version changes. Unknown dependency version changes are a common source of bugs.

Currently the template is using `latest` to ensure the new app always

[2020-04-21 07:21] ryardley opened #167 "Getting a revalidate error in the store example."
**What is the problem?**

Getting a revalidate error in the store example. Looks like we need to use the unstable_revalidate method

**Steps to Reproduce:**

1. Checkout canary
2. `cd ./examples/store`
3. Run the store example: `. ./.env && y blitz db migrate && y blitz start`
4. Head to http://localhost:3000/products
5. Notice error:
[code]

http://localhost:3000/products

**Versions:**
 - Blitz:

[2020-04-21 07:29] flybayer commented on #107
@ryardley where in the server code do we need to make the change for this? We need this for the alpha

[2020-04-21 07:34] #167 closed

[2020-04-21 08:10] ryardley opened #169 "Add section to contributor guide about setting the yarn policy"
**EDIT:** See [this comment below](https://github.com/blitz-js/blitz/issues/169#issuecomment-617051503) on what to document.
---

**What is the problem?**

Cannot add dependencies to packages

**Steps to Reproduce:**

1. Pull canary
1. `yarn`
2. `cd ./examples/server`
3. `yarn add --dev metro-memory-fs`
4. Get Yarn error:

[code]

**Versions:**
 - Blitz: 0.5.0-canary.1
 - OS: macOS

Suspect it has

[2020-04-21 08:11] flybayer commented on #169
I have seen this too. Re-running `yarn` at the root fixed it for me.

Not sure what the fix is though 🤔

[2020-04-21 08:22] #149 closed

[2020-04-21 08:43] ryardley commented on #169
Unfortunately that doesn't seem to help. 🤔

[2020-04-21 08:46] flybayer commented on #169
Oh wait, this is an issue with yarn >1.19.1.

You have to run `yarn policies set-version 1.19.1` at the root 🤦  Yarn is such a bummer these days

[2020-04-21 08:47] ryardley commented on #169
Ahhh ok that crap again. Must have reverted somehow.

[2020-04-21 09:01] flybayer commented on #169
We need to add a section to the contributor guide that, after cloning, you need to run `yarn policies set-version 1.19.1`

Also add to the troubleshooting section about what to do if you get this error:
[code]

[2020-04-21 13:38] aem opened #173 "CLI doesn't handle typos gracefully"
#153 prompted a thought about how we could better support users who mistype commands. Currently we just display an error message and a list of all possible commands. I posed the following thought:

[code]

@flybayer proposed an additional nice functionality might even be to prompt the user directly, to avoid having to invoke the CLI again. This has the added benefit of not needing to persist infor

[2020-04-21 13:40] flybayer commented on #173
Guess what.. oclif already has this. It was just broken. Upgrading oclif fixed it. Here's what we get now:

[code]

[2020-04-21 13:42] aem commented on #173
Oh even better. I thought that comment was just referring to the help text! I'll go ahead and close this then

[2020-04-21 13:42] #173 closed

[2020-04-21 13:47] ryardley commented on #107
@flybayer This isn’t done yet as far as I know. I was hoping to put it in the refactor which aught to be ready ready for testing tomorrow.

[2020-04-21 17:20] wKovacs64 opened #175 "blitz CLI doesn't work in Windows"
**What is the problem?**

Globally installed `blitz` CLI doesn't work in Windows.

**Steps to Reproduce:**

1. `yarn global add blitz@0.5.0-canary.5`
2. `blitz new my-blitz-project`

**Versions:**
 - Blitz: 0.5.0.-canary.5
 - OS: Windows 10

**Supporting Documentation**

[code]

(Note: `blitz` and `blitz -v` also yield the exact same error output, so it's not command specific.)

[2020-04-22 02:14] flybayer commented on #107
@ryardley the refactor includes this?

[2020-04-22 02:16] ryardley commented on #107
Will be ready tonight

[2020-04-22 08:15] #166 closed

[2020-04-22 10:43] #116 closed

[2020-04-22 11:02] flybayer opened #178 "Blitz file path replacement in logs is broken"
**What is the problem?**

Blitz server isn't swapping out the file paths properly in the Next.js output. See the wrong output in the log below.

**Steps to Reproduce:**

1. Delete `examples/store/node_modules/@prisma/client`
2. Run `blitz build` in the store example

**Versions:**

- Blitz: canary
- OS: macOS

**Supporting Documentation**
[code]

[2020-04-22 11:08] #107 closed

[2020-04-22 11:47] ryardley commented on #178
I never actually implemented it on build. I didn't think it was as important as during it during `blitz start`

[2020-04-22 12:55] ryardley opened #179 "Setup memory file system for tests"
**What do you want and why do you want it?.**
We need to setup an in-memory file system for our file writing mocks here https://github.com/blitz-js/blitz/tree/canary/packages/server/test

Problem that is happening occasionally is that if a test fails to clean up the file system the files left over could be accidentally checked into git also an inmem fs would have a clean up/ reset method we could

[2020-04-22 14:00] flybayer commented on #178
I've seen this same thing in blitz start

[2020-04-22 14:02] flybayer commented on #178
Would it be easier to build directly into `/.blitz` or something top level so there's only 1 path item to modify instead of 3 levels?

[2020-04-22 14:34] merelinguist opened #180 "Blitz console not working"
**What is the problem?**

Blitz console seems to be broken.

**Steps to Reproduce:**

1. `blitz new app-name`

2. `cd app-name`

3. `blitz start`

4. `blitz console`

**Versions:**

- Blitz: `0.5.0-canary.6`
- OS: macOs

**Supporting Documentation**

[code]

[2020-04-22 14:42] flybayer commented on #180
I'm 95% sure this is because we lost TS support in production.

I think we need to use the ts-node repl creator directly?

In development, oclif automatically loads ts-node if present. I was hoping it would do the same in production, but apparently not!

[2020-04-22 15:00] flybayer commented on #113
@merelinguist this would be amazing to have for the alpha if you're up for doing it? — I know you'd make it look incredible :)

[2020-04-22 15:13] flybayer opened #181 "Fix awkward pause in logging during blitz new"
**What is the problem?**

There's a long pause after the files are created, but before "Installing dependencies" is printed. This is because we are fetching the latest dependency versions.

Instead of an awkward pause, we should show some status update. Move the "installing dependencies" log above this, then add a spinner or something.

**Steps to Reproduce:**

1. Install global `blitz@0.5.0-canar

[2020-04-22 15:16] flybayer opened #182 "Make dependency updates run in parallel during blitz new"
**What do you want and why do you want it?.**

Inside `packages/cli/src/generators/app.tsx` we have the following:
[code]

But that needs to be changed to use Promise.all()

This makes blitz new unnecessarily slow

[2020-04-22 15:54] #182 closed

[2020-04-22 20:45] wKovacs64 commented on #169
FYI, I've got my Yarn policy set to 1.19.1 and still get this occasionally (maybe after installing a new dependency - working on something else and haven't had a chance to investigate further). 🤔

[2020-04-23 02:33] flybayer opened #188 "Set up Windows CI test runner"
**What do you want and why do you want it?.**
Most of us are on macOS or Linux and easily break things from running on Windows.

We need a CI windows test runnner to ensure we always run good on Windows too.

**Possible implementation(s)**

We are currently using Github actions. I'm not sure if this supports windows? We can add another CI service for windows if needed.

[2020-04-23 02:38] camilo86 commented on #175
Yeah, I did a clean install of blitz on windows, and I'm seeing the same issue 😥 I'm looking to see if this could maybe be a problem during the `oclif` release process

[2020-04-23 02:59] camilo86 commented on #175
Ok, so oddly enough: `blitz` seems to work just fine as long as your terminal is in the `C:\Users\<YOUR-USERNAME-HERE>` path. Trying to use blitz in any other directly yields the same error message in the issue

[2020-04-23 03:07] flybayer opened #189 "Exit gracefully and show helpful message when running the blitz cli outside a blitz app"
**What is the problem?**

App specific commands like `blitz console` currently fail with odd errors when ran outside of a blitz app directory.

The only command that should work globally is `blitz new`.

All others need to exit gracefully and print a helpful error message.

[2020-04-23 03:11] flybayer commented on #175
This is an issue with the `cli.ts` file inside the blitz package. Where global vs local usage is determined and executed.

I'll try to set up a VM and debug this

[2020-04-23 03:17] #180 closed

[2020-04-23 03:40] flybayer opened #190 "`blitz new` automated dependency update doesn't work with version suffixes like `0.5.0-alpha`"
**What is the problem?**

We want the `blitz new` template to have an explicit blitz version like `0.5.0-alpha`. Then we want the `blitz new` install process to update that to the latest tag which will be like ``0.5.1-alpha`.

We are already doing this pkg version update, but it just breaks with the suffix in there.

**Steps to Reproduce:**

1. Make the following change in `packages/cli/templates/

[2020-04-23 03:50] flybayer commented on #190
Nevermind! The solution is to set `"blitz": "0.x"`

[2020-04-23 03:50] #190 closed

[2020-04-23 03:54] flybayer opened #191 "Change `blitz new` to set the blitz version to `latest` or `canary` based on the version of the CLI that's running"
**What do you want and why do you want it?.**

- `blitz new` from a global install of `blitz@latest` will result in `"blitz": "latest"` in package.json
- `blitz new` from a global install of `blitz@canary` will result in `"blitz": "canary"` in package.json

This will ensure the generated app always matches the CLI version tag being used.

[2020-04-23 06:00] #175 closed

[2020-04-23 06:11] sijad commented on #127
I can't reproduce this, is this fixed?

[2020-04-23 06:12] flybayer opened #193 "`blitz start|build` broken on windows"
**What is the problem?**

`blitz start` fails with:
[code]

`blitz build` fails with:
[code]

**Versions:**

- Blitz: 0.5.0-canary.6
- OS: Windows 10

**My troubleshooting**

I was able to fix the first part of `next start` with the following on windows:
[code]

After this change, then `blitz start` fails with the same error as `blitz build`

**More info**

`next dev` is setting the project direct

[2020-04-23 06:41] flybayer commented on #127
Nope!

[2020-04-23 06:47] flybayer commented on #127
I just reproduced again with:

1. `git clean -xfd`
2. `yarn`
3. `yarn test` <-- succeeded
4. `git clean -xfd packages`
5. `yarn`
6. `yarn test` <-- failed

[2020-04-23 06:54] flybayer opened #194 "Create the `@blitzjs/utils` package for shared functionality like logging"
**What do you want and why do you want it?.**
We are starting to have utilities like logging that is used by multiple packages. Let's move them into their own package.

**Possible implementation(s)**
Essentially you can copy the `core` package into `utils` for the package.

Then move shared utils into like logging stuff.

[2020-04-23 07:51] flybayer commented on #127
Update: I `skip`ed all the tests in `packages/cli/test/commands/test.test.ts` for now to get past this. Still needs fixed, but not as important now.

[2020-04-23 07:53] flybayer commented on #127
Actually that didn't work. Then `commands/db.test.ts` were failing.

So now I'm doing `jest || jest` in the CLI test script 🙄

[2020-04-23 09:16] nainardev opened #196 "Keep a changelog"
have a CHANGELOG.md or write important chnages in [GitHub Releases](https://github.com/blitz-js/blitz/releases)

Its difficult to know whats changed between releases

[2020-04-23 09:44] flybayer commented on #196
Yes, totally! I'll have GH releases set up for the alpha launch on Friday. At the moment, I'm posting changes in [our slack](https://slack.blitzjs.com)

[2020-04-23 13:44] #191 closed

[2020-04-23 13:56] flybayer opened #197 "Need to refactor blitz new replaceDependencies: possibility for race condition failure"
**What do you want and why do you want it?.**
We are using Promise.all() in `packages/cli/src/generators/app.ts` to replace dependencies and each dependency update function is writing the updates to the package.json on disk.

This is a problem because the file writes could be overwritten for each other.

The replaceDependencies functions should return an object and then everything should be writte

[2020-04-23 14:23] Zeko369 commented on #197
I'll handle this

[2020-04-23 15:10] #181 closed

[2020-04-23 15:40] flybayer commented on #196
Github releases now set up!

[2020-04-23 15:40] #196 closed

[2020-04-23 15:50] flybayer opened #202 "Blitz new dependency updates can fail, but it should not"
**What is the problem?**

If there's a network error or something that interrupts fetching the latest dependencies, the entire `blitz new` process fails. It should not.

1. It should retry each request 1 time
2. If still fails, then fallback to the template version and keep going.
3. Also we should write tests for this whole update functionality

**Versions:**

[code]

**Supporting Documentation**

[2020-04-23 16:43] wKovacs64 commented on #161
Love it or hate it, `eslint-config-airbnb` is hugely popular. I'd have a hard time recommending it out-of-the-box for a React app, but that doesn't change the fact that tons of people use it. Whether we want to perpetuate that choice is 🤷‍♂️ .

This is just for initial generation, correct? Users will be able to swap it out with whatever they want afterwards, yeah?

[2020-04-23 16:46] flybayer commented on #161
Yes, just for initial generation!

We could mark the Airbnb option as “warning, only for advanced users” or something lol

[2020-04-23 16:47] coreybrown89 opened #204 "Internal Server Error after fresh install on macOS"
**What is the problem?**
After creating a new project and running `blitz start`

**Steps to Reproduce:**

1. Create a new project `blitz new etc`
2. Run `blitz start` (project builds fine)
3. Head over to `localhost:3000`
4. Internal Server Error & console errors

**Versions:**

Blitz: 0.6.0-canary.0
Node: v12.16.1
OSX: 10.14.6 (18G103)
yarn: 1.19.1

[code]

**Supporting Documentation**
[code]

[2020-04-23 16:50] flybayer commented on #204
This could be related to #193

[2020-04-23 16:57] wKovacs64 opened #205 "New apps are being generated with old dependencies"
**What is the problem?**

Newly generated apps are being populated with the *oldest* version of dependencies available in the major version range specified in the template rather than the newest.

**Steps to Reproduce:**

1. `blitz new my-blitz-project`
1. `cd my-blitz-project`
1. `yarn lint` 💥 Oops,

`eslint-plugin-react-hooks@2.0.0` is broken. Wait, why do we have 2.0.0 anyway? 2.5.1 is the late

[2020-04-23 16:58] flybayer commented on #204
This could be macOS 10.14 Mojave

[2020-04-23 17:04] #205 closed

[2020-04-23 17:11] wKovacs64 opened #207 "Long delay between `blitz new` and user feedback"
**What is the problem?**

After running `blitz new`, there is a very long delay (30-60 seconds on machines I have available) before any feedback is displayed to the user.

**Steps to Reproduce:**

1. `blitz new`
1. ⌚
1. Observe feedback.

**Versions:**

- Blitz: 0.6.0-canary.0
- OS: Windows 10 and macOS

[code]

**Supporting Documentation**

N/A

[2020-04-23 17:20] flybayer commented on #207
I think the solution is to ensure every command lazy loads it’s dependencies

[2020-04-23 19:08] merelinguist commented on #202
Someone working on this might want to swap `node-fetch` for [`got`](https://www.npmjs.com/package/got), which has built-in support for retrying on failure. Next use this for their `create-next-app` cli.

[2020-04-23 22:49] coreybrown89 commented on #204
So I’ve updated to Catalina 10.15.4 and ran a fresh new install of blitz cli, ran the blitz new and am experiencing the same issue when trying to go to localhost:3000 after running blitz start .

[2020-04-23 23:11] Zeko369 opened #209 "ProductForm in examples warms up BOTH update and create lambdas on every page"
**What is the problem?**
ProductForm warms up `updateProduct` and `createProduct` lambdas, regardless of whether it's new or edit page.

**Steps to Reproduce:**

1. `yarn blitz start` in examples/store
2. Open console/network

**Versions:**

- Blitz: 0.6.0-canary.0
- OS: macOS 10.15.3 (19D76)

[code]

**Supporting Documentation**
Please include applicable logs and screenshots that show your proble

[2020-04-24 00:26] nainardev commented on #196
Thanks, waiting for documentation. Bye 👋

[2020-04-24 03:32] ryardley commented on #178
Playing around I moved the build folder out to its own folder and ran yarn install and next on the project which should then run just like a normal next app. I get the same sort of error.

[code]

This makes me think that the copious relative pathing must be either a next or a webpack issue. It might be worth exploring if there is a webpack configuration we can provide.

---

Secondly, our rpc stu

[2020-04-24 03:45] ryardley commented on #204
Hmm I am having trouble reproducing. macOs 10.15.4

Error appears related to a missing next dependency. What version of next did it install?

[2020-04-24 03:48] flybayer commented on #178
Ok thank's for checking this. Maybe it's related to the experimental Next feature we are using for jsconfig/tsconfig baseUrl.

We could try with the latest next canary.

This isn't critical.

[2020-04-24 03:49] ryardley commented on #204
Does `node_modules/next/dist/next-server/lib/fid.js` exist in the installation? What happens if you clean your yarn cache?

[2020-04-24 03:51] flybayer commented on #204
In slack @coreybrown89 said switching from default macos Node to using nvm fixed this

But @aem said he's using default node and it works fine.

If someone else runs into this, you should try this and report back:

1. Run `blitz build`, let it fail
2. Move `node_modules` into `.blitz/caches/build/`
3. `cd .blitz/caches/build`
4. `yarn run next build`

And see if that succeeds or fails.

[2020-04-24 04:09] flybayer commented on #209
This is because the JS is preloaded for both. I'm not quite sure how we could optimize this 🤔

[2020-04-24 04:18] #197 closed

[2020-04-24 06:24] flybayer commented on #207
I added a message that logs immediately about it being alpha and could be slow. At least this will help a bit for right now.

[2020-04-24 06:30] wKovacs64 commented on #207
Cool, good enough for now. 👍

[2020-04-24 08:24] flybayer opened #213 "Blitz synchronizer should report different during runtime than during start"
**What is the problem?**

We have a nice spinner and success message for at the start of blitz start, but this same message is being shown if the server is already running and you change a file.

During runtime I think we should only show error messages. Don't show spinner or success.

**Supporting Documentation**
[code]

[2020-04-24 08:27] merelinguist commented on #213
So you want all this:

[code]

gone during runtime?

[2020-04-24 08:28] #40 closed

[2020-04-24 08:28] #157 closed

[2020-04-24 08:39] flybayer commented on #213
Yes, just like you get with plain Next.js

[2020-04-24 10:14] merelinguist commented on #207
Experiencing this issue too.

[2020-04-24 10:29] flybayer commented on #207
We definitely need to lazy load everything in the CLI. I bet this will make a big difference

[2020-04-24 14:22] taylorosbourne opened #220 "First attempt to start a blitz app failed"
**What is the problem?**
Console output after running:

[code]

console output:

[code]

**Steps to Reproduce:**

[code]

**Versions:**

[code]

**Supporting Documentation**
Please include applicable logs and screenshots that show your problem.

[2020-04-24 14:23] merelinguist commented on #220
What is your OS?

[2020-04-24 14:23] taylorosbourne commented on #220
mac os

[2020-04-24 14:27] flybayer commented on #220
@taylorosbourne What is the output of `blitz -v` ?

[2020-04-24 14:28] taylorosbourne commented on #220
[code]

[2020-04-24 14:33] flybayer commented on #220
Ok I see a problem. Working on a fix

[2020-04-24 14:33] taylorosbourne commented on #220
@flybayer thanks very much!  excited to try this out

[2020-04-24 14:49] flybayer commented on #220
Ok, try `npm i -g blitz@canary` and tell me if that works or not.

If it doesn't work, post the output of `blitz -v` again

[2020-04-24 15:01] taylorosbourne commented on #220
@flybayer your fix is working!  thanks

[2020-04-24 15:06] flybayer commented on #220
Awesome!

Closed in https://github.com/blitz-js/blitz/commit/55fdaa05306852a10d0d4e636c3bfa091698e2a1

[2020-04-24 15:06] #220 closed

[2020-04-24 15:15] merelinguist opened #223 "Scaffold initial Blitz GUI"
**What do you want and why do you want it?.**
After conversations in Slack around the GUI, I would like to implement the basic architecture for our GUI, allowing other work to start around it.

**Possible implementation(s)**
Naturally, we should of course use Blitz. I definitely think we should not try to mess around with Electron et al; not only would it likely add extra bugs and performance cost

[2020-04-24 16:18] Zeko369 commented on #223
Do you have some code already setup?

[2020-04-24 17:01] wKovacs64 opened #224 "Blitz repository inaccessible on Windows"
**What is the problem?**

Windows users can no longer pull in changes (or perform a fresh clone) as of #187 being merged due to invalid characters in some of the template filenames.

[code]

**Steps to Reproduce:**

1. `git clone git@github.com:blitz-js/blitz.git` on Windows 10

**Versions:**

N/A

**Supporting Documentation**

https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#na

[2020-04-24 17:22] flybayer commented on #224
@aem

[2020-04-24 17:22] merelinguist commented on #223
@Zeko369 I have been playing around with it yes. I will PR something relatively soon, which you can review if you’d like. Also, if you’re keen to work on this, I’ll probably need some help integrating with the CLI once I’ve done the initial stuff. Look out for some issues 😄

[2020-04-24 17:23] aem commented on #224
Oof. I guess we could use the same strategy I used with the `[id]` directories and use a custom placeholder rather than the built-in yeoman template functionality. `create__ModelName__.ts` can be transformed with something like this:

[code]

Seem reasonable?

[2020-04-24 17:23] Zeko369 commented on #223
@merelinguist can't wait

[2020-04-24 17:25] aem commented on #224
I can make this change later today, or if we have someone who's new to the Slack and wants to contribute, this is a great first issue for someone interested in the CLI. Relatively small change, but touches a few different pieces of the generator architecture

[2020-04-24 17:30] osirvent opened #225 "Blitz needs to restart after schema change and CRUD generated"
**What is the problem?**

`TypeError: Cannot read property 'findMany' of undefined` after schema changed and CRUD
generated

**Steps to Reproduce:**

1. Follow initial example (User Model and generate CRUD for user)
2. With `blitz` started, add a new model on the schema (i.e. `Comment`) .
3. `blitz db migrate`
4. `blitz generate all comment`
5. go to http://localhost:3000/comments
6. appears `Type

[2020-04-24 17:47] aem commented on #225
if we can either find a JS tool similar to [entr](http://eradman.com/entrproject/) or leverage `nodemon` somehow it should be pretty easy to restart the sevrer there. Or maybe even reuse some logic from the synchronizer to detect changes? @ryardley thoughts?

[2020-04-24 21:03] ntgussoni commented on #207
Hello guys, I've been trying to test this and im not seeing such delays.

Would any of you mind to add this at the very top of new.ts and run the new command?

[code]

This is my output

[code]

[2020-04-24 22:36] wKovacs64 commented on #207
Here you go:

<details>
<summary>Results on Windows 10</summary>
<pre>
require('path') 0.0002385
require('path') 0.000005299
require('@oclif/command') 0.0000242
require('@oclif/command') 0.0000141
require('../command') 0.009499299000000001
require('../command') 0.009493399999999999
require('@oclif/command') 0.0003746
require('enquirer') 0.004199601000000001
require('assert') 0.0000069
require('eve

[2020-04-24 22:42] ntgussoni commented on #207
What happens when you run this?

`DEBUG=\* blitz new some_random_project`

Anything strange?

[2020-04-24 22:53] wKovacs64 commented on #207
Immediately, I see this:

[code]

Then the big delay. Once the delay is over, it continues with this:

[code]

followed by all the `require` statements previously reported.

[2020-04-25 00:01] ryardley commented on #209
Can certainly do it with a babel transform and internal API change but I think the benefit is not worth slowing down the compilation. If we could reliably somehow use regex to transform the code it could work and remain fast.

[2020-04-25 01:03] ryardley commented on #225
So just reading this I would say the issue is that because prisma generates new types etc. and they aren't loaded into next. Perhaps we can flag certain file changes (`prisma.schema` perhaps?) as tabling a restart of next?

[2020-04-25 01:16] ryardley opened #226 "Do not clean dev cache on restart"
**What do you want and why do you want it?.**
Currently running `blitz start` will blow away the file cache next uses to run and rebuild it. This means that on huge projects when you stop blitz and then restart it the whole project needs to be copied to the cache which can take quite a bit of time. We should work out a way to prevent this and only copy changed files.

**Possible implementation(s)*

[2020-04-25 02:44] flybayer commented on #225
I suspect this is because prisma client is inside node_modules and Next doesn't expect files in there to change.

Maybe we only need to modify the webpack config?

[2020-04-25 03:04] flybayer opened #227 "Bug: `blitz h` doesn't display the help information"
**What is the problem?**

`blitz h` should display the help information instead of this:

[code]

[2020-04-25 03:05] flybayer commented on #132
Inspiration: https://github.com/lirantal/pie-my-vulns/blob/master/.circleci/config.yml

[2020-04-25 04:30] ryardley commented on #225
If we can get away with only modifying watched files in webpack then that would be simpler as to be reactive we would want to setup something that looks like a "next manager" to listen for a specific event and restart the server.

[2020-04-25 04:34] flybayer opened #228 "Build custom bot for issue & PR automation (Switch from Zenhub to GH Projects)"
**What do you want and why do you want it?.**
I'm currently using Zenhub for tracking issues and PRs and their statuses, but it's slow, clunky, is too hard to keep accurate. Also annoying that you have to install a browser extension to use it.

So let's use a Github Project board and let's write some serverless functions for automating everything exactly like we want.

Also our tags are a mess.

#

[2020-04-25 04:50] ryardley commented on #228
Probot looks like a great way to go as a means to customise GH. Automate as much as possible I say. We don't really want to have to deal with that sort of stuff day to day. Having said that one thing around workflow I have been thinking that is cool is the idea of using draft PRs to self assign tasks. Perhaps it makes sense to work that in to this automated workflow somehow?

[2020-04-25 04:53] flybayer opened #229 "Fix some npm/yarn warnings"
**What is the problem?**

We need to fix these warnings that show when installing blitz:

[code]

[2020-04-25 04:54] ryardley commented on #229
i thought there was a PR somewhere that got rid of path-is-absolute?

[2020-04-25 04:56] ryardley commented on #229
Hmm wasn't refactored from the server.

[2020-04-25 05:12] flybayer commented on #229
No, that other PR was `find-parent-dir` I think

[2020-04-25 05:26] flybayer commented on #228
@ryardley Can you explain more what about what you are thinking for the draft PR/assign thing?

[2020-04-25 06:59] flybayer opened #230 "Add top level await support for blitz console"
**What do you want and why do you want it?.**

We were enabling top level await in our binaries using this:
[code]

But that [doesn't work on Linux](https://github.com/nxtep-io/ts-framework-cli/issues/1), which also breaks production deployments, like to Vercel/Zeit. So I had to remove it for now.

We need to add this back in some other fully cross platform way.

**Possible implementation(s)**

I

[2020-04-25 07:44] flybayer opened #232 "Add context path to blitz generate"
**What do you want and why do you want it?.**

Currently blitz generate command generates all files at the top level. So `blitz generate all tasks` puts the tasks files at `app/tasks/*`.

We need to add a context/namespace support that works like this:

[code]
generates all the normal tasks files but at `app/admin/tasks/*`

General format is:

[code]

- The model name is always the last segment of

[2020-04-25 07:49] flybayer opened #233 "Add --parent to blitz generate pages"
**What do you want and why do you want it?.**

The Blitz routing convention often results in the URL having a parent model and a child model. For example, if your DB has Project and Task and Project has many Tasks, your page structure should be:

So this:

[code]

should generate this:

[code]

Also, `--parent` argument must also work with the other commands that invoke the pages generator.

So th

[2020-04-25 09:02] flybayer opened #234 "Add blitz generate model"
**What do you want and why do you want it?.**

We want to add a model generator that:

- Adds a model & attributes to `schema.prisma`
- (Future) scaffolds model validation
- (Future) scaffolds model authorization

All of the commands listed here should result in a valid, working schema file.

[code]

**The field arguments have this format: `fieldName:fieldType:fieldAttribute`**

- `fieldName`:
	-

[2020-04-25 09:19] flybayer opened #235 "Consider changing from ejs templates to plain string replace"
**What do you want and why do you want it?.**

Working on the ejs templates for `blitz generate` (which has syntax like `<div<%= name %></div>`) is currently a nightmare because syntax TS can't parse it, prettier can't parse it, eslint can't parse it etc.

This means you have to actually run the generator each time you make a change to see it's correct or not. And you have to manually format your

[2020-04-25 09:25] flybayer opened #236 "Add custom templates support"
**What do you want and why do you want it?.**

Blitz comes with default templates for `blitz generate`. This is a feature that seems really cool to start with but very quickly becomes just a toy because you can't use it in real projects. This was the downfall of `rails generate`.

However, `blitz generate` can be super useful throughout the entire life of a project if we have an easy way to eject

[2020-04-25 09:38] flybayer opened #237 "Implement useQuery prefetching"
Both of the following should cache the `getProduct` query, same as if it was used with `useQuery`

[code]

[code]

- This functionality needs to be added in the `rpc.ts` file in the `core` package.
- It needs to use the same computed cache key as used inside the blitz `useQuery`.
- It needs to use [`queryCache.setQueryData`](https://github.com/tannerlinsley/react-query#querycachesetquerydata) from

[2020-04-25 09:44] flybayer opened #238 "Implement useQuery pagination"
React-query provides a separate hook for pagination (`usePaginatedQuery`), but we want to support pagination with the same `useQuery` by accepting the `paginated: true` option.

Summary:
- If `{paginated: true}` is passed as third option to `useQuery`, then Blitz will use `usePaginatedQuery` from react-query instead of the plain `useQuery` from react-query.
- Everything should be properly typed. I

[2020-04-25 09:53] flybayer opened #239 "Implement useQuery Infinite Loading"
Blitz needs to export a `useInfiniteQuery` hook that's a thin wrapper on the `useInfiniteQuery` hook from react-query. This will be done very similar to how we are wrapping the `useQuery` hook.

- Output of `useInfiniteQuery` should be fully typed
- Add this to the example store app

[code]

And here's the query to work with that:
[code]

Note: It's possible I've overlooked something critical in t

[2020-04-25 10:09] flybayer opened #240 "Implement the `blitz routes` command"
**What do you want and why do you want it?.**

We want a single command, `blitz routes`, that nicely lists all http endpoints in the app. This is especially useful since we can have many `pages` folders throughout the app.

- pages
- api routes
- query & mutation endpoints

For example, here's how rails does it.

![image](https://user-images.githubusercontent.com/8813276/80277164-5c414380-8717-11e

[2020-04-25 10:32] flybayer opened #241 "Implement blitz db reset command"
**What do you want and why do you want it?.**

Sometimes during dev things get out of wack and you need a sledgehammer.

`blitz db reset` should totally delete the database and then run migration to create the db fresh.

- Prompt user for confirmation
- Should work with SQLite, Postgres, and Mysql
- Should force close any existing connections to the DB. (A postgres `DROP TABLE` command will fail i

[2020-04-25 10:58] mikeattara commented on #240
Let me have a go at this

[2020-04-25 11:08] Zeko369 commented on #230
Looking into this

[2020-04-25 11:17] flybayer opened #242 "[RFC] Blitz Installers"
### Problem

There's hundreds of tools and libraries that different people want to integrate with their app.

Next.js solves this problem by having all these integrations as [example apps](https://github.com/zeit/next.js/tree/canary/examples). This works fairly well, but it's still cumbersome to go find the proper example, copy the code, paste the code, try it, go back and copy something you forgo

[2020-04-25 12:02] nainardev commented on #242
Why not `npm install`?
How is `blitz install` different from above?

[2020-04-25 12:08] remi2j commented on #242
Sounds great!

I wonder how apps that already have custom code will be handled. Sounds like Blitz will need some kind of conflict resolution system.

npm can only install packages in `node_modules` and save the dependencies in `package.json`.

Having this in the CLI also allows us to also generate the boilerplate in our code.

[2020-04-25 12:26] amine-benselim commented on #242
some of the items in the list seem to be of the same category (`styled-components`, `emotion`, or for example `auth0` and `firebase auth` which is not mentioned). so adding two of them does not make sense.
How about creating a sane categorization for these installers:
`blitz install --css-in-js emotion --auth auth0 --cms prismic`

[2020-04-25 12:34] NateRadebaugh commented on #242
Sounds like Gatsby recipes. Does it make sense to standardize on a similar format for this? Eg MDX with custom components for install vs update

[2020-04-25 13:55] cristianbgp commented on #242
Sounds great! But I'm thinking if we can try another solution to still use `npm install` (or yarn) to install the dependencies but add a generator to update or add files for that package.

Something similar in Rails

    gem 'devise'
    rails generate devise:install

Maybe we can still have

`npm install tailwind` or `yarn add tailwind`
and then use the generator to generate the boilerplate
`blit

[2020-04-25 15:07] flybayer opened #246 "Relative imports are broken when used in pages"
**What is the problem?**

Relative imports like `import x from '../../x'` are broken when used inside pages.

This is because we compile pages to a different structure but aren't updating the file path.

**Workaround**

Always import from the project root, so `import x from 'app/components/x'`

**Implementation**

During the build step, maybe we can just transform the relative import into an absol

[2020-04-25 15:26] jimthedev commented on #204
Not sure if related but when I updated my OS I also had to go do some things in XCode (signing license again, making sure right version of the command line tools was being used) that blocked me from using Node native modules.

[2020-04-25 15:51] toddgeist commented on #242
does this solve the plugins case?

[2020-04-25 15:59] jimthedev commented on #207
Recorded a video of this for those unable to repro. This is on OSX Catalina. Node, NPM and Yarn versions are in the video. https://www.youtube.com/watch?v=HQgx8nUlFS0&feature=youtu.be

[2020-04-25 16:10] flybayer commented on #242
@remi2j Yes, it'll definitely have some type of nice conflict resolution system.

@amine-benselim Yes, I've just listed them as various examples, not as things someone would all use at once.

@NateRadebaugh Gatsby recipes are only docs right? Blitz installers are code generators, not docs.

@cristianbgp The problem with this approach is that the tailwind npm package would have to package the blitz

[2020-04-25 16:22] jimthedev commented on #207
Couple things we can do in the short term:
- show a spinner
- make the message more clear that they are about to enter a long but expected waiting period
- merge #245

[2020-04-25 17:09] wKovacs64 commented on #242
[Gatsby Recipes](https://www.gatsbyjs.org/blog/2020-04-15-announcing-gatsby-recipes/) install dependencies and write to files. Not sure if they line up exactly with what you have in mind for Blitz Installers, but sounds pretty close!

[2020-04-25 17:17] flybayer commented on #242
Oh wow, yes! Googling “Gatsby Recipes” takes you to a docs section that’s titled “Gatsby recipes” lol

Looks like pretty much the same thing as what I’m proposing!

Not sure how I feel about MDX for this tho 🤔 Seems limiting and extra complexity for what can be a regular node script. But I could be convinced otherwise :)

[2020-04-25 17:26] jimthedev commented on #207
Reproduced from source instead of npm binary with in same env as the above video using these steps:

[code]

[2020-04-25 17:52] flybayer commented on #207
So do we have an idea of what the root cause is?

[2020-04-25 18:22] wKovacs64 commented on #207
I just discovered Blitz CLI is traversing the current directory contents for some reason (have not looked into why/where yet). I just got an `ENAMETOOLONG` error from Node while it was performing some recursion on a totally unrelated project. If you run `blitz new foo` in an **empty** directory, it's fast (no delay).

[2020-04-25 18:46] Mozart409 commented on #242
Hi,
I added a very rough plugin to add tailwindcss. No edge cases are covered, does not install dependencies, just writes some files to specific folders.

   - postcss.config.js
   - tailwind.config.js
   - app/style.css

Prepends import '../style.css' to app/pages/_app.tsx

Tell me what you think and let's build this together via PRs 👍

https://github.com/Mozart409/blitzjs-tailwind-installer

[2020-04-25 20:29] jimthedev commented on #207
I have been console.logging through oclif dist files and narrowed it to the loop at https://github.com/oclif/config/blob/master/src/plugin.ts#L302 when id==="console". I haven't gone further but hopefully that helps.

[2020-04-25 20:51] jimthedev commented on #207
Ok this is the line it is hanging at: https://github.com/oclif/config/blob/master/src/plugin.ts#L257 and for me it is getting called with /Users/jcummins/projects/blitz/packages/cli/src/commands/console.ts

[2020-04-25 21:15] MrLeebo commented on #246
@flybayer Won't transforming the path at build time mean that the imports still won't work during unit tests? Or do tests perform the same build steps?

[2020-04-25 22:04] aem opened #251 "Conflict checker can't be disabled"
**What do you want and why do you want it?.**
Currently, modifying existing files in the CLI always triggers the conflict checker. This means that generation is restricted to new files, as any line additions to existing files will require manual resolution by the user. We should have a way to temporarily disable the conflict checker for generation commands that will be manually appending to files

[2020-04-25 23:21] FMcIntosh commented on #242
When I saw this RFC Gatsby recipes were the first thing that came to my mind as well. Reading the [announcement blog](https://www.gatsbyjs.org/blog/2020-04-15-announcing-gatsby-recipes/), it seems like the MDX syntax is mainly for readability. The heavy-lifting looks like it's being done by an xState machine to control the flow for running a recipe.

[2020-04-26 00:20] LoriKarikari commented on #241
I'm up for this one 😊

[2020-04-26 00:40] iRoachie opened #253 "Bundle docker-compose for local database"
**What do you want and why do you want it?.**
Awesome project! On starting, the demo asking you to run a db migrate. Of course this doesn't work cause there's no database up to this point. The instructions on the README then suggest you installing postgres locally.

Instead, I think we can provide a better experience by bundling an already setup docker-compose file and maybe even start the contain

[2020-04-26 00:44] Zeko369 commented on #253
@iRoachie wanna work on this?, if not I'll add "ready to work on label" so other people can work on this

[2020-04-26 00:51] iRoachie commented on #253
What's the best way to do it? I could definitely add a docker-compose file, unsure about the running it part.

Does that mean that docker now is a dependency of the project we're asking users to have?

[2020-04-26 01:04] Zeko369 commented on #253
If they have postgres running on their system they can just use that via the ENV variable. Otherwise they could use docker-compose.

It's an optional dependency if you don't have postgres/don't want to install it.

@flybayer what do you think about this?

You'll need to add a docker file and a docker-compose.yml file for this to work.

[2020-04-26 01:29] jimthedev commented on #207
Ok please everyone take a look at PR #254. It looks like there were some side effects in one of the files the the console command was importing. I think made it so that importing the file alone would cause node to go to the file system. I wrapped the changes in a function calls so that simply importing the file should be idempotent and only a call to the function would cause a scan.

[2020-04-26 01:38] #207 closed

[2020-04-26 01:53] #227 closed

[2020-04-26 02:48] flybayer opened #257 "Create a bot that automatically adds people to the all-contributors list"
**What do you want and why do you want it?.**

I want a bot that automatically adds contributors to the all-contributor list or updates their contributions.

- Automatically detect and add different types of contributions such as: code, docs, PR review
- Contribution should be added regardless if the PR is merged or not
- Added contributions should be committed straight to canary branch (I think..

[2020-04-26 03:29] flybayer commented on #127
**Update:** I see two issues here:

- Most of the commands are not retuning a promise that resolves once the task is finished: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/console.ts#L56 (this is a problem regardless of if it fixes the tests)

If that still doesn't fix it, then I think the issue is how we are mocking the async functions.

[2020-04-26 03:39] ryardley commented on #242
I think some in the community will really appreciate this and it will definitely save time in many cases but I must say I love the way next has all their examples in their repo and I still think we should give people the option of copying code from an example to apply it (even if the examples were just generated from running the installation scripts) Perhaps I am paranoid around combinations of au

[2020-04-26 03:42] ryardley commented on #246
Great idea

[2020-04-26 03:45] ryardley commented on #246
You probably won't be able to unit test pages that use relative imports as RPC won't be available.

[2020-04-26 03:52] ryardley commented on #253
Would it be easier to bundle sqlite3 by default instead? We can use npm to install that and then we don't necessarily need to muck around with docker. We may want to make docker/postgres combo an installer later?

[2020-04-26 03:59] ryardley commented on #241
Would it be worth considering a blitz db seed command as well?

[2020-04-26 04:01] ryardley commented on #240
Be nice if this could be serializable so that you could use it to generate sitemaps

[2020-04-26 04:05] flybayer opened #259 "Change `blitz generate pages` to use actual model attributes"
### What do you want and why?

Currently the `blitz generate` command assumes the model has a `name` attribute. But we need to change this to use the actual attributes on the generated model.

When generating pages without passing model attributes, we should show an inquirer multi-select prompt with the current model attributes.
[code]

When generating pages with passed model attributes, we use th

[2020-04-26 04:15] jlkiri opened #260 "db migrate throws error "Can't reach database server at `localhost`:`5432`""
### What is the problem?

`blitz db migrate` does not work

Throws the following error:

[code]

### Steps to Reproduce:

1. Create a fresh project with `blitz new`
2. Add

[code]
to `schema.prisma`

3. Run `blitz db migrate`

### Versions:

[code]

### Supporting Documentation

[2020-04-26 04:17] flybayer opened #261 "Blitz compile errors should be shown in the browser"
### What do you want and why?

Currently blitz compile errors only show in the console.

1. `blitz start`
2. Create a duplicate page route by having the same page route in two different `pages` folders
3. An error will be shown in the terminal, but not in the browser

We should show errors in the browser, just like next.js compile errors do.

[2020-04-26 04:22] ryardley commented on #260
It is possible your DATABASE_URL env var is not populated or is pointing to the wrong location. What have you set DATABASE_URL env var to?

[2020-04-26 04:28] flybayer commented on #260
Yeah this means you either don't have Postgres installed or it's using a different configuration than default.

I'm assuming you don't have it installed. I'm not sure of a great walkthrough on how to do this for windows, but here's a couple options:

- https://www.postgresqltutorial.com/install-postgresql/
- https://www.youtube.com/watch?v=SPab5WhO18g

Let us know how it goes!

[2020-04-26 04:41] flybayer opened #262 "Change blitz version to be pinned in new app template"
### What do you want and why?

Currently `blitz new myapp` results in the blitz version being set to `latest`. We need to change that so the latest explicit version is set, just like we are doing with the other dependencies.

- If cliVersion is canary, then blitz version should be set to most recent version of `canary` release tag
- Else, blitz version should be set to most recent version of `late

[2020-04-26 04:48] flybayer opened #263 "Blitz start is crashing on compile errors with UnhandledPromiseRejectionWarning"
### What is the problem?

`blitz start` fails on some type of compile error, like trying to import a non-existent dependency.

The actual `blitz start` process keeps running, but the spawned `next` process crashes and isn't restarted

### Steps to Reproduce:

1. Checkout latest canary
2. `yarn`
3. `yarn build`
4. `cd examples/tailwind`
5. `yarn remove tailwindcss`
6. `blitz start`
7. See error

##

[2020-04-26 05:08] flybayer commented on #263
This same crash occurs if you are using a component from `app/components/Thing.js` and you change the code inside `Thing.js` while blitz is running

[2020-04-26 05:20] ryardley commented on #263
Having reproducability issues. Is it possible to be more explicit about steps to reproduce?

[2020-04-26 05:21] ryardley commented on #263
Oh is this in a `js` project?

[2020-04-26 05:28] ryardley commented on #263
I am still struggling to reproduce within the example app in the monorepo. Perhaps you can share a repository?

[2020-04-26 05:29] #224 closed

[2020-04-26 05:31] flybayer commented on #246
Relative imports would still work for unit tests since blitz doesn't do any compiling during this.

Relative imports only break when blitz compiler puts the pages in a different directory structure inside `.blitz/caches/`

[2020-04-26 05:32] flybayer commented on #241
@ryardley yes definitely!

[2020-04-26 05:33] flybayer commented on #240
@ryardley great point!

[2020-04-26 05:38] flybayer commented on #263
@ryardley I just updated the issue with exact steps — sorry about that

[2020-04-26 05:40] ryardley commented on #263
Ok great will try

[2020-04-26 05:41] flybayer commented on #263
Also I just verified that Next.js **does** exit with an error for this, so we need to just exit too.

[2020-04-26 05:45] flybayer commented on #263
And I can't reproduce the error I saw when changing the component file

[2020-04-26 05:52] ryardley commented on #263
Issue is a missing `await`

[2020-04-26 05:53] flybayer commented on #253
Here's my thoughts:

The goal here is to have a database running as easy as possible.
- On macOS, this is already very easy `brew install postgres`. So Docker is probably worse here
- Windows it seems is much harder, so Docker may be the easiest for this

I think we should stick with Postgres because it's likely what people will use in production. If we use sqlite, then the project grinds to a hal

[2020-04-26 05:56] flybayer commented on #263
While you are at it, it looks like the log for this prints `next build` but it should be `next dev`, right?

[2020-04-26 06:00] flybayer commented on #242
@ryardley we could only run an installer if the git repo is clean. Then `git diff` will show you exactly what the installer did.

[2020-04-26 07:02] ryardley commented on #263
Yep I am onto that. Just making tests work with passing in a mock synchronizer

[2020-04-26 07:14] #263 closed

[2020-04-26 07:51] Skn0tt commented on #262
I'm down to help with this issue.

[2020-04-26 08:20] jlkiri commented on #260
Oh I see. I just didn't expect `postgresql` to be *required* for the "enter some commands and see how everything updates" introduction you see after running `blitz start`. It worked after I set up my database. I guess it wasn't obvious enough 😅

[2020-04-26 08:33] jlkiri opened #269 "[Windows] Error no parsers registered for: "]""
### What is the problem?

Fail to navigate to `/projects` after running `blitz generate all project`:

[code]

Seems like the `paths` options in generated `tsconfig.json` simply does not have the path for `app`?

**UPDATE**: Files generated under `app/projects/queries` look like `get_%= ModelName %_.ts`, with templates in them, instead of something like `getProjects.ts`. Look like a problem with t

[2020-04-26 08:34] jlkiri commented on #269
I can give it a try.

[2020-04-26 08:57] ryardley commented on #253
I think that happens no matter what you do. Deploying a stateful system is always a little difficult. The danger in changing dialect might be important if you are deep in the thick of app development and have used non compatible queries. I doubt that would be the case when you first have to do this which would happen as you add state to the application.

In my opinion the best case scenario is tha

[2020-04-26 08:59] merelinguist commented on #228
No objections to any of this! Definitely on board with using GH Projects

[2020-04-26 09:07] Zeko369 commented on #253
Prisma should handle sqlite/psql switching, so we could allow people to just run sqlite as an starting point option, but have psql as the recommended option

[2020-04-26 09:24] Zeko369 commented on #228
Looking forward to this 😍

[2020-04-26 10:40] ryardley opened #274 "Architecture: Extract generator and console out of cli"
### What do you want and why?

We should extract the generator and to a lesser extent the console out of the cli package to their own packages or at the very least folders

* Both represent pieces of code with very separate usage scenarios
* Both are currently mixed up with oclif and need not be
* Separating input argument parsing from task execution makes sense as we may want to expose a node API

[2020-04-26 11:43] eliasjohansson commented on #238
Hey, would love to have a go at this :)

[2020-04-26 11:46] ntgussoni commented on #127
Now I cannot get it to fail on the latest canary, is it still happening?  I should try it on an older computer because I think it depends a lot on the hardware.

[2020-04-26 12:03] kandros opened #275 "Prompt user to create DB or run migration from in browser error page"
### What do you want and why?

Recently I saw this presentation video of Phoenix LiveView (at 1:40)and found interesting that the application was able to detect that a migration was not run and asked to do it right from the error page

https://youtu.be/MZvmYaFkNJI?t=103

[2020-04-26 12:12] flybayer commented on #238
@eliasjohansson ok awesome!

[2020-04-26 12:17] lukasluecke commented on #242
Also similar to what https://flex.symfony.com is providing for Symfony Bundles, their options and configuration is documented at https://github.com/symfony/recipes/blob/master/README.rst.

They actually hook into the package installation to find matching recipes automatically, not sure if that's something we could also accomplish in a postinstall-hook or something?

They also show a note after ins

[2020-04-26 12:27] #246 closed

[2020-04-26 14:09] eliasjohansson commented on #238
@flybayer In your example above you are using `hasMore`. I cannot seem to find where this is coming from.. Did you just copy the react-query example? Im guessing that property is specific to the API they are using? In our case `latestData` will just be an Array of the return type.

[2020-04-26 14:26] flybayer commented on #238
@eliasjohansson ah yes, the example was incorrect. I just updated it along with the return data from the getProducts query. (`hasMore` is part of the data returned from the query)

[2020-04-26 15:17] Zeko369 commented on #228
@flybayer I’d like to hop on this tomorrow when I finish e2e tests

[2020-04-26 16:05] Skn0tt opened #277 "Add Test Setup to `blitz new` template"
### What do you want and why?

The template should encompass a working test-setup to reduce boilerplate and plumbing.
Due to popularity with the React community, I'd advocate for Jest as the test runner.

### Possible implementation(s)

Add a Jest setup to the template.

### Additional context

Since testing is an important part of app dev, we should make it as easy as possible. Maybe some utiliti

[2020-04-26 16:16] Skn0tt commented on #242
Could you elaborate on the advantages of distributing via Git vs using NPM?

Also, as the code to be generated depends on the version of Blitz used, there will be the need for some kind of versioning with the generator scripts.

[2020-04-26 16:25] Fghurayri opened #279 "[Feature Request]: Add i18n"
### What do you want and why?

i18n is immensely needed in any web __framework__.

### Possible implementation(s)

The Nextjs community are yet to agree on the best possible way to implement i18n while keeping SSR / SSG / Serverless working as expected.

Can this be solved by Blitz?

### Additional context

https://github.com/zeit/next.js/discussions/10651

[2020-04-26 17:00] Skn0tt opened #280 "Mutation / Query Mocking utilities"
### What do you want and why?

Commonly, API calls will be mocked out in tests in order to decouple and speed them up.
Since one of Blitz core concepts is to hide network calls and replace them by (opaque) RPC, the natural counterpart would be to just mock out the generated network fetching logic instead.

The interface could look like this:

[code]

### Possible implementation(s)

Since Blitz alr

[2020-04-26 17:39] eliasjohansson commented on #277
+1, would be really sweet with a jest configuration in the template. Would love to see react-testing-library examples from the template aswell.
Looks like this has been discussed before (#97), parts of it might already be in the works.

[2020-04-26 18:19] aem commented on #280
Do we need this? Couldn't we just mock the `getProjects` fn in that example?

[2020-04-26 19:42] Skn0tt commented on #280
You've got a point there -  I should've explained why simply running `jest.mock` isn't sufficient 😅

So the problem is that the useQuery hook [requires a cache key](https://github.com/tannerlinsley/react-query#queries), which is hidden away [in Blitz' code generation](https://github.com/blitz-js/blitz/search?q=cacheKey).

When mocking `getProjects`, you'd need to assign that cache key:

[code]

Si

[2020-04-26 20:33] aem commented on #235
I didn't realize this was a discussion rather than a ready-to-implement issue. I personally see very little downside here but lots of upside. Owning our own templating system increases flexibility, it means we own the full pipeline rather than being tied to an external system that can break out from under us, and the guaranteed cross-system compatibility is nice. The implementation is also a nice

[2020-04-27 02:58] ryardley commented on #280
What level of testing are you suggesting this is for?

[2020-04-27 05:12] Skn0tt commented on #280
Mostly integration testing. It would allow you to test behaviour of your components and assert on the neccessary calls being made.

[2020-04-27 05:17] flybayer opened #282 "Add links to instructions for installing postgres database to the new app template page"
### What do you want and why?

Currently the new app template page instructs users to run `blitz db migrate` but doesn't say anything about installing postgres. We need to add this.

- Link to outside sources on installing postgres on macOS, windows, and linux
- The file to update is `packages/cli/templates/app/app/pages/index.tsx`

Let me know if you have any questions!

[2020-04-27 05:18] flybayer commented on #260
Ok cool — yeah we need to add this to the new app template page. Here's the issue for this: https://github.com/blitz-js/blitz/issues/282

[2020-04-27 05:18] #260 closed

[2020-04-27 05:22] flybayer commented on #269
This issue should have been fixed in `0.6.5`. Can you upgrade to the latest and test?

[2020-04-27 05:36] flybayer commented on #253
Ok, great points you all! Switching to SQLite to #283

[2020-04-27 05:39] #253 closed

[2020-04-27 05:39] #282 closed

[2020-04-27 05:59] Skn0tt commented on #202
I'll have a go with this, considering I've already worked on `blitz new` :D

[2020-04-27 06:07] flybayer commented on #127
Wow yeah, I can't reproduce either!

[2020-04-27 06:08] flybayer commented on #275
That's an amazing idea!

[2020-04-27 06:10] flybayer commented on #275
Probably a prerequisite for this is adding a custom Blitz development error page. Currently we just have the default Next.js one

[2020-04-27 10:34] Skn0tt opened #289 "[Feature] Docker Images"
### What do you want and why?

There should be an easy way to package Blitz applications in a Docker image.
Therefore, It'd be great to have some kind of well-thought-out, fully working Dockerfile available to users.

### Possible implementation(s)

The Dockerfile could either be part of the `blitz new` template or be generated using [installers](https://github.com/blitz-js/blitz/issues/242).

###

[2020-04-27 11:20] flybayer commented on #277
Also Cypress!

[2020-04-27 11:23] kandros commented on #289
this is a possible solution that uses a multistep build to improve the final image which will only have dependencies necessary to run a production server

[code]

[2020-04-27 11:26] flybayer commented on #279
I've never implemented i18n myself, but I agree Blitz should solve this.

So I'd love to hear proposals or ideas on how we should do this!!

[2020-04-27 11:28] Skn0tt commented on #289
Ah yes, looks a lot like what I've thought of. I'd add the we shouldn't need `ENV NODE_ENV production` since that's already set by running `yarn build` and also, we should add a health check.

[2020-04-27 11:44] #238 closed

[2020-04-27 12:14] Johnson444 opened #292 "[Feature] Create alpha example with knex or pg driver instead of prisma"
Thank you very much for Blitz and also that you don't focus on GraphQL. I share your opinion that GraphQL is great but might be to heavy for indie developers.

### What do you want and why?

Following up on your twitter tweet it would be cool to add an example to the alpha that explains how to use blitz with native db driver instead of prisma.

I am interested mostly how to share the db connection

[2020-04-27 13:13] Skn0tt opened #294 "[Feature] Healthcheck Endpoint"
### What do you want and why?

Applications commonly require status endpoints for monitoring purposes.
It'd be great if Blitz supported that out of the box, preferably with included health checks of all necessary resources.

[code]

Registering a new resource to be health-checked could work like this:

[code]

We could readily bundle healthchecks with officially supported resources, e.g. the Prism

[2020-04-27 14:05] aem commented on #280
Jest mocking shouldn't require a mock cache key, the call should never hit the underlying implementation which means the cache key should be irrelevant 🤔 unless I'm reading this wrong

[2020-04-27 14:06] aem commented on #294
An interesting question here is if we expect much of the usage to be serverless, a healthcheck endpoint is a bit useless, right? You'd need to verify each endpoint individually. It's not like a traditional long-running server where one endpoint being live means the whole app is working correctly

[2020-04-27 14:08] Skn0tt commented on #280
The cache key is not a required part of the implementation, but solely to make it work with react-query. Testing components would hit react-query implementation, so that's why it's relevant.

[2020-04-27 14:14] aem commented on #292
Hm. So I like the idea of letting people work in the environment they work best, but my concern about not being opinionated about Prisma is that we lose some control over the ecosystem and lose the ability to have a truly batteries-included implementation. For example, it would be quite challenging to truly support an arbitrary database abstraction with `blitz generate`, if we make it easy to not

[2020-04-27 14:17] ryardley commented on #280
I get why you might want that but I am not sure that testing at that level makes a whole lot of sense honestly. Testing your backend talks to your frontend should probably be done with cypress. The cache key stuff will likely go through a lot of churn soon so anything we do here would need to be changed too. You still have standard jest based react-testing-library for pages and can simply use jest

[2020-04-27 14:17] Skn0tt commented on #294
I'm not that familiar with serverless deployment scenarios, but isn't there something like health / heart beat monitoring on serverless platforms?
Also, considering configuration and attached resources being shared across functions, health state should be consistent across function executions, right? So verification of all endpoints would only be necessary for stateful functions, which is a server

[2020-04-27 14:20] ryardley commented on #292
I think it would be fine so long as we provided a plugin architecture around it. We should be developing in such a way to enable this.

[2020-04-27 14:24] Skn0tt commented on #280
Well that's exactly the problem here: Mocking out return values for queries isn't easily possible, as the recommended way (`useQuery(myFunnyQuery)`) requires that cache key to be present in mocks - or am I missing something here? Actually, failing to test using `react-testing-library` and `jest.mock` is what inspired this issue in the first place.

[2020-04-27 14:32] aem opened #295 "Uniform code style in monorepo"
### What do you want and why?

We should standardize the code style in the monorepo. As the project grows and we add more functionality, consistency will be crucial in allowing the core team to review PRs efficiently, as well as allowing contributors to move between parts of the codebase without too much friction.

As discussed in Slack, we'd like to start enforcing two rules:

1. Named exports fo

[2020-04-27 14:36] ryardley commented on #295
I think this sort of thing should be done completely by linting rules or not at all. There is also Kent Dodd’s prettier for file structures idea which might be an interesting thing to throw in the mix.

[2020-04-27 14:44] aem opened #296 "Pipe yarn/npm output to log file rather than stdout"
### What do you want and why?

The `blitz new` process looks scary because of all of the `npm`/`yarn` install output. We should hide this from the user and instead show them a nice loading spinner and maybe even some helpful docs to read while the process is running.

### Possible implementation(s)

`cross-env` should give us a way to pipe the output to, well, not the console. Worst case we can up

[2020-04-27 14:46] ryardley commented on #295
Maybe this too? https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-default-export.md

[2020-04-27 14:50] Zeko369 commented on #295
We should defiantly also add this https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/first.md to keep imports organised, currently we just add them left and right without organising them.

We should keep them
1. Packages
2. Internal packages (core/cli/server)
3. Local files

[2020-04-27 14:53] jportela commented on #295
I agree that this should be enforced by linting rules. I think we should still start by migrating the file names incrementally, to minimize merge conflicts, and then enable the relevant rules. Enabling the rules first would mean that we would only be able to commit the changes all in one batch. I think these two rules are a good start, I'm assigning this to myself to get myself familiarized with t

[2020-04-27 14:54] jportela commented on #295
@aem can you assign this to me? Should I get started on manually changing the files?

[2020-04-27 14:58] flybayer commented on #295
Yeah we start changing files and also add the lint rules. We can set them as warnings until we get everything migrated

[2020-04-27 15:00] jportela commented on #295
setting them as warnings for a start is a good idea, to check on progress (we can always disable the rules if they become too noisy for regular development)

[2020-04-27 15:08] aem commented on #295
I'm actually pretty against enforcing import order. Having ordered imports doesn't really add anything to the DX in my experience but definitely introduces overhead by forcing developers to fight with the linter. If you find yourself manually updating imports then the other rules have failed, as they're intended to make auto-import work better. For removing unused imports, a quick shift+option+O i

[2020-04-27 15:19] aem commented on #292
I think that's fair, but currently we're fully baked in on Prisma right now. I think we should put this on the backlog until #242 is fleshed out. Until then We don't really know how to architect the CLI to support this. Maybe we should have an architecture call about #242 soon?

[2020-04-27 16:09] rhoffer21 commented on #269
I just installed for the first time about an hour ago and I am having the same exact issue, Produced the same exact way as described by @jlkiri

Windows 10 | win32-x64 | Node: v10.15.3

blitz: 0.7.0 (global)

[2020-04-27 16:21] eliasjohansson commented on #296
I can look into this!

[2020-04-27 16:30] rhoffer21 opened #299 "[Windows] Blitz crashes after following initial build instructions"
### What is the problem?
Installed blitz, setup a test project and am receiving the following error:
Module not found: Can't resolve 'child_process' in node_modules\@prisma\client\runtime' Could not find files for /projects in .next/build-manifest.json

### Steps to Reproduce:
1.Created a new blitz application
2. Ran blitz start
3. Copied the schema from the documentation into schema.db
4. ran bli

[2020-04-27 17:19] ryardley commented on #280
Ahh ok I see. Sounds to me like we should just have useQuery simply call the resolver function it is passed when it is being tested in jest as the backend won't be available.

[2020-04-27 18:32] rhoffer21 commented on #299
I just noticed this says it requires node v12 and im rocking v10.  Let me upgrade real fast and see if that does the trick.

[2020-04-27 18:38] alvaromashiro opened #301 "Support custom port + friendly help if port already in use"
### What is the problem?
Starting blitz app with command blitz start, and if default port which is  3000 and that port is used by example by an app in react dont change the port

### Steps to Reproduce:

1. 2. start react app
1. 3. start blitz app

### Versions:

[code]

### Supporting Documentation

Please include applicable logs and screenshots that show your problem.

[code]

[2020-04-27 20:24] Skn0tt commented on #280
So like this ...

[code]

(has the problem of not resembling react-query characteristics, which makes tests less useful)

... or like this ...

[code]

(has the problem of the cache key, `resolver.name` in this case, being potentially duplicated, which could clash with its query cache)

... or some totally different way? Is there an option I'm missing here?

[2020-04-27 20:28] Zeko369 commented on #301
Yup, noticed this today. We should add a CLI prompt to run it on another PORT or exit

[2020-04-27 21:43] dajinchu opened #303 "[Feature] Add custom server support for websockets, etc"
### What do you want and why?

Apologies if this is already supported, but it doesn't seem possible to run websockets since there's no way to hook into the http server?

### Possible implementation(s)

**There could be dedicated support for websockets.**

1. In the queries and mutations you could import 'ws' similar to 'db', which gets a singleton of a SocketIO.Server which you can use to emit thi

[2020-04-27 21:54] Zeko369 commented on #303
If I'm not mistaken @flybayer suggested having an ability to expose the server in the future for full-stack deploys, because then we have a problem of the app not being able to be hosted on now/zeit/vercel/howeverItIsCalledNow

[2020-04-27 23:55] ivandevp commented on #301
I'd like to work on this issue 😃

[2020-04-28 00:02] ryardley commented on #303
This is a good suggestion however it is not easily compatible with our primary deployment target which right now is serverless api functions. This sort of usecase could be abstracted away by an eventual underlying architecture that enables serverside resolvers can call clientside resolvers via long polling or something like that but for now this is likely a backlog item.

[2020-04-28 00:56] aem commented on #301
I think it's probably not worth prompting the user, we should just keep incrementing by 1 until we find an open port

[2020-04-28 00:59] aem commented on #235
This seems uncontroversial, relabeling as ready for dev since the PR seems to be acceptable

[2020-04-28 01:09] aem commented on #236
Ok I've done some thinking and here's how I'd like to go about this:

1. Add a new, meta `blitz generate template [type] [name]` command. It'll accept the same `type`s as `blitz generate`, and will generate a template called `[name]` in `/templates/[name]`, with files copied directly from our existing templates. From there, the user can modify the template however they want. These templates should

[2020-04-28 01:13] aem commented on #234
This can probably be done incrementally to get users an MVP as quickly as possible, rather than trying to support all of this at once. My existing solution gets us close to the MVP. The one addition I'd like to make would be rather than parsing the values inline in the ModelGenerator, to have a `PrismaField` class that can take the colon-delimited string and parse it into a complete line of text f

[2020-04-28 01:19] aem commented on #232
For queries and mutations this is pretty self-explanatory. For pages, will the context path also create a path prefix or just a top-level page with a logical organization in the file system? As a concrete example, using the `admin/tasks` example above, which of the following would we generate:

1. `app/admin/tasks/pages/admin/index.tsx`
2. `app/admin/tasks/pages/admin/tasks/index.tsx`
3. `app/admi

[2020-04-28 02:35] dajinchu commented on #179
down to try working on this

[2020-04-28 02:39] wKovacs64 commented on #299
Confirmed it's crashing on Windows 10, although I'm getting a different error:

[code]

Something is bombing on the `app\projects\pages\projects\[id]` directory (or the `app\projects\pages\projects\[id].tsx` file, maybe - probably both). I added some logging to the snapdragon parser and this was what I got just before the error:

[code]

[2020-04-28 02:49] aem commented on #242
Quick synthesis of the discussion from contributor call today/tonight (depending on your timezone)

* Installers and plugins are fundamentally different - anything that needs to be kept in sync (e.g. databases, templates, etc.) will be handled by the plugins RFC.
* Installers need to have the Next.js examples quality of being easily digestible and explain their intent to the user. The biggest sell

[2020-04-28 07:26] ryardley opened #306 "Architecture direction (discussion)"
### What do you want and why?

This is a big one but could work as a roadmap for what we want in terms of the internal codebase of blitz moving forward.

We need to guide our internal architecture to avoid unnecessary dependencies and spaghetti code.

We want to somehow keep things orthogonal which means following "things that change together stay together" but also allow for horizontal layers to

[2020-04-28 08:23] flybayer commented on #296
We should show more progress than just a spinner. Ideally we could just hide all the warnings and leave the rest.

Npm has a log level flag we can use but yarn doesn’t.

[2020-04-28 09:23] eliasjohansson commented on #239
Just wondering what's the reason for this not working the same as pagination? Can't we build this into `useQuery` aswell?

[2020-04-28 10:01] ryardley commented on #296
We can run `yarn --json` which serializes output (we should do this too eventually)

[2020-04-28 10:44] eliasjohansson commented on #296
So set loglevel for npm and manually format yarn output with `--json`? Looks like npm is going to implement a json flag aswell: https://docs.npmjs.com/misc/config#json. So maybe we can handle both the same way further down the road.

[2020-04-28 12:01] jlkiri commented on #269
I upgraded to `0.6.5` and confirm that `generate all project` generates files correctly. However when I try to `start` I get the following error:

[code]

[2020-04-28 12:13] flybayer commented on #239
@eliasjohansson Good question — if you want to explore how we could do this, that'd be awesome!

[2020-04-28 12:15] eliasjohansson commented on #239
@flybayer Sure, ill have a go at it after work today.

[2020-04-28 12:16] flybayer opened #309 "Upgrade next.js in the server package to be 9.3.6"
### What do you want and why?

Next.js 9.3.6 just released. We need to update this in the `packages/server/` package.

[2020-04-28 12:26] flybayer commented on #292
@Johnson444 is only wanting an example here, not an integration. We can explore a plugin integration later.

But for now someone can go ahead and create an example app that uses Knex instead of Prisma. The generators will generate code that can't be used without modification, but this is better than nothing for now.

[2020-04-28 13:00] karankiri commented on #309
Would like to work on this

[2020-04-28 13:01] flybayer commented on #309
Ok, you got it!

[2020-04-28 13:47] flybayer commented on #303
I would love to support websockets for `blitz start --production`, which runs as a server.

I don't have much experience here, so I'd love ideas and/or prototypes for how this could be implemented.

[2020-04-28 13:52] Skn0tt commented on #299
Duplicate of #269

[2020-04-28 13:54] Skn0tt commented on #299
It's interesting that there's a `/` missing in `node_modules@prisma\client\runtime`, looks like a typo in some template.

[2020-04-28 13:54] Skn0tt commented on #299
Sorry for premature closing, got confused.

[2020-04-28 13:57] aem commented on #292
👍 works for me, I assumed they wanted want an example that's reasonably serviced by the CLI. If we're fine with an example that requires more manual work to iterate then this seems good to give people an idea of the flexibility of the framework

[2020-04-28 14:03] Skn0tt opened #314 "[Meta] Ditch ZenHub for GH Projects"
### What do you want and why?

Having both ZenHub and GitHub Projects enabled is confusing. We should be focusing on usage of one of the tools and disable the other.

@flybayer advocated against ZenHub and Pro-Github Projects.

### Possible implementation(s)

Disable ZenHub, remove it from Contribution Documentation.
Start filing Issues and PRs in GH Projects.

[2020-04-28 14:04] flybayer commented on #314
Duplicate: https://github.com/blitz-js/blitz/issues/228

:)

[2020-04-28 14:06] aem commented on #294
@Skn0tt there probably is a concept still (I'm not familar with it), I just assume it's a little more involved since with serverless one 200 response from a serverless endpoint doesn't mean another serverless endpoint is up and running. Do you want to do some research into common patterns here?

[2020-04-28 14:09] Skn0tt commented on #314
Haha ... 😅

[2020-04-28 14:09] #314 closed

[2020-04-28 14:23] #189 closed

[2020-04-28 15:33] karankiri commented on #257
@flybayer I would love to work on this.

[2020-04-28 16:29] kandros opened #318 "Readme.md at every folder level"
A `readme.md` in every package (folders in`/packages`) explaining what the package does and why it exists would greatly increase the ability to navigate the codebase for newcomers and make sure there is no abstraction leaks from one package to another

## important points
- what the package does
- how it fits in the whole Blitz architecture
- how to work on it locally if it requires special setup

[2020-04-28 16:41] wKovacs64 commented on #303
Yep. I've written a websocket app in vanilla Next.js and the custom server feature was all I needed. Explicit, baked-in support (as DJ mentioned) could be supported down the road but I doubt the juice would be worth the squeeze (at least initially).

[2020-04-28 16:52] wKovacs64 commented on #295
[Ben Awad's Destiny](https://github.com/benawad/destiny#readme) does this, but I haven't used it (also not sure I'm keen on the file structure it produces, but it took me a second to warm up to Prettier too and now you'd have to pry it from my cold, dead hands 😉).

Out of curiosity, why not named exports across the board? I have no opinion either way, and I know default exports for React component

[2020-04-28 16:59] #235 closed

[2020-04-28 17:08] aem commented on #295
React has some functionality that requires default exports. Specifically, `React.lazy`/`Suspense` only works with defaults. Rather than having special rules for components that we expect to be lazily imported, having default exports for all components seems like a more reasonable middle-ground

[2020-04-28 17:19] wKovacs64 commented on #295
Oh, duh. Makes total sense. Thanks. 👍

[2020-04-28 17:36] ivandevp commented on #301
I was checking this issue and it seems to be a problem in Next.js since they already check if a process is running on the same port but Nodejs doesn't throw an error if you have a process running on `0.0.0.0` as host with another running on `127.0.0.1` or `localhost`. For instance, CRA uses `0.0.0.0` as fallback for host and Next.js uses `localhost`, that's why Next.js doesn't throw an error about

[2020-04-28 18:24] dajinchu commented on #303
100% I think the custom server would be the best option. Websockets are a niche use case, with this project being geared towards serverless, so it probably doesn't make sense for baked in support.
However, IMO blitz has a lot of great features other than serverless, but needing to use websockets or other long-running server features shouldn't preclude you from using the rest of blitz.

Seems like

[2020-04-28 19:52] merelinguist opened #322 "Enable React Fast Refresh"
### What do you want and why?

We should enable Fast Refresh for apps by default.

### Implementation

1. Add the fastRefresh flag inside the `withBlitz` config wrapper
[code]
2. Upgrade Next.js to latest canary (>= `9.3.7-canary.5`)

See here for an explanation: https://github.com/zeit/next.js/pull/12008

[2020-04-28 20:26] wKovacs64 commented on #299
I think that was just in his issue text, my error locally has the slash there (FWIW).

[2020-04-28 20:47] eliasjohansson commented on #239
Been playing with this for a while. First of all there seems to be a problem with the useInfiniteQuery types [react-query#390](https://github.com/tannerlinsley/react-query/issues/390#issue-605486043). I had to have almost everything as `any` to even play around with this.

My biggest issue right now is prisma together with infinte query. Prisma does not  provide any "pagination metadata" when usin

[2020-04-28 21:00] Timer commented on #322
This feature is not ready to be enabled by default. Please do not enable it for all users until (at a minimum) https://github.com/zeit/next.js/pull/12222 has been landed.

[2020-04-28 21:19] merelinguist commented on #322
@timer Oh, okay! I saw a tweet from Dan asking people to try it out so I assumed it was at least alpha-ready. Thanks so much for the heads up 👍

[2020-04-28 21:36] Timer commented on #322
https://twitter.com/dan_abramov/status/1255233660317503490

[2020-04-28 22:36] aem commented on #269
I wanted to trace how `snapdragon` even gets into the project, and looking through the `yarn.lock` file, it seems like via:

`globby` -> `fast-glob` -> `micromatch` -> `snapdragon`

I'm guessing that `globby` is struggling with the `[]` in parameterized filenames, specifically our usage in `load-blitz`. We probably need some better handling there to escape those brackets. Next should have some cod

[2020-04-28 22:44] aem commented on #306
I've got a branch locally that splits the `generator` package out of the CLI. I'll wait to open the PR until #305 and #320 get in so we can cleanly move over the generators without affecting open code, but it's a pretty clean break after that. One thing we should note is that we've already got some utils in the CLI that are used both by the generator and the other CLI commands. For now I opted to

[2020-04-28 23:13] aem commented on #127
https://blitzjs.slack.com/archives/CUM2C68T1/p1588115011207900

[2020-04-28 23:59] ryardley commented on #306
I have to say I really agree with this sentiment. I think it might lead to easier maintenance.

I am not sure I think it is not that bad honestly feels more future proof means PRs will be localized to single packages.

As far as the idea of of separating execution context is concerned I think we are going to continue running into the issue of wanting certain things colocated but requiring differen

[2020-04-29 00:04] aem commented on #306
Not sure what the community convention is but I'm 100% on board for skipping the whole build + tooling pipeline for the micropackages. `tsc` would probably do just fine

[2020-04-29 00:14] ryardley commented on #306
I agree

[2020-04-29 01:47] #179 closed

[2020-04-29 02:13] jeffzh4ng commented on #127
No longer able to reproduce the error I was getting from the slack post ^ 🤔

I initially thought switching my yarn version to `1.19.1` fixed it, but tests still passed even after changing back to a version > `1.19.1` (`1.22.4`).

[2020-04-29 02:34] flybayer opened #324 "Enforce no-anonymous-default-export for new app and generators"
### What do you want and why?

[![image](https://user-images.githubusercontent.com/8813276/80555987-46c06800-89fc-11ea-91d1-4d278741e34b.png)](https://twitter.com/dan_abramov/status/1255229440860262400)

There's a lint rule for this: https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-anonymous-default-export.md

They are going to be adding it to CRA which means we'll event

[2020-04-29 02:59] aem commented on #242
Alright. I spent the last several hours drawing up a rough framework for the installers. I think this is fairly all-encompassing of our design discussion. I had to write a bunch of the TS interfaces out to really get a full picture of the situation and here's what I ended up with, let me know what you think: https://gist.github.com/aem/dab2c7eabec5d2acce26702198b6e3a2

[2020-04-29 02:59] flybayer opened #325 "[RFC] Add Form & Field components to new app template"
### What do you want and why?

Forms are tricky, mundane, and always present. We should add a versatile Form component to the new app template that serves as a great starting point for folks.

I came across this [basic Form + Field code with vanilla React by Swizec](https://swizec.com/blog/why-you-should-build-a-form-generator/swizec/9394?ck_subscriber_id=363180798). And I think this would be a pe

[2020-04-29 03:14] dajinchu commented on #127
I'm able reproduce even on subsequent `yarn test`. `1.19.1` and > `1.19.1` does not appear to make a difference.

Digging in, I'm noticing that running test in serial fixes it: `lerna run test` instead of `lerna run test --stream --parallel`

[2020-04-29 03:24] flybayer opened #326 "[RFC] HTTP Middleware"
We already proposed the middleware API in the [architecture RFC](https://github.com/blitz-js/blitz/blob/rfc-architecture/rfc-docs/01-architecture.md#f-middleware), but we need to flesh out a few more details before building.

Middleware is very high priority since it's a blocker for auth, so let's hash this out quickly.

### `preMiddleware`

- Runs before a query/mutation
- Takes the raw Node req

[2020-04-29 03:48] flybayer commented on #228
@Zeko369 will you able to get to this very soon or can someone else take it?

[2020-04-29 04:04] flybayer commented on #257
@karankiri ok let's do it!

Then #228 can be added to this bot.

One problem we need to work out: I've removed the core team & maintainers from the all contributors list so they aren't on the readme twice. We can either add them back and just display twice (not that big of a deal), or we can fork the all-contributor code and make it also generate the maintainer list (this would be ideal)

Do you n

[2020-04-29 04:05] flybayer commented on #257
You can create a dummy repo on your own account for dev and testing, then we can move it over here

[2020-04-29 04:06] flybayer commented on #228
Heads up: Probot is already being started in #257

[2020-04-29 04:15] dajinchu commented on #326
Curious if it would make sense to have a way to specify middleware for a whole folder/page? I'm imagining with an authentication app there's commonly unauthenticated and authenticated pages, so you wouldn't want to add auth middleware globally, but it might be a pain to add it to each individual endpoint.

[2020-04-29 04:18] flybayer commented on #306
Thanks for starting this Rudi!

Having a many folders in the repo is nice because we can more easily delegate code ownership.

The only thing I really care about is that we have a bulletproof way to keep server code out of client-side app bundles. I.e. it should be impossible for anyone to do this on accident.

I like the idea of not having to publish 100 npm packages.

[2020-04-29 04:22] flybayer commented on #326
Good point @dajinchu. Pages will be authenticated at the component level, so middleware won't directly affect that.

I think authentication is fine as a global middleware because authorization will be handled inside queries/mutations. The so if a user isn't logged in but needs to be, the query will throw the Authorization error, not the middleware.

Folder level middleware could easily be added la

[2020-04-29 04:37] flybayer commented on #242
@aem nice!! So what would an actual installer look like?

[2020-04-29 04:55] aem commented on #242
knew I forgot an example 🤦‍♂️something like this, assuming `findNextDocumentTSXFile` is a function that uses the jscodeshift API to return a list of filenames and `addMyLibSetup` adds some reasonable code to each file returned by `selectTargetFiles`:

[code]

[2020-04-29 04:57] flybayer commented on #228
@dajinchu can start work on this right away. So I'm letting him take this over since we need it asap.

You should collaborate with @karankiri for #257

[2020-04-29 05:17] ryardley commented on #306
Ok so could one action point be to setup a simple tsc dev/build/test process for a single package refactoring? Currently the "server" component of core is located in "server" perhaps we can create an issue to bring that together with core so we have a model of colocating different execution contexts?

[2020-04-29 05:20] flybayer opened #330 "Bug: husky hooks not being installed on `blitz new`"
### What is the problem?

Husky hooks aren't being installed for new apps because the git repo is being initialized after dependency install

### Steps to Reproduce:

1. `blitz new myapp`
2. Change a file
3. Commit the the change
4. Notice the pre-commit hook doesn't run

### Versions:

Latest canary

### Possible fix

I think we need to run `git init` before dependencies are installed, but then r

[2020-04-29 05:20] ryardley commented on #306
Could the friction of having to create a package help us avoid that?

[2020-04-29 05:23] flybayer opened #331 "Bug: `blitz new myapp --no-yarn` fails before completion because of prettier"
### What is the problem?

Creating a new blitz app with npm fails without completing

### Steps to Reproduce:

1. `blitz new myapp --no-yarn`
2. It will fail with error `Error: Failed running prettier`

### Versions:

Latest canary

### Supporting Documentation

[code]

[2020-04-29 05:32] #160 closed

[2020-04-29 05:35] flybayer commented on #242
Ok cool — looks promising! Could you update that for tailwind specifically? Would be easier to grok than `my-lib` :)

[2020-04-29 05:36] flybayer commented on #242
Would `findNextDocumentTSXFile` and `addMyLibSetup` be written in the custom installer code or the blitz installer package?

[2020-04-29 05:42] ryardley commented on #306
At risk of changing the topic a little - What do folks esp @merelinguist think about the idea of creating a global reactive frontend that we stream events to?

[code]

At a later point we might want to refactor to use Ink

[code]

This means we can swapout the display engine for an event logger or stream to file or anything really

[code]

[2020-04-29 05:45] Skn0tt commented on #294
# The Serverless Healtcheck Report

For Reference: [Healthcheck Pattern](https://microservices.io/patterns/observability/health-check-api.html)

Goal of this: Find out if and how the concept of health checks exists in Serverless execution environments.

## Environments that support health checks

Although not Serverless per se, Docker and Kubernetes implement health checks. When a pod / container

[2020-04-29 05:47] Skn0tt commented on #294
Considering health-checks are indeed a thing for server-ful applications, we could think about enabling them just for serverfull builds.

[2020-04-29 05:53] flybayer commented on #306
Yeah good for someone to work on this.

**Question**: why rename `core` to `app`?

For development only?

[2020-04-29 05:58] flybayer commented on #303
Ok let's do that. Support a custom `server.js` file.

If `server.js` is present, `blitz start` will use that instead of `next dev/start`

[2020-04-29 06:01] flybayer commented on #239
Ok thanks for digging into this!

Let's keep it separate.

For `canFetchMore`, the query function will have to be modified to return this and anything else needed. Probably need two prisma calls in the query, one for `.count` and one for `.findMany`

[2020-04-29 06:01] ryardley opened #332 "Create `@blitzjs/config` package"
### What do you want and why?

We need a central projectwide place to load user configuration.

Basically when we start any cli process our code should have access to project configuration inside the blitz.config.js

If using an npm module helps set us up to have multiple ways to define our configuration then that makes sense as a future step but it should be limited to `blitz.config.js` initially

[2020-04-29 06:26] kandros opened #333 "Pin RFC issues"
### What do you want and why?

It would be nice to have RFC and other important issues that need discussion/attention pinned

### Possible implementation(s)

https://help.github.com/en/github/managing-your-work-on-github/pinning-an-issue-to-your-repository

[2020-04-29 06:27] flybayer commented on #333
Done :) great idea!

[2020-04-29 06:27] #333 closed

[2020-04-29 06:33] peaonunes commented on #330
I would be happy to collaborate on that 😄

[2020-04-29 06:37] merelinguist commented on #242
@aem I’d love to see what that looks like for tailwind too. FYI, the steps for setting it up in a Next.js / Blitz app normally are documented well here: https://github.com/tailwindcss/setup-examples/tree/master/examples/nextjs.

[2020-04-29 06:40] ryardley opened #334 "Fix `useQuery` rules of hooks violation"
### What do you want and why?

We unfortunately accidentally have had a rules of hooks violation:

https://github.com/blitz-js/blitz/blob/canary/packages/core/src/useQuery.ts#L49

__To avoid a breaking change:__

Investigate switching on hooks configuration to swap out noop objects so we don't have to run hooks in an if

### Possible implementation(s)

[code]

We may want to ensure that the manual

[2020-04-29 06:40] merelinguist commented on #330
@peaonunes Awesome! Have a look at our [contributing guide](https://github.com/blitz-js/blitz/blob/canary/CONTRIBUTING.md), and then feel free to create a pull request when you’re ready.

[2020-04-29 07:03] ryardley commented on #326
You might be thinking this just not sure if this is clear here but we may want to short circuit the response in the middleware so we should ensure we have access to both req and res just like express.

[2020-04-29 07:03] ryardley commented on #326
I think it would be good to be able to put middleware on a query by query basis too.

[2020-04-29 07:13] ryardley commented on #326
Last thought from me: is there any way we can remain compatible with connect middleware for this or is that crazy talk/a dumb idea? `req.locals ->  resolverCtx`

[2020-04-29 07:17] flybayer commented on #97
Closed in #335

[2020-04-29 07:17] #97 closed

[2020-04-29 07:23] flybayer commented on #326
When would it truly be better for middleware to short circuit the request vs in the actual query/mutation?

If I understand what you are saying, my proposal includes this by exporting middleware from the query/mutation file

🤷 I don't know — what does everyone thing about this?

[2020-04-29 07:26] flybayer commented on #322
Thanks @timer!

Reopening this because we still want to do it at some point

[2020-04-29 07:28] flybayer commented on #242
@aem @merelinguist we already have a Blitz tailwind example at `examples/tailwind`

[2020-04-29 07:29] merelinguist commented on #306
@ryardley I’ve actually been thinking a *lot* about this, especially while building the GUI, and I think that’s a golden idea!

[2020-04-29 07:29] ryardley commented on #306
In my head it is because any code that changes alongside code that actually runs in an __app__ should live there (including generator/server-manager templates). Perhaps the semantics aren't right I think @merelinguist could have something good to say about that. Maybe `framework` also make sense. I think `core` could end up a catchall and is not that descriptive. Not attached at all happy to roll

[2020-04-29 07:31] ryardley commented on #306
I think having some kind of simple state machine in the view will help structure too

[2020-04-29 07:32] ryardley commented on #306
The tradeoff to be clear is that we get a certain coupling around events as they are the value objects of the system

[2020-04-29 07:33] flybayer commented on #306
I like `framework`. My concern with `app` is "app" usually is describing an end-user app. This could be confusing to see in our code for beginners and passer-bys. But `core` or `framework` both convey that this is custom blitz internals

[2020-04-29 07:34] ryardley commented on #306
I agree

[2020-04-29 08:06] ryardley commented on #306
Ok so for me this one is a toughy:

I think enquirer should be wrapped by our display application and we should be using an enquirer like interface on that to write out questions however...

Do we ask the questions within the cli or do downstream systems manage that process of qualifying input?

My gut says cli should do it but I am close to on the fence with this one. It could be both.

[2020-04-29 08:29] eliasjohansson commented on #334
Hmm, did we just implement hooks validation? Did not think of this. It's unfortunate react-query doesnt have a `skip` parameter like apollo useQuery..

[2020-04-29 08:33] ryardley commented on #326
Access control

👍

[2020-04-29 08:58] ryardley commented on #334
I found a `manual` property that might work for our needs but needs to be tested

[2020-04-29 09:48] merelinguist opened #338 "Blitz breaks when Prisma is not installed in certain environments"
### What is the problem?

### Steps to Reproduce:

1. See this CodeSandbox

2. Run `yarn start`

3. This error should be produced:

[code]

### Versions:

[code]

### Supporting Documentation

See above.

[2020-04-29 11:11] waptik commented on #279
So after going through all possible solutions/examples, [with-i18n-rosetta](https://github.com/zeit/next.js/tree/canary/examples/with-i18n-rosetta) looks like the best possible solution at the moment ([demo](https://with-i18n-rosetta.now.sh/)) . No difficult setup nor extra build steps.
Besides, you can also use your locales as packages and easily import them in your projects like how [Uppy](https

[2020-04-29 12:44] Zeko369 commented on #332
I can add this and then merge #159

[2020-04-29 14:05] aem commented on #242
Could theoretically be either. I'd guess eventually we'll see some common patterns and want to build out some shared utilities, but initially we'll probably have installer authors write their own. That example was a quick and dirty version, but I should be able to get something more realistic written up that actually uses the jscodeshift API today.

[2020-04-29 14:12] aem commented on #306
Mabye a middle ground where we have a `@blitzjs/prompt` package that's a thin wrapper around `enquirer` and provides some stock prompts (generic confirm prompt, select a file path, etc, just a few that we'll need regularly), and then anything as far as the actual input qualification and validation we leave up to the consuming package?

[2020-04-29 14:44] karankiri commented on #257
@flybayer I'll create a new repo on my account.

It should be added when PR is raised, is that right?

[2020-04-29 16:55] bushbass opened #343 "Can't resolve 'child_process' - while going through User guide on win10"
### What is the problem?
Following the user guide on my windows 10 and when I get to the step where you go to /projects I get an error

### Steps to Reproduce:

I took notes on my attempts: https://github.com/bushbass/myFirstBlitzApp/blob/master/notes.md

### Versions:

[code]

### Supporting Documentation

Please include applicable logs and screenshots that show your problem.
See the link to my n

[2020-04-29 17:10] eliasjohansson commented on #343
Thanks for the issue! Super helpful with the detailed notes. :)

[2020-04-29 17:55] wKovacs64 commented on #343
Thank you, @bushbass - excellent detail! Sorry for the troubles.

From glancing at your notes, you ran into a lot of issues I haven't seen yet but the first error you got looks like #299. We need to nip this one in the bud. 😅

[2020-04-29 18:07] wKovacs64 opened #345 "[server] Blitz server tests are failing on Windows"
### What is the problem?

Blitz tests are failing on Windows after merging #323.

### Steps to Reproduce:

1. Clone repo
1. `yarn`
1. `yarn test`

### Versions:

Windows 10

### Supporting Documentation

<details>
<pre>
@blitzjs/server: FAIL test/api-routes.test.ts
@blitzjs/server:   ● Dev command › should copy the correct files to the dev folder
@blitzjs/server:     expect(received).toEqual(expec

[2020-04-29 18:09] dajinchu commented on #345
investigating...

[2020-04-29 20:24] agnelnieves commented on #318
I would love to work on this

[2020-04-29 21:01] merelinguist opened #348 "Remove purgecss from tailwind example"
### What do you want and why?

Tailwind now supports purgecss by default! We should use this rather than including it in the example’s `postcss.config.js`

### Possible implementation(s)

1. Upgrade tailwind to the latest version

2. Uninstall `postcss`

3. Remove `postcss` related code from `examples/tailwind/postcss.config.js`

4. Edit the `tailwind.config.js` as described here https://github.co

[2020-04-29 21:04] mroushdy opened #349 "APIs"
Does Blitz make it faster to build CRUD APIs or is it mostly for web?

[2020-04-29 21:51] osirvent opened #350 "Ugly error on [id] when trying to view item that doesn't exist in the DB"
### What is the problem?
TypeError: project is null

### Steps to Reproduce:

Try to access to an item that doesn't exist through route `http://localhost:3000/projects/3`

### Versions:

[code]

### Supporting Documentation

<img width="360" alt="imagen" src="https://user-images.githubusercontent.com/5927133/80650299-0a305300-8a74-11ea-9ad2-d3118b5426aa.png">

[2020-04-29 21:56] MrLeebo commented on #349
Good question! With blitz, you can code as if you have a function with direct access to your database in your React app. During compilation Blitz will take that data fetching function and generate an RPC endpoint around it. So you can focus on building your app while blitz generates the API layer for you.

[2020-04-29 22:24] MrLeebo commented on #350
This is a good observation. It would be easy to add a null check to the page template, but I don't think that every page in the app should have to check for null. Seems to me like the query should just throw a ModelNotFound error on a missing ID lookup and `blitz new` should generate a generic NotFound page component to route those errors.

[2020-04-30 01:31] #309 closed

[2020-04-30 02:01] Jfelix61 commented on #348
Would love to work on this!

[2020-04-30 02:01] wKovacs64 commented on #188
We need to get this going ASAP, I can't keep up with all the Windows issues, haha! 😅

Most projects I've seen targeting Windows in CI use AppVeyor, but it appears [GitHub Actions supports Windows Server 2019](https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#github-hosted-runners). I'll try to mess around with this tomorrow.

[2020-04-30 02:26] ryardley opened #352 "Workout better file system mocking for tests"
### What do you want and why?

We now have mock-fs handling our in memory tests but there are issues with it in the broader sense.

https://github.com/blitz-js/blitz/pull/347#pullrequestreview-403152892

* Needs to work on windows
* Act as a fs overlay
* Can be reset per test

### Possible implementation(s)

unionfs/memfs

[2020-04-30 03:08] flybayer commented on #350
Yes @MrLeebo I think you are right that throwing an error and having an auto 404 component would be best for this.

[2020-04-30 03:16] wKovacs64 opened #353 "Building store example fails on Windows"
### What is the problem?

Maybe the relative synchronizer rule is normalizing import paths when it shouldn't? Not sure yet.

### Steps to Reproduce:

1. Clone Blitz repo on Windows
1. Either run the tests, or cd into `examples/store` and try to build the store example
1. Observe `Bad character escape sequence` error

### Versions:

[code]

### Supporting Documentation:

[code]

Blitz code (`exampl

[2020-04-30 03:54] mroushdy commented on #349
My question was more about using blitz to build a backend for an iOS app

[2020-04-30 03:56] aem commented on #242
@flybayer @merelinguist I updated the example to use tailwind, which is much clearer, less contrived, and honestly that code could probably be copy-pasted into the official tailwind installer once the installer internals are built out. I added some comments for things that aren't obvious in the example since it doesn't have typescript types

[2020-04-30 03:57] aem commented on #242
But having said that, it does compile! Locally all of the types check properly e2e, including the installer scaffolding from my RFC gist

[2020-04-30 04:29] flybayer commented on #242
@aem awesome!!

- We need a way to set packages as regular or dev dependencies
- We can auto provide the path to `_app.tsx` and `_document.tsx` (look it up for them)

[2020-04-30 04:35] aem commented on #242
@flybayer for sure! i think a lot of that stuff will be fleshed out more during implementation, the idea here was just to give an idea of what the API/step framework looks like

[2020-04-30 05:05] flybayer commented on #279
Awesome, thank you @waptik.

So the Next.js team is working on an official i18n solution. I think we should wait and see that before doing something ourselves.

Only bummer is they haven't given a timeline.

[2020-04-30 05:21] flybayer commented on #257
So the code for this and for #228 (by @dajinchu) will go in the same bot (unless there's a good reason not to)

And we'll host it under the Blitz Vercel account, so I can set that up and also add the live Github keys for this repo

I think we should probably create a new repo just for the bot. What do y'all think?

[2020-04-30 05:23] dajinchu commented on #257
Yeah a new repo would be perfect. I'm just messing around in my personal repo for now https://github.com/dajinchu/gh-project-bot/projects/1

[2020-04-30 05:43] flybayer opened #360 "Blitz server manager doesn't ignore files defined in .gitignore"
### What is the problem?

The Blitz internal server manager is processing files that are ignored by git.

This isn't a critical issue, but it could cause perf problems if there are ignored directories with thousands of files.

### Steps to Reproduce:

1. Add a file to .gitignore
2. blitz start
3. Change that file
4. See the following:
[code]

### Versions:

Canary

cc @ryardley

[2020-04-30 05:43] Skn0tt commented on #349
Blitz will add support for React Native development in the future, but building backends is out of scope for this. You can read more about this in the [Blitz Manifesto](https://github.com/blitz-js/blitz/blob/canary/MANIFESTO.md#2-api-not-required).

[2020-04-30 05:46] Skn0tt commented on #349
If you've got any more questions on Blitz usage, feel free to come by to [our Slack](https://github.com/blitz-js/blitz#welcome-to-the-blitz-community-)! ☺️

[2020-04-30 05:46] #349 closed

[2020-04-30 05:53] flybayer commented on #349
@mroushdy yeah, currently the answer to your question is "no". But this is a key future feature for us.

There will be two ways to use Blitz from a mobile app:

1. Direct integration with the same "no API" experience
2. Use an RPC client to access all the same Blitz queries/mutations but without the direct integration. This could be generated with full TS types.

[2020-04-30 05:59] #324 closed

[2020-04-30 06:04] flybayer commented on #257
New repo here: https://github.com/blitz-js/bot-github

You both have direct access to it now

[2020-04-30 06:13] dwightwatson opened #361 "Allow passing port to blitz start"
### What do you want and why?
I want to be able to run the development server on a different port, in case I'm running multiple Blitz apps side by site, or I'm using port 3000 for something else. Next.js lets you do this with the `-p` or `--port` flag - for example `next start -p 8000`.

### Possible implementation(s)
This is a little hairy because `blitz start` already has a flag `-p` for product

[2020-04-30 06:14] flybayer commented on #236
Nice!

- Can we use "eject" since folks are so common with that
	- So like  `blitz generate eject ...args`
- Why do we need both `type` and `name`?
- Are we ejecting the actual generator class too or only the template? I was initially thinking the later, but I think we should do the former. Then users can even create totally new generators like `component` for example. So like `blitz generate gene

[2020-04-30 06:17] flybayer commented on #232
The context path will not go inside `pages/`, so the result would be (3)

`--parent` will be used for page nesting

We might need to add another flag later for arbitrary page nesting

[2020-04-30 07:02] ryardley commented on #236
Awesome feature idea but personally I would question if "eject" is the best terminology here. Eject to me feels like a permanent change where I as a dev have no further use for the cli since everything is now available as a script that I can fully customize.  Would "custom generators" be a better way to describe the feature?

[2020-04-30 07:34] flybayer commented on #295
Is this issue done now that #298 is merged?

[2020-04-30 07:38] merelinguist commented on #361
Thanks for the issue! This is an interesting problem, but I think your proposed solution sounds the most sensible. I’m interested to see whether anyone has any ideas for preferred flags for the production startup, and then this would be a good first issue.

[2020-04-30 07:39] flybayer commented on #294
Let's park this for now. It's very easy to add a custom api route for a health check endpoint if someone needs.

If serverful was our default, then I would for sure add this, but it's not :)

[2020-04-30 07:42] flybayer commented on #301
I think the first solution is to ensure Next.js cli arguments are passed through from `blitz start` to `next dev`. `next dev` already accepts a port parameter

If we can add inteligence for detecting port already in use, then let's add that too.

[2020-04-30 07:44] flybayer commented on #334
The other solution is simply not support the paginated value changing — throw an error if `paginated` ever changes

[2020-04-30 07:49] #348 closed

[2020-04-30 07:51] flybayer commented on #236
Even if we make it clear you are "ejecting a template" (or generator) instead of "ejecting blitz cli"?

This would be on a doc page under advanced generator usage. So I don't think it would be confusing.

[2020-04-30 07:52] jportela commented on #295
No, I’m finishing a PR that addresses the rest of the fixes

[2020-04-30 07:54] flybayer commented on #361
@dwightwatson your point about `-p` is very good. I definitely overlooked that.

Also, it turns out we already have an issue open for this port thing: https://github.com/blitz-js/blitz/issues/301

So I'll close this in favor of that one, but I'll comment over there about changing the flag.

[2020-04-30 07:54] #361 closed

[2020-04-30 07:55] dwightwatson commented on #361
I did search but that issue didn’t come up bizarrely! Thanks 😊

[2020-04-30 07:56] flybayer commented on #301
@dwightwatson also opened an issue for this (#361) and he has a very good point that we are currently using `-p` for "production" instead of port.

- So we need to remove the `-p` alias and only have `--production` for production.
- Then `-p` will be for PORT, like other frameworks.

---
From @dwightwatson
### What do you want and why?
I want to be able to run the development server on a different

[2020-04-30 07:59] flybayer commented on #301
@ivandevp This is ready for you to work on if you still want!

[2020-04-30 08:01] flybayer commented on #188
Awesome, let me know if you need any help from me! Slack DM or a direct tag here in GH are the best ways to get my attention

[2020-04-30 08:06] flybayer commented on #318
Very nice @kandros — I was going to open an issue for this.

I'm also adding to this, that we should have a Readme.md in almost every folder explaining everything at that level.

**Note:** Do not put a README.md at `packages/blitz/README.md` because that will be clobbered by the NPM release process which temporarily copies the root readme to that location for publishing to npm. However, it could s

[2020-04-30 10:09] waptik commented on #279
@flybayer 😱 wow, that's great news 😋. I think an official solution is the best way to go, especially if it's coming from the authors.
So it's worth waiting 😊
Thanks for sharing the good news

[2020-04-30 10:58] Skn0tt commented on #352
Also, mock-fs doesn't work with oclif.

[2020-04-30 11:11] Skn0tt commented on #334
I'm not that familiar with useQuery's characteristics, but wouldn't smth like this work?

[code]

[2020-04-30 12:05] reiwa commented on #343
The same error:

[code]

[code]

[2020-04-30 12:52] ryardley commented on #352
@Skn0tt fair point if we want something that will be universal.

[2020-04-30 12:58] ivandevp commented on #301
@flybayer for sure! I'll start working on it today.

[2020-04-30 14:30] aem commented on #236
The `type` arg is to choose which Blitz template to base the new template from. However, we'd also need to give the new template a custom name - if we give it the same name that we use for our templates then there's no way to access the old template anymore. I think it's probably pretty likely that the user would want to, say, create a few different `page` templates based on different segments of

[2020-04-30 16:14] bushbass commented on #343
I'm admittedly a newbie so I don't know if this makes any difference, but I noticed in console it said:
[code]
does it matter that it's using backslash and forward slash?  Sorry if this is a total newb question.

[2020-04-30 16:27] wKovacs64 opened #372 "VSCode ESLint integration not working"
### What is the problem?

The introduction of `.eslintrc` in #298 broke VSCode/ESLint integration (reproduced on multiple devices).

### Steps to Reproduce:

Assuming you had ESLint working in VSCode previously...

1. Clone Blitz repo (current `canary` branch as of this issue being logged)
1. Install dependencies (`yarn`)
1. Open in VSCode
1. Open a file (e.g. `packages/core/src/index.ts`) and obs

[2020-04-30 22:25] eliasjohansson commented on #334
Yea something like that. Im off work tomorrow so can have a go at fixing it then. If  nobody else jumps on it while im sleeping 😅

[2020-05-01 00:19] cr101 opened #374 "Add Material-UI example app"
Example project that uses [Material-UI](https://github.com/mui-org/material-ui)

[2020-05-01 00:29] cr101 opened #375 "LinkedIn Login"
Add simple app to demo Linkedin login

[2020-05-01 00:55] aem opened #376 "Add helpful message about installing git during `blitz new` if it doesn't exist"
### What is the problem?

@peaonunes pointed out [here](https://github.com/blitz-js/blitz/pull/367#discussion_r417950403) that we don't error out if any of the git steps fail, so I wanted to open it for discussion. Basically, if any step of the `git` initialization process fails we still exit with a success code and the resulting output could be not committed to git, or potentially even the reposi

[2020-05-01 03:07] Jfelix61 commented on #353
#### Problem
After some investigation, the [`relativeToAbsolute`](https://github.com/blitz-js/blitz/blob/99b4cd628c25a6d647a33e0bcaf249e2a11f6da6/packages/server/src/synchronizer/pipeline/rules/relative/index.ts#L42) function is the culprit. `path.sep`, `process.cwd()` and the file's paths are being returned with back slashes.

[`relative-paths.test.ts`](https://github.com/blitz-js/blitz/blob/99b4

[2020-05-01 03:39] flybayer opened #377 "`blitz` takes too long to install"
### What is the problem?

`yarn global add blitz` or `npm i -g blitz` takes a long time, presumably because we have so many dependencies.

We need to see how we can optimize this. Do we have some really heavy dependencies that swap out with something else? Or maybe we are only using one small part of a large dependency that we can inline into our code?

### Versions:

[code]

[2020-05-01 03:52] flybayer opened #378 "[Easy] Need to change `@blitzjs/core` to `blitz` in new app template"
### What is the problem?

The below change needs to be made in

`packages/cli/templates/app/app/pages/_document.tsx`

[code]

**Note:** this is an easy change, so let someone take this who hasn't contributed to Blitz before

[2020-05-01 04:08] CarterMcAlister commented on #204
I ran into this issue on Catalina and was able to resolve it by removing and then reinstalling `next` in my project.

[2020-05-01 04:18] developerfred commented on #378
I wiil do

[2020-05-01 04:56] flybayer commented on #301
I previously said we just need to pass through all args to Next.js. That would make this work, but I realized what we really should do is add all the Next.js CLI options directly into our CLI.

This way `blitz start -h` will show all the available options. Next supports the following:
[code]

So add those into `blitz start` exactly the same, and pass those args to Next if used.

[2020-05-01 04:57] flybayer commented on #242
@aem sounds glorious!

[2020-05-01 05:01] flybayer commented on #376
I totally agree that any non-critical failure (like git, pkg installation, etc) should not fail the entire process. Showing a helpful message about what we couldn't do is fantastic.

For git specifically, it probably means git isn't installed, so we should add instructions/link on how to do that.

[2020-05-01 05:03] Skn0tt commented on #374
Thank you for that idea, sounds good to me 👍🏻 Would you be open to provide a PR? 🙈

[2020-05-01 05:04] #331 closed

[2020-05-01 05:06] Skn0tt commented on #375
Thanks for taking the time to create the issue 🎉 I think this has to wait until after https://github.com/blitz-js/blitz/issues/326 is implemented, since Blitz' auth implementation will rely on middleware.

[2020-05-01 05:09] #372 closed

[2020-05-01 05:15] Skn0tt commented on #377
I'll have a look at this.

[2020-05-01 05:16] Skn0tt commented on #377
If install time is a key metric we're focusing on, we should think about having some kind of hard limits on file size that we enforce as part of our CI.

[2020-05-01 05:49] peaonunes commented on #376
Yeah, I do think it is not critical for the new app to be able to run. Some tools like `husky` will be configured, but not work anyway. We could look for inspirations in other clis, but a helpful error message with instructions may be enough for now.

[2020-05-01 06:12] Skn0tt commented on #377
Judging from [this](https://arve0.github.io/npm-download-size/#blitz), Next.js makes up 90% of our dependency size (14mb total, 12mb of that is Next.js).

[2020-05-01 06:21] #202 closed

[2020-05-01 06:21] #262 closed

[2020-05-01 06:32] Skn0tt commented on #377
## Some totally non-scientific measurements:

In a clean environment (`docker run node:12.16`), `yarn global add blitz` finishes in 42s and fetches 950 different packages. For me, it finishes in 40secs.

On my host system, where there's already lots of dependencies installed globally, it fetches ~2400 different packages and finishes in 60secs. A lot of this time is spent "building fresh packages",

[2020-05-01 06:33] #360 closed

[2020-05-01 06:41] Jfelix61 commented on #374
I would love to take this issue.

[2020-05-01 07:21] flybayer commented on #374
Awesome @Jfelix61! Let us know if you need any help!

[2020-05-01 07:22] #296 closed

[2020-05-01 07:57] nabi009 opened #383 "`blitz db` should print help message instead of error"
command: blitz db

 ›   Error: Missing 1 required arg:
 ›   command  Run specific db command
 ›   See more help with --help

the description should be clear to user, that missed command or shows db related command.
such as:
**blitz db migrate
blitz db introspect
blitz db studio
etc ....**

[2020-05-01 07:59] flybayer commented on #213
Re-opened because #369 broke `blitz start/build` when published to npm. It worked fine in the monorepo, but not after published to npm.

It logged `◢ Preparing for launch⏎` then exits with non-0 exit code

[code]

Reverted in https://github.com/blitz-js/blitz/pull/384

[2020-05-01 08:07] reiwa commented on #343
I tried import and call `db` function in `app/pages/index.tsx` : https://github.com/reiwa/blitz-issue-299

[2020-05-01 08:09] flybayer opened #385 "Blitz server should show a helpful error if user tries to use `db` inside a React component"
### What is the problem?

It's too easy to mistakenly try to use the database client inside a React component. Currently you get a totally cryptic error:

[code]

We need to somehow detect this and throw a helpful error so the user knows exactly how resolve it

Note: it is ok to import `db` and use it inside `getServerSideProps`, `getStaticProps`, and `getStaticPaths`.

### Steps to Reproduce:

1.

[2020-05-01 08:12] flybayer commented on #343
Yeah, like @reiwa said, @bushbass are you by chance using `db` inside a component?

I opened an issue for making this error actually helpful: https://github.com/blitz-js/blitz/issues/385

[2020-05-01 08:13] flybayer commented on #383
Thank you @nabi009, you're absolutely right!

[2020-05-01 08:42] flybayer commented on #213
@ryardley false alarm. Still failing when published to npm without that.

I'll merge that PR back in, but first figuring out this other issue

[2020-05-01 08:55] #213 closed

[2020-05-01 09:49] flybayer opened #388 "`blitz start` broken in 0.8.0-canary.4"
### What is the problem?

### Steps to Reproduce:

1. `yarn global add blitz@0.8.0-canary.4`
2. `blitz new myapp`
3. `cd myapp`
4. `blitz start`
5. Fails with
[code]

Maybe this is related to changes in #365?

#### Weird workaround

1. `rm -rf node_modules`
2. `yarn`
3. `blitz start` -> works

cc @ryardley @Skn0tt

[2020-05-01 09:51] flybayer commented on #388
@Skn0tt it seems the gitignore check is crawling the file system to and compiling a list of all ignored files. Is that what it's doing?

[2020-05-01 10:08] Skn0tt commented on #388
Yup. Didn't know about the `allowEmpty` option 🙈 I'm gonna provide a PR real quick

[2020-05-01 10:15] Skn0tt commented on #388
As can be seen from the stack trace, `allowEmpty` is an option on `glob-stream`, which is a dependency two layers below `fast-glob`.  Let's see how we can interface with that 🧐

[2020-05-01 10:26] Skn0tt commented on #388
After some investigation, it seems like `glob-stream` is just a devDependency to `fast-glob`. The real reason we've got `glob-stream` is `vinyl-fs`:

[code]

[2020-05-01 10:28] Johnson444 commented on #292
hey Aem,

I know the scope of this suggestion is clarified. I still feel I need to send you a reply to your first message as it is an important topic you raised and wanted to give you my insight of why I don't like Prisma.

As disclaimer, I am in a weird spot :-) I know SQL, vanilla JS, HTML, CSS. I recently switched from PHP to Node.js as I wanted to focus on JS for backend and frontend. So all t

[2020-05-01 10:38] Skn0tt commented on #388
Found the root-cause, it is indeed related to #365: Gitignore entries starting with a `/` make it stumble. Weird, I thought I'd tested for that.

[2020-05-01 10:49] flybayer commented on #388
Ok cool.

Is there a way can do this without actually reading all the gitignore files? Because it causes a performance hit on boot up

[2020-05-01 10:53] flybayer commented on #292
@Johnson444 I'm confident we can have a nice knex plugin integration for folks like you. Blitz is DB agnostic, so we're setting it up that the db layer is easily swappable. We're definitely not trying to force everyone to use Prisma!

For what it's worth, Prisma 2 does have a `db.raw('SELECT ...')` api that gives you direct access to the DB.

[2020-05-01 11:35] Johnson444 commented on #292
oh that is cool.  just looked at the query builder syntax.. I steel feel the pain of prisma 1 .. but maybe I will give it another shot one day.

[2020-05-01 11:50] Skn0tt commented on #388
Nope, don't think so. #389 excludes `node_modules` from the glob search though, which should make the performance hit neglegible.

[2020-05-01 11:51] Skn0tt commented on #388
It'd be possible to further speed it up by doing an informed glob search based on already-found `.gitignore`s, but I'd rather not implement that until the performance hit is noticeable.

[2020-05-01 12:12] LoriKarikari commented on #377
Here the installation takes 32s. Seems not too bad?

[2020-05-01 13:07] #241 closed

[2020-05-01 13:09] flybayer commented on #388
Ok, perfect. Thanks!

[2020-05-01 13:09] #388 closed

[2020-05-01 13:21] aem commented on #301
could we switch to `--mode=production` to mirror what webpack does? that would hopefully reduce a fair amount of confusion around those

[2020-05-01 13:23] aem commented on #376
We should absolutely be able to test for this and show install helpers. Like that a lot

[2020-05-01 13:33] flybayer commented on #301
How is that better than `--production`? Seems like unnecessary extra typing to me :)

[2020-05-01 13:43] aem commented on #301
I don't think it's better than `--production` necessarily, but I think a lot of people may see `--production` is valid (in the package.json) and instinctively try to shorten it to `-p` and be surprised when it does something totally different

[2020-05-01 14:07] flybayer commented on #326
Alright, in absence of any good reason to not be Connect middleware compatible, I think that's probably the correct approach.

Initially I didn't really consider this because of how we are abstracting away the http layer. But I think we'd probably regret not being connect compatible.

I think that would also mean we don't need both `preMiddleware` and `postMiddleware`, right?

[Looks like we can r

[2020-05-01 14:44] flybayer commented on #301
Ok yeah. Then let's go ahead and keep `--production` for now

[2020-05-01 15:40] MrLeebo commented on #326
Doesn't seem composable if you have multiple middlewares that are shared and you want to apply to the query. Perhaps allow the query export to be an array of [middlewareA, middlewareB, queryFn]?

[code]

[2020-05-01 17:03] pcrunn opened #392 "[Linux] getting "Object.fromEntries is not a function" when retrieving dependencies"
### What is the problem?
I can't create a new project because the blitz cli can't retrieve the dependencies

### Steps to Reproduce:

1. Clear npm module cache (if it exists and blitz's project dependencies are in there)
2. Create a new project using
`blitz new myapp`

### Versions:

[code]

### Supporting Documentation
Here is the exact error i'm getting

[code]
(this is after the project's file

[2020-05-01 17:19] MrLeebo commented on #334
What's wrong with going forward with two separate `useQuery()` and `usePaginatedQuery()` hooks? A boolean parameter that toggles the behavior of a function might as well be two functions.

[2020-05-01 17:28] eliasjohansson commented on #334
Hm, yeah im starting to feel like it makes more sense with seperate hooks as well. Especially when we will make `useInfiniteQuery` seperate. Also people who have used react-query before will be more familiar.

[2020-05-01 18:24] simonpeterdebbarma commented on #27
@flybayer I think we can close this issue as it's been resolved.

[2020-05-01 18:24] #27 closed

[2020-05-01 20:01] LoriKarikari commented on #392
Thanks for reporting this issue @pcrunn 👍 we will look into this asap.

[2020-05-01 20:02] LoriKarikari commented on #392
Btw, I just checked this out and I'm having the same problem. The error message is slightly different though.
[code]
[code]

[2020-05-01 23:30] Jfelix61 opened #394 "[Linux] Eslint Plugin React Hooks error while resolving packages."
### What is the problem?

Resolving packages step from `blitz new app` fails because it can't find version `39` (in fact, does not exist) from `eslint-plugin-react-hooks`.

### Steps to Reproduce:

1. Run `blitz new app`

### Versions:

[code]

### Supporting Documentation

Please include applicable logs and screenshots that show your problem.
![image](https://user-images.githubusercontent.com/210

[2020-05-02 00:03] itranga opened #395 "[Linux] Retrieving the freshest of dependenciesTypeError"
Retrieving the freshest of dependenciesTypeError: Object.fromEntries is not a function
    at /usr/lib/node_modules/blitz/node_modules/@blitzjs/cli/lib/src/utils/fetch-latest-version-for.js:22:23
    at Generator.next (<anonymous>)
    at fulfilled (/usr/lib/node_modules/blitz/node_modules/tslib/tslib.js:110:62)

Ubuntu

[2020-05-02 00:09] simonpeterdebbarma commented on #395
@itranga Could you kindly provide more information on the version of node and yarn you are using?

[2020-05-02 01:53] #394 closed

[2020-05-02 02:05] #345 closed

[2020-05-02 02:17] flybayer commented on #395
@itranga this should be fixed in `0.8.1` — can you test and verify?

[2020-05-02 02:17] flybayer commented on #392
@pcrunn  this should be fixed in `0.8.1` — can you test and verify?

[2020-05-02 02:38] simonpeterdebbarma commented on #121
I'll add it to the Docs if it hasn't been added.

[2020-05-02 02:46] silversoftwerks commented on #121
@simonpeterdebbarma Thanks for grabbing this!

[2020-05-02 02:53] simonpeterdebbarma commented on #121
Just installed and created an app on WSL and had no errors, but a lot of warnings popped up.

Created an app and it worked fine.

[code]

[2020-05-02 03:04] itranga commented on #395
"react-native-web": "^0.11.6"
node - v10.20.1
npm - 6.14.4
yarn - 1.21.1

[2020-05-02 03:05] 0ww opened #398 "[Linux] Skipped Dependency warnings during installation on WSL2"
### What is the problem?
There are a crazy amount of warnings when installing Blitz on WSL. Nonetheless, it installed fine and I created a default app.

About 35 dependencies are not installed as they are optional. Could we minimize the output to show maybe just a list of dependencies that were skipped instead of a complete log.

### Steps to Reproduce:
Install Blitz.js using npm on WSL2 that's ru

[2020-05-02 03:08] flybayer commented on #326
So remember what we are doing here. We aren't building a traditional REST API that's tightly coupled to HTTP specific stuff. We're building an RPC system where extremely little logic lives in the HTTP layer. This is quite similar to GraphQL. GraphQL and RPC both abstract away the HTTP layer. You never think about an HTTP status code with GraphQL, for example. Both GraphQL and our RPC layer always

[2020-05-02 03:11] flybayer commented on #395
@itranga did you try Blitz `0.8.1`?

[2020-05-02 03:27] francocorreasosa commented on #378
@flybayer this one should be closed right? (PR #379)

[2020-05-02 03:48] flybayer commented on #378
@francocorreasosa yes!

[2020-05-02 03:48] #378 closed

[2020-05-02 06:09] Timer commented on #322
Good to enable now if the underlying Next version is `^9.3.7-canary.5` or newer.

[2020-05-02 06:11] flybayer commented on #322
Awesome, thank you @Timer!!

[2020-05-02 07:51] peaonunes commented on #376
To verify the existence of installed clis it would require a bash script like:
[code]
ref: https://stackoverflow.com/questions/7292584/how-to-check-if-git-is-installed-from-bashrc
In the meantime I've added a link to download git if the git init fails on this PR https://github.com/blitz-js/blitz/pull/399/commits/71d38f420c9c24db3f61b864e341cf25cdcb59b1.

[2020-05-02 07:53] wKovacs64 commented on #377
blitz@0.8.1 took 13s on my Windows host machine (most/all dependencies probably cached) and 42s in a VM with no cached dependencies. Off the cuff, I think I agree with Simon's thresholds: <30s is great, ~45s is fine, >=60s is starting to get irritating.

[2020-05-02 08:17] itranga commented on #395
blitz -v
You are using alpha software - if you have any problems, please open an issue here:
  https://github.com/blitz-js/blitz/issues/new/choose

Linux 4.15 | linux-x64 | Node: v10.20.1

blitz: 0.8.1 (global)Retrieving the freshest of dependenciesTypeError: Object.fromEntries is not a function
    at /usr/local/share/.config/yarn/global/node_modules/@blitzjs/cli/lib/src/utils/fetch-latest-versio

[2020-05-02 09:26] peaonunes commented on #383
Happy to work on that if possible 😄

[2020-05-02 09:29] Skn0tt commented on #377
We could add a CI check to enforce those thresholds. @flybayer what do you think?

[2020-05-02 10:01] lednhatkhanh commented on #374
I was trying the exact same thing and stumbled upon a problem: Everything I put inside the `Head` tag of `_app.tsx` and `_document.tsx` are not being loaded, I don't know whenever this is my mistake or not, please refer to this repo for more details: https://github.com/lednhatkhanh/blitz-shop just clone and run `blitz start` since it doesn't have any data yet.

[2020-05-02 12:39] flybayer commented on #377
Ok cool, if Next is the large majority then that's really good. I wanted to make sure we weren't adding a ton ourselves.

It would be nice to have some type of CI check for this. We also want to test the client bundle size via CI at some point.

[2020-05-02 12:41] flybayer commented on #383
@peaonunes yeah, that'd be awesome! Let us know if you need help

[2020-05-02 12:45] flybayer commented on #395
I wonder if this is a Node version issue.

Could you test with Node v12?

[2020-05-02 12:52] flybayer opened #400 "Update USER_GUIDE.md to include instructions on how to generate a plain JS project"
### What do you want and why?

We added `blitz new myapp --js` in `0.8.0`, so we now need to update the user guide so it shows how to generate both a JS and TS project.

[2020-05-02 13:36] pcrunn commented on #392
hmmm, not sure about that. i'm still getting the same error

[2020-05-02 14:08] hauptrolle opened #401 "`blitz db reset` failing with `cannot find module`"
### What is the problem?

When running `blitz db reset` I get the following error: `Error: Cannot find module '/Users/user.name/workspace/private/blitz-project/db'`

### Steps to Reproduce:

1. Setup blitz project
2. Run `blitz db reset`

### Versions:

[code]

[2020-05-02 14:23] simonpeterdebbarma commented on #392
@pcrunn It might have to do with your Node version. Can you try switching to the latest version from v10.20.1?

[2020-05-02 15:26] lednhatkhanh commented on #374
UPDATE: So rendering `<DocumentHead />` allows the style to be rendered, but now the button doesn't have the ripple effect when being clicked at all.

[2020-05-02 21:14] wKovacs64 opened #402 "Generator is writing incorrect paths for queries and mutations"
### What is the problem?

`blitz generate` is creating queries and mutations one level too deep (under an additional model directory).

Example:

Received: `app\projects\queries\projects\getProjects.ts`
Expected: `app\projects\queries\getProjects.ts`

### Steps to Reproduce:

1. `blitz new myapp`
1. `cd myapp`
1. `blitz generate all project`

### Versions:

[code]

### Supporting Documentation

[c

[2020-05-02 22:20] Jfelix61 commented on #374
The implementation is almost done, and Material UI works. However, I'm getting a mismatch of classes between the server and the client.

![image](https://user-images.githubusercontent.com/21092519/80893558-66c48580-8ca1-11ea-83e6-1bbad84e8b08.png)

Tried with vanilla Next.js and it works just fine. Something must be going on with blitz code generation. Any ideas @flybayer?

[2020-05-02 22:41] aem commented on #402
Yeah this was known, good thought that it's a weird first experience though.

My general thoughts here are that we currently try to make a lot of assumptions in `cli/generate` about file paths, but in reality that's hard because a couple generators (`app`, `pages`) have special rules that don't apply to the rest of the generators. I think I'd like to push that logic out into the generators and let

[2020-05-02 22:54] wKovacs64 commented on #402
Yeah, I told a friend to check out Blitz and his immediate response was, "Sounds cool, but the tutorial doesn't even work." Oops. 😬

Generators declaring their own paths down the road with a temporary, hard-coded special case sounds reasonable. 👍

Thanks!

[2020-05-03 00:51] DevanB commented on #193
I'm assuming this isn't working still, because when I run `now dev` I get an error about the `pages` directory not being in the project root.

[2020-05-03 01:24] nabi009 commented on #383
![Screen Shot 2020-05-03 at 05 49 50](https://user-images.githubusercontent.com/3170831/80896327-5f819400-8d02-11ea-84d3-36dc5155fa61.png)
I have done it.

[2020-05-03 01:28] simonpeterdebbarma commented on #193
I wanted to test and see what errors I get on my system. They seem to be a little different than what's documented above and saving these messages here for reference.

System: `Windows 10 | win32-x64 | Node: v12.16.3`
Blitz: `blitz 07.0 and 0.8.1`

---

**Blitz 0.7.0**

[code]
![image](https://user-images.githubusercontent.com/31207418/80896057-91b1d800-8ca7-11ea-94ec-495e04b157ad.png)

---

**Bli

[2020-05-03 01:55] peaonunes commented on #383
Looks nice! Feel free to open up the PR 😄
**suggestion:** Perhaps we should use `log.warning` as it is a warning instead of a normal message? Idk. Seems to be missing the `reset` command, you can interpolate the `descriptions` static property to be in sync with the command defaults.

[2020-05-03 03:17] MrLeebo opened #403 "Unable to access API endpoints when you deploy to now.sh"
### What is the problem?

You are unable to access custom API endpoints as serverless functions when you deploy using `now`

### Steps to Reproduce:

1. Start a new blitz app
2. Create an API endpoint:

[code]

3. Visit http://localhost:3000/api/test (you should see "it worked")
4. Deploy using `now` (you'll need to configure the framework as Next.js in your Deployment Settings)
5. Visit https://_

[2020-05-03 04:28] MrLeebo opened #404 "Bug: Dependent Queries do not work with useQuery()"
### What do you want and why?

I want to be able to implement a [Dependent Query](https://github.com/tannerlinsley/react-query#dependent-queries) using blitz useQuery(), but the query key is internally managed

I want this because sometimes my params are state-dependent

[code]

### Possible implementation(s)

Use a query key function and allow `params` to be a function, perhaps?

[code]

### Addi

[2020-05-03 07:28] Skn0tt commented on #404
Judging from this and [our sources](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-query.ts#L36), dependent queries should be possible by passing a falsy value for params.
I don’t feel like this is convenient though, since people may want to pass null etc. for params for legitimate reasons.

Having said that, I quite like your suggestion with the throwing param suppliers!

[2020-05-03 07:29] Jfelix61 commented on #374
After some long investigation. It seems it is a problem with React's experimental version. `16.13.1` seems to be working just fine. Most likely concurrent mode is not very compatible with Material UI server side rendering styles yet.

[2020-05-03 07:31] Skn0tt commented on #401
Thanks for taking the time to report, it's very much appreciated ☺️

[2020-05-03 07:31] Skn0tt commented on #401
Thanks for taking the time to report, it's very much appreciated ☺️

[2020-05-03 07:56] #353 closed

[2020-05-03 11:16] nabi009 commented on #383
@peaonunes thanks so much from your suggestion, your right but I did not change anything too much.
the original code is in blitz/packages/cli/src/commands/db.js
`exports.default = Db;
Db.description =`Run database commands

${chalk_1.default.bold(' migrate')}   Run any needed migrations via Prisma 2 and generate Prisma Client.

${chalk_1.default.bold(' introspect')}   Will introspect the database

[2020-05-03 11:43] tmns opened #405 "[Linux] fetchRemote.sh script fails when interpreted with non-bash shell"
### What is the problem?

When running `./scripts/fetchRemote.sh` as per the [contributing docs](https://github.com/blitz-js/blitz/blob/canary/CONTRIBUTING.md#sync-your-fork) with `sh` (and `dash` and possibly other shells?), the script errors out with a `[[: not found` error:

[code]

This is due to the first line of the script being `!#/bin/sh`, which [does not understand `[[` in `if` statements