[2021-12-08 17:38] ajanth97 commented on #2635
@beerose thank you !

[2021-12-08 17:42] beerose commented on #1636
@vivek7405 probably this will do it: https://react-hook-form.com/advanced-usage#TransformandParse

[2021-12-08 17:49] vivek7405 commented on #1636
Thanks @beerose, will give it a try

[2021-12-08 17:55] MrLeebo commented on #3029
Thank you for the feedback, @beerose!

- Sure, effectful components could `return props.children`, so either style is valid:
[code]

- Hooks are great, and I think exposing these features as hooks only would be more than sufficient. One reason why a component might be better is because hooks aren't executed conditionally; in case you have a page that only sometimes renders the parts that flicker:

[2021-12-08 18:00] MrLeebo commented on #3029
Oof, if a `useSuppressFirstRenderFlicker()` hook existed, you could automatically call it from `useQuery()` and probably avoid 99% of cases where a user would even have to think about this...

[2021-12-08 22:42] Kiodok commented on #2937
@beerose I reinstalled everything and ran both commands - same error.
I'm not sure when it stopped being generated, but I think it was when I changed the distDir in blitz.config.ts.
But it's still the version you commented a few days ago.

[code]

[2021-12-08 22:47] edumansky commented on #2892
I ran into the same issue with:

macOS Catalina | darwin-x64 | Node: v14.17.5

blitz: 0.44.3 (global)
blitz: 0.44.3 (local)

  Package manager: npm
  System:
    OS: macOS 10.15.7
    CPU: (8) x64 Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz
    Memory: 1.27 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 14.17.5 - ~/.nvm/versions/node/v14.17.5/bin/node
    Yarn: 1.13.0 - /usr/local

[2021-12-09 12:08] christianto88 opened #3045 "Railway deployment failed after updating to latest version of blitz"
### What is the problem?

Deployment on Railway failed because cannot find environment variable DATABASE_URL.
I am deploying using Dockerfile and the error occurs when running **blitz build**

Found a workaround by adding ARG DATABASE_URL to my Dockerfile

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

**Dockerfile before upgrading blitz ( worked previousl

[2021-12-09 12:14] beerose commented on #3018
Could you try reinstalling Blitz? (or upgrade to the latest version?)

[2021-12-09 12:19] beerose commented on #2937
Ah okay. So since you have `build` instead of `.next` and it looks for `.next`, it can't find anything. The issue is that this code: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib-server/auth-sessions.ts#L66, doesn't respect custom `distDir`. I suppose if you remove `distDir` (so you'll have `.next` back), it will work.

[2021-12-09 14:01] LearningProcesss opened #3046 "Only User model data can be retrieved while testing"
### What is the problem?

Only User model data can be retrieved while testing.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that show your problem:

Database is filled by re

[2021-12-09 14:24] beerose commented on #3046
Is it possible that it uses a test database instead of the dev one while running the tests?

[2021-12-09 14:34] LearningProcesss commented on #3046
This, along with a mock \ injection were my first thoughts.
Sadly, i cant find an explicit reference.
default test/util.tsx file for example contains a full BlitzRouter mock but nothing about db.

[2021-12-09 16:09] beerose commented on #3046
Is there any `db.$reset()` in the tests? That could clear the db.

[2021-12-09 16:48] LearningProcesss commented on #3046
yes, blitz comes with forgotPassword.test and resetPassword.test files by default and use it like:
[code]
I tried removing that also. does not solve.
Seems to me that this $reset is used to clear a temporary database (as you suggested) or an injected one because does not clear the real db.
Keep in mind also that i'm executing only my test case
`yarn test --verbose -t "Prisma concrete query test"`

[2021-12-09 20:42] LearningProcesss commented on #3046
"Test database" was the right path to follow.
Digging into Prisma documentations i come across [Environment](https://www.prisma.io/docs/guides/development-environment/environment-variables) doc.
Turns out that .env.test.local expose this env key: DATABASE_URL="file:./db_test.sqlite"
It was so clear and under my watch that i completely missed it!

[2021-12-09 20:49] #3046 closed

[2021-12-09 20:50] beerose commented on #3046
Oh cool! Glad you found it

[2021-12-10 00:35] Kiodok commented on #2937
@beerose I removed the distDir and now I get the following error:

API resolved without sending a response for /api/auth/twitch/callback?code=vtxuqhnsgtbb153vabw99t1765xtms&scope=user%3Aread%3Aemail, this may result in stalled requests.
{
  userId: '79175660',
  userName: 'kiodok',
  userEmail: 'kaka22-kiodok@web.de'
}
PrismaClientValidationError:
Invalid `prisma.session.create()` invocation:

{

[2021-12-10 10:49] Johann01 opened #3051 "yarn global add blitz finishes in FATAL ERROR: Reached heap limit Allocation failed - JavaScript heap out of memory"
### What is the problem?

When I try to run yarn global add blitz, it doesn't work.
But also blitz new test and using yarn fails with no error code.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. yarn global add blitz

### Run `blitz -v` and paste the output here:

[code]

### Please include below

[2021-12-10 13:38] winner106 commented on #3020
Yes , you are right. It has its validation.
I am not using formiz

[2021-12-11 00:43] edumansky commented on #2892
Seems to be true of pretty much all blitz commands that install something, they have issues if your path has parenthesis, at least on a Mac.

[2021-12-11 02:06] Vandivier opened #3053 "render recipe for use with planetscale"
### What do you want and why?

As a developer, I would like to be able to easily integrate planetscale db, blitz, and render.com

### Possible implementation(s)

1. `blitz install render` supports a planetscale-compatible YAML
2. `blitz install render-planetscaledb` or similar; basically a new recipe
3. no recipe, just update [deploy to render docs](https://blitzjs.com/docs/deploy-render) to inclu

[2021-12-11 11:39] yanniz0r commented on #2894
I ran into the same issue when using blitzjs in a kubernetes environment. I was able to work around it by manually specifying the host header in my service using the following nginx ingress annotation on the corresponding service:

`nginx.ingress.kubernetes.io/upstream-vhost: "localhost:3000"`

Maybe this helps some folks running in the same issue :) I guess this also applies to other environments

[2021-12-11 14:12] JuanM04 commented on #3045
Try adding these lines:

[code]

[2021-12-11 15:27] Vandivier opened #3056 "better blitz upgrade experience"
### What do you want and why?

As a developer, I would like to be able to seamlessly upgrade my blitz project version using the cli, so that I can easily gain new features, bug fixes, and so on.

### Possible implementation(s)

1. modify docs and existing `blitz new` flow on file conflict
2. create an altogether new cli command `blitz upgrade` or similar

### Additional context

1. current upgrade

[2021-12-11 15:35] Vandivier commented on #3056
if we pick an altogether new upgrade command then blitz can diff it's own versions internally and not try to write files which have not changed between versions, eg schema.prisma and others likely have low change rate and so there's no need for the user to even review file differences

[2021-12-11 16:50] Vandivier commented on #3053
on second thought maybe this should be a project template instead of a recipe? rationale: currently when I `npx blitz@latest new myApp` eventually it will tell me something like:
[code]
however I think we shouldn't migrate with planetscale, so in theory users could learn to "just ignore that" but this isn't really ergonomic

[2021-12-11 17:09] Vandivier commented on #3053
tangentially related:
https://github.com/blitz-js/blitz/discussions/3058#discussioncomment-1791049

[2021-12-11 20:46] Vandivier commented on #3053
another pain point is that the `db.$reset` helper seems to fail when connected to planetscale, maybe bc it calls migrate underneath

![image](https://user-images.githubusercontent.com/5559355/145691110-a6855e06-64d4-4925-8d5a-1a90ca6760e3.png)

[2021-12-11 21:21] tafelito commented on #2614
@flybayer I just want to force the session as authenticated for any api as long as an admin token is present.
If I add the middleware as @MrLeebo suggested, when I check the session's isAuthenticated like suggested above from the api, it always returns false

As a workaround for now, I just check the header from the api function, but I'd like to do it in the middleware instead and prevent having t

[2021-12-11 22:51] Vandivier opened #3061 "better `generate all` forms"
### What do you want and why?

As a developer, I would like appropriately detailed forms to be generated based on my model, so that I can save time!

### Possible implementation(s)

when making new.tsx, add additional input fields based on the model. this could get complex quickly, but a simple starting point would be to do this only for string fields. So instead of a name input, there would be a

[2021-12-12 02:10] Roesh commented on #3061
Those are cool suggestions! Some of that is done in the linked PR.

When you mention the dropdown, I'm assuming this is for a form where we're creating a new record that belongs to a user, and we want a dropdown (and potentially a search filter in it) that shows a list of users that should be associated with the record right?

I'm actually not sure how we handle field relationships in the linked P

[2021-12-12 02:24] abuuzayr commented on #3045
Hi @christianto88 thank you for reporting this

Just to confirm,

1. does the output of `railway vars` include your DATABASE_URL?
2. since you are using `railway up` do you get the same issue if you deploy via the UI?

[2021-12-12 05:32] christianto88 commented on #3045
@abuuzayr Yes it is on `railway vars`. I tried deploying using trigger on one github branches, it also failed

[2021-12-12 21:31] jcmcneal commented on #3045
This error showed up for me whenever I upgrade to Prisma@^3 and run `blitz build`.If a valid `DATABASE_URL` is present, then it will build fine, but that's a flawed solution IMO.

 It shouldn't have to be present to build, and one could argue is a security risk to expose that variable to the bundler. That should only be a runtime variable/secret that even the Dockerfile shouldn't have to know abou

[2021-12-13 01:39] kevinlangleyjr opened #3062 "Error when using Blitz and Turborepo"
### What is the problem?

When trying to spin up a Blitz app within a Turborepo monorepo, I keep getting the same error:

[code]

I have a sample repo located [here](https://github.com/kevinlangleyjr/turborepo-blitz) that reproduces the error.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Spin up

[2021-12-13 10:58] beerose commented on #3045
@jcmcneal Is there an open issue for that in prisma repo?

[2021-12-13 10:59] chrsep commented on #3045
A workaround that worked on one of my projects is to provide a dummy DATABASE_URL to blitz. I used `DATABASE_URL=postgresql://postgres:postgres@localhost:5432/main?schema=public` and the build succeeded in GitHub action without any Postgres instance running on `localhost:5432`.

It seems to me that blitz might somehow always trigger Prisma to run during build without running any query? This doesn'

[2021-12-13 11:15] beerose commented on #3062
Hi, someone recently had this error with a monorepo and yarn3. They solved it by adding this to package.json:

[code]

Could you try that and see if that helps?

The problem is that `next` dependency wasn't resolved properly — it probably happens because you have other apps that use `next` and there's only one version installed (and not what Blitz needs).

[2021-12-13 11:49] beerose commented on #3061
Yep, agree!

@Vandivier I think this issue: https://github.com/blitz-js/blitz/issues/2038 covers some of your points. The additional thing would be the dropdown, right?

[2021-12-13 11:56] beerose commented on #3056
I think there are two cases to cover:
1. New Blitz version doesn't have any newapp template changes — in that case `yarn add blitz@latest` (or using another package manager) should be enough (based on the recent releases, that's a common case).
2. There are newapp template changes in the new Blitz version. In this case, the current `blitz new ...` would override your changes, which is not ideal. A

[2021-12-13 13:12] kevinlangleyjr commented on #3062
@beerose, thanks for the fast response!

I tried adding the hoisting limits in my package.json as you suggested. Unfortunately I am still encountering the same exact error with `getProjectRoot()` being called from `buildConfigIfNeeded()`.

[2021-12-13 17:30] jcmcneal commented on #3045
That's insightful information @chrsep, thank you! I will try using the dummy variable in my dockerfile and see how it goes.

If Next doesn't have this issue with Prisma, but Blitz does, then you may be right about it triggering Prisma to connect to the db unintentionally.

@beerose I didn't find any open issues in the Prisma repo about this. However, I think it's related to how Blitz works with Pr

[2021-12-14 06:12] Nfinished opened #3064 "Blitz builds failing on Vercel"
### What is the problem?

As posted here: https://github.com/vercel/vercel/discussions/7185, Vercel builds are failing with error `Build optimization failed: found pages without a React Component as default export`. I'd create an issue in Vercel/nextjs but as this is a Blitz project I'd definitely get bounced back here.

Builds complete locally, but during Vercel deployments the above error occurs

[2021-12-14 08:11] Kiodok commented on #2937
@beerose It's working now! :D
Thanks for your time and helpful advices.
I just needed to add the code for db.user.create.

[2021-12-14 08:11] #2937 closed

[2021-12-14 09:40] beerose commented on #2937
Awesome, @Kiodok!

Do you mean in the strategy callback?

[2021-12-14 10:03] Kiodok commented on #2937
Yes, exactly.

[2021-12-14 10:05] beerose commented on #2937
ok, thanks!

[2021-12-14 10:10] beerose commented on #2863
Some work has been started here: https://github.com/blitz-js/blitz/pull/2911. If someone wants to work on this issue, this PR and discussions there can be a good starting point.

[2021-12-14 10:12] beerose commented on #2782
Right now, the logging utility is here: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/server/lib/logging.ts. We removed the `@blitz/display` package.

[2021-12-14 10:24] beerose commented on #3020
Hmm, I'll move it as a discussion then, since we don't know yet how it'll work with Blitz. Maybe other people provide some details. In the meantime, if you get this working, feel free to open a PR!

[2021-12-14 10:34] beerose commented on #3062
I cloned your repo and modified `workspaces` config to this in `package.json`:

[code]

That seems to work now.

[2021-12-14 10:38] beerose commented on #3051
It looks like your previous installation was with `npm`. Could you try to install Blitz with `npm`? Also, you can try downgrading to Node 14 and try with `yarn` again.

[2021-12-14 10:43] beerose commented on #3053
I think the recipe makes sense. If user creates a new Blitz app, then can first play with it with Sqlite, and then install planetscale recipe. This recipe should remove the `migrations` folder and do all the required changes in the `db` directory. It can also remove references to `$reset` if needed or replace it with something that works with planetscale. What do you think>

[2021-12-14 10:59] beerose commented on #3061
I marked it as blocked, so that we merge @Roesh's PR first.

[2021-12-14 12:40] regardt-nel opened #3066 "ErrorBoundary not rendering in UI (Server Error)"
### What is the problem?

ErrorBoundary wraps two components - one with an error.  I expect the page to render the FallBackComponent I made but instead I get the following ->

![image](https://user-images.githubusercontent.com/50947477/145999021-78c0a1da-714c-474c-84e8-dc46d94abb1b.png)

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

Show.js
[code]

coolsh

[2021-12-14 12:44] beerose commented on #3066
Thanks for the detailed report! Do you remember if/when was it working as expected?

[2021-12-14 15:24] regardt-nel commented on #3066
Hi @beerose no problem :)

So I experimented with a couple of things.  I get better results if I turn off SSR but still not as expected.

**The code - please see the DynamicComponentWithNoSSR**
[code]

**I get the following output in the client:**
![image](https://user-images.githubusercontent.com/50947477/146027264-5ca0d50c-6e71-4682-b784-026176f0f92a.png)

Is all off this maybe expected behaviou

[2021-12-14 16:04] flybayer commented on #2614
@tafelito Your custom middleware should go before sessionMiddleware in this case. sessionMiddleware will only set `ctx.session` if it's not already set. So if your middleware sets it, then sessionMiddleware will skip. See the code here: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib-server/auth-sessions.ts#L196-L199

[2021-12-14 16:17] beerose commented on #3045
Do you have static pages that make calls to DB? If yes, that could cause the issue with the missing DB URL during the build.

Otherwise, I haven't yet found anything internally that could cause this issue. We changed the Prisma version in new app templates from 2.x to 3.x but that didn't require any changes in Blitz code. I suppose something changed with `prisma generate` that it started requiring

[2021-12-14 16:19] beerose commented on #2892
Note: it might have something to do with `mem-fs-editor` that Blitz uses

[2021-12-14 16:20] #3028 closed

[2021-12-15 03:35] kevinlangleyjr commented on #3062
That worked perfectly, thank you @beerose!!!

[2021-12-15 03:35] #3062 closed

[2021-12-15 13:59] beerose commented on #3061
I'm going to close this issue as a duplicate of: https://github.com/blitz-js/blitz/issues/2038. Feel free to open a new one for all the additional features that are not included in https://github.com/blitz-js/blitz/issues/2038.

[2021-12-15 13:59] #3061 closed

[2021-12-15 14:02] beerose commented on #3018
I suppose that this issue is related to: https://github.com/blitz-js/blitz/issues/2765. I'm going to close it as a duplicate.

[2021-12-15 14:02] #3018 closed

[2021-12-15 14:03] #2928 closed

[2021-12-15 14:04] beerose commented on #2991
Hey @winner106, could you try with the latest release?

[2021-12-15 14:06] beerose commented on #2896
Hi @thisdotrob, @ganeshmani. Did you solve the issue with the above suggestion?

[2021-12-15 14:07] #2688 closed

[2021-12-15 14:28] winner106 commented on #2991
After testing, the problem is still there, and the error is the same as before。

[code]

[2021-12-15 14:29] winner106 commented on #2991
[code]

[2021-12-15 15:36] brillout opened #3069 "Make Auth middleware Blitz-agnostic"
### What do you want and why?

I want to use Blitz's auth middleware independently of Blitz.

### Additional context

I agree that the ecosystem has (un-)bundling phases, but I think it would benefit everyone if we collaborate more on foundational tools such as authentication.

Follow up of https://twitter.com/flybayer/status/1471130369177042944.

[2021-12-15 15:52] flybayer commented on #3069
@brillout do you like blitz auth better than next-auth? If so, why?

[2021-12-15 15:56] brillout commented on #3069
Both have their merits, but regardless of how both compare, the more agnostic middlewares we have the better for the ecosystem.

[2021-12-15 17:10] Nfinished commented on #3064
It appears to be a `useMutation` hook in a descendant causing the problem, Vercel won't build with this snippet.

[code]

[2021-12-15 17:31] #3064 closed

[2021-12-16 10:10] linbudu599 opened #3070 "Bug in dependencies installation by pnpm"
### What is the problem?

New project created with pnpm as package manager doesnot work correctly:

[code]

Seems like `styled-jsx` is dependency of `next`, when installing packages which are not listed in package.json, pnpm put it in the global store, so when `styled-jsx` is requiring `react`, as node's dep resolution it search for the global(if we install react globally like `pnpm install react

[2021-12-16 11:00] Johann01 commented on #3051
Yes, the installation with npm worked.

Hmm issue seems to be resolved now :)

[2021-12-16 11:00] #3051 closed

[2021-12-16 13:37] beerose commented on #3070
Thanks for the report!

[2021-12-16 20:59] hmbrg opened #3071 "Error when running yarn install in fresh blitz project"
### What is the problem?

When using `yarn set version stable` inside a newly create blitz project using `blitz new name` the following error occurs when running `yarn install` to initially install the dependencies.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. run `blitz new name``
2. cd name
3.

[2021-12-17 15:42] #236 closed

[2021-12-17 16:41] tmcw opened #3074 "Ability to add a transport to Blitz's logger"
### What do you want and why?

blitz-js/legacy-framework#220 added the ability to set Blitz's log output to JSON. I'd like to go a step further and support tslog's [transports system](https://tslog.js.org/#/?id=transports) because I'm trying to send intelligable logs to logtail. I think the same goes for a lot of other log systems.

### Possible implementation(s)

Exposing the logger instance as a

[2021-12-17 20:17] Vandivier commented on #3061
yall rock, thank you!!

[2021-12-17 21:53] flybayer commented on #3069
Likely will happen. See https://github.com/blitz-js/blitz/discussions/3075

[2021-12-17 21:53] #3069 closed

[2021-12-18 14:46] oskery opened #3080 "No attribute 'id' when creating model 'clothing'"
### What is the problem?

This is my first time using Blitzjs and I am unexperienced, but I think this issue is not my fault.

The problem: When creating a model called clothing I get errors relating to clothingId. Maybe Blitz has some difficulties pluralizing or determining the form of the word?

I have tested creating a model called item (which is clearly countable), and this gives me no errors.

[2021-12-18 16:34] Vandivier commented on #3053
Makes sense to me! I guess that's the same pattern we follow for any remote db (postgres, etc) currently anyway

[2021-12-19 01:30] trchristensen opened #3084 "Cannot find type definition file for 'example' on git push"
### What is the problem?

Like the title says, I'm getting a type definition error every time I try to push my commit to github.  Seems like a dependency issue. I am surprised no one else is getting this error? This has happened several times (every time) to me on fresh blitz projects with no changes.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

[2021-12-19 02:28] tafelito commented on #2614
@flybayer I tried putting my middleware before sessionMiddleware but the session is still not set. One difference that I noticed tho is that I console.log from my custom middleware, the logs are printed only when calling an api from the same app but when calling it externally from a different client, those logs never get printed.
I also noticed is that when an api is called from the app, this gets

[2021-12-20 07:33] Ajeethkumar-r commented on #1322
Hi, I try to blitz app but it does not initialize SQLlite database, what to do

[2021-12-20 11:02] Ajeethkumar-r opened #3086 "blitz prisma migrate dev - error"
### What is the problem?

I create model in database - SQLlite and try to migrate it using the command 'blitz prisma migrate dev' and I got error below

### Paste all your error logs here:

[code]
_Error: Unable to require(`C:\Users\ajeet\Documents\blitzApp\joy\node_modules\prisma\node_modules\@prisma\engines\query_engine-windows.dll.node`)

The specified module could not be found.

\\?\C:\Users\a

[2021-12-20 11:47] beerose commented on #1322
Hi @Ajeethkumar-r, that should be fixed in the latest release. Could you update Blitz and try again?

And in your current project, you can run `blitz prisma migrate dev` to initialize the DB.

[2021-12-20 12:04] beerose commented on #3084
Hi!

That's weird. I tried that with a new app (yarn, full template) and worked fine. Have you made any changes? You can also try to delete node modules and install them again.

You can temporarily disable the `tsc` step in `.husky/prepush` script, so that you can push. Of course, that's not the solution but can help until the issue is resolved.

[2021-12-20 13:07] beerose commented on #3080
Hey @oskery!

It looks like it, because the files aren't generated properly for model named `clothing`. We use library called `"pluralize"`:
<img width="386" alt="Screenshot 2021-12-20 at 14 05 12" src="https://user-images.githubusercontent.com/9019397/146771517-1ca930ab-4407-4f3b-a994-b4236285aacb.png">

However, `clothing` is a valid plural (TIL 😅):

So the fix here would be that Blitz should ch

[2021-12-20 14:25] beerose commented on #3086
Hi @Ajeethkumar-r!

Here's a related issue: https://github.com/prisma/prisma/issues/9940 with a possible fix which is installing Microsoft Visual C++ 2015 Redistributable.

I'm going to close this issue, as it is related to Prisma and tracked in their repo.

[2021-12-20 14:25] #3086 closed

[2021-12-21 15:33] beerose commented on #3071
Hi! I couldn't reproduce it by following provided steps. Could you also try with Node v16?

[2021-12-22 01:19] Lucheti commented on #2940
@flybayer @beerose
**UPDATE:**
I've been trying to reproduce this bug without blitz and it just doesn't want to pop out, and the fact that neither on a pure react project nor a nextjs project did this happen made me think it was something to do with blitz.
After reading through the whole blitz documentation, pretty much at the very end while reading about the blitz config something caught my eye..

[2021-12-22 01:19] #2940 closed

[2021-12-23 00:29] flybayer commented on #2940
@lutcheti ah yeah. Sorry about that! it goes to "legacy"

[2021-12-23 00:29] flybayer commented on #2940
@Lucheti ah yeah. Sorry about that! it goes to "legacy"

[2021-12-23 12:04] beerose commented on #3066
Hi @regardt-nel, I'm super sorry about the delay. I tested that and was able to trigger the error boundary (though, I might have done something differently). Were you able to check the built version?

[2021-12-23 12:32] gnomeria commented on #3070
Were you able to install any recipes @linbudu599 ?

[2021-12-23 14:09] regardt-nel commented on #3066
Hi Aleksandra.  No problem at all! I have not checked the built version - I
will do so and revert back to you.

On Thu, Dec 23, 2021 at 2:04 PM Aleksandra Sikora ***@***.***>
wrote:

--
*Regardt Nel* | Managing Director
*COD**E**SW**OP Pty (Ltd)*
App and Web Developers
1 Azure, Big Bay, 7441
+27 82 451 6800

[2021-12-23 17:56] flybayer commented on #2614
@tafelito Ah! middleware does not run automatically for API routes. You need to use [`invokeWithMiddleware` ](https://blitzjs.com/docs/resolver-server-utilities#invoke-with-middleware)

[2021-12-23 18:35] trchristensen commented on #3084
Hi, thanks for the reply. I've tried deleting the modules and reinstalling. This has happened on 3 separate installs so not sure what the issue is. I will disable tsc for now. Appreciate the help!

[2021-12-23 18:35] #3084 closed

[2021-12-23 18:53] tafelito commented on #2614
So then it's not possible for an external service to call this api and use a middleware. Those same checks have to be in place in the api itself. Right?

[2021-12-23 23:23] flybayer commented on #2614
@tafelito I'm not sure — can you share some code?

In general to authenticate a third party service, it's usually going to be easier to just do it inside the api route instead of using middleware. Because do you really want the third party service having full access to ALL your routes or just one or two endpoints?

[2021-12-24 17:53] davidroulier opened #3094 "Bad name of mutation file with ```blitz generate mutation```"
### What is the problem?

When generating a mutation with ```blitz generate mutation``` file is named ```__input__.ts```

### Paste all your error logs here:

.

### Paste all relevant code snippets here:

.

### What are detailed steps to reproduce this?

1. Generate a new blitz project with ```npx blitz new <projectName>```
2. Options : TypeScript, Full (with db, auth...) and React Hook Form
3.

[2021-12-25 17:21] kamatheuska commented on #2144
I would like to contribute as well on this issue, if possible/necessary. Seems like a great first issue!

[2021-12-26 09:26] ospfranco commented on #2654
@vincentrolfs thanks a lot for the snippet! really helpful, would be great to have this documented on the blitz website, for those who want to test the queries/mutations, independently from UI

[2021-12-26 10:03] ospfranco opened #3095 "Jest `testPathIgnorePatterns` not working"
### What is the problem?

I have an internal module for deploying some AWS units, this internally have their own tests, when running `yarn test` with blitzjs, the tests inside the `aws` folder are picked up, which is undersirable (since they have their own compilation target/config)

I've tried setting `testPathIgnorePatterns` in the `jest.config.ts` file but it doesn't seem to be working, no matt

[2021-12-27 13:14] SofianeDjellouli opened #3096 "Support custom query client config"
### What is the problem?

I'm trying to show a snackbar when an error is thrown in mutations in the `_app` component. The [documentation](https://blitzjs.com/docs/error-pages#custom-error-boundary-component) says:
[code]
However, the error boundary is not rendered by default when a mutation throws an error. It is render only if the `useErrorBoundary` mutation option is set to `true` in `useMutatio

[2021-12-27 17:49] valerii15298 opened #3097 ""Error: Cannot find module 'blitz'" when installing with pnpm"
### What is the problem?

I followed the steps from the documentation "get started" section.

And when I run `blitz dev` i got the error: `Error: Cannot find module '.blitz'`
Is there a workaround for it?

### Paste all your error logs here:

[code]

### What are detailed steps to reproduce this?

[code]
When creating app I chose package manager `pnpm`, language - typescript, and all others option

[2021-12-27 19:15] beerose commented on #2144
Go ahead @kamatheuska!

[2021-12-27 19:22] beerose commented on #2654
That's a good idea, @ospfranco! Do you want to add it to the [docs](https://github.com/blitz-js/blitzjs.com)?

[2021-12-27 20:41] tafelito commented on #2614
@flybayer, it actually makes sense. I will probably have just one route, maybe 2 for different providers but I guess I could use a helper in that case as well.

Thanks again for the clarification

[2021-12-27 21:51] dineshgadge opened #3098 "Throwing RedirectError on server side (in queries and mutations) does not redirect on the frontend"
### What is the problem?

https://codesandbox.io/s/fervent-morning-qtvzm

Throwing RedirectError from server (queries/mutations) does not redirect on the frontend. It seems this case is not handled, as the ErrorBoundary expects the error to have have a url property but raising RedirectError like
[code]

from server sets the message property to /edit-profile instead of setting url to /edit-profile

[2021-12-28 08:22] ospfranco commented on #2654
Glad to help: https://github.com/blitz-js/blitzjs.com/pull/642

[2021-12-28 09:17] beerose commented on #3098
Thanks for the issue!

[2021-12-28 16:11] sirrobert opened #3099 "`blitz db seed` doesn't work with javascript projects"
### What is the problem?

I get two main errors when I try `blitz db seed`.  I found other reports marked as closed/done (e.g. https://github.com/blitz-js/legacy-framework/issues/701), but the error persists (for me).

**The issue only happens with JavaScript installs, not TypeScript.**

### Paste all your error logs here:

This is the complete terminal output.
[code]

### Paste all relevant code

[2021-12-28 22:02] ranihorev commented on #843
@flybayer do you have an example of uploading to s3 by any chance?

[2021-12-28 22:31] sirrobert commented on #3099
My temporary work-around is to create a parallel typescript app in a different directory and copy `.env`, `.env.local`, `./db/seed.js`, `./db/schema.prisma` into it (with a script).

[2021-12-29 04:10] dineshgadge commented on #3098
[Discord Discussion Thread](https://discord.com/channels/802917734999523368/925093201658925087)

[2021-12-29 09:55] nickluger commented on #2829
As things are going to pivot soon, i did not contribute a PR, but here's a workaround. This is type safe on the consumer side.

[code]

[2021-12-29 18:05] #3098 closed

[2021-12-30 19:59] beerose commented on #3099
Thanks for reporting it, and sorry about the behaviour. Looks like `db seed` does not work with JavsScript projects.

[2021-12-31 10:42] j209 opened #3101 "next.js 12"
Hi
What about [Next.js 12+](https://nextjs.org/blog/next-12) support?

[2021-12-31 11:23] beerose commented on #3101
Hi @j209!

Here's a related discussion about the Blitz future: https://github.com/blitz-js/blitz/discussions/3075. We won't be adding new features and instead focus on the new Blitz tookit. Hence we don't be upgrading next.js.

[2021-12-31 11:23] #3101 closed

[2021-12-31 18:03] crushjz opened #3102 "After installing Chakra UI the browser console shows "ReactDOM.render is no longer supported in React 18" error"
### What is the problem?

After installing Chakra UI and using the `ChakraProvider` in `_app.tsx`, the console shows an error.

The app looks like it working without any issue tho.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

N/A

### What are detailed steps to reproduce this?

- `npx blitz new test-app`
- Selected:
  - Dialect: JavaScript
  - Template:

[2022-01-01 07:57] SoheilAdmin commented on #3099
Help meeeeeeee

[2022-01-01 09:20] amantiwari1 commented on #2940
which file to be add `module.exports = { experimental: { reactRoot: false, }, }`?
is ant design working in blitz or nextjs?

[2022-01-01 09:20] amantiwari1 commented on #2940
@flybayer @Lucheti @beerose

[2022-01-01 22:39] mrcampbell opened #3103 "Verify Callback not being called with Salesforce Passport Strategy"
### What is the problem?

I've tried using `passport-forcedotcom` and `passport-salesforce`, and although I get a successful authorization, my verify callback isn't being called, and so I'm not able to use the data being passed back from the OAuth Provider.

Is there something wrong with my code?

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

###

[2022-01-02 17:55] crushjz commented on #3102
Looks like Chakra UI doesn't support yet React v18: https://github.com/chakra-ui/chakra-ui/issues/4360#issuecomment-895062052

[2022-01-02 18:23] SoheilAdmin commented on #3102
// <project name>/app/api/auth/[...auth].ts
import { passportAuth, VerifyCallbackResult } from "blitz"
import { Strategy as SalesforceStrategy } from "passport-salesforce"

export default passportAuth({
  successRedirectUrl: "/",
  errorRedirectUrl: "/",
  strategies: [
    {
      authenticateOptions: { scope: "id api" },
      strategy: new SalesforceStrategy(
        {
          clientID: proce

[2022-01-03 12:09] beerose commented on #2940
In `blitz.config.ts`. Yes, ant design should work with Next/Blitz.

[2022-01-03 14:51] beerose commented on #3103
Your code looks correct, maybe it's an issue with the strategy code. Did you try this one: https://www.npmjs.com/package/passport-salesforce-oauth2 instead?

[2022-01-03 15:34] beerose commented on #3102
Hi @crushjz, the app and chakra-ui should work even despite the warning. Right now we can't do much before they upgrade to React 18. As there soon will be stable React 18, they will probably prioritize it. I'm closing this issue then.

[2022-01-03 15:34] #3102 closed

[2022-01-03 16:28] beerose commented on #3095
Hi @ospfranco, can you try `modulePathIgnorePatterns`?

[2022-01-03 16:38] beerose commented on #3097
Hi @valerii15298, sorry for the delay in responding. Unfortunately, it looks like global CLI is not working on Windows with pnpm. Here's a related issue: https://github.com/blitz-js/blitz/issues/2842.

I'm closing this one in favor of https://github.com/blitz-js/blitz/issues/2842.

[2022-01-03 16:38] #3097 closed

[2022-01-03 18:24] #3094 closed

[2022-01-03 20:12] ospfranco commented on #3095
<img width="1440" alt="Screen Shot 2022-01-03 at 21 12 38" src="https://user-images.githubusercontent.com/1634213/147975608-6c2216bb-2ff0-42ce-8102-a7fdb6a1daee.png">

nope, doesn't work either

[2022-01-04 06:14] mrcampbell commented on #3103
Thank you for the recommendation!  Let me try that one out right now.  Since this doesn't seem to be blitz related, I'll close this issue.

[2022-01-04 06:14] #3103 closed

[2022-01-04 08:37] dhythm opened #3108 "Blitz does not run after reinstalling node_modules"
### What is the problem?

I create a new project by `npx blitz new xxx`, the node_modules has `.blitz` dir.
However, `.blitz` is gone after I delete `node_modules` and run `npm install` again.

Then, I catch an error below.

Thanks you for your kind help 🙏

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this

[2022-01-04 09:30] beerose commented on #3108
Hi @dhythm!

It does like an issue (reproduced it with npm), and the current workaround would be to run `blitz codegen` after `npm install` to generate the `.blitz` directory.

[2022-01-04 09:31] beerose commented on #3103
Ok! Feel free to reopen if the issue is on the Blitz side.

[2022-01-04 10:05] dhythm commented on #3108
Hi @beerose !
Thanks for your comment!
I confirm `.blitz` is created via `blitz codegen` 👍

[2022-01-04 22:15] alechp commented on #3042
Having the same issue

[code]

### First attempt
 1. Install `npm install -g blitz`
 2. Initialize new project (JS, fullstack app with auth, NPM, React Final Form)
 3. Receive sqlite error

<img width="906" alt="Screen Shot 2022-01-04 at 2 11 30 PM" src="https://user-images.githubusercontent.com/3058939/148130785-081e6569-795e-40ce-82df-da62477cb93b.png">

### Second attempt
0. Confirm sqlite exis

[2022-01-06 02:10] Nfinished opened #3110 "ErrorBoundary 400s if fallback is `null`"
### What is the problem?

ErrorBoundary throws its own error if provided fallback is `null`. This should be valid considering `null` is valid for suspense.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Force a component to fail with a parent `null` errorboundary

### Run `blitz -v` and paste the

[2022-01-06 02:38] Nfinished commented on #3110
fwiw `fallbackRender={() => null}` works

[2022-01-06 07:57] beerose commented on #3110
The code for that is here: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib/error-boundary.tsx#L165, and it fails because `null` is not a ReactElement.

[2022-01-06 14:59] Nfinished commented on #3110
Ah ok maybe this should be a feature request then? Odd to me that a value
should be valid for the prop in suspense but not errorboundary when they
feel so linked.

On Thu, Jan 6, 2022 at 2:57 AM Aleksandra Sikora ***@***.***>
wrote:

[2022-01-08 04:41] mrcampbell commented on #3103
I still couldn't find what the issue was.  I went so far as to copy the passport implementation into my own project, importing that rather than the npm package, and stepping through it.  It indeed was being called in all the right ways, but for whatever reason, the `verify` function wasn't being called.  In an effort to speed things up, I did this, which works great for now!

(Sharing for posterit

[2022-01-08 14:06] winner106 opened #3115 "Suspense+usePaginatedQuery infinite loop re-rendering"
### What is the problem?

Suspense + usePaginatedQuery infinite loop re-rendering

### Paste all your error logs here:

![console](https://user-images.githubusercontent.com/50519642/148645817-fdaf4f44-b8f1-4fed-b24f-4e05faed9b55.png)

### Paste all relevant code snippets here:

![code](https://user-images.githubusercontent.com/50519642/148647079-dbedbfaf-c986-4df2-baf6-ed593f9421ab.png)

### What

[2022-01-08 18:57] Nfinished opened #3116 "`useRedirectAuthenticated` is not a function"
### What is the problem?

[useRedirectAuthenticated](https://blitzjs.com/docs/auth-utils#use-redirect-authenticated) Doesn't appear to be exported from blitz, though it is typed correctly.

### Paste all your error logs here:

[code]

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Try to use the hook

### Run `blitz -v` and paste the

[2022-01-09 14:19] ospfranco commented on #3095
Any idea on how to mitigate this in the meantime? before it was just annoying, now I'm integrating playwright tests and now it's just confusing because jest tries to run those as well

[2022-01-10 12:27] beerose commented on #3115
Hi, I just tried reproducing it with the same code, and it works fine for me. Maybe the problem is somewhere else outside of `usePaginatedQuery` + Suspense?

[2022-01-10 12:46] beerose commented on #3095
Ok, so Blitz's jest-preset has hardcoded ignored paths: https://github.com/blitz-js/blitz/blob/canary/packages/blitz/jest-preset.js#L28, so that issue is there. However, I managed to workaround it with the following code:

[code]

[2022-01-11 05:11] dhythm opened #3119 "Unable to mock query/mutation resolver"
### What is the problem?

As I create a discussion https://github.com/blitz-js/blitz/discussions/3112#discussioncomment-1924103, the mock for query/mutation resolver does not work at blitz 0.44.4. (it works well at older blitz version.)
It might be a regression. So I create an issue 🙏

### Paste all your error logs here:

![image](https://user-images.githubusercontent.com/10891318/148884726-0c7b23

[2022-01-11 14:07] #3115 closed

[2022-01-11 14:24] beerose commented on #3071
Hi @hmbrg, did you solve the issue?

[2022-01-12 07:07] dhythm opened #3120 "Query / Mutation resolve can't refer templates"
### What is the problem?

Thanks guys to maintain this awesome framework!!
I face with an issue as the below.

Create queries / mutations templates like `utils/templates/queriesTemplates/getCurrentUser.ts` and use it from `rpc/user/queries/getCurrentUser.ts` and `rpc/user2/queries/getCurrentUser.ts`.
Then, I caught a warning as `Duplicate page detected.`

The template doesn't have the name of `que

[2022-01-12 07:17] dhythm commented on #3120
Oh, I just understood the URL specification,
[code]

So, `app/rpc/user/queries/getCurrentUser.ts` and `app/rpc/user2/queries/getCurrentUser.ts` are built to `api/rpc/getCurrentUser` 🤦‍♂️

[2022-01-12 12:02] beerose commented on #3120
Glad you solved it! Let us know if there are any other issues

[2022-01-12 15:40] nakleiderer commented on #3074
How about a callback in the `blitz.config.ts` under `log.custom` that takes the default config and the instantiated logger. You could then modify what you'd like of the default config, attach transports, etc and return the logger for use. Would default to using the built in logger.

Tradeoffs:
- PRO: Let's you do basically whatever you want, including overriding config and attaching custom transpo

[2022-01-12 15:54] beerose commented on #3074
The final API/implementation aside,  I just wanted to mention that we're pivoting Blitz to a toolkit (https://github.com/blitz-js/blitz/discussions/3075), so that's where most focus currently is. We plan to fix major bugs, but won't be implementing new features. However, we're open to accepting PRs!

[2022-01-12 18:02] nakleiderer commented on #3074
I have this working locally with patch-package for now. Here's the diff: https://gist.github.com/nakleiderer/ff68347fe87d3434a28c723fc34c41b3

[2022-01-13 02:40] tafelito opened #3121 "make next argument optional when using authenticate = { redirectTo: '' }"
### What do you want and why?

Sometimes when using `Page.authenticate = { redirectTo: Routes.HomePage() }` it's not necessary to keep the current page path in the next argument. One example of this is when logging out. Once the user logs out and we want to redirect to the home page, we don't really care when you came before that. The next argument is valid when trying to go to an authenticated pa

[2022-01-13 03:09] tafelito opened #3122 "Page flickers when using authenticate in any of it's forms"
### What is the problem?

When using Page.authenticate = true or Page.authenticate = { redirectTo: '/' } you can see how the page actually flickers and then you get redirected

I believe this also happens when using Page.suppressFirstRenderFlicker = true

Here's a codesanbox with a reproduction

https://codesandbox.io/s/sweet-swirles-rcucr?file=/app/users/pages/account.tsx

### Paste all your erro

[2022-01-13 04:50] jmar777 commented on #2988
Thought I would mention that I ran into this as well while working through the intro tutorial.

In my case, `ctrl + d` and then running `npx blitz console` again (with no changes made) got me past the issue. Perhaps a race condition or "first run" bug?

[2022-01-13 11:43] beerose commented on #3096
I'm super sorry for the late reply.

Unfortunately, it looks like you have to explicitly pass `useErrorBoundary` right now as there's no way to provide custom query client config.

[2022-01-15 14:23] winner106 opened #3125 "Type Error in `create mutation` function"
### What is the problem?

Type Error in `app\admin\products\mutations\createProduct.ts` , I modified the `CreateProduct` , but the param `data` Type Error

### Paste all your error logs here:

[code]

### What are detailed steps to reproduce this?

1.modified then `\db\schema.prisma` , add model Product as follows:

[code]
2. run `blitz prisma db push`
3. run `blitz generate crud product`
4. modif

[2022-01-16 17:16] romakoch opened #3128 "Can't dockerise my app"
### What is the problem?

There is an error after trying to dockerize my app, using the official tutorial

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that show your problem

[2022-01-17 12:25] beerose commented on #3128
Hi, could you try with Node version 16 or lower?

[2022-01-17 13:06] beerose commented on #3066
Hi @regardt-nel, I tested that again, and the error overlay only shows on development. In prod, I can only see the error boundary (expected behavior). Nextjs displays the overlay on purpose, and I think there's no way to opt-out now. Here's more: https://github.com/vercel/next.js/discussions/13387.

I'm going to close the issue then, but please feel free to reopen if there are more issues.

[2022-01-17 13:06] #3066 closed

[2022-01-18 09:00] beerose commented on #3125
Hi @winner106, I tried reproducing it but it works fine for me — I don't see a TypeScript error and the types are correct:
<img width="734" alt="Screenshot 2022-01-18 at 09 57 54" src="https://user-images.githubusercontent.com/9019397/149904106-20e0a3a2-123e-4bb5-95bf-4d8363c48020.png">

Is it only in VS Code or do you see it in terminal logs as well? If it's the former, you can try restarting the

[2022-01-18 09:04] beerose commented on #3122
Thanks for the report! We'll look into this

[2022-01-19 08:07] jp3isme opened #3134 "Cannot find module '.blitz' when deploying to Vercel"
### What is the problem?

After trying to deploy a project to vercel I've been working on with no success, I tried deploying a fresh Blitz app and still had issues.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

N/A

### What are detailed steps to reproduce this?

1. blitz new <app_name>
2. ✔ Pick a new project's language · TypeScript
3. ✔ Pick your new a

[2022-01-19 21:38] jp3isme commented on #3134
I managed to get it deployed on Render with this render.yaml (I'm using a mongoDB db on atlas):
[code]
But I'm still curious about understanding this issue and getting it working on vercel

[2022-01-20 10:44] beerose commented on #3134
Thanks for reporting it @jp3isme — we'll try to investigate it soon.

[2022-01-20 15:53] beerose commented on #3122
So the cause of the issue is probably the `SupressFirstRenderFilcker` being broken. We'll fix that with the new Blitz toolkit (https://github.com/blitz-js/blitz/discussions/3075).

[2022-01-21 10:52] beerose commented on #3134
@jp3isme Could you provide more build logs?

[2022-01-21 12:39] beerose commented on #3119
Hey @dhythm. I finally had some time to take a look. I managed to get it working with the following changes:

[code]

1. I changed `mockRehectedValue` to `mockResolvedValue`.
2. Used await to wait for the button with `Logout`.

Let me know if that helps.

[2022-01-22 06:12] jp3isme commented on #3134
Unfortunately, I'll have to attach images, I hope that's ok. Either Vercel doesn't let you export logs or I just can't find how, and it will only let me copy and paste one line at a time.

This is the output for the fresh blitz app
<img width="810" alt="Screen Shot 2022-01-22 at 1 07 10 AM" src="https://user-images.githubusercontent.com/10137424/150627236-1362114b-2e0e-429d-bf06-eeb7c5cc3a48.png">

[2022-01-22 12:50] abjs commented on #2024
### **Select**

This is an select field like test field    using formik

[code]

[2022-01-24 00:57] dhythm commented on #3119
Hi @beerose. Thanks for having time about this issue. Sorry, using `mockRejectedValue` is my failure 🤦‍♂️

I tried the test again with the following code. However, it is failed yet.
[code]

At blitz v0.44.4
![image](https://user-images.githubusercontent.com/10891318/150706014-92c751d1-3ab0-4e25-a713-7c2d25ab8e07.png)

And also tried at blitz v0.45.2
![image](https://user-images.githubusercontent.c

[2022-01-24 01:43] dhythm commented on #3119
It looks not to mock `getCurrentUser` 🤦‍♂️

[2022-01-24 11:39] beerose commented on #3119
Hi @dhythm, I created a PR to your repo with all my code changes: https://github.com/dhythm/blitz-sample/pull/1. You'd need to run `blitz codegen` (to generate routes and fix the error on your last screenshot) before running the test

[2022-01-24 12:52] dhythm commented on #3119
Hi @beerose, I've confirmed your PR and the test worked well!!
I guess `blitz codegen` seems important for this case. So, I'll try to mock RPC resolver for other repo (much more complicated one).

Thanks for your help!!

[2022-01-24 12:55] beerose commented on #3119
No problem!

[2022-01-24 18:48] chrisj-back2work opened #3146 "Prefetch example fails on reading session"
### What is the problem?

The documentation provides an example of prefetching via `invoke`: https://blitzjs.com/docs/query-usage#prefetching

I followed that example; my prefetch looks like this: `const { someField } = await invoke(getWhatever, { where: {} })`

No complaints from eslint or tsc, but when I run the dev server, I get an error message.

Do I need to provide the context / session in s

[2022-01-25 05:59] dhythm commented on #3120
@beerose and folks!
I just found another issue 🤦‍♂️ , so re-open this issue.

When `UserInfo` has two `useQuery`s like
[code]
and `index.test.tsx` mocks them as
[code]

Run the test and watch console.log, then the log returns
[code]

Looks like `useQuery` always returns the first mock 👀

The latest code is here: https://github.com/dhythm/blitz-sample/blob/master/app/pages/index.test.tsx

[2022-01-25 05:59] #3120 closed

[2022-01-25 06:00] dhythm commented on #3119
@beerose and folks!
I just found another issue 🤦‍♂️ , so re-open this issue.

When `UserInfo` has two `useQuery`s like
[code]
and `index.test.tsx` mocks them as
[code]

Run the test and watch console.log, then the log returns
[code]

Looks like `useQuery` always returns the first mock 👀

The latest code is here: https://github.com/dhythm/blitz-sample/blob/master/app/pages/index.test.tsx

[2022-01-25 06:09] dhythm commented on #3119
If I mock `useCurrentUser` hook instead of `getCurrentUser`, then `getUser` is correctly mocked.

[2022-01-25 06:13] dhythm commented on #3119
If it is good to raise a new issue, I'll be happy to do 👍

[2022-01-25 09:24] beerose commented on #3146
Thank you for the report.

[2022-01-26 00:15] dhythm opened #3148 "Mocked RPC resolvers returns same value"
### What is the problem?

Hi folks, I found this issue after deep diving #3119 .
The issue is that two mocked resolvers with useQuery return same values.

Namely, app calls two `useQuery`s like,
[code]

Tests have the mock like,
[code]

### Paste all your error logs here:

console.log returns
[code]

### Paste all relevant code snippets here:

https://github.com/dhythm/blitz-sample
[code]

### Wha

[2022-01-26 00:16] dhythm commented on #3119
open a new issue #3148, so close this issue

[2022-01-26 00:16] #3119 closed

[2022-01-26 22:53] bcye opened #3149 "Better documentation of the features offered by blitz"
### What do you want and why?

The more information the better!

### Possible implementation(s)

How might we do this?

### Additional context

Add any other context or screenshots about the feature request here.

[2022-01-26 23:01] bcye opened #3150 "Better documentation of the features offered by blitz auth"
### What do you want and why?
Reading and searching the documentation, it is unclear to me wether Blitz offers a built-in way to verify emails on sign up. It would be great if this was documented in the Overview page of the auth section if this is offered, or if there was a page in the docs about how to set it up, as this seems like something almost every app needs.

I've found a [2fa passport str

[2022-01-26 23:17] bcye commented on #3149
Opened this one by accident, the real issue is #3150

[2022-01-26 23:17] #3149 closed

[2022-02-04 03:43] talcohen100 opened #3154 "TypeError when running blitz dev"
### What is the problem?

Blitz has been working fine for some time, but today I ran my project and got this error message:

I tried re-installing Blitz, deleting node_modules and .blitz but nothing seems to help..

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. blitz dev

### Run `blitz -v` and pa

[2022-02-04 08:05] xdivby0 opened #3155 "react-hook-form button is not disabled for long enough"
### What do you want and why?
I am using react-hook-form and the `new.tsx` pages that get generated always have this part:
`<button type="submit" disabled={ctx.formState.isSubmitting}>`

This means that after the form has been submitted successfully and `isSubmitting` is false again, we can double submit the form before the route changes (especially on slower connections) and create a second new e

[2022-02-04 10:05] beerose commented on #3155
Hi @xdivby0!

While I got the problem here, I don't think we can change it by providing `disabled={ctx.formState.isSubmitSuccessful || ctx.formState.isSubmitting}` by default. My reasoning is that sometimes, you do want the button enabled right after the click. Let's say you have a voting component and a button to _add votes_ (something like Medium does). In that case you need to make sure users c

[2022-02-04 10:22] beerose commented on #3154
I see that you're using an older Blitz version in your project (local). Could you try upgrading the latest?

[2022-02-04 11:33] xdivby0 commented on #3155
@beerose I think this is a valid point for some use cases. Correct me if I'm wrong, but I see two reasons that speak against that:
1. using the `new.tsx` for something like votes that are not inherently "new" objects should be the minor case in which modifications like removing the `isSubmitSuccessful` would be the thing people want, right?
2. If I'm wrong in 1., then we need to remove the auto-re

[2022-02-04 19:41] talcohen100 commented on #3154
@beerose  - tried that, and it looks like it's breaking other parts of the code, @blitz/core module cannot be found.

[2022-02-05 21:51] #3125 closed

[2022-02-06 10:09] Lokprakash-babu commented on #1004
@flybayer I faced this issue today after running `yarn` in the project directory.

OS: Windows 11
Node version: 16.13.2
Blitz version: 0.45.2
@prisma/client version: 3.9.1

[2022-02-06 10:48] Lokprakash-babu commented on #1004
@flybayer I faced this issue today after running `yarn` in the project directory. I tried with `npm install` faced the same issue. Unfortunately, `blitz db migrate` shows that the command is no longer available. So, I added a script in package.json for `prisma generate` and executed that before running `npm run dev` fixed the issue.

OS: Windows 11
Node version: 16.13.2
Blitz version: 0.45.2
@pris

[2022-02-07 09:38] beerose commented on #3154
Hmm, we don't expose a `@blitz/core` module. Can you paste the logs?

[2022-02-07 09:45] beerose commented on #3155
Hmm that makes sense, but what about the form in edit mode? Right now the forms are used for both creating and editing, while with edit users should be able to edit multiple times.

I don't have very strong opinions here, but want to make sure we won't worsen the experience for anyone.

[2022-02-07 10:21] beerose commented on #3146
Do you have the `sessionMiddleware` configured in your `blitz.config.ts`?

[2022-02-07 12:54] Jarrodsz commented on #2829
Could you please provide an example of using this ?

[2022-02-07 19:48] xdivby0 commented on #3155
If I'm not wrong, currently edit forms as well as new forms both redirect after submit and I think this is the default people want (set / create something once). If you think more people want the edit to be used multiple times, you'd have to remove the redirect.

You are totally right with that `new.tsx` and `edit.tsx` share the same form component - and I think it should stay that way. If (as sta

[2022-02-11 13:43] richardvanbergen commented on #2892
Kind of narrowed it down a little.

Running via `npx blitz new test` works just fine. But following the getting started instructions and installing globally via yarn with `yarn global add blitz` and `blitz new test` fails for me. This is all on node 16.

[2022-02-13 21:47] Vandivier opened #3170 "support `blitz prisma --help` in addition to existing `blitz prisma -h`"
### What do you want and why?

support `blitz prisma --help` in addition to existing `blitz prisma -h`

Why? just because `--help` is a common CLI flag that redirects to `-h` so this can save us a few keystrokes.

### Possible implementation(s)

literally just when --help is called, redirect the reference to -h or even call the other command explicitly as a subroutine

[2022-02-14 08:58] armandabric commented on #2955
I confirm I have the same issue on Vercel, but not on render (I just give it a try)

[code]

I'm getting this after upgrading from 0.39.0 to 0.45.3.

[2022-02-17 07:39] Umayarz18 commented on #751
If no one is working on this, I would happily try to tackle this one 😄

[2022-02-20 11:44] paulm17 commented on #2703
@karimsx Did you ever look into this?  Thanks

[2022-02-20 23:57] chrisj-back2work opened #3179 "Runtime sharing of env vars"
### What do you want and why?

Some way to share runtime env vars between server-side and client-side, similar to how the blitz.config.ts "env" option works for build-time variables.

The Blitz doco (https://blitzjs.com/docs/environment-variables#exposing-environment-variables-to-the-browser) describes how to use the "env" key. By experimentation, I've found values set in "env" are all determined

[2022-02-21 05:19] zipzap888 opened #3180 "Using planetscale / mysql breaks jest tests"
### What is the problem?

when you run db.$reset when using planetscale and prisma (mysql) it seems that the default jest tests don't work.

db.$reset drops the tables of the database, and it does a "prisma migrate reset --force --skip-generate" but planetscale doesn't use migrate, it requires that you use prisma db push. This would require that we send a mysql command to drop all tables, and then

[2022-02-23 07:54] Alfxjx commented on #3128
same error using node v16
successfully build in windows env
but failed in docker

[code]

[2022-02-23 08:08] beerose commented on #751
Hey @Umayarz18! I think no one is working on that :)

[2022-02-23 08:13] beerose commented on #3170
Hey, thanks for the suggestion! With the new toolkit, we'll probably improve the CLI but won't be working on it before that. I'm therefore closing this issue.

[2022-02-23 08:13] #3170 closed

[2022-02-23 08:17] beerose commented on #3150
It currently does not, but [0xsamrath](https://github.com/0xsamrath) has started working on that: https://github.com/blitz-js/blitz/pull/3159.

It kinda depends on how long it would be — if it's short I guess the docs would be fine, otherwise probably a blogpost. Also, this is something that depends more on app/product use case and is not related to Blitz per se. I think I'd be opting for a blog p

[2022-02-23 08:29] Alfxjx commented on #3128
[link-esbuild](https://esbuild.github.io/getting-started/#:~:text=However%2C%20people%20sometimes,your%20package%20manager%3A)

 this may help cause I copy the node_modules from outer to the docker

[2022-02-25 13:54] ospfranco opened #3183 "Query/Mutation timeout?"
### What do you want and why?

I have a long-running mutation that takes a while to do its job, it crawls and sends emails to a bunch of users, that is triggered via cron job (I'm using express). This works fine on local, but in my production environment it is a bit too slow and it looks like the mutation terminates before the job is done and all the users have been processed.

Is it possible to c

[2022-02-26 20:52] Umayarz18 commented on #751
Hi @beerose!

I'd love to be assigned to this one then! I started trying it on a fork and found a few ways to make it work like originally discussed:

1.) Installs the dependencies, config files, and an example story file in the `.stories.mdx` format.

---- OR ----

2.) Use the `addRunCommandStep()` for recipe builders to use the `npx sb init` command although I'm noticing it runs forever when I u

[2022-02-27 05:48] chrisj-back2work commented on #2988
In my case, the errors occur every time I open the console. I'm using Blitz 0.45.3.

[2022-02-28 11:04] walidmourou commented on #1322
**I still have the same issue with the latest blitz version. When I create a new app, I get this**

√ You have the latest Blitz version
√ Pick a new project's language · JavaScript
√ Pick your new app template · full
√ Install dependencies? · npm
√ Pick a form library (you can switch to something else later if you want) · React Final Form
Hang tight while we set up your new Blitz app!
CREATE ... (

[2022-02-28 15:48] beerose commented on #3180
Hey @zipzap888!

The issue was also briefly discussed here: https://github.com/blitz-js/blitz/issues/3053. Once we have a Planetscale recipe, it should do all the required changes to make the app work with Planetscale, like removing the migrations folder, removing or replacing `$reset` calls etc.

Right now the solution is to perform all the changes manually.

[2022-02-28 15:48] #3180 closed

[2022-02-28 16:28] beerose commented on #3134
Hey, I apologize for the late reply and for this issue.

I was able to narrow the issue down to these lines: https://github.com/blitz-js/blitz/blob/canary/packages/blitz/scripts/postinstall.js#L125-L133. It seems that _if_ we install next manually, the `.blitz` directory can't be found.

This is something that we think will go away with the new toolkit, but in the meantime, I'd try using `yarn` in

[2022-02-28 16:31] beerose commented on #3179
It _should_ work, and I'm not sure why it doesn't. However, what `publicRuntimeConfig` does is make a call to the server to extract env vars. So an alternative to using that is creating a Blitz query that returns an object with public environmental variables. You can then call this query on the frontend.

[2022-03-02 11:55] #2991 closed

[2022-03-03 04:33] Umayarz18 commented on #751
Hiya @beerose,

I will go for that first solution then : ). I feel with the second approach being only just using the recipe builder to run the `npx sb init` command not helpful as blitz users can do that themselves and still need to rearrange everything for themselves. I think if blitz users want this storybook recipe, it should be configured to match the app folder structure and have story examp

[2022-03-08 09:47] chimame opened #3189 "Send Query or Mutaion API error logs to monitoring tool"
### What do you want and why?

Following the RPC specification, a Query or Mutation is returned with an http status of 200. Therefore, at this time, errors such as Query must be handled on the client side.

We would like to be able to detect errors that occur on the server side. This is because we need to send the error content from the client in order to send it to monitoring tools such as Sentry

[2022-03-08 12:01] mouhcine opened #3190 "blitz generate fails when there is a field called "generator""
### What is the problem?

Running `blitz generate` fails when there is a model in the `schema.prisma` file that has a field called `generator`. I'm guessing the same would happen with other "token keywords" like `datasource` or `model`.

The workaround for now is to comment the `generator` field out, run the command and then undo the comment. This makes it IMHO a low priority bug but I thought it

[2022-03-08 15:11] beerose commented on #3190
Thanks for reporting it. For now, we can add the reserved keywords here: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/generate.ts#L219, what do you think?

[2022-03-08 15:13] beerose commented on #3189
This is something we talked about regarding Blitz Toolkit. We were thinking about having an error middleware that would cover the use cases as sending info to monitoring tools.

[2022-03-08 15:18] mouhcine commented on #3190
I don't think it's exactly the same issue. It is related to field names and not models. Not know much about how the `generate` command works, I'm not actually sure if this is a blitz or prisma issue.

[2022-03-09 19:53] flybayer opened #3196 "Scaffold out initial RPC code"

[2022-03-09 19:56] flybayer opened #3197 "Migrate `ErrorBoundary` to `blitz-next`"
- [x] https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib/error-boundary.tsx
- [x] https://github.com/blitz-js/blitz/blob/canary/nextjs/test/unit/error-boundary.unit.test.tsx
- [x] https://github.com/blitz-js/blitz/blob/canary/nextjs/test/unit/error-boundary-hook.unit.test.tsx

[2022-03-09 19:57] flybayer opened #3198 "Migrate passport adapter to `blitz-auth`"
https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib-server/passport-adapter.ts

- [ ] Copy this: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib-server/middleware.ts#L137-L144
- [ ] And it's tests

[2022-03-09 19:59] flybayer opened #3199 "Pass queryClient into gSSP and gSP - `blitz-next`"
Idea is that instead of this:
[code]

We can do this:

[code]

So gSSP:
1. Creates queryClient and passes it in via `ctx.queryClient`
2. Passes in `ctx.prefetchBlitzQuery`
3. After the user's function returns, handle `dehydratedState: dehydrate(queryClient)` automatically for the user

[2022-03-09 20:00] flybayer opened #3200 "Support RPC error middleware"
Make `onError` in rpcHandler work

[2022-03-09 20:03] flybayer opened #3201 "Client Plugins: Use context to register exports"

[2022-03-09 20:03] flybayer opened #3202 "Client Plugins: Merge events"

[2022-03-09 20:03] flybayer opened #3203 "Inform user about conflicting plugins"

[2022-03-09 20:04] flybayer opened #3204 "Add typings for PrismaStorage"

[2022-03-09 20:07] flybayer opened #3205 "Execute repo transition"
- [x] Move `canary` branch to new `legacy-framework` repo
- [x] Script to migrate all legacy issues to `legacy-framework` repo (all closed issues without toolkit label)
- [x] Manually review all open issues and close and/or move to legacy repo
  - issues that are no longer relevant
  - issues that are extremely stale
  - issues like bugs that are real but only apply to legacy framework
- [x] Scrip

[2022-03-09 20:08] flybayer opened #3206 "Migrate `useParam` and `useParams` to `blitz-next`"
- [ ] [And it's tests](https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/client/router.ts#L204-L271)
- [ ] https://github.com/blitz-js/blitz/blob/canary/nextjs/test/unit/router-hooks.unit.test.ts#L36-L257

[2022-03-09 20:09] flybayer opened #3207 "Migrate `enhancePrisma` utility to `blitz`"
https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib/prisma-utils.ts

[2022-03-09 20:09] flybayer opened #3208 "Migrate `paginate` utility to `blitz`"
- [ ] https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib-server/index.ts#L21-L84
- [ ] https://github.com/blitz-js/blitz/blob/canary/nextjs/test/unit/paginate.unit.test.ts

[2022-03-09 20:09] flybayer opened #3209 "Migrate `zod-utils` to `blitz`"
- [x] https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib/zod-utils.ts
- [x] https://github.com/blitz-js/blitz/blob/canary/nextjs/test/unit/zod-utils.unit.test.ts

[2022-03-09 20:11] flybayer opened #3210 "🔥Convert new app templates to new toolkit setup"

[2022-03-09 20:14] flybayer opened #3211 "Add new cli to `blitz`"
- [ ] Load env variables like before
- [ ] Set `process.env.__NEXT_PROCESSED_ENV = 'true` to skip nextjs env loading
- [ ] First class commands:
  - [ ] `blitz generate`
  - [ ] `blitz install`
  - [ ] `blitz new`
- [ ] Any other `blitz CMD` will run some logic (load env variables), then run `node_modules/.bin/CMD` and pass through all arguments
- [ ] `blitz next CMD` will be special cased, such t

[2022-03-09 20:15] flybayer opened #3212 "Update Blitz docs for new toolkit setup"

[2022-03-09 20:18] flybayer opened #3213 "Write codemod to convert legacy blitz to new toolkit setup"
- [x] blitz.config to next.config
- [x] All nextjs imports from `blitz` back to `next/X` ([see current rewrite map here](https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/build/babel/plugins/rewrite-imports.ts))
- [x] All blitz imports to new setup
- [x] Add server and client setup files
- [x] Add `[[...blitz]].ts` api route
- [x] Pages structure - consolidate all pages to `pages/

[2022-03-09 20:24] flybayer opened #3214 "Add cli extension to `blitz-next`"
- [ ] `blitz next CMD` will be special cased, such that all nextjs commands like `blitz dev`, `blitz lint`, etc will run `blitz next dev`, etc.
- [ ] `blitz dev`, `blitz build`, and `blitz start` all need to support custom server (see https://github.com/blitz-js/blitz/blob/canary/packages/server/src/dev.ts)
- [ ] `blitz codegen` for Routes manifest
- [ ] `blitz dev` should continue to automaticall

[2022-03-09 20:25] flybayer opened #3215 "Figure out working relationship between `blitz/cli` and `blitz-next/cli`"

[2022-03-09 20:29] flybayer opened #3216 "Migrate jest config to `blitz-next`, remove as much as we can in favor of extending `next/jest`"

[2022-03-09 20:35] flybayer opened #3217 "Migrate `generator` package to `blitz`"
For now, don't worry about updating the templates. Just get the code and tests migrated.

Put everything in `packages/blitz/generator`

[2022-03-09 20:38] flybayer opened #3218 "Migrate `recipes` directory to toolkit"

[2022-03-09 20:45] flybayer opened #3219 "Migrate global client error patch to `blitz`"
This code: https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/client/index.tsx#L111-L146

needs to be migrated to `blitz` `index-browser.ts`

[2022-03-09 20:51] flybayer opened #3220 "Migrate `connectMiddleware` to `blitz-next`"
https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib-server/middleware.ts#L88-L135

- [ ] and it's tests

[2022-03-09 21:00] flybayer opened #3221 "Migrate middleware to core"
https://github.com/blitz-js/blitz/blob/canary/nextjs/test/unit/middleware.unit.test.ts

[2022-03-09 21:05] flybayer opened #3222 "Migrate `auth` integration test"
To `test/integrations`

Merge the following two into a single integration test. (Look at the test/index.test.ts files to see what each tests, and combine them)
- [ ] https://github.com/blitz-js/blitz/tree/canary/nextjs/test/integration/auth
- [ ] https://github.com/blitz-js/blitz/tree/ada67b5aedd55490baeb80b02c54d268b8181761/test/integration/auth

- [ ] Currently they rely on RPC, but we need to j

[2022-03-09 21:07] flybayer opened #3223 "Migrate `env-config-app-env` integration test"
https://github.com/blitz-js/blitz/tree/canary/nextjs/test/integration/env-config-app-env

[2022-03-09 21:23] flybayer opened #3224 "Move `runMiddlewares` from `blitz-next` into `blitz"
https://github.com/blitz-js/blitz/blob/main/packages/blitz-next/src/index-server.ts#L35-L50

[2022-03-09 21:23] flybayer opened #3225 "Move errors from `blitz-auth` to `blitz`"

[2022-03-10 00:16] chimame commented on #3189
@beerose Thanks for the response!

So you are saying that this issue will not be tackled in the current Blitz, but will be tackled in the Blitz Toolkit? If there is anything I can help you with in the Blitz Toolkit, please let me know.

[2022-03-10 15:07] beerose commented on #3189
@chimame Yes, it will be tackled in the toolkit! Here's the related issue: https://github.com/blitz-js/blitz/issues/3200. It's currently blocked on the initial RPC setup: https://github.com/blitz-js/blitz/issues/3196.

[2022-03-10 16:38] beerose commented on #3224
Closed in https://github.com/blitz-js/blitz/pull/3227

[2022-03-10 16:38] #3224 closed

[2022-03-11 13:07] matthieuh commented on #2955
I'm also confirming issue is still happening with version `0.45.3`. Is there any workaround? :P

[2022-03-11 15:10] beerose commented on #3197
Closed in https://github.com/blitz-js/blitz/pull/3229

[2022-03-11 15:10] #3197 closed

[2022-03-11 18:18] beerose commented on #3220
https://github.com/blitz-js/blitz/pull/3230

[2022-03-11 18:18] #3220 closed

[2022-03-11 19:16] beerose commented on #3207
https://github.com/blitz-js/blitz/pull/3231

[2022-03-11 19:16] #3207 closed

[2022-03-11 19:35] beerose commented on #3219
https://github.com/blitz-js/blitz/pull/3232

[2022-03-11 19:35] #3219 closed

[2022-03-11 19:51] beerose commented on #3209
https://github.com/blitz-js/blitz/pull/3233

[2022-03-11 19:51] #3209 closed

[2022-03-12 03:01] 18601673727 opened #3234 "Deploy to Render.com failed"
### What is the problem?

[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Follow [this guide](https://blitzjs.com/docs/deploy-render) carefully
2. Go to Render.com and see the results

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs a

[2022-03-12 15:23] piotrski commented on #3206
Can I grab this task?

[2022-03-14 08:49] noxify commented on #3234
Sounds similar: https://github.com/vercel/next.js/issues/35267

[2022-03-14 08:55] fanshaohua-fan commented on #3234
@18601673727 this workaround solved the issue for me, maybe you should give a try:
https://github.com/vercel/next.js/issues/35267#issuecomment-1065547135

[2022-03-14 10:25] 0xsamrath commented on #2399
any updates on this @flybayer ?

[2022-03-14 11:06] beerose commented on #3206
Sure! @piotrski

[2022-03-14 15:04] iDavidB commented on #2370
@benbender Is this fix still supposed to work? I assume you also still dehydrate the same way the docs tell you to?

[2022-03-14 17:16] 18601673727 commented on #3234
Thanks @noxify @fanshaohua-fan , my blitz app now running.

[2022-03-14 17:16] #3234 closed

[2022-03-20 15:41] gnortpro opened #3236 ""TypeError: dispatcher.useId is not a function" when install material ui"
### What is the problem?

I created MUI form with command `blitz install material-ui`, I try to use MUI form in tsx file but get error "TypeError: dispatcher.useId is not a function"

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Run command `blitz install material-ui`
2. Select over write option

[2022-03-20 16:10] gnortpro commented on #3236
Fixed by change version react and react-dom
[https://github.com/mui/material-ui/issues/31190](https://github.com/mui/material-ui/issues/31190)

[2022-03-20 16:10] #3236 closed

[2022-03-24 15:14] beerose commented on #3221
https://github.com/blitz-js/blitz/pull/3238

[2022-03-24 15:14] #3221 closed

[2022-03-26 01:29] markhughes commented on #3206
Hey @piotrski how'd you go with this one? I'd be keen to take it on otherwise.

[2022-03-26 01:31] markhughes commented on #3206
@flybayer did you want this exported from blitz or blitz-next? We could change it to be more framework agnostic?

[2022-03-27 00:48] chrisj-back2work opened #3240 "How to use Prisma transaction capabilitiles"
### What do you want and why?

I'd like to be able to use the Prisma transaction features, including the interactive transactions (= transactions in a function block) described here https://www.prisma.io/docs/guides/performance-and-optimization/prisma-client-transactions-guide

I attempted to follow their example, using the Blitz `db` object (`import db from "db") in lieu of their `prisma` object

[2022-03-27 04:12] sergous opened #3241 "Can't load blitz console"
### What is the problem?

Loading Modules 2/17

The potential reason is blitz searching db in /node_modules/db instead of /db/index.js

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. blitz new (JS version)
2. blitz console

### Run `blitz -v` and paste the output here:

[code]

### Please include b

[2022-03-27 23:15] skorotkiewicz opened #3242 "Proposal to add SASS as a standard style"
### What do you want and why?
Adding SASS as a standard style to Blitz.js

### Possible implementation(s)

`yarn add sass` ¯\\\_(ツ)\_/¯

PS. I really love blitz.js! Thank you @flybayer for creating such a great project!

[2022-03-28 09:51] beerose commented on #3206
It looks like it's not related to Next, so we can export it from `blitz` package instead

[2022-03-28 10:01] beerose commented on #3242
Hmm, I think that the app template is meant to be as minimal as possible (hence no style libraries) so that people can add style libraries of their choice after creating a new project.

[2022-03-28 11:40] piotrski commented on #3206
So sorry guys, I've been pretty busy at work and didn't notice that @beerose had assigned me to this task. @markhughes if you want, you can grab it. The current implementation uses `useRouter` from `next.js`, so it's unlikely to be able to move that to core, but there are some url helpers that are also used by `blitz-auth`, so it might be a good idea to move them to core.

[2022-03-28 11:57] #3204 closed

[2022-03-28 15:36] beerose commented on #3206
Ah yeah, @piotrski is right — `useParams/useParam` is strictly related to Next. Let's add it to `blitz/next` then.

[2022-03-28 16:02] MrLeebo commented on #3242
@skorotkiewicz Can you describe what it is you want to achieve from sass that you can't already accomplish with postcss? Generally having node-sass as a dependency has been a pain-point in a dev's project set-up experience, not exactly made it smoother.

[2022-03-29 00:27] markhughes commented on #3206
Although useParam and useParams are currently strictly related to next I think it could easily be ported to other frameworks? If the plan is to be a reusable toolkit it might be worthwhile :) but I suppose you could write it individually for each implementation too.

[2022-03-29 11:26] #3242 closed

[2022-03-29 18:56] flybayer commented on #3206
@markhughes let's put it in next for now, we can abstract it later. Our current target is _something_ working for React Miami :D

[2022-03-29 19:01] flybayer opened #3246 "Add barebones cli setup"
- Copy the nextjs cli setup
- in `blitz` core pkg

[2022-03-29 19:02] flybayer opened #3247 "🔥cli: add `blitz NAME CMD`"
**The minimum that we need is `blitz prisma` to work, we can hardcode that for now if needed.**
---
- [ ] Any `blitz CMD` will run some logic (load env variables like we are currently with dotenv-flow), then run `node_modules/.bin/CMD` and pass through all arguments
- [ ] should work for yarn v1
- [ ] should work for yarn v3
- [ ] should work for pnpm
- [ ] should work for npm

[2022-03-29 19:03] flybayer opened #3248 "cli: add `blitz start` and `blitz build` etc"
- [ ] `blitz next CMD` will be special cased, such that all nextjs commands like `blitz dev`, `blitz lint`, etc will run `blitz next dev`, etc.
- [ ] Set `process.env.__NEXT_PROCESSED_ENV = 'true` to skip nextjs env loading

[2022-03-29 19:04] flybayer opened #3249 "Migrate Routes manifest to `blitz-next`"
- [ ] ran by `blitz codegen` cli

[2022-03-29 19:04] flybayer opened #3250 "cli: `blitz dev` should automatically choose next empty port"
like legacy blitz, will pass`-p` to the next cli

[2022-03-29 19:05] flybayer opened #3251 "`blitz next` commands need to work for custom server"
this is essentially migrating our legacy custom server support to new toolkit

- [ ] `blitz dev`, `blitz build`, and `blitz start` all need to support custom server (see https://github.com/blitz-js/blitz/blob/canary/packages/server/src/dev.ts)

[2022-03-29 19:06] flybayer opened #3252 "cli: `blitz new` generates new kitchen sink app"
- [ ] add `blitz new` command handler
- There is a separate task for updating the new app template

[2022-03-29 19:06] flybayer opened #3253 "cli: `blitz install` installs recipes"

[2022-03-29 19:07] flybayer opened #3254 "cli: `blitz generate` works"

[2022-03-29 19:08] #3211 closed

[2022-03-30 12:35] beerose commented on #3217
https://github.com/blitz-js/blitz/pull/3245

[2022-03-30 12:35] #3217 closed

[2022-03-30 16:03] DmacMcgreg opened #3258 "blitz export -o does not export to provided folder"
### What is the problem?

Blitz export does not output to correct folder provided in the options
run `blitz build` before:

`blitz export -o dist`
`blitz export -o dist/`
`blitz export --outdir=dist`
`blitz export --outdir=dist/`

All of them continue to export to the 'out' folder.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

`blitz export -o dist`
`bli

[2022-04-01 22:46] dillonraphael opened #3262 "Auth integration tests that explicitly targets a nextjs "serverless" build inside `next.config.js`"
- describe a "serverless mode"
- should use codemod to add `target: "serverless"` to the `next.config.js` file inside the test file

[2022-04-03 21:56] timfee opened #3264 "bliz install next-ui fails with error"
### What is the problem?

When installing `next-ui`, the script fails:

[code]

It *does* make changes to _app.tsx, but I'm not sure if there were more steps ahead.

### Paste all your error logs here:

[code]

[code]
[code]

### Paste all relevant code snippets here:

n/a

### What are detailed steps to reproduce this?

1. Create a brand new project (without anything else in it)
2. Run `blitz ins

[2022-04-03 22:05] timfee commented on #3264
I'm not sure if this is (among the) culprits, but at [recipes/next-ui/index.ts#L117](https://github.com/blitz-js/blitz/blob/canary/recipes/next-ui/index.ts#L117), it's looking for a file that doesn't exist ( `app/core/components/LabeledTextField.tsx`), and seems to have failed at this step.

[2022-04-03 22:08] timfee commented on #3264
One more thing; the [installation guides suggest](https://nextui.org/docs/guide/getting-started#next.js) changing `_document` - which this recipe doesn't do (but is a different issue than here; happy to make another one!)

[2022-04-04 09:04] beerose commented on #3208
https://github.com/blitz-js/blitz/pull/3266

[2022-04-04 09:04] #3208 closed

[2022-04-04 13:34] flybayer opened #3268 "Add CI test to prevent "warning inlining dependency""

[2022-04-04 13:44] flybayer commented on #3206
Hey @markhughes, we'd like to get this done this week. If you aren't able this week, that's fine, we can take it over.

[2022-04-05 13:22] dillonraphael commented on #3248
Idea:
Commands like `blitz dev` should check if user is using `next` or `remix`, then fetch cli commands from appropriate separate package. This will keep the cli agnostic and consistent with blitz toolkit vision.

[2022-04-06 01:52] markhughes commented on #3206
no worries @flybayer i'm fairly busy with work this week, so I wouldn't be able to until the weekend :)

[2022-04-06 09:03] beerose commented on #3206
Closed in #3269

[2022-04-06 09:03] #3206 closed

[2022-04-07 15:46] dillonraphael opened #3271 "Add windows testing support to CI"
Currently when the tests run on windows os the following error happens:

[code]

[2022-04-08 11:38] beerose commented on #3216
Closed in https://github.com/blitz-js/blitz/pull/3267

[2022-04-08 11:38] #3216 closed

[2022-04-09 20:27] isaacs opened #3275 "js project initialization creates invalid glob in lint-staged options"
### What is the problem?

invalid glob is `*.{js}`.  Braced groups are only valid if they have more than one member.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. create new js app
2. commit anything to git
3. ``⚠ Detected incorrect braces with only single value: `*.{js}`. Reformatted as: `*.js`

[2022-04-09 21:35] isaacs commented on #3241
This is a workaround I used that got me unstuck, without having to painstakingly edit every file Blitz generates: https://gist.github.com/isaacs/4bdeb1d2de48b32e5cd9b668108c1762

[2022-04-09 21:41] isaacs commented on #3241
It's really not a great idea to rely on any folder in the cwd being a valid top-level import.  I know you can configure TypeScript to do this with the tsconfig.json file containing `{"compilerOptions":{"baseUrl":"."}}`, but putting the same value in a `jsconfig.json` doesn't have the same effect, because "jsconfig.json" is not a thing.

The reason it's not a good idea is that a top-level dependenc

[2022-04-09 21:43] isaacs commented on #3241
Aha! Apparently it _is_ a thing in Webpack, but when loading non-webpack'ed code, it doesn't work.  Still, better to be explicit.

[2022-04-10 03:15] dillonraphael opened #3277 "Add CLI tests"

[2022-04-10 16:31] flybayer opened #3279 "Migrate `resolver` to `blitz` core"
Migrate these files:
- [ ] https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/stdlib-server/resolver.ts
- [ ] https://github.com/blitz-js/blitz/blob/canary/nextjs/test/unit/resolver.unit.test.ts

to the new toolkit `main` branch

[2022-04-10 16:39] Kombustor opened #3280 "Newly initialized project completely broken"
### What is the problem?

When creating a new project using `blitz new` it fails to build.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

-

### What are detailed steps to reproduce this?

1. Create a new project with `blitz new <name>`
2. Run `blitz build`

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicab

[2022-04-10 19:03] siddharthsharma94 opened #3281 "BigInt in Session causes Do not know how to serialize a BigInt"
### What is the problem?

`createSessionToken` uses `JSON.stringify` on the publicData being passed in, which doesn’t support BigInt. Seems like a use case for [superjson](https://github.com/blitz-js/superjson#backstory) instead?

### Paste all your error logs here:

TypeError  Do not know how to serialize a BigInt
error stack:
• blitzjs-core-server.cjs.dev.js:805 createSessionToken
    node_modul

[2022-04-11 10:51] #3250 closed

[2022-04-11 13:59] flybayer opened #3283 "🔥Add RpcClientPlugin"
Things to get working:

- [ ] Accepts reactQueryOptions which are passed to QueryClient initialization
- [ ] Initialize queryClient inside RpcClientPlugin() (currently code is in blitz-next)
- [ ] Default suspense: true
- [ ] Set globalThis.__BLITZ_SUSPENSE_ENABLED to the suspense config inside the plugin setup
 - [ ] Replace all instances of process.env.__BLITZ_SUSPENSE_ENABLED with globalThis.__

[2022-04-11 14:07] flybayer opened #3284 "Remove extra auth hook exports from setupClient"

[2022-04-11 14:11] flybayer opened #3285 "Move QueryClientProvider from blitz-next into RpcClientPlugin"

[2022-04-11 14:19] flybayer opened #3286 "Refactor all nextjs commands (blitz dev, etc) to be special case of `blitz CLI_NAME ARGS` feature"

[2022-04-11 14:42] flybayer opened #3288 "🔥Set up npm publishing"
Is turbo enough? do we need to pull in lerna?

In legacy blitz, lerna does the following:
- auto updates all package versions
- publishes all packages
- tags the release appropriately

We want to publish all packages with version `2.0.0-alpha.x` at `alpha` tag

[2022-04-12 10:38] #3280 closed

[2022-04-12 12:31] beerose commented on #3284
Closed in https://github.com/blitz-js/blitz/pull/3287

[2022-04-12 12:31] #3284 closed

[2022-04-12 13:52] beerose opened #3290 "Figure out how to migrate custom server settings from blitz.config"
We need to read the config in dev command in next-commands.ts file.

[2022-04-12 13:58] flybayer opened #3291 "Migrate react-query integration tests to toolkit"
- [ ] https://github.com/blitz-js/blitz/blob/canary/nextjs/test/unit/use-mutation.unit.test.tsx
- [ ] https://github.com/blitz-js/blitz/blob/canary/nextjs/test/unit/use-query.unit.test.tsx

[2022-04-12 13:59] flybayer opened #3292 "Migrate queries integration test to blitz-rpc"
- [ ] https://github.com/blitz-js/blitz/tree/ada67b5aedd55490baeb80b02c54d268b8181761/test/integration/trailing-slash
- [ ] https://github.com/blitz-js/blitz/tree/ada67b5aedd55490baeb80b02c54d268b8181761/test/integration/queries

[2022-04-12 14:01] flybayer opened #3293 "Migrate suspense & trailing slash integration tests to toolkit"
- [ ] https://github.com/blitz-js/blitz/tree/ada67b5aedd55490baeb80b02c54d268b8181761/test/integration/trailing-slash
- [ ] https://github.com/blitz-js/blitz/tree/ada67b5aedd55490baeb80b02c54d268b8181761/test/integration/no-suspense

[2022-04-12 14:02] flybayer opened #3295 "Migrate react-query unit test to blitz-rpc"
- [ ] https://github.com/blitz-js/blitz/blob/canary/nextjs/test/unit/react-query-utils.unit.test.ts

[2022-04-12 14:02] flybayer opened #3296 "Migrate middleware integration test to toolkit"
- [ ] https://github.com/blitz-js/blitz/tree/canary/nextjs/test/integration/middleware

except for local middleware which we don't support anymore

[2022-04-13 02:24] flybayer opened #3301 "Resolve all suspense issues"
Nextjs https://github.com/vercel/next.js/releases/tag/v12.1.2-canary.0 breaks how our react-query hooks render loading screens during static prerendering.

Before, throwing an infinite promise caused nextjs to render the loading screen on the server. But now, the server just hangs forever waiting for data to load.

This could be a bug in nextjs or at least unintentional. Need to sync up with their

[2022-04-13 09:23] beerose commented on #3248
https://github.com/blitz-js/blitz/pull/3272

[2022-04-13 09:23] #3248 closed

[2022-04-13 12:24] beerose commented on #3283
Closed in https://github.com/blitz-js/blitz/pull/3302

[2022-04-13 12:24] #3283 closed

[2022-04-14 13:22] ragokan commented on #2399
I also wonder that, this looks pretty cool

[2022-04-14 22:56] dillonraphael opened #3303 "Fix tests to work for AppGenerator"
Currently when running the  app-generator tests fail because `input` is undefined when running through `this.process` inside `packages > generator > generator.ts`

[2022-04-15 00:49] #3288 closed

[2022-04-15 00:49] flybayer opened #3304 "Set up changesets automation"
- https://github.com/apps/changeset-bot
- https://github.com/changesets/action

[2022-04-15 23:00] dillonraphael opened #3306 "Any blitz CMD will run the associated .bin file"
Running any `blitz **cmd**` will run the associated `.bin` file from `node_modules/.bin/**cmd**` and will inject the env variables using the `loadEnvConfig` which is exported from `packages/blitz/src/env-utils.ts`, as well as passing all arguments.

(Note: Using the `arg` package you can traverse arguments that aren't flags, ie. `--flag` like so: `args._`)

[2022-04-20 12:33] beerose commented on #3279
https://github.com/blitz-js/blitz/pull/3307

[2022-04-20 12:33] #3279 closed

[2022-04-20 12:41] #3210 closed

[2022-04-20 12:42] #3247 closed

[2022-04-20 12:42] #3254 closed

[2022-04-20 12:42] #3222 closed

[2022-04-20 12:42] #3252 closed

[2022-04-20 12:43] #3246 closed

[2022-04-20 19:57] flybayer opened #3309 "Set up superjson in gSSP and gSP"

[2022-04-23 13:31] datner opened #3311 "replace lodash.clonedeep with something lighter.."
Hey, I'm making a size-sensitive application so I started snooping around and I found that blitz are using `lodash.clonedeep`.
Thats understandable, lodash has many utils. But it's also so bloated!
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/22598347/164896461-648d7277-5ccb-40cb-a68f-8412949458b8.png">
there other swap-in alternatives with a lighter footprint like

[2022-04-24 14:04] tmcw opened #3312 "Unguarded localStorage access causes uncaught crashes when dealing with auth"
### What is the problem?

People using browsers with security-paranoid configurations have some unusual `localStorage` behavior. You either get:

- Chrome on Android in private mode or with paranoid extensions = no localStorage object at all. `localStorage` is null.
- Firefox in private mode: `localStorage` exists, but if you touch it, you get an error

So: the essence is that Blitz's auth system

[2022-04-24 17:19] ganeshmani commented on #3295
@beerose can I work on this issue?

[2022-04-25 07:22] beerose commented on #3295
Sure, @ganeshmani!

[2022-04-25 07:26] beerose commented on #3311
Thanks for pointing that out! As `lodash.clonedeep` is a dependency of `superjson`, I'm going to transfer this issue to the superjson repo.

[2022-04-25 14:05] flybayer opened #3313 "Open an issue for next.js suspense"

[2022-04-25 14:08] flybayer opened #3314 "Figure out next.js/react version combo so that suspense is working in alpha release"
main discussion here: https://github.com/blitz-js/blitz/issues/3301

[2022-04-26 14:26] beerose opened #3315 "Better `blitz --version`"
We should print Blitz version in a similar way as in the legacy Blitz — with global and local versions etc.

[2022-04-27 09:39] beerose commented on #3306
https://github.com/blitz-js/blitz/pull/3310

[2022-04-27 09:39] #3306 closed

[2022-04-27 09:39] beerose commented on #3286
https://github.com/blitz-js/blitz/pull/3310

[2022-04-27 09:41] #3286 closed

[2022-04-27 15:00] beerose opened #3318 "Add `blitz db seed` cmd"

[2022-04-27 15:08] beerose opened #3319 "Convert app examples to use Blitz Toolkit"
- [ ] auth (in progress, @ganeshmani)
- [ ] no-prisma
- [ ] plain-js
- [ ] static
- [ ] store

[2022-04-27 22:07] flybayer commented on #3313
Issue opened here: https://github.com/vercel/next.js/issues/36526

[2022-04-27 22:07] #3313 closed

[2022-04-27 22:07] flybayer commented on #3314
Next.js issue opened here: https://github.com/vercel/next.js/issues/36526

[2022-04-29 11:27] stfnsr opened #3324 "Blitz install errors due to missing postinstall script (v2.0.0-alpha.10)"
### What is the problem?

I generated a new blitz app with v2.0.0-alpha.10, and an error occurred during install.
According to the error message, the postinstall script at `node_modules/@blitzjs/next/src/scripts/postinstall.js` is missing.
From what i can tell, the entire scripts folder is currently left out of the published package because it is included neither in the [build config](https://gith

[2022-04-29 12:28] beerose commented on #3324
Thanks for the report! This is something we're aware of and @dillonraphael is currently working on it!

[2022-04-29 14:06] beerose opened #3325 "Add `publish-danger` script to package.json"

[2022-04-29 14:57] mltwist-brice opened #3326 "Cannot find module 'preview-email' or its corresponding type declarations in production deploy"
### What is the problem?

When deploying/building for production, Blitzjs fails to find the dynamic import for `preview-email` when checking the validity of types. This is the code that comes out of the box with a new Blitzjs project in the `./mailers/forgotPasswordMailer.ts` file. I suspect the production build tree shakes, removes the preview email dependency and even though the dynamic importin

[2022-05-01 12:22] sunw31 opened #3329 "support for deno?"
deno.land/x/blitz

[2022-05-02 16:55] flybayer commented on #3301
Next.js issue opened here: https://github.com/vercel/next.js/issues/36526

[2022-05-02 16:56] dillonraphael opened #3331 "Use Routes manifest for generator templates"
Currently the templates are using hard coded strings. We should use the Route manifest like before.

[2022-05-02 20:03] dillonraphael commented on #3324
2.0.0-alpha.18 fixes this issue

[2022-05-02 20:03] #3324 closed

[2022-05-02 20:06] dillonraphael opened #3333 "When using the alpha tag in generator templates, it installs `2.0.0-alpha.1` instead of latest alpha version"

[2022-05-02 20:15] dillonraphael commented on #3301
Some resources collected from googling:

- https://github.com/tannerlinsley/react-query/discussions/2942
- https://github.com/tannerlinsley/react-query/discussions/3173
- https://codesandbox.io/s/nextjs-react-rc-9h7d3e?file=/pages/_app.js (codesandbox with react-query working with react 18 and nextjs 12.1.1)

[2022-05-02 20:59] stfnsr commented on #3333
Seems like 2.0.0-alpha.1 was the last version tagged as alpha, 2.0.0-alpha.18 is tagged as latest:
https://www.npmjs.com/package/@blitzjs/auth?activeTab=versions

[2022-05-02 21:41] dillonraphael commented on #3333
good catch @stfnsr

[2022-05-03 00:07] flybayer commented on #3301
Relevant: https://github.com/vercel/next.js/issues/35564

[2022-05-03 00:44] flybayer commented on #3301
I've closed this issue: https://github.com/vercel/next.js/issues/36526

And opened two new ones:
- https://github.com/vercel/next.js/issues/36636 (this is the same problem we are currently seeing, so hopefully this will fix our issue too)
- https://github.com/vercel/next.js/issues/36634 (not directly affecting us, but something we noticed in our research)

[2022-05-04 15:18] #3331 closed

[2022-05-04 18:04] dillonraphael commented on #3333
Fixed the generator to use the latest tag on `@blitzjs/rpc` & `@blitzjs/auth` because of the following message: `@blitzjs/rpc is being published to **latest** rather than **alpha** because there has not been a regular release of it yet`.

[2022-05-04 18:04] #3333 closed

[2022-05-05 11:38] beerose commented on #3314
Closing this issue in favour of https://github.com/blitz-js/blitz/issues/3301

[2022-05-05 11:38] #3314 closed

[2022-05-05 11:39] beerose commented on #3295
Hey @ganeshmani, how's it going with the tests migration?

[2022-05-05 13:33] beerose commented on #3304
https://github.com/blitz-js/blitz/pull/3330

[2022-05-05 13:33] #3304 closed

[2022-05-06 16:10] laurencefass commented on #1017
I dont want to global install blitz I would prefer to use npx to install anything.

However Im getting an upexpected outcome:

[code]

I said yes, went through some install process, and then... nada. Folder is empty.

[2022-05-06 16:47] laurencefass opened #3338 "I can't install blitz app with npx"
### What is the problem?

I think this should work but its not hence raising as a bug.

Reading here to get started: https://blitzjs.com/docs/get-started

I want to try out Blitz but i dont want to install global so I am trying to npx it.

[code]

I said yes, it went through some install process and didnt install blitz.

Can I do it by this method. It would certainly be useful if i could

Thanks

[2022-05-07 16:15] flybayer commented on #3301
Update: I talked with @acdlite this week and they are adding an API to React within 2-3 weeks for forcing rendering of suspense fallback on the server. This will solve all our problems.

[2022-05-08 05:30] ganeshmani commented on #3319
@beerose I would like to work on this one.

[2022-05-09 09:11] beerose commented on #3319
Sure @ganeshmani! Can you tell us which example you'd like to convert? I think that since there are many of them then many people can work on this issue and cover as many or as little as they want.

[2022-05-09 09:18] ganeshmani commented on #3319
@beerose I would like to work `auth` .

[2022-05-09 09:35] beerose commented on #3295
https://github.com/blitz-js/blitz/pull/3340

[2022-05-09 09:35] #3295 closed

[2022-05-09 10:08] laurencefass commented on #3338
this is a problem with newer versions of npm and npx.

fixed by adding npx --yes to command

[2022-05-09 10:13] laurencefass opened #3342 "cannot install or run npx blitz commands - "route is not a function" error."
### What is the problem?

When I try to install blitz I see an error.

bash-5.1# npx --yes blitz -v
TypeError: route is not a function
    at /root/.npm/_npx/f8d2cc529b1ae519/node_modules/color-convert/index.js:67:15
    at Array.forEach (<anonymous>)
    at Object.<anonymous> (/root/.npm/_npx/f8d2cc529b1ae519/node_modules/color-convert/index.js:61:8)
    at Module._compile (/root/.npm/_npx/f8d2cc

[2022-05-09 11:46] laurencefass commented on #3342
this not a fix but

npx --yes blitz@latest [...command] works fine, so Im going with that.

for clarity

npx blitz [..command] is the cause of this issue.

[2022-05-09 13:38] flybayer opened #3343 "Regenerate routes manifest in development if pages change"
Can use our `withBlitz` next.config wrapper and inside that start a file watcher in the pages directory.

[2022-05-09 13:47] beerose opened #3344 "Put Suspense behind a mounted check to force it to only run in the browser"
Context: https://discord.com/channels/802917734999523368/972183923167735808/972640561393704960

[2022-05-09 14:00] flybayer opened #3345 "Set up codemod foundation"

[2022-05-09 14:09] flybayer opened #3346 "Figure out how to share plugin config between client and server (like sessionCookiePrefix)"

[2022-05-09 14:11] flybayer opened #3347 "Add cli shortcuts for every command"
`blitz b` -> `blitz build`
`blitz p` -> `blitz prisma`
`blitz c` -> `blitz console`

etc

[2022-05-10 09:29] #3251 closed

[2022-05-10 13:25] #3318 closed

[2022-05-11 14:02] damilolarandolph commented on #3347
Hey @flybayer! I would like to handle this

[2022-05-11 15:08] #3345 closed

[2022-05-11 22:50] achaconm2001 opened #3354 "Getting this error on a new blitz toolkit app => Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object."
### What is the problem?

Hi. I just created a brand new Blitz application using the toolkit alpha (Blitz.js v2.0.0-alpha.22). I started the app with blitz dev and got this error.

![image](https://user-images.githubusercontent.com/28637127/167959519-683bcfca-1c79-4a7a-81c8-d6e59ee5fc19.png)
![image](https://user-images.githubusercontent.com/28637127/167959587-8dadf2cf-ac1c-42ab-876f-798f9e282f8c.

[2022-05-12 10:01] beerose opened #3355 "Improve TypeScript errors for gSSP and gSP"
Currently if props don't match, the error is displayed on the handler definition level. We should make the error to be on the return statement level:

[2022-05-12 10:25] beerose commented on #3354
Thanks for the report, @achaconm2001. We'll fix the templates — in the meantime, can you set `@types/react` version to `18.0.1`?

[2022-05-12 10:37] achaconm2001 commented on #3354
Done, but the errors are the same. I also tried with next@12.1.6 and react@18.1.0 and also the same react dom version and the errors were the same.

[2022-05-12 10:58] #3199 closed

[2022-05-12 11:11] Himanxu1 commented on #3319
I would like to work on this but i need some guidance !
what to do ?

[2022-05-12 11:15] beerose opened #3357 "Support prefetching infinite queries (`prefetchInfiniteQuery`?)"
Previously we had this note in the docs:

- [ ] and rename `prefetchBlitzQuery` to `prefetchQuery`

[2022-05-12 11:16] beerose opened #3358 "Remove mentions of `invokeWithMiddleware` from the docs"

[2022-05-12 14:38] beerose opened #3360 "Decide what should be included in Blitz config"
- We should decide what can be part of plugins config and what need to be a separate entity (e.g. CLI config)
- Need to add new type for the separate config

[code]

[2022-05-12 15:15] beerose commented on #3290
https://github.com/blitz-js/blitz/pull/3359

[2022-05-12 15:15] #3290 closed

[2022-05-13 12:01] beerose opened #3361 "Add CI action that checks if changeset was added"
Currently we have a changeset bot which tells us whether changeset was detected or not, but it doesn't stops us from merging a PR without a changeset. That could be covered by CI.

[2022-05-15 02:48] nitedani opened #3363 "I would like an alternative for getServerSideProps and getStaticProps"
### What do you want and why?
I would like an alternative for getServerSideProps and getStaticProps. They are too much boilerplate. The dehydration/hydration should be centralized.

Right now it looks like this:

[code]

It would become this:

[code]

Just for comparsion, in nuxt3 it looks like this:

[code]

I would like blitz to go in the same direction and create a function something like:

[co

[2022-05-16 08:38] beerose commented on #3363
Hey @nitedani, this is the new setup for hydration with the Blitz Toolkit: https://canary.blitzjs.com/docs/query-usage#prefetching (we removed the boilerplate and you don't have to pass `dehydratedState` explicitly). How does this look to you?

[2022-05-16 09:02] Vahor opened #3364 "Module '"blitz"' has no exported member 'validateZodSchema'"
### What is the problem?

Using the latest blitz toolkit, it seems that the 'blitz' module does not export everything ?

I've already tried to uninstall blitz (`npm uninstall -g blitz` and `yarn global remove blitz
` ) and even tried to remove the blitz folder (found in `which blitz`).

### Paste all your error logs here:

[code]

In a github actions log on another project (this one is using yarn

[2022-05-16 14:30] beerose opened #3366 "Move blitz config to next.config.js (from package.json)"
previous
[code]

new
[code]

[2022-05-16 16:03] #3198 closed

[2022-05-17 01:48] nitedani commented on #3363
It's better, but I think it's still too repetitive. I would need to jump in the code back and forth the prefetchBlitzQuery and useQuery. Is there a way to completely omit getServerSideProps, but still archive the same behavior? Is a custom react hook, implementing what getServerSideProps does, possible? I could supply getProject to this hook, then on the server it would directly call the server co

[2022-05-17 04:52] damilolarandolph commented on #3347
@beerose  @flybayer I just realized that most of the commands already have aliases. Only the `new` command doesn't. I thinking `$blitz -h` should list all commands as well as their aliases to make this more obvious.

[2022-05-17 12:12] beerose commented on #3347
Yeah, we should have that. Let's make the `-h` info better then.

[2022-05-17 12:15] beerose commented on #3363
No, you'd still need getServerSideProps/getStaticProps, but we removed the prefetching boilerplate required:
[code]

[2022-05-17 12:17] beerose commented on #3364
Thanks!

[2022-05-17 12:17] beerose opened #3367 "Adding a rails-like destroy option to the cli"
### Discussed in https://github.com/blitz-js/blitz/discussions/3362

<div type='discussions-op-text'>

<sup>Originally posted by **lhocke** May 15, 2022</sup>
I'm definitely liking what I've seen of Blitz so far, but I'd love to see something similar to `rails destroy` and its alias `rails d` added to the cli. Right now removing a model requires editing the schema and running a new migration which

[2022-05-17 13:49] beerose commented on #3364
Closed in https://github.com/blitz-js/blitz/pull/3368

[2022-05-17 13:49] #3364 closed

[2022-05-17 15:36] #3357 closed

[2022-05-18 02:41] #3363 closed

[2022-05-19 13:34] beerose commented on #3366
https://github.com/blitz-js/blitz/pull/3370

[2022-05-19 13:34] #3366 closed

[2022-05-19 21:10] dillonraphael opened #3371 "Export AppProps type from @blitzjs/next and add optional types like `getLayout`"

[2022-05-19 21:12] dillonraphael opened #3372 "Export BlitzPage type from `@blitzjs/next`"
Currently `BlitzPage` is being export from `@blitzjs/auth`. We should export it from `@blitzjs/next`.

[2022-05-19 21:24] dillonraphael opened #3373 "Export BlitzLayout type from `@blitzjs/next`"

[2022-05-20 01:11] MadcowD commented on #2470
Any update here?

[2022-05-23 22:27] RoyBkker commented on #1984
I have the same issue, but the link to solution is not working anymore...

[2022-05-23 23:00] RoyBkker commented on #1984
I got rid of the error by doing this in blitz.config.js, middleware, sessionMiddleware:

[code]

[2022-05-24 11:53] nsunami commented on #2896
I was having the same issue and @beerose's second solution fixed the issue.

(Thank you, @beerose!)

[2022-05-24 19:07] beerose commented on #3371
https://github.com/blitz-js/blitz/pull/3376

[2022-05-24 19:07] #3371 closed

[2022-05-24 19:07] #3373 closed

[2022-05-24 19:07] beerose commented on #3372
https://github.com/blitz-js/blitz/pull/3376

[2022-05-24 19:07] #3372 closed

[2022-05-24 22:03] dillonraphael opened #3379 "Figure out how to run CI action on PR that is created with changesets GitHub action"
Currently, changesets automatically creates a PR when a changeset file is found.

We must merge this PR into main so we can release a new version. The issue is the CI won't run on the PR that is created by the changeset action. This is a known issue with Github Actions.

There are workarounds: https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-furth

[2022-05-27 13:49] Dremora opened #3382 "Updating state and executing mutation from an effect causes the component to re-render with old state"
### What is the problem?

The exact conditions seem to be quite elusive and hard to describe, but the bug is consistently reproducible. Best to demonstrate it with some code.

Why am I raising bug request with Blitz? Because exactly the same code works well without it. See [this create-react-app codesandbox](https://codesandbox.io/s/blitz-react-query-bug-no-blitz-qv2lt?file=/src/App.js:618-619) wi

[2022-05-28 15:52] dillonraphael opened #3383 "`blitz dev` throws error when used directly (only is someone uses pnpm)"
The error thrown: `Module not found: Can't resolve 'styled-jsx/style'`.

Copy code from https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/utils/is-blitz-root.ts

[2022-05-28 16:05] Vahor opened #3384 "Generated source code is "empty" when using `withBlitz`"
### What is the problem?

I had a problem with SEO when testing the new toolkit, and I found out that the generated source for each page was "empty".
After some investigation, I found that when removing the `withBlitz` hook from `_app.tsx` solves the problem.

### Paste all your error logs here:

Here, I have `withBlitz(MyApp)` in _app.tsx
![image](https://user-images.githubusercontent.com/1759320

[2022-05-28 22:47] MadcowD commented on #586
Is this dead?

[2022-05-30 14:09] #3343 closed

[2022-05-30 14:17] flybayer opened #3387 "Add `invokeWithCtx`"
to replace invokeWithMiddleware

separate function that will accept ctx as an argument

[2022-05-30 14:19] flybayer opened #3388 "Migrate printEnvInfo cli command"
From https://github.com/blitz-js/blitz/blob/canary/packages/blitz/src/cli.ts

[2022-05-30 17:26] flybayer commented on #3382
@Dremora does `mutate` work and the issue is just with `mutateAsync`?

[2022-05-30 17:32] flybayer commented on #3382
@Dremora where are you getting `mutateAsync` from? [Blitz exports `mutateAsync` as the first item](https://github.com/blitz-js/blitz/blob/canary/nextjs/packages/next/data-client/react-query.tsx#L379) in the tuple returned from useMutation.

[2022-05-30 17:35] flybayer commented on #3301
### Our current workaround it that inside `withBlitz` we render nothing on the server.

This will cause SEO problems if you are depend on static content.

[2022-05-30 17:36] flybayer commented on #3384
Hey @Vahor this is known and expected due to our suspense workaround until React add the API we need to render suspense fallbacks on the server.

See more in this issue: https://github.com/blitz-js/blitz/issues/3301#issuecomment-1141372137

[2022-05-30 17:38] Dremora commented on #3382
@flybayer in the example above, I'm importing `useMutation` directly from `react-query`. The issue still persists when using `useMutation` from Blitz, and I wanted to keep the Blitz and non-Blitz examples as close as possible.

[2022-05-30 19:34] flybayer commented on #3382
@Dremora got it.

So I'm not sure what the difference here is, but you need to add `useCallback` around your `submit` function so that the useEffect doesn't run on every render. Like this

[code]

That makes the blitz version work.

Also, for what it's worth, "scheduling" an async function like you are with useEffect is an anti-pattern, and it's possible to cause random bugs with react 18.

But we

[2022-05-30 21:53] Dremora commented on #3382
I have deliberately left out `useCallback` to simulate what is happening in the real world code that I have based my example on. There, `submit` function depends on the data that is being submitted, and it also updates the data before submitting it, which shouldn't be a problem, given that by the next render `isSubmitScheduled` should become `false` (except it doesn't). The temporary solution was

[2022-05-31 01:32] flybayer commented on #3382
Ok I see.

Found the difference. In your CRA example console:
[code]
Once you change to this:
[code]
then the console.log render order is exactly the same as Blitz.

You cannot depend on render & useEffect order. It's a react implementation that's subject to change.

In general this sounds like something better suited to a bit of xstate code or possibly the [new useEvent hook](https://github.com/r

[2022-05-31 01:32] #3382 closed

[2022-05-31 20:08] #3387 closed

[2022-06-01 08:16] paulm17 opened #3393 "Extend toolkit, so that session creation not dependent on prisma"
### What do you want and why?

As adoption of the toolkit continues.  There will be the requirement to use ORMs other than Prisma and other databases (outside of the reach of Prisma) and work with the toolkit natively.

I have one such requirement, as I'm building out a test application with the toolkit and wanting to use both EdgeDB and it's own ORM.  Thus removing Prisma from the default configu

[2022-06-01 14:50] paulm17 commented on #3393
@dillonraphael Pointed me to the fauna example and I found the following:

https://github.com/blitz-js/blitz/blob/canary/examples/fauna/blitz.config.js#L22

This should be it.  I'll attempt when I have some time tomorrow.  😄

[2022-06-01 22:13] iDavidB commented on #843
@ranihorev In case this is still relevant for you, or anyone else that may come across this. We ended up using the source of https://github.com/ryanto/next-s3-upload but changing it to make it work with a Blitz query, and adding some other stuff we needed.

[2022-06-02 05:49] MadcowD commented on #2527
Still getting this years later on 0.45.4

[2022-06-02 14:36] beerose commented on #3393
Hey @paulm17! So with the toolkit we were thinking about two things:
- provide "adapters" like `PrismaStorage` for the most popular ORMs, etc. So for example we could have `PrismaStorage`, `RedisStorage`... For now we only have Prisma adapter, but there's also another way to use something other than Prisma:
- You can declare methods in the AuthPlugin config. We use the database to store session-re

[2022-06-02 15:26] paulm17 commented on #3393
@beerose Awesome!  You are a ⭐

I knew I was on the right track, but you provided that extra bit of clarification.  I definitely needed that!  😀

[code]

I have no idea if this is idiomatic.  Maybe you and the team can come up with guidelines (for the community) of how to develop different Engines?

I also had to change the SessionConfigMethods, so I didn't get any typescript warnings!

[code]

I'

[2022-06-03 05:53] mrcampbell commented on #3319
Same!  I could work on `no-prisma`

[2022-06-03 14:49] dillonraphael commented on #3383
Seems the issue only happens when using pnpm. `blitz dev` works when using npm.

[2022-06-06 15:48] #3293 closed

[2022-06-06 15:54] flybayer opened #3396 "Alpha upgrade guide, then share"

[2022-06-06 16:11] flybayer opened #3397 "Update videos on websites"
- [ ] Remove loose opinions video
- [ ] Move 20 min intro video into second place
- [ ] Add react miami video to first place
- [ ] Change both stable and alpha docs

[2022-06-06 16:22] flybayer commented on #3379
Will merge PR without worrying about CI because this PR has no code changes

[2022-06-06 16:22] #3379 closed

[2022-06-07 16:14] #3388 closed

[2022-06-07 16:15] #3383 closed

[2022-06-07 17:03] #3397 closed

[2022-06-07 17:58] beerose opened #3403 "Fix Prisma type"
Currently we have `storage: PrismaStorage(db as any),` in the server setup files.

[2022-06-07 18:42] #3396 closed

[2022-06-07 18:42] #3213 closed

[2022-06-08 00:27] datner commented on #3347
took initiative and went ahead closing this, I hope it's ok :)

[2022-06-08 17:41] kivi opened #3413 "Test fail in Blitz (pivotal) alpha due to SyntaxError or misisng TS-config for jest"
### What is the problem?

Two of two test fail with `yarn test`
I just installed a fresh Blitz app with `blitz new`

Copied lines from package.json for an overview of configured dependencies

[code]

### Paste all your error logs here:

[code]
yarn --version
1.22.17

[code]
blitz dev
blitz build
[code]
blitz -v
Loaded env from /home/vikas/code/blitzalpha/.env.local
Loaded env from /home/vikas/code

[2022-06-08 19:38] beerose opened #3414 "Mention new types augmentation in the docs"

[2022-06-08 19:40] beerose opened #3415 "Include types augmentation in the codemod"
types.ts

[code]

new one ☝️
old one 👇

[code]

[2022-06-08 19:42] beerose opened #3416 "Mention custom config in the codemod"
We should prompt users that they have to add a custom config to the next.config.js. Related to https://github.com/blitz-js/blitz/commit/b0c21b0706e2c3f60218797367c7858caced015e

[2022-06-08 19:43] beerose opened #3417 "Export change missing in codemod: AuthenticatedMiddlewareCtx from blitz to @blitz/rpc"
Possibly also:

getSession
BlitzApiRequest
useRouter

[2022-06-08 19:45] beerose opened #3418 "QueryClient seems to be undefined"
More context: discord

[2022-06-08 23:40] dukejones commented on #2349
thanks

[2022-06-09 15:41] flybayer opened #3422 "Hook up onError function for rpc server"

[2022-06-09 15:55] beerose opened #3423 "Rename requestMiddleware"
Context: https://discord.com/channels/823365213423403058/984482928627179571/984482932393648198

[2022-06-10 15:25] #3417 closed

[2022-06-10 15:25] #3415 closed

[2022-06-10 15:25] #3416 closed

[2022-06-10 16:03] dillonraphael commented on #3346
Thoughts about shared config:

We should expose a function from blitz that can read some sort of config. Then any plugin can import the function from blitz and have access to config file data. (eg. remove declaring cookiePrefix from inside AuthClientPlugin declaration and just grab the value directly inside the plugin src)

Regarding the config file, (still using the AuthPlugin as an example). Aut

[2022-06-10 19:56] #3418 closed

[2022-06-10 20:24] #3423 closed

[2022-06-11 22:24] andrearizzello commented on #3099
Hello, i noticed that it doesn't work for `blitz install` either

[2022-06-12 22:33] dillonraphael opened #3432 "Fix codemod for nested pages directory"
There seems to be an issue with nested directories consolidating to the root page directory. (eg. `app/consultants/pages/consultants/[consultantId]/profile.tsx`)

[2022-06-12 22:34] dillonraphael opened #3433 "Fix codemod for wrapping `_app` step that uses an arrow function"

[2022-06-12 23:08] dillonraphael opened #3434 "Write codemod for `queryClient` to `getQueryClient()`"

[2022-06-13 15:39] flybayer opened #3435 "Update codemod to move cookiePrefix from blitz config to server/client setup files"

[2022-06-13 16:07] flybayer commented on #3346
Here's the solution we discussed in planning call
![image](https://user-images.githubusercontent.com/8813276/173396929-7402cbb0-5b36-412d-9323-961302f155bd.png)

[2022-06-13 16:16] flybayer opened #3436 "Improve docs around API routes"

[2022-06-13 16:16] flybayer opened #3437 "Add docs on creating new plugins"

[2022-06-13 16:16] flybayer opened #3438 "Update docs for `getQueryClient()` instead of `queryClient`"

[2022-06-13 21:44] nerkn opened #3441 "Error: error:0308010C:digital envelope routines::unsupported"
### What is the problem?

After install  and run dev

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. yarn global add blitz
2. blitz new blitz
3. cd  blitz
4. blitz dev

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that sho

[2022-06-13 21:55] nerkn commented on #3441
[export NODE_OPTIONS=--openssl-legacy-provider](https://stackoverflow.com/questions/69692842/error-message-error0308010cdigital-envelope-routinesunsupported)
worked

[2022-06-13 22:08] beerose commented on #3441
The issue here may be your Nodejs version — Blitz works with the stable version and it doesn't work with 17 and newer version (afaik Next.js 11 also doesn't).

[2022-06-13 22:45] #3315 closed

[2022-06-13 22:46] dillonraphael opened #3442 "Have CLI check for latest releases"
Have the CLI automatically check and ask to update if there are new version of blitz packages

[2022-06-18 16:50] dhythm commented on #3148
FYI, mocking with type error for mockGetDummyData,
[code]
And setting dummy returns to mocks as
[code]

then, `useQuery`s returns with the mocked values,
[code]

[2022-06-18 16:53] dhythm commented on #3148
I'm guessing when `queryFn` is mocked like the above, then `_routePath` is gone and two or more `useQuery`s will return the same value.
https://github.com/blitz-js/blitz/blob/ad71e15290b4133a5431236c3d5ce0666486a61f/nextjs/packages/next/data-client/react-query-utils.ts#L125

[2022-06-18 16:58] dhythm commented on #3148
I think the better way is here,
[code]

[2022-06-19 13:07] beerose commented on #3358
Closed in https://github.com/blitz-js/blitzjs.com/pull/693

[2022-06-19 13:07] #3358 closed

[2022-06-19 13:17] beerose commented on #3438
closed in https://github.com/blitz-js/blitzjs.com/pull/694

[2022-06-19 13:17] #3438 closed

[2022-06-19 13:18] beerose commented on #3441
I'm going to close this issue as it's not directly related to Blitz.

[2022-06-19 13:18] #3441 closed

[2022-06-19 14:13] beerose commented on #3414
Closed in https://github.com/blitz-js/blitzjs.com/pull/695

[2022-06-19 14:13] #3414 closed

[2022-06-19 16:14] beerose commented on #3347
Closed in https://github.com/blitz-js/blitz/pull/3410

[2022-06-19 16:14] #3347 closed

[2022-06-20 12:07] beerose commented on #2896
Closing this issue as it's fixed in toolkit app templates.

[2022-06-20 12:07] #2896 closed

[2022-06-20 14:06] #3435 closed

[2022-06-20 14:06] #3433 closed

[2022-06-20 14:06] #3432 closed

[2022-06-20 14:10] flybayer opened #3446 "Make sure both useParam and useParams are exported from @blitzjs/next"

[2022-06-20 14:15] flybayer opened #3447 "codemod: Move middleware from blitz.config to blitz-server.ts"
This will cover use cases like blitz-guard

[2022-06-20 15:25] zernie commented on #2829
for those who want to use @nickluger snippet but are missing `replaceMultiple`, here it is:

[code]

[2022-06-21 12:46] #3446 closed

[2022-06-22 10:41] beerose commented on #3413
Thanks for the report! We'll try to fix it soon.

[2022-06-22 11:33] beerose commented on #3326
Thanks for the issue. We'll try to look into it soon

[2022-06-22 11:34] beerose commented on #3342
Did it happen with the alpha blitz?

[2022-06-22 12:03] beerose commented on #586
It's not! We just haven't had the time to work on it yet.

[2022-06-22 13:46] tmcw commented on #3312
Thanks! I think that desired behavior would be catching exceptions around localStorage access, and treating this crash the same way you'd treat the key as not existing in localStorage.

It's a sort of rare configuration and one that honestly blows up a lot of websites anyway, but crashes from this cause bubble up to the application layer, which is annoying.

[2022-06-22 14:24] laurencefass commented on #3342
I dont know I didnt have control of the version installed using this command.

all I can say with certainty is blitz@l;atest worked which installed (from package.json)

[code]

I didnt select any of those.

[2022-06-23 02:22] iamgmd commented on #2470
Also happens when trying to install chakra-ui on a javascript install.

[2022-06-23 06:34] beerose opened #3452 "Cannot find module 'dev'"
### What is the problem?

Context: https://discord.com/channels/802917734999523368/870041934046060615/989377812488134708

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that sh

[2022-06-23 10:14] paulm17 commented on #2951
I've got the same issue.  But I'm using yarn.

[2022-06-23 10:34] #3393 closed

[2022-06-23 12:26] beerose commented on #2470
We've been quite busy with Blitz 2.0, but we're gonna make sure that recipes are working with the new toolkit with both TS and JS. We need a bit more time though.

[2022-06-23 22:48] Zeko369 commented on #3442
Should this check for which tag you're currently on and then get the latest for that tag or just get the latest one? (i.e. get latest alpha if you're currently on the alpha or try to move you to the latest release).

[2022-06-26 01:25] Zeko369 opened #3462 "BlitzAuth plugin onAuth hook"
### What do you want and why?

It would be amazing to add a `onAuth` function callback to BlitzAuth plugin for setting the user in i.e. sentry context on the server

### Possible implementation(s)

[code]

and then in `blitz-auth/src/server/auth-plugin.ts`

[code]

we currently have it implemented as a patch-package for the blitz (old blitz) that adds Sentry.setUser inside of the authorize resolve

[2022-06-26 04:10] paulbryan commented on #3025
I get the same error when running blitz --help outside a project folder.  blitz -h does work though!?

[2022-06-27 14:22] blakeley commented on #3064
@Nfinished How did you resolve the issue? Is there a resolution other than removing that snippet?

[2022-06-27 16:08] Nfinished commented on #3064
Turned out it was actually a project dependency that was doing something vercel didn't like. My issue was unrelated to blitz

[2022-06-28 18:23] shaunchurch opened #3467 "Missing Blitz sessionMiddleware"
### What is the problem?

Attempting to use Passport.js strategies with the new blitz@alpha release fails with the error: "Missing Blitz sessionMiddleware!" when receiving the callback containing the authorisation code

I'm not sure if the issue is with my implementation or an issue with the recent @blitz/auth release, so I'm sharing in case someone can help.

### Paste all your error logs here:

[2022-06-29 08:40] beerose opened #3469 "Fix linter in newly generated apps"
### What is the problem?

Context: https://discord.com/channels/802917734999523368/870041934046060615/989585937069662318

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that sh

[2022-06-29 09:01] beerose opened #3470 "Ugrade Prisma to v4"
### Discussed in https://github.com/blitz-js/blitz/discussions/3468

<div type='discussions-op-text'>

<sup>Originally posted by **lhocke** June 29, 2022</sup>
Prisma 4 has implemented a number of QOL changes including defaults on scalar lists, explicit 1-1 unique constraints, and a fair number of updates to queries https://www.prisma.io/docs/guides/upgrade-guides/upgrading-versions/upgrading-to-p

[2022-06-29 09:04] beerose commented on #3467
Thanks for the report — we will look into it over the next few days.

[2022-06-29 10:19] #3422 closed

[2022-06-29 10:49] #3447 closed

[2022-06-29 11:08] beerose opened #3473 "Mention RPC error middleware in docs"

[2022-06-29 11:18] beerose commented on #3462
That's a great idea and that's something that we were thinking about already. The initial idea was to have "onSessionCreate", "onSessionDestroy" hooks. What do you think about this naming?

[2022-06-29 15:41] #3200 closed

[2022-06-29 16:00] flybayer opened #3475 "2.0 stable launch"
- Product hunt
- hacker news
- office hours/livestream/q&a with special guests?
- inspiration from Redwood's 1.0 launch?
- email newsletter

[2022-06-29 16:53] tmcw opened #3476 "@blitzjs/codemod fails if a file imports both NextApiRequest and BlitzApiRequest"
### What is the problem?

Attempting to (just to test it out) codemod my 0.45.x blitz codebase up to the toolkit, I find that API routes that were importing both NextApiRequest and BlitzApiRequest get the BlitzApiRequest import renamed to NextApiRequest, which then stops the codemod because there's a duplicate import.

### Paste all your error logs here:

[code]

### Paste all relevant code snippe

[2022-06-29 17:03] tmcw opened #3477 "Codemod should refactor "dynamic" imports to next/dynamic"
### What is the problem?

Right now when I transition a codebase into the blitz/toolkit era, an existing import from `blitz` of the `dynamic` method is not rewritten. I think this should be, to `next/dynamic`. As far as I can tell, the blitz-style dynamic method is no longer viable.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detai

[2022-06-29 23:28] jamesmcintyre commented on #3326
Having the same issue. Any guidance on a temporary fix for this? @beerose @mltwist-brice

[2022-06-30 08:17] beerose commented on #3477
Hey! So we have it in codemod https://github.com/blitz-js/blitz/blob/fix-rpc-log/packages/codemod/src/upgrade-legacy.ts#L166, but maybe there's a case that we don't cover. Could you paste a file or a part of a file where the import was supposed to be updated?

[2022-06-30 08:21] beerose commented on #3476
Hmm, yeah, we should be checking if an import already exists before adding/replacing it. Thanks for the report!

[2022-06-30 08:25] #3434 closed

[2022-06-30 08:45] beerose commented on #3475
Hey @Israel-Laguan. We do have an alpha version currently and people are testing it and upgrading from the legacy framework to the toolkit. We first released alpha at the end of April and recently made more public announcements. Before stable, we will also have a beta release. Is that what you meant or am I missing something?

[2022-06-30 08:52] Israel-Laguan commented on #3475
Can you kindly point me to the description about using it? Sorry if I miss it. I would live to test in a toy project I am about to start.

[2022-06-30 09:08] beerose commented on #3475
Sure, here you go: https://alpha.blitzjs.com/

[2022-06-30 09:37] dillonraphael commented on #3354
@achaconm2001 Can you try with Blitz.js v2.0.0-alpha.45

[2022-06-30 11:54] christianstrang opened #3478 "Blitz Alpha Error "no query or mutation resolvers found" on Windows"
### What is the problem?

Installing Blitz alpha on windows works fine, but as soon as I run blitz dev and try to access localhost:3000, the page shows up shortly, then turns to 500 - internal server error.
The console error message is "Error: no query or mutation resolvers found".
On Linux the same setup runs without an error.

### Paste all your error logs here:

[code]

### Paste all relevant c

[2022-06-30 14:14] beerose opened #3479 "Add _document and 404 pages to the template"

[2022-06-30 14:21] Israel-Laguan commented on #3475
Thanks, checking right now!

[2022-06-30 15:14] flybayer commented on #3301
PR opened on next.js: https://github.com/vercel/next.js/pull/38207

[2022-06-30 15:16] paulm17 commented on #3479
Tried to resolve this one, here's how far I got:

_document
[code]

404
[code]

I get:

[code]

[2022-06-30 16:15] achaconm2001 commented on #3354
This time it doesn't show NextJS error modal, but the error page.
![image](https://user-images.githubusercontent.com/28637127/176726977-18b45cdc-099c-470a-b154-6c7c2eb9e32d.png)
At both console, the error continues being the same.

I tried with the Blitz.js v2.0.0-alpha.45 and also the Blitz.js v2.0.0-alpha.46. With NextJS 12.1.6

[2022-07-01 10:46] #3479 closed

[2022-07-01 14:05] #3403 closed

[2022-07-01 21:08] kalshair opened #3484 "SSPI Implementation"
### What do you want and why?

Implementation of SSPI Authentication for Windows Machines/Active Directory, integrated directly into/as an option for the default BlitzJS Auth components with SessionContext integration.

### Possible implementation(s)

While I'm not sure as to how to integrate it natively, I have gotten it working as custom middleware using [node-expose-sspi](https://www.npmjs.com/

[2022-07-03 06:38] mbrain-io opened #3485 "Can Blitz Recipes be used with a non Blitz project?"
Blitz Recipes are awesome, but what if I want to use them on pure NextJS projects? Is it possible?

[2022-07-04 11:25] #3476 closed

[2022-07-04 13:25] #3296 closed

[2022-07-04 13:49] paulm17 opened #3489 "Toolkit: Rewriting API route, breaks RPC?"
### What is the problem?

With legacy, I was able to update the api endpoint.

[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

Change next.config.js and restart

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots that show y

[2022-07-04 14:50] edrickleong opened #3490 "getQueryData function"
### What do you want and why?

I want an exported `getQueryData` function that takes in a resolver.

Instead of having to get the query key manually, such as below
[code]

I want to be able to write
[code]

### Possible implementation(s)

Add a function `getQueryData` similar to the `setQueryData` function defined in `react-query-utils` as below. https://github.com/blitz-js/blitz/blob/e1fc695d24f6

[2022-07-04 15:23] lhocke opened #3491 "Layout.authenticate not working on blitz/@alpha"
### What is the problem?

Page.Authenticate appropriately checks for a user session but Layout.authenticate doesn't appear to be doing anything at all.

```npx tsc``` throws error when run (error output below)

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Add Layout.authenticate = true to app/cor

[2022-07-04 20:53] Zeko369 commented on #3462
That might be useful for tracking/setting up some resources, but besides that I'd also add a `onSessionVerify?` / `onAuthMiddlware` or something similar to be called on every call specifically for logging / sentry / ...

[2022-07-05 02:09] #1133 closed

[2022-07-05 02:13] MrLeebo commented on #1133
Closing this due to inactivity and the pivot changes the scope of features like this

[2022-07-05 02:15] #1544 closed

[2022-07-05 02:17] MrLeebo commented on #1544
Closing due to inactivity and, post-pivot, this would be more of a Next.js enhancement

[2022-07-05 02:20] #2661 closed

[2022-07-05 02:48] MrLeebo commented on #663
After the pivot, this will be dependent on the host framework and/or one of its plug-ins (e.g. next-sitemap)

[2022-07-05 02:48] #663 closed

[2022-07-05 02:58] #1308 closed

[2022-07-05 08:12] akash-joshi opened #3493 "Cannot import local TS files in blitz console"
### What is the problem?

Unable to import local files inside of `blitz console`.

### Paste all your error logs here:

### While importing files via dynamic import

[code]

### While importing files via relative path

[code]

### Paste all relevant code snippets here:

### Import files via dynamic path

[code]

### Import files via relative path

[code]

### What are detailed steps to reproduce t

[2022-07-05 10:13] beerose commented on #3189
This was covered by https://github.com/blitz-js/blitz/pull/3460

[2022-07-05 10:13] #3189 closed

[2022-07-05 10:14] beerose commented on #3154
Closing due to inactivity.

[2022-07-05 10:14] #3154 closed

[2022-07-05 10:14] beerose commented on #3146
Closing due to inactivity.

[2022-07-05 10:14] #3146 closed

[2022-07-05 10:15] beerose commented on #3134
Closing due to inactivity.

[2022-07-05 10:15] #3134 closed

[2022-07-05 10:16] beerose commented on #3096
This is covered by the Blitz Toolkit. Docs: https://alpha.blitzjs.com/docs/rpc-setup

[2022-07-05 10:16] #3096 closed

[2022-07-05 10:18] beerose commented on #3071
Closing due to inactivity.

[2022-07-05 10:18] #3071 closed

[2022-07-05 10:18] #3070 closed

[2022-07-05 10:20] #2945 closed

[2022-07-05 10:27] beerose commented on #2620
This is covered by the Blitz Toolkit. Docs: https://alpha.blitzjs.com/docs/rpc-setup

[2022-07-05 10:27] #2620 closed

[2022-07-05 12:46] beerose opened #3497 "Add an example with custom storage in Auth docs (e.g. with Redis)"

[2022-07-05 12:46] beerose opened #3498 "Copy Blitz framework tutorial and modify it for the toolkit"

[2022-07-05 12:47] beerose opened #3499 "Update "How community operates" section in the docs"

[2022-07-05 12:48] beerose opened #3500 "Better Blitz website for toolkit (positioning etc)"

[2022-07-05 12:49] beerose opened #3501 "Update "History" page in the docs"

[2022-07-05 12:50] beerose opened #3502 "Update "How to contribute" section in the docs"

[2022-07-05 13:14] flybayer opened #3503 "Write Twitter Announcement"

[2022-07-05 14:39] tmcw commented on #3477
I think the issue here is that I have a top-level folder called `components`, and the automatic refactoring hasn't modified any of the files in that folder. This might be a dontfix and really I should just move that folder into `app/`.

[2022-07-06 09:27] iDavidB opened #3505 "resolver.zod no longer working with toolkit"
### What is the problem?

There seems to be a type issue with `resolver.zod`.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Install all latest versions of Blitz Toolkit Alpha
2. Install latest version of Zod

### Run `blitz -v` and paste the output here:

[code]

### Please include below any othe

[2022-07-06 16:25] dillonraphael commented on #3477
Fixed in #3509

[2022-07-06 16:25] #3477 closed

[2022-07-07 06:04] harjis commented on #2654
Thanks a lot for these examples! With a quick look I didn't find an example of a happy path. Nothing special about it so more like documentation for people who end up reading this conversation in the future 😄

[code]
For some reason this throws en error `Internal Blitz Error: process.env.BLITZ_APP_DIR is not set`. To fix this I had to add `BLITZ_APP_DIR=.` in `.env.test.local`. I guess adding this

[2022-07-07 07:12] iDavidB commented on #3505
Seems to be fixed in alpha 52.

[2022-07-07 07:12] #3505 closed

[2022-07-07 14:09] #3470 closed

[2022-07-07 14:22] #3205 closed

[2022-07-07 16:28] Zeko369 opened #3517 "There is an issue with prefetching queries in SSR/SSG"
### What is the problem?

Related to this #3199 / #3357

1st this infinite/not infinite query logic is wrong, it should be reversed
[queryKey](https://github.com/blitz-js/blitz/blob/830b51d0dc3674591c5df912322d443860706e54/packages/blitz-next/src/index-server.ts#L107)

2nd `getQueryKey` is returning undefined as the queryName when run on backend (i.e. gSSP)

### Paste all your error logs here:

It

[2022-07-08 01:46] lhocke opened #3519 "Ctx from blitz isn't overridden correctly by blitzjs/auth causing TS errors in > alpha.50"
### What is the problem?

upgrading to blitz@alpha.50 and above introduces errors in tsc which prevent production build seemingly related to using a zod validation in resolver, both importing from a validations file and declaring within a mutation.

Note: blitz -v shows ```Blitz version: 2.0.0-alpha.50 (local)``` for this report but issues persists up to 2.00-alpha.53 (the latest version as of thi

[2022-07-08 07:52] Zeko369 commented on #3519
That's a weird bug with zod versioning (although not SEMVER incompatible it was incompatible with blitz), we ran into the similar thing trying to run alpha.45 with latest zod.

Just run `yarn add zod@latest` and it should work

[2022-07-08 08:06] lhocke commented on #3519
huh, interesting. after updating zod and bringing blitz to 2.0.0-alpha-53 (same with @blitjs/auth, @blitzjs/rpc, and @blitzjs/next) tsc now throws
[code]

[2022-07-08 08:13] Zeko369 commented on #3519
It looks like your `Ctx` type isn't setup correctly. Could you paste it here (types.ts file should have it)

[2022-07-08 08:19] lhocke commented on #3519
I've really only slightly modified types.ts so that roles are of type enum in a postgres database and added impersonatingFrom, haven't explicitly changed Ctx at all. Pasted the entire file below.

[code]

[2022-07-08 08:27] lhocke commented on #3519
okay, resolved this error
[code]

the generator hadn't imported Ctx from blitz on the mutation, the other errors remain

[2022-07-08 08:31] Zeko369 commented on #3519
@lhocke Does adding this to the `types.ts` fix it (and importing `SessionContext` from `@blitzjs/auth`)

[code]

[2022-07-08 08:39] lhocke commented on #3519
that does indeed

[2022-07-08 09:19] Zeko369 commented on #3519
@lhocke figured out the problem, you probably have the same on, try pinning all `@blitz/package` to the same version `2.0.0-alpha.53`. I had all of them on `alpha` and for some reason one of them was pulled as an old version and that's why it wasn't working

[2022-07-08 09:23] oltdaniel opened #3520 "Custom Server restarts in dev when a file is created in `$HOME`"
### What is the problem?

I discovered the issue when I was trying to record the application for a short demo with OBS. Currently I still use the default folder `$HOME` so a new file is created when I start recording.

However, creating a new file in `$HOME`, independent of OBS, causes a restart of the custom server (see logs).

The blitz application files are located in `$HOME/git/github/some/app

[2022-07-08 09:26] Zeko369 opened #3521 "blitz new . choses the wrong name"
### What is the problem?

Running `blitz new .` should use the name of the current folder instead of . (which breaks package.json)

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. create a folder `foobar` and in it
2. run `blitz new .` and select yarn as the package manager (didn't test with others)

[2022-07-08 09:36] Zeko369 commented on #3519
Yup, glad we fixed it

<img width="847" alt="image" src="https://user-images.githubusercontent.com/3064377/177963688-3c759717-e889-4116-a5dc-f396ed2c8d08.png">

[2022-07-08 10:40] beerose commented on #3501
https://github.com/blitz-js/blitzjs.com/pull/698

[2022-07-08 10:40] #3501 closed

[2022-07-08 10:40] beerose commented on #3502
https://github.com/blitz-js/blitzjs.com/pull/698

[2022-07-08 10:40] #3502 closed

[2022-07-08 10:40] beerose commented on #3499
https://github.com/blitz-js/blitzjs.com/pull/698

[2022-07-08 10:40] #3499 closed

[2022-07-08 11:17] #3301 closed

[2022-07-08 12:40] paulm17 opened #3522 "Toolkit: Include queries/mutations in other workspaces when using TurboRepo"
### What is the problem?

Using the legacy version of toolkit, this problem didn't exist.  Unfortunately for the toolkit.  I have this issue...

I have the following workspaces:

[code]

I have multiple queries/mutations combinations inside modules and packages/ui.  Which are outside of the standard blitz installations.  Saas and Fe in this instance.

Unfortunately when blitz is running, any queri

[2022-07-08 13:03] Zeko369 opened #3524 "BlitzCLI selects wrong form/package manager via CLI args"
### What is the problem?

Switch case falls through to last option
[code]

### Paste all your error logs here:

wrong form / package manger user

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. blitz new --form=final-form

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screenshots

[2022-07-09 07:37] paulm17 commented on #3522
I broke down 😓 and symlinked the component to the /app/core/components directory.  Works fine now.  But it's the same (spiritually) as what I was trying to do with modules.

Would be nice if there was an extended options, where I could put in the directories to scan for when creating the rpc routes.

[2022-07-09 18:17] karimsx commented on #3203
Hello @flybayer, @beerose  i would like to contribute and do this pr, could you point me what files i need to look to fix this issue?

Thanks

[2022-07-10 13:54] StringKe commented on #3301
How to work around this prompt temporarily?

[2022-07-10 13:56] karimsx commented on #2703
sorry guys i was a little busy, i will look into this this week

[2022-07-10 13:59] paulm17 commented on #2703
@karimsx Awesome.  Let me know if there is anyway I can test for you.  I have an exact use case for this.

[2022-07-11 08:17] saadaltabari commented on #2831
Hello Ya'll,
I would like to contribute to your community and would like to pick up this issue since it is marked as a good first issue.

[2022-07-11 08:22] #3521 closed

[2022-07-11 09:18] dillonraphael commented on #3522
As you said `[[...blitz]]` currently scans a specific directory. I can see us adding the ability to set a custom directory. Feel free to start an RFC discussion.

[2022-07-11 09:18] #3522 closed, assigned to nobody

[2022-07-11 09:36] #3520 closed

[2022-07-11 09:39] dillonraphael commented on #3519
Ya sorry about the inconsistent tags. We'll be doing a proper release outside of prerlease mode for the beta which will keep things consistent from there. I'll close this issue since it seems to be figured out.

[2022-07-11 09:39] #3519 closed

[2022-07-11 09:58] dillonraphael commented on #3467
Hey @shaunchurch I just tried testing my self and didn't seem to run into any issues regarding the `sessionMiddleware`. I noticed you're using version `2.0.0-alpha.44`. Can you try updating to the latest alpha versions: `2.0.0-alpha.53`?

[2022-07-11 15:38] Zeko369 opened #3528 "Next throws an error when using redirectAuthenticatedTo on a page"
### What is the problem?

Credit to @paulm17 and `@`David from discord (TODO: Add GH username) for discovering this in Discord

When doing `redirectAuthenticatedTo` or `redirectTo` server throws a random error.

### Paste all your error logs here:

![Uploading image.png…]()

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

No need, fixed

### Run

[2022-07-11 15:51] Zeko369 commented on #3413
On this topic, maybe default to vitest for toolkit generated projects?

[2022-07-11 21:22] Zeko369 opened #3530 "There is a warning about duplicates when using root query resolver"
### What is the problem?

Bug report credit goes to @paulm17

When you enable root resolver in next.config.js, it resolves queries correctly, BUT the CLI still warns you there are duplicates
[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. create 2 queries with same names in 2 different queri

[2022-07-11 22:09] Zeko369 commented on #2831
This issue was reported for legacy-blitz, can someone first confirm this is still the issue in toolkit?

If you'd like @saadaltabari you can test this out and start working on it if it's still a bug.

Feels free to ask if you have questions

[2022-07-12 07:38] Zeko369 commented on #3489
If my other blitz app is hosted on 3100, still works just fine

[2022-07-12 09:05] #3473 closed

[2022-07-12 09:25] Zeko369 commented on #3489
Then I get the error, but that's ok, since the backend is off?

[2022-07-12 09:43] paulm17 commented on #3489
Sure, but is Prisma still working for you?

[2022-07-12 09:44] #3413 closed

[2022-07-12 12:22] alexgoto opened #3533 "Recipe installation error. Could not found recipe by name."
### What is the problem?

Could not found receipt by name on 'blitz install'.

I tried:
`blitz install tailwind`
`blitz install material-ui`

and have same results
`ERROR Could not find recipe *name*`

Also try `blitz install`, then select 'tailwind'.
Result - `ERROR Could not find recipe "undefined"`.

Also try `blitz install https://github.com/blitz-js/blitz/tree/canary/recipes/tailwind`.
Result

[2022-07-12 12:41] #3517 closed

[2022-07-13 08:21] aslauris commented on #3533
Same here with the following setup:

### Run blitz -v and paste the output here:
[code]

[2022-07-13 09:11] aslauris commented on #3533
@alexgoto as a work around I've installed it from the file system by doing the following steps:

1. Download `chakra-ui` recipe from [https://github.com/blitz-js/blitz/tree/canary/recipes/](https://github.com/blitz-js/blitz/tree/canary/recipes/) (saved it to project root)
3. Open terminal app and `cd` to project root
4. Install the recipe by running the following command `blitz install ./chakra-ui

[2022-07-13 10:03] shaunchurch commented on #3467
Thanks for the update @dillonraphael. I have just upgraded the blitz CLI and created a fresh project. Installed the passport strategy, used the same `[...auth].ts` file as above and ran into the same issue.

Could you share your `[...auth].ts` file? Perhaps I'm missing something in there.

[2022-07-13 12:45] beerose commented on #3354
Hey @achaconm2001,

I spent some time trying to reproduce this issue, and unfortunately couldn't. I have a few follow up questions/suggestions:

1. Is there an `[[...blitz]].ts` file in `<app root>/pages/api/rpc`?
2. What's your Node version?
3. Could you try the latest Blitz alpha **and** Next in version 12.2.0?

[2022-07-14 09:10] paulm17 commented on #3489
Hopefully this provides more context:

Used to wok:
Blitz legacy:  https://www.loom.com/share/a4355e385d7d4b66b69ddfab3273f5e6

Doesn't work:
Blitz Toolkit: https://www.loom.com/share/a1b37cfbe0914032b775f6ebf322eb18

[2022-07-14 09:59] beerose commented on #2831
@Zeko369 I believe it's still an issue in the toolkit, as we haven't changed the passportAuth code at all.

[2022-07-14 12:00] DmacMcgreg opened #3534 "`blitz new` fails when creating minimal project"
### What is the problem?

`blitz new <project name>` fails when creating minimal project. Everything works when creating a full project with auth and db.

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Go to any folder
2. blitz new test-project
3. Typescript
4. yarn or npm
5. minimal
6. error

###

[2022-07-14 12:13] beerose commented on #3534
Thanks for the report! We'll look into it soon

[2022-07-14 12:21] Zeko369 commented on #3489
@paulm17 Wait so you have 2 apps, and you want to connect them? (i.e. one 3000 and another 3001?) or do you have one app and want to rewrite the rest of the API to some other app? or ?

If you have some time let's hop on a discord call since i'm not sure I still fully understand what you think?

[2022-07-14 13:45] alexgoto commented on #3533
Yes, thank you. It is actual solution. But unfortunately documented functions of "blitz install" doesn't work all the same.

[2022-07-14 14:17] paulm17 opened #3535 "Global suppressFirstRenderFlicker"
### What do you want and why?
Seems like suppressFirstRenderFlicker is on a per page basis.

Would be awesome to have the ability to set this on a global basis and not think about it.  But still have the option to use Layout or Page to toggle it.  I'm sure someone else can make a case for it to be global, but on a particular page have it off...  lots of use cases not doubt!

Edit: For the toolkit

[2022-07-14 18:58] dawangraoming opened #3536 "Cannot read properties of undefined (reading '$create') when deployed in VERCEL"
### What is the problem?

when I try to deploy in vercel, all CICD is successful.

But when I request the login API, show this error.

`Cannot read properties of undefined (reading '$create') `

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the output here:

its my lo

[2022-07-14 19:01] dawangraoming commented on #3536
<img width="1225" alt="image" src="https://user-images.githubusercontent.com/7522275/179062556-9f1f1db7-cb20-49fc-a51a-1a4723243933.png">

[2022-07-14 20:24] jagoncalves14 commented on #3533
I'm currently facing the same issue.

`blitz -v`
[code]

[2022-07-14 23:33] aleplusplus commented on #3467
I'm running into the same issue. Any update?

[2022-07-15 10:20] beerose commented on #3535
Thanks for the suggestion!

[2022-07-15 10:55] flybayer opened #3541 "Update codesandbox on homepage"

[2022-07-15 11:21] flybayer opened #3542 "Installing blitz global CLI with pnpm has peer dependency errors"
### What is the problem?

We should not any peer dependency errors, at the very least from our own packages.

I'm not sure if we can fix the ts-node ones, but we can remove `react` as a peer dep in our packages. You'll just need to add `react` to the `externals` list in `build.config.js` for those packages if they aren't already

### Paste all your error logs here:

[code]

### Paste all relevant

[2022-07-15 15:53] aleplusplus commented on #3467
@shaunchurch I was able to fix the problem by wrapping `passportAuth` under `api`

[code]

[2022-07-15 16:44] paulm17 opened #3543 "Toolkit: Upgrade React-Query to V4."
### What do you want and why?

The toolkit currently ships with 3.39.0.  Would be nice to upgrade Blitz to v4.

Is it a case of changing the version number?  Or there's a little more to it?

I have an edge case that I cannot seem to squash with v3.

V4 has support for lazy queries: https://tanstack.com/query/v4/docs/guides/disabling-queries#lazy-queries

Whereas V3 doesn't seem to mention them.  🤷

[2022-07-15 17:20] flybayer opened #3544 "Fix issues with `blitz new` output"
## What do you want and why?

### Problem 1

Legacy output:
[code]

Current output:

[code]

Current output questions are too wordy. And the `full` and `minimal` options are missing the explanations we previously had

**Output wording should be:**
[code]

### Problem 2

In the `blitz new` output as seen below, we need:

- [ ] Extra line **before** "Hang tight while we set up your new Blitz app!"
-

[2022-07-15 22:32] Zeko369 commented on #3535
Referencing a similar idea from #2692

[2022-07-15 22:39] Zeko369 commented on #3543
While I agree that we need to move to RQ4 at some point, doesn't `enabled: false` work the same way in RQ3 as it does in RQ4?

[react query 3 docs for that](https://react-query-v3.tanstack.com/guides/disabling-queries#_top)

[2022-07-15 23:34] Zeko369 opened #3546 "Layout/getLayout not working in new toolkit apps"
### What is the problem?

Layout is being ignored in toolkit, there was some userland code that used to render it but it's since gone from the template

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. Doens't work

### Run `blitz -v` and paste the output here:

[code]

### Please include below any o

[2022-07-15 23:38] Zeko369 commented on #3546
Now I'd keep this in userland since i.e. if your layout uses chakra you need to wrap that in a chakra provider which you do in _app and then we can't render the layout outside of that wrapper

[2022-07-16 00:07] Zeko369 commented on #3467
@aleplusplus this is how you actually need to do it with toolkit (you can noticed that `rpc` is also wrapped with api), that's an error in docs 😞, could you open up an Issue/PR in https://github.com/blitz-js/blitzjs.com?

[2022-07-16 07:24] paulm17 commented on #3535
Yes, it would be amazing to have a page.authenticate or page.redirectTo and also have the ability to override on a layout or page basis also.

So Global -> Layout -> Page in that order.  😄

[2022-07-16 07:27] paulm17 commented on #3543
No, remember we went though this on discord.  I thought being able to set a mounted state and via useEffect set it to true and on that refresh, the useQuery option would then be true.

It seemed to only work once and now just doesn't work.

I'd wager pausing/disabling queries is not the same as lazy loading.  I haven't looked at the RQ code, but I'm 🙏  that V4 has improvements.

[2022-07-16 09:16] shaunchurch commented on #3467
@aleplusplus Amazing, thanks for sharing!

[2022-07-16 11:03] tech-chieftain commented on #3544
@flybayer would love to work on this. So assigned it to me, please.

[2022-07-16 11:46] abuuzayr commented on #3544
all yours @tech-chieftain ! let us know if you need any help.

[2022-07-16 13:50] #3467 closed

[2022-07-16 23:01] #3442 closed

[2022-07-17 15:42] karimsx opened #3549 "Error type in publicData"
### What is the problem?

![image](https://user-images.githubusercontent.com/71076673/179405868-e6b333ea-7020-4230-8e25-b078d86d5b21.png)

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. blitz new
2. yarn run build

### Run `blitz -v` and paste the output here:

[code]

### Please include below any

[2022-07-17 15:52] Zeko369 opened #3550 "prefetchQuery in ssr/static only keeps last query"
Credit to @iDavidB for finding the bug, thread on discord 998248548854399047

### What is the problem?

When prefetching multiple queries only the last one is actually saved

### Paste all your error logs here:

Doens't work

### Paste all relevant code snippets here:

[Reproduction](https://codesandbox.io/s/prefetch-repro-5b25q9?file=/pages/prefetch.tsx)

### What are detailed steps to reproduce

[2022-07-17 15:58] Zeko369 opened #3552 "Print all blitz subpackage versions in `blitz -v`"
### What do you want and why?

This will help with resolving 53/52 beta issues / seeing if there are any mismatches, also

### Possible implementation(s)

1. print in blitz -v
2. maybe add a check to blitz dev/start to check if there are any mismatches

### Additional context

[2022-07-17 15:59] Zeko369 commented on #3549
Could you actually check which package versions you have (also we need to improve our CLI to print all the packages #3552)?

If you're on `alpha` for all the packages auth gets resolved to `2.0.0-alpha.52` while others are on `53` which causes bugs in how TS overrides stuff.

So just pin all packages to `2.0.0-alpha.54` and it should work

[2022-07-17 16:08] #3534 closed

[2022-07-17 17:28] #3550 closed

[2022-07-17 19:03] paulm17 commented on #3543
Reached out to the tanstack discord and was pointed to

I haven't tried it yet, but maybe worth linking to in Blitz own docs.  Or maybe I'm an outlier as not many will hit this issue? 🤷‍♂️

[2022-07-17 21:24] flybayer opened #3555 "Hook up react-query fetch cancellation"
### What do you want and why?

With just a small change, we can hook up request cancelation with react-query.

Docs: https://react-query-v2.tanstack.com/guides/query-cancellation

### Possible implementation(s)

- Pass through the `signal` to each of our react-query hook uses, first one here: https://github.com/blitz-js/blitz/blob/main/packages/blitz-rpc/src/data-client/react-query.tsx#L88
- Updat

[2022-07-18 00:22] Vandivier opened #3558 "alpha install fails from workspace dir @alpha.54"
### What is the problem?

i installed a fresh alpha app and received the error mentioned in the paste log section when i try to `blitz dev`

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

n/a

### What are detailed steps to reproduce this?

1. on windows, using git bash, globally install blitz at alpha via yarn (Note: `blitz -v` mentions npm package mgr bu

[2022-07-18 00:39] Vandivier commented on #3558
wow now i feel dumb plz give me a few hours to check smth - I'm not sure I ever did `cd kahneman` after `blitz new kahneman`...

[2022-07-18 00:58] Vandivier commented on #3558
what I've done since:
1. rm -rf /d/workspace/github/kahneman
2. re-clone kahneman folder and cd into it, blitz new, blitz dev; UI is successfully spun up this time BUT
3. `getCurrentUser` fails out of the box resulting in the default view being a 500 page instead of the blitz app default homepage

UI err details:
[code]

server side err logs/details:
[code]

I tried `blitz prisma migrate dev` whic

[2022-07-18 00:59] Vandivier commented on #3558
seems related to latest comment: https://github.com/blitz-js/blitz/issues/3478

[2022-07-18 01:06] Vandivier commented on #3558
updated version info after install success (w typescript)
[code]

[2022-07-18 02:08] Vandivier commented on #3558
this might be obv to someone more familiar w the code, but the root cause of the error is that `const resolverMap = await getResolverMap();` is undefined inside of `function rpcHandler(config)` in the module @blitzjs/rpc

maybe later I'll investigate why that is the case, but atm that's as far as I've gone.

also, closing issue bc I was able to `blitz dev` in the top folder. again i think original

[2022-07-18 02:08] #3558 closed

[2022-07-18 02:09] Vandivier commented on #3478
plz take a look in closed issue above for some useful details related to this issue

[2022-07-18 02:18] Vandivier commented on #3558
![image](https://user-images.githubusercontent.com/5559355/179436285-fe78a5b3-bdcb-4ac1-a0b9-ec0737dde9ed.png)

everything is basically in its default + unset state

getResolverMap() -> loadBlitzRpcResolverFilesWithInternalMechanism() ->g.blitzRpcResolverFilesLoaded

not sure how that's supposed to get populated but it seems like it's just...not being populated

[2022-07-18 03:00] pivotrooky commented on #3490
Hi!
I would like to work this issue since it is marked as a good first issue.
Would that be ok?

[2022-07-18 03:22] abuuzayr commented on #3490
absolutely @pivotrooky ! give us a shout if you need any help

[2022-07-18 08:03] #3552 closed

[2022-07-18 08:04] #3536 closed

[2022-07-18 08:39] #3491 closed

[2022-07-18 09:55] StringKe opened #3559 "[Auth] Maybe deletedSession in Session doesn't need a return type?"
### What do you want and why?

[The more information the better!](https://github.com/blitz-js/blitz/blob/ac9c4cebc82cbd05cdf5225bb822ace449e0da6d/packages/blitz-auth/src/shared/types.ts#L50)

1. In all the current blitzjs code, the return type is not used.
2. For Auth Plugin, SessionModel can be accessed before deletion.

### Possible implementation(s)

Maybe this return type can be modified?

###

[2022-07-18 10:58] #3559 closed

[2022-07-18 12:03] #3497 closed

[2022-07-18 14:32] datner commented on #3475
I'm so excited for this, are there any updates on this? I can barely wait ahahahah

[2022-07-19 10:16] beerose opened #3565 "Improve CLI version check"
The current output:
<img width="501" alt="CleanShot_2022-07-19_at_11 53 262x" src="https://user-images.githubusercontent.com/9019397/179727481-e44c4877-028b-4ecf-9e20-26ec2e29ffe0.png">

- [x] We shouldn't suggest upgrading to latest if someone is using stable
- [x] The current version is missing
- [x] Consider printing info about version mismatch (e.g. "you're using blitz v 54, auth v50")

`blitz

[2022-07-19 12:25] authentiqdigital commented on #3354
Hi @beerose, thanks for looking into this.

We have the same issue, when we generate the app via `blitz new <project>` with the latest blitz version and Next 12.2.0. The `[[...blitz]].ts` is present in `<app root>/pages/api/rpc` too. We generated a JavaScript and a TypeScript version, both are not working.

[code]

The error in the console:
[code]

Might be a Windows related issue? Happy to help i

[2022-07-19 13:46] #3541 closed

[2022-07-19 15:55] DmacMcgreg opened #3566 "(CLI version check error) Cannot find module create noop.js"
### What is the problem?

blitz@alpha version 55 fails to create new project

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. npm i -g blitz@alpha
2. blitz new test-project
3. error

OR

1. npx blitz@alpha new test-project

### Run `blitz -v` and paste the output here:

[code]

### Please include be

[2022-07-19 15:57] DmacMcgreg opened #3567 "blitz codemod fails"
### What is the problem?

runing npx @blitzjs/codemod upgrade-legacy fails on a brand new 'legacy' blitz minimal installation (no DB or Auth)

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. npx @blitzjs/codemod upgrade-legacy

### Run `blitz -v` and paste the output here:

[code]

### Please includ

[2022-07-19 18:12] karimsx commented on #2703
@paulm17 i did take a look, but i'm enought experienced to implement it, still trying but its a little hard

[2022-07-19 18:39] paulm17 commented on #2703
@karimsx Same here! 😓

All you need to do, is port over: https://github.com/TanStack/query/blob/v3/src/react/useQueries.ts ?

[2022-07-19 23:31] karimsx commented on #3549
updated all versions to alpha 55, working like a charm

[2022-07-20 06:09] beerose commented on #3549
Thanks for the update @karimsx! I'm closing the issue then

[2022-07-20 06:09] #3549 closed

[2022-07-20 06:26] #3567 closed

[2022-07-20 12:59] beerose commented on #2703
@karimsx @paulm17 I didn't look into it _very closely_ but I guess there would be two things needed:

1. Port over the logic from `react-query` (what @paulm17 mentioned)
2. Do something similar to the `useQuery` implementation: https://github.com/blitz-js/blitz/blob/d7119488097cfc0e1acb80d9f124df49152743cc/packages/blitz-rpc/src/data-client/react-query.tsx#L39, so that it works with blitz rpc/auth

[2022-07-21 02:46] freakaziod210 commented on #3566
Same same. I tried using yarn but that didn't work.

[2022-07-21 09:37] Syarx opened #3570 "useAuthorizeIf is not a function"
### What is the problem?

I get
[code]
when I use useAuthorizeIf hook like this
[code]

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. use useAuthorizeIf() in a client component.

### Run `blitz -v` and paste the output here:

[code]

### Please include below any other applicable logs and screensho

[2022-07-21 13:34] dillonraphael opened #3571 "Codemod fails when renaming imports"
### What is the problem?

The codemod makes this change

[code]

But should actually make this change
[code]

### Please include below any other applicable logs and screenshots that show your problem:

The codemod fails during the `update project's imports` step because it's not preserving the renamed import eg. `as DefaultErrorComponent`

The relevant code can be found here: https://github.com/bl

[2022-07-21 13:55] dillonraphael opened #3572 "Update codemod to show details on how to fix & continue when error"
### What do you want and why?

During the codemod if there is an error, we don't show enough relevant information on how to fix & continue. Currently this is all the user sees when something fails:

[code]

### Possible implementation(s)

[code]

[2022-07-21 14:07] dillonraphael opened #3573 "Update codemod messages for unexpected errors"
### What do you want and why?

Currently during the `Move middleware to blitz server file` step we get an error that's hard to understand.

[code]

### Possible implementation(s)

[code]

[2022-07-21 14:13] dillonraphael opened #3574 "Codemod middleware step failing"
### What is the problem?

I believe the codemod is failing when trying to find the middleware object in `blitz.config.js`

[code]

### What are detailed steps to reproduce this?

[code]

[2022-07-21 18:58] Zeko369 commented on #3566
This is a bug with out update detection tool, in the meantime you can use `blitz new name --skip-upgrade`

[2022-07-21 22:02] flybayer opened #3579 "pnpm: Brand new app fails with Error: No QueryClient set"
1. Generate a brand new app with `2.0.0-alpha.56`
   - have to use `blitz new testblitz --skip-upgrade` flag because of https://github.com/blitz-js/blitz/issues/3566
   - select pnpm
2. Run `blitz build`

Get failed build with this:

[code]

## Workaround

[code]

## Debug Info

[code]

This *might* be because there are 3 different versions of react-query in the node_modules. I had an issue relate

[2022-07-21 22:18] flybayer opened #3580 "pnpm: Module not found: ESM packages (supports-color) need to be imported"
1. Generate a new app with `2.0.0-alpha.56`
   - have to use `blitz new testblitz --skip-upgrade` flag because of https://github.com/blitz-js/blitz/issues/3566
   - select pnpm
3. Run `blitz build`
4. See the below errors
   - **Note:** these don't fail the build, but it causes all of blitzjs logging to not have any formatting or color

[code]

Problem is that supports-color v9 is esm, and we need

[2022-07-22 00:14] Vandivier commented on #3478
using `Blitz version: 2.0.0-alpha.56 (global)` I can't even `blitz new foobar` (nor can I `npx blitz@2.0.0-alpha.56 new foobar`) I immediately get sent to
[code]

[2022-07-22 06:16] christianstrang commented on #3478
same

[2022-07-22 10:37] flybayer opened #3582 "enhancePrisma is undefined"
This doesn't happen in every app, which is confusing to me, but we definitely have a code bug here.

![image](https://user-images.githubusercontent.com/8813276/180420997-53018057-173c-4ebe-86e6-3e2eec291a13.png)

### Problem & FIx

Currently we are only exporting `enhancePrisma` in the [server entrypoint](https://github.com/blitz-js/blitz/blob/main/packages/blitz/src/index-server.ts#L9), but we ne

[2022-07-22 10:40] datner commented on #3582
I'll try to do that ✋🏻

[2022-07-22 12:04] beerose commented on #3354
Hey, I'm sorry for the inconvenience — I finally managed to reproduce it, and it is, in fact, only in Windows. I have a fix and tested it on Windows so a new release should be out later today :)

[2022-07-22 14:16] #3354 closed

[2022-07-22 14:47] beerose commented on #3478
The issue with queries and mutations on Windows was addressed here: https://github.com/blitz-js/blitz/pull/3581, while the issue with CLI is being tracked here: https://github.com/blitz-js/blitz/issues/3566. Current workaround is to run `blitz new <project name> --skip-upgrade`

[2022-07-22 14:47] #3478 closed

[2022-07-22 16:44] Zeko369 commented on #3579
@flybayer could you try this adding this to the `.npmrc`, if so I'll PR it to the template / codemod

[code]

[2022-07-22 17:11] Zeko369 commented on #3580
Since we can't really upgrade to `supports-color@9`, I'd just add this to the `package.json`
[code]

[2022-07-22 18:02] chartgerink opened #3586 "Typescript 4.7.x throws error with `blitz db seed`"
### What is the problem?

Thanks for the great code and wonderful project 🙏

When running `blitz db seed` with Typescript `4.7.x` the command fails. I've been able to identify this is not an issue with our code but is specifically blitz (see reproducible example).

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reprod

[2022-07-22 18:35] #3579 closed

[2022-07-22 18:55] #3574 closed

[2022-07-22 21:56] lhocke opened #3592 "Custom Server TS errors and not using local packages when running blitz dev (using alpha)"
### What is the problem?

Running into two issues with blitz alpha
1. attempting to run ```blitz dev``` with a custom server file (either ```server.ts``` or ```server/index.ts```) tries to use global installs of ```@blitzjs/next, @blitzjs/auth, and @blitzjs/rpc```
2. Error 1 can be avoided by invoking the start scripts with either ```yarn dev``` or ```npm dev``` but then throws several typsecript

[2022-07-23 12:54] authentiqdigital commented on #3354
Works like a charm now, thanks @beerose 👍

[2022-07-25 06:15] sherryxiao1988 opened #3594 "Passport integration doc updates?"
[The passport integration page ](https://blitzjs.com/docs/passportjs#1-add-the-passport-js-api-route) is outdated and not linked from the left main Navbar anymore.

The error I've been getting follow the above tutorial is:
[code]

Can anyone take a look to see what's need to be changed to work?

Thanks.

[2022-07-25 06:19] StringKe opened #3595 "useQuery refetchInterval option is invalid"
### What is the problem?

Maybe the `useQuery` `refetchInterval` option is invalid

My code logic is like this:
1. The page loads and requests a QR code valid for 5 minutes and waits for the user to scan the code
2. When the QR code request is successful, it will start polling every second to request the backend to check whether the user scans the code.

### Paste all your error logs here:

[code]

[2022-07-25 09:14] beerose commented on #3594
Are you using legacy blitz or the new alpha?

[2022-07-25 09:15] #3573 closed

[2022-07-25 09:18] linhltn opened #3597 "Call many requests when build in production env using Docker"
### What is the problem?

Currently the server is calling many requests when build in production environment using Docker, it only happens in  GET Method

I tried running Dev mode on the server, everything is fine, and I only get this issue when I build with Docker
Even the built-in function of blitzjs when creating a new project, getCurrentUser() has the same problem.

https://www.youtube.com/wat

[2022-07-25 09:31] Zeko369 commented on #3594
This looks like new alpha, since this problem only happens on new alpha (happened to 2 people already), and that's a missing wrap of `api()`

[code]

[2022-07-25 09:32] Zeko369 opened #3598 "Next Static Revalidate from mutation/query"
### What do you want and why?

It would be amazing to call `ctx.revalidate('/foo')` or even better to support our custom URL generation thingy `ctx.revalidate(Routes.Foo())`

### Possible implementation(s)

In the following PR

[2022-07-25 09:33] #3571 closed

[2022-07-25 09:37] linhltn opened #3600 "Validation has problem when using blitz build"
### What is the problem?

I am doing as I am doing to validate the form, everything is running normally, but when I use the blitz build command, it gives me the same error.

<img width="776" alt="Screen Shot 2022-07-25 at 16 35 47" src="https://user-images.githubusercontent.com/86993092/180746805-31492e0e-ee62-43f3-ab3e-fe26bae3ce31.png">

### Paste all your error logs here:

[code]

### Paste all

[2022-07-25 09:41] beerose commented on #3594
Docs are updated now: https://github.com/blitz-js/blitzjs.com/commit/fc6781bd84460f9e39e5a5289f33064861ae4f03. Closing the issue.

[2022-07-25 09:41] #3594 closed

[2022-07-25 10:14] beerose commented on #3572
We could have each step documented (we kinda do, but it's not 1-1 with codemod) and put a link to the docs in the error message so that people will know exactly what and how they should manually update.

[2022-07-25 12:57] #3555 closed

[2022-07-25 13:07] beerose commented on #3544
Hey @tech-chieftain, did you have a chance to work on this issue?

[2022-07-25 13:08] #2831 closed

[2022-07-25 22:12] dillonraphael opened #3601 "Update codemod step for updating package.json"
### What is the problem?

Currently we have:

https://github.com/blitz-js/blitz/blob/6559c25f71326df4fa81ebfc0eb25208ecab5d28/packages/codemod/src/upgrade-legacy.ts#L85-L94

But we should only update blitz packages, next packages & zod (because of the requirement for `^3.17.0`.

This means:
[code]

We should also avoid using `latest` & `alpha` tags, and instead should use a static version number.

[2022-07-25 22:21] dillonraphael opened #3602 "Fix how `next.config.js` is generated in codemod"
### What is the problem?

https://github.com/blitz-js/blitz/blob/6559c25f71326df4fa81ebfc0eb25208ecab5d28/packages/codemod/src/upgrade-legacy.ts#L47

The codemod currently create a `next.config.js` from scratch without taking into account the webpack config & middlewares inside `blitz.config.ts`.

### Solution:

We should be rename `blitz.config.ts` to `next.config.js` & simply wrap the config wit

[2022-07-25 22:26] dillonraphael opened #3603 "Codemod only transfers a string value of `cookiePrefix`"
### What is the problem?

The codemod searches for `cookiePrefix` and assumes there is always a string as the value. This won't work all the time because there can also be a ternary statement. (eg:
[code]
)

[2022-07-25 22:31] dillonraphael opened #3604 "Add DocumentProps to codemod import map"
### What is the problem?

Currently the import map is missing `DocumentProps`

https://github.com/blitz-js/blitz/blob/6559c25f71326df4fa81ebfc0eb25208ecab5d28/packages/codemod/src/upgrade-legacy.ts#L103-L184

### Solution:

Add to the import map & here https://github.com/blitz-js/blitz/blob/6559c25f71326df4fa81ebfc0eb25208ecab5d28/packages/codemod/src/upgrade-legacy.ts#L925-L938

[2022-07-25 23:17] sherryxiao1988 commented on #3594
Thanks a lot!

[2022-07-25 23:32] sherryxiao1988 commented on #3594
Still getting the same error after adding api:

[code]

[2022-07-25 23:39] sherryxiao1988 opened #3605 "passportAuth is not a funciton even inside the api wrapper"
### What is the problem?

Since this issue has been closed: https://github.com/blitz-js/blitz/issues/3594#issuecomment-1193791963

Repaste the question here. Still not working when passportAuth is wrapper insde api().

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and paste the

[2022-07-26 09:20] beerose opened #3607 "Fix all contributors automation"

[2022-07-26 09:20] beerose opened #3608 "Update toolkit template code"
We need to make sure that all templates in the generator package are up to date.

[2022-07-26 10:37] tech-chieftain commented on #3544
@beerose life got in the way and I couldn't get to do it. Expect a PR over the weekend.

[2022-07-26 11:21] beerose commented on #3544
Ok, thanks for the update @tech-chieftain!

[2022-07-26 11:28] beerose commented on #3605
So the issue is with the import — `passportAuth` is no longer exported from `blitz`. It's exported from `@blitzjs/auth`:
[code]

[2022-07-26 11:28] #3605 closed

[2022-07-26 21:56] dillonraphael opened #3611 "Env flag not working with blitz CLI"
### What is the problem?

When running `blitz build -e test` it doesn't set `process.env.APP_ENV` to `process.env.APP_ENV=test`

[2022-07-26 22:23] sherryxiao1988 opened #3612 "Env variable not working with Typescript?"
### What is the problem?

<img width="782" alt="image" src="https://user-images.githubusercontent.com/1202426/181122466-8307bf36-5797-4976-af52-dd6c48f0d436.png">

It works if I replace these env variables with strings directly

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Run `blitz -v` and

[2022-07-27 00:16] sherryxiao1988 opened #3613 "ReferenceError: __internal_rpcHandler is not defined"
### What is the problem?

I started wit a minimal app and have been gradually adding stuff to it.

Here I am adding the getCurrentUser query:
<img width="1062" alt="image" src="https://user-images.githubusercontent.com/1202426/181133452-8eb85be3-ba7d-4345-b38b-b34351a38200.png">

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

I've also setup @blitz

[2022-07-27 07:15] StringKe commented on #3597
@beerose  https://github.com/blitz-js/blitz/issues/3595 Seems to be the same problem?

[2022-07-27 08:12] markdav commented on #3253
Hey there,  not much of a description - is this issue to get the recipe install working on the 2.0 version?  Just trying out blitz for the first time and the recipe install command doesn't seem to work per the [documentation](https://blitzjs.com/docs/why-blitz#5-recipes):

[code]

[2022-07-27 08:17] markdav commented on #3253
Okay - I just noticed that I'm using 2.0.0-alpha which is apparently fairly early days at the moment and I guess not full-featured.

[2022-07-27 10:09] flybayer opened #3614 "Blitz RPC logging is not using our standard logger and does not match legacy log output"
### What do you want and why?

[All these console logs](https://github.com/blitz-js/blitz/blob/main/packages/blitz-rpc/src/index-server.ts#L171-L245) should be changed to use [our standard logger](https://github.com/blitz-js/blitz/blob/main/packages/blitz/src/logging.ts#L32).

### Possible implementation(s)

All the logging code should be copied [from our legacy code](https://github.com/blitz-js/l

[2022-07-27 10:11] flybayer opened #3615 "Log of "Starting sessionMiddleware..." is forgotten debug log that needs removed"
### What do you want and why?

This line needs removed: https://github.com/blitz-js/blitz/blob/main/packages/blitz-auth/src/server/auth-plugin.ts#L108

[2022-07-27 11:09] Himanxu1 commented on #3615
I want to work on this issue @flybayer
Assign this to me

[2022-07-27 12:32] flybayer commented on #3615
@Himanxu1 all yours! :)

[2022-07-27 14:59] Himanxu1 commented on #3614
Hey @flybayer  I want to work on this issue .
I want more information.
What exactly needs to be done

[2022-07-27 15:05] Himanxu1 commented on #3614
Should I change console.info(),console.error() to log.info() . log.error()

[2022-07-27 15:09] beerose commented on #3253
Yep — the `blitz install` command is not yet supported.

[2022-07-27 15:10] Himanxu1 commented on #3490
Hey , I want to work on this issue ..
Assign this to me .
@abuuzayr

[2022-07-27 15:16] pivotrooky commented on #3490
Oh, ok. @Himanxu1 I'd only just started, so fine by me :D @abuuzayr

[2022-07-27 15:17] beerose commented on #3612
How do you start your app? I just tested it with a sample app in Blitz repo and it seems to work. Do you see logs that your env files were loaded when starting the app?

[2022-07-27 15:23] sherryxiao1988 commented on #3612
I started it using `blitz dev`. Log says the env are loaded:
[code]

It worked with pure javasript but wasn't working with Typescript somehow for me.

[2022-07-27 15:29] Himanxu1 commented on #3490
OK @pivotrooky .I am also a beginner

[2022-07-27 15:31] Himanxu1 commented on #3303
Hey @dillonraphael I want to work on this issue .
Assign this to me.

[2022-07-27 15:48] beerose commented on #3615
Hey @Himanxu1 — technically, @noxify was the first to create a PR for this issue, so I'm going to merge @noxify's PR and close yours.
For the future — before starting work, you can take a look at the linked PRs, previous discussions etc., to see if someone already covered an issue.

[2022-07-27 15:52] noxify commented on #3615
next time I will post a reply that I want to work on an issue - sorry for the confusion

[2022-07-27 16:08] Himanxu1 commented on #3615
Okay @beerose

[2022-07-27 16:44] #3615 closed

[2022-07-27 16:49] sherryxiao1988 commented on #3613
Closing since apparently this was due to my files aren't saved somehow lol

[2022-07-27 16:49] #3613 closed

[2022-07-27 16:49] sherryxiao1988 commented on #3612
Closing since apparently this was due to my files aren't saved somehow lol

[2022-07-27 16:49] #3612 closed

[2022-07-27 16:50] beerose commented on #3612
I'm glad it's solved!

[2022-07-27 17:16] beerose commented on #3490
Hey @Himanxu1, I think @pivotrooky meant that he was already assigned to this issue :) In general, it's helpful to look at the discussion and see if someone was already assigned or created a PR or mentioned that they are going to work on an issue. This way, we can avoid working on the same things and any future confusion. I hope you can decide between you two who's going to work on this one :)

[2022-07-27 17:19] Zeko369 commented on #3303
Here you go @Himanxu1

[2022-07-27 17:37] Himanxu1 commented on #3303
Hey @Zeko369  I want to know more about this issue ? can you explain.

[2022-07-27 18:09] AdityaTD commented on #3303
I actually intended on working on this issue and asked further on Discord but didn't get a response ([here](https://discord.com/channels/802917734999523368/802990045849714688/968897308995502100)). Then I got busy at work so forgot to ping again.

Anyway, the issue is basically as follows:

Source: @dillonraphael

[2022-07-27 18:31] sherryxiao1988 opened #3623 "Unhandled Runtime Error Error: The server could not finish this Suspense boundary, likely due to an error during server rendering. Switched to client rendering."
### What is the problem?

<img width="836" alt="image" src="https://user-images.githubusercontent.com/1202426/181344966-ad8474f6-1a6d-4902-ac0a-d2e571ef7f14.png">

I tested this only happens when adding passport auth with Google (tried to add the auth file to a new sample repo, reproduced the issue).

### Paste all your error logs here:

Server side log:
[code]

Client side error:
[code]

### Past

[2022-07-27 18:43] sherryxiao1988 commented on #3623
I tried delete the [...auth] file and the passport related dependencies, but this error seems to be here to stay.

[2022-07-27 18:44] sherryxiao1988 commented on #3623
I saw this in the server log:
[code]

[2022-07-27 22:22] pivotrooky commented on #3490
@beerose I'd like to free up this issue, there'll be plenty of issues to work on in the future.
Could you please unassign me?
I'm not sure if the option to do it myself is available as I'm not yet a collaborator but, if it is, I can't find seem to find the button.
Thank you very much!

[2022-07-28 00:31] Vandivier opened #3624 "ship vscode debug launch.json"
### What do you want and why?

blitz already ships with some vscode-specific files. The docs explain how to create an appropriate launch.json to debug using vs code. Why not simply ship a prebuilt launch config file?

### Possible implementation(s)

Include launch.json either at the top level or within the .vscode folder

### Additional context

existing debug doc
https://blitzjs.com/docs/troubles

[2022-07-28 00:37] Vandivier opened #3625 "misleading out of date notice at `blitz dev` time"
### What is the problem?

fresh install with blitz 2.0.0-alpha.59, install went fine but when i `blitz dev` i get a misleading log:

![image](https://user-images.githubusercontent.com/5559355/181395601-eb6e4688-5e6a-487f-9c0e-f206411c1bd0.png)

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1.

### Ru

[2022-07-28 01:04] Vandivier opened #3626 "unexpected LabeledTextField.tsx"
### What is the problem?

LabeledTextField.tsx is in an unexpected form out of the box (alpha 0.59) for two reasons:
1. With TypeScript enabled, it fails the pre-push husky hook by default due to issues shown in the "Paste all your error logs" section
2. although I picked `react-hook-form` to start a new blitz app with, this file says `import { useField } from "react-final-form"`

### Paste all yo

[2022-07-28 01:13] Vandivier commented on #3626
while trying to manually fix the type incompatibility, I receive:
[code]

so I guess `errors[name]` should never be an array?

[2022-07-28 01:51] Vandivier opened #3627 "blitz menu component"
### What do you want and why?

normally when we create a new model, I don't want blitz to insert links into my CRUD flow anywhere (in contrast with /projects which ships for free)

I'd request a special component such as a blitz-menu component which is an exception to this rule. this could be useful, for example, as a documentation component, audit tool, admin tool, and dev tool.

### Possible imp

[2022-07-28 01:54] Vandivier opened #3628 "enhanced ui codegen"
### What do you want and why?

when i generate a model, have the UI form be more intelligently created. this is to save developer time.

### Possible implementation(s)

detect whether a `blitz g all foobar` is using supported properties/fields like a string field and if so, append the appropriate HTML/jsx/tsx/etc code into the appropriate UI components such as adding a text notes field to the crea

[2022-07-28 04:12] zubeir-Abubakar commented on #3413
@beerose what about if your using typescript? i have similar error
` Support for the experimental syntax 'jsx' isn't currently enabled (1:1)`
kindly can you tell me how to solve it ?

[2022-07-28 04:58] sherryxiao1988 commented on #3623
Attached a vscode debugger, I saw this:
![image](https://user-images.githubusercontent.com/1202426/181423921-dccb3620-f342-4276-be81-f16f0baeff4f.png)

[2022-07-28 05:07] sherryxiao1988 commented on #3623
![image](https://user-images.githubusercontent.com/1202426/181425046-b07a0cb9-396c-4576-a3f3-a02a657500f5.png)
Wonder if this one it's more related? I deleted all the style jsx, but still have the same error.

[2022-07-28 12:49] beerose commented on #3628
Closing as a duplicate of https://github.com/blitz-js/blitz/issues/2038

Let us know if there's anything else you'd like to see supported in codegen that isn't mentioned in https://github.com/blitz-js/blitz/issues/2038

[2022-07-28 12:49] #3628 closed

[2022-07-28 12:53] beerose commented on #3624
Good idea!

[2022-07-28 13:17] beerose commented on #3625
Thanks for the report!

[2022-07-28 14:16] #3611 closed

[2022-07-28 15:09] beerose commented on #3614
We should use the `baseLogger` (https://github.com/blitz-js/blitz/blob/main/packages/blitz/src/logging.ts#L32) insetad of `console.x`.

[2022-07-28 15:33] beerose commented on #3597
Yes, it looks like it. I think this issue is not related to refetchInterval, but the result (infinite requests) is the same. Also, for you it's not related to Docker, right?

[2022-07-28 17:42] sherryxiao1988 commented on #3623
The error disappeared after updating everything to `2.0.0-alpha.60`

[2022-07-28 18:10] markdav opened #3633 "Blitz generate creating broken files"
### What is the problem?

Blitz newbie disclaimer.  Tried adding an entity:

[code]
It codegend a bunch of files but many of them had glitches:

Update mutation:

![image](https://user-images.githubusercontent.com/5741188/181606379-b7a7f316-73c4-4779-8724-48bba5968be0.png)

pages - e.g. edit:

![image](https://user-images.githubusercontent.com/5741188/181607200-c0145e39-2ce9-43f6-a362-029f4119128c

[2022-07-28 20:47] sherryxiao1988 commented on #3623
Still experiencing this issue after updating somehow. The issue disappeared for a while and then reappeared.

[2022-07-28 22:40] sherryxiao1988 commented on #3623
The problem disappears when I put `useSession({suspense: false})` everywhere, but this is not ideal.

[2022-07-28 22:53] sherryxiao1988 commented on #3623
Actually downgrade `@blitzjs@auth` `@blitzjs/next` and `@blitzjs/rpc` back to the "alpha" version solved my problem. Maybe some bugs were introduced at later versions.

[2022-07-29 07:19] sherryxiao1988 commented on #3623
Still getting this error even after downgrading the versions (after adding more components on the page)

[2022-07-29 07:58] lhocke opened #3636 "Unable to run tests due to Error: Cannot find module 'ts-jest'"
### What is the problem?

Attempting to run tests with ```npm test```, ```yarn test```, and ```pnpm test``` with "Error: Cannot find module 'ts-jest'" apparently from ```@blitzjs/next/jest```

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

### What are detailed steps to reproduce this?

1. from a new or existing blitz alpha project run ```npm test`

[2022-07-29 08:19] sherryxiao1988 commented on #3623
Fixed! Was some server side error.

[2022-07-29 09:16] beerose commented on #3626
I just tried creating a new blitz app with react-hook-form to see if we use the correct templates, and it worked fine. I.e., I don't see that second issue that you mentioned. Regarding the first one — I belive that it can be related to wrongly generated forms code. Can you make sure that you use this code: https://github.com/blitz-js/blitz/blob/e218d5f84ddf001d1b7154a3828a15969a21d0fa/packages/gen

[2022-07-29 09:23] paulm17 opened #3637 "Toolkit: Authenticate and RedirectTo not working as expected"
### What is the problem?

Using the latest toolkit .60.

[code]

Doesn't seem to do anything.  Have confirmed nothing in the application Tab in dev tools.

Also

[code]

Seems to create the following error, when authenticated and hitting the page:

![alt text](https://i.imgur.com/3OorkYp.png)

### Run `blitz -v` and paste the output here:

[code]

[2022-07-29 09:42] beerose commented on #3633
Hey! Thanks for the report — we'll update the templates accordingly (I think we have a regression).

What Blitz version are you using?

[2022-07-29 14:08] markdav commented on #3633
Blitz version: 2.0.0-alpha.57 (global)
Blitz version: 2.0.0-alpha.57 (local)
Windows 10 | win32-x64 | Node: v16.15.1

 Package manager: npm

  System:
    OS: Windows 10 10.0.16299
    CPU: (8) x64 Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
    Memory: 15.70 GB / 31.88 GB
  Binaries:
    Node: 16.15.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.16.0 - ~\AppData\Roaming\npm\yarn.CMD
    npm: 8.11

[2022-07-29 16:57] sherryxiao1988 opened #3640 "getSession error after clearing Cookies"
### What is the problem?

<img width="831" alt="image" src="https://user-images.githubusercontent.com/1202426/181807836-0c53eb06-6197-4943-bf83-74b0745181f3.png">

<img width="786" alt="image" src="https://user-images.githubusercontent.com/1202426/181809071-a8f7cc3d-bcfb-49d9-bcc3-4bdf2de05ec4.png">

### Paste all your error logs here:

[code]

### Paste all relevant code snippets here:

[code]

#

[2022-07-30 17:45] Bobberta opened #3641 "Self-closing tag ignored by node selector in upgrade-legacy codemod"
### What is the problem?

I ran into an "unexpected error" while running the `upgrade-legacy` codemod, at the `update imports in the _document file` step:
```TypeError: Cannot read property 'name' of null```

I dug into the code and managed to identify the reason for that error.
See l.941: https://github.com/blitz-js/blitz/blob/922bc276d95829b58d99b7a9f78f2af8e9b358a2/packages/codemod/src/upgrade-

[2022-07-30 18:59] #3543 closed

[2022-07-30 21:51] jmcelreavey commented on #3566
Is there a solution currently for this that doesn't involve spinning up a new project? Some files I can modify locally?

[2022-07-31 14:39] janvennemann commented on #3623
@sherryxiao1988 How did you figure out what caused the issue? I'm seeing this to as soon as i use anything that triggers a suspense fallback like `useSession` or `useQuery`. I have the components wrapped in a `Suspense` and even tried adding a `Suspense` directly in my `_app` to catch all, but to no avail. Everything works fine as soon as client side rendering takes over.

[2022-07-31 15:49] sherryxiao1988 commented on #3623
@janvennemann I thought I fixed this issue but I didn't. Let me explain a little bit more and also reopen this issue so mainters could help take a look.

I thought what happend to me was this: https://nextjs.org/docs/messages/react-hydration-error

In short words, If your rendering depends on some objects that only exists in the client side (e.g., the window object). Server side pre-rendering will

[2022-07-31 18:43] jmcelreavey commented on #3579
This still seems to be an issue for me, I can confirm that it is hoisting the file and `pnpm config list` states this but I still receive the error 🤔

[2022-07-31 18:49] jmcelreavey commented on #3579
Just to add to this, it actually works fine on the root of the site but on my additional pages it doesn't..

[2022-07-31 19:06] Zeko369 commented on #3579
@jmcelreavey which version? if you upgraded to lates it's moved to `@tanstack/react-query` from `react-query` so you'll need to change it to `@tanstack/react-query`

I tried doing `blitz new my-app` and then `pnpm build` and it worked

[2022-08-01 09:09] beerose opened #3646 "`blitz codegen` does no longer run `prisma generate`"
### What is the problem?

We have to add `prisma generate` related code back to the `codegen.ts` file:

[code]

[2022-08-01 09:12] beerose commented on #3641
Thanks for the report. Will fix that soon!

[2022-08-01 09:18] beerose commented on #3566
Hey @jmcelreavey, this should be fixed in the newest alpha versions. Could you try with 2.0.0-alpha.63?

[2022-08-01 09:19] jmcelreavey commented on #3566
Yeah that did the trick! Thanks

[2022-08-01 10:30] #3500 closed

[2022-08-01 10:48] edrickleong commented on #3490
I have talked to @Himanxu1 about picking up this ticket on discord and he's ok with passing this to me. Could this be assigned to me instead?

[2022-08-01 11:02] beerose commented on #3490
Sure!

[2022-08-01 11:47] beerose commented on #3640
Hey @sherryxiao1988, I just tried to reproduce it with the following steps:

1. Create a new Blitz app (v2.0.0-alpha.64)
2. Add your code snippet to `index.tsx` (the getServerSideProps)
3. Start dev server
4. Sign up
5. Clear cookies

I didn't get this error, though. After I removed cookies, the UI got updated to a logged-out user, and a new anonymous session was created. The console.log `console.

[2022-08-01 16:25] flybayer opened #3649 "@blitzjs/rpc should not have zod as a dependency"
### What is the problem?

`@blitzjs/rpc` has `zod` as a dependency, causing the app build to fail if the user tries to use a different zod version

### Paste all your error logs here:

[code]

### What are detailed steps to reproduce this?

1. Generate new blitz app
2. Upgrade zod to latest version
3. Run `blitz build`

### Run `blitz -v` and paste the output here:

[code]

[2022-08-01 17:49] sherryxiao1988 commented on #3623
Hi @beerose I saw you edit the tags of this issue. Has the root cause been identifed already?

Thanks a lot!

[2022-08-01 22:13] sherryxiao1988 commented on #3640
Hi @sherryxiao1988 , thanks a lot for taking a look. Instead of using Sessions, I used query to get the current user from the database to avoid this problem. I am closing this issue for now, but if I come across it again I will let you know.

[2022-08-01 22:13] #3640 closed

[2022-08-02 01:56] linhltn commented on #3597
I need help @beerose 🆘

[2022-08-02 08:57] #3582 closed

[2022-08-02 09:17] #3489 closed