[2020-07-27 10:38] #800 closed

[2020-07-27 10:52] flybayer commented on #806
Hey @jay-jlm. Can you share more about the motivation behind your request?

The `<style jsx>` items in new apps are meant to be deleted. They are simply there so that the new app page doesn't look extremely ugly :)

[2020-07-27 11:17] #788 closed

[2020-07-27 13:37] jay-jlm commented on #806
Got it,  if it is supposed to be removed it indeed makes sense too keep evrything inside a single file.
Looking forward to having first-class support for sass and css modules in the future, thou.
Right now I had do manually install sass and create the css/scss files by hand, hopefully these steps can be automated in the future.

[2020-07-27 14:12] flybayer commented on #806
We already have [first class support for sass](https://blitzjs.com/docs/css#sass-support), but we don't have it installed by default. We don't have any styling solution installed by default since everyone has a different approach.

However, I definitely want to add a prompt when you run `blitz new` that shows the top styling options and lets you select one! My current focus is getting auth fully f

[2020-07-28 00:11] wKovacs64 opened #809 "authError query string value needs sanitized"
### What is the problem?

Depending on the complexity of the error being passed back via `authError` query string, you may end up with the following runtime error:

[code]

### Steps to Reproduce

1. Set up a Blitz project with auth
1. Forget to add something to your Prisma model 😆
1. Try logging in or using an authenticated route

### Versions

[code]

[2020-07-28 09:15] clearink commented on #225
Is there a solution?

[2020-07-28 10:54] flybayer commented on #225
@clearink I think the original issue might be fixed. But regardless, I'm sure there's a way to fix it. No-one has had time to dig into it yet, but anyone is welcome to do so!

Our current new app template has this in `db/index.ts`

[code]

That is so that we don't run out of too many db connections during hot code reloading in dev. But I think that also may prevent reloading the schema without a r

[2020-07-29 06:33] chris-tse commented on #748
Hi there! If no one else has been working on this yet, I'd like to give this a try.

[2020-07-29 10:50] flybayer commented on #748
@chris-tse awesome, it's all yours!

[2020-07-30 09:24] Skn0tt commented on #784
While SuperJSON is a lot more capable than normal JSON, there's still some stuff that's not supported:

- `Map` with non-uniform key types
- `Map` with complex key types
- ES6 Classes
- potentially more ...

We'll have to address these limitations in the Docs to prevent high expectations to burn. I'd be down to write the Docs for this! :D

[2020-07-30 17:34] hauptrolle commented on #416
Is there a solution yet?

[2020-07-31 10:50] jeremylynch opened #814 "Use FormData to simplify forms"
### What do you want and why?

Use FormData to parse forms at onSubmit event (in templates). This allows making adding inputs to forms easier and faster.

Read more about this implementation [here](https://mattboldt.com/2020/05/02/formdata-with-react-hooks-and-fetch/).

### Possible implementation(s)

[code]

Feedback? Happy to submit a PR for this!

[2020-07-31 13:16] kripod opened #815 "Potential bug in `ctx: {session?: SessionContext} = {}` and then its `ctx.session!` usage"
### What is the problem?

Why is the following argument used for the context when the [session middleware is in place](https://blitzjs-com-git-auth.blitzjs.vercel.app/docs/auth#setup)?

[code]

This holds the potential for unexpected errors when using like `ctx.session!`, as shown in the auth example docs. I would suggest the following syntax if the `session` is always available:

[code]

Otherwis

[2020-07-31 15:34] kripod commented on #815
I realized that the initial method signature is like that to make it callable without explicitly specifying a second argument:

That didn't seem to be intuitive at first. I think a wrapper like `ssrQuery` should always be present even on the server, and for both queries and mutations.

[2020-08-01 16:21] flybayer commented on #784
No problem, because they will be able to do a lot more than they can now!! :)

[2020-08-02 13:35] merelinguist commented on #784
@robertgrzonka How’s this going? 😄

[2020-08-02 13:36] merelinguist commented on #815
cc @flybayer

[2020-08-02 18:44] flybayer commented on #416
@hauptrolle yes!

Use the `superjson` library.

[See the docs on using with `getServerSideProps` here](https://github.com/blitz-js/superjson/blob/document-gssp/README.md#using-with-nextjs-getserversideprops-getinitialprops-and-getstaticprops)

[2020-08-02 19:13] flybayer opened #821 "Upgrade everything to eslint v7 - internal code and in the new app template"
### What do you want and why?

`eslint-config-react-app` [relatively recently added support for eslint v7](https://github.com/facebook/create-react-app/pull/8978) so we can upgrade all our internal tooling to to the latest eslint packages and we can upgrade all the eslint packages [in the new blitz app template](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/package

[2020-08-02 19:22] flybayer commented on #814
Hey @jeremylynch, thank you so much for the suggestion! Really appreciate it!

We are getting ready to do even better than FormData :) We are adding ability to select between react-final-form, react-hook-form, and formik :D

So I'll go ahead and close that since form library integration is imminent

[2020-08-02 19:22] #814 closed

[2020-08-02 19:24] flybayer commented on #784
Btw, I just published superjson `1.1.0` which has bug fixes you will want :)

[2020-08-02 21:26] #749 closed

[2020-08-03 00:32] HunterHeston opened #825 "Standard Dockerfile"
### What do you want and why?
I'm requesting a Dockerfile with sane defaults be generated with `blitz new`.
I believe that this is valuable for anyone not planning on hosting a project on render.com or vercel.com. This would be a great option for people using something like Digital Ocean or any number of server providers.

### Possible implementation(s)
I have a possible implementation here:
[code

[2020-08-03 00:36] HunterHeston commented on #825
Going to go ahead and close this. #289 covers this topic.

[2020-08-03 00:36] #825 closed

[2020-08-03 18:10] flybayer commented on #784
@robertgrzonka have you started on this? I need it finished within a day, so I can take over if you want!

[2020-08-03 18:56] hegelstad opened #826 "Happy path scaffolding is not unforgiving"
### What is the problem?
![image](https://user-images.githubusercontent.com/6997343/89216909-90a48580-d5cb-11ea-840c-9df7479112bd.png)

### Steps to Reproduce

1. Add additional attributes (manually) to the first model generated.
2. Press create a "..."
3. Get an alert that values for the additional attributes are missing.

### Versions

[code]

[2020-08-03 20:15] Skn0tt commented on #784
Forget about this - SuperJSON will support all of these in the coming days ^^ Maybe I'm a bit over-confident, but I don't think users will notice any edge cases once Blitz.js properly integrated SuperJSON. No Docs required then ;D

[2020-08-03 23:34] flybayer commented on #784
Hey @robertgrzonka, I'm going ahead and working on this. Hopefully you hadn't started 😬 I'm really sorry about this. I didn't realize I needed this so suddenly this week 😕. Hopefully there's no hard feelings!

[2020-08-04 14:37] #754 closed

[2020-08-04 17:17] #700 closed

[2020-08-04 17:17] #784 closed

[2020-08-04 18:35] jose-donato opened #833 "Blitz recipes failing on Ubuntu Server"
### What is the problem?
I am trying to use the new feature blitz recipes (blitz install tailwind) and i'm getting typescript errors.
### Steps to Reproduce

1. `blitz new test`
2. `cd test`
3. `blitz install tailwind`

### Versions

[code]

### Other

Typescript errors:
![image](https://user-images.githubusercontent.com/43375532/89331409-a2e4f900-d689-11ea-8b65-de1886d4bf09.png)

[2020-08-04 20:22] flybayer commented on #833
Sorry about that @jose-donato! It appears to be a platform compatibility issue with Linux. We'll get it fixed.

[2020-08-04 20:23] flybayer commented on #833
cc @aem

[2020-08-04 20:26] jose-donato commented on #833
No worries. thanks for the awesome framework and the fast reply. Looking forward to start contributing!

[2020-08-05 01:36] aem commented on #833
Oops. I know what's going on here. For local Blitz dev we don't need to manually install the types because it's always running through the yarn workspace, but for prod builds the types aren't included. I'll add those to the existing recipes and update the docs as well

[2020-08-05 02:04] flybayer commented on #815
@kripod so sorry for the long delay responding! I was traveling this past week and focused on getting the auth release out the door.

You are totally right about this being weird. This is the one remaining sore spot in Blitz apps that we need to find a solution for.

We could definitely add a higher order function to solve this, but if possible I'd love to keep the default export for queries and m

[2020-08-05 02:23] flybayer commented on #815
The other thing here is how to add types for global middleware. Like if you add custom global middleware, what's the best way to get that fully typed in all your queries and mutations.

[2020-08-05 02:42] aem commented on #833
I'm no longer totally sure what's going on here. On a Linux VM with a brand new `node`/`npm`/`yarn`/`blitz` setup I was able to create a new app and install the recipe without a problem.

@jose-donato is there any chance you generated a plain JS project rather than a TS project?

[2020-08-05 11:09] jose-donato commented on #833
Yes, of course. I'll try that as soon as i can.

[2020-08-05 13:45] aem commented on #833
Oops sorry for the confusion, I wasn't asking you to generate your own JS project, but if you generated a JS project instead of TS then this would make sense, that's all

[2020-08-05 13:46] jose-donato commented on #833
Oh, sorry. I misunderstood. Nop, i just used `blitz new <name>`

[2020-08-05 15:50] merelinguist opened #838 "Update RPC generation with new Prisma connect function"
### What do you want and why?

Prisma [`2.4` ](https://github.com/prisma/prisma/releases/tag/2.4.0) deprecated several top-level client methods, including one which we use, `prisma.connect`. This means that using any Blitz queries or mutations will result in a console warning about the deprecated usage.

### Possible implementation(s)

This is the offending line: https://github.com/blitz-js/blitz/

[2020-08-05 15:56] flybayer commented on #838
For backward comparability, if `.$connect` exists, use it, otherwise use `.connect`

[2020-08-05 20:15] merelinguist commented on #375
I imagine that Passport has a strategy for LinkedIn login, so this also depends on https://github.com/blitz-js/blitz/issues/752

[2020-08-05 20:27] merelinguist commented on #727
This has now been fixed in Next, so I’m closing this. If you see the Sandbox I linked above, I’ve updated Next to the latest version, and the routes now seem to work correctly. Please feel free to open again if this problem persists!

[2020-08-05 20:27] #727 closed

[2020-08-05 20:37] merelinguist commented on #240
@mikeattara Do you mind if I work on this?

[2020-08-05 21:05] flybayer commented on #752
This is finished.

[2020-08-05 21:05] #752 closed

[2020-08-05 21:06] flybayer commented on #375
#752 is already implemented!

[Here's the docs](https://blitzjs.com/docs/auth#third-party) on using the passport.js adapter.

I'm not sure it makes sense to add an example now? Probably better is to simply make a recipe for it.

[2020-08-05 21:08] flybayer commented on #240
@merelinguist it's been three months so I think the answer is yes 😄

[2020-08-05 22:20] merelinguist commented on #375
@flybayer Agreed. I think we should put as much of this kind of stuff in recipes as possible, and leave examples for demos of feature implementations.

[2020-08-06 05:31] agoxlea commented on #838
I'm new here. Can I take this one?

[2020-08-06 11:49] jose-donato commented on #833
Tried with another linux distro (Lubuntu 19.04) and it is working fine!

[2020-08-06 13:20] aem commented on #833
Interesting. I wonder if the server distro does something weird with symlinks, temp directories, or how child processes get access to the filesystem. Any of those three could cause this. I'll do a little more digging, but good to know at least that it's limited to a specific distro

[2020-08-06 13:41] #277 closed

[2020-08-07 00:05] cr101 opened #841 "Cloudinary support"
### What do you want and why?

It would be helpful to be able to programmatically add image and video upload, manipulation, optimization, and delivery capabilities to a Blitz app via Cloudinary's REST APIs.

### Possible implementation(s)

This could be a recipe installer.

[2020-08-07 15:37] jose-donato opened #842 "Generate typescript types when `blitz generate all <model>`"
### What do you want and why?

Wouldn't be interesting if when we run `blitz generate all <model>` created a folder (and file inside it) with the typescript types for the model?
For example, if I am creating a model called Category, it would also generate a folder called "types" and inside it a file called "CategoryType.ts".
The contents would be, for example:
[code]

This would be useful when we

[2020-08-08 01:27] ryardley opened #843 "Form Multipart Management/Resolvers should accept Files"
### What do you want and why?

In application development to upload a file is a really common thing to do. (Say for a user avatar upload uploading a video etc). Often especially in a serverless context, we then need to stream it on to a third party asset storage solution such as S3 or cloudinary. Some services provide unsigned options but this can lead to security issues. In any case there is a fa

[2020-08-08 01:30] ryardley commented on #843
Related https://github.com/blitz-js/blitz/issues/841

[2020-08-08 15:25] flybayer commented on #843
Sounds like a good idea!

[2020-08-08 15:26] flybayer commented on #841
Great idea!

[2020-08-08 15:32] flybayer commented on #842
Hey @jose-donato, since you didn't specify, I'm assuming you are using Prisma for the database client.

If you are, then you'll be very happy to know that Typescript type generation is one of the key features of prisma.

So with this `db/schema.prisma` file,

[code]

You can access the `Category` and `Item` TS types like this:

[code]

[2020-08-08 15:38] jose-donato commented on #842
Yes, I'm using prisma.
That is interesting and i did not know.

Thanks!

[2020-08-08 16:01] #838 closed

[2020-08-08 18:00] #842 closed

[2020-08-08 19:14] #748 closed

[2020-08-08 20:35] flybayer commented on #826
@hegelstad sorry for such a long delay in responding!!

You're absolutely right this is not great. We have a plan to fix this, but it requires some other changes to the CLI and generators. So I'm going to put this in the icebox for now, but we'll definitely fix this as soon as we can.

[2020-08-08 23:36] flybayer opened #851 "Auto run db migration during new app setup"
### What do you want and why?

The new blitz app template on canary includes authentication and the database schema needed for that. Currently users have to manually run `blitz db migrate` after running `blitz new`. But we can automate that, so we should.

### Possible implementation(s)

Basically we need to add code to spawn the prisma CLI to the [app generator](https://github.com/blitz-js/blitz/

[2020-08-09 00:03] nettofarah commented on #821
hey, @flybayer. My friend @pragmaticivan and I wanted to try and tackle this issue together.
Here's pt1 https://github.com/blitz-js/blitz/pull/852

Thanks!

[2020-08-09 01:02] cr101 commented on #843
Using React Dropzone on the client-side is a great idea.

On the server side it would be useful to have the option to pipe the file to S3/Cloudinary and to disk (for non-serverless context).

[2020-08-10 01:48] mikeroosa opened #854 "Possible issue with web socket"
### What is the problem?
After generating a new app and clicking around on different links, my app seems to lock up and I can only visit previously visited pages. Even F5 to refresh the browser doesn't work. No output in the web console or server console.

### Steps to Reproduce

See linked video.

I started by clicking around on some projects, then clicked Create Project. At the 25 sec mark, I cl

[2020-08-10 04:20] #627 closed

[2020-08-10 15:29] flybayer opened #855 "Automatically detect http/https on localhost and use secure cookies accordingly"
### What do you want and why?

Currently [we are setting cookies as `secure`](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/supertokens.ts#L699) (which requires HTTPS) if `NODE_ENV === 'production'`. This causes an issue if you run `blitz start --production` on your local machine because the url will be `http://localhost:3000` so cookies won't work because it's not https.

So i

[2020-08-11 06:01] dwightwatson opened #856 "Prevent Prisma from logging secrets in queries"
### What do you want and why?

I noticed that the Blitz logs include what appear to be output from Prisma when queries are run. This is great, except for when potentially sensitive information is shown in these queries.

[code]

Other frameworks have features that help protect sensitive parameters. Rails has `filter_parameter_logging` and Laravel prevents this arguments from being re-flashed. In b

[2020-08-11 14:54] scisteffan opened #857 "MDX is not supported"
### What is the problem?

When adding MDX files they are not compiled into the NextJS application, so you cannot use the MDX Next plugins.

### Steps to Reproduce

1. Follow instructions at https://www.npmjs.com/package/@next/mdx for a new blitz project, updating `blitz.config.js` instead of `next.config.js`
2. Create new file at `app/pages/about.mdx`
3. Visit `http://localhost:3000/about` - *404

[2020-08-11 15:17] scisteffan opened #858 "usePaginatedQuery docs example incorrect"
### What is the problem?

When I use the example usePaginatedQuery code in the docs (https://blitzjs.com/docs/use-paginated-query) the next button is not appearing / disappearing correctly.

### Steps to Reproduce

1. Go to https://blitzjs.com/docs/use-paginated-query and implement the code
2. Ensure the maximum number of items on the page is set to 3
3. Add 3 items to the database - *next button

[2020-08-11 17:11] simonedelmann opened #859 "SuperJSON not working on useQuery arguments"
### What is the problem?

SuperJSON is not working on query arguments when using queries via `useQuery` hook. This probably affects all other `useXXXQuery` hooks, too.

### Steps to Reproduce

1. Do a query with an argument of type `Date` using `useQuery`.
[code]
2a. Check if it is of type `Date` inside of the query.
[code]
2b. Check the query call in your browsers dev tools: The `meta` property w

[2020-08-11 17:19] flybayer commented on #858
Thanks @scisteffan! You're definitely right.

This needs updated in the `store` example in this repo, and [on the usePaginatedQuery doc page](https://github.com/blitz-js/blitzjs.com/edit/main/docs/use-paginated-query.mdx).

[2020-08-11 17:21] flybayer commented on #857
Yep, definitely a bug!

Here's the line that needs updated: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/pages/index.ts#L8.

And be sure to add a test to this file: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/pages/pages-path-transformer.test.ts

[2020-08-11 17:41] flybayer commented on #854
That is definitely weird! Looks like an issue with Next.js fast refresh.

Could you try upgrading to Node v13.14.0 and see if you have the issue with that? We have had issues with lower versions of v13.

[2020-08-11 17:41] scisteffan commented on #858
I'd love to take this one on board!

[2020-08-11 17:42] scisteffan commented on #857
I'm happy to take this one on board.

[2020-08-11 17:48] flybayer commented on #856
@dwightwatson you're absolutely right. This is logging by Blitz.

I've had this on my todo list for awhile. I'll do this as part of a logging system overhaul I have planned.

[2020-08-11 17:49] flybayer commented on #857
Awesome, it's all yours!

[2020-08-11 17:49] flybayer commented on #858
You got it!

[2020-08-11 18:44] mikeroosa commented on #854
Seeing same behavior after upgrading to 14.7

➜  myBlitzApp git:(master) ✗ blitz --version --verbose
You are using alpha software - if you have any problems, please open an issue here:
  https://github.com/blitz-js/blitz/issues/new/choose

debug: blitzPkgPath: /Users/roosam/Projects/playground/myBlitzApp/node_modules/blitz/dist/index.js
debug: cliPkgPath: /Users/roosam/Projects/playground/myBlitzA

[2020-08-11 18:52] mikeroosa commented on #854
After doing some research on this I came across a post on next.js that said someone else was having a similar issue. They ran on a different port and the problem went away.

I did blitz start --port=6789 and it works fine on that port.

[2020-08-11 18:54] flybayer commented on #854
interesting! Probably a computer restart would fix it.

[2020-08-11 19:06] gabrielcolson opened #861 "Blitz start --production rebuilds the app on Heroku"
### What is the problem?

The `blitz start --production` command rebuilds the app during Heroku deployment even if it was previously built during Heroku's build phase. The application timeout on start after 60 seconds.

### Steps to Reproduce

1. create a new project `blitz new blitz-heroku && cd blitz-heroku`
2. create a new heroku app `heroku create`
3. create a root `Procfile` containing `web:

[2020-08-11 20:59] flybayer commented on #861
Hey @gabrielcolson can you confirm that you ran `blitz build` during the Heroku build phase?

Assuming you did that, do you know how Heroku decides which files to copy to the runtime environment? I wonder if it's not copying both the `.next` and `.blitz` folders to the runtime image.

[2020-08-11 21:07] gabrielcolson commented on #861
Hey @flybayer
Yes the `blitz build` is indeed executed we can see that in the logs.

I believe the output is copied "as is" to the runtime image after pruning  the dev dependencies

[2020-08-11 21:10] flybayer commented on #861
Ok cool, someone just needs to dig into this and figure out exactly why our diff algorithm thinks the files are changed. (`blitz start --production` will re-use the built files unless it detects a change)

[2020-08-11 22:38] scisteffan commented on #858
So I updated the store, noticed that the Prisma client version is stuck at 2.0.0 whereas my new blitz project is 2.4.1. This new version has undefined as a union type on the query inputs (FindManyProjectArgs) meaning we need to add the non-null assertion operator on `skip` and `take` for usePaginatedQuery and useInfiniteQuery.

[2020-08-11 22:38] scisteffan commented on #858
Just want to confirm it's ok to update the version of Prisma client? That might be a separate issue since it could break things.

[2020-08-11 23:21] dwightwatson opened #862 "Session middleware isn't working on Vercel"
### What is the problem?

This looks like it could be related to #794.

Using the authentication scaffold from the docs, my app crashes on Vercel when interacting with the session. It doesn't appear to be database related through - when registering the user record is created, but the session is not. When logging in it appears to honour valid/invalid credentials but also fails to create the session

[2020-08-12 06:36] ryardley commented on #861
Is there a different lock file or something like that being added to the folder as part of the dev dependency removal?

If any files change aside from the following, blitz will trigger a rebuild:

[code]

[2020-08-12 07:10] gabrielcolson commented on #861
@ryardley I couldn't say. I cannot ssh into the runtime container since it didn't even start.
I think we should take a look at the official node buildpack to understand what is going on there.

[2020-08-12 11:38] simonedelmann opened #863 "ErrorBoundary not catching server errors in production"
### What is the problem?

The ErrorBoundary component in `_app.tsx` does not catch server errors while in production.

### Steps to Reproduce

**Preparation**
1. Fresh blitz app: `blitz new myApp`
2. Generate some model: `blitz generate all todo`
3. Migrate db: `blitz db migrate`
4. Add to `.env`: `SESSION_SECRET_KEY=12341234123412341234123412341234`

**Test in development mode**
1. Run blitz in d

[2020-08-12 11:45] simonedelmann commented on #863
To ensure this not only happens for `NotFoundError`:

1. Replace `queries/getTodos.ts` with this code:
[code]
2. Visit `localhost:3000/todos` in development mode and verify error.
3. Visit `localhost:3000/todos` in production mode. **No error** again, page stuck with "Loading..." again.

[2020-08-12 12:27] simonedelmann commented on #863
One more comment: Could it be related to this?

Source: https://kentcdodds.com/blog/use-react-error-boundary-to-handle-errors-in-react#handle-all-errors

[2020-08-12 13:02] svobik7 opened #864 "Getting error of unwanted types in vanilla js app"
### What is the problem?
After creation of new blitz app using `--js` flag and following main three steps from app homepage I am getting error `Syntax error: Unexpected token, expected ";"`

### Steps to Reproduce

1. `blitz new myApp --js`
2. `blitz generate all project name:string`
3. `blitz db migrate`
4. `blitz start`
4. Go to `http://localhost:3000/projects`

### Versions

[code]

### Other

[2020-08-12 14:11] toddgeist commented on #855
I looked into this.  getting "localhost" from the req.headers.host is easy.  But how do we get the protocol?  Node 14 has  req.protocol. But node 12 doesn't.  Any ideas?

[2020-08-12 16:22] chenkie opened #866 "Bump Prisma Version to Latest in Examples"
### What do you want and why?

The examples currently use an older version of Prisma (client and CLI). These should be updated to latest to make all the newest features available for users trying out the examples 👍

The more information the better!

### Possible implementation(s)

Bump to 2.4.1

### Additional context

Add any other context or screenshots about the feature request here.

Here's a

[2020-08-12 17:45] rohanjulka19 commented on #773
Hi, I would like to open a PR for this issue.

[2020-08-12 19:16] flybayer commented on #773
@rohanjulka19 awesome! Let me know if you have any questions

[2020-08-12 19:19] flybayer commented on #858
Yeah you can update prisma client as part of this

[2020-08-12 19:20] rohanjulka19 commented on #773
Thank you for assigning, I have opened a PR in the bot-Github repo here is the link https://github.com/blitz-js/bot-github/pull/7

[2020-08-12 19:22] flybayer commented on #855
Ok then let's just disable for localhost regardless of protocol

[2020-08-12 19:30] flybayer commented on #773
Woohoo! It works!

Closed in https://github.com/blitz-js/bot-github/pull/7

@all-contributors add @rohanjulka19 for infra

[2020-08-12 19:30] #773 closed

[2020-08-12 19:36] flybayer commented on #864
Thanks for reporting this! I think we can remove that entire `as` statement, so we just need to try that and see.

You're welcome to submit a PR!

[2020-08-12 21:05] #725 closed

[2020-08-12 21:51] #821 closed

[2020-08-12 22:01] #862 closed

[2020-08-12 22:45] #863 closed

[2020-08-12 23:20] #854 closed

[2020-08-12 23:20] #859 closed

[2020-08-13 05:22] hardfire opened #877 "Ask to install blitz-cli globally"
### What do you want and why?

`yarn start` should check if `blitz` is installed globally and suggest if the user wants to install blitz globally.

### Possible implementation(s)

How might we do this?

I'm not sure, but i'll dig into the repository to figure out how we could do this.

### Additional context

I cloned a blitz app on my computer and ran `yarn` followed by `yarn start` everything wo

[2020-08-13 10:19] merelinguist commented on #877
Thanks for the suggestion! I’d like to hear others’ input on this first, though. FWIW, I would be hesitant to add this, since it makes it seems like installing the CLI globally is compulsory, when it in reality it isn’t. I don’t know how Expo does this, but maybe if the user says no the first time, we could then not ask again?

[2020-08-13 17:14] Miruzz commented on #843
Hey @flybayer. I want to lobby Blitz in our small team and this feature will be handy in my arguments. Any thoughts when it can be done?

[2020-08-13 20:49] scisteffan commented on #858
Note I ended up setting tsconfig strick null checking rather than updating prisma client.

[2020-08-14 02:07] cardotrejos commented on #866
I'm searching my first open-source projects to work on, can I take this issue?

[2020-08-14 02:35] Weilbyte opened #882 "Add timeout to git commit during new app creation"
### What do you want and why?

Ran into an issue while running `blitz new [appname]`. The issue itself wasn't related to blitz but rather an issue with my git configuration. Git hung while Blitz was trying commit and all I could see for several minutes was just the `✔ Formatting your code` that goes before the the commit.

I had no idea what was taking so long so I CTRL^C.
![image](https://user-im

[2020-08-14 21:30] flybayer commented on #877
Thanks @hardfire! I agree with @merelinguist. If the global CLI was actually required, then this would totally make sense. But it's not required.

Also, in all our docs we encourage installing the global CLI, so if someone hasn't actually done so, there's a good chance they didn't want to.

[2020-08-14 21:40] flybayer commented on #843
@Miruzz I definitely won't get to it soon, but maybe @ryardley will?

[2020-08-14 21:44] flybayer commented on #866
@cardotrejos you sure can!! Let me know if you have any questions :)

[2020-08-14 22:01] flybayer commented on #882
@Weilbyte great suggestion!

Let's add a timeout to the git commit command, probably 2 seconds would be good

[2020-08-14 22:12] flybayer commented on #374
Closed in #840!

You can now run:
[code]

[2020-08-14 22:12] #374 closed

[2020-08-14 22:40] Weilbyte commented on #882
@flybayer  Sounds good, it should also run the commit with `--no-gpg-sign` so that if the user has `commit.gpgsign` enabled they won't be prompted (they can sign the commit afterwards themselves if they so desire).

[2020-08-15 01:07] dwightwatson opened #885 "Fast Refresh is disabled without latest React"
### What is the problem?

Looks like not using the latest version of React has disabled Fast Refresh for the time being.

Everything else still works, just that development feature isn't available.

We're currently attached to a specific React commit - I'm not sure of the exact details why that one - but is there potential to just target `^16.10.0` like the attached Next.js docs suggest?

### Step

[2020-08-15 07:26] merelinguist commented on #885
Which version of React _are_ you using?

[2020-08-15 07:41] dwightwatson commented on #885
Maybe I misunderstand how `package.json` constraints work. My app has the same React preferences as a new Blitz app.

Checking `React.version` returns `16.13.1-experimental-33c3af284` instead - which is greater than `16.10`.

[code]

Must be something else going on here.

[2020-08-15 08:53] dwightwatson commented on #885
Sorry, I've verified this is an issue with Blitz 0.17.1-canary.4.

[code]

[code]

The installed React version is `16.13.1-experimental-33c3af284`.

[2020-08-15 09:07] merelinguist commented on #885
I’m not sure why fast refresh is not supported, but you could try upgrading to a newer version of React. N.B., however, that we do require the experimental build of React in order to support Suspense for data fetching.

[2020-08-15 09:08] merelinguist commented on #885
I usually just tag it as `"react": "experimental"`.

[2020-08-15 09:26] dwightwatson commented on #885
When using `experimental` I still get the same warning.

[2020-08-15 09:42] merelinguist commented on #877
Closing this based on the feedback.

[2020-08-15 09:42] #877 closed

[2020-08-15 14:58] simonedelmann opened #886 "useQuery retry on error wanted?"
### What do you want and why?

When using useQuery, there are 3 retries by default (react-query). In case the query returns an error, the request will be repeated three times with growing delay in between.
In blitz we already limited the retries to 2. In case we detect a known error (AuthenticationError, NotFoundError, ...) retry will be disabled entirely.
But this does not work for custom errors.

[2020-08-16 04:47] Weilbyte commented on #882
Will begin working on this :)

[2020-08-16 07:39] Weilbyte opened #889 "Feature request: Add "no git" option to app generator"
### What do you want and why?

An option/flag to disable the git operations during `blitz new` app generation would be handy in some situations.

### Possible implementation(s)

Add another option, for example `--no-git`. App generator will check if that option is passed and if it is, it will skip the git operations.

[2020-08-16 08:26] Weilbyte opened #890 "Add conditional check to blitz webpack config to fix usage without `db/index.ts` file"
### What do you want and why?

If running `blitz start` without a `db` folder, Blitz will error out saying that it cannot resolve `./db/index`. However, if running with a blank `db/index` file then it's all okay.

It would be nice if Blitz could catch the `Can't resolve` and warn the user that it's running without a database.

I know Blitz is meant for database applications but I think handling th

[2020-08-16 12:30] alkamin commented on #579
On `0.17.1-canary.4` I'm still experiencing this.

[2020-08-16 13:59] flybayer opened #891 "Add Persistant Layout to New App Template"
### What do you want and why?

In my experience, most apps will need or want persistent layout in their apps. By default with Next.js, you don't have any persistent layouts. If you simply wrap each page with `<Layout>`, Layout will unmount and remount for every page.

[This post](https://adamwathan.me/2019/10/17/persistent-layout-patterns-in-nextjs/) goes into great detail on various ways to accom

[2020-08-16 14:09] flybayer commented on #885
Here's the problem: https://github.com/vercel/next.js/issues/16103

So according to Tim, that is just a warning and doesn't actually disable fast refresh.

[2020-08-16 14:13] flybayer commented on #886
So I think maybe we can only retry if the error is a network error vs a server response error. We are using plain `fetch`, so would just need to figure out how to detect network error properly.

[2020-08-16 14:24] flybayer commented on #579
Someone needs to dig into this and figure out exactly what is causing the delay. Then we can figure out the proper fix.

[2020-08-16 14:43] simonedelmann commented on #886
Seems like this guy has put a lot of research in detecting network errors with `fetch`. Should be easy to implement.

https://medium.com/to-err-is-aaron/detect-network-failures-when-using-fetch-40a53d56e36

[2020-08-16 20:51] adnanfuat opened #894 "`blitz new` doesn't trigger `npm i` command in linux system"
BLITZ installing doesn't trigger "npm i" command in linux system

**blitz -vV** :
[see screenshot](https://prnt.sc/u03m1s)

This is video of the problem

https://www.youtube.com/watch?v=1D3a7eg8ZJA

[2020-08-16 21:19] flybayer commented on #889
Good suggestion :)

[2020-08-16 21:20] flybayer commented on #886
Perfect I think we should go with that

[2020-08-16 21:26] flybayer commented on #127
This has been fixed for awhile. I forget what fixed it.

[2020-08-16 21:28] flybayer commented on #890
Yes, that's a bug! [This line is where the problem is](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/with-blitz.ts#L18).

We need to conditionally add that line only if the `db/index.*` file exists.

[2020-08-16 21:35] flybayer commented on #894
Thanks for reporting this @adnanfuat!

[2020-08-17 01:21] dwightwatson commented on #885
Cool, good to know!

[2020-08-17 01:21] #885 closed

[2020-08-17 21:19] flybayer opened #900 "Add single mutation generator"
### What do you want and why?

We're adding a single query generator with https://github.com/blitz-js/blitz/pull/837, so now we need to also add a single mutation generator. The changes will be very similar to that PR, but for mutations instead of queries.

[2020-08-17 21:27] aem commented on #900
I can tackle single page generator as a part of this too

[2020-08-17 21:32] flybayer commented on #900
Great!

[2020-08-17 21:57] #855 closed

[2020-08-18 03:08] dwightwatson opened #904 "Cancelling installer still outputs success message"
### What is the problem?

### Steps to Reproduce

1. Start an installer, for example `blitz install chakra`.
2. When it outputs dependencies and asks you to press `ENTER` to install, press `control+C` (or otherwise cancel).
3. See the successful output:

[code]

Cancelling a recipe before completion shouldn't display the success message - probably doesn't need any message at all.

### Versions

[c

[2020-08-18 07:33] Weilbyte commented on #889
On it :)

[2020-08-18 08:47] Weilbyte commented on #894
Does the same thing happen with `yarn` or is it npm-exclusive?

[2020-08-18 09:31] Weilbyte commented on #894
Unable to reproduce. Both `yarn` and `npm` installations start fine.

##### NPM
[code]
##### Yarn
[code]
##### NPM/Yarn info

npm => `/usr/bin/npm`
yarn => `/usr/bin/yarn`

@adnanfuat can you show output of `which npm` and `which yarn`? Also can you attempt running with the Blitz canary version?

[2020-08-18 09:44] Weilbyte commented on #890
Will attempt to tackle this soon.

[2020-08-18 15:08] aem commented on #904
Good catch. I'll address this in the upcoming revamp of the UX for the recipe runner

[2020-08-18 16:02] flybayer commented on #904
@aem sounds good. You can assign yourself if you decide to take an issue :)

[2020-08-18 16:23] #889 closed

[2020-08-18 17:04] Weilbyte commented on #890
PR up => https://github.com/blitz-js/blitz/pull/906

[2020-08-18 20:47] #886 closed

[2020-08-18 21:50] flybayer opened #910 "Single query generator is broken"
### What is the problem?

`blitz generate query` has two problems:

1. Generates two query files instead of one
2. Doesn't fill in the template with the query name. The filename and contents still have the template variables

[code]

cc @aem

[2020-08-18 21:51] #866 closed

[2020-08-18 21:58] #891 closed

[2020-08-18 22:08] flybayer opened #913 "Add support for `blitz.config.ts`"
### What do you want and why?

I want to transpile our config file so that we can use Typescript with `blitz.config.ts`. One big reason for this is currently our built in session management is configured in this file. And for people not using prisma, they need to define their database access hooks to get/set the `session` in their DB. The straightforward way to do this would be import `db` from `.

[2020-08-19 18:08] #890 closed

[2020-08-19 19:18] flybayer opened #918 "Add Formik to options for new apps"
### What do you want and why?

In #917 we added a prompt to `blitz new` to select a form library. Now we want to add Formik to that option list.

### Possible implementation(s)

Our current form library integration is set up so that the only thing that changes for different form libraries is the `<Form>` and `<LabeledTextField>` components. So this formik option should follow the same pattern.

[2020-08-19 22:46] johhansantana opened #920 "Tailwindcss recipe doesn't work on production."
### What is the problem?
Installing tailwindcss with blitz recipe works on dev mode but not on production

### Steps to Reproduce

1. Install the tailwindcss recipe following [the guide](https://blitzjs.com/docs/using-recipes)

### Versions

[code]

### Other

[Reproduction repository](https://github.com/johhansantana/blitzjs-todos)

go to http://localhost:3000/todos to test with `yarn start` and

[2020-08-20 00:38] #698 closed

[2020-08-20 02:27] eorenstein1 opened #922 "Dynamic component import - Module not found error"
### What is the problem?

When trying to dynamically import a component, I get a build error `Module not found: Can't resolve '../components/Component'`

### Steps to reproduce

1. Create a new blitz 0.18.0 project
2. Create a React component `app/components/Component.tsx`.
3. Try to import from page `app/pages/page.tsx`

[code]

I'm positive the relative path is correct. Any ideas how to fix this

[2020-08-20 09:34] merelinguist commented on #920
Hey! Can you explain what you mean by “doesn’t work”?

[2020-08-20 10:04] merelinguist commented on #922
The reason for this is because of the way Blitz compiles into a Next.js app.

Your file structure:

- `app/components/Component.tsx`
- `app/pages/page.tsx`

Will be compiled to:

- `app/components/Component.tsx`
- `pages/page.tsx`

Therefore your relative import won’t work. The easiest way to fix this is to use an absolute import instead:

[code]

[2020-08-20 10:21] merelinguist commented on #910
Tried this myself but can’t reproduce? `app/users/queries/getCurrentUser.ts` generates perfectly for me.

[2020-08-20 13:01] flybayer commented on #922
Yeah @eorenstein1, try the absolute path and let us know if that works.

Relative paths should work too, so it definitely sounds like a bug!

(@merelinguist relative paths work normally, but looks like we don't support it for `import()` yet)

[2020-08-20 13:05] johhansantana commented on #920
The css doesn't seem to load when building for production. The HTML appears with the classNames but not styled.

[2020-08-20 14:01] hmbrg opened #923 "Tests won't run on a new blitz app"
### What is the problem?

When running `npm test` on a freshly created blitz app the following error occurs:

[code]

### Steps to Reproduce

1. `blitz new app`
2. In `app/pages/index.test.tsx` remove the `.skip` from the test
3. Run `npm test`

### Versions

[code]

[2020-08-20 14:03] flybayer commented on #923
I can reproduce, definitely a bug!

Anyone please feel free to dig into this and figure out what's wrong. All the related code is in `test/utils.ts` (no code inside the blitz framework itself).

[2020-08-20 14:09] eorenstein1 commented on #922
@merelinguist @flybayer The absolute path worked. Thanks!

[2020-08-24 16:24] flybayer opened #937 "Can't import enum from prisma client"
### What is the problem?

We want to do `import { Tree } from '@prisma/client'` and use enum in client-side code. But currently this results in `undefined`.

I'm pretty sure the problem is that we use a null-loader for prisma client [in our webpack config](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/with-blitz.ts#L30).

So we should try removing that line and see if it works.

[2020-08-24 16:45] osirvent commented on #937
I have an app with prisma 2.0.1 and I can use enum type through import "db"

[2020-08-24 17:06] osirvent commented on #937
I`ve just tried with a new app with prisma 2.5.1. and it IS available.

the enum must be used on a model and then `blitz db migrate`

[2020-08-24 17:20] pqt opened #938 "Cannot run `blitz db reset` on fresh install"
### What is the problem?
When trying to reset the database I get a successful connection (I assume that's what loading database means). And then a failure to read `datasources` after confirming I am okay with clearing out the database.

Other prisma options like introspect and studio work as expected. This is just using sqlite at the moment, not hooked up to Postgres or anything external.

**It ma

[2020-08-24 17:29] alkamin commented on #938
I experienced this as well

[2020-08-24 19:08] flybayer commented on #938
For whoever wants to look into fixing this, the problem code [is here](https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/db.ts#L221).

I think we might need to switch to this:

[code]

getConfig should return something like this:
[code]

[2020-08-24 20:36] anteprimorac commented on #751
I wasn't able to integrate storybook into blitz project because of the conflict between react versions, and I am now testing the mentioned alternative https://vitro.now.sh/. It creates a directory with a separate next.js instance, so there should not be any issues integrating it with the blitz. It doesn't have all storybook features, but for my use-case, it has everything I need.

[2020-08-24 21:20] anteprimorac opened #940 "Blitz doesn't ignore directories added to `.gitignore`"
### What is the problem?
Blitz doesn't ignore directories added to `.gitignore`

### Steps to Reproduce

1. Add a directory to `.gitignore`, for example `/dir/`
2. Add some files to that directory
3. Run `blitz start`

### Workaround

Currently, you can work around this issue by adding `/dir/**/*` to `.gitignore`.

### Versions

[code]

### Other

Please include applicable logs and screenshots tha

[2020-08-25 02:33] flybayer commented on #937
🤔 interesting!

[2020-08-25 02:34] flybayer commented on #940
Hey @anteprimorac! When you say ignored by Blitz, what do you mean by that?

[2020-08-25 02:35] flybayer commented on #751
@anteprimorac cool, thanks for the info!

[2020-08-25 07:24] anteprimorac commented on #940
@flybayer it’s same as here https://github.com/blitz-js/blitz/issues/360

[2020-08-25 13:29] flybayer commented on #940
Ah, I forgot about that! 👍

[2020-08-25 18:11] SigurdMW opened #942 "Blitz deploy fails on Render.com"
### What is the problem?
Blitz fails when deploying to Render.com with the following `render.yaml` file:
[code]

### Steps to Reproduce

1. Install a brand new Blitz app
2. Add `render.yaml` file as above
3. See it fail :/

### Versions

happens both on version 0.18.0 and 0.17.1-canary.7

### Other
==> Starting service with 'blitz start --production -H 0.0.0.0'
Aug 25 08:08:24 PM  You are using al

[2020-08-25 18:13] merelinguist commented on #942
Thanks for the report! I assume you do have react testing library installed?

[2020-08-25 18:15] SigurdMW commented on #942
@merelinguist I haven't done anything after running `blitz new` when it comes to test. Do I have to install something myself when it ships with these tests as default?

[2020-08-25 18:37] SigurdMW commented on #942
If you need more info, here is the complete code: https://github.com/SigurdMW/din-advent
I would like to help fix this and update the documentation if needed.

[2020-08-25 18:47] merelinguist commented on #942
Hmm you shouldn’t have to install anything then. This is a long shot, but can you try replacing  `moduleDirectories: ["node_modules", "."],` with `moduleDirectories: ["node_modules", "<rootDir>/node_modules", "."],` in your `jest.config.js`? Otherwise, I’m sure someone else will have some more ideas.

[2020-08-25 18:53] flybayer commented on #942
Yeah @merelinguist suggestion should fix it. We are adding that to new apps by default in https://github.com/blitz-js/blitz/pull/924

[2020-08-25 19:00] SigurdMW commented on #942
Unfortunately, it does not fix this. Still same error after doing you suggested changes in commit:
https://github.com/SigurdMW/din-advent/commit/4e85f99dfc36864e65e7d6238c914cf7f731e50b

Aug 25 08:59:33 PM  warn  - Experimental features are not covered by semver, and may cause unexpected or broken application behavior. Use them at your own risk.
Aug 25 08:59:33 PM
Aug 25 08:59:33 PM  warn  - No bu

[2020-08-25 19:01] SigurdMW commented on #942
Oh, they had an option to clear build cache and try again. Trying that now.

[2020-08-25 21:09] #857 closed

[2020-08-25 21:17] #923 closed

[2020-08-25 21:25] flybayer commented on #942
@SigurdMW hmm, can you try moving all your `devDependencies` to `dependencies`?

[2020-08-25 21:29] #864 closed

[2020-08-25 21:32] #851 closed

[2020-08-26 04:42] SigurdMW commented on #942
Ok nice, that did seem to work @flybayer. The site seems to be running fine now.
Do you have an idea about why and how to fix this for future cases?

[2020-08-26 13:45] flybayer commented on #942
Ok cool. If you have time, could you isolate which devDependency(s) need to be in the production deps? Probably it's just the testing-library dependency.

I see options:
1. Move testing library to regular deps by default
2. Try to figure out why Next.js is processing the test utils file and prevent that

[2020-08-27 03:46] Bathlamos opened #949 "Undefined function `deleteCookie` when loading a page with an expired session"
### What is the problem?
Using the code described at https://blitzjs.com/docs/auth#emailpassword, I encounter a client-side runtime error when loading a page locally with an expired session cookie. This error disappears when I clear my cookies or when I access the page using an incognito browser.

### Steps to Reproduce

1. As far as I can tell, it suffices to add the authentication middleware to

[2020-08-27 04:11] firrae commented on #938
So I did a but of digging on my fresh Blitz project. I've found that the issue is likely at [this line](https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/db.ts#L231). Currently this is creating an empty Prisma client with no connection information. Debugging found there to be no `engine` sub-object on `db` hence the error message we get. Also maybe this is just because there'

[2020-08-27 04:15] firrae commented on #938
For the record, I have added the block above to my `config` file and `getConfig` is returning it so far as I can tell but it still fails.

[2020-08-27 04:32] oiojin831 opened #950 "Blitz recipes don't work with layout."
Using chakra-ui recipes turns only  `<Component {...pageProps} />` in to Chakra aware Code.
[code]

It Chakra's `<ThemeProvider>` should wrap layout as well
[code]

[2020-08-27 10:54] LoriKarikari commented on #949
Thanks for reporting this issue @Bathlamos!

[2020-08-27 10:55] LoriKarikari commented on #950
Thanks for reporting this issue @oiojin831.

[2020-08-27 15:10] flybayer commented on #938
@firrae thanks for checking into that. Does it work if you switch to `db._engine`?

[2020-08-27 15:23] svobik7 opened #951 "Getting `AuthenticationError` in new app after following initial blitz instructions"
### What is the problem?
After creating brand new blitz app and following first steps from `localhost:3000` main page I am getting `AuthenticationError: You must be logged in to access this` on `localhost:3000/projects` page.

### Steps to Reproduce

1. `blitz new blitz-playground`
2. `cd blitz-playground`
3. `blitz db migrate`
4. `blitz generate all project name:string`
5. `blitz db migrate`
6. `

[2020-08-27 15:25] svobik7 commented on #951
I think the error should not be thrown in this way but handled silently instead. Showing Login form in the background works great but error is not catched.

[2020-08-27 15:42] flybayer commented on #950
This is also a problem for all the other recipes that add context, like emotion etc.

[2020-08-27 15:52] flybayer commented on #951
Yeah @svobik7 you're totally right this is dumb. Here the login screen should show without the error popup.

Unfortunately this is a limitation with Next.js :( It shows this error overlay even if the error was caught by by an ErrorBoundary. **Note: it only shows this overlay in development, not in production**.

Anyone reading this, [please go add a new comment in this Next.js discussion](https://

[2020-08-27 16:02] flybayer commented on #949
Hey @Bathlamos I'm not totally following you as to what the issue is 🤔  Can you share the exact error that you get?

[2020-08-27 16:28] johncantrell97 opened #952 "Cannot resolve modules when running custom scripts"
I am trying to write the equivalent of rails 'rake tasks' where I can write some typescript or javascript that is meant to be executed manually using node/ts-node via an npm script.

Here is the simplest example repo I could setup to reproduce the issue:

https://github.com/johncantrell97/blitzTask/commit/2994c4137d867e15a60465bcc1eb50fa311653ff

This commit adds tasks/example.ts which imports a u

[2020-08-27 20:00] firrae commented on #938
@flybayer negative, it seems to be not initiated with the DB information from what I can tell. `_engine` has an empty array for `datasource` (if I remember correctly, I'll double check this evening).

[2020-08-27 20:45] flybayer commented on #938
Hmm, then I don't know how to provide any more guidance without just digging in and getting my hands dirty to figure out what's going on.

[2020-08-27 23:32] oiojin831 opened #953 "Change our Environment Variable support to work same as Next.js"
Next.js's built-in support for environment variables is different than Blitz.js's environment variables.

Blitz's only works with .env and next supports other extension such as .env.local

[2020-08-28 01:08] johncantrell97 commented on #952
Figured it out.

Turns out ts-node does not support using baseDir and paths tsconfig.json options.  Someone wrote a plugin to fix this gap (https://github.com/dividab/tsconfig-paths) which worked for me.

Here's the several year long thread about the issue on ts-node repo ( https://github.com/TypeStrong/ts-node/issues/138 ) in case you're curious about where I found the solution.

ts-node also nee

[2020-08-28 01:08] #952 closed

[2020-08-28 02:17] Bathlamos commented on #949
Hey @flybayer, if you're referring to the console error, it's `Uncaught TypeError: deleteCookie is not a function`.

[2020-08-28 03:53] firrae opened #954 "Add CLI Command For Migrate Up"
### What do you want and why?
The ability to run the prisma command `migrate up --experimental` on its own while passing in valid parameters as defined [here](https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-cli/command-reference#examples-4).

I have a need for this as creating a new migration if I want to swap DBs for testing seems excessive.

### Possible implementation(s)
I figu

[2020-08-28 15:56] thomasbroderick opened #955 "useQuery usage is load much slower in 0.18"
### What is the problem?
After upgrading from 0.16 to 0.18, my pages and components that utilize useQuery and Suspense are loading 10x slower.

### Steps to Reproduce

1. Use postgres db with over 20K rows
2. Use CLI to generate queries and pages for the table
3. Navigate to /items

### Versions
macOS Catalina | darwin-x64 | Node: v14.5.0

blitz: 0.18.0 (global)
blitz: 0.18.0 (local)

  Package ma

[2020-08-28 18:48] alan2207 opened #956 "useInfiniteQuery not working properly since v0.18"
### What is the problem?

`useInfiniteQuery` is not working properly since upgrading to v0.18. It keeps returning the first results

### This is how it works now.
<img width="1287" alt="Screenshot 2020-08-28 at 20 35 45" src="https://user-images.githubusercontent.com/12713315/91603881-0eab4080-e96e-11ea-8dd5-c334ceda30bc.png">

### And this is how it should work.
<img width="988" alt="Screenshot 2

[2020-08-28 19:59] flybayer commented on #953
Yes! We need to change our env support to be like Next.js.

I _think_ all we need to do is [change this line](https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/index.ts#L4) to not run for `blitz start` and `blitz build`. Then the .env functionality should "fall through" and be handled by Next.

And then also we need to switch that above line to use [dotenv-flow](https://github.com/ker

[2020-08-29 11:33] kitze commented on #955
I have the same issue, super slow in prod.

[2020-08-29 15:03] cherta opened #957 "Return 404 when there's no default export from a query/mutation file"
### What do you want and why?

I think sometimes it's useful having code that's not automatically exposed as an endpoint, but it's sitting there in a query or a mutation file. For example, when doing trunk based development you want the code in place, but not yet exposed to the world.

A common way to do this are feature flags, but those carry their own issues, another common approach I take is to

[2020-08-29 19:31] flybayer commented on #949
@Bathlamos can you paste here the entire logs from your terminal when this happens? Just the error message itself isn't really enough to figure out what's going on. So include all the logs possible :)

Also, can you try with Node v12? It's possible this is a Node v14 issue 🤔

[2020-08-29 19:33] flybayer commented on #954
Thanks @firrae! Once prisma migrate comes out of experimental status, we'll overhaul our Prisma integration.

For now the workaround is to call prisma directly like this:
[code]

[2020-08-29 19:41] flybayer commented on #956
Oops, definitely a bug! Thanks for reporting this!

[2020-08-29 19:42] flybayer commented on #955
@thomasbroderick @kitze can you try upgrading react and react-dom to `0.0.0-experimental-94c0244ba` and see if that fixes it?

[2020-08-29 19:44] flybayer commented on #955
@thomasbroderick are you loading all 20,000 items on a single page without pagination?

[2020-08-29 19:54] flybayer commented on #957
Thanks @cherta! Your request definitely makes sense. My only thought is if there's some way we can distinguish between when there's intentionally no default export vs when it's accidental.

But probably either way a 404 or 500 error will cause the dev who did it accidentally to figure it out 🤔

I say let's switch this behavior unless someone has more compelling reason not to.

[2020-08-29 20:03] flybayer commented on #806
I'm going to go ahead and close this since there's no direct action to take on this. We'll address a prompt for styling options separately.

[2020-08-29 20:03] #806 closed

[2020-08-29 20:04] #710 closed

[2020-08-29 20:05] flybayer commented on #350
The query generator now has the following:

[code]

So this issue is fixed!

[2020-08-29 20:05] #350 closed

[2020-08-29 20:06] #566 closed

[2020-08-29 20:18] thomasbroderick commented on #955
Not displaying them on the page, but loading the item names for use by a material-ui autocomplete component.  I tried upgrading react and react-dom but it doesn't appear to have resolved the long loading time issue.

[2020-08-29 20:38] flybayer commented on #955
@thomasbroderick ok yeah so probably adding superjson for serialization slowed down serialization enough to notice it on 20k items.

We can work on improving this perf, but regardless you should look at implementing a search feature instead of loading all 20k. Probably postgres built in search would be sufficient.

[2020-08-29 20:39] flybayer commented on #955
@kitze probably whatever issue you have is something other than this. For slow perf in production, the very first thing is to ensure your deployment and DB are in the same region (which I think you did, but we need to verify this).

[2020-08-30 13:25] cherta commented on #957
I see your point @flybayer, but for me the error of not exporting something should not be a runtime concern, but a build time one. I see this more as a linter / compile step issue than an execution problem.

Do you see this as a potential good first PR, or it's too complex for me to try solving it?

[2020-08-30 19:28] #956 closed

[2020-08-30 20:08] flybayer commented on #957
Yeah I think you could do it as a first PR.

Depending on where the actual runtime error orginates from, you'll probably want to [make the change here](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/rpc/index.ts#L96) or [here](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/rpc/index.ts#L68). And if default export isn't there, then use a default 4

[2020-08-30 22:18] #858 closed

[2020-08-30 23:10] flybayer commented on #303
To summarize how to build this:

- Enable custom server by adding `server.js` at the project root
- Start blitz the same as without custom server via `blitz start` and `blitz start --production`

And basically what we'll do with `blitz start` is run `node .blitz/caches/dev/server.js` and `node .blitz/caches/build/server.js`.

In a Next.js app you have this inside the server file:
[code]

But in Bl

[2020-08-31 10:43] cardotrejos commented on #169
Can take this issue?

[2020-08-31 13:24] flybayer commented on #169
@cardotrejos yes! So add a section that says if you get that above error, try setting the yarn policy thing.

[2020-08-31 13:32] PixelsCommander opened #966 "Failed to find request token in session when twitter login and using Nginx proxy"
### What is the problem?

I use Blitz in production mode on Nginx proxied server. When I try to use Twitter auth I get an error "Failed to find request token in session". Most likely the cookie is not set for the session.

### Steps to Reproduce

1. Enable Nginx proxy with SSL
2. Run Blitz in production
3. Follow auth tutorial and implement Twitter login
4. Try to login with Twitter
5. Expected re

[2020-08-31 13:48] flybayer commented on #966
Hey @PixelsCommander thanks for reporting this! I also saw [the discussion thread you posted](https://github.com/blitz-js/blitz/discussions/967). We definitely haven't tested this scenario yet.

Does the default email/password login work with this Nginx setup?

[2020-08-31 13:57] flybayer commented on #966
If this is just an issue with the passport adapter but not regular auth, then probably we need to add a way to configure `secureProxy` for `cookie-session` which [is used here](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/passport-adapter.ts#L40).

[2020-08-31 14:00] PixelsCommander commented on #966
Good hint. I'll check if this makes any impact.

[2020-08-31 16:34] flybayer opened #968 "Initial migration for new apps is not included in the initial git commit"
### What is the problem?

Initial migration for new apps is not included in the initial git commit

### Steps to Reproduce

1. `blitz new myapp`
2. `cd myapp`
3. `git status` -> see that there are a few migration files that aren't committed to git.

### Versions

[code]

### Other

The problem is that we [commit the code here](https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/ge

[2020-08-31 16:38] flybayer opened #969 "Need to update Readme contents for new apps"
### What is the problem?

The readme for new blitz apps is not correct. We need to update the "Whats included?" section to include all the files that are now in new apps by default.

### Steps to Reproduce

1. `blitz new myapp`
2. `cd myapp`
3. See that the files listed in readme.md do not match files in the project.

### Versions

[code]

### Other

[Here is the readme template file](https://gith

[2020-08-31 17:56] jschepmans commented on #969
Hi, I'd like to work on this! It would be my first issue :)

[2020-08-31 18:27] flybayer commented on #969
@jschepmans awesome! It's all yours :)

[2020-08-31 18:29] Bathlamos commented on #949
Apologies, it's difficult to reproduce the error. I just encountered it again, this time in my development environment, so pasting the log here. I'm trying with Node v12.18.3 and so far this looks like it's working. I'll post again if I encounter this error using Node v12.

![image](https://user-images.githubusercontent.com/4612142/91752938-16006300-eb95-11ea-929c-35ae84bb286f.png)

[2020-08-31 18:41] flybayer commented on #949
Ok thank you for that!

[2020-08-31 18:42] PixelsCommander commented on #966
It seems to be something to do on server side;

If your server is running behind a proxy and you are using secure: true, you need to configure your server to read the request headers added by your proxy to determine whether the request is using a secure connection.

For more information about working behind proxies, consult the framework you are using:

For Koa - app.proxy = true
For Express - tru

[2020-08-31 19:57] flybayer opened #973 "Husky git hooks are not set up properly in new apps"
### What is the problem?

Husky git hooks do not work right away after creating a new blitz app. You have to first run `npm rebuild husky`.

### Steps to Reproduce

1. `blitz new myapp`
2. See that `husky.sh` is missing from `myapp/.git/hooks/`

### Versions

[code]

### Other

I don't know 100% why this is happening, but probably it's because we install yarn dependencies before initializing the g

[2020-08-31 20:13] PixelsCommander commented on #966
I see that Next has Express integration https://github.com/vercel/next.js/tree/canary/examples/custom-server-express but not sure if using it would be the best solution for the problem because multiple Blitz features would be broken.

[2020-08-31 20:20] #969 closed

[2020-08-31 20:27] Bathlamos commented on #949
Unfortunately, I'm encountering the same error again in production under Node 12 (see below —same error, just minified code). Would you benefit from the specific cookies and database content leading to this error? I'm fairly sure that simply setting a very low `sessionExpiryMinutes` in the middleware config and then waiting for a session to expire is enough to replicate.

![image](https://user-ima

[2020-08-31 20:42] flybayer opened #975 "`session.isAuthorized` throws an error instead of returning a boolean"
### What is the problem?

If a user is not logged in, `session.isAuthorized` throws an error instead of returning a boolean.

The problem [is this line of code](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/supertokens.ts#L194).

We need to make this change:

[code]

[2020-08-31 21:22] #975 closed

[2020-08-31 21:36] #882 closed

[2020-09-01 00:01] nitaking commented on #573
@flybayer
Can I work on this?

[2020-09-01 01:50] flybayer commented on #966
Hmm. So does the default email/password login work with this Nginx setup?

[2020-09-01 01:52] flybayer commented on #949
Ok yeah I think I know enough to fix it, I just haven't got to it yet. Will try to soon

[2020-09-01 01:53] flybayer commented on #573
@nitaking yes! Let me know if you need any help!

[2020-09-01 01:55] #953 closed

[2020-09-01 02:03] bpas247 commented on #973
I think I'm more of a fan of the former 🙂 since the latter might increase the time it takes to create a new app.

[2020-09-01 07:37] PixelsCommander commented on #966
Sorry, had no chance to test because login/password is not planned to be implemented. The whole thing is Twitter oriented so the decision was to go with Twitter login only.

What I see is that NGINX itself does not break the thing. If I run Nginx + Dev version without SSL it works. Also, I had the same error locally until you made the localhost/https fix for cookies in 0.19.

[2020-09-01 14:39] flybayer commented on #966
Ok yeah I understand. Based on the error message I _think_ it's just a configuration thing for `cookie-session`.

[2020-09-01 15:09] #973 closed

[2020-09-01 15:40] flybayer opened #983 "Add `no-use-before-define` to our eslint config"
### What do you want and why?

We [had a bug](https://github.com/blitz-js/blitz/pull/982) because we violated this rule, so we need to add this rule to our config.

1. Add `"no-use-before-define": ["error", {functions: false, classes: false}],` to `.eslintrc.js` in the Blitz repo root.
2. Fix all lint errors that violate this new rule

[2020-09-01 18:07] jan-wilhelm opened #984 "Add `setQueryData` utility for updating query cache"
### What do you want and why?
Some components don't need the actual data of a `useQuery` hook but just need access to the `mutate` and `refetch` functions. Having to wrap those in a `<Suspense  />` component just for that purpose is unintuitive and confusing.

Especially for optimistic UIs it is not very handy that I have to call useQuery  just to be able to update the value of that query.

Exampl

[2020-09-01 19:06] #949 closed

[2020-09-01 20:20] #938 closed

[2020-09-01 21:54] firrae commented on #954
@flybayer good to know, I didn't think I could do that but if it works I'll go that route for now. Thanks.

[2020-09-01 23:55] flybayer opened #987 "Upgrade Next.js dependency to 9.5.3"
### What do you want and why?

Upgrade Next.js dependency to 9.5.3 (just released)

### Possible implementation(s)

Upgrade Next.js version in this file: https://github.com/blitz-js/blitz/blob/canary/packages/server/package.json

[2020-09-02 01:59] flybayer commented on #984
Hey @jan-wilhelm that definitely makes sense. I need to investigate this and see if we can do something to make this nice, but for sure right now you can access `react-query` directly and manually modify the `queryCache`.

[2020-09-02 02:01] flybayer commented on #984
Here's [our internal usage of useQuery](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-query.ts#L63).

And [here's where we define the `mutate` function](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/utils/query-cache.ts#L12). As I'm looking at this right now, I wonder if we don't have a bug because the queryKeys don't match between those 🤔

[2020-09-02 02:23] flybayer commented on #984
@jan-wilhelm ok what if we added a `getQueryKey` function that you could use anywhere in your app like this:

[code]

[2020-09-02 02:28] CalamityAdam opened #988 "`blitz new` stuck on 'Retrieving the freshest of dependencies'"
### What is the problem?
running `blitz new` hangs on `Retrieving the freshest of dependencies` after creating file structure.

### Steps to Reproduce
1. run `npm install -g blitz`
2. run `blitz new app-name`
3. select either `React Final Form (recommended)` or `React Hook Form`
4. cli now hangs on `Retrieving the freshest of dependencies` indefinitely.
  a.  after aborting:
  b. cd into the proje

[2020-09-02 02:51] flybayer commented on #984
We could also add something like this:

[code]

Btw, if you pass `enabled: false` to useQuery options, that will disable suspense too.

[2020-09-02 02:55] flybayer commented on #988
Hey @CalamityAdam sorry about that! We [occasionally have people report this](https://github.com/blitz-js/blitz/issues/725), but it's only happening in very specific cases with no way to reproduce.

Is there any special network situation you are in?

At the very least we can add a 10-15s timeout to this.

[2020-09-02 03:01] flybayer opened #989 "Add a timeout to the "retrieving freshest dependencies" step during new app creation"
### What do you want and why?

We occasionally have situations were new app creation get's stuck forever at the "retrieving freshest dependencies" step.

To mitigate the impact for this, we need to add a timeout to this step. Currently it never times out.

### Possible implementation(s)

[Add a timeout config to both uses of `got` in this file](https://github.com/blitz-js/blitz/blob/017c1ff813530a

[2020-09-02 03:02] flybayer commented on #988
I opened an issue to add a timeout: https://github.com/blitz-js/blitz/issues/989

[2020-09-02 03:11] CalamityAdam commented on #988
Hey @flybayer -
No unique network situation that I'm aware of.
Might also be worth noting that I am using [asdf](https://asdf-vm.com/#/) for version management.

[2020-09-02 03:12] CalamityAdam commented on #988
update: inside the project directory I ran `yarn` and then `blitz start` which at least started the server, however connecting to the server resulted in the following error:
[code]

[2020-09-02 07:57] PixelsCommander commented on #966
You are right, now I am passing secureProxy to passAuth then to cookie-session constructor. This gets it a bit further and now cookies are set and the server logs current user data.

But I am getting CSRFTokenMismatchError which breaks authorization. Is this somehow expected?

[2020-09-02 08:24] jan-wilhelm commented on #984
yeah either of those options would definitely solve that problem from a technical point of view, but I am not sure if they're the best APIs (keeping DX in mind).

I think the second suggestion is a little more intuitive, because it doesn't require the developer to keep a mental model of a "query key". Instead they can just say "here, I've got this query, that I call with these params, now please g

[2020-09-02 12:51] CalamityAdam commented on #988
update: `npm uninstall -g blitz` and then `npm install -g blitz` seemed to fix this

[2020-09-02 14:31] SigurdMW commented on #942
I think the 2nd option is the best, but I have not been able to figure it out. Should I create a PR for option #1 or let someone else tackle it?

[2020-09-02 14:40] flybayer commented on #966
You should not get a `CSRFTokenMismatchError` error. For a temporary workaround you can set the `DISABLE_CSRF_PROTECTION=true` environment variable to see if it works without that.

[2020-09-02 14:41] flybayer commented on #984
@jan-wilhelm yeah might be something better! Let me know if you have any ideas

[2020-09-02 14:48] SigurdMW commented on #937
Is this still an issue that needs to be worked on? I might be able to help out!

[2020-09-02 14:52] SigurdMW opened #994 "Object doesn't support property or method 'fromEntries' in Microsoft Edge 44.19041.423.0"
### What is the problem?
Missing polyfill for `fromEntries` in Edge

### Steps to Reproduce

When creating a new project (blitz v0.18.0) with auth, navigating to /signup in Microsoft Edge gives the following error :

`{description: "Object doesn't support property or method 'fromEntries'", message: "Object doesn't support property or method 'fromEntries'", number: -2146827850, stack: "TypeError: O

[2020-09-02 15:01] flybayer commented on #988
Ok good!

[2020-09-02 15:14] flybayer commented on #942
Looks like this [is a longstanding issue with Next](https://github.com/vercel/next.js/issues/1914).

I think we should fix this at our compilation step so that no test files get copied to the actual Next.js build. Basically we add the following [to this ignore list](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/config.ts#L48).

[code]

@ryardley what do you think about this?

[2020-09-02 15:15] flybayer commented on #937
@SigurdMW yes!

[2020-09-02 15:18] flybayer commented on #994
`fromEntries` [is used here](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-params.ts#L34).

I don't know if there's an easy build config we can change for this or if we should use something else instead of `fromEntries`

[2020-09-02 17:16] #987 closed

[2020-09-02 17:44] PixelsCommander commented on #966
Tried. No CSRF error but the user is not defined on the client while I see that query from getServerSideProps logs

[code]

and cookies I have set in the browser are:

<img width="1121" alt="Screenshot 2020-09-02 at 19 45 15" src="https://user-images.githubusercontent.com/810671/92017862-a933c700-ed54-11ea-93fc-505f06b94735.png">

[2020-09-02 18:21] sondh0127 opened #997 "NextJs: Error: The default export is not a React Component in page: "/<projects>""
### What is the problem?
Error: The default export is not a React Component in page: "/projects"

### Steps to Reproduce

1. `blitz new testsave`
2. `cd testsave`
3. `blitz generate all project name:string`
4. `blitz db migrate`
5. `code .` Open with Vscode Editor
6. `blitz start`

7. `signup/ login` with an account
8. go to `/projects`
9. Try to change something or just save <Ctrl+S> `"app/projec

[2020-09-02 18:30] flybayer commented on #966
Everything looks right. What do you mean by "user is not defined on the client" ?

[2020-09-02 18:30] SigurdMW commented on #994
Does it really need to be `Object.fromEntries` and not `Object.entries` / `Object.keys`? From the interface it seems like a straight object to me

[2020-09-02 18:34] flybayer commented on #997
Thanks for reporting this @sondh0127! A few others have reported similar things. Someone just needs to dig in and figure out what's going on.

[2020-09-02 18:37] flybayer commented on #994
@SigurdMW I think `.fromEntries` is converting the array from `.entries` back to an object. We could definitely refactor that code to not use `.fromEntries` and `.entries`. I simple for loop would work.

[2020-09-02 18:44] PixelsCommander commented on #966
getCurrentUser logs correct data to the server console, but the client request gets an empty response

<img width="539" alt="Screenshot 2020-09-02 at 20 47 46" src="https://user-images.githubusercontent.com/810671/92023462-19464b00-ed5d-11ea-9944-7b5e1d0d61f0.png">
<img width="539" alt="Screenshot 2020-09-02 at 20 47 39" src="https://user-images.githubusercontent.com/810671/92023476-1b100e80-ed5d-

[2020-09-02 18:54] PixelsCommander commented on #966
Oh, gosh, it works

[2020-09-02 18:57] PixelsCommander commented on #966
This was an aftermath of me fighting the cookies issue with Nginx. So "over configured" it here and there.

[2020-09-02 19:57] PixelsCommander commented on #966
Currently, I have this implemented as a prop passed to cookie-session but guys reject any related PRs and suggest we build a compatibility layer that is configured to send https in req if the proxy is secure https://github.com/expressjs/cookie-session/pull/144 . This supposed to be our equivalent of "trust proxy" in Express or app.proxy = true in Koa

Could you suggest on implementation?

Looks li

[2020-09-02 20:20] SigurdMW commented on #937
So after removing the null-loader i get this
![image](https://user-images.githubusercontent.com/6359003/92032456-77c5f600-ed6a-11ea-9eea-5d6ea575ce0d.png)
Any tip on where to go next?

[2020-09-02 20:39] flybayer commented on #937
I just had an idea. Add a webpack config thing for the client build, so it only loads the prisma type file, not the code.

- server: `import '@prisma/client'` resolves to `node_modules/@prisma/client/index.js`
- client: `import '@prisma/client'` resolves to `node_modules/@prisma/client/index.d.ts`

This _might_ can be accomplished by adding an alias via [webpack resolve](https://webpack.js.org/con

[2020-09-02 20:46] flybayer commented on #966
Ok cool! So what config did you have to change for cookie-session to make it work?

[2020-09-02 21:15] PixelsCommander commented on #966
It is a bit complicated.

In short - there is no option in cookie-session for that. The only way we can do it now is to change req.protocol passed to cookie-session to 'https' based on some configuration. This is how it is done in Express and Koa.

[2020-09-02 21:22] flybayer commented on #966
I'm trying to understand the core thing that makes it work with the proxy or not. Is it a matter of `secure` cookies or not?

[2020-09-02 21:23] flybayer commented on #966
I found this code [in a Next.js example](https://github.com/vercel/next.js/blob/279ae19c7e4cb75bd79873b0036332222781b792/examples/amp-first/pages/index.js#L242). Perhaps we can expose a config item on the password adapter that if it's true, we would set `req.protocol` based on the result of this code.

[code]

[2020-09-03 00:02] ryardley commented on #942
I agree let’s add these to be ignored but this should be configurable from blitz.config

[2020-09-03 00:37] clgeoio commented on #983
happy to pick this up

[2020-09-03 05:04] nitaking commented on #573
Even if the args are unsupported, you can run run runPrisma once and then run
Is it okay to go in the direction of showing "Uh oh, Blitz does not support that command." in case of an error?
(The rest of the logic remains the same.)

[2020-09-03 06:35] SigurdMW commented on #994
Yeah but should it be needed though? Do we handle polyfills in Blitz, or is this handled by next js?

[2020-09-03 07:06] PixelsCommander commented on #966
Sounds good.

Should this be a global Blitz configuration or option passed to `passportAuth`?

What is the best place to modify `req.protocol`? `passportAuth`?

[2020-09-03 13:03] SigurdMW commented on #937
Ok so I have tried what you said. Added a resolve to the wepack config, and tried both with and without the `null-loader` for `@prisma/client` in file `packages/server/src/with-blitz.ts`:
![image](https://user-images.githubusercontent.com/6359003/92114603-6673fc80-edf1-11ea-868f-f378fe8a67e8.png)

getting this in the console.
![image](https://user-images.githubusercontent.com/6359003/92114876-d8e4

[2020-09-03 13:55] flybayer commented on #942
@ryardley ok cool. Having a way to add files to the ignore list would be good. I also think we should have the most common ignored by default.

Unless I'm missing something, my suggestion would not affect `pages/test/stuff.tsx`. Here's what I think it would ignore:

- `<project-root>/test`
- `<project-root>/tests`
- `<project-root>/spec`
- `<project-root>/specs`
- `*.test.*` anywhere in the projec

[2020-09-03 13:58] #983 closed

[2020-09-03 13:58] yhoiseth opened #1000 "Not obvious how to use Postgres for a new app"
### What do you want and why?

It is not obvious to me how to use Postgres when creating a new app. I want it to be easy.

### Possible implementation(s)

I don’t think I should suggest any solutions before I have properly described the problem.

### Additional context

Below is what I did and how I was confused. Consider it a usability test:

I start a new project with `blitz new test`.

I update

[2020-09-03 14:03] dillonraphael opened #1001 "[RFC] Single route file"
### What do you want and why?

I've been working on a new project with Blitz, and coming to realize how complicated things can get with nested routes.

Imagine you need a route like `/store/4489/products/38490/edit`, you would have to nest 4 levels inside a directory. Of course it's manageable, but hurts my head.

### Possible implementation(s)

We can have either a single `router.js` file in the

[2020-09-03 14:05] flybayer commented on #988
Oh, very interesting!

Here's the two url formats we use. We make these two calls for each dependency.

- https://registry.npmjs.org/blitz
- https://registry.npmjs.org/-/package/blitz/dist-tags

So one thing you could do is try calling each of those with curl in your terminal to see if you can reproduce the issue that way:

[code]

[2020-09-03 14:06] #1001 closed

[2020-09-03 15:01] flybayer commented on #1000
Sorry about that @yhoiseth! The initial untracked migration files is a bug (#968).

I did some investigation here, and the reason it created a new a migration file is because you changed the `provider` from `["sqlite", "postgres"]` to `"postgres"`. If you leave the provider as is and only change the DATABASE_URL, then it won't create a new migration. This is definitely confusing, and I've reported

[2020-09-03 15:05] flybayer commented on #994
We currently do add any polyfills to Blitz, so it would be nice to keep it that way (and rely on whatever Next does)

[2020-09-03 15:08] flybayer commented on #966
Yeah an option to `passportAuth`. You can create a middleware that modifies `req.protocol` and conditionally [add it here](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/passport-adapter.ts#L38) if the config option is set.

[2020-09-03 15:10] flybayer commented on #997
Oh very interesting. Thanks for figuring that out!

@ryardley can you take a look at this? 👆

[2020-09-03 15:39] sw-yx opened #1003 "EACCES: permission denied even with sudo npm install"
### What is the problem?

i am failing to install blitz even with `sudo` enabled.

[code]

### Steps to Reproduce

1. `npm i -g blitz`

### Versions

current

### Other

![image](https://user-images.githubusercontent.com/6764957/92136392-8e3d8180-ee3e-11ea-8b90-6bd7879f4d53.png)
![image](https://user-images.githubusercontent.com/6764957/92136405-92699f00-ee3e-11ea-91d4-3e3ea51574ac.png)

[2020-09-03 15:42] flybayer commented on #1003
Whoa, haven't seen that!

Does this work? `npx blitz new myapp`

[2020-09-03 15:43] flybayer commented on #1003
You can also try `yarn global add blitz` 🤷

[2020-09-03 15:44] sw-yx commented on #1003
i havent either. `sudo` has always worked for me, which is why its very odd to find it here. but cool i'll try npx

[2020-09-03 15:47] nitaking commented on #573
Supported arguments: Execute (as existing)
Not supported arguments : Execute runPrisma for now
　-> "not support" if an error occurs.

This is what I wanted to convey…😇
(I must learn more English!)

[2020-09-03 15:49] sw-yx commented on #1003
ok that worked. i'll close for now since i seem to be the only one with this problem but i think the underlying problem isnt solved yet

[2020-09-03 15:55] flybayer commented on #573
Ok yes I think that'll be fine. I can review for sure once you open a PR. By the way, you can open a PR now with what you have and click the button that marks it as "draft". If it's marked as draft, then we know it's not finished. After you finish, then mark as "ready for review".

Here's the [github docs for that](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about

[2020-09-03 15:56] nitaking commented on #573
Thank you for being so gracious!

[2020-09-03 16:31] flybayer opened #1004 "Error: @prisma/client did not initialize yet"
### What is the problem?

If you delete node_modules, Prisma client isn't initialized when you run `blitz start`

### Workaround

1. Run `blitz db migrate`
2. Then run `blitz start`

### Steps to Reproduce

Inside a blitz app:
1. `rm -r node_modules`
2. `blitz start`
3. Try to load the page. -> `Internal Server Error`.

And then you get this in the console:

[code]

### Versions

[code]

### Other

[2020-09-04 02:07] CalamityAdam commented on #988
Both calls were successful!
[code]
and the other spit out a **lot** of version information.
so this is good, but still leaves me confused 😛

[2020-09-04 02:32] netheril96 opened #1005 "Prisma query engine hash mismatch"
### What is the problem?
When running `blitz new`, it shows error

```UnhandledPromiseRejectionWarning: Error: sha256 of https://binaries.prisma.sh/all_commits/650b5d0348ec38ae61e1e7db69bb54808418ede4/debian-openssl-1.1.x/query-engine.gz (zipped) should be 3be50ce57ddc551595e45cb0aa3204f26567c3ae7fc729b05073265dbb60aa6a but is 4a54930dac67a16e42a037cf1ff9b238a8acecbc557b5924c7af5e23389be4ec```

I

[2020-09-04 05:58] yhoiseth commented on #1000
@flybayer Thanks for clearing that up. I think it would be useful to have this information in the documentation. Should I give it a go?

[2020-09-04 07:19] belgattitude commented on #994
NextJs issue I think, https://github.com/vercel/next.js/issues/16715

[2020-09-04 10:08] LoriKarikari commented on #1005
Thanks for reporting this issue @netheril96.

[2020-09-04 12:40] ia15076 commented on #861
I had the same problem, but somehow I solved it by making the following changes to `package.json`. For your reference.
[code]

[2020-09-04 15:04] lukebennett commented on #1000
I don't know if this is the right place to flag this, but FYI the switch to defaulting `provider` to `["sqlite", "postgres"]` throws up issues when using enums in Prisma, you get a warning that the current provider doesn't support that data type (they are supported in postgres but not sqlite).

Appreciate this probably isn't a Blitz issue, most likely an editor one, or maybe a Prisma one, but give

[2020-09-04 16:08] lukebennett commented on #1000
Further to the above, some load balancer config was causing my database connections to close so the problem was mostly self-inflicted and I won't open an issue for it... perhaps one to keep in mind in case there are any other reports of similar experiences though, might still be some improvements to the new app experience warranted.

[2020-09-04 20:38] dillonraphael opened #1009 "Serializing dates on getServerSideProps"
### What is the problem?
Using `ssrQuery` to run queries on `getServerSideProps`, but when passing the data back to props I get:

[code]

### Steps to Reproduce

Use any page with a query:

[code]

## Other

Of course I can destructure the object, but that can get tedious with a lot of keys & values.

[2020-09-04 23:26] dillonraphael commented on #1009
I can also do `JSON.stringify()` and `JSON.parse()`, but this makes it difficult when using typescript. Also, this seems to be apart of Next.js. According to them, they don't serialize in `getServerSideProps` as `Date` would cause hydration issues.

[2020-09-04 23:40] #1009 closed

[2020-09-05 11:09] jan-wilhelm commented on #280
Is there any update on this? I still find integration testing quite hard with Blitz. Any RFC / issues / PR somebody could point me to to leave my thoughts on?

[2020-09-05 12:42] jose-donato commented on #833
Just to give a little update, i tried again in the same machine and it worked. I don't know if i was being noob in the first time or it was really an error.

Anyway thanks for the help!

[2020-09-05 16:03] Skn0tt opened #1013 "Importing from a file in pages/ or api/ fails because it can't resolve it"
### What is the problem?

From a mutation, I want to import an API route (that's required to make quirrel.dev's API work).
Since Blitz.js moves `/api` into `/pages`, though, this doesn't work.

There are two solutions that come to my mind:

- rewrite all imports from `app/api/...` to `pages/api/...`
- create a file in `app/api/...` that contains `module.exports = require("pages/api/...")`

### Ste

[2020-09-05 18:17] aem commented on #1013
That seems like the ideal solution if we want to support this, but I think there's also a valid case for suggesting that you shouldn't be importing from `/api`, you should be pulling the logic there into a utility function that can be imported both in the `/api` directory and in your app code. Any thoughts there?

[2020-09-05 18:17] aem commented on #833
Glad to know it's working now, even if we don't know why! 😆 I'm going to close for now but let us know if this reappears!

[2020-09-05 18:17] #833 closed

[2020-09-05 18:20] aem commented on #1000
I think this is intentional - if `sqlite` is listed as a provider, all of your model code needs to support `sqlite`, so even though `pg` is listed you can only use the features that overlap with `sqlite` because Prisma has no way of knowing at compile time which DB you're going to be using with the client.

[2020-09-05 20:02] yhoiseth commented on #1000
The ideal experience, I think, would be an option in `blitz new` to use Postgres as the database. The option could either be a flag (like the existing `--npm`) or an interactive option like the existing form library chooser.

The options could be

1. SQLite (the default); and
2. Postgres.

The choice determines which `DATABASE_URL` is set and which `datasource db -> provider` is set.

Other than t

[2020-09-06 11:30] svobik7 opened #1015 "Getting `Error: Invalid hook call` when using `yarn link blitz`"
### What is the problem?

When using my local copy of blitz package using `yarn link blitz` I am getting error of ` Invalid hook call` when I try to access `localhost:3000` (even when I am in upstream/canary branch)

### Steps to Reproduce

1. Fork the blitz repo
2. checkout your fork
3. run `yarn link-cli` in your local copy
4. create new blitz app with `blitz new MyApp`
5. `cd MyApp`
6. link loc

[2020-09-06 11:39] Skn0tt commented on #1013
While I‘m generally with you, I think I have a valid case here. I need this to make Quirrel‘s API work, which uses API routes in the following way:

[code]

That can the be imported in e.g. a mutation:

[code]

[2020-09-06 15:16] ryardley commented on #1013
I would argue that that is not really business logic and should probably be middleware

[2020-09-06 16:13] Skn0tt commented on #1013
Apart from my specific use-case, I‘m pretty sure people would be surprised about the behavior. „This works in Next.js, why doesn‘t it in Blitz?“

The way this breaks is non-obvious to most users.
If the file pipeline moves files around, it should also do smth about the imports, Right? 😅

[2020-09-06 22:47] ryardley commented on #1013
It’s breaking a desirable architectural boundary. It should actually just
error!

On Mon, 7 Sep 2020 at 02:13, Simon Knott <notifications@github.com> wrote:

--

________________________________________

*RUDI YARDLEY*
*Online Services & Software Engineering*

Email: contact@rudiyardley.com
Website: http://www.rudiyardley.com
Github: http://github.com/ryardley
LinkedIn: http://linkedin.com/in/rudi

[2020-09-06 23:12] aem commented on #1013
To be honest, I'm not sure Next.js should even support this. There's probably some pretty bad side-effects that could occur (e.g. security problems) by importing an entire API endpoint into application code, and vice versa. Something like this probably makes more sense:

[code]

[code]

[code]

[2020-09-07 11:31] madflow opened #1016 "Navigating to the `/login` route in a freshly bootstrapped application throws a warning with React Developer Tools in Firefox"
### What is the problem?

Navigating to the `/login` route in a freshly bootstrapped application throws a warning with React Developer Tools in Firefox.

It is just a "warning" - maybe intentional, dunno. Still wanted to let you know...

### Steps to Reproduce

1. blitz new blitz-app
   1. Choose `Formik` as the form library
1. cd blitz-app
1. blitz start
1. Navigate to /login.

### Versions

[cod

[2020-09-07 14:06] LoriKarikari commented on #1016
Thanks for reporting this issue @madflow.

[2020-09-07 17:36] Skn0tt commented on #1013
@timneutkens is this intentionally supported by Next.js?

[2020-09-07 21:33] flybayer opened #1017 "Make `blitz new` use the latest published template instead of what's installed globally"
### What do you want and why?

Currently `blitz new` will generate a new app with the template version of what's installed. So if global blitz version is `0.17.0`, then the new app template will be the template as of `0.17.0`, but the actual blitz version inside the new app will be the latest blitz version.

That results in a bad and confusing user experience.

### Possible implementation(s)

Inst

[2020-09-07 22:36] aem commented on #1017
I think what we really probably should do is prompt the user to globally upgrade Blitz if the version is out of date? If there were breaking changes in the generator/CLI packages between versions we could be trying to install a template that's incompatible with the globally installed CLI.

[2020-09-08 00:38] flybayer commented on #1009
@dillonraphael we have [a superjson babel plugin](https://github.com/blitz-js/babel-plugin-superjson-next) that will enable Dates to be passed through gSSP just like you want. There's currently a bug where it's not working in blitz apps. But as soon as that's fixed, we're going to add that to Blitz.

So somewhat soon, you'll be able to do this :)

[2020-09-08 00:44] flybayer commented on #988
Ok weird. So the next step is to make a new blank project, install [got](https://github.com/sindresorhus/got), make an `index.js` file that uses got to call the above urls and see if that works.

Something like this. This is how we call the urls in blitz code.

[code]

[2020-09-08 00:45] flybayer commented on #994
Thanks @belgattitude! Then we'll let Next.js fix that.

[2020-09-08 00:52] flybayer commented on #1005
Hey @netheril96! We rely on npm/yarn for this, so there's no checksum checking inside Blitz itself. Can you try this again now and see if it's resolved? It could have been some type of temporary upstream issue.

[2020-09-08 00:53] flybayer commented on #861
Thanks @ia15076. That definitely works. How I usually do that is change the build script to include db migration.
[code]

[2020-09-08 01:02] flybayer commented on #280
@jan-wilhelm the only thing we have so far is [this default test file](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/app/pages/index.test.tsx) we include in new apps by default that shows how to mock a shared hook.

[2020-09-08 01:12] flybayer commented on #1000
@yhoiseth yeah you can go ahead and open a PR to improve the docs on this!

We are going to remove the `provider = ["sqlite", "postgres"]` thing because it's causing too many problems.

Instead, I think we should add a prompt to `blitz new` that asks if you want sqlite or postgres (same as we do now for form library). What do you all think about this?

[2020-09-08 01:16] flybayer commented on #1017
@aem hmm yeah maybe so. If we do that, then we might as well change all our docs to use `npx blitz new myapp` so that npx takes care of always having the latest version.

Without doing that, we'd somehow have to download the latest template and install the latest generator package.

[2020-09-08 01:19] flybayer commented on #1016
Oooh yeah, that's a problem!

[2020-09-08 01:24] flybayer commented on #1016
For anyone who wants to work on this, you can follow the steps to reproduce. Then figure out what the problem is inside that app and fix it. Then port that fix to [our formik LabeledTextField template](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/_forms/formik/LabeledTextField.tsx) for new apps.

[2020-09-08 01:44] aem commented on #1017
could we add a pre-run step to prompt the user to upgrade if it's not the most current version? ask if they want to upgrade first, and if so do an `(npm i -g|yarn global add) blitz` first?

[2020-09-08 06:27] yhoiseth commented on #1000
Will do :)

Yeah, that sounds great :)

[2020-09-08 13:58] engelkes-finstreet commented on #937
As additional information. I just tried this in my own project with Prisma _2.6.1_.

`import { PlayerType } from "@prisma/client"` leads to the undefined behaviour as described by @flybayer.
`import { PlayerType } from "db"` leads to this error
_TypeError: _prisma_client__WEBPACK_IMPORTED_MODULE_0__.PrismaClient is not a constructor_

[2020-09-08 15:08] flybayer opened #1020 "Upgrade dependencies in new app template"
### What do you want and why?

Right now if you create a new blitz app and then run `yarn outdated`, you get the following:

[code]

So we need to bump the major versions defined in [the new app package.json template](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/package.json) and then test and make sure all those are working as expected.

[2020-09-08 21:30] flybayer opened #1022 "`blitz generate pages` should kebab-case all url paths."
### What do you want and why?

Currently if you generate pages with two words, like `blitz generate testResult`, the resulting urls will have `/testResults`, but I want it to be `/test-results`.

### Possible implementation(s)

[Here's the place](https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/generators/page-generator.ts#L57) where the pages file path is determined.

[2020-09-08 22:40] aem commented on #1022
I actually noticed this with the custom generators as well and meant to open this issue 😅 - I think my plan is to change this code to line up with the model generation logic - don't change any casing at all. I think we still want to enforce pluralization in certain places, but at least let people stick with camel/kebab if they'd like

[2020-09-08 23:39] anteprimorac commented on #861
This issue is happening because heroku adds `.heroku` and `.profile.d` folders.

Also, just to note, you can define a custom build script for heroku by adding `heroku-postbuild` script to `package.json`. For example:
[code]

[2020-09-09 01:16] #1016 closed

[2020-09-09 01:17] #1000 closed

[2020-09-09 01:20] flybayer commented on #1015
Hey @svobik7 unfortunately we don't have a solution for doing this yet. Currently you have to test this locally by running apps inside `examples/` folder inside the monorepo.

I think the solution will be to use https://github.com/whitecolor/yalc, but I haven't had time to try that. If you want to, try that and let us know where you get.

[2020-09-09 01:38] flybayer commented on #1022
Are you saying to not automatically kebab-case url paths?

[2020-09-09 01:46] flybayer commented on #1017
Yeah that actually sounds pretty good!

[2020-09-09 01:51] aem commented on #1022
That's my gut reaction, to just not be opinionated about it - I definitely know people who prefer camelcase URL paths

[2020-09-09 02:20] CalamityAdam commented on #988
Both calls work successfully.
Outputs are the same (albeit parsed).

Blank project, with an `index.js` and **got** version `11.6.1`

[code]

the first call spits out a loooooong list of what looks like versions, the second is the same as above in [a previous comment](https://github.com/blitz-js/blitz/issues/988#issuecomment-686857251)

[2020-09-09 04:49] hardfire commented on #1017
I like the ideas to
 1. change the docs to use `npx blitz` instead of `blitz`. I personally have switched to doing this instead of using `yarn` or the global `blitz`
 2. add a pre run step to upgrade (if they want to)

[2020-09-09 07:58] anteprimorac commented on #861
@flybayer can we publish a canary version so that I can test this out?

[2020-09-09 13:45] engelkes-finstreet commented on #1020
I would like to resolve this issue.

[2020-09-09 13:47] flybayer commented on #1020
@engelkes-finstreet it's all yours!

[2020-09-09 13:47] flybayer commented on #861
@anteprimorac yes, will do!

[2020-09-09 15:49] anteprimorac commented on #861
it seems like heroku also creates `.cache` and `.config` folders during the build

[2020-09-09 16:22] #861 closed

[2020-09-09 17:56] svobik7 opened #1031 "Add project scope formatter for `imports` statements"
### What do you want and why?

During my last PR I noticed that there were some tracked changes just because different `import ...` statements arrangement. In my experience this adds unnecessary changes to PR and makes it harder to review.

<img width="488" alt="Screenshot 2020-09-09 at 19 03 02" src="https://user-images.githubusercontent.com/761766/92629796-215b3900-f2cf-11ea-8e67-5f9bfb07f369.pn

[2020-09-09 20:42] flybayer opened #1032 "`blitz generate query` does not preserve plurality"
### What is the problem?

`blitz g query getPrices` generates `app/queries/getPrice.ts` instead of `app/queries/getPrices.ts`. And the name of the query inside the file is `getPrice` instead of `getPrices`

### Steps to Reproduce

1. `blitz g query getPrices`

### Versions

[code]

### Other

The issue is that [this line](https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/generat

[2020-09-09 20:55] cr101 commented on #1022
For SEO best practice use kebab-case url paths. Using a hyphen in your URLs is recommended by Google, because it makes your website easy to read for humans. As an end result, this means that your site will place better on search engines.

[2020-09-09 21:02] svobik7 commented on #940
Is this still relevant? I am ready to take a look.

[2020-09-09 21:11] anteprimorac commented on #940
@svobik7 yes, it is still relevant.

@flybayer does it make sense to apply the same logic to the build hash generation? With it, we could solve heroku issue in the user-land.

[2020-09-09 21:12] svobik7 commented on #446
I think it has been fixed by closing #864 (as it seems duplicie)

[2020-09-09 22:31] lukebennett commented on #1000
This makes sense, I suspected that might be the case. It’s good to see the dual provider default is going though as it will simplify things.

This sounds perfect to me 👍🏻

[2020-09-09 22:33] jxe opened #1035 "supertokens/publicDataStore causes an infinite loop between tabs"
### What is the problem?

This line in supertokens registers an event handler which watches for localStorage changes and then *makes a localStorage change* in response. This causes an infinite loop between two open tabs.

https://github.com/blitz-js/blitz/blob/8e9f2d097e80d3c68fed3bb2bd56ef7804d361e0/packages/core/src/supertokens.ts#L124

### Steps to Reproduce

1. Open two tabs with an app that u

[2020-09-10 01:46] flybayer commented on #1013
(Btw, this also affects importing things from inside any pages folder.)

I'm 100% with @Skn0tt on this one.

@ryardley and @aem your opinions on architecture are valid and good, but I firmly believe it's not Blitz's place to enforce architecture at this level. It's one thing to suggest and recommend a certain architecture, but it's a whole another level to enforce it.

I feel very strongly, that a

[2020-09-10 08:19] yhoiseth opened #1037 "Prompt to choose database engine on app creation"
Extracted from blitz-js/legacy-framework#764. Writing this up as a new issue because blitz-js/legacy-framework#764 was closed.

### What do you want and why?

A way to choose which database engine to use (Postgres or SQLite) on app creation.

### Possible implementation(s)

@flybayer wrote:

- [ ] For postgres we want to change the role to be an enum instead of a string.

### Additional context

@

[2020-09-10 10:57] engelkes-finstreet commented on #1032
I would like to look into this

[2020-09-10 11:01] engelkes-finstreet commented on #1017
What do you think about letting the user choose which version he wants to install? I guess for now you always want to have the latest version but maybe you want to use some older versions in the future.

[2020-09-10 15:05] flybayer commented on #462
Done

[2020-09-10 15:05] #462 closed

[2020-09-10 15:13] flybayer commented on #1032
@engelkes-finstreet ok, all yours!

[2020-09-10 15:16] flybayer commented on #1017
@engelkes-finstreet that's not a bad idea, but definitely adds a good bit of complexity. I think we can just go with latest. If they want a specific version, they can do `yarn global add `blitz@1.2.3`

[2020-09-10 15:17] flybayer commented on #1035
Oops, thank's for reporting this!

[2020-09-11 02:03] #573 closed

[2020-09-11 02:06] flybayer commented on #988
Wow, this is a weird one..

[2020-09-11 02:17] #1020 closed

[2020-09-11 02:20] flybayer commented on #940
@svobik7 all yours!

And yes @anteprimorac I had the exact same thought

[2020-09-11 02:26] flybayer commented on #937
So it turns out this was simply a misunderstanding of Typescript enums. Typescript enums are not available at runtime because they are a type only thing.

The enum type itself can be used in Blitz just fine. If you need the values at runtime, like to display in a select box or something, you need to define those values yourself via JS.

[2020-09-11 02:31] flybayer opened #1043 "Add `babel-plugin-superjson-next` to Blitz"
### What do you want and why?

I want Blitz apps to use [babel-plugin-superjson-next](https://github.com/blitz-js/babel-plugin-superjson-next) by default so that `getServerSideProps` and `getStaticProps` have superjson serialization.

### Possible implementation(s)

I'm not sure the best way to do this. Can we add it via [our custom webpack config](https://github.com/blitz-js/blitz/blob/canary/pac

[2020-09-11 02:39] flybayer opened #1044 "Change the new app schema provider to be just `sqlite` instead of an array"
### What do you want and why?

Change the new app schema provider to be just `sqlite` instead of an array because the array is causing problems and Prisma is going to remove that feature.

We need to make the following change [in our new app schema](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/db/schema.prisma#L5):

[code]

Along with this, we need to tweak the wo

[2020-09-11 06:09] sangdth opened #1046 "How to break .prisma file into smaller modules?"
### What do you want and why?
My data schema quite huge, it's easier to maintain if I can break them into smaller files.

### Additional context
I've done quite fast research in prisma github repo and seem like they don't implement it yet.

[2020-09-11 07:40] SigurdMW commented on #1046
Doesn't seem to be supported by Prisma 2 yep: https://github.com/prisma/prisma/issues/2377
Could/would blitz do some magic to support this @flybayer?

[2020-09-11 11:16] sangdth opened #1047 "Versions of react prior to 0.14.0 are vulnerable to Cross-Site Scripting (XSS)"
### What is the problem?
I got dependabot message:
[code]

### Steps to Reproduce

1. Init new project with blitz v.0.21.1
2. Push to gitbhub.
3. Wait for dependabot.

### Versions

[code]

Should I worry about it?

Auto update to 0.14 causes the blitz completely not working.

[2020-09-11 11:20] sangdth commented on #1047
This is what happened when I accept the dependabot update :D
[code]

[2020-09-11 13:29] flybayer commented on #1022
Looks like the consensus from slack is that people do what kebab case by default. If someone wants something else, they can use custom templates.

[2020-09-11 13:32] #1047 closed

[2020-09-11 13:34] flybayer commented on #1046
Let's hold off for now on doing anything about this in Blitz. Prisma is good at fixing & adding the most important features that people want, so probably they will add this.

[2020-09-11 13:34] #1046 closed

[2020-09-11 13:44] aem commented on #1022
Sounds good to me. I'll try and pick this up once I clean up + merge the
custom templates PR, if no one else has

[2020-09-11 14:19] PixelsCommander commented on #966
@flybayer https://github.com/blitz-js/blitz/pull/1033 this one to be merged to fix the issue

[2020-09-11 15:04] #966 closed

[2020-09-11 15:07] #942 closed

[2020-09-11 17:15] developer0116 opened #1049 "Error during blitz npm install"
I run `sudo npm i -g blitz`
but there is an error coming below:

AMP Optimizer ERROR Could not write cache file Error: EACCES: permission denied, mkdir '/usr/local/lib/node_modules/blitz/node_modules/@ampproject/toolbox-optimizer/.cache'

I'd like your advice.

Thanks

[2020-09-11 17:20] taylorcjohnson commented on #1044
Hey @flybayer - I'd be happy to work on this issue over the weekend if help is still needed!

[2020-09-11 17:45] flybayer commented on #1044
@taylorcjohnson sweet, it's all yours!

[2020-09-11 17:46] flybayer commented on #1049
Hey @developer0116, I think the issue is because you are using `sudo`. You shouldn't use `sudo` with npm install.

Can you try without `sudo`?

If that still doesn't work, then try `npx blitz new myApp` and see if that works.

[2020-09-11 18:02] developer0116 commented on #1049
npx blitz new myApp works...
Thank you!

[2020-09-11 18:43] flybayer commented on #1049
Great!

[2020-09-11 18:43] #1049 closed

[2020-09-11 22:52] flybayer commented on #997
@ryardley bump

[2020-09-11 23:43] flybayer commented on #815
[Here's an RFC](https://github.com/blitz-js/blitz/discussions/1052) for a solution to this!

[2020-09-12 09:01] SigurdMW opened #1053 "Unresponsive Links on error page"
### What is the problem?
When hitting an error, like unauthenticated, and try to add a `Link` on the error page - clicking the link does not make the page rerender.

### Steps to Reproduce

1. Create a new blitz app
2. Add a `<Link href="/"><a>Home</a></Link>` to the  `RootErrorFallback` in `_app.tsx` that is returned when there is an `AuthenticationError`
3. Go to a page that requires authenticat

[2020-09-12 16:57] flybayer commented on #1053
Thanks, good catch!

Here's the solution. I'm fixing this in the new app template.
[code]

[2020-09-12 17:54] #1053 closed

[2020-09-12 20:06] flybayer opened #1055 "Add automatic query cancelation for when queries become inactive (like off screen)"
### What do you want and why?

By default React-query let's requests finish if they become inactive. But it does allow you to configure query cancellation. This isn't a big deal, but it's an optimization we might as well make!

### Possible implementation(s)

Implement the [react-query cancellation](https://react-query.tanstack.com/docs/guides/query-cancellation) feature [at this line](https://git

[2020-09-13 02:22] flybayer opened #1056 "`blitz start` is significantly slower to start than `next dev`"
### What is the problem?

Next.js re-uses it's own build cache between `next dev` invocations so that subsequent runs of `next dev` start extremely fast.

But the problem is that we are deleting the entire `.blitz` cache folder, including the next.js cache. This means that `blitz start` is always slow to start.

### Steps to Reproduce

1. Run `blitz start` several times and notice the start time.

[2020-09-13 03:07] ryardley commented on #1056
Be happy jump on this

[2020-09-13 04:24] xiaoyu-tamu opened #1058 "[Bug] usePaginatedQuery wrong type"
### What is the problem?

Blitz wrapper: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-paginated-query.ts#L22

react-query: https://github.com/tannerlinsley/react-query/blob/master/src/react/usePaginatedQuery.ts#L22

The argument options type should be `QueryOptions<PromiseReturnType<T>>`;

### Steps to Reproduce

1. The image should Self-explaining
![image](https://user-imag

[2020-09-13 14:30] sirmyron opened #1062 "Error: unable to start blitz without `@prisma/cli` dependency"
### What is the problem?
If you don't have the `@prisma/cli` dependencies in your project, you are unable to run `blitz start`

### Steps to Reproduce

1. Remove `@prisma/cli` from package.json
2. `rm -r node_modules`
3. `blitz start`

and then you get this in the console:
[code]

### Versions
`0.21.1`

[2020-09-13 22:29] jose-donato opened #1065 "Types for prisma atomic operations on update"
### What do you want and why?

Current blitz.js version throws typescript errors with Prisma Atomic operations on update (increment, decrement, etc. - more info in [prisma docs](https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-client/crud#atomic-operations-on-update)).

![image](https://user-images.githubusercontent.com/43375532/93030106-758c5300-f618-11ea-8fc6-718661c51d21.png)

*

[2020-09-14 09:08] engelkes-finstreet commented on #1022
Are you already working on this @aem? Else I could take this over.

[2020-09-14 09:14] engelkes-finstreet commented on #1031
Prettier is already used in the project. I think adding a pre-commit hook is the only option since running prettier `on save` is only available if its configured inside your IDE / Editor as far as I know.

@flybayer Are we using anything for pre-commit hooks yet? I can take this over

[2020-09-14 09:57] engelkes-finstreet commented on #968
I would like to look into this

[2020-09-14 15:20] sdnyco commented on #988
I am experiencing the same issue. Uninstalling and re-installing blitz as described by by @CalamityAdam did not resolve the issue.

I am on Node v14.4.0, macOS Catalina (latest).

[2020-09-14 15:45] lligato commented on #988
Same problem here, solved using  `blitz new task-manager --npm`

[2020-09-14 17:21] flybayer commented on #279
The [Next.js RFC on i18n Routing](https://github.com/vercel/next.js/discussions/17078) has just been posted!

[2020-09-15 00:13] #1058 closed

[2020-09-15 00:21] flybayer commented on #1062
Oops, that shouldn't happen!

[2020-09-15 00:25] #666 closed

[2020-09-15 01:48] flybayer commented on #1065
Hey @jose-donato, this is a Prisma issue, and not specific to Blitz, but what's the output of `blitz -v`?

[2020-09-15 01:50] #1032 closed

[2020-09-15 01:50] flybayer commented on #1022
@engelkes-finstreet it's all yours!

[2020-09-15 01:51] flybayer commented on #1031
@engelkes-finstreet yeah we're already running prettier in the pre-commit hook

[2020-09-15 01:57] jose-donato commented on #1065
[code]

[2020-09-15 02:03] flybayer commented on #1065
Ok, have you added the feature flag like this?
[code]

[2020-09-15 02:05] jose-donato commented on #1065
yes

[code]

[2020-09-15 02:06] flybayer commented on #1065
Ok! :)

[2020-09-15 02:06] #1065 closed

[2020-09-15 12:46] CalamityAdam commented on #988
Interesting! I'll try this when I'm back on my home network (where the issue is occurring). I wonder if it stems from an issue with `yarn`?

[2020-09-15 14:33] hardfire commented on #1055
@flybayer let me take this.

[2020-09-15 14:40] flybayer commented on #1055
@hardfire All yours!

[2020-09-15 15:41] hardfire commented on #1055
okay, this isn't as straightforward as i initially thought it would be. some observations
 - [here](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-query.ts#L52) `queryRpcFn` should be the same as `queryFn` in browser context, but it isn't as [this](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/rpc.ts#L145) should be executed at some point.
 - since the promis

[2020-09-16 01:55] flybayer commented on #1055
[rpcFn](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/rpc.ts#L152) is what is passed into our `useQuery`. Feel free to add more comments in there! And refactor anything that needs it.

I think what we can do is instantiate the abort controller at [this line](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-query.ts?rgh-link-date=2020-09-12T20%3A06%3A29Z#L52) an

[2020-09-16 02:23] taylorcjohnson commented on #1044
Two quick questions @flybayer

1. I should also change the wording in `.env.test.local` to match that of `.env.local`, correct?
2. The docs for blitzjs are housed in a separate repository - should I open a separate issue there to modify the "Database Overview" page and its "Switch to PostgreSQL" section?

[2020-09-16 04:08] hardfire commented on #1055
o yeah! i had something similar as well.
What confused me is that there is a complie step between the useQuery we write and the useQuery we use :D

[2020-09-16 13:23] #1044 closed

[2020-09-16 13:24] flybayer commented on #1055
Yeah, it's a bit tricky to understand!

[2020-09-16 14:24] pbteja1998 opened #1094 "ALPHA software warning is being added to .zshrc when setting up autocomplete"
### What is the problem?
When trying to add `blitz autocomplete` with the given instructions, the following is also being appended to `.zshrc` since `blitz` command shows this every time.

[code]

### Steps to Reproduce

1. Run `printf "$(blitz autocomplete:script zsh)" >> ~/.zshrc; source ~/.zshrc` in terminal.

### Versions

[code]

### Other

Please include applicable logs and screenshots that

[2020-09-16 15:07] flybayer commented on #1094
Oops, thanks for reporting this! This is now marked available for anyone to work on.

[2020-09-16 15:16] pbteja1998 commented on #1094
Hey @flybayer I would like to work on this. Can you please assign it to me?

[2020-09-17 01:04] flybayer opened #1096 "Add ability to run `blitz db reset --force` to skip the prompt"
### What do you want and why?

Currently `blitz db reset` requires user input, but I want to use the command in a test and CI where user can't answer.

So I want ability to pass `--force` to skip all user prompts

### Possible implementation(s)

Add option to [this file](https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/db.ts)

[2020-09-17 01:11] flybayer opened #1097 "Add `test` directory to build hash ignore list"
### What is the problem?

Currently changing a file like `test/e2e/signup.test.ts` invalidates the blitz build cache, requiring a whole new rebuild from scratch. We already ignore the `cypress` folder so we should also ignore `test`

### Other

Here's where this needs added: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/build-hash.ts#L9

[2020-09-17 01:45] flybayer opened #1098 "`blitz console` is slow to load - switch to esbuild loader"
### What is the problem?

Starting `blitz console` has a long hangup time after "Loading your Code" is finished and before you can start typing.

It gets much worse as you add more queries and mutations.

### Steps to Reproduce

1. `blitz new myapp`
2. `cd myapp`
3. `blitz g resource project`
3. `blitz g resource task`
3. `blitz g resource comment`
3. `blitz db migrate`
3. `blitz console`
3. Try t

[2020-09-17 01:58] flybayer opened #1099 "Ctrl+D doesn't work in `blitz console` after awaiting a promise"
### What is the problem?

Pressing Ctrl+D once time in a node REPL should exit. And it does in `blitz console` until you await a promise, then it stops working

### Steps to Reproduce

1. `blitz console`
1. `await db.user.findMany()`
1.  Press Ctrl+D -> see it doesn't exit.

### Versions

[code]

### Idea to fix:

I think the solution probably is to listen for the `exit` event from the repl and ca

[2020-09-17 02:37] CalamityAdam commented on #988
No luck using `blitz new app-name --npm`, results are the same: hangs on `Retrieving freshest of dependencies`

[2020-09-17 02:41] pbteja1998 commented on #1096
@flybayer I want to work on this issue. Can you please assign it to me.

[2020-09-17 06:28] pbteja1998 opened #1100 "Opting in to the upcoming breaking changes in tailwind"
### What do you want and why?

I want the `tailwind.config.js` from [tailwind recipe](https://github.com/blitz-js/blitz/blob/canary/recipes/tailwind) to include the following since these will be breaking changes in the upcoming version and tailwind recommends to opt in to these changes.
[code]

### Possible implementation(s)

How might we do this?
Add the following to [tailwind.config.js](https://

[2020-09-17 06:32] pbteja1998 commented on #1100
Also, it would be good to have an option to include tailwind UI too.

[2020-09-17 13:02] svobik7 commented on #940
@anteprimorac I am not able to reproduce this issue in current canary neither master. Seems like re-compiling is invoked on file change only when files from `/dir/` are used somewhere in the app and only if `/dir/` is not in the `.gitignore`. Otherwise I see no re-compiling at all.

Tested in `examples/auth` and custom `blitz new test-app`.

[code]

[2020-09-17 16:24] flybayer opened #1103 "`blitz new` spews out all the database migration logs but it should not"
### What is the problem?

`blitz new` spews out all the database migration logs but it should not

### Steps to Reproduce

1. `blitz new myapp`
2. See all the db logs

### Versions

[code]

### Other

You can see that we already have `silent` flags the [db command file](https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/db.ts), but somehow that logic is broken when running mig

[2020-09-17 16:32] ivandevp commented on #1096
Go ahead @pbteja1998 ! 👍

[2020-09-18 14:03] flybayer commented on #988
That makes sense, because that step is the same for both npm/yarn.

@CalamityAdam are you interested/able to try fixing this since you can reliably reproduce? I'm happy to have a call and walk through it or even do a bit of pairing if you need.

[2020-09-18 14:04] flybayer commented on #1100
Yes, great suggestion! Thanks.

[2020-09-18 14:09] flybayer commented on #940
@svobik7 thanks for investigating.

@anteprimorac can you try again with the latest blitz release?

[2020-09-18 14:21] #1022 closed

[2020-09-18 15:23] #1097 closed

[2020-09-18 15:29] ntgussoni commented on #1005
This seems to be an issue with npm and @prisma/cli install.
I could reproduce it with npm, installing it with yarn made it work `yarn add @prisma/cli --dev`

[2020-09-18 15:52] doeixd opened #1110 "Running Blitz generate with a default value fails"
### What is the problem?
I tried to run

`blitz g all post content:string likes:int:default[0]`

and I get the error:

`no matches found: likes:int:default[0]`

That error appears regardless of what I put in the brackets, or what type the field is.

### Steps to Reproduce

1. install blitz
2. create new project
3. `blitz g all post content:string likes:int:default[0]`

### Versions

[code]

[2020-09-18 20:15] enricoschaaf commented on #1100
I would like to work on this, if its okey.😊 I would have set it like this:
[code]
That way all future changes that are added are included automatically.
Should we add a flag for Tailwind UI or should that be its own recipe that requires Tailwind? Also Tailwind UI recommends using the Inter font, so I am wondering if it should be included as well. If yes than that adds a lot more complexity because

[2020-09-18 20:34] flybayer commented on #1100
@enricoschaaf good idea to use "all"! Let's just make this change for this issue, and we can consider the Inter font as a separate issue.

It's all yours!

[2020-09-18 22:09] flybayer commented on #1005
Ok thanks @ntgussoni. Will go ahead and close this.

[2020-09-18 22:09] #1005 closed

[2020-09-18 22:11] #955 closed

[2020-09-18 22:12] flybayer commented on #1110
Hey, yeah that's a known issue 👉 https://github.com/blitz-js/blitz/issues/724

Will close this as a duplicate of that one.

[2020-09-18 22:12] #1110 closed

[2020-09-19 04:19] ryardley commented on #997
Struggling to reproduce this on macOS. Suspecting this might be OS dependent. Can anyone who has experienced this bug provide their os?

[2020-09-19 09:51] nitaking commented on #1103
I'm going to see what's going on here!

By the way, do you remember it working properly in a particular version? I'd love to know if there's a version of that!

[2020-09-19 10:22] nitaking commented on #1103
I'm so sorry. This was a problem I caused. I fixed it!
I'm glad I could clean up the mess.

[2020-09-19 10:23] nitaking commented on #1103
After:

[code]

[2020-09-19 10:23] pbteja1998 commented on #763
This bug still exists.

[2020-09-19 11:29] nitaking commented on #763
@lauridskern

You try it.

👇install
[code]

👇edit `babel.config.js`

[code]

I work sample repo: https://github.com/nitaking/sample-blitz-svg-setting and commit: https://github.com/nitaking/sample-blitz-svg-setting/commit/58649f378bbce466fa43e29418c1a03260bfbb92

---
As you can see here, it looks like an Issue that exists in Nextjs.
https://github.com/vercel/next.js/issues/14892

[2020-09-19 11:47] LoriKarikari commented on #763
Thanks for the solution @nitaking!

[2020-09-19 11:47] #763 closed

[2020-09-19 14:15] hardfire commented on #997
Couldn't reproduce this on Ubuntu as well. Thought, I can recall bumping into this issue in the past but it was always intermittent.

I changed the `app/projects/pages/projects/index.tsx` file.

Here's my `blitz --version` (P.S. also tested this on a project on 0.21.1 (local) )

[code]

[2020-09-19 14:31] enricoschaaf commented on #1094
I would like to work on this, but I am not quite sure how to tacle this. I found the source of the warning here https://github.com/blitz-js/blitz/blob/68162b406c4d0ee97a94a9019e593720455c423c/packages/blitz/src/bin/cli.ts, but I am not sure how to disable it only for the autocomplete command.
We could monkeypatch it like this for example since blitz will not be in alpha forever, but it doesnt real

[2020-09-19 14:32] CalamityAdam commented on #988
@flybayer I would be more than happy to help with this! we can connect on slack

[2020-09-19 14:44] #1096 closed

[2020-09-19 14:46] enricoschaaf commented on #1094
Maybe something in this direction, just more pollished?
https://github.com/blitz-js/blitz/blob/68162b406c4d0ee97a94a9019e593720455c423c/packages/blitz/src/bin/cli.ts
[code]

[2020-09-19 14:47] #1055 closed

[2020-09-19 14:49] #169 closed

[2020-09-19 14:54] #1103 closed

[2020-09-19 14:56] flybayer commented on #1094
@enricoschaaf yes basically like that! However we are already using [minimist](https://github.com/substack/minimist) further down in the file to parse argv. So you can move that minimist call to the top of the file and then use that for this check instead of `process.argv`

[2020-09-19 15:07] cardotrejos commented on #989
I want to take this one. I haven't use got, but I think I understand the solution.

[2020-09-19 15:12] enricoschaaf commented on #1094
Nice, pull request is on its way, just wondering if you would do it like this or use find, not that familiar with command line tools and wondering if there are any edge cases. Are there any tests I need to modify?

[code]

[2020-09-19 15:42] flybayer commented on #997
@sondh0127 can you provide any more details on how to reproduce this?

[2020-09-19 15:43] flybayer commented on #1094
@enricoschaaf yes I think that should work like that. Don't need to use `.find`

[2020-09-19 15:56] nikitavoloboev opened #1120 "Add `-h` help for blitz CLI subcommands"
### What do you want and why?

I'd love to get help for `blitz` cli subcommands. i.e. run `blitz db --help` and see help output for the `db` subcommand.

### Possible implementation(s)

I personally love https://github.com/cli/cli as it has the nicest help output of any CLI command. Works for subcommands too. Example:

[code]

[2020-09-19 17:06] enricoschaaf commented on #1062
I would like to work on this but I dont know that the expected output should be. It seems like blitz start calls blitz db.runPrismaGeneration under the hood:
[code]
The function need the @prisma/cli, in my mind we would have to provide a way to not run the db command on prisma start. Does this make sense?

[2020-09-19 23:25] flybayer commented on #1120
For whoever works on this, here's the db command file: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/db.ts

[2020-09-19 23:30] flybayer commented on #1062
So I just removed that runPrismaGeneration stuff in https://github.com/blitz-js/blitz/pull/1121. Probably that fixes this issue!

Need to test for sure though

[2020-09-19 23:34] enricoschaaf commented on #1062
Just read the PR and seems like good stuff, from my understanding it should also fix this issue.

[2020-09-20 00:50] flybayer opened #1125 "Add lint rule to prevent Object.fromEntries() in client code."
### What do you want and why?

https://github.com/blitz-js/blitz/pull/1124 adds some lint rules to keep us from breaking ES5 compatibility in the `core` package.

However, there's still one big missing lint rule which is to prevent `Object.fromEntries`.

### Possible implementation(s)

[This lint rule](https://eslint-plugin-es.mysticatea.dev/rules/no-object-fromentries.html) should do exactly this

[2020-09-20 00:54] flybayer opened #1126 "Change `@blitzjs/core` to only export public APIs"
### What do you want and why?

Currently [we export _everything_ from our internal files](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/index.ts#L4-L17), including things that are not supposed to be part of our public API.

We need to change that and explicitly export only what is for public consumption.

If you work on this, feel free to ask me as many questions in slack as you

[2020-09-20 02:27] #1100 closed

[2020-09-20 04:39] Alucard17 commented on #1126
Hey @flybayer can I take this ?

[2020-09-20 06:28] hardfire commented on #1125
got this to work! apparently the default npm package doesnt have this. So had to use from github (maybe we should pin it to a specific commit). Sending a Pull Request.
![image](https://user-images.githubusercontent.com/513457/93705080-004de000-fb3a-11ea-91e8-27e43142f025.png)

[2020-09-20 09:24] nyn0x commented on #997
Same for me on windows
If I edit a component page I got : `Error: The default export is not a React Component in page: "/<projects>"`
If I edit a component use in a page I got: `Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. You likely forgot to export your component from the file it's defined in, or you m

[2020-09-20 09:29] viranchil commented on #289
The above Dockerfile did not work cross platform (armv7) so I used a [crossplatform source](https://hub.docker.com/_/node/?tab=tags&page=1&name=14.11.0-alpine3.11)

Here is [my Docker recipie](https://gist.github.com/Viranchee/eb57b2c4c78370059693d7f6fcb22eef)

I used the `node` user provided
There is a `docker-compose.yml` file as well

My build process fails at `yarn install` or `npm install` th

[2020-09-20 11:02] LoriKarikari commented on #289
It's indeed always better to use the official Docker images. Those fs-events errors pop up on Linux but you can ignore those.
I still have to complete this recipe but I've been very busy with a project. I started working on it but it's not quite ready yet. https://github.com/LoriKarikari/sample-blitz-docker-setup. I have to pick this up ASAP sorry for the wait.

[2020-09-20 12:21] sondh0127 commented on #997
I think `Steps to Reproduce` is enough to produce the error. But I can confirm that this might depend on the machine specification. And I can't reproduce this on my friend computer 💻

[2020-09-20 13:54] flybayer commented on #1126
Yes!

[2020-09-20 15:09] Alucard17 commented on #1126
Hey @flybayer can you give details of public API which should be exported

[2020-09-20 15:20] yhoiseth commented on #1037
I don’t think I’ll get around to fixing this any time soon. So I removed myself as an assignee.

[2020-09-20 16:27] eunjae-lee opened #1130 "ctrl+c on blitz db migrate won't stop the process"
### What is the problem?

When `blitz db migrate` asks for its name, I hit `ctrl+c` but it just created a migration with the migration name of an empty string.

### Steps to Reproduce

1. Run `blitz db migrate`
2. Hit `ctrl+c`
3. You will see it won't stop, and just create files like `20200920162322/schema.prisma`.

### Versions

[code]

### Other

<img width="719" alt="image" src="https://user-im

[2020-09-20 16:56] nitaking commented on #1130
I thought this was a problem too!  I agree
it!

[2020-09-20 17:08] nitaking commented on #1130
I feel that it can be handled by handling keyboard events!

[2020-09-20 17:15] Alucard17 commented on #1126
Hey  @flybayer I have listed down all the core API which are exported currently. let me know what are public and internal APIs.
| FileName               | Name                             | IsPublic |
|------------------------|----------------------------------|----------|
| use-query.ts           | emptyQueryFn                     |          |
| use-query.ts           | retryFunction

[2020-09-20 17:28] cktang88 commented on #1130
From a quick glance through https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/db.ts#L62 it seems that the actual prompt for name is handled by Prisma, so I couldn't think of a way to actually do this at the Blitz.js CLI level?

[2020-09-20 17:50] cktang88 opened #1131 "Layout missing in new app?"
### What is the problem?

New app fails to compile after generating the initial `project` migration as stated in the initial app page.

### Steps to Reproduce

[code]
Then followed the instructions on the initial app page:
[code]

### Versions

![image](https://user-images.githubusercontent.com/10319942/93718124-a3552880-fb3f-11ea-911b-6e48da0da5db.png)

### Other

Please include applicable logs a

[2020-09-20 19:37] olivralex commented on #1131
Hi @cktang88 👋,I'm imagine you're working with default Prisma 2 integration, did you actually execute` blitz db migrate` just after generate the project Model?

[2020-09-20 19:43] cktang88 commented on #1131
Yep, I did execute `blitz db migrate` after generating that model.

I think the issue was I had used the global version of blitz (outdated `0.16.4`) and it was conflicting with the newer local version of blitzjs. Tried again with `npx blitz new .` and the issue seems to be gone!

[2020-09-20 19:43] #1131 closed

[2020-09-20 23:56] xiaoyu-tamu opened #1133 "Is it possible to support named export for API in the future?"
### What do you want and why?

Clean up imports

## Current
[code]

## Expected
[code]

### Possible implementation(s)

-

### Additional context

-

[2020-09-21 00:52] ryardley commented on #997
It could have something to do with the way that vinyl-fs writes streams to disk. Not sure if writing to an alternate location and then doing a mv would help.

[2020-09-21 13:24] flybayer commented on #1037
Cool no problem! That's perfect @yhoiseth

[2020-09-21 17:53] LoriKarikari commented on #1133
Hi @xiaoyu-tamu if you change `export default` to `export` in your queries and mutations, this should work.

[2020-09-21 18:09] LoriKarikari commented on #1133
Hi, @xiaoyu-tamu thanks for the request. I deleted the previous comment because the info I provided was wrong. Sorry about that.

[2020-09-21 23:34] #1125 closed

[2020-09-21 23:35] #1094 closed

[2020-09-21 23:42] flybayer commented on #1126
@Alucard17 great thanks! I updated your comment to mark which ones should be public. **All the types should be public**. If it helps, types could be moved to type files so you can `export * from typefile`.

[2020-09-21 23:45] flybayer commented on #1130
I think we can solve it without prompting for a name ourselves. Probably what we need to do is pass through the `sigint` signal to the spawned prisma cli.

[2020-09-22 00:58] #989 closed

[2020-09-22 01:02] flybayer commented on #1133
I'm sure we can figure out a way to make this work, but it could be complicated.

Anyone is welcome to dig in and try to figure it out.

@ryardley I'm also curious your thoughts on this.

[2020-09-22 10:39] gabrielcolson opened #1138 "Nexus Framework integration/recipe"
### What do you want and why?

I want to be able to use the nexus framework inside a blitz app, which could be ideally set up by a recipe.

### Possible implementation(s)

I kind of made it work in [this repo](https://github.com/gabrielcolson/blitz-nexus) following their guide on [how to make Nexus work with Nextjs](https://nexusjs.org/guides/recipes#use-with-nextjs).

Here are the problems I note

[2020-09-22 20:12] flybayer commented on #756
Here's some noodling from today on ways to integrate authorization at the prisma level.

Have some builder pattern to build up authn rules. The second argument is a prisma `Where` statement or a function that takes context object and returns a `Where` statement.

[code]

And then use that like this. It will automatically throw AuthenticationError or AuthorizationError based on who the current user

[2020-09-22 22:01] Zeko369 commented on #756
@flybayer Really love the idea but have a different API idea, something closer to prisma itself. Also I think we should see if Prisma Team has any ideas about this @janpio @nikolasburk

[code]

[2020-09-23 07:39] ryardley commented on #1133
This could be a neat idea but we would have to generate indexes in the sourcecode and would want to check it doesn't make certain automatic IDE refactorings break: ie. moving a mutation to another context. I have a feeling that might make it not really work very well. It could be easier to compile and inject the mutation/query via a client with typescript types in a similar way to the way prisma d

[2020-09-23 12:18] drmas commented on #1099
This looks like a good start for me to contribute to this amazing project.
@flybayer can you assign this to me

[2020-09-23 13:04] nitaking commented on #1130
I'll try.

[2020-09-23 14:41] nitaking commented on #1130
I'm not sure if I can handle keyboard events while p-events are processing.
If p-event returns exit 1 with ctrl-c, it will work, but...

[2020-09-23 15:26] nitaking commented on #1130
I can't determine if it's a ctrl-c exit or not, and the process goes on.

I've placed keypress etc. as the event handler for ctrl-c, but it doesn't work. Hmm, it may be quite troublesome.

Do you know of any libraries other than `p-event` that do this? I want to try it.

[2020-09-23 16:25] nitaking commented on #1130
try it:

[code]

![2020-09-24 01 23 58](https://user-images.githubusercontent.com/10850034/94041090-bfd5b700-fe04-11ea-89b0-6175720bc1bd.gif)

[2020-09-23 18:17] flybayer opened #1143 "`blitz new` should not try to run prettier if package installation failed."
### What is the problem?

If during `blitz new` package installation fails, we are still trying to run prettier which is guaranteed to fail since it's not installed.

### Steps to Reproduce

1. No way to reproduce without temporarily modifying the blitz source code to throw an error inside

[code]

### Versions

[code]

### How To Fix

We need to set a flag [inside our install error handler](https

[2020-09-23 19:33] lazarnikolov94 opened #1145 "Issues when debugging in VSCode"
### What is the problem?
VSCode's nodejs debugger is not working as it should. It runs the process successfully, but no breakpoints are being hit. I'm successfully debugging the front-end using the chrome launch configuration, but I can't debug the server-side code, the mutations for example.
### Steps to Reproduce

1. Create an empty new Blitz project: `blitz new appName` and open in VSCode
2. Cr

[2020-09-24 00:30] ryardley commented on #1145
Thanks for reporting this. You might have to add the breakpoint to the development cache `.blitz/caches/dev` as a work around. Perhaps we need to add source maps to the compilation process which might allow for this to work.

[2020-09-24 01:35] #1056 closed

[2020-09-24 01:35] #56 closed

[2020-09-24 01:35] #226 closed

[2020-09-24 01:42] #531 closed

[2020-09-24 01:48] flybayer commented on #1138
Thanks @gabrielcolson!

This is available to work on for anyone who wants to.

[2020-09-24 01:57] #1099 closed

[2020-09-24 02:18] flybayer commented on #1062
Fixed by #1121

[2020-09-24 02:18] #1062 closed

[2020-09-24 06:03] nitaking commented on #1015
In my local environment, it starts fine with the yarn link.
Maybe it's a react's error message where the yarn link is not relevant.

[2020-09-24 06:04] #1015 closed

[2020-09-24 09:18] hmajid2301 commented on #1143
I can pick this up!

[2020-09-24 15:12] ntgussoni commented on #940
@flybayer It was indeed fixed, for the most part, in the latest canary however while testing it I encountered that .git/info/exclude files were not being taken into account (yes, I keep a lot of vscode related crap in there) so I added a few extra lines and tests.

[2020-09-24 16:20] flybayer opened #1151 "New blitz server optimization not handing removed files"
### What is the problem?

New blitz server optimization not handing when files are removed

### Steps to Reproduce

In the monorepo:

1. `git checkout bug`
2. `blitz start`
3. `git checkout canary`
4. `blitz start`
5. Now access the `/sessions` url and it works, but it should not because `/session` only exists on the `bug` branch, not on the `canary` branch.

### Versions

[code]

[2020-09-24 16:43] flybayer opened #1153 "Prefix session cookies with unique identifier"
### What do you want and why?

Currently all our session cookies are always named the same like `sSessionToken`. This causes a problem when you are running different blitz apps on the same domain, like `localhost` for example.

This means you can only be logged in to one blitz app on a domain at a time. We should fix this.

### Possible implementation(s)

We want to use some type of unique identif

[2020-09-24 16:56] flybayer opened #1154 "Query object is changing on every render - needs to use useMemo"
### What is the problem?

`const query = useRouterQuery()` returns a new object on every single render, causing bugs in apps that expect it to only change if the contents of query changed.

### How to fix

[Here's the line of code that needs changed to use `useMemo`](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-router-query.ts#L6).

[2020-09-24 17:01] flybayer opened #1155 "useParams and useParam is changing on every render - needs to use useMemo"
### What is the problem?

`const params = useParams()` returns a new object on every single render, causing bugs in apps that expect it to only change if the contents have changed.

Also have the same problem for `useParam()`

### How to fix

Here's the code for [useParams](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-params.ts#L47) and [useParam](https://github.com/blitz-js

[2020-09-24 23:55] ryardley commented on #940
Looking at the git docs https://git-scm.com/docs/gitignore apparently on arch linux it appears you can add a global gitignore. `$XDG_CONFIG_HOME/git/ignore` would this be relevant here too?

[2020-09-24 23:58] ryardley commented on #1151
Hmm interesting. It is designed to manage that maybe I missed a file event. Will investigate.

[2020-09-25 00:21] flybayer commented on #1151
One one occasion the queries/mutations were removed properly but not the pages. Another time nothing was removed.

[2020-09-25 00:24] ryardley commented on #1151
Looks like there was a misconfiguration I probably caused and files were never being deleted anyway. Looking at it this morning.

[2020-09-25 04:48] JoseRFelix commented on #1098
Tried replicating this on Mac OS Catalina 10.15.6, but it worked without any delay.

[2020-09-25 05:46] maciekgrzybek commented on #1120
I'm happy to help with this one :)

[2020-09-25 06:44] jbFeDev opened #1162 "Enforce the required node version to the user using the blitz cli (including blitz new, blitz install, ...)"
### What is the problem?

If you're on a older Node version (< 12) you'll see what appears like a Node version warning ("You are using an unsupported version of Node.js. **Consider** switching to v12 or newer."), but actually is more required than optional. I could successfully scaffold out the application and build it, even though I'm on an unsupported Node version. The errors appear afterwards w

[2020-09-25 06:51] ntgussoni commented on #940
It definetly is, I'll add that as well

[2020-09-25 09:12] ntgussoni commented on #940
@ryardley  Are we using any library to display git information?

I found this https://github.com/steveukx/git-js and I think it's quite useful, specially since a lot of the git folders are configurable like the`.git` folder or the global.

[2020-09-25 10:08] markhaehnel commented on #988
I got that problem in the past, then reinstalled blitz and now i get something that i may think has the same origin.

blitz --version
[code]

The output of `blitz new`
[code]

After that running `npm install` and `blitz db migrate` everything seems to be running.

[2020-09-25 10:19] nitaking opened #1163 "Not found generated test"
### What is the problem?
generated test fails on generated app(blitz new).

### Steps to Reproduce

1. `blitz new blitz-2020-09-25`
2. `cd blitz-2020-09-25`
3. `yarn test`

[code]

### Versions

[code]

### Other

test works if you fix it as follows

**jest.config**
[code]

[2020-09-25 10:34] nitaking opened #1164 "Not working generated test in 0.23.1-canary.0"
### What is the problem?
test fails on apps with `0.23.1-canary.0` installed

[code]

### Steps to Reproduce

1. Upgrade the generate app with `0.23.0` to  `0.23.1-canary.0`
2. `yarn test`

### Versions

[code]

### Other

It work in version `0.23.0`

[code]

[2020-09-25 10:37] nitaking commented on #1164
Related link: https://github.com/kulshekhar/ts-jest/issues/1346

Possibly caused by `import React from" react "` in react-query which was upgraded

[2020-09-25 12:22] ryardley commented on #940
Cool. I think so far we just use [child process manually](https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/generators/app-generator.ts#L93) to run git commands and we don't really need to run git commands around the server and file-pipeline modules really but that looks good to know about.

[2020-09-25 13:10] nitaking commented on #1162
@jbFeDev Thanks for creating the issue!

[2020-09-25 13:44] flybayer commented on #1098
@JoseRFelix thanks for investigating! This is definitely WAY better in the latest blitz canary. That said, I'm still noticing a 1-3s delay on my project which has a good bit more modules than what you listed here.

I still think we should lazy load these, because as apps get bigger, this will get worse, no matter how optimized it is.

[2020-09-25 15:13] AxDSan opened #1178 "[Windows] Error: Failed to parse json from request to /api/projects/queries/getProject"
[code]

I get that error when I try to submit an edit for a project. (no additional fields were modified or sent)

This is on a newly made, fresh project (`blitz new projname`), nothing else added outside of the app itself, this is all barebones except I have done `blitz generate all project name:string` and `blitz db migrate` that's all.

[2020-09-26 04:15] JoseRFelix commented on #1098
So, I've been thinking about some possible solutions:

1. Have a loading indicator while all the modules are loading, and show input when done. This will make the user have to wait before he can use the console. It is not probably the best solution, but it is the fastest to develop.
2. Have a command that lists the files' names of all available mutations, queries, jobs, integrations, and utils fil

[2020-09-26 12:24] lukebennett opened #1170 "Husky pre-push hook adds dependency on yarn"
### What is the problem?

This change to the husky hooks assumes that yarn is installed: https://github.com/blitz-js/blitz/pull/1104. Yet the docs don't stipulate yarn as a requirement, in fact the Getting Started guide uses npm - https://blitzjs.com/docs/getting-started.

As things stand, if you don't have yarn installed, the pre-push hook will error.

### Steps to Reproduce

1. Upgrade to Blitz

[2020-09-26 14:04] svobik7 commented on #940
If I am getting it right the last thing missing here is adding patterns from `.git/info/exclude` to our server ignore config?

would that cover your local env @ntgussoni ?

[2020-09-26 14:16] ntgussoni commented on #940
I added that in my pr up there. Im gonna update it to also make use of the global gitignore

[2020-09-27 00:26] nitaking commented on #1130
https://github.com/prisma/prisma/blob/b972e05fc9d3de2937c94fafeac2285142adc578/src/packages/migrate/src/commands/MigrateSave.ts#L196

It seems that Prisma is not handling ctrl-c due to the fact that it allows the name to be unentered.

(I haven't been able to find a way to send a sigint signal.)

Either the prisma specs will change or it will send a PR, but it's better to wait

[2020-09-27 01:46] flybayer commented on #586
@ryardley I think we should go ahead and add this part of automatic query invalidation. It's trivial to implement.

[2020-09-27 02:24] ryardley commented on #586
One thing that concerns me with this is that is suggests that people should break their apps into many small contexts which might be an architectural mistake. Contexts should be DDD contexts which probably hold a few different models and not all of them necessarily should be invalidated. We might need to group mutations into resources somehow (maybe folders) and then invalidate based on that? Or p

[2020-09-27 06:21] regardt-nel opened #1173 "TypeError: Failed to fetch"
### What is the problem?
When trying to create an account I get the following error message displaying below the password input: "TypeError: Falied to fetch".

The Blitz app crashes afterwards.

### Steps to Reproduce

1. Run blitz start
2. Run blitz generate all question text hasMany:choices
3. Goto /questions
4. Redirects to /login
5. Navigate to /signup and try to create an account

### Version

[2020-09-27 13:35] mizchi opened #1174 "useQuery's mutate and router.push in same frame will cause error"
### What is the problem?

Title says it all.

Current `blitz generate all`'s  code causes this error.

### Steps to Reproduce

[code]

My work around

[code]

or just drop `mutate`

### Versions

[code]

[2020-09-27 23:40] bhatvikrant commented on #1155
Hey @flybayer is this still available to work on?

[2020-09-28 05:57] bhgsbatista opened #1175 "Auth example fails to compile"
### What is the problem?

[code]

### Steps to Reproduce

1. Clone the canary repo
2. Navigate to `examples/auth`
3. Run `yarn install`
4. Run `yarn build`

### Versions

[code]

[2020-09-28 06:00] bhgsbatista commented on #1175
Nvm, I can't readme x_x

[2020-09-28 06:00] #1175 closed

[2020-09-28 14:57] flybayer commented on #1098
Isn't it possible to keep what we have no (load everything), but set proxy objects in the repl context and when the proxy is accessed, load the requested module at that time.

So by default `getProjects` for example is set on the repl context just like now, but instead of having a references to the actual module, it's a proxy object that when accessed will load the module.

Make sense?

[2020-09-28 15:01] flybayer commented on #1155
@bhatvikrant no, PR is in review (you can tell because it's no longer labeled `status/ready-to-work-on`

[2020-09-28 15:06] #1151 closed

[2020-09-28 15:08] bhatvikrant commented on #1155
Oh okay, @flybayer thankyou

[2020-09-28 15:23] JoseRFelix commented on #1098
Yes, it is possible! The only thing to think about is how the script will know which file to import. This can work fine if we had the same file name and a single function per file. However, users can change the function name or have several functions that won't match the file name.

Maybe, we could store every function name and validate it in the proxy.

[2020-09-28 15:26] flybayer commented on #1098
Yeah, but we have that same issue already, right? (you are right that we need to resolve that somehow)

[2020-09-28 15:37] flybayer commented on #1143
@hmajid2301 sorry for the delay! It's all yours. And you can always start working on something before we assign it to you :)

[2020-09-28 15:38] flybayer commented on #1120
@maciekgrzybek all yours! (btw you don't have to wait on confirmation to start working on something :)

[2020-09-28 15:40] JoseRFelix commented on #1098
I'd say it could be a little bit faster than our current approach since we wouldn't be doing a full import. However, we still would have read the file to get every function name and search our object if it contains the function.

[2020-09-28 15:40] flybayer commented on #586
@ryardley yeah makes sense. My thought is that over-eager cache busting is better than none at all. We can always optimize this later.

[2020-09-28 15:42] flybayer commented on #1098
Ok, if you want you can work on this and just figure out what makes the most sense to do.

[2020-09-28 15:47] flybayer commented on #1170
Thanks @lukebennett Reason for the change was lint isn't ran by blitz test and it's not immediately clear to folks what `blitz test` does. Might end up removing that command at some point.

---

For now let's change from `yarn lint && yarn test` to `npm lint && npm test`. The result is the same an dit works for everyone.

Here's the line to change: https://github.com/blitz-js/blitz/blob/canary/pac

[2020-09-28 15:51] JoseRFelix commented on #1098
Sure! 🚀

[2020-09-28 16:04] flybayer commented on #1174
Hmm, that's not good. Must have broken when we upgraded react-query.

[2020-09-28 17:01] flybayer commented on #1178
@AxDSan sorry about that! Can you try `0.22.1` and see it it works there? I think this is maybe the same issue as #1174

[2020-09-28 17:19] AxDSan commented on #1178
Hi Brandon! Certainly!  I will check it out on `0.22.1` and will post back the results 👍

[2020-09-28 20:38] lukebennett commented on #1170
👍 PR opened, thanks

[2020-09-28 20:54] #1174 closed

[2020-09-28 20:56] flybayer commented on #1178
Hmm ok, maybe a windows compatibility thing 🤔

[2020-09-28 21:24] #1170 closed

[2020-09-28 22:24] AxDSan commented on #1178
Just to confirm, I just tested this using WSL in Ubuntu and it just works fine 👍 - It's definitely a Windows issue!

[2020-09-29 11:29] kitze commented on #843
@flybayer this is a huge dealbreaker :(

[2020-09-29 13:07] #1155 closed

[2020-09-29 13:33] flybayer commented on #843
@kitze yeah we'll get it added. The workaround is to use a regular API route, same as you would have to do without Blitz.

[2020-09-29 16:40] flybayer opened #1185 "Change all generated file paths to be kebab-case"
### What do you want and why?

Currently for a model of `TestResult` you end up with a path of
[code]

And I'm finding that I keep expecting it to instead be

[code]

I think it's better for everything to be consistent.

### Possible implementation(s)

We would need to change [this method](https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/generators/page-generator.ts#L49) in all

[2020-09-29 16:47] flybayer opened #1186 "Dev server not processing moved folders"
### What is the problem?

Dev server is not processing moved folders

### Steps to Reproduce

1. `blitz g all task name`
2. `blitz db migrate`
3. `blitz start`
4. Access `/tasks` successfully
5. `mkdir app/tasks/pages/admin`
6. `mv app/tasks/pages/tasks app/tasks/pages/admin/`
7. Can't access `/admin/tasks`

You can see files in cache aren't moved:

[code]

### Versions

[code]

[2020-09-29 17:05] ntgussoni commented on #1185
Totally agree, especially since I've had nightmares with git and case sensitivity in folders.

[2020-09-29 19:55] TatisLois commented on #1154
Hey! I have some time and would like to take this up!

[2020-09-29 20:14] flybayer commented on #1154
@TatisLois already closed in #1157! (notice that label was `status/in-review`. Issues that are open to work on are labeled `states/ready-to-work-on` :)

[2020-09-29 20:14] #1154 closed

[2020-09-30 01:32] flybayer opened #1188 "Make Sentry Recipe (convert existing example code into a recipe)"
### What do you want and why?

Make [a blitz recipe](https://blitzjs.com/docs/writing-recipes) for Sentry!

This repo shows how to integrate Sentry: https://github.com/flybayer/blitz-sentry

So need to convert that into a recipe.

[2020-09-30 01:39] enricoschaaf commented on #1188
Would it be wise to swap out sentry/node with sentry/react?

[2020-09-30 01:44] flybayer commented on #1188
@enricoschaaf maybe, idk! Not sure what the difference is

[2020-09-30 01:49] #1163 closed

[2020-09-30 01:49] enricoschaaf commented on #1188
Don't know much but it's seems to be a wrapper around sentry/browser. What's seemed interesting to me is that it supports error boundaries. https://docs.sentry.io/platforms/javascript/guides/react/

[2020-09-30 01:50] flybayer commented on #1164
@nitaking want to try upgrading react-query and see if that fixes it?

[2020-09-30 01:53] flybayer commented on #1173
@regardt-nel sorry about that! Can you try upgrading to Node 12.18.4 and see if it still breaks?

[2020-09-30 01:54] flybayer commented on #1178
@wKovacs64 any ideas on this?

[2020-09-30 01:55] flybayer commented on #1188
@enricoschaaf ok, probably `react-error-boundary` is better than what they have unless there's is built on this 🤔

[2020-09-30 02:00] enricoschaaf commented on #1188
I think they would serve diffrent purposes you would use react-error-boundary for errors that you dont want to get sent to sentry because the sentry one relays them. But I dont know it thats any use🤷‍♂️

[2020-09-30 02:10] flybayer commented on #1188
Ok yeah. Sounds more complex to have an additional error boundary than what's in the example 🤷

[2020-09-30 02:35] wKovacs64 commented on #1178
I'll take a look at this as soon as I can - may be a few though. 😬

[2020-09-30 08:29] LoriKarikari opened #1191 "Hacktoberfest 2020 Call for Participation"
Hi all 👋

A new season of Hacktoberfest is coming and the Blitz team is excited to have you contribute to our project. Blitz is a community-first project so we couldn't miss out on an event like this. You can learn more about the community [here](https://blitzjs.com/docs/how-the-community-operates). We have prepared a list of beginner-friendly issues to work on so you can get your feet wet in cont

[2020-09-30 11:27] Lundbyit commented on #1185
Hi, is it ok if I give this one a try?

[2020-09-30 13:01] flybayer commented on #1185
@Lundbyit absolutely!

[2020-09-30 13:32] engelkes-finstreet commented on #1185
@Lundbyit [Here](https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/utils/kebab-case.ts) is a utility function to transform camelCase into kebab-case.

[2020-09-30 13:37] regardt-nel commented on #1173
@flybayer It seems to not be an issue if I run the migrate command before firing up the app for the first time.  I hope this might help?

[2020-09-30 14:13] flybayer commented on #1173
ok! Then not an issue any more?

`blitz db migrate` should be ran automatically during new app set up, but if it fails then yes you'll need to run it manually

[2020-09-30 14:17] regardt-nel commented on #1173
HI Brandon, I think you can close :)

Take care
Regardt

On Wed, Sep 30, 2020 at 4:13 PM Brandon Bayer <notifications@github.com>
wrote:

--
[image: Codeswop] <http://www.codeswop.com/>
*Regardt Nel* | Managing Director
regardt@codeswop.com <james@codeswop.com> | +27 82 451 6806 <+27824516806>
*CODESWOP Pty (Ltd)* | App and Web Developers
www.codeswop.com | +27 21 001 0377 <+27210010377>
Codeswop,

[2020-09-30 15:02] Lundbyit commented on #1185
@engelkes-finstreet Thanks for the pointer.

I'm new to open source and I see that you @brunocrosier have submitted a PR.

Should I continue to work on the issue or will you @brunocrosier continue to work on it?

Another question regarding the issue. Should we change getTargetDirectory method as well to use kebab case in other generators? In that case I would like a chance to do a PR for that.

[2020-09-30 15:11] brunocrosier commented on #1185
My bad @Lundbyit I missed your comments on this thread. I'm not 100% sure that my PR actually works as I'm having trouble setting up local testing. I honestly have no idea re: `getTargetDirectory`, let's see what @flybayer thinks :)

[2020-09-30 15:20] Lundbyit commented on #1185
No worries, I'm thinking that both context and modelNames should be camelCased.

So maybe `return camelCaseToKebabCase(context + this.options.modelNames)`?

Not sure how the camelCaseToKebabCase handles '/' though

[2020-09-30 15:35] johncantrell97 opened #1196 "Query remaining cached after navigating via router.push"
### What is the problem?

After upgrading my version of Blitz to 0.23.2-canary.2 (from 0.21 I believe) I noticed that my queries were being cached even after navigating to different pages.

### Steps to Reproduce

The flow is start on a list page that performs a query to fetch some models.  Navigate to a /new page that allows you to create a new model that would normally be returned in the list qu

[2020-09-30 15:43] flybayer commented on #1196
Yeah react-query changed something here 🤔

We currently don't do auto cache invalidation. See https://github.com/blitz-js/blitz/issues/586

Here's the work around: https://github.com/blitz-js/blitz/blob/canary/examples/store/app/admin/pages/admin/products/%5Bid%5D.tsx#L16-L17

[2020-09-30 15:47] johncantrell97 commented on #1196
shouldn't react-query's query caches not live after a router.push navigation? seems odd that you should have to know which queries to invalidate cache of when they aren't even on the same page.

[2020-09-30 15:56] johncantrell97 commented on #1196
According to react-query docs the navigation away from the list page should trigger an unmounting of the query, pushing the query cache timeout to start ticking.  When the query is re-mounted upon navigating back to the page:

"Before the cache timeout has completed another instance of useQuery('todos', fetchTodos) mounts. The query immediately returns the available cached value while the fetchTod

[2020-09-30 16:33] flybayer commented on #1196
Ok must be a bug in RQ! Open an issue on RQ if you can make a minimal reproduction with plain RQ.

[2020-09-30 16:35] johncantrell97 commented on #1196
Isn't it possible it's a bug with blitz's wrapper around RQ's useQuery?

[2020-09-30 16:37] johncantrell97 commented on #1196
jk here it is: https://github.com/tannerlinsley/react-query/issues/1059

looks like an issue when using useQuery with suspense enabled like we do in blitz

[2020-09-30 19:36] gabrielcolson commented on #1138
Never mind. The Prisma team just announced they are [stopping the development of the Nexus Framework](https://github.com/prisma-labs/graphql-framework-experiment/issues/1432). I wonder if the integration with `@nexus/schema` is worth a recipe.

[2020-09-30 19:44] johncantrell97 opened #1198 "Creating new session after revoking current one does not work as expected"
### What is the problem?

As part of my application there is a flow where a user can be invited to join other users team.  One possible edge-case of this flow is that the user who is invited already has an account using a different email address then the one that was invited.  This means when they go to accept the invitation to create an account under this team they might actually be logged in alr

[2020-09-30 19:45] johncantrell97 commented on #1198
Looks like this is the problem:

// This is used on the frontend to clear localstorage
setHeader(res, HEADER_SESSION_REVOKED, "true")

When revoke is called it sets a response header to clear localStorage data.  The new session that gets created must get wiped out on the front-end by the code that handles this header.

Fix is either to clear this header when createSession is run or update the logi

[2020-09-30 19:52] johncantrell97 commented on #1198
Not 100% sure but I think maybe just swapping the order of these two ifs in handling headers might fix it:

https://github.com/blitz-js/blitz/blob/90df4e840922ea22e3d7e70e0ac90c4a0db64819/packages/core/src/rpc.ts#L74

Seems like updates public data first and then handles the clear.  If we clear then handle public data it should fix it.  Unless in the case you really want to clear the update would

[2020-09-30 19:56] #1138 closed

[2020-09-30 20:18] johncantrell97 commented on #1198
not as simple as I had hoped as the clear() also deletes the cookie so the update that happens next won't have any data to load into storage.  Is it safe to clear the header during createSession as that seems like the next simplest approach

[2020-09-30 22:20] #1198 closed

[2020-09-30 22:30] wKovacs64 commented on #1178
I can't seem to reproduce this on canary nor latest release.

Canary (local):

[code]

Latest release:

[code]

Works as expected in both environments.

[2020-10-01 04:19] kitze commented on #843
Yeah, I ended up using:

- `react-dropzone` for dropping the image
- `cloudinary.utils.sign_request` for getting a signed url (via blitz query)
- upload the images on the client-side

[2020-10-01 11:20] ryardley commented on #1186
hmm I can't reproduce at this point

[2020-10-01 11:45] brunocrosier opened #1205 "Error: ENOTEMPTY: directory not empty (Pages folder)"
### What is the problem?

After running `blitz start` I get this error:

[code]

I tried running `blitz db migrate` but it says that everything is up to date.

If I go into the file directory manually and delete that "pages" folder, it works the next time that I run `blitz start`

### Steps to Reproduce

1. run `blitz start`

### Versions

[code]

[code]
### Other

Please include applicable logs a

[2020-10-01 14:03] Weilbyte commented on #894
@adnanfuat 👋
Are you still experiencing this issue? If so please provide some more information as I was not able to replicate this.

[2020-10-01 16:28] TatisLois commented on #240
@merelinguist how's this going, anyway I can support?

[2020-10-01 18:11] flybayer opened #1206 "Add better error message when trying to use regular function with blitz useQuery hooks"
### What do you want and why?

Currently if you try to use your own regular fetch function with Blitz `useQuery` and related hooks (including `useMutation`), you will get an error like the following:

[code]

We need to change that be a helpful error.

### Possible implementation(s)

Something like this

[code]

Here's the file where the useQuery source is: https://github.com/blitz-js/blitz/blob/c

[2020-10-01 18:31] flybayer commented on #843
That's definitely the approach I recommend (upload straight to cloudinary, s3, etc).

[2020-10-01 18:39] Weilbyte opened #1208 "AssertionError after form prompt during `blitz new ... --js`"
### What is the problem?
My environment is Ubuntu 20.04 inside WSL2. I am running `blitz new` with `--js` and after the `Hang tight while we set up your new Blitz app!` - it crashes with an error like below:
[code]

### Steps to Reproduce

1. Be on Ubuntu 20.04 on WSL2 (? not sure if this is contributing to the failure ?)
2. Run `blitz new aaagh --js --no-git`
3. Select a form thingy
4. Error

###

[2020-10-01 18:47] flybayer commented on #1208
Yep, that's a bug!

[2020-10-01 22:01] brunocrosier opened #1210 "Improve `prisma generate` behaviour for updating a model that already exists in the schema"
### What do you want and why?

When I want to update a model in the schema, if I run `blitz generate all projects` and then run `blitz generate all projects title:string` it will add another `Project` model to the `schema.prisma` file, which will then fail when you run `blitz db migrate`

The aim should be to make it easy for developers to _update_ their already existing models, from the CLI.

Alt

[2020-10-01 22:01] jamiedavenport commented on #1206
Could I pick this up?

[2020-10-01 22:04] Zeko369 commented on #1206
@jamiedavenport go ahead

[2020-10-01 23:19] Weilbyte commented on #1208
Will work on it tomorrow :)

[2020-10-02 02:03] flybayer commented on #1186
Ok, will close for now

[2020-10-02 02:03] #1186 closed

[2020-10-02 02:06] flybayer commented on #1098
@JoseRFelix I discovered that the console is quite fast when running the local blitz dev version, but it's still extremely slow when using off npm

[2020-10-02 02:11] flybayer commented on #815
Closed in #1160

[2020-10-02 02:11] #815 closed

[2020-10-02 08:35] maciekgrzybek commented on #1120
Awesome, thanks mate :) I didn't ask once (don't remember what project was that) and when I created a PR it turned out someone already fixed it :D So, learn by experience... :)

[2020-10-02 12:52] ntgussoni commented on #1043
@flybayer  We need to make a release of babel-plugin-superjson-next as I have fixed a bug with static methods and if we implement this right now we'll break `getLayout`

[2020-10-02 14:12] maciekgrzybek commented on #1120
@flybayer sorry I can't find it anywhere, is there a slack or a discord channel where I could look for any help? :)

[2020-10-02 14:20] jan-wilhelm opened #1214 "window.requestIdleCallback is not supported on Safari"
### What is the problem?
The fix that @flybayer implemented in #1174 does not work on Safari. Safari throws an error:
[code]

According to [CanIUse](https://caniuse.com/requestidlecallback), Safari does not support window.requestIdleCallback on MacOS and iOS.

### Steps to Reproduce
Run the following code somewhere:

[code]
### Versions

[code]

[2020-10-02 14:27] flybayer commented on #1043
The static method issue should be fixed in 0.1.6: https://github.com/blitz-js/babel-plugin-superjson-next/releases

[2020-10-02 14:33] ntgussoni commented on #1004
@flybayer  I'm having trouble running my dev environment so if anyone can take a quick look to see if this fixes it i'll make a proper PR.

I couldn't find `runPrismaGeneration` being called on dev start, I know this code was here at some point so I wonder if it got removed by accident or i'm completely missing something

[2020-10-02 15:12] #856 closed

[2020-10-02 15:20] flybayer commented on #1004
This is no longer an issue since https://github.com/blitz-js/blitz/pull/1121

[2020-10-02 15:20] #1004 closed

[2020-10-02 15:20] flybayer commented on #579
Duplicate of https://github.com/blitz-js/blitz/issues/1098

[2020-10-02 15:20] #579 closed

[2020-10-02 16:06] sandulat commented on #1153
@flybayer The only solution that comes to my mind is to use the `publicRuntimeConfig` option in the config, instead of passing options to the session middleware.
https://nextjs.org/docs/api-reference/next.config.js/runtime-configuration

If that's ok, I could work on this.

[2020-10-02 16:15] simonedelmann opened #1220 "`blitz seed` command needs changed to `blitz db seed`"
### What is the problem?

In the canary documentation the new seeding command is written as `blitz db seed` but actually it is implemented as `blitz seed`.

(Personally I would prefer `blitz db seed`.)

### Versions

0.23.2-canary.3

[2020-10-02 16:20] simonedelmann opened #1221 "`blitz db seed` error: Cannot find module"
### What is the problem?

When running ~~`blitz seed`~~ `blitz db seed` the module db/seeds.ts cannot be found.

### Steps to Reproduce

1. Create new blitz app ~~on latest canary~~.
2. Run ~~`blitz seed`~~ `blitz db seed`
3. See error:
[code]

### Versions

~~0.23.2-canary.3~~
0.24.1
(Node 14)

Edit: I've updated the issue to reflect the renamed command `blitz seed` -> `blitz db seed`, see more i

[2020-10-02 17:38] flybayer commented on #1214
Hmm, probably need to use `setTimeout()` instead maybe

[2020-10-02 17:46] maciekgrzybek commented on #1120
I'm just working on this and I think I know how to fix it, but I do have one question. Do we want to command with`--help` be accessible from outside of the project?

[2020-10-02 18:24] nitaking commented on #1220
Thanks @simonedelmann
I also think it should match the `blitz db seed`.

[2020-10-02 19:10] #1196 closed

[2020-10-02 19:53] alfonmga commented on #477
I'm not sure if this is related, but how do I can get the raw body of a request? this is needed for verify Stripe webhooks.

https://flaviocopes.com/express-get-raw-body/

[2020-10-02 20:06] #1185 closed

[2020-10-02 20:08] #1143 closed

[2020-10-02 20:20] #1206 closed

[2020-10-02 20:21] #1162 closed

[2020-10-02 20:58] #1208 closed

[2020-10-02 21:58] jamiedavenport commented on #1214
Could I pick this up? 🥺

[2020-10-02 22:12] #127 closed

[2020-10-02 22:29] simonedelmann opened #1233 "Blitz console not loading queries/mutations"
### What is the problem?

Blitz console does not find any queries/mutations. (Furthermore it does not find any files except those which are in `integrations` or `utils` folder.)

### Steps to Reproduce

1. New blitz app
2. Rename `auth-utils.ts` to `auth.ts` (to avoid side-effects because of kebab-case)
3. Move `auth.ts` to `/integrations` folder
4. Open blitz console and enter `auth`. => It works

[2020-10-03 01:20] flybayer commented on #1120
@maciekgrzybek yeah we have slack: https://slack.blitzjs.com

And yeah, it's fine to have `--help` available outside a project

[2020-10-03 01:22] flybayer commented on #1205
Looks like another one of these weird windows compatibility issues

[2020-10-03 01:23] #894 closed

[2020-10-03 10:09] svobik7 opened #1240 "Circular dependency warning during build"
### What is the problem?

During build process of current canary following warning occurred in terminal output: `@blitzjs/core: Circular dependency: src/supertokens.ts -> src/public-data-store.ts -> src/supertokens.ts`

### Steps to Reproduce

1. open your local blitz repo `cd blitz`
2. run `yarn` to install deps
3. run `yarn build`

### Versions

[code]

[2020-10-03 10:18] svobik7 commented on #1240
After additional circular imports check by running `madge . --extensions ts,tsx -c` in root folder I found there are 6 circual dependency warnings.

[code]

[2020-10-03 10:58] svobik7 opened #1241 "Unexpected token in plain-js example api routes"
### What is the problem?

Plain-js example is unable to run. There are unwanted types generated in api files.

[code]

### Steps to Reproduce

Inside your local blitz repo:

1. `yarn dev`
2. `cd examples/plain-js`
3. `blitz start`

### Versions

[code]

[2020-10-03 15:23] LoriKarikari opened #1244 "Can't resolve 'next-transpile-modules' when build target is set to serverless"
### What is the problem?

When the build target is set to `serverless` the build fails with `ModuleNotFoundError: Module not found: Error: Can't resolve 'next-transpile-modules' in '/home/lori/dev/projects/streamsbase/app/node_modules/@blitzjs/server/dist'`.

### Steps to Reproduce

1. add `target: "serverless",` to `blitz.config.js`
2. run `blitz build`

### Versions

[code]

[2020-10-03 20:38] svobik7 commented on #1178
@AxDSan I see no Typescript in your blitz -v output so your app was created as plain-js with `blitz new ... —js`, right?

I faced a similar error today so I think the reason is descibed here #1241. Is that what you see in your terminal output.

[2020-10-03 20:47] svobik7 commented on #1031
@engelkes-finstreet have you tried mentioned prettier extension?

[2020-10-03 23:44] hasparus commented on #997
Okay, same issue on my Pop_OS! with Node 14, and @beerose's MacOS with Node 12.

Sometimes while we change files, Blitz just needs a double or triple save to properly refresh instead of showing this error.

[code]

[2020-10-04 04:26] AxDSan commented on #1178
In my case, it was in a typescript project, it was not generated with the plain js flag.

[2020-10-04 09:51] Alucard17 commented on #1233
Hey @flybayer can I work on this.

[2020-10-04 13:04] alexnaiman commented on #1240
Hello! Can I try to tackle this issue for the Hacktoberfest2020? If so, can you assign it to me?

[2020-10-04 13:55] svobik7 commented on #1240
@alexnaiman sure, go for it 👍

[2020-10-04 17:15] konradkalemba opened #1248 "DocumentContext is not imported in custom document when installing Material UI recipe"
### What is the problem?

Material UI recipe modifies `getInitialProps` method of custom document class, however it doesn't add `DocumentContext` to existing import from `blitz` package. Although it doesn't break the app and only raises a TypeScript error, the type should be imported anyway.

I did try to fix this and succeded. The problem is in this line: https://github.com/blitz-js/blitz/blob/ca

[2020-10-04 19:43] flybayer commented on #1233
@Alucard17 yes!

[2020-10-04 20:09] Alucard17 commented on #1233
Hey @flybayer @simonedelmann as per the code mentioned below,
It expects the queries and mutation should be in app directory, is this behavior intentional or should I change it ?
https://github.com/blitz-js/blitz/blob/bd1063a965eeccfd091a199cdc5c3ab57d4832ba/packages/repl/src/utils/load-blitz.ts#L11

[2020-10-04 22:52] engelkes-finstreet commented on #1188
@flybayer I have some problems to correctly replace the content of `blitz.config.js` with codeshift. Would it be viable to replace the whole file?

[2020-10-04 23:10] Zeko369 commented on #1248
Go ahead and open a PR with that change

[2020-10-05 13:45] flybayer commented on #1233
@Alucard17 yes, queries and mutations must be inside app.

[2020-10-05 13:46] flybayer commented on #1188
@engelkes-finstreet no, because that would overwrite any stuff the user has customized already. I'm sure it's possible to do this with codeshift, just need to figure out the way 😅

[2020-10-05 13:57] flybayer commented on #1241
Hmm, something odd here. We should only be adding types to the generated code if it's a TS project. See this line: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/rpc/index.ts#L41

[2020-10-05 17:33] svobik7 commented on #1241
Probably wrong valu in `useTypes`, I will investigate more.

[2020-10-05 21:57] #1220 closed

[2020-10-05 22:13] #1248 closed

[2020-10-05 22:46] #1214 closed

[2020-10-05 22:58] #1126 closed

[2020-10-06 05:51] maciekgrzybek commented on #1120
Hey, I've added a PR for this ticket -> https://github.com/blitz-js/blitz/pull/1257

[2020-10-06 09:48] svobik7 commented on #1241
Really odd thing happening here. I dig into
`export async function normalize(config: ServerConfig): Promise<NormalizedConfig>`
which I previously refactored :-D and got following:

[code]

Could someone test it on their own machine? Maybe it is something related to my local env. I tried to add ts version 4.0.x to plain-js example but got the same results.

[code]

[2020-10-06 16:38] geeklisted commented on #757
Is this issue still ready to work?  Seems there have been a couple of merges.

[2020-10-06 20:23] Dohxis commented on #1037
I would love to work on this 🙂

[2020-10-06 22:24] flybayer commented on #757
@geeklisted yeah, still plenty to tests to add! :)

[2020-10-06 22:49] flybayer opened #1266 "Add `--no-verify` to initial git commit command"
### What do you want and why?

We run `git commit` during new app setup. We need to add `--no-verify` to the git args to skip running husky during this step, because it's not needed.

### Possible implementation(s)

Here's the line where this needs added: https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/generators/app-generator.ts#L231

[2020-10-06 22:58] flybayer commented on #225
Solution is to add https://github.com/williamluke4/next-prisma-plugin to our [`withBlitz`](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/with-blitz.ts) webpack wrapper and to remove the `globalThis` stuff from [the new app template](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/db/index.ts).

[2020-10-06 23:32] geeklisted commented on #757
I hope to try and contribute some tests over the course of the week.  Excited to see a project heading back to the good ole' days of Web development.

[2020-10-06 23:58] clgeoio commented on #1266
i'll take this one

[2020-10-07 01:15] peaonunes commented on #1221
I believe the issue was fixed at https://github.com/blitz-js/blitz/pull/1239
I could not reproduce it in the latest `0.24.1`.

[2020-10-07 02:10] flybayer commented on #1221
@peaonunes i don't think so. Only it was renamed from blitz seed to blitz db seed

[2020-10-07 03:02] peaonunes commented on #1221
Interesting!  I've cloned the latest, bootstrapped an app and ran the `blitz db seed` and worked fine. The differences from the my setup from the reported in the issue are that I'm at the latest local on canary, and the node (mine is 12, not 14, do we support node 14?).
<img width="905" alt="Screen Shot 2020-10-07 at 13 42 43" src="https://user-images.githubusercontent.com/3356720/95282593-8772b60

[2020-10-07 05:30] clgeoio commented on #757
@geeklisted, I am probably going to get stuck in to the server/supertokens file soon. We should coordinate our efforts :)

[2020-10-07 07:23] simonedelmann commented on #1221
@peaonunes I've tested with latest blitz (0.24.1) and a fresh project, still not working. But there is a new error message, seems like the thrown error is handled now:

[code]

<details>
<summary>blitz --version --verbose (Node 14)</summary>

[code]

</details>

I've also tested with Node 12 now, same result:

<details>
<summary>blitz --version --verbose (Node 12)</summary>

[code]

</details>

[2020-10-07 08:42] peaonunes commented on #1244
To add a bit more context, I was looking at it and narrowed down the usage of `next-transpile-modules` and turns out we only use that in once place:
https://github.com/blitz-js/blitz/blob/0b103bcccaae24ccd8720ed810f8c6d2656724e1/packages/server/src/with-blitz.ts#L60-L69

However, that code path was meant to run only on blitz server project development. It is strange that this is being executed in

[2020-10-07 08:43] peaonunes commented on #1221
That's odd, I'm gonna recreate my setup and try again. I was hoping to fix it, but I need to reproduce it first lol

[2020-10-07 09:10] simonedelmann commented on #1221
Very strange. I've just tried in a container (VSCode devcontainer), but I still get the same error.

Just to be sure it is not a silly error on my side: This commands below should work to get the empty seeds function to run, right?

[code]

[2020-10-07 09:20] simonedelmann commented on #1221
I can also confirm, this does not work in a fresh node container. This should be reproducable:

[code]

[2020-10-07 13:29] jan-wilhelm commented on #984
now that we have merged #1226 , wouldn't it be quite easy to add a similar `mutateQuery` helper?

[2020-10-07 14:05] flybayer commented on #984
@jan-wilhelm yes!

[2020-10-07 19:41] aaronfulkerson commented on #1221
I'm getting the error 'Couldn't import default from db/seeds.ts or db/seeds/index.ts file' when trying to run blitz db seed on a new installation using the latest version of the CLI.

[2020-10-08 09:01] danielrlc commented on #1017
Using `npx` didn't work for me.

What did work was this:

[code]

This fixed the problem of missing auth files and folders.

[2020-10-08 14:06] flybayer opened #1274 "Upgrade Next.js to 9.5.4"
### What do you want and why?

Upgrade Next.js to 9.5.4 in the `@blitzjs/server` package

[2020-10-08 15:13] mattfwood opened #1275 "Issues Serializing Dates in getServerSideProps from ssrQuery / invokeWithMiddleware"
### What is the problem?
When trying to make a server-side query for a model with a `DateTime` object, i'm still getting issues serializing it properly:

![image](https://user-images.githubusercontent.com/22530815/95477865-6dd97900-094e-11eb-81b5-70292da78e1c.png)

![image](https://user-images.githubusercontent.com/22530815/95477889-75008700-094e-11eb-9e25-af796b5d93ca.png)

### Steps to Reproduce

[2020-10-08 15:36] mattfwood commented on #1275
Well, after a bit more digging I realized this is probably more of a Next.js issue than Blitz issue.

https://github.com/blitz-js/superjson#using-with-nextjs

If possible, maybe we can check if an object has any `Date` objects, and we could show a more descriptive error saying to use this babel plugin?

[2020-10-08 16:13] flybayer commented on #1274
yes!!

[2020-10-08 19:37] LoriKarikari opened #1276 "Add `babel.config.js` to files that you can edit with recipes"
### What do you want and why?

Make it possible to edit `babel.config.js` with recipes.
### Possible implementation(s)

This file needs to be edited to add babel: https://github.com/blitz-js/blitz/blob/canary/packages/installer/src/utils/paths.ts

[2020-10-08 19:44] konradkalemba commented on #950
@flybayer I can work on this.

[2020-10-08 20:12] Dohxis commented on #1276
Working on it 🙂

[2020-10-08 20:29] aaronfulkerson opened #1281 "mutate does not work unless you disable suspense"
### What is the problem?

Mutate doesn't seem to work on arrays of objects with nested objects unless you disable suspense. Mutating a single object works fine. Enabling suspense allows mutate to work.

### Steps to Reproduce

1. Attempt to call mutate on an array of objects with nested objects. - Mutating a single object seems to work fine

### Versions

[code]

### Other

Let's say I have an arr

[2020-10-08 20:30] aaronfulkerson opened #1282 "mutate works selectively unless I disable suspense"
### What is the problem?

Mutate works selectively on arrays unless I disable suspense. Works fine on single objects.

### Steps to Reproduce

1. Call mutate with suspense enabled (default).

### Versions

[code]

### Other

Let's say I have an array of users with a company and I call console.log right after the line that contains useQuery. console.log should fire whenever the contents of the user

[2020-10-08 20:33] aaronfulkerson commented on #1281
duplicate

[2020-10-08 20:33] #1281 closed

[2020-10-08 23:40] aaronfulkerson commented on #1282
I think the reference to mutate might be changing but I'm not really sure. When I change the params of this query to undefined I don't have any problems but if the params change due to some other element of the page changing then mutate stops working.

[code]

[2020-10-08 23:41] kripod commented on #1031
There is a very reliable ESLint plugin for the purpose of sorting imports: https://github.com/lydell/eslint-plugin-simple-import-sort

[2020-10-09 06:56] SgtBlade opened #1284 "Property 'session' does not exist on type 'Ctx' in Tutorial"
### What is the problem?

### Steps to Reproduce

1. Using latest version of blitz (0.24.1) & building the finished tutorial project returns an error. Running it with the "blitz start" command does work without error

### Versions

[code]

### Other

[code]

[2020-10-09 07:29] Kosai106 commented on #1284
I experienced the same issue last night ([See Slack thread](https://blitzjs.slack.com/archives/C011EQ0J75M/p1602191442455800)) and it seems to be a caching issue.
If you bootstrap your project using `npx blitz@latest new IntroductionToBlitz` then it should work. At least, it did in my case.

[2020-10-09 07:51] SgtBlade commented on #1284
Thanks for the tip, I'll try remaking the tutorial later today. I tried the command you sent on my current project and white it fixed the `ctx.session` error I now have a new one. It might've been caused by selecting overwrite on something it shouldn't have.

[code]

[2020-10-09 08:15] sandulat commented on #1284
@SgtBlade If I'm not mistaken, Prisma's `findOne` method accepts only `unique` database fields in the query (id for example). If you want to query by non-unique fields and limit the results to one, you can use `take` to achieve it:

[code]

[2020-10-09 09:54] cajotafer commented on #1003
Just to mention, I am having the same issue, using `yarn global add blitz` didn't work for me, I am using `npx` instead.

[2020-10-09 10:29] aericson commented on #984
I'd be interested to take a look at it. If no one has started working on it :D

[2020-10-09 11:40] LoriKarikari commented on #1244
I never tried setting the `serverless` target before so I have no idea if it ever worked.

[2020-10-09 11:44] LoriKarikari commented on #1275
There is an issue open to make `superjson` the default: #1043

[2020-10-09 16:51] aericson commented on #984
@flybayer

shouldn't we call it `setQueryData` instead of `mutateQuery`. mutate seems to imply that it would have side effects on server data.

[2020-10-09 18:11] LoriKarikari opened #1286 "Export `next/config` in `@blitz/core`"
### What do you want and why?

There currently isn't a Blitz equivalent to `next/config`. If you want to use it you have to do `import getConfig from 'next/config'`. This should become `import { getConfig } from 'blitz'`.

### Possible implementation(s)
This export needs to be added to this file:
https://github.com/blitz-js/blitz/blob/canary/packages/core/src/index.ts

[2020-10-09 18:46] flybayer commented on #984
@aericson you have a good point! I'm fine with that, but if we do that we should rename the `mutate` helper that's returned from `useQuery` to also be `setQueryData`.

[2020-10-09 20:40] davidlutta commented on #1286
Hello, open-source noob here 😅 with a question.
Would the following implementation be satisfactory ?
[code]

[2020-10-10 15:14] jamiedavenport commented on #913
Could I work on this? 🥺

[2020-10-10 15:36] aericson commented on #984
@flybayer thanks for the tip to rename `mutate`! I created a PR (RFC) that includes a few choices that I'm not so sure about. I'd appreciate it if you could take a look at it.

Thanks!

[2020-10-10 16:43] nitaking commented on #1221
I also checked. I'll check it out as soon as possible.

[2020-10-10 16:46] nitaking commented on #1221
It worked after the `yarn link` in the current canary branch, so the
Perhaps I missed it because of the difference in behavior between `yarn link` and unlinked

[2020-10-10 16:46] nitaking commented on #1221
[code]
import { PrismaClient } from '@prisma/client'
// or const { PrismaClient } = require('@prisma/client')

const prisma = new PrismaClient()
[code]

[2020-10-10 16:47] nitaking commented on #1221
Set up verdaccio and debug

[2020-10-10 16:51] flybayer commented on #937
Actually I was wrong about this 🤦

This is still an issue.

I think we might need some changes in Prisma to fix this. This could be fixed by prisma generating a server entry point and a browser entry point, where the browser entry point only has the enum and client-safe code. If they did that, then we can stop using null-loader.

Can someone open an issue in the [prisma repo](https://github.com/pr

[2020-10-10 19:44] #1266 closed

[2020-10-10 20:01] #1210 closed

[2020-10-10 20:11] #950 closed

[2020-10-10 20:13] #1276 closed

[2020-10-10 20:17] flybayer commented on #1282
Wow this is an interesting one!!

I think definitely we need to change mutate to use `useCallback` internally. _Maybe_ just doing that will fix this.

[2020-10-10 20:29] flybayer commented on #1284
@SgtBlade can you post your entire `getQuestion.ts` file?

[2020-10-10 20:39] SgtBlade commented on #1284
Hi yea I've been trying to figure out how to work with blitz and prisma so I hadn't had the chance to update this issue.

getQuestion.ts file:
[code]

This is the getQuestions.ts file I've had to make some adjustments but it's working now.

[code]

I've got most of it to work now, am only struggling a little with the update of choices as this isn't included in the tutorial (might be a nice additio

[2020-10-10 20:52] flybayer commented on #1284
Ah, I see one issue is that the tutorial was using `db.findOne` but the generated code is using `db.findFirst`. I just fixed that in the tutorial.

And yeah, we should totally add updating to the tutorial.

[2020-10-10 21:01] flybayer commented on #1244
@LoriKarikari were you using blitz from npm with this issue or via `yarn link blitz` ?

[2020-10-10 21:01] #1275 closed

[2020-10-10 21:02] flybayer commented on #1286
@davidlutta this should even work!

[code]

[2020-10-10 21:31] SgtBlade commented on #1284
That worked, thanks!

[2020-10-10 21:31] #1284 closed

[2020-10-11 04:19] nitaking commented on #1221
I'm trying to find a way to reproduce this problem.

I was able to register `@blitz/cli` into the local private npm registry, but publishing the `blitz` itself is private and I get an error.
Is there any way to fix this?
Or you know other approch?

cli publish: (success. but I don't know hou to access)
1. `verdaccio` (start local private npm registry)
2. `cd packages/cli`
3. `yarn build`
3. add `t

[2020-10-11 14:03] danielrlc opened #1296 "Default Jest test not being found in new Blitz app"
### What is the problem?

The default test in my new Blitz app isn't getting found.

### Steps to Reproduce

In a new Blitz app, edit `index.test.tsx` file, changing `test.skip` to `test`:

[code]

### Versions

[code]

### Other

Terminal (iTerm2, zsh, oh-my-zsh) output when I try to run the tests:

[code]

[2020-10-11 15:42] aericson opened #1297 "Mutations incorrectly warns about deprecation even when using invoke()"
### What is the problem?
Even when using `invoke()` with mutations one will still get the warning `Directly calling queries/mutations is deprecated in favor of invoke(queryFn, params)`. I believe that the cause is that `fromInvoke` is being passed down to the `mutate` function that was returned by react-query which doesn't pass that on to the resolver.

I investigated it and tried to fix it but I

[2020-10-11 17:21] aem opened #1298 "Create static framework for generation prompts"
### What do you want and why?

In https://github.com/blitz-js/blitz/pull/1268 it's becoming apparent that we'll want to continue to add prompts to the app generation process (and potentially other generators), we should add a way to statically declare prompts on the generator class that automatically get executed (and the results passed into the templates).

### Possible implementation(s)

Should

[2020-10-11 18:01] AxDSan commented on #1297
This is weird, I'm on this and I'm not getting the error anymore (I used to get it before whereas I was doing a direct mutation/query call, but I switched to `invoke()` and it's not happening anymore.)

![](https://i.imgur.com/bgB2fcP.jpg)

[2020-10-11 19:01] flybayer commented on #1296
Here's the [jest config template](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/jest.config.js) for whoever wants to work on this.

[2020-10-11 19:08] #1240 closed

[2020-10-11 20:20] flybayer commented on #1297
@aericson in you example, invoke is not needed. This is correct:

[code]

Is it possible you have another place in your app that's using the old method of directly calling a resolver? Maybe the `useCurrentUser()` hook or something?

[2020-10-11 20:22] aericson commented on #1297
It's from the examples/store app when creating a product. I'll take a better look tomorrow.

[2020-10-11 22:27] peaonunes commented on #1296
I'm happy to look into this issue

[2020-10-12 09:41] brunocrosier commented on #1205
I've just encountered this with a plain Next.js repo so safe to say it's not blitz-related

[2020-10-12 09:41] #1205 closed

[2020-10-12 13:13] markhaehnel opened #1303 "blitz build does not return correct exit codes"
### What is the problem?
Command `blitz build` doesn't return correct exit codes.
It returns `0` even if the build fails.

### Steps to Reproduce

1. Have a syntactical error in your code
2. Run `blitz build`

### Versions

[code]

### Other
Return code does not equal the `next build` return code
[code]

[2020-10-12 19:25] aericson commented on #1297
I just checked it again, and I'm pretty sure it's the mutation. I put a print right next to the warning.

<img width="474" alt="Screen Shot 2020-10-12 at 21 23 12" src="https://user-images.githubusercontent.com/692542/95783018-44fc0f80-0cd1-11eb-8c35-a0a964135a29.png">

here is the print:
<img width="280" alt="Screen Shot 2020-10-12 at 21 21 44" src="https://user-images.githubusercontent.com/69254

[2020-10-12 19:42] jamiedavenport commented on #913
If only things were that simple 😢

Looks to me as though the `blitz.config.ts` file would already need to be transpiled before Webpack runs, since the generated `next.config.js` file depends on it and Next doesn't support `next.config.ts` (https://github.com/vercel/next.js/issues/5318)

https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/config/index.ts#L45

So my current plan

[2020-10-12 20:34] jamiedavenport commented on #1303
Thanks for raising this 😃. I believe this issue is [here](https://github.com/blitz-js/blitz/blob/canary/packages/blitz/bin/blitz#L13) where the result of `spawn.sync` is being ignored.

[2020-10-12 20:36] markhaehnel commented on #1303
Thanks for the pointer.
I will take a look at it and fix this in a PR.

[2020-10-12 21:07] aericson commented on #1282
@aaronfulkerson  I tried to reproduce this but couldn't. Are you sure you are not mutating the array, rather than giving it a new one, by accident?

[2020-10-12 21:12] aaronfulkerson commented on #1282
@aericson I'm not sure what you mean by mutating the array rather than passing a new one. To my knowledge the way you use mutate is by passing it a newly-created item so how I've been doing it when it comes to mutating arrays is passing the newly created item as a single-item array like so:

[code]

And this method works when suspense is disabled. When suspense is enabled, however, it doesn't work

[2020-10-12 21:18] aericson commented on #1282
Ah, I see. I thought this was something else. I thought you were doing optimistic update with the data returned by the useQuery.

[2020-10-12 21:37] flybayer opened #1305 "Change Recipes to add providers outside of ErrorBoundary"
### What do you want and why?

Currently our recipes add providers inside the ErrorBoundary like this.

[code]

But I think we should change them to instead add providers at the root of the return statement like this.

[code]

The reason is that often you want to use the providers inside the error boundary fallback component (like using Chakra components there, for example).

A nice side benefit o

[2020-10-12 21:57] JoeSpencer opened #1306 "Uncaught SyntaxError: await is only valid in async function"
### What is the problem?

### Steps to Reproduce

1. In Blitz console, 'let q = await db.question.create({data: {text: "What's new?}})'

### Versions

[code]

### Other

![Screen Shot 2020-10-12 at 4 49 25 PM](https://user-images.githubusercontent.com/3081871/95793774-f2f4c300-0cab-11eb-9010-61fc9c93c632.png)

[2020-10-12 22:09] flybayer commented on #1297
Ok yeah I agree. This line needs changed: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-mutation.ts#L20. It needs to be changed to have an extra function wrapper similar [to this](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-query-hooks.ts#L46-L47).

[2020-10-12 22:14] flybayer commented on #913
@jamiedavenport the perf argument is pretty lame since it's one single file compared to the actual app build that's many files.

Yeah, adding this to the server config stage sounds perfect.

[2020-10-12 22:16] flybayer commented on #1306
Thanks @JoeSpencer. As said in Slack, I am unable to reproduce. Hopefully someone who can reproduce this can investigate what's broken.

[2020-10-12 22:22] #1286 closed

[2020-10-12 23:17] flybayer opened #1308 "Requesting Security Review/Pen Testing"
### What do you want and why?

I want some security professionals to review our authentication code and perform pen testing to see if we possibly have any vulnerabilities.

Here's our docs on auth implementation](https://blitzjs.com/docs/session-management#how-it-works).

And here's the three main files pertaining to auth:

- https://github.com/blitz-js/blitz/blob/canary/packages/core/src/supertok

[2020-10-12 23:27] Weilbyte opened #1309 "`package.json` generated for JS projects contains bits for TS projects"
### What is the problem?
When generating a new blitz JS app with `blitz new --js`, the generated `package.json` contains fragments of stuff that is very much not JS.

Some of these are:
* `lint` script runs not only for `.js` but for `.ts`/`.tsx` extensions
* `pre-commit` husky hook runs `tsc`
* `lint-staged` runs eslint against `.ts`/`.tsx` files
* multiple TS-related devdependencies such as `@ty