[2020-10-13 02:04] wKovacs64 commented on #1306
@JoeSpencer is the example in your screenshot a specific command you tried, verbatim? If so, you're missing a closing quote between the `?` and the `}` towards the end.

You have:

[code]

Should be:

[code]

I was unable to reproduce with valid commands/syntax.

[2020-10-13 10:34] markhaehnel commented on #1303
PR submitted.
By the way, love the docs for "How to Contribute". Great work! 🔥

[2020-10-13 12:32] JoeSpencer commented on #1306
So that was the problem, I am closing this, but weird error to trigger for that, no?

[2020-10-13 12:32] #1306 closed

[2020-10-13 13:39] #1274 closed

[2020-10-13 15:55] nitaking opened #1318 "Failed commit by `blitz new`."
### What is the problem?
Failed commit `blitz new` command.

### Steps to Reproduce

1. `blitz new myApp`

[code]

### Versions

[code]

### Other

Oddly enough, the yarn-linked blitz project succeeds in committing

[2020-10-13 20:36] shaunchurch commented on #1296
In the meantime I found you can get the tests picked up by passing `--runTestsByPath` to the jest command:
`"test": "jest --runTestsByPath app/**/*.test.ts* "`

[2020-10-14 00:42] flybayer commented on #1318
What is this git error if you run the git command directly?

[code]

[2020-10-14 01:15] flybayer commented on #1318
Try again with `0.24.2`. I think this is probably fixed by #1270

[2020-10-14 01:48] flybayer opened #1322 "Should not try to initialize new app database if package install fails"
### What is the problem?

If package installation fails during new app set up, currently we still try to initialize the DB, but this is guaranteed to fail because node_modules aren't installed.

So we need to be sure to skip db setup if npm install fails.

Here's where db init begins: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/new.ts#L100

### Versions

[code]

### Oth

[2020-10-14 01:54] flybayer commented on #1322
nevermind, db init is being handled if it fails

[2020-10-14 01:54] #1322 closed

[2020-10-14 08:00] konradkalemba commented on #1305
I can do this.

[2020-10-14 13:47] LoriKarikari commented on #1244
@flybayer the npm version

[2020-10-14 18:35] flybayer commented on #794
Before adding this babel plugin, I want to try again to include those in the blitz library.

[2020-10-14 20:06] flybayer opened #1326 "The `AuthenticatedSessionContext` type is not exported from blitz"
### What is the problem?

The `AuthenticatedSessionContext` type is not exported from blitz

### How To Fix

The type is [defined here](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/supertokens.ts#L53) and needs to be re-exported [from here](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/index.ts#L29).

Note: experienced blitz contributors leave this for someone

[2020-10-14 20:29] #1305 closed

[2020-10-14 20:31] #1297 closed

[2020-10-14 21:23] #940 closed

[2020-10-14 21:40] flybayer opened #1331 "Error: db.connect is not a function, when using without Prisma"
### What is the problem?

Can't use queries without prisma

### Steps to Reproduce

1. Remove prisma and session management middleware
2. Run a regular query that doesn't access a database
3. See the error shown below.

### Other

[code]

### How To Fix

Here's the line that needs changed to work without a connect function defined: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/

[2020-10-14 23:05] #1326 closed

[2020-10-15 00:38] nitaking commented on #1318
We will succeed...
It seems to fail during blitz cli commits

[code]

The canary was successful, so maybe `--no-verify` option could fix it.

[2020-10-15 01:17] alexturpin opened #1333 "Can't install any recipe"
### What is the problem?

### Steps to Reproduce

1. Run `blitz install tailwind`
2. Go through steps until it says "Dependencies installed! Press ENTER to continue". Press ENTER.
3. This results in `ERROR  Text string "" must be rendered inside <Text> component`

### Versions

[code]

### Other

Full stack trace

[code]

[2020-10-15 01:21] flybayer commented on #1318
`--no-verify` is already added in `0.24.2`

[2020-10-15 01:23] flybayer commented on #1333
Oops, thanks for reporting this!

The issue is somewhere inside [the installer package](https://github.com/blitz-js/blitz/blob/canary/packages/installer/src/index.ts).

[2020-10-15 01:24] alexturpin commented on #1333
Also, and I'm not sure if this is relevant or should be a different issue, but I decided to just go ahead and try to follow the steps that the installer describes by hand, and by adding the import to `_document.tsx`, I am getting this in the terminal when running my app:

[code]

[2020-10-15 01:42] flybayer opened #1334 "Add recipe installer integration test"
### What do you want and why?

We need to add an integration test for the recipe installer to prevent bugs like blitz-js/legacy-framework#966

[2020-10-15 09:58] engelkes-finstreet commented on #1188
Hm I cannot figure it out. Is there someone who is a codeshift expert and could help me out with this?

[2020-10-15 10:34] cmjio opened #1337 "Build fails on clean install 0.24.2"
### What is the problem?
Building a `new` blitz project fails with the following error in version `0.24.2`.  The same steps when blitz version is downgraded to `0.23.3`

### Steps to Reproduce

1. Run `blitz new myApp` then `cd myApp`
2. Run `npm run build`

### Versions

[code]

### Other

[code]

[2020-10-15 15:37] flybayer commented on #1337
@cmjio you cut off the first line of the `blitz -v` output which shows the global version, but it appears you have an old version installed globally which will cause this issue.

So the solution is run `npm i -g blitz@latest` or `yarn global add blitz@latest` and then create a new app.

We have an open issue on showing a prompt to upgrade which would prevent this from happening: #1017

[2020-10-15 17:34] nahue commented on #1333
Im trying to figure this one out.. since i upgraded ink a few days ago.

[2020-10-15 17:47] nahue commented on #1333
I found the issue.. im creating a PR for this one

[2020-10-15 18:21] engelkes-finstreet commented on #1333
Okay, thank you @nahue. I did not have the time to look into it yet.

[2020-10-15 19:07] nahue commented on #1333
Posted this PR https://github.com/blitz-js/blitz/pull/1339 @engelkes-finstreet @flybayer

[2020-10-16 02:32] tzvipm opened #1340 ""Error: Cannot find module 'blitz'" when installing with volta"
### What is the problem?

volta ([volta.sh](https://volta.sh/)) is a tool for managing global toolchains in node projects (including binaries from npm). The way it does this uses a more isolated folder structure that doesn't put `blitz` inside of a `node_modules` folder. When invoking `blitz new <appName>` after installing with `volta install blitz`, `require-from` cannot resolve `blitz` itself.

[2020-10-16 14:58] nahue commented on #1221
Can you share your seeds file? i had the same problem.. but after a `log.error(err)` inside the exception handler of the seed method.. i realized that it was due to a syntax error inside a string.

[2020-10-16 15:51] #1333 closed

[2020-10-16 18:10] Skn0tt opened #1341 "useSession() during SSR"
### What do you want and why?

useSession() should also return data during SSR.
### Possible implementation(s)

Fetch the session data from the incoming request, make it available to useSession.

### Additional context

First discussed during the React Summit discussion.

[2020-10-17 02:48] nksaraf commented on #1331
Hi, I am going to take a stab at this, seems simple enough! Excited to contribute to this project.

[2020-10-17 04:12] JoseRFelix commented on #280
I recommend using [Mock Service Worker](https://github.com/mswjs/msw) to mock the requests at the network level using service workers. It is really easy to learn and use, and it lives separate from your code which makes it more readable. Check it out!

By the way, testing if a query or mutation is called is considered an implementation detail. I'm generally against it. Here is a really good [artic

[2020-10-17 08:14] simonedelmann commented on #1221
[code]

This is with latest blitz (0.24.3), fresh generated project.

[2020-10-17 15:47] sirmyron opened #1343 "useRouter returns a new object with each call"
### What is the problem?
The object returned from the useRouter hook returns a new object on each render which causes unexpected renders or the triggering of other hooks when used as a dependency.

### Steps to Reproduce

1. call `const router = useRouter()` in your function component
2. use it as a dependency for a useEffect() hook
3. the useEffect hook will always be triggered on each render

##

[2020-10-17 15:49] shaunchurch opened #1344 "useParam and useParams are missing values on first render"
### What is the problem?
In a new Blitz app after generating basic CRUD models/pages, when visiting `/projects/:projectId` `projectId` value is missing on first render. Subsequent renders contain the correct parameters.

`const projectId = useParam("projectId", "number")` = `NaN`.

This leads to a Prisma error, because NaN is passed as the argument for the ID.

### Steps to Reproduce

1. Run `blit

[2020-10-17 15:58] flybayer commented on #1343
Here's the source code for this: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-router.ts

I think the solution will use `useMemo` from react

[2020-10-17 16:47] svobik7 commented on #1031
@kripod I tested suggested eslint plugin and it works great! Just created PR. 👍

[2020-10-17 16:49] svobik7 commented on #1241
New update:
1. Cannot reproduce this in current canary when running `examples/plain-js`
2. Still getting this error when running `blitz new myApp` outside blitz package and then running the app

[2020-10-17 18:26] lukawski commented on #1343
Hi, I'm interested in fixing this bug.

[2020-10-17 19:32] flybayer opened #1346 "Add incremental config to new app's tsconfig.json"
### What do you want and why?

Add the following to the [new app template tsconfig](https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/tsconfig.json), in the `compilerOptions`.

[code]

[2020-10-17 23:56] aaronfulkerson commented on #1282
I think I understand what's going on now. Whenever a parameter changes, react-query is creating a new cache, treating it as an entirely new query with new references to fetch and mutate. I'm not sure what the solution is.

[2020-10-18 02:08] goleary opened #1349 "Font appears to load after content on docs site"
### What is the problem?
Font appears to load after content on docs site
### Steps to Reproduce

1. goto https://blitzjs.com/docs/tutorial
2. see font of text change after it becomes visible.

### Other

Windows 10 Chrome LTS

[2020-10-18 02:55] dulcehc commented on #1346
I will work on this

[2020-10-18 09:15] peaonunes commented on #1296
Interesting, I am unable to reproduce the issue. @danielrlc  @shaunchurch could you provide more information about your setup?

I just bootstrapped a new app with blitz then ran the test, and it actually raised an error, but it was able to find the test to run. The output:
[code]

[2020-10-18 09:46] shaunchurch commented on #1296
@peaonunes Thanks for looking into this. It looks like this was fixed in the latest release (https://github.com/blitz-js/blitz/pull/1323). Can confirm a recently bootstrapped project works just fine now, skipping the skipped test as expected. 👍

[2020-10-18 11:18] peaonunes commented on #1244
Yeah, tried the npm version and the local version.
The npm version on a brand new folder the error is:
[code]

The local version using the link and creating an app in the `examples` folder of blitz raises a different error 🤷 :
[code]

[2020-10-18 13:08] sirmyron commented on #1343
Sorry @lukawski I had started the change after creating the ticket

[2020-10-18 13:38] egonm12 opened #1353 "Move 'tsc' command to pre-push hook"
### What is the problem?
I want to suggest to move the `tsc` command from the `pre-commit` hook to the `pre-push` hook in the Blitz boilerplate project. The reason for this change is that I find myself quite often in the middle of changes where I only want to commit a chunk of it (e.g. a style change).
Because there is no official way of running `tsc` on specific files you are not able to only che

[2020-10-18 13:40] JedWatson commented on #1221
In case this is helpful, wanted to share that I hit this as well on a fresh generated project (0.24.3)

And in the spirit of testing I got a local clone of the main blitz repo, ran through the [contributors guide[(https://blitzjs.com/docs/contributing) (props on that by the way!) and got everything set up with `yarn dev` and `yarn link-cli`.

Then I ran `yarn link blitz` in my generated project, f

[2020-10-18 15:35] #984 closed

[2020-10-18 15:35] lukawski commented on #1343
Ah, okay, I guess I'll find something else 😁

[2020-10-18 15:58] mhmdAljefri opened #1354 "blitz db seed not working for me"
### What is the problem?

Cannot run seeds command on blitz cli. once I run this I got this message below and I'm sure I have the `seeds.ts` file

Couldn't import default from db/seeds.ts or db/seeds/index.ts file

### Steps to Reproduce

1. `blitz new appName # with low-speed internet connections
2. `cd appName && yarn
3. blitz db seed

### Versions

Linux 5.4 | linux-x64 | Node: v12.18.4

blitz:

[2020-10-18 17:41] flybayer commented on #1282
@aaronfulkerson can you fork [this blitz codesandbox](https://codesandbox.io/s/laughing-wave-24464?file=/package.json) and make a reproduction of your problem? Currently I don't grasp exactly what the issue is.

(After changing the schema in the sandbox, click "Restart Sandbox" under the "Server Control Panel" button on the far left sidebar.)

[2020-10-18 18:27] tundera commented on #1354
I noticed this wasn't working for me either the other day too

[2020-10-18 19:03] patosullivan commented on #1354
Yep, seeing the same issue.

[2020-10-18 20:07] flybayer commented on #1296
I still had this issue, and got it fixed in #1355

The newapp jest config had `modulePathIgnorePatterns: [".blitz"]` to ignore the blitz build directory, but this is a regex and so if the project name had "blitz" in it, then all tests in the project would be ignored.

[2020-10-18 20:25] egonm12 opened #1356 "RootErrorFallback has incorrect "Error" interface for some errors and is therefore casted to "any""
### What is the problem?
This problem consists of two issues:
1. The type of `error` in the interface `FallbackProps` from `react-error-boundary` is inconsistent with the actual error the `RootErrorFallback` contains in some cases. Because of this, the errors that are handled inside the `RootErrorFallback` component are therefore casted to `any`. E.g.:
[code]

2. A fallback for an `AuthenticationE

[2020-10-18 20:30] #1296 closed

[2020-10-18 21:12] #1331 closed

[2020-10-18 21:25] flybayer commented on #1353
You have a great point. Here's where this needs changed: https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/package.json#L23

[2020-10-18 21:26] flybayer commented on #1354
Duplicate of #1221, so closing this one. Subscribe to that issue for updates :)

[2020-10-18 21:26] #1354 closed

[2020-10-18 21:28] flybayer commented on #1221
It seems this works fine with the local dev version of blitz, but not with a blitz version from npm.

[2020-10-18 21:29] #1346 closed

[2020-10-18 21:32] flybayer commented on #1349
We are using a web font, so that's just how this works, unfortunately!

[2020-10-18 21:33] #1303 closed

[2020-10-18 21:37] flybayer commented on #1356
Do you have a suggestion for how to improve this?

And fyi, the type of `error` inside `RootErrorFallback` comes from react-error-boundary.

[2020-10-18 21:44] #1343 closed

[2020-10-18 21:47] flybayer commented on #1341
I think this probably requires a babel plugin. Essentially if getServerSideProps is used on a page, then we need to automatically add the session publicData to the ssr props and then inside the page add a context provider or something to pass the initial data to useSession()

[2020-10-19 00:35] machadolucasvp commented on #1353
I would appreciate working on that, can I go :) ?

[2020-10-19 04:52] Skn0tt commented on #1341
Does SSR go through one of our Middlewares? If yes, we could use it to write the session data into the global namespace and then access it from there.

[2020-10-19 08:35] praneetrohida opened #1364 "Multiple simultaneous connections break the app in dev mode"
### What is the problem?
Opening any blitz app in dev mode on 8 or more devices at the same time in Sizzy breaks the app.

### Steps to Reproduce

1. Start any blitz app in dev mode
2. Open the app in Sizzy with 8 or devices in view  (a device is equivalent to a tab in Chrome)
3. The app crashes on all the devices, with very high CPU usage, and everything becomes frozen. I sometimes get this error

[2020-10-19 09:31] egonm12 commented on #1356
@flybayer I understand that the type of `error` comes from `react-error-boundary` so we have two options here:
- Option 1: Create a new type based on the type of `react-error-boundary` but extend it with the other possible error type(s). Probably something like
[code]

With just this solution you are already able to cast to the `CustomErrorType` instead of `any` which already is much better.

- Op

[2020-10-19 10:53] gielcobben opened #1365 "useInfiniteQuery cache is broken"
### What is the problem?

Since v0.24.0 the cache brakes when using `useInfiniteQuery()`. In my app I’ve a sidebar where you can switch between projects by navigating through: `projects/[id]`. This is basically the same page but the id in the route changes and the page should query new items based on that id.

After a [discussion on Slack](https://blitzjs.slack.com/archives/C011EQ0J75M/p1601938787

[2020-10-19 12:23] nksaraf commented on #1133
I have been working on some stuff to make the API layer work with Expo and React Native. This almost necessarily involves a Babel plugin but also unlocks a lot of stuff. The import on the  client side is transpiled to the rpc client in the same file. But using the plugin we can easily manage named exports on all sides. The named exports can be considered as sub-functions, so part of the RPC call c

[2020-10-19 17:13] goleary commented on #1349
That's a bummer.  I would've imagined there's some way to load the font files before displaying the text but perhaps that would also make for a bad experience (longer time till text is visible).

I don't have any experience working with web fonts so this is all conjecture.

What's surprising to me is that even on subsequent visits, I still see the same thing.  I'd also think the font resources cou

[2020-10-19 17:27] jose-donato commented on #1308
There is any production website live using blitz that we can target?

[2020-10-19 17:31] aaronfulkerson commented on #1282
@flybayer https://codesandbox.io/s/friendly-cache-4tkmz

Not everything is there but if you go to the companies page and add a new company, everything works as expected. Now go to the projects page, select a company and create a new project--mutate doesn't work. Disable suspense on the getProjects query--mutate works.

[2020-10-19 19:06] Skn0tt commented on #1308
Is it required that you target the live version or could I setup another deployment of quirrel.dev one that's not critical?

[2020-10-19 19:29] goldo commented on #1282
Hi! I'm having the same issue and it seems to be resolved when suspense is disabled.

Context of my problem:

I have a list of user and a list of games, and I linked games to users.
getUserGames retrieve the user’s games
the user can add Games to his list, the mutation seems fine. But when I mutate the initial query, the query is launched, but its not used, react query seem to return the cache wit

[2020-10-19 21:41] flybayer commented on #1308
Probably you can use https://blitz-jobs.com. Ok @sandulat?

[2020-10-20 02:21] jose-donato commented on #1308
It would be more realistic doing the pentest on a live version.

That would work.

I will try to do everything locally and only if necessary fallback to blitz-jobs.com (if @sandulat gives permission, of course)

[2020-10-20 12:52] benediktms opened #1368 "Small fix to Cypress test example"
### What do you want and why?
The current example for the Cypress test has some small typos on the login buttons (anchor tags), that get generated when spinning up a new Blitz app. Currently, the buttons say "Login" not "Log In". There are some other inconsistencies on the Login form as well, where the button (not anchor tag) states "Log In".

This is a small change, but a nice touch for those tha

[2020-10-20 13:03] benediktms commented on #1368
I will create a PR for a fix 👍

[2020-10-20 21:30] sirmyron opened #1371 "Client-side middlewares"
### What do you want and why?
I want to suggest supporting client-side middlewares (or maybe interceptors is a better way to think about it) that work in a similar way that the server middlewares do and allow you to modify requests/responses during the client-side useQuery executions.

My specific scenario is that I want to add a JWT token to requests that will be used in subsequent requests on th

[2020-10-20 22:05] flybayer opened #1372 "Doesn't work with pnpm"
### What is the problem?

pnpm works fine with Next.js via next@canary. However in blitz apps, it fails with:

[code]

### Steps to Reproduce

1. Create new blitz app (`blitz new myapp`)
1. Add this to package.json
[code]
1. `rm -r node_modules`
1. `pnpm install`

[2020-10-20 22:17] flybayer commented on #1372
A second issue is using the global blitz cli. This is with blitz installed globally with pnpm and with app deps installed with pnpm.

[code]

[2020-10-21 02:20] flybayer commented on #1364
That doesn't sound good! Thanks for reporting this.

[2020-10-21 04:17] nitaking commented on #1221
Resolved by @nemesv :)

[2020-10-21 06:55] egonm12 commented on #1356
@flybayer I am willing to create a PR for this improvement.

[2020-10-21 14:08] #1221 closed

[2020-10-21 16:39] engelkes-finstreet commented on #1298
Hey @aem
I am thinking about the implementation for this right now. This is what I came up with

Extend the constructor with all the prompts you want to run in the generator
`constructor(protected readonly options: T, protected readonly prompts?: Array<Prompt<S>>)`

and use it like this

     const formChoices: Array<{name: AppGeneratorOptions["form"]; message?: string}> = [
        {name: "React

[2020-10-21 20:13] JoseRFelix commented on #1353
I will be doing this!

[2020-10-21 21:41] engelkes-finstreet commented on #1164
Hey @nitaking
are you still running into this issue. I thought you had the problem with a new app, but it seems that you have some changes on the `index.test.tsx`. Can you give me more hints how to reproduce the problem?

[2020-10-21 23:07] flybayer commented on #1282
Update: I haven't figured out the root problem, but I have figured out a weird workaround that makes everything work:

[code]

Without that extra empty config object, the page never re-renders and useQuery never gets called, which is why you never see the new data. The new data exists in the cache properly, it's just not being rendered.

It's also interesting that this bug doesn't exist when runni

[2020-10-21 23:09] flybayer commented on #1282
AAAAH! Looks like this was a bug in experimental react! Upgrading react and react-dom to `0.0.0-experimental-4ead6b530` appears to fix this!

Please try that and report back.

[2020-10-21 23:10] flybayer commented on #1365
@gielcobben can you please upgrade react and react-dom to `0.0.0-experimental-4ead6b530` and see if you still have this bug?

[2020-10-21 23:18] zkochan commented on #1372
Regarding the initial issue, looks like the bundler or whatnot is searching for the next dependency in the root of node_modules, so either install next as a direct dep, or fix the bundler or use `public-hoist-pattern[]=next`

[2020-10-22 00:16] MrLeebo commented on #1308
One thing we could consider doing is set up an opinionated default set of security headers for new blitz apps based on [OWASP Secure Headers](https://owasp.org/www-project-secure-headers/) using [Next.js Custom Headers](https://nextjs.org/docs/api-reference/next.config.js/headers)

[2020-10-22 00:25] MrLeebo commented on #1308
Here are the header [scan results](https://securityheaders.com/?q=https%3A%2F%2Fquirrel.dev%2F&hide=on&followRedirects=on) for quirrel.dev as an example

[2020-10-22 01:41] aaronfulkerson commented on #1282
Yeah I figured that out a couple of hours ago. When you use mutate on an array you need the old data too. Thanks for figuring this out!

[2020-10-22 01:50] aaronfulkerson commented on #1282
No luck here.

[2020-10-22 02:01] ShikChen commented on #1164
I had the same issue before and it's fixed by https://github.com/blitz-js/blitz/pull/1323.

[2020-10-22 06:18] gielcobben commented on #1365
@flybayer Yes, still having this issue.

[2020-10-22 09:12] sandulat commented on #1308
@flybayer @jose-donato Sorry for the delay! It's ok to test on https://blitz-jobs.com/.

[2020-10-22 16:02] engelkes-finstreet commented on #1298
I thought about this in the evening and I guess we should move everything inside the generator. Let me give this another try and I will create a draft PR.

[2020-10-22 17:51] aaronfulkerson commented on #1282
Even after updating to 0.25.0-canary.0 I'm still not able to get refetch working. I switched to refetch after realizing mutate didn't work the way I thought it did although passing a function to setQueryData looks really good.

[2020-10-22 23:18] goldo commented on #1282
same here, `mutate()` and `refetch()` not working with suspense on this. With the latest canary of blitz, I couldn't make setQueryData work quickly and refetch was not working either

[2020-10-23 14:02] mweibel opened #1376 "`blitz db seed` requires typescript as production dependency"
### What is the problem?
`blitz new` adds `typescript` as a devDependency, [`blitz db seed` requires typescript](https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/utils/setup-ts-node.ts). When using `npm install --production` and trying to execute `blitz db seed`, it silently fails:

[code]

Using `DEBUG=* ./node_modules/.bin/blitz db seed` showed me that it's somehow working until it

[2020-10-23 18:47] zenhob opened #1378 "`blitz build` fails with exit code zero (success)"
### What is the problem?

The command `blitz build` exits with a zero exit code on build failure, making it difficult to detect failure

### Steps to Reproduce

1. make a change to my code that violates typescript rules as configured
2. `blitz build` fails as expected
3. `echo $?` returns zero, indicating success of the previous command

### Versions

[code]

[2020-10-24 04:49] goleary opened #1379 "Custom Data fetching hook built on top of useQuery fails due to undefined response"
### What is the problem?

I'm trying to define a custom data hook that is built on top of Blitz's `useQuery` hook.

Here is my hook code:

[code]

When I call `useQuery` with `getEntries` (generated by Blitz) it returns an undefined response.  The type returned by useQuery in this instance is a response that always has an `entries` property, but in practice that is not what I'm seeing happen.

Err

[2020-10-24 08:35] jamiedavenport commented on #1378
Hey @zenhob, I think this has already been fixed in a pre-release version of Blitz (https://github.com/blitz-js/blitz/releases/tag/v0.25.0-canary.0) by https://github.com/blitz-js/blitz/pull/1316.

[2020-10-24 08:35] #1378 closed

[2020-10-24 14:42] abuuzayr commented on #1372
I can recreate this issue. I followed the steps to reproduce, ran `pnpm start` and got the same error message.

I also tried @zkochan's suggestion and added `public-hoist-pattern[]=next` to `.npmrc`, but I got the same error.

I even tried adding `public-hoist-pattern[]=next/babel` instead, to no avail.

Perhaps I did it wrong?

At the same time, I did notice that there is no `.next` folder in `.b

[2020-10-24 17:36] abuuzayr commented on #1364
I was able to recreate this sometimes, not with Sizzy - no issues opening 10 devices - but with several open tabs in Chrome (along with the 10 Sizzy devices still open). I don't believe it has to do with browser/HTTL connection limits which was [fixed by Sizzy via a workaround](https://twitter.com/thekitze/status/1154763673832964096) but I may be wrong. Even after I got the same Unhandled Runtime

[2020-10-24 17:45] abuuzayr commented on #1017
I can work on this. Can I confirm that the recommended method when `blitz new` is run is to:

1. Check the global blitz version
2. Prompt user to upgrade "Your blitz CLI version is outdated. Upgrade? (y/n)"
3. If yes, upgrade their global blitz version and run `blitz new`
4. If no, cancel the `blitz new` command

[2020-10-24 17:53] abuuzayr commented on #1337
I can confirm that this is not an issue, I just ran `blitz new` on 0.24.3 with no issues.

[code]

[2020-10-25 17:13] aem commented on #1017
@abuuzayr that seems reasonable. I'd amend the prompt to have three options, something like:

1. Update my global Blitz installation
2. Don't update Blitz, but use `npx` to use latest version
3. Don't update Blitz, abort generation
4. Generate using my current version of Blitz (not recommended, X.Y.Z is K months old)

We should still let users generate using their local copy, but we should discour

[2020-10-25 19:31] #1353 closed

[2020-10-25 19:32] #1031 closed

[2020-10-25 19:40] flybayer commented on #1308
@MrLeebo great idea on setting up secure headers by default somehow

[2020-10-25 19:43] flybayer commented on #1344
I'm going to look at this once I get https://github.com/blitz-js/blitz/issues/1282 figured out.

[2020-10-25 19:44] flybayer commented on #1341
No, it doesn't currently. But we could add that

[2020-10-25 19:54] flybayer commented on #1133
@nksaraf so sorry for the unusually long delay in replying! But that's fantastic work you've done! I love that type of stuff :) Using a babel plugin is definitely a great option.

That said, I don't we can support named exports like the OP wants, because we have a hard requirement of having the type imports work statically.

Also, I'm not super pumped about allowing each RPC endpoint to have more

[2020-10-25 19:57] #1120 closed

[2020-10-25 20:06] #1164 closed

[2020-10-25 20:16] #1376 closed

[2020-10-25 20:20] flybayer commented on #1379
Hey @goleary! That definitely is weird. I can't think of why that wouldn't work. We don't mess with the hooks/components during the build, so what you see is what you _should_ get :)

Someone just needs to dig in and do some debugging on this.

[2020-10-25 20:27] flybayer commented on #1364
Oh! So the only error you had was the unicode error? That unicode error is [a Next bug](https://github.com/vercel/next.js/issues/17056) and isn't related to multiple connections (I get it every so often with a single connection)

[2020-10-25 20:28] #1337 closed

[2020-10-25 20:34] flybayer commented on #1017
I don't think npx as an option makes that much sense, because usually you will have blitz installed globally or use npx, not both 🤔

I like @abuuzayr proposal with difference of allowing using the old version

1. Check the global blitz version
1. Prompt user to upgrade "Your blitz CLI version is outdated. Upgrade? (y/n)"
1. If yes, upgrade their global blitz version and run blitz new
1. If no, con

[2020-10-25 22:10] nksaraf commented on #1133
I am sorry but I don't understand this? How does Next consolidate functions? Each query/mutation we define becomes a serverless function right? This is what I gathered from the build output and vercel build logs. I might be mistaken? On the free tier, Vercel has a limit of 12 serverless functions only. So this can cause limitations in terms of the number of queries/mutation we can define.

Referen

[2020-10-26 10:16] kitze commented on #1364
@flybayer Sizzy works fine with Next.js, it's something in Blitz that's tripping it up but we cannot figure out what.

[2020-10-26 14:24] abuuzayr commented on #1364
@flybayer yes that was the only error I got, and exactly with the steps that you mentioned in the issue. Also @kitze is probably right, I tried the same steps with a plain Next.js project and couldn't get the unicode error. Also, loading/re-loading Sizzy/multiple tabs is much faster too, than with blitz.

With my limited understanding, I think there are much more things running under the hood with

[2020-10-26 18:59] xiaoyu-tamu commented on #1133
@nksaraf

If I'm not wrong, this limitation is not for next.js projects

[2020-10-26 19:15] nksaraf commented on #1133
I read this too and was still unclear what it meant. It says it's "unlikely". Just to understand this.. if we have 'queries/getUser' and 'queries/getTasks' wouldn't this be two different serverless functions or are they bundled together somehow. This might not be the best place to answer this but this was my confusion.

[2020-10-26 22:56] flybayer commented on #1364
As far as I can tell, the unicode error can simply be ignored for now until the bug is fixed in next. I don't know why this error mainly shows up in blitz.

As for the resource usage & crash, I don't have any ideas right off on what this could be.

Resource usage wise, the only thing blitz adds is a, file watcher and compiler process that copies your source code into `.blitz/` and makes a few tran

[2020-10-26 23:00] flybayer commented on #1364
After writing that, I got a hunch on what could be the problem.

In the code behind `useSession()`, we have a [`PublicDataStore`](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/public-data-store.ts#L8) class that sets up a listener on the window `storage` event to ensure session changes are synchronized between tabs.

And I can see now that we are writing to localstorage on initia

[2020-10-26 23:08] flybayer commented on #1133
The team at Vercel have confirmed multiple times that the function limit doesn't affect nextjs apps unless your app is super massive.

I quote from @timer from the Vercel slack:

That's because they automatically consolidate endpoints into shared lambdas.

[2020-10-26 23:12] flybayer commented on #1356
@egonm12 ok yeah, good ideas!

Currently the type guard functions would be needed, but I think once we update superjson in blitz to be the latest and use superjson for the errors, we can use `instanceof` to check against the built-in blitz errors.

[2020-10-27 00:22] flybayer commented on #1364
Loading/re-loading tabs should have zero difference between next/blitz 🤔

[2020-10-27 00:39] nksaraf commented on #1133
Ohh thats great! That makes things simpler.

Just to clarify, are the two functions `getUserTasks` and `getUserData` exported (mixed default and named) from the same file and the endpoints will be different?

OR `getUserTasks` will be in a file in a sub-folder (normal file-structure API?)

[2020-10-27 00:48] flybayer commented on #1282
Finally some I made some progress! I'm so sorry for the delay on this. Was traveling last week and some other life stuff to deal with.

### Root Cause

react-query `2.7.0` broke this.

Here is the open react-query issue for this bug: https://github.com/tannerlinsley/react-query/issues/1160

### Workaround

Add this to package.json and then run `yarn` again

[code]

---

Btw, I realized that adding

[2020-10-27 01:00] flybayer commented on #1365
@gielcobben So sorry for the delay on this!

 I highly suspect this is the same problem as #1282 which I tracked down to a bug in react-query that broke in `2.7.0`: https://github.com/tannerlinsley/react-query/issues/1160

Workaround is add this to package.json and then run `yarn` again

[code]

Can you try that and report back?

[2020-10-27 01:01] flybayer commented on #1133
In your app code, they would be in the same file with default and named export. But the we'd compile it to the normal nested sub-folder structure.

[2020-10-27 01:12] aaronfulkerson commented on #1282
@flybayer should that work? It doesn't. Is the version in my project's package.json getting overridden by the version Blitz is using?

[2020-10-27 01:18] flybayer commented on #1282
@aaronfulkerson Yes, that works as long as you are using yarn and not npm. That resolutions config will override the version that comes with blitz.

Here's the sandbox showing it working: https://codesandbox.io/s/adoring-kowalevski-gf0vc?file=/package.json

[2020-10-27 01:23] aaronfulkerson commented on #1282
Didn't realize I had to use yarn. Thank you for taking care of this.

[2020-10-27 01:24] flybayer commented on #1282
Yeah, npm should definitely support that feature too

[2020-10-27 01:33] aaronfulkerson commented on #1282
Still doesn't work, I give up. Maybe @goldo can give it a shot.

[2020-10-27 07:50] gielcobben commented on #1365
No problem man.

Nothing changes when adding react-query 2.6.0. When switching pages the result stays the same when using `useInfiniteQuery`.

[2020-10-27 10:35] Sought1999 commented on #1365
Hello,

I humbly request that I be unsubscribed from your mailing list, I receive
too many emails from you which are of no use to me. I would appreciate if
my request is taken into consideration ASAP.

KIND REGARDS

On Tue, Oct 27, 2020, 2:00 AM Brandon Bayer <notifications@github.com>
wrote:

[2020-10-27 10:58] nksaraf commented on #1133
Okay yeah that makes sense. I would like to take a plunge at this! I have been working on the React Native support with a Babel plugin and I think that can be used for this as well.

This could be a problem in one scenario: If a file exports `*` from another file^, we won't be able to statically figure out what all the named exports are, so this might be required to ensure we can serve that case.

[2020-10-27 12:57] Khaledgarbaya commented on #1017
👋 I am no expert here, did you folks consider using the oclif [auto-update](https://github.com/oclif/plugin-update)?

[2020-10-27 13:21] sirmyron commented on #1371
Gave this some more thought and I think "interceptors" may be a better name than "middleware" as it more aligns with how things work on the client side, particularly because we'd have to separate the request from the response.

Here's the proposal I have in mind for changes to the RPC call:

[code]

Some additional points:
- we could define the handler chain in blitz.config.js just as middleware (

[2020-10-27 17:17] mattfwood opened #1387 "`getSessionContext` does not work on Vercel / serverless environment"
### What is the problem?
When trying to run `getSessionContext` in `getServerSideProps`, it works as expected locally but not when deployed to Vercel in a serverless environment:

[code]

I've tried looking into the Blitz source code to open an MR for this, but i wasn't sure where to start. It looks like it's related to how supertokens is initialized, but i think because it's serverless it can't s

[2020-10-27 21:23] egonm12 commented on #1356
@flybayer great suggestion. I think it is already possible to use the `instanceof` type guard. Why would updating superjson be needed according to you?

[2020-10-28 00:52] flybayer commented on #1282
@aaronfulkerson can you run `yarn why react-query` and make sure there's only one react-query version installed and that it's `2.6.0`?

[2020-10-28 00:58] flybayer commented on #1387
@mattfwood I think this is the same root problem as https://github.com/blitz-js/blitz/issues/794. Can you try adding the lines of code as shown in that issue?

[2020-10-28 01:19] carlosbaraza opened #1390 "Default Prettier configuration"
### What do you want and why?

Firstly, thank you for this great and promising project. Getting started I noticed that the new projects come with a custom Prettier configuration:

[code]

Not to get into the semicolon war, but I think a majority of developers use the default configuration of Prettier, and it seems a bit unnecessary to enforce a custom styling.

### Possible implementation(s)

Remo

[2020-10-28 02:01] #1390 closed

[2020-10-28 02:07] flybayer commented on #1017
@Khaledgarbaya my understanding is that only works if the CLI is published as a binary, which we don't do 🤔

[2020-10-28 02:16] #1365 closed

[2020-10-28 02:20] flybayer commented on #1365
Fixed in `0.25.0-canary.1`

[2020-10-28 10:11] Khaledgarbaya commented on #1017
in that case, I think [this](https://github.com/npm/cli/blob/ab22c43a6a5ddcd9b59eb3df3db4e1a0dffdcaaa/lib/utils/update-notifier.js) from the npm codebase can help

[2020-10-28 12:11] jan-wilhelm commented on #279
any news on this, now that NextJS 10 is used in Blitz and includes official support for i18n routing?

[2020-10-28 14:43] flybayer commented on #1233
@Alucard17 did you make any progress on this? Or should I mark it back for anyone else to work on?

[2020-10-28 14:44] flybayer commented on #1233
fyi for anyone, related code is here: https://github.com/blitz-js/blitz/blob/canary/packages/repl/src/utils/load-blitz.ts

[2020-10-28 15:28] goldo commented on #1282
@flybayer it does solve the problem!! 🙌  thanks a lot!

[2020-10-28 16:43] flybayer commented on #1282
I'm planning to revert the bundled version back to 2.6.0 for now

[2020-10-28 17:21] phoshenwen commented on #416
Facing the same problem, just updating @flybayer's [link](https://github.com/blitz-js/superjson#using-with-nextjs)

[2020-10-28 18:19] flybayer commented on #416
Fyi, we have an open issue to add this to blitz core: #1043

[2020-10-29 01:44] flybayer commented on #1133
@nksaraf ok!

I'm not totally following on the `export *` issue you are talking about.

The blitz compiler moves the actual resolver code into `_resolvers` and replaces the original file with the isomorphic handler. And the compiler also supports relative imports.

[2020-10-29 01:48] flybayer commented on #279
@jan-wilhelm no news! Now that that's released, it's up to y'all to decide if there's more stuff that we should add on top of that in blitz.

[2020-10-29 03:05] abuuzayr commented on #1017
Thanks @Khaledgarbaya ! Will look into that for some inspiration.

[2020-10-29 19:51] nksaraf commented on #1133
For example, if a query file is as such (multiple named exports),
[code]

Then during import,
[code]

Then we wont be able to figure out which resolver files / API endpoint files need to be created for individual functions without following the dependencies. That can be difficult and error prone. But the Typescript support will continue to work with this example.

That's why I was suggesting that

[2020-10-29 19:56] nksaraf commented on #1043
I think a Babel preset is the way to go since we can include other custom Babel plugins also if we want to customize the behavior further. I am working on a plugin to help with named exports from the API (#1133), which could also be included in this. For React Native / Expo support also, the Babel plugin is a necessity to transform code before building.

[2020-10-30 16:19] abuuzayr opened #1398 "Type error with setQueryData when blitz generates the [edit].tsx file on 0.25.0-canary.1"
### What is the problem?

`Property 'setQueryData' does not exist on type 'Pick<QueryResult<Profile, unknown>, "canFetchMore" | "clear" | "error" | "failureCount" | "fetchMore" | "isError" | "isFetched" | "isFetchedAfterMount" | "isFetching" | ... 10 more ... | "updatedAt"> & QueryCacheFunctions<...>'.ts(2339)`

### Steps to Reproduce

1. `blitz new test-app`
2. `cd test-app`
3. `blitz db migrate`

[2020-10-30 19:10] flybayer commented on #1398
@abuuzayr looks like this is because the version of blitz installed in the app is `0.24.3` instead of `0.25.0-canary.1` 🤔

[2020-10-30 19:46] mattfwood commented on #1387
@flybayer looks like that fixed it! I'll go ahead and close this and let it be resolved in #794

[2020-10-30 19:46] #1387 closed

[2020-10-30 22:53] LoriKarikari opened #1399 "`useInfiniteQuery()` page values are undefined"
### What is the problem?

When using `useInfiniteQuery()` with `blitz 0.25.0-canary.1`, `page.take` and `page.skip` are undefined.

### Steps to Reproduce

~~I've tried to create a Codesandbox example from a GH repo: https://codesandbox.io/s/still-currying-2u451. However, CodeSandbox is picking it up as a `React` project and I was struggling to make it work.~~

Working Codesandbox: https://codesan

[2020-10-30 23:06] flybayer commented on #1133
@nksaraf ah, ok yeah got it. I really think we should limit 1 function per endpoint. However I think this should work vs generating api route files for each one:

[code]

And then all the following endpoints work:

[code]

[2020-10-30 23:08] nksaraf commented on #1133
Ohh yeah this is neat!

[2020-11-01 18:48] bcye commented on #1309
I can work on this

[2020-11-01 18:53] bcye commented on #1309
An example for a package.json:

[code]

[2020-11-01 18:57] aaronfulkerson commented on #1221
Can we reopen this issue? The seeding fails if you try importing something from another file.

[2020-11-02 00:58] peaonunes commented on #1221
Perhaps that is a different issue to review import functions support. Or is that failing out of the box after bootstrapping the blitz app?

[2020-11-02 09:45] hardfire opened #1403 "yarn build returns 0 even if it failed"
### What is the problem?
I run `yarn build` and `yarn test` on gitlab ci to run tests. `yarn build` returns 0 even if it fails and this causes the ci enviornment to continue instead of reporting an error.

### Steps to Reproduce

1. setup app to fail on yarn build
2. run `yarn build`
3. run `$?` on cli to see exit code

### Versions
24.3
[code]

### Other

Please include applicable logs and screen

[2020-11-02 14:30] flybayer commented on #1403
@hardfire this should be fixed as of `v0.25.0-canary.0` or higher

[2020-11-02 15:13] kevinfaveri opened #1404 "useQuery hooks to support param for server side rendering"
### What do you want and why?

Today when we use useQuery it is like UI http request to Next.js API dynamic generated... And if I want to server side render, I would need to implement Next.js getServerSideProps.

### Possible implementation(s)

I think the useQuery hooks could have an optional param that would convert the logic to getServerSideProps, so we would've abstracted the need to implement

[2020-11-02 18:56] aaronfulkerson commented on #1221
It should fail after bootstrapping a new app. Try importing the hashPassword function from the auth-utils file.

[2020-11-03 09:15] LoriKarikari commented on #1191
Thanks to everyone who participated in this year's Hacktoberfest!

[2020-11-03 09:15] #1191 closed

[2020-11-03 15:06] flybayer opened #1405 "Remove <Link> `as` prop from page templates"
### What do you want and why?

`<Link` no longer requires both `href` and `as` props for dynamic links. So we need to update [all our page templates](https://github.com/blitz-js/blitz/tree/canary/packages/generator/templates/page) to only use `href`.

[2020-11-03 15:37] ericsakmar opened #1406 ""Couldn't find a match" when attempting a global install."
### What is the problem?

The error message below shows up when I attempt to run `yarn global add blitz` and `npx blitz new hello-blitz`.

[code]

When trying to run `sudo npm install -g blitz`, I get the same error message as https://github.com/blitz-js/blitz/issues/1003.

### Steps to Reproduce

1. `yarn global add blitz` or `npx blitz new hello-blitz`

### Versions

Current

[2020-11-03 16:00] ericsakmar commented on #1406
My bad - running `yarn cache clean` solved the problem.

[2020-11-03 16:00] #1406 closed

[2020-11-03 17:20] isoppp opened #1407 "TypeError: Cannot read property '_clientVersion' of undefined (0.25.0-canary.1 )"
### What is the problem?

Causes following error when open localhost:3000.
( But the result seems to be no problem. )

[code]

### Steps to Reproduce

1. `npx blitz@canary new .`
2. `yarn run blitz run migrate`
3. `yarn start`

### Versions

[code]

### Other

- v0.24.3 works fine
- It seems like Prisma.$connect lost `this` scope

I guess it has happened since https://github.com/blitz-js/blitz/pul

[2020-11-03 18:27] flybayer commented on #1407
Interesting, I was thinking it was a [bug in prisma](https://github.com/prisma/prisma-client-js/issues/926), but you do have a good theory here since this doesn't happen with 0.24.3.

[2020-11-03 19:14] Daidalos117 opened #1408 "Antd and freezenig"
### What is the problem?
When using Antd, some components make app to freeze. In pure Next.js everything works fine.
Next version: https://codesandbox.io/s/unruffled-hawking-d188t?file=/pages/index.js
Blitz version: https://codesandbox.io/s/angry-haslett-vpo0m?file=/app/pages/index.tsx
It's slightly different, because I cannot make the less import to work in codesandbox. But it works the same on l

[2020-11-04 01:57] isoppp commented on #1407
@flybayer
Could I get detailed reproduce steps of `Run a regular query that doesn't access a database` in #1331 ?
I'm going to make a PR to fix this

[2020-11-04 02:26] developer-rakeshpaul opened #1410 "Getting blitz work with a monorepo setup"
### What is the problem?
Anyone got blitz running inside a mono repo.. I tried to setup a monorepo with both rushjs and Lerna with yarn workspaces.. getting following error with Lerna
[code]
### Steps to Reproduce

1. Please clone the following repo https://github.com/developer-rakeshpaul/blitz-lerna.git

2. npx lerna bootstrap

3. try running blitz app using yarn start from packages/web folder

#

[2020-11-04 03:57] isoppp commented on #1408
Same here.
I’m not sure but I doubt this might be something related to Concurrent Mode or the experimental React version that blitz.js is using.
UI Frameworks seem to need to be making a lot of effort to support v17 and especially concurrent mode.

[2020-11-04 09:53] Daidalos117 commented on #1408
Thank you for you reply, you showed me the right direction. I made few test and Antd is cool with React 17, [but doesn't really like the concurrent mode](https://codesandbox.io/s/agitated-feather-bu40g?file=/src/index.js). Closing, because it's not Blitz fault of course.

[2020-11-04 09:53] #1408 closed

[2020-11-04 14:48] rayandrews commented on #1407
I got this issue too.

[code]

CMIIW @flybayer

I think the meaning of `Run a regular query that doesn't access a database` is kinda like this:

[code]

I get this issue too and hopefully @isoppp pull request can fix the issue completely

[2020-11-04 14:57] flybayer commented on #1407
@isoppp yes, don't use a db like @rayandrews showed

[2020-11-04 15:14] isoppp commented on #1407
Thank you for the example!
I'll try to fix this :)

[2020-11-04 23:56] #1405 closed

[2020-11-05 01:01] #1017 closed

[2020-11-05 01:09] talbet-qga opened #1413 "error: File not found with singular glob"
### What is the problem?

When trying to start an brand new project I get the following error

[code]

Could be related to #388 but TAGS makes me think it is unrelated.

### Steps to Reproduce

1. run `blitz new btest` (have also tried with --npm and --no-git)
2. run initial migration inside btest directory
3. run `blitz start`

### Versions

[code]

### Other

I have tried to create an empty TAGS

[2020-11-05 01:28] flybayer opened #1415 "Remove "React" imports from page templates"
### What do you want and why?

We need to remove the "React" import from [all our page templates](https://github.com/blitz-js/blitz/tree/canary/packages/generator/templates/page). This is not needed, so should be removed.

[2020-11-05 01:43] flybayer commented on #1221
@aaronfulkerson open a new issue for that

[2020-11-05 02:08] flybayer commented on #1410
@developer-rakeshpaul looks like you forgot to push some commits to that repo (no blitz app in web). But I added a blitz app to the web folder myself to test, and it is working fine. I'm unable to reproduce your error.

[2020-11-05 02:11] flybayer commented on #1413
Hmm, I'm unable to reproduce.

What version of git do you have installed?

[2020-11-05 02:11] nitaking commented on #1410
I same with flybayer.

[2020-11-05 02:26] developer-rakeshpaul commented on #1410
@flybayer @nitaking not sure what happened with the checkin. I am still facing the issue.. I have updated the packages with a newly created blitz app.. run `npx blitz new web` in the mono repo to create a new project I am still getting the same error

`Error: Cannot find module '/Users/johndoe/Workspace/projects/blitz-lerna/node_modules/date-fns/index.js'. Please verify that the package.json has a

[2020-11-05 02:31] talbet-qga commented on #1413
git version 2.28.0

[2020-11-05 02:33] flybayer commented on #1410
@developer-rakeshpaul do you have yarn installed?

[2020-11-05 02:35] flybayer commented on #1413
Ok, that's same as mine. Could you try with a different node version, like maybe `12.19.0`?

[2020-11-05 02:40] developer-rakeshpaul commented on #1410
@flybayer Yes I do

[code]
even tried reinstalling yarn for peace of mind

if you look at npmPackages it shows blitz as not found.. is it because I don't have blitz installed globally.

[2020-11-05 02:50] talbet-qga commented on #1413
Installed node `12.19.0` and reinstalled, but got the same result.

I did notice that the SQLite database is not being initialized, is this expected behavior for a new project?

[code]

[2020-11-05 02:50] #1399 closed

[2020-11-05 02:56] flybayer commented on #1410
I get the same "not found" for blitz (because npxenv doesn't work with monorepo apparently for version detection).

Not sure what to to tell you to try at this point 🤷

[2020-11-05 02:57] flybayer commented on #1413
Sqlite should be initialized too.

It seems like this is maybe specific to your environment somehow, but I'll go ahead and mark as a bug in case anyone else comes across it

[2020-11-05 02:58] developer-rakeshpaul commented on #1410
@flybayer how you got it working earlier?

[2020-11-05 03:02] flybayer commented on #1410
@developer-rakeshpaul it just works fine for me, including what you have pushed up now.

[2020-11-05 03:06] developer-rakeshpaul commented on #1410
@flybayer which node version are you using?

[2020-11-05 03:12] aaronfulkerson opened #1417 "blitz db seed won't run code imported from other files"
### What is the problem?

### Steps to Reproduce

1. Bootstrap a new app and run `blitz db seed` after importing something into seeds.ts from another file such as hashPassword from auth-utils.

### Versions

[code]

### Other

Please include applicable logs and screenshots that show your problem.

[2020-11-05 03:22] talbet-qga commented on #1413
No worries, I'll take a look at why sqlite isn't initializing.

[2020-11-05 13:56] #1415 closed

[2020-11-06 01:10] flybayer commented on #1356
Closed in #1414

[2020-11-06 01:14] #1407 closed

[2020-11-06 01:15] flybayer commented on #1410
v12.16.1

[2020-11-06 02:23] flybayer opened #1421 "The blitz dev cache must be busted if blitz version changes."
### What do you want and why?

Currently the `.blitz` dev cache is not cleared between `blitz start` invocations for performance. That's great, but we've found that when the blitz version changes we need to bust that cache.

https://github.com/blitz-js/blitz/issues/1407 is an example error caused by the lack of this.

### Possible implementation(s)

Basically we want to clean the cache anytime the

[2020-11-06 02:24] flybayer commented on #1407
Update: #1419 didn't actually change anything on this.

The real solution is to do `rm -rf .blitz` 🤦‍♂️

I've opened https://github.com/blitz-js/blitz/issues/1421 to address the core problem here, which is outdated build cache that uses an older version of blitz code.

[2020-11-06 02:40] isoppp commented on #1407
hmm, I think that to fix this issue, needs #1419 modification. But yes, also need to delete `.blitz` cache once.
Before applying #1419 modification, this error will happen even if delete the cache.

[2020-11-06 02:48] flybayer commented on #1344
Update: This comes from Next.js. The reason params are empty on initial render is because react requires first render on the client to be the same as the static html. And since these pages are generated statically at build time without any params, params must be empty on first render on the client. See https://github.com/vercel/next.js/issues/8259 for more context.

### Partial Solution

#1422 add

[2020-11-06 03:18] developer-rakeshpaul commented on #1410
@flybayer tried to run the same setup on my friends machine and he was getting  styled-jsx missing error... I couldn't grab the version info but there seems to be some inconsistency in the way it works with monorepos..

[2020-11-06 11:55] rayandrews commented on #1421
Let me elaborate.

If blitz version in `package.json` is changed, we need to set `clean` in config to `true` right?

[2020-11-06 13:22] hehehai opened #1425 "need help! Apps cannot be created in China"
### What is the problem?
1.
![image](https://user-images.githubusercontent.com/12692552/98370090-f98d1500-2074-11eb-9232-f7b8cf6e3986.png)
This has always been the case. I have used the agent of NPM in China，But the installation is always in this state

2.
![image](https://user-images.githubusercontent.com/12692552/98370359-6bfdf500-2075-11eb-99d8-2a9446f39466.png)
This is when I execute new after

[2020-11-06 14:52] flybayer commented on #1421
@rayandrews yes. So we need to cache the blitz version somehow inside `.blitz` so that each time `blitz start` runs, we can check the current blitz version with the cached version.

Also, we need to check the actual installed version of blitz, not just the version range in the app package.json. I think we can get the actual installed version with something like this:

[code]

[2020-11-06 15:43] rayandrews commented on #1421
I see, it makes sense now for the installed version one @flybayer

However, how about the blitz version inside `.blitz`? Do we just use the `package.json` inside `.blitz` folder?

[2020-11-06 15:47] flybayer commented on #1421
No, we don't currently story the blitz version. We could add a new file or maybe add a new field to `.blitz/caches/dev/_manifest.json`.

@ryardley any opinion on this?

[2020-11-06 16:23] alexfinnarn commented on #814
@flybayer I'm trying to look for why react-final-form is recommended over other form solutions in the installer, but this issue is the best place I've seen about adding the selection ability...I guess I didn't search PRs but thought there might be a related issue.

Is there some issue/PR comment thread/doc that details the thought process behind providing form options and recommendations?

The las

[2020-11-06 16:26] rayandrews commented on #1421
I see, we can cached the version via this [function](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/manifest/index.ts#L71)

and re-read it while running in development to make sure the version is same or not @flybayer

[2020-11-06 18:02] markjackson02 opened #1426 "Example test fails after initial scaffolding"
### What is the problem?

I ran `blitz new myApp` to scaffold my project, and `blitz db migrate` to initialize the database. When I unskip the test in `index.test.tsx` I get the following error:

[code]

### Steps to Reproduce

1. `blitz new myApp`
2. `blitz db migrate`
3. unskip test
4. `npm run test`

### Versions

[code]

### Other

![image](https://user-images.githubusercontent.com/35121685/98

[2020-11-06 18:39] flybayer commented on #1426
This should be fixed as of [`v0.25.0-canary.0`](https://github.com/blitz-js/blitz/releases). Can you check and verify?

[2020-11-06 21:05] ryardley commented on #1421
Maybe we can store the blitz version in the cache hash?

[2020-11-07 03:18] isoppp opened #1427 "useParam is better to return undefined when the param is missing"
### What do you want and why?

[code]

1. I want to check param like `if(param)` but `NaN` will be `true`. It might not be useful.
2. Between `useParams` and `param` is not consistent, I'm a bit confusing.
3. Type implementation is `number | undefined`, but never returned undefined I guess

https://github.com/blitz-js/blitz/blob/canary/packages/core/src/use-params.ts#L92
[code]

### Possible imple

[2020-11-07 08:35] rayandrews commented on #1421
could you give me the pointer of the cache hash?

I want to work on this.

is it similar like `file-hash` [here](https://github.com/blitz-js/blitz/blob/canary/packages/file-pipeline/src/pipeline.ts#L80) or different?

@flybayer @ryardley

[2020-11-07 08:46] akirabaruah opened #1428 "Error message involving git config --get core.excludesFile"
### What is the problem?

When I run `blitz start`, I see an error message saying "Failed to run git config --get core.excludesFile. Find out more about how to install git here: ..." even though Git is installed. Is there a clearer way to indicate what went wrong or how to fix the issue?

### Steps to Reproduce

1. Run `blitz start` inside a new project with git installed.

[code]

### Versions

[

[2020-11-07 09:39] Daidalos117 commented on #668
Any news on this? Maybe I could help with it?

[2020-11-07 09:58] ryardley commented on #1421
@rayandrews I was talking about the file tree hashing happening here: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/build-hash.ts#L26

[2020-11-07 10:19] rayandrews commented on #1421
CMIIW, it is run only for `production` right?

so for summary:

- hash the `tree.hash` with `blitzVersion` with `sha1(tree.hash + blitzVersion)`
- add this feature to `development`
- and the rest is same like `production` command (checking the hash etc)

am I right? @ryardley

[2020-11-07 10:26] ryardley commented on #1421
Hmm maybe I am wrong and am misunderstanding this issue.

[2020-11-07 15:38] #1344 closed

[2020-11-07 15:38] #1349 closed

[2020-11-07 15:40] flybayer commented on #1410
Ok seems theres some issues here. I marked as a bug and ready for someone to work on.

[2020-11-07 15:42] #1368 closed

[2020-11-07 15:45] flybayer commented on #1425
@hehehai are you able to use `yarn` in china? By default `blitz new` will use `yarn` if it's installed.  You can use `blitz new myapp --npm` to use npm even if yarn is installed.

[2020-11-07 15:53] rayandrews commented on #1421
Got it @ryardley.
I understand now thank you.

Count me in and I will make a PR.

Thank you @ryardley @flybayer

Best Regards

[2020-11-07 15:54] flybayer commented on #814
@alexfinnarn hey good question!

Here's the full discussion we had on form libraries: https://github.com/blitz-js/blitz/discussions/768

And good idea on adding docs on this. Would you be interested in taking a shot at adding a doc page? Probably we can add a dedicated page for "Creating a new app" that covers stuff like this.

[2020-11-07 16:01] flybayer commented on #1427
@isoppp yeah, you have a great point.

We should change `useParam` to always return `undefined` if the requested param doesn't exist. This will be a change to all three types, string, number, and array.

[2020-11-07 16:04] flybayer commented on #1428
@akirabaruah hmm, that's odd. Do you have a `.gitignore` file in the project?

[2020-11-07 16:57] flybayer commented on #668
@Daidalos117 I'm a bit conflicted on whether to implement this or not. Because occasionally we have people auto upgrade their dependencies and accidentally switch to a non-experimental version of react. In that case, with this auto detect change, they would have weird behavior. I think they wouldn't actually have any errors, whereas currently you do.

We merged #721 after this issue was created wh

[2020-11-07 18:15] akirabaruah commented on #1428
Yep, there's a `.gitignore` in the project root generated by blitz itself.

[code]

[2020-11-07 18:18] akirabaruah commented on #1428
@flybayer It looks like `core.excludesFile` is unset, but `.gitignore` will still be used correctly according to the precedence order in https://git-scm.com/docs/gitignore.

[2020-11-07 18:19] markjackson02 commented on #1426
Yep, after upgrading to `blitz@canary` the test is fixed. Thank you!

[2020-11-07 18:19] #1426 closed

[2020-11-07 21:20] flybayer commented on #1428
Ok yeah I like your suggestion!

[2020-11-07 21:59] #1282 closed

[2020-11-07 22:03] HendrikCromboom commented on #1427
To pull from some of the more back end minded techs:

I always loved the: mixedType (number OR undefined)

That way you could inject the typed return value rather than hardcoding it.

[2020-11-08 02:37] akirabaruah commented on #1428
Cool - thanks! I'll put up a PR shortly :+1:

[2020-11-08 16:55] alexfinnarn commented on #814
I was going to layer Blitz on top of an existing Next project, but now I am just going to add some of the individual pieces Blitz uses and use the project as a reference tool. I'm coming from using very large, abstracted frameworks, like Drupal in PHP, and have been trying to work towards less code and fewer abstractions.

So, I'll take a rain check on contributing to docs, but I'll continue to wa

[2020-11-08 22:54] aaronfulkerson commented on #756
What's the status on this?

[2020-11-08 22:57] flybayer commented on #1425
@hehehai what was the solution? Maybe we can make this better

[2020-11-09 01:04] akirabaruah opened #1433 "Trailing whitespace in prisma schema generated by blitz"
### What is the problem?

Running `blitz generate` leaves trailing whitespace in the generated `schema.prisma` file.

### Steps to Reproduce

1. Run `blitz generate all question text hasMany:choices` then `git diff` to inspect changes in `db/schema.prisma` file. I see something like this:

![image](https://user-images.githubusercontent.com/6751517/98489679-e187d380-21e3-11eb-9753-0bacc750f2a3.png)

[2020-11-09 06:15] remjx opened #1435 ""blitz generate" creates inconsistent folder names. Both camelCase and kebab-case folders are generated."
### What is the problem?

Files created as part of `blitz generate ...` are being placed in different folders (`test-models` and `testModels`):
[code]

Based on **[this](https://github.com/blitz-js/blitz/issues/1022)** issue I expect all the folder names to be in kebab-case.

### Steps to Reproduce

`$ blitz generate all testModel`

### Versions

[code]

[2020-11-09 07:03] hehehai commented on #1425
When I use a network proxy it's work, I think it's a network problem, but I'm not sure which part of the dependency download is having a network problem

[2020-11-09 07:03] #1425 closed

[2020-11-09 08:13] theZieger opened #1437 "Docs - how to prettier configuration"
### What do you want and why?

As of https://github.com/blitz-js/blitz/discussions/1390 I noticed there is no documentation that guides one about how to change certain (opinionated) aspects of Blitz. Therefore I would like to see a new page within the advanced section of the documentation: *Prettier Config*

### Possible implementation(s)

Add a new page to the docs. :rocket:

### Additional conte

[2020-11-09 09:15] Daidalos117 commented on #668
@flybayer Thanks, I think manually disabling experimental mode is enough. But I cannot find any documentation on it tho. Do I search bad? Maybe I can help with it and write it? Where to look how to use it correctly?
Because honestly I think this is one of the most important features. It's not possible to use Antd or even MaterialUI with experimental React (current Blitz version).

[2020-11-09 09:56] nitaking commented on #1435
@markhaehnel
Initially, all generate files were camelCase, but they decided that the url path should be kebab-case for SEO reasons and are now trying to change all generate files to kebab-case. (https://github.com/blitz-js/blitz/pull/1089 https://github.com/blitz-js/blitz/pull/1197)

[2020-11-09 11:29] jamiedavenport commented on #1433
Thanks for raising this @akirabaruah!

I think the relevant files are https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/prisma/model.ts and https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/prisma/field.ts

It's also worth noting that Prettier support has been requested (https://github.com/prisma/prisma/issues/1761) but since there's no timescale for this I th

[2020-11-09 17:37] markjackson02 opened #1438 "Warning when running blitz/cli commands: Cannot find module '@blitzjs/generator/src/utils/get-latest-version'"
### What is the problem?

I am getting this warning any time I run a `blitz` command. It doesn't seem to have an effect as I've been able to run  commands successfully despite the warning. The warning appears at the top of the console stream, then the command results come after.

[code]

If more details are needed e.g. trace-warnings, can you please help me what commands I need to run?

### Steps

[2020-11-09 19:49] MrLeebo commented on #1427
We've [talked about the implications of type checking URL parameters before](https://github.com/blitz-js/blitz/issues/530), but now that nextjs supports [rewrites](https://nextjs.org/docs/api-reference/next.config.js/rewrites), we could revisit the idea of defining a type mapping for parameters and lettings blitz generate the corresponding rewrites to enforce it. That would make it impossible for

[2020-11-09 19:54] jamiedavenport opened #1439 "NPM is assumed in the `package.json`"
### What is the problem?

`npm` is hardcoded in the `package.json` template but it'd be nice for Blitz to detect the package manager and use the correct one.

### Steps to Reproduce

1. `blitz new ...`

The `package.json` contains:
[code]

### Versions

[code]

### Other

I think we need to edit the https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/generators/app-generator.ts to

[2020-11-09 21:40] rap2hpoutre opened #1440 "Couldn't import default from db/seeds.ts or db/seeds/index.ts file"
### What is the problem?

I run `blitz db seed` and see the following message even if `db/seeds.ts` exists:

[code]

### Steps to Reproduce

1. Create a fresh project
2. Generate a model (I can't remember what I have done, I just played 10 minutes with this new project; still the error is misleading since `db/seeds.tsx` exists, see below).
3. Run `blitz db reset` when you are ready
4. create an al

[2020-11-10 01:24] #1428 closed

[2020-11-10 01:34] flybayer commented on #668
@Daidalos117 yeah! Want to make a PR to add that to the docs? By the way, it should be `reactMode: 'legacy'`

[2020-11-10 01:39] flybayer commented on #1427
@MrLeebo regardless if we add that, there will still be the case of `undefined` for static pre-rendering and first render, which this issue is mainly about.

[2020-11-10 01:42] flybayer commented on #1439
I'm not totally sure if we want to do this or not 🤔 It would be a tiny improvement, but adds extra complexity to our template generation (we already have two options with JS & TS). Functionally it's same whether npm or yarn is used, and npm basically guaranteed to be installed.

[2020-11-10 01:43] flybayer commented on #1440
Hey @rap2hpoutre this is fixed as of `v0.25.0-canary.0`. You can upgrade to canary, or wait till the next stable release which should be relatively soon.

[2020-11-10 01:43] #1440 closed

[2020-11-10 02:04] #1438 closed

[2020-11-10 02:56] flybayer opened #1443 "Static pre-rendering with useQuery broken in `0.25.0-canary.5`"
### What is the problem?

Because of https://github.com/blitz-js/blitz/pull/1422 `useQuery` is disabled on first render which means that useQuery doesn't throw and therefore the loading fallback is not rendered.

So we need to redo #1422 with a different approach

### Versions

[code]

[2020-11-10 10:17] jamiedavenport commented on #1439
After thinking about this more I do agree with you that in practice it doesn't matter.

Since `yarn` itself complains about mixing both tools when installing, are we encouraging a bad practice by having both in the same project (even if it's just `npm run` in the git hooks)?

[code]

[2020-11-10 11:23] carlosbaraza commented on #1013
I encountered a similar problem when importing a variable declared in a page file from a component. This could be fixed in multiple ways, but it is just strange and confusing.

[code]

[2020-11-10 16:27] bde-maze commented on #1004
Hello there, just letting you now that I faced the same issue today (10th of November 2020) after running ```npm install``` in the project directory.

I was able to fix it using the same solution presented.

Blitz version:
[code]

[2020-11-10 16:50] flybayer commented on #1004
@bde-maze update your global blitz version to latest, and that should resolve this for you

[2020-11-10 17:16] Skn0tt commented on #1013
I'd like to take a shot at fixing this. @aem @ryardley could you give me some clues as to where I have to look and how you'd implement this?

[2020-11-10 23:18] flybayer commented on #1439
I think the only issue is if you mix installation with yarn/npm. Running scripts should be the same

[2020-11-10 23:24] flybayer commented on #1013
@Skn0tt probably create a new stage: https://github.com/blitz-js/blitz/tree/canary/packages/server/src/stages

[2020-11-11 01:13] #1443 closed

[2020-11-11 15:07] isoppp commented on #1417
I can't reproduce this in my local with 0.25.0-canary.1 with a brand new project.

Could you run `blitz --version` and `yarn run blitz --version` and then copy and paste the logs if this still happens. Your seed file is also helpful.
As far as I remember it fixed with `0.25.0-canary.0`.
I guess your global blitz-cli is 0.24.x version or something like less than the canary version.

[2020-11-11 20:16] dmzza commented on #1413
I have a similar problem, and no trouble with sqlite.

[code]

I should note that I'm an iOS developer, and I have `!default.xcworkspace` ignored in other `.gitignore` files from other project folders withing my `Sites/` directory. So it seems like Blitz is scanning `.gitignore` files in projects that are unrelated to my Blitz project.

#### Other details
[code]

[2020-11-11 23:27] #1035 closed

[2020-11-12 00:02] flybayer commented on #1364
Fixed by https://github.com/blitz-js/blitz/pull/1453

Available in `0.25.0`!

[2020-11-12 00:03] #1364 closed

[2020-11-12 07:09] kitze commented on #1364
Awesome!! Thanks @flybayer

[2020-11-12 07:43] kyken opened #1455 "Error "Failed to execute 'btoa'" occur when setting multibyte string to session.create"
### What is the problem?

setting string containing multi-byte characters (e.g. Japanese) as a session.create argument will result in the following message: "Error Failed to execute 'btoa': The string to be encoded contains characters outside of the Latin1 range." error occurs.

### Steps to Reproduce

1. run `blitz new xxxxx`
2. modify the `session.create` in the auth module to include a multi-by

[2020-11-12 14:15] jamiedavenport commented on #1455
Thanks for raising this issue. I believe the issue is at the `btoa` call sites in https://github.com/blitz-js/blitz/blob/canary/packages/server/src/supertokens.ts

We're using the https://www.npmjs.com/package/b64-lite library so the docs should be useful.

[2020-11-13 03:11] dmzza commented on #1413
Upon closer inspection of the code and tests for `packages/server/parse-chokidar-rules-from-gitignore.ts`, I realized that I was partially wrong, and I found a way around this problem.

On `parse-chokidar-rules-from-gitignore.ts:46` it looks for a global `.gitignore` file. I didn't remember creating one, but [according to GitHub](https://docs.github.com/en/free-pro-team@latest/github/using-git/ign

[2020-11-13 03:20] talbet-qga commented on #1413
While my sqlite problem is unresolved, @dmzza's comment prompted me to check my `~/.gitignore_global` file and I can confirm that I have an ignore pattern `TAGS`. So it looks like my error was caused by the same thing. I agree that this is strange behavior, first that it throws an error due to the absence of an ignored file, and second, that it uses `.gitignore_global`.

[2020-11-13 04:14] dmzza commented on #1413
I'm going to work on fixing this in Blitz.

[2020-11-13 04:55] aaronfulkerson commented on #1417
I didn't install with yarn, that's probably the difference. I'll check it out tomorrow.

[2020-11-13 04:56] dmzza commented on #1413
@talbet-qga Would you mind pasting your whole `~/.gitignore_global` here?

I made a PR that solves my problem with inclusion rules, but it isn't clear that you have any inclusion rules in your file.

[2020-11-14 00:59] cwray-tech opened #1461 "Get chokidar errors when running blitz start on windows."
When starting blitz on a windows machine, the console outputs errors:
[code]

[2020-11-14 09:18] gielcobben opened #1459 "Next image component external domains not working in production"
### What is the problem?

I set some external domains for the next image component but the images are not working in production. If you go to one of the image urls directly in the browser it returns `"url" parameter not allowed`. The url looks like `example.com/_next/image?url=...`

I put the following in `blitz.config.js`:

[code]

### Steps to Reproduce

1. Set external domains in `blitz.config.

[2020-11-14 09:40] MohammedALREAI opened #1460 "some error when setup the blitz \date-fns\differenceInQuarters\index.js"
### What is the problem?
when I try to create the  new app  blitz new app
after installing the depndance   and  run the application

[code]

### Steps to Reproduce

1.

### Versions
last version 0.25.0

[code]

### Other

Please include applicable logs and screenshots that show your problem.

[2020-11-14 10:45] maotora commented on #1221
Hello everyone,

`blitz db seed` still gives me the error

[code]

If I run `yarn link blitz` I get

[code]

blitz --version

[code]

[2020-11-14 14:52] flybayer commented on #1461
@cwray-tech what is the full output of `blitz -vV`?

Also, does this happen on a brand new blitz app?

[2020-11-14 14:54] flybayer commented on #1221
@maotora does it still fail if you run `yarn blitz db seed` ?

[2020-11-14 15:02] flybayer commented on #1460
Hmm, this looks like maybe a bug in https://github.com/zertosh/v8-compile-cache (which we use).

For a work around, you should be able to set the environment variable `DISABLE_V8_COMPILE_CACHE=1` to disable that compile cache.

[2020-11-14 15:59] flybayer commented on #1459
@gielcobben does it work locally with `blitz start --production`?

[2020-11-14 16:15] scisteffan opened #1462 "Update Chakra UI Recipe for 1.0 (currently broken)"
### What is the problem?

After I run `blitz install chakra` I receive error messages on the website. I think it's because chakra has been updated to version 2 and the npm packages have now changed.

### Steps to Reproduce

1. `blitz new chakra-test`
2. `cd chakra-test`
3. `blitz install chakra`
4. `blitz start`

Following error appears:

<img width="649" alt="Screenshot 2020-11-14 at 16 13 15" sr

[2020-11-14 16:19] flybayer commented on #1462
Here's the code for the recipe: https://github.com/blitz-js/blitz/blob/canary/recipes/chakra/index.ts#L46

Looks like need to add the emotion/react package to that dependency list maybe.

For whoever works on this, you can run test the local recipe code in any app on your computer with `blitz install [PATH_TO_MONOREPO/recipes/chakra`

[2020-11-14 17:01] gielcobben commented on #1459
Nope

[2020-11-14 17:20] maotora commented on #1221
Not sure if I tried that option but I made an npm script like, `"seed": "blitz db seed"` which I used `yarn run seed` to run.

[2020-11-14 17:21] markjackson02 commented on #1462
Chakra has upgraded from 0.8.0 to 1.0.0. Migration guide here https://chakra-ui.com/docs/migration. The recipe will need to be updated. I would recommend anyone wanting to use Chakra to install it manually instead of using the recipe for now.

[2020-11-14 17:57] aaronfulkerson commented on #1417
This appears to be fixed in the full 0.25.0 release. Sorry about that!

[2020-11-14 17:57] #1417 closed

[2020-11-14 20:36] cwray-tech commented on #1461
@flybayer I will close this issue.

**The reason that this problem exists is when there are dependencies in the package.json that have not been installed.**

_So, if you are experiencing this issue, make sure to run yarn before running blitz start!!_

### In the root directory where blitz is installed run:
[code]

In my case, I had added dependencies and forgot to run yarn before running blitz sta

[2020-11-14 20:36] #1461 closed

[2020-11-14 21:36] flybayer commented on #1459
I'll try to look at this soon unless someone else does first

[2020-11-14 21:41] flybayer commented on #1221
Did it work?

[2020-11-14 22:24] flybayer commented on #1403
Should be fixed in `0.25.0`.

[2020-11-14 22:24] #1403 closed

[2020-11-14 22:24] flybayer commented on #1398
Should be fixed with `0.25.0`

[2020-11-14 22:24] #1398 closed

[2020-11-14 22:26] #1318 closed

[2020-11-14 22:26] #1173 closed

[2020-11-14 22:27] #954 closed

[2020-11-14 22:28] flybayer commented on #471
Circling back to this. I think bundling next has worked very well. Do you have any updated thoughts @ryardley?

[2020-11-14 22:29] flybayer commented on #951
Fixed in latest blitz

[2020-11-14 22:29] #951 closed

[2020-11-14 22:30] flybayer commented on #994
Fixed a few versions ago

[2020-11-14 22:30] #994 closed

[2020-11-14 22:30] #1130 closed

[2020-11-14 22:32] flybayer commented on #583
Queries are already invalidated on mount which means also invalidated on route change

[2020-11-14 22:32] #583 closed

[2020-11-14 22:33] #459 closed

[2020-11-14 22:35] #620 closed

[2020-11-14 22:36] #618 closed

[2020-11-14 22:43] flybayer commented on #904
The problem is [this line of code](https://github.com/blitz-js/blitz/blob/canary/packages/installer/src/recipe-executor.tsx#L37) runs for both success and failure.

[2020-11-14 22:44] flybayer commented on #289
👀

[2020-11-14 22:44] flybayer commented on #1133
Hey @nksaraf any update on the babel stuff you was working on?

[2020-11-14 22:49] #1356 closed

[2020-11-14 22:53] #113 closed

[2020-11-14 22:53] flybayer commented on #161
No one's asked for this, 👋

[2020-11-14 22:53] #161 closed

[2020-11-14 22:53] #193 closed

[2020-11-14 22:55] #375 closed

[2020-11-14 22:55] #398 closed

[2020-11-14 22:58] #728 closed

[2020-11-15 00:26] #968 closed

[2020-11-15 00:45] flybayer opened #1465 "Need to clear dev cache if `blitz.config.js` changes"
### What is the problem?

As of https://github.com/blitz-js/blitz/pull/159, the contents of `blitz.config.js` now changes the contents of the generated code in `.blitz/caches/dev`.

The problem is that changing the config currently doesn't result in the code getting recompiled. So we need to do something similar to https://github.com/blitz-js/blitz/pull/1446.

[2020-11-15 01:43] #104 closed

[2020-11-15 01:44] #1462 closed

[2020-11-16 05:25] rayandrews commented on #240
I try to create simple implementation of this issue and get this results:

[code]

any thoughts for improvement? @flybayer

I think it needs some improvement on `uri` field (especially the ones with param) to be more meaningful

[2020-11-16 10:04] Kay2dan opened #1470 "installing an npm package breaks the app in v0.25"
### What is the problem?

When I install a npm package, I am unable to run `blitz start`, unless I rebuild the app using `blitz new` command. This has happened both times I installed npm packages post upgrade to v0.25.

### Steps to Reproduce

1. Use existing repo.
2. Install a package (in my case it was `npm i date-fns --save`)
3. Run `blitz start`

### Versions
[code]

### Other

- **Here is the

[2020-11-16 14:26] flybayer commented on #1470
The issue is that somehow you are loosing the blitz version. Your logs show `blitz: 1.0.0 (local)` instead of `0.25.0`.

Not sure what's up. These type of npm errors are so frustrating 🤦‍♂️ There's nothing we can do in blitz to fix it.

[2020-11-16 14:27] flybayer commented on #1470
So I notice that your logs show `Package manager: yarn` which means you have a `yarn.lock` and should be using `yarn` to install dependencies. However, your other logs looks like you are using `npm` to install dependencies.

[2020-11-16 15:15] Kay2dan commented on #1470
Thank you Brandon, I don't think this is blitz versioning issue. I uninstalled Yarn (I installed it to try out RedwoodJs & must have forgotten to uninstall it) as it always causes issues with npm for me.

Post Yarn uninstall, the version says:
[code]

After uninstall, I installed a package to test if the problem reported above still persists and unfortunately it does. :(

[2020-11-16 15:18] flybayer commented on #1470
I guess you tried `rm -rf node_modules && rm yarn.lock && rm package-json.lock` and then run `npm install` again?

What's the output of `blitz -vV` now?

Thirdly, does `npm start` work?

[2020-11-16 15:35] Kay2dan commented on #1470
I didnt try the npm start command when I had the issue. Thats a good point and I should have tried that. I will try again in a little bit and report back.

Regarding `blitz -vV`, its the same as above:

[code]

[2020-11-16 16:37] Kay2dan commented on #1470
Success, it was the conflict between yarn & npm. I rebooted my system & installed Lodash & the command `blitz start` works fine as expected. Thank you Brandon.

[2020-11-16 16:37] #1470 closed

[2020-11-16 19:42] zenhob opened #1471 "query options type no longer accepts forceFetchOnMount"
### What is the problem?

After upgrading to Blitz 0.25.0 my build failed with:

[code]

After some digging, I found [this change](https://github.com/blitz-js/blitz/commit/25df2c0c29e5347d92d5a0b94e20af9565e5adc9#diff-5c9e08f588dcc289a26adbf4ddc10d25ddf10d8be027be705da6c838ca7293cdL36) that modifies the type definition of this argument, that's the only possible clue I could find.

### Steps to Rep

[2020-11-16 19:51] zenhob commented on #1471
downgrading to `0.25.0-canary.2` fixes this issue.

[2020-11-16 20:12] flybayer commented on #1471
Hey @zenhob, sorry about that. This is because of https://github.com/blitz-js/blitz/pull/1430. We had to downgrade react-query because of concurrent mode bugs people were experiencing.

By default data is considered stale immediately, so every mount will refetch data. Therefore you don't need `forceFetchOnMount` unless you are using a non-standard stale time.

### Workaround for 0.25.0

This is a

[2020-11-16 22:14] talbet-qga commented on #1413
No worries, it's a generic one that eagerly ignores file types I don't use, and haven't seen in some cases.

[code]

[2020-11-16 22:15] ivanthemeh opened #1472 "dnd list in Base Web recipe error"
I have installed a vanilla blitzjs app and used the base web recipe. I was testing some components and I noticed an issue with the dnd list. When I move the items I get an error.

[code]

1.

### Versions

[code]

### Other

Please include applicable logs and screenshots that show your problem.

[2020-11-17 01:54] flybayer commented on #1472
@ivanthemeh possibly this is an issue with Base Web and React concurrent mode. I suggest opening an issue on their github.

[2020-11-17 09:06] ThePaulMcBride opened #1473 "Simplify Social and 3rd Party Auth"
### What do you want and why?

Right now, it is possible to integrate with lot of 3rd party auth providers using passport strategies. This is super flexible and I don't think Blitz should ever move away from that approach. However, for the majority of cases, I suspect these strategies are identical.

### Possible implementation(s)

NextAuth has a good approach for this. You can provide custom setu

[2020-11-17 09:48] MohammedALREAI commented on #1460
thank you it works

[2020-11-17 09:48] #1460 closed

[2020-11-17 10:28] ivanthemeh commented on #1472
Yea I made one in their github first and they sent me here.

[2020-11-17 13:12] KATT commented on #1427
I did a PR above, but still remaining issue in regards to `NaN` - I personally really dislike `NaN` and always prefer to throw, or return `undefined`, or return `null` whenever I parse numbers

[2020-11-17 13:24] KATT commented on #1427
However, @isoppp, it's not great / strictly correct to do `if (num)` as `0` is falsy - better would be to `if (typeof number === 'number')`.

... in this case `if (typeof num === 'number') && !isNan(num)` 🥴

[2020-11-17 17:29] #1459 closed

[2020-11-17 17:49] konradkalemba commented on #1472
@ivanthemeh I tried to reproduce your bug on a new blitz app but everything is working as expected. Can you provide more information on how to reproduce this error?

[2020-11-17 23:08] dmzza commented on #1413
Thanks, this means you have the same problem as me, which is reassuring.
[code]
Those are inclusion rules, which just means it doesn't want git to ignore folders named `TAGS` or `tags`. The problematic code in Blitz expects to find those folders in your project, which wouldn't necessarily make sense even if this was the .gitignore file in your project, but certainly doesn't make sense from your gl

[2020-11-17 23:17] ivanthemeh commented on #1472
literally all I did was install a fresh blitz app and used the base-web recipe... I was able to track down the line of code and hack it so the errors stopped.

[2020-11-18 00:02] abuuzayr commented on #1433
Thanks @akirabaruah, @jamiedavenport !

I'm not entirely sure this is a bad thing though. This has helped me save some time when adding properties to model fields without spending time to format and keep them in line.

[2020-11-18 00:09] flybayer opened #1475 "`blitz generate model` is not working in certain case"
### What is the problem?

`blitz g model user session:session` does not work in our auth example. `blitz g model hasOne:session` which does the same thing also fails.

### Steps to Reproduce

1. `cd examples/auth`
1. `blitz g model user session:session`
1. See that `session Session` is not added to the user model

### Other

The code for this is here: https://github.com/blitz-js/blitz/blob/canary/

[2020-11-18 01:41] flybayer commented on #240
@rayandrews WOW, nice!!! PR that puppy!

Few thoughts:
- Replace `ANY` with `*`
- Remove `(.:format)`
- I think the parameter is good, display in brackets, same as the page name.
- Probably want to display the file path in the results too (original file path, not the compiled path inside `.blitz`)

[2020-11-18 01:49] flybayer commented on #1473
Yep! We just need to figure out what the required db fields are to have and then our simple adapter can handle everything for you.

[2020-11-18 02:07] flybayer commented on #1472
Yeah @konradkalemba is right, looks like a react-movable bug

[2020-11-18 02:07] flybayer commented on #1472
ok to close this?

[2020-11-18 07:39] akirabaruah commented on #1433
Yeah, I see the benefit in not having to press the space bar a bunch of times just to align everything :smile:  Ideally, we'd get the best of both worlds (no trailing whitespace and easy alignment) using a tool like prettier.

For Blitz, it might be most productive to focus on getting that prisma prettier support or perhaps using one of the workarounds mentioned in https://github.com/prisma/prisma

[2020-11-18 08:07] rayandrews commented on #240
Got it @flybayer!

Here is the updated screenshot:
![image](https://user-images.githubusercontent.com/4437323/99502054-27485700-29af-11eb-86de-bd82bea0d919.png)

Notice that the `/wow` URI is coming from `blitz.config.js`.
I modify the API to be like this. I think this is good to have so users can add their own additional sitemap entries.

[code]

What do you think?

I will open PR and connect thi

[2020-11-18 09:02] cmoel opened #1479 "Unable to start newly generated project"
### What is the problem?

Running `npx blitz start` from a newly generated project outputs an error message:

[code]

**NOTE: I put my hacky solution in the Other section below**

### Steps to Reproduce

1. Generate a new blitz project: `npx blitz new blitz-proj`
1. `cd blitz-proj`
1. `npx blitz start`

### Versions

[code]

### Other

I wanted to solve this problem and found a hacky solution. To

[2020-11-18 12:54] adnanfuat opened #1480 "Change `blitz generate` templates to use field name marked as `@id` instead of always `id`"
If my custom table/model doesn't have ID field?
Why cannot be: **id fields will be automated according to my custom id name.**

***

**My table doesn't have id field.**
Instead of id field, My table has "numara" field.

This "numara" field marked as @id automatically ( https://prnt.sc/vkrwf8 )

But although this marking, Generated Files indicate "id" field and so I Get error
https://prnt.sc/vkrvcq

[2020-11-18 14:53] flybayer commented on #1479
Hey, sorry about that. This is a known issue (https://github.com/blitz-js/blitz/issues/1413) with an open PR to fix (https://github.com/blitz-js/blitz/pull/1457). So I'll go ahead and close this one.

[2020-11-18 14:53] #1479 closed

[2020-11-18 14:59] flybayer commented on #1480
Thanks for opening this from our slack discussion!

We should definitely make this change, but it will be a lot of work. All our [page templates](https://github.com/blitz-js/blitz/tree/canary/packages/generator/templates/page) and the generator logic will need changed for this.

We currently use `modelNameId` in file names as router parameters, so probably that should also be changed to use a diff

[2020-11-18 17:33] rizkyramadhan opened #1482 "Error Cannot find module '../webpack-runtime.js' when using esbuild-loader"
Hi,

I tried to improve blitzjs live-reload loading time by installing esbuild-loader in my project. As per https://github.com/privatenumber/esbuild-loader/issues/62,

Good news is live-reload time are noticeably improved, pages are rendered fine, but then this error happened.
the error pops when I tried accessing api route with db access in it.

this is the error message :

[code]

Any suggestion

[2020-11-18 17:55] rizkyramadhan commented on #1482
Tried removing webpack 5 in my package.json does not do any difference.

[2020-11-18 18:32] PixelsCommander opened #1483 "Have multiple TS errors: suspend, mutation, db not found"
### What is the problem?

When trying to build I get multiple TS issues: mutate from useQuery(), context on a session, and db global module are not found by TS. Same problems are highlighted by linting in WebStorm.

I tried to update global blitz then creating project on top of the current folder but this does not help.

<img width="186" alt="Screenshot 2020-11-17 at 08 42 36" src="https://user-im

[2020-11-18 19:55] flybayer commented on #1483
Those are all issues from breaking changes between version. I suggest going back through the release notes and making the few breaking changes as noted there.

Namely rename `mutate` to `setQueryData` and adding the `types.ts` file in the project root.

[2020-11-18 19:58] flybayer opened #1484 "Update Tailwind Recipe for 2.0"
### What do you want and why?

Tailwind 2.0 [was just released](https://blog.tailwindcss.com/tailwindcss-v2), so we need to update our tailwind recipe.

### Possible implementation(s)

Make any needed changes in https://github.com/blitz-js/blitz/blob/canary/recipes/tailwind/index.ts#L19. For sure the tailwind version number needs changed from 1 to 2. That could be all, need to check the release no

[2020-11-18 20:55] #1483 closed

[2020-11-19 00:11] #1013 closed

[2020-11-19 00:11] #734 closed

[2020-11-19 09:24] erlanggaadikara opened #1487 "Error when adding Capacitorjs"
Hi, I am trying to add Capacitorjs. Everything was just fine, like start server and open android, until I am trying to start the server again. I got this following error:

[code]

Is there anything I can do?
Thank you

[2020-11-19 10:23] Skn0tt commented on #1487
Blitz currently doesn't support building mobile apps. Sorry that I cannot offer a solution.

It's on the roadmap and being discussed in https://github.com/blitz-js/blitz/discussions/1338, though.

[2020-11-19 11:19] erlanggaadikara commented on #1487
Well, thanks. Can't wait to see it!

[2020-11-19 11:19] #1487 closed

[2020-11-19 15:41] abuuzayr commented on #1433
That's true, totally agree that having prettier support would be the best case. If the spaces were not added by the generator however i'd probably add the spaces myself while I am working on the code (though if I'm on something like VS Code I probably can auto-format on save). so its a personal thing, easier for me to make sense of things sometimes.

Blitz-wise, I have a feeling that @flybayer was

[2020-11-19 16:17] MohammedALREAI opened #1489 "Error: EPERM: operation not permitted, unlink"
### What is the problem?
when I try to rerun the app there are some problem special in this file .blitz\caches\dev\integrations
when I remove this file .blitz  by `rimraf .blitz` and rerun the application it works fine
### Steps to Reproduce

1.

### Versions
[code]
[code]

### Other
any ideas to handle this problem

Please include applicable logs and screenshots that show your problem.

[2020-11-19 21:11] maotora commented on #1221
No, it didn't work.

Same error,

[code]

[2020-11-20 02:00] flybayer commented on #1221
@maotora ok, please open a new issue

[2020-11-20 02:15] flybayer commented on #1489
Hmm, that's not good. Is it one specific file?

You could try updating to 0.25.0, but not sure there's any changes that would help with this or not.

[2020-11-20 02:19] flybayer commented on #1482
Hmm, I don't know what would be the fix. `__db.js` is the compiled version of `db/index.ts` and is configured here: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/with-blitz.ts#L22

[2020-11-20 14:55] flybayer opened #1495 "Can't import from queries/mutations via path alias"
### What is the problem?

https://github.com/blitz-js/blitz/pull/1456 added ability to import code from queries/mutations, but it broke the ability to import from queries/mutations via path alias.

### Steps to Reproduce

1. Add path alias in tsconfig

[code]

2. Make two queries in `app/queries/`
3. Export a named function from one query
[code]
4. Try to import that in the other query - build fai

[2020-11-20 23:38] flybayer opened #1497 "Change our `relative` server stage to update relative imports instead of converting to absolute."
### What do you want and why?

Currently our [`relative` server stage](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/relative/index.ts) is rewriting relative imports for pages/queries/mutations to be absolute, like this:

[code]

But this has some problematic edge cases like https://github.com/blitz-js/blitz/pull/1496 and if a jsconfig or tsconfig doesn't have basePath s

[2020-11-21 02:01] #1413 closed

[2020-11-21 02:03] #1427 closed

[2020-11-21 02:06] flybayer commented on #1471
@zenhob did that work for you?

[2020-11-21 02:25] rizkyramadhan commented on #1410
I am succesfully using blitzjs monorepo without lerna, and just using yarn 1 workspace. Following this tutorial: https://dev.to/t7yang/typescript-yarn-workspace-monorepo-1pao

Typescript just work across local package - you can get typings from another local package.

[2020-11-21 02:29] #1421 closed

[2020-11-21 17:48] MrLeebo commented on #1308
@flybayer I propose [we put a page on blitzjs.com for reporting vulnerabilities](https://github.com/blitz-js/blitzjs.com/issues/271) because even if we perform our own pen testing, there is always the possibility of a non-contributor discovering an issue that we don't know about.

[2020-11-21 20:16] rap2hpoutre opened #1507 "Running `blitz db seed` on heroku server fails silently"
### What is the problem?

Running `blitz db seed` on heroku server does not run anything (fails silently)

[code]

### Steps to Reproduce

1. Deploy  a fresh project on heroku
2. Run `db:seed`

### Expected result

Run seed or fail with an error message

[2020-11-21 20:17] flybayer commented on #1507
Failing silently is definitely not good.

As to the actual problem, can you make sure `typescript` is in your regular dependencies, not devDependencies? We made that change some time back for new apps because of this very issue I think.

[2020-11-21 20:19] flybayer commented on #1507
For whoever wants to fix this, looks like we need to catch and log the error here: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/db.ts#L312

[2020-11-21 21:52] flybayer opened #1508 "`.DS_Store` should be ignore by duplicate page detection"
### What is the problem?

[code]

### Versions

[code]

### Other

Here's the code for this: https://github.com/blitz-js/blitz/blob/canary/packages/server/src/stages/pages/index.ts#L87

[2020-11-21 23:44] flybayer opened #1509 "Significant build performance issue compared to next.js build"
### What is the problem?

For the new docs site, we forked the TailwindCSS docs site which is a large next.js app. Then we converted it to a blitz app which you can access at https://github.com/blitz-js/blitzjs.com/commit/5930a40ee580ec8be8df61f43ae1993341e78952

However `blitz build` takes so long it never finishes! Vercel deployments timed out at 45 minutes for that!

By contrast, deploying the

[2020-11-22 04:28] rayandrews commented on #1509
Yes based on skimming on Next codes, it seems like that. Next used the `jest-worker` which encapsulates the node thread workers.

The build process should be similar, unless we introduce performance bottleneck while transforming the `blitz` files (which might be). Every big chunk of promises (calling other file processing methods) should be encapsulated in a worker so it can be parallelized.

This

[2020-11-22 09:08] rap2hpoutre commented on #1507
I would be glad to contribute, I could try to tackle this issue. Do you have any recommendations about log formatting/wording?

[2020-11-22 13:19] piotrski commented on #1495
The issue is probably that ts compiler can resolve those aliases from `tsconfig` but js runtime can't. I think you have to use something like [tsconfig-paths](https://github.com/dividab/tsconfig-paths) to rewrite those import paths. There is also a [webpack plugin](https://github.com/dividab/tsconfig-paths-webpack-plugin) we could add.

[2020-11-22 13:26] piotrski commented on #1508
Should we just ignore any paths containing `.DS_Store` and don't display error for them? I'm not sure if they are already ignored when creating other stuff for pages?

[2020-11-22 14:09] markylaing opened #1511 "Change passport adapter to accept array of strategy objects with "authenticateOptions" for each strategy"
### What do you want and why?
`passportAuth` accepts an object with `authenticateOptions` and an array of strategies. The same authenticate options are applied regardless of strategy. This is obviously fine if you only have one strategy, but will not work if there are multiple strategies that require different options.

I came across this issue while writing an app that needs some permissions from

[2020-11-22 14:33] tpatel commented on #1508
This is appearing following #1499. The `.DS_Store` used to be ignore because it didn't have the right file extensions and now it's not ignored.

I see in the code that there is something setup to ignore files based on the `.gitignore` content but it looks like it's not used before the duplication check.

[2020-11-22 18:11] tpatel commented on #1508
I think we should add something in https://github.com/blitz-js/blitz/blob/94ff1da4de4e2a08dee381d7832476ed4e1b8dae/packages/file-pipeline/src/pipeline.ts#L68 to make sure we ignore files that match any glob pattern in `config.ignore`.
Would that be a good solution to the problem?

[2020-11-22 19:33] jamiedavenport commented on #1511
I like the idea of having the strategies list be an array of objects, because it gives us room to add more options in the future.

[code]

If we make that change, I think the older API be changed to include a deprecation warning and removed some time in the future so that we're maintaining a single API which is simple and clear.

What are your thoughts @flybayer?

[2020-11-23 02:37] flybayer commented on #1508
@tpatel yeah, I think that should work.

[2020-11-23 17:25] flybayer opened #1516 "UnhandledPromiseRejectionWarning: Error: Key - in file-pipeline"
### What is the problem?

I regularly get errors as shown below when switching git branches or rebases where files are different (added/removed) between them. Have to restart the server to fix.

[code]

### Steps to Reproduce

Not sure exactly, but I think have a page file present on one branch but not on another. Then start server, access the page, and then switch between the branches.

### Versi

[2020-11-23 21:33] flybayer commented on #1495
I realized today that importing via alias does actually work in dev (`blitz start`), but fails at `blitz build` with a TS error. So I think this is just a Type issue in our generated code

[2020-11-23 23:33] KATT commented on #303
I have made a working POC of something similar to what [@flybayer proposes](https://github.com/blitz-js/blitz/issues/303#issuecomment-683482837) in #1492.

[2020-11-24 00:20] johnslemmer opened #1519 "DB Studio error on new project"
### What is the problem?

I'm seeing this when trying to open Prisma Studio on a brand new blitz project.

![image](https://user-images.githubusercontent.com/18610918/100029858-09ac3080-2da7-11eb-9704-775ac83780de.png)

### Steps to Reproduce

1. `blitz new test`
1. `cd test`
1. `blitz db studio`
1. navigate to http://localhost:5555/

### Versions

[code]

[2020-11-24 00:23] johnslemmer commented on #1519
Also tried this with Node `15.2.1`

[2020-11-24 00:58] flybayer commented on #1509
The problem is definitely during the `next build` phase. The blitz build process that copies files to `.blitz` is very quick (it's finished once you see "Prepped for Launch"). And for `blitz build`, there's no runtime component for syncing files, unlike `blitz start`.

[2020-11-24 02:26] #1507 closed

[2020-11-24 02:33] flybayer commented on #1511
Good ideas @markylaing and @jamiedavenport!

I like Jamie's idea of an array of objects so we can add other options too if needed. We're pre-1.0 so we can make as many breaking changes as we need :)

[2020-11-24 02:34] flybayer commented on #1511
Here's the code for whoever wants to work on this: https://github.com/blitz-js/blitz/blob/canary/packages/core/src/passport-adapter.ts#L26

[2020-11-24 02:43] flybayer commented on #1519
hey @johnslemmer, I'm unable to reproduce and this is a prisma specific thing, so I'm going to kindly refer you to the Prisma issues: https://github.com/prisma/prisma/issues

[2020-11-24 02:43] #1519 closed

[2020-11-24 09:33] markylaing commented on #1511
Great thanks @flybayer @jamiedavenport!

Can I work on this please?

[2020-11-24 14:58] #1484 closed

[2020-11-24 22:12] konradkalemba commented on #1455
I think I should add `b64-lite` to `package.json` of core package since it hadn't been used there until this PR, shouldn't I?

[2020-11-25 08:22] Kay2dan commented on #1516
I started getting these as well, however, upon upgrade to v0.25.x canary, they just disappeared and now its all clean.

[2020-11-25 11:21] matijaSos opened #1528 "Upon creating new project and running for the first time -> blank screen and "Uncaught TypeError: __webpack_require__(...) is not a function""
### What is the problem?
When I create a fresh project and try to run it for the first time, I get the blank screen. In the console I get the following message: `Uncaught TypeError: __webpack_require__(...) is not a function`

### Steps to Reproduce

1. Create a new project with `blitz new`
2. Run it with `blitz start`

### Versions
Node 14.5.0

[code]
macOS Catalina | darwin-x64 | Node: v14.5.0

[2020-11-25 14:51] flybayer commented on #1528
@matijaSos I'm unable to reproduce 🤔

I did notice a blank screen a couple times on first load, but there was no error as you mentioned. And simply refreshing the page resolved the issue.

[2020-11-26 11:01] gielcobben opened #1531 "(CSS) module not found"
### What is the problem?
Since I’ve updated to `v0.26.0` I’m having trouble with importing css files. Maybe it has something todo with #1456 ? I `rm -rf` the directory `.blitz` and installed all versions backwards. Everything works perfect with- and before `v0.25.1-canary.0`. I’m using css modules and a file structure shown below.

##### File structure:
[code]

##### How I import css modules:
[cod

[2020-11-26 16:01] flybayer commented on #1531
@gielcobben I have an integration test for css modules in pages: https://github.com/blitz-js/blitz/blob/canary/examples/store/app/pages/index.tsx#L5

Are you sure it's not the import in `components/` that was breaking? Because I don't have at test for that. Need to add that.

[2020-11-26 16:16] #1455 closed

[2020-11-27 02:36] yutaro-elk commented on #1528
I'm having the same problem.

**Versions**
[code]

[2020-11-27 14:36] agamm opened #1535 "Tailwind recepie not working"
### What is the problem?
When running `npm run start` after installing the tailwind recipe it fails.

### Steps to Reproduce
Windows 10
1. Create a fresh project
2. `blitz install tailwind`
3. When I start I get the error.
4. Tried to remove the `.blitz` folder but still the same error.

### Versions

[code]

### Other

[code]

[2020-11-27 14:58] agamm commented on #1535
Upon some research it seems like fixing in package.json, `autoprefixer` to be:
[code]

Fixes the problem.

[2020-11-27 16:07] #1535 closed

[2020-11-27 16:08] flybayer commented on #1535
We just fixed it in #1533! Solution is to install `postcss` as a dependency

[2020-11-27 16:19] #1508 closed

[2020-11-27 16:32] flybayer commented on #1531
@gielcobben I've added a second integration test in https://github.com/blitz-js/blitz/pull/1538 for css modules outside of pages and it's working fine 🤔

Could you open a PR with a failing test on the store example or reproduce in a codesandbox? (there's an official blitz template)

[2020-11-27 16:51] flybayer commented on #1528
Ok, can you try something for me? @matijaSos @yutaro-elk

1. Change the blitz version to `0.25.0` and see if issue is gone
1. Change the blitz version to 0.25.1-canary.1` and see if issue is present or gone
1. Lastly, change blitz version back to `0.26.0` and see if issue still exists

And report the result of each 3 steps

[2020-11-27 16:57] mattbeiswenger opened #1539 "Place zsh Quotation Note Earlier in Tutorial"
### What is the problem?
When I was running through the tutorial, I got the error `zsh: no matches found: choices:choice[]` when running the command `blitz generate all question text:string choices:choice[]`. I didn't realize how to fix the error until I saw the note for the next command  `blitz generate resource choice text votes:int:default[0] belongsTo:question` that states:
[code]

In my case,

[2020-11-27 17:11] flybayer commented on #1539
Good idea, thanks!

[2020-11-27 19:00] sakulstra opened #1543 "dev build fails randomly"
### What is the problem?
For the fun of it I migrated a mostly client side next.js app(without a db) with a few getStaticProp fetching external data to blitz.js.
Now almost 50% of my "save" actions result in:
[code]
on both the client and the server which i can only solve by saving the file once again.  don't really understand why this happens as   it's not a result of "broken dom", but also appea

[2020-11-27 19:18] lukebennett opened #1544 "Add error handling to getServerSideProps"
### What do you want and why?

Blitz currently supports propagating errors in mutations and queries to the client, where they can be handled via an `ErrorBoundary`. It would be great if the same could be done with any errors thrown in `getServerSideProps` as well. This would allow for the likes of `AuthenticationError` and `AuthorizationError` to be handled consistently with elsewhere - for exampl

[2020-11-27 19:29] krszwsk opened #1545 "secure_password__WEBPACK_IMPORTED_MODULE_4___default.a is not a constructor"
### What is the problem?

There's an issue causing a blank screen when navigating to a home page of a new blitz app:

[code]

### Steps to Reproduce

1. `blitz new exampleApp`
2. `cd exampleApp`
3. `blitz start`

### Versions

[code]

[2020-11-27 19:32] krszwsk commented on #1545
For some reason the `npmPackages` sections doesn't show the lib versions properly, maybe that's a hint.

[2020-11-27 19:35] krszwsk commented on #1545
Rolled back to `0.25.0` and to `0.26.0`, issue still persists.

[2020-11-27 19:41] johnharringt0n opened #1546 "Unable to start new project. secure_password__WEBPACK_IMPORTED_MODULE_4___default.a is not a constructor"
### What is the problem?
Cannot start a new project with fresh install of Blitz and new project. Running `blitz start` produces no errors in the terminal, but then only get a blank screen at localhost:3000 and this error in the web console.

[code]

### Steps to Reproduce

1. `npm install -g blitz`
2. `blitz new mysite`
3. `cd mysite && blitz start`
4. Check browser console for errors

### Version

[2020-11-27 20:02] Daidalos117 commented on #1545
Tried to rollback to `0.25.0` and the issue was actually gone.

[2020-11-27 20:10] johnharringt0n commented on #1545
I had the same issue in #1546, confirmed that rolling back global + local installs of `blitz` to `0.25.0` seems to be working for me.

[2020-11-27 20:10] johnharringt0n commented on #1546
Duplicate of #1545, closing this issue and continuing conversation there.

[2020-11-27 20:10] #1546 closed

[2020-11-27 20:12] flybayer commented on #1545
@johnharringt0n @krszwsk can you try making the changes in your `app/auth/auth-utils.ts` as shown here: https://github.com/blitz-js/blitz/pull/1549/files#diff-0ecc0526f1f27e4da88e4b4de4fcf4453a8406d2287f25f127753d5f18f7c184 ?

Then let me know if that fixes it.

[2020-11-27 20:13] flybayer commented on #1528
Update, @matijaSos @yutaro-elk  can you try making the changes in your `app/auth/auth-utils.ts` as shown here: https://github.com/blitz-js/blitz/pull/1549/files#diff-0ecc0526f1f27e4da88e4b4de4fcf4453a8406d2287f25f127753d5f18f7c184 ?

Then let me know if that fixes it.

[2020-11-27 20:17] johnharringt0n commented on #1545
@flybayer Re-installed `blitz@0.26.1` locally + globally and now working after making those changes to `auth-utils.ts`. Thanks!

[2020-11-27 20:33] #1528 closed

[2020-11-27 20:33] #1545 closed

[2020-11-27 20:35] flybayer commented on #1545
# Solution

Make the following change to `app/auth/auth-utils.ts`

[code]

[2020-11-27 20:35] flybayer commented on #1528
# Solution

Make the following change to `app/auth/auth-utils.ts`

[code]

[2020-11-27 23:26] lukebennett commented on #1544
Thinking this through a bit more, I guess it doesn't really make sense to propagate page level errors to the client per se - as obviously by definition there is no client at the point a SSR page is first hit!

That said, I think there is still scope for improvement here - it feels like there ought to be a way to make life easier than having boilerplate error handling each time you call `getServerS

[2020-11-28 05:39] joaopaulobdac commented on #937
@flybayer There is this one already: https://github.com/prisma/prisma/issues/1272

I tried to import a database enum to use inside a form validation schema on the frontend utilizing webpack's IgnorePlugin to not bundle the prisma runtime along with it:

[code]

There were no compilations errors, but the code crashes when the browser executes the bundle because webpack still includes the entire `in

[2020-11-28 06:14] kitze opened #1550 "Completely silent logs"
### What do you want and why?

Completely silent logs

### Possible implementation(s)

Add a `silent:true` property in blitz config

### Additional context

I would really love to get a 100% clean output so I can actually print something useful in the console and be able to find it without going through 3000 useless messsages.

[2020-11-28 18:21] #1550 closed

[2020-11-28 18:29] Khaledgarbaya commented on #1435
Hey Folks, I can take this one

[2020-11-28 18:41] flybayer commented on #1550
@kitze This feature is available in [0.27.0-canary.0](https://github.com/blitz-js/blitz/releases/tag/v0.27.0-canary.0)

Add this in `blitz.config.js` to disable blitz logging. The default level is `info`

[code]

[2020-11-28 23:16] LoriKarikari opened #1555 "`useRouter()` throws `TypeError: Cannot read property 'asPath' of null`"
### What is the problem?

`useRouter()` throws `TypeError: Cannot read property 'asPath' of null` on some pages. I don't really know what is causing it because some pages work and others don't. ~~When I use `useRouter()` from Next.js everything works fine.~~
edit:  It doesn't work with `next/router` anymore either so I guess it was just randomly working.

### Steps to Reproduce

1. Create a compon

[2020-11-29 00:11] johnslemmer opened #1556 "Blitz install recipe not working"
### What is the problem?

I'm getting an error when I try to install a recipe.  I've tried material and tailwind.

[code]

### Steps to Reproduce

Run the following from the command line:

[code]

### Versions

[code]

[2020-11-29 03:06] arjundubey-cr commented on #904
@flybayer I would like to work on this issue. Can you please assign it to me?

[2020-11-29 04:39] AkifumiSato commented on #1482
This is an interesting topic for me.
When I tried to reproduce it, I got the following error in my environment.

[code]

This seems to be a problem that depends heavily on Next.
Do I need to rewrite the loader and some plugins for esbuild to handle `__db.js` issues and these?
https://github.com/vercel/next.js/blob/canary/packages/next/build/webpack/loaders/next-babel-loader.js

[2020-11-29 11:33] kitze commented on #1550
Thanks!

[2020-11-29 14:14] vonphlpp opened #1558 "Module not found: Can't resolve 'fs'"
I have on a page a mutation. If I go to the page (not using the mutation) I get the error, just by visiting the page.
``` Module not found: Can't resolve 'fs' ```
[code]

 I'm using "blitz": "0.26.2", in "blitz": "0.25.0", I hade the same mutation without any problems.
I have this error after I updated to the newest version
I mean fs is just aviable on the server. But the mutaion is on the server.

[2020-11-29 14:54] vonphlpp commented on #1558
I removed the the fs-part to a API-Route and now it is working.

[2020-11-29 19:06] Khaledgarbaya commented on #477
Hey Folks, I have working example using Blitz and Stripe checkout/portal. I don' think that a recipe will be a good choice here because it will introduce a lot of files and people can do this differently. However I will happy to add a simple example to the repo. If that's ok with you I can do ion the upcoming days

[2020-11-29 21:59] agamm commented on #1556
Same problem.

[2020-11-30 04:12] alexturpin commented on #586
👋 I'm far from an expert but I've been reading through the docs and wondering how to do this myself. What about passing in a query to the `useMotation` hook and that query gets invalidated once a mutation has succeeded?

[2020-11-30 06:30] Kay2dan opened #1560 "Error: Trying to use Blitz's useQuery to fetch 3rd party, when its not."
### What is the problem?
Post upgrade to v0.26.0, one of my mutation functions, which was working previously, is now giving the error `Error: It looks like you are trying to use Blitz's useQuery to fetch from third-party APIs. To do that, import useQuery directly from "react-query"`.

While reviewing the source files, I noticed that the code that validates the mutation func, actually looks for whe

[2020-11-30 17:14] johnslemmer commented on #1519
FYI if anyone happens to see this bug see the issue over on the Prisma Studio repo: https://github.com/prisma/studio/issues/586

[2020-12-01 00:38] nitaking commented on #1543
@sakulstra
Thanks for taking it up!

What does this mean?

[2020-12-01 09:13] aniss commented on #1558
How did you do that? using `fetch` at the end?

[2020-12-01 17:09] flybayer commented on #904
@arjundubey-cr yes! Sorry for the long delay!

[2020-12-01 17:56] #1556 closed

[2020-12-01 18:28] aaronshaf opened #1566 "blitz install tailwind results in "Cannot find module 'next/constants'""
### What is the problem?

`blitz install tailwind`

Results in

`Error: Cannot find module 'next/constants'`

### Versions

[code]

[2020-12-01 18:34] vonphlpp commented on #1558
file/mutations/deletFile.ts
[code]
/api/deleteFileFs.ts
[code]

[2020-12-01 19:12] jxe opened #1567 "react-query-utils/getQueryKey doesn't work when called from inside getStaticProps"
### What is the problem?

I'm trying to prefetch queries on the server, then ship the react-query cache to the client in a page prop, to reuse the cache on the client, as described [here](https://react-query.tanstack.com/docs/guides/ssr#integrating-with-nextjs).

Except, this doesn't work:

[code]

I'll need the key to be the same on the client and server, in order to reuse the cache. You can chec

[2020-12-01 19:52] aniss commented on #1558
@vonphlpp This is awesome man. thanks for sharing. 🙏

[2020-12-01 21:05] vonphlpp commented on #1558
Keep in mind that at the /api/deleteFileFs.ts the authentication is missing. I will make a middleware later....

[2020-12-02 00:20] sakulstra commented on #1543
@nitaking pressing "ctrl + s" to manually save file.

https://www.awesomescreenshot.com/video/1918557?key=9b69a685878507e112ca41ff42c7d71f

[2020-12-02 14:59] lbguilherme commented on #1558
I can confirm that both queries and mutations are being built on the client as well. Happens with 0.26.2. Doesn't happen on 0.25.0.

[2020-12-03 11:43] nitaking commented on #1543
@sakulstra
Thank you reply.
I haven't encountered it in my project (v0.23), so it may be a specific version issue.

[2020-12-03 17:33] thesobercoder opened #1572 "Allow selection of database and/or provider while scaffolding a new project"
### What do you want and why?

Allowing selection of database and/or provider while scaffolding a new project would be great. Users can then select fauna/prisma prostgres/prisma mysql/dynamodb etc with a basic crud example will prevent users having to crawl through a million documentations.

PS - Absolutely love the concept of Blitz. Very excited to see what's in store, when it releases.

[2020-12-03 22:57] MrLeebo commented on #1572
Thank you for the encouraging sentiment!

I believe this is a duplicate of https://github.com/blitz-js/blitz/issues/1037 and will be addressed by https://github.com/blitz-js/blitz/pull/1268 so I'm closing this issue but feel free to continue the discussion by following the links if you have anything else to add.

[2020-12-03 22:57] #1572 closed

[2020-12-03 23:17] flybayer commented on #1544
Thanks @lukebennett! I agree that this needs improved.

[2020-12-03 23:40] flybayer commented on #1555
If it's not working with `next/router`, then likely a bug in next.js.

You see this in dev or prod or both?

[2020-12-03 23:43] flybayer commented on #1482
@AkifumiSato possibly? I'm not sure, this is beyond my experience!

[2020-12-03 23:46] flybayer opened #1573 "Windows CI apps test never finishes"
### What is the problem?

Our CI `Build & Test Examples (windows-latest)` test stopped working last week I think. It just never finishes and eventually times out. I have no idea what might have changed or what the issue is.

### Steps to Reproduce

1. Open a PR with some change
2. Watch CI task `Build & Test Examples (windows-latest)` never finish

[2020-12-03 23:46] #1566 closed

[2020-12-04 00:07] flybayer commented on #1558
Sorry about this folks, definitely a bug. Here's a workaround:

Add the following to `blitz.config.js` and change `excluded` to match anything that's causing you problems

[code]

[2020-12-04 02:30] MrLeebo commented on #1567
It looks like the issue is that the query key function falls into this guard clause https://github.com/blitz-js/blitz/blob/canary/packages/core/src/utils/react-query-utils.ts#L61-L64 which is where the empty key is coming from. Looks like the check could be removed, but the comment makes me think that there's more that will need to be changed to make this work. @flybayer can you comment on what th

[2020-12-04 13:01] aniss commented on #1558
Nice one Brandon

[2020-12-04 14:34] sebastianhoitz commented on #1560
I'm also running into this issue. For some reason, the mutation methods are not getting enhanced (at least from what I can see). I would be happy to try to provide a fix for this if someone could point me in a direction to get started on this.

[2020-12-04 15:40] zenhob commented on #1558
I don't understand how to use this workaround, I added my mutations to excluded and it would not compile.

[2020-12-04 16:03] flybayer commented on #1558
@zenhob you have to add the node_module dependencies that are causing problems. If you post your entire error stack trace, I can tell you want to exclude

[2020-12-04 16:13] zenhob commented on #1558
I'm sure its something simple. I am excluding the Twilio node.js library:

[code]

My build now completes but my page fails to load an unrelated lib `secure_password`:

[code]

[2020-12-04 16:50] garrisons commented on #1558
@zenhob I'm getting the same error on my end.

[2020-12-04 22:04] MrLeebo commented on #1471
I'm gonna interpret the lack of response to mean it worked.

[2020-12-04 22:04] #1471 closed

[2020-12-04 22:05] MrLeebo commented on #1472
👌

[2020-12-04 22:05] #1472 closed

[2020-12-05 22:29] #1558 closed

[2020-12-05 23:31] #1435 closed

[2020-12-05 23:54] #1511 closed

[2020-12-05 23:57] flybayer commented on #477
@Khaledgarbaya yeah, that'd be a good starting point at least!

[2020-12-05 23:59] flybayer commented on #1543
This is a duplicate of #997, so closing in favor of that.

[2020-12-05 23:59] #1543 closed

[2020-12-06 00:00] flybayer commented on #586
@alexturpin yeah, that's a good idea! Not exactly automatic, but I that would be an improvement.

[2020-12-06 00:04] flybayer commented on #1567
Ok yeah we can rework that a bit so that `emptyQueryFn` is only returned for use by useQuery hooks but not by `getQueryKey`

[2020-12-06 00:11] flybayer commented on #1560
Well shucks, I think this is probably from some of the blitz compilation changes we made. I don't think it's an actual issue with `validateQueryFn`.

Is this only erring in certain situations? I'm confused because we have e2e CI tests covering useMutation (or at least I thought so 😅 ).

First step to track down is go into `.blitz` and find look at the compiled code and figure out exactly what is w

[2020-12-06 00:12] flybayer commented on #1560
And also see if you can open a PR with a failing test, so make sure this doesn't happen again.

[2020-12-06 00:35] flybayer commented on #1558
Fixed in `0.27.0`!

[2020-12-06 02:29] Zeko369 commented on #1555
I also got this, it happens with next@10.0.3 but not with next@10.0.2, even though they haven't changed anything with [router](https://github.com/vercel/next.js/compare/v10.0.2...v10.0.3 )

[2020-12-06 02:33] Zeko369 opened #1579 "blitz/cli should throw more specific errors"
# Example

![image](https://user-images.githubusercontent.com/3064377/101269873-852cbb00-3773-11eb-87b2-38b95d96964f.png)

When running any `db` command `runPrisma` is called and if `getPrismaBin` errors out it just throws "Prisma not found". This functions calls `require(@blitzjs/server)` meaning that if it's broken it's still going to throw "Prisma not broken".

# Fix implementation

throw speci

[2020-12-06 02:35] Zeko369 opened #1580 "blitz/cli should log more errors"
### Here we're not throwing any errors if there aren't any flags

This results in user not being able to detect what the error is rather just see `exited with code 1`

https://github.com/blitz-js/blitz/blob/909f3b3392c90f51cb93d20d06865702074ece4b/packages/cli/src/commands/db.ts#L246
![image](https://user-images.githubusercontent.com/3064377/101269905-e9e81580-3773-11eb-9cb5-d0f889b35d80.png)

###

[2020-12-06 14:07] hypervillain opened #1581 "getDb(...).session.findFirst is not a function"
### What is the problem?

When calling `ctx.session.create` in te default Login function, I get a `getDb(...).session.findFirst is not a function` (located in `supertokens.ts` file). I've updated to latest version of blitz with no effect.

I believe the error is related to a mismatch between local and remote migrations as I get an `Error: Local and remote migrations are not in lockstep.` when I tr

[2020-12-06 15:09] flybayer commented on #1581
Looks like you need to run `yarn add @prisma/cli@latest @prisma/client@latest`. And then if you still get the migration error, run `blitz db reset` to wipe the DB and start fresh.

[2020-12-06 20:38] aaronshaf opened #1582 "Active link class styles"
It'd be nice to have an `active` class or the ability to specify `activeClassName` on `<Link>`.

[2020-12-06 22:12] Zeko369 commented on #1582
If you're using @chakra-ui, you can `chakra-next-link` which has some cool link things (shameless plug 😛 ), if not you can check out / copy [my implementation](https://github.com/Zeko369/chakra-next-link/blob/8b264038530c8d9d2657b95fb100d41b0c7c0205/src/index.tsx#L13)

[2020-12-06 22:13] Zeko369 commented on #1582
We're don't really have any additions to `next/link` in blitz, but this could be a useful one

[2020-12-06 22:27] LoriKarikari commented on #1555
I saw this in dev, haven't tested it in prod.

[2020-12-07 06:06] alexturpin opened #1584 "Use strict TypeScript option"
### What do you want and why?

We should turn on the tsconfig `strict` mode by default! `strict` mode allows the static type checker to catch even more potential problems!

### Possible implementation(s)

Set `strict` to `true` in https://github.com/blitz-js/blitz/blob/canary/packages/generator/templates/app/tsconfig.json

### Additional context

Searching for this, it seems that there was a PR to

[2020-12-08 13:20] akboolz commented on #1560
I know it sounds stupid but I am having problems when folders or file names have the word "Feedb" (Feedback). "Feed" works but "Feedb" dont.
This issue is just another proof. When I rename them it works.

I either get:
"It looks like you are trying to use Blitz's useQuery to fetch from third-party APIs" for mutation files if i call them "createFeedback.ts"
or
"Element type is invalid: expected a s

[2020-12-08 19:01] robdrosenberg opened #1586 "blitz db migrate error: "save" doesn't exist in the new version of Prisma Migrate v2.13.0"
# Workaround

**Use Prisma 2.13 and call `prisma migrate` directly instead of `blitz db migrate`**

or

Switch back to Prisma 2.12
[code]

---

### What is the problem?
I upgraded to version 0.27 and after generating a model and running `blitz db migrate` I get the following error.
![image](https://user-images.githubusercontent.com/20813991/101527760-46e5f600-3943-11eb-90a1-c9c943a1aba3.png)
Here'

[2020-12-09 00:32] MrLeebo commented on #1586
Prisma released a new version of their Prisma Migrate tool today which seems to have breaking changes.

[2020-12-09 07:04] Kay2dan commented on #1560
Thats interesting. I will find that branch in my code & see if this really is the case. Give me a day or two please to share my findings.

[2020-12-09 11:07] christianstrang commented on #1586
switching back to
[code]
has fixed the issue for me

[2020-12-10 22:25] flybayer commented on #1579
Here's the code where this needs changed: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/db.ts#L13

Probably this should log the actual error instead of this custom error.

[2020-12-10 22:28] #240 closed

[2020-12-10 22:36] #1581 closed

[2020-12-10 22:40] flybayer commented on #1582
Related discussion here: https://github.com/blitz-js/blitz/discussions/585

[2020-12-10 22:41] flybayer commented on #1555
Ok must be a next.js thing then. We don't intercept this

[2020-12-10 22:46] flybayer commented on #1584
Hey Alex, thank you for the suggestion. While this is something we can consider a bit down the road (I always use strict mode personally), for now we'll leave it out because we don't have full JS support yet and strict mode is extra difficult for people new to TS (currently lots are using TS for the first time with Blitz.)

[2020-12-10 22:49] alexturpin commented on #1584
Thanks Brandon, appreciate the answer, totally get it.

[2020-12-10 23:01] flybayer commented on #1560
Aha, that explains the issue! in `with-blitz.ts` we have a rule to ignore `db` imports, but apparently that's matching anything with `db` in the string.

Will fix!

[2020-12-11 00:01] #1560 closed

[2020-12-11 13:14] hypervillain commented on #1581
Thanks a lot Brandon, it's working now!

[2020-12-11 14:49] johnkahn opened #1596 "Not able to set a custom queryKey using the blitz query hooks"
### What do you want and why?

There is a `queryKey` property of the query hooks options, but looking at the source code it is not being utilized to set the query key. My problem is that for one of my queries the query key changes often due to user input (sorting and filtering), and I would like a query key I set so that I can fetch from the cache easier on other pages.

### Possible implementatio

[2020-12-11 16:54] flybayer commented on #1596
Hey @johnkahn, I think that change should be fine.

Did you by chance try using the Blitz [getQueryKey](https://blitzjs.com/docs/resolver-utilities#getquerykey) utility function?

[2020-12-11 16:56] johnkahn commented on #1596
Sounds good, I'll make a PR. 👍

And I was using that originally, but since the params for the query change based on user input I would need to persist the params to a global state to be able to utilize that function when the params change.

[2020-12-11 17:55] johnkahn commented on #1596
It seems my blitz version is a bit out of date in my project, and I missed the update where `react-query` was downgraded due to the concurrent issue. Unfortunately in version `2.5.12` react-query does not have the option for `queryKey` in the config object. I see two options for adding this functionality without bumping the version, and am wondering which you prefer. IMO I think the second option

[2020-12-11 18:03] flybayer commented on #1596
Let's add the `queryKey` field to `options`, just like the latest react-query. That way when we upgrade, we can simply remove our custom type and everything should keep working.

[2020-12-12 03:20] beeplin commented on #1531
it's quite frustrating not being able to use css module in the newest version. Hope it will be solved soon. 🥇

[2020-12-12 08:56] frissonlabs opened #1600 "Chakra UI's Radio component doesn't work properly in a Blitz app"
### What is the problem?

Tried to add Chakra UI's Radio buttons but clicking on a specific option doesn't immediately select it. The first click highlights the input and it requires a double-click to actually select it.

I've tested this in vanilla next.js and create-react-app starters and it works properly (radio input gets selected on the first click).

### Steps to Reproduce

1. Just add the R

[2020-12-14 07:45] NICHTJ3 commented on #586
What about a list of queries kind of like dependencies in a useEffect hook?

[2020-12-14 08:47] gielcobben commented on #1531
I still have the same issue. It's weird because it is properly working in Code Sandbox but not locally.

[2020-12-14 09:30] timReynolds opened #1606 "Documentation getting started blitz generate all command does not work"
### What is the problem?

Generation of the relationship in the[ getting started documentation ](https://blitzjs.com/docs/getting-started) doesn't work with latest version of blitz.js from npm.

The following command and output shows the issues

[code]

### Steps to Reproduce

Follow the steps in the tutorial until you get to the following erroring step;
[code]

### Versions

[code]

### Other

![

[2020-12-14 10:05] sebastianhoitz commented on #1606
If you are using zsh, you have to escape the parameters. There is a hint further down in the documentation:

But yes, this should be more prominent

[2020-12-14 10:08] timReynolds commented on #1606
@sebastianhoitz right totally missed that, thanks for pointing it out.

Once I've tried it will close this issue

[2020-12-15 01:46] nntu opened #1608 "Error: Package exports for '\blitz\node_modules\tslib' do not define a valid '.' target"
### What is the problem?

### Steps to Reproduce

1.

### Versions

[code]

### Other

Please include applicable logs and screenshots that show your problem.
blitz --version --verbose
You are using alpha software - if you have any problems, please open an issue here:
      https://github.com/blitz-js/blitz/issues/new/choose

Error: Package exports for 'C:\Users\xxx\AppData\Roaming\npm\node_modules

[2020-12-15 07:06] johnkahn commented on #1596
Unfortunately I don't believe that `react-query` can be used in the manner I was hoping. My hope was that I could set a queryKey to be just a string, but still pass along the parameters. But it seems that the parameters must be in the key for them to be passed to the function. So I'll need to setup a global state to store the parameters for these calls so that I can get the queryKey using the util

[2020-12-15 15:16] christianstrang opened #1610 "blitz generate model is limited to alpha character field names"
### What is the problem?
blitz generate model doesn't allow numbers inside the field name

### Steps to Reproduce

1. run `blitz generate wordlist words200:string`

### Versions

[code]

### Other

/src/prisma/field.ts is limited to alpha characters only while prisma has the following conventions:

- Must start with a letter
- Typically spelled in camelCase
- Must adhere to the following regular e

[2020-12-15 17:41] flybayer commented on #1509
So looks like the root problem here was actually some custom build time computation that was in the tailwind site. I discovered this because after deleting most of the tailwind stuff, there was one page that would get stuck in the build and then I found this computation thing.

[2020-12-15 17:41] #1509 closed

[2020-12-15 22:04] flybayer commented on #1600
Interesting, I've noticed this same issue with checkboxes in one of my Blitz apps with tailwind (not Chakra). So it may not be chakra related at all.

[2020-12-15 22:08] flybayer commented on #1531
Yeah sorry y'all, been too busy to get to this. Will try to asap.

[2020-12-15 22:10] flybayer commented on #1608
Can you try deleting `node_modules` and re-installing dependencies?

[2020-12-15 22:14] flybayer commented on #1596
You can set a custom query string, but if the query result data is different, it will mix up the cache. In other words, if your query result data is different, the query key needs to be different too.

I think what you want is possible with plain react-query and our `invoke` middleware, and then grab the params from outside the closure.

[code]

[2020-12-15 22:16] flybayer commented on #1610
Yes, you're right, this needs changed.

Here's the code that needs changed: https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/prisma/field.ts#L99

[2020-12-15 22:44] flybayer commented on #1586
I've opened an RFC for removing our `blitz db` command: https://github.com/blitz-js/blitz/discussions/1611

[2020-12-16 00:54] nntu commented on #1608
ok , i try upgrade nodejs 14. so. it's ok. thanks

[2020-12-16 01:13] dillonraphael commented on #1600
Are you using react-final-form or react-hook-form?

[2020-12-16 01:21] frissonlabs commented on #1600
react-hook-form

[2020-12-16 15:57] #756 closed

[2020-12-17 21:06] #1608 closed

[2020-12-17 21:11] #904 closed

[2020-12-17 21:15] #1610 closed

[2020-12-18 10:19] KATT opened #1622 "Remove auto-build on `yarn start` in prod?"
### What do you want and why?

Hey! I think the auto-build when doing `yarn start` in prod is an anti-pattern.

I personally don't know the history of this feature but I think it just adds quite a lot of complexity which will increase over time. I already saw this myself when doing the PR #1492 and got unexpected side-effects when something is/isn't in the exclude-array.

A start command should no

[2020-12-18 11:00] KATT commented on #1622
I'll move this to the PR #1623 instead so it's only one discussion

[2020-12-18 11:00] #1622 closed

[2020-12-19 06:53] vinaybijanpalli opened #1625 "DuplicatePathError: Warning: You have created conflicting page routes"
### What is the problem?
I updated node.js and i am getting this error when starting blitz
[code]

### Versions

[code]

[2020-12-19 19:23] LoriKarikari commented on #1555
I have updated to `0.27.1` and so far it seems to work again. Going to test more after the weekend and close the issue if I don't encounter any problems.

[2020-12-20 22:09] beerose opened #1636 "Form values are not parsed before validation"
### What is the problem?

Form values are not parsed before validation in Blitz setup with React Final Form.

### Steps to Reproduce

1. Create a new Blitz project with React Final Form
2. Add field `age (number)` to, for example, sign up form (or any other form).
3. Fill input `age` with some value.
4. There's `Expected number, received string` error:
<img width="326" alt="Screenshot 2020-12-20 a

[2020-12-21 13:14] #1555 closed

[2020-12-22 18:53] flybayer opened #1638 "Fix flaky windows test"
### What do you want and why?

We [skipped this test](https://github.com/blitz-js/blitz/blob/canary/packages/file-pipeline/src/helpers/agnostic-source/agnostic-source.test.ts#L52-L79) in https://github.com/blitz-js/blitz/pull/1635 because it's flaky and messing up our CI. But now we need to properly fix it.

This is probably easier for someone with a Windows machine to debug and fix.

[2020-12-22 19:22] flybayer commented on #1636
Hey @beerose! You do that in react-final-form with [the `parse` option](https://final-form.org/docs/react-final-form/types/FieldProps#parse) which you can add to the `useField` options.

[code]

[2020-12-23 09:29] arjundubey-cr commented on #1579
@flybayer I would like to work on this issue.

[2020-12-23 16:46] #1573 closed

[2020-12-23 17:48] flybayer commented on #1625
@vinaybijanpalli still having this issue? Maybe try deleting `.blitz` and `node_modules`, then install deps again and run blitz

[2020-12-23 18:51] #1531 closed

[2020-12-23 19:26] beerose commented on #1636
Hey @flybayer! Thanks for the answer. I get it, but the thing is that the starter code doesn't work out of the box with types other than string.

I was hoping that it could be covered in the generated code — either inside a function that is passed as `validate` prop to `FinalForm` component or inside starter components using `useField` hook.
The point isn't how to do this, but rather that it would

[2020-12-23 19:29] hasparus commented on #1636
Hi folks :wave:

![image](https://user-images.githubusercontent.com/15332326/103030949-229e3200-455d-11eb-80d8-8e0d1b302fcc.png)

Seeing `"number"` in `LabeledTextField` types I expect I can use it with numbers, and I'd expect it _just works_ with `zod` and the `Form` component from _components/Form.tsx_.

Removing this `"number"` would also solve the problem for me and tell me "write your own num

[2020-12-23 19:43] hasparus commented on #1636
![image](https://user-images.githubusercontent.com/15332326/103031642-8543fd80-455e-11eb-8ba2-ae2425cbca85.png)

This change (based on https://github.com/blitz-js/blitz/issues/1636#issuecomment-749729783) would also satisfy that `number` in types IMHO.

[2020-12-24 14:34] blakeley opened #1646 "Cannot import library with `/api` in its path in a file under a `/pages` directory"
### What is the problem?

I'm trying to `import { GoogleMap, LoadScript } from '@react-google-maps/api';`, but when I do that I get `Module not found: Can't resolve 'pages/api/index'`

### Steps to Reproduce

1. `yarn add @react-google-maps/api`
2. Add `import { GoogleMap, LoadScript } from '@react-google-maps/api';` to a file under a `/pages` directory
3. Run `blitz start`
4. See error message

#

[2020-12-24 21:25] Skn0tt commented on #1646
I‘ll take a look at this.

[2020-12-25 05:09] phillipkregg opened #1647 "Blitz Console hangs when trying to create a question in tutorial"
### What is the problem?
From the "Playing with the API" section of the tutorial,
`let q = await db.question.create({data: {text: "What's new?"}})`

Then, the console hangs with "Loading Modules" message:

![image](https://user-images.githubusercontent.com/1066044/103120229-7f244e80-463c-11eb-97be-9d2568a3ea61.png)

### Steps to Reproduce

1.  Start the Blitz tutorial
2. On the "Playing with the A

[2020-12-25 11:15] jan-wilhelm commented on #279
After working with "raw" NextJS i18n for a while, I've found [`next-translate`](https://github.com/vinissimus/next-translate) to be a small and very intuitive library for i18n. I would suggest using this for Blitz too, but I am not sure if it works with Blitz's way of moving NextJS `pages` around. Maybe somebody can try that out? I'm quite busy these days, but could help with that sometime soon.

[2020-12-25 11:17] jan-wilhelm commented on #937
[This comment](https://github.com/prisma/prisma/issues/1272#issuecomment-744329613) looks like it should work now with the latest Prisma version

[2020-12-25 13:10] Kosai106 commented on #1636
Thanks for the suggestion @hasparus, it solves the issue nicely on my end.

[2020-12-26 00:03] phillipkregg commented on #1647
Ah, I may have spoken too soon.  It appears that you actually can still enter commands while the "loading modules 1/15" is displayed.  The cursor disappears though, so it appears as though there is still some sort of loading happening.  But if I type 'q' to log the object, it logs to the console.

[2020-12-26 19:42] tkumpanenko commented on #1606
@sebastianhoitz , @timReynolds - thanks. I've got the same issue with zhs. I think adding just a simple note to docs will be very helpful

[2020-12-29 04:35] NICHTJ3 commented on #586
Optionally declare the list as a named export in the query or mutation file to make it somewhat more automatic. (or even a list of linked models to invalidate related queries from that way we aren't over eager?)

I think the explicitness of declaring them as dependencies of the hook directly lets other developers know what queries/models are dependent without having to jump to a different context,

[2020-12-29 04:53] michiomochi opened #1650 "Generated file contains type error"
### What is the problem?

### Steps to Reproduce

1. Execute `blitz generate all note`

### Versions

[code]

### Other

`app/notes/pages/notes/index.tsx`(auto generated file) contains below type error.
This error means `where` args is missing.

<img width="849" alt="CleanShot 2020-12-29 at 13 46 45@2x" src="https://user-images.githubusercontent.com/1830471/103259473-ee06fc00-49dc-11eb-85a6-ac618c

[2020-12-29 11:28] bravo-kernel opened #1651 "Install recipe not working on Windows 10/Git Bash"
### What is the problem?

I am getting this error when trying to install a recipe (on Windows 10 using Git Bash). I have tried both chakra and tailwind.

[code]

- Error stack below mentions https://github.com/vadimdemedes/ink/#israwmodesupported.
- Might be a broader issue with Git Bash, see `Other`.

<details>
  <summary>Error Stack</summary>

[code]

</details>

### Workaround

Use Git Bash "in

[2020-12-29 21:34] flybayer commented on #1636
@hasparus @Kosai106 yes, that's a very good change! One of you want to make a PR for that?

[2020-12-29 21:47] flybayer commented on #1647
@phillipkregg did it never finish loading the modules? Does it get stuck every time you open the console?

[2020-12-29 21:48] flybayer commented on #1606
Closed in https://github.com/blitz-js/blitzjs.com/pull/292

[2020-12-29 21:48] #1606 closed

[2020-12-29 21:54] flybayer commented on #1650
Looks like probably you need to run `blitz db migrate` after that command in order for the types to be generated. (or if you did, restart your editor)

The error shown says `required in type Pick<any, "where" ...>` but it should be `Pick<Prisma.FindManyNoteArgs, "where"`. So the `any` there means the types aren't being picked up :)

[2020-12-29 21:54] #1650 closed

[2020-12-29 21:54] flybayer commented on #1651
Hmm, that's not good! Thanks for reporting!

[2020-12-29 22:18] #1579 closed

[2020-12-29 22:52] #1646 closed

[2020-12-30 03:03] frissonlabs commented on #1600
This issue still occurs even with the fix for [chakra-ui/chakra-ui#2842 ](https://github.com/chakra-ui/chakra-ui/issues/2842) which isn't the same issue

[2020-12-30 07:57] linbudu599 opened #1652 "No such file or directory db.sqlite-journal on Windows"
### What is the problem?

mutate operation will cause process Errors:

[code]

### Steps to Reproduce

1.  following the tutorial in the docs.
2.  any mutate operations will cause this error like `update` / `create` / `delete`.

### Versions

[code]

### Other

Please include applicable logs and screenshots that show your problem.

logs in `debug.log` above

[code]

[2020-12-30 07:58] linbudu599 commented on #1652
and, though error occured, the mutate operation is performed successfully.

[2020-12-30 08:11] linbudu599 commented on #1652
**supplement**: only the first time of the [Type] + [Mutation] will cause this error, for example: `Create Question` will only invoke the error once, and then no erros will happened again in `Create Question`. And `Vote Choice` `Update Question` ...all other mutations will still got errors on the first trigger.

[2020-12-30 18:15] vinaybijanpalli commented on #1625
@flybayer still getting the same error after deleting and reinstalling `.blitz` & `node_modules`.

Deleting `.coverage` worked for me

[2020-12-30 20:46] flybayer commented on #1652
Hey @linbudu599, not sure what to say on this. Looks like `db.sqlite-journal` is a temporary file that sqlite may create (and that you can delete).

Does the error always happen? What about if you stop the server and run `blitz start` again?

[2020-12-30 20:50] flybayer commented on #1625
Ah, that makes sense. I will fix!

[2020-12-30 21:13] #1625 closed

[2020-12-31 03:55] realSaddy opened #1659 "Error: Key ~ returns crashing"
### What is the problem?
I'm new to Blitz-js, and whenever I am running `blitz start` and delete a file inside the blitz app's folder the entire apparatus crashes with `throw new Error("Key \"" + key + "\" returns");` and `Error: Key "FILE_THAT_WAS_DELETED" returns`.
### Steps to Reproduce

1. Run `blitz start`.
2. While editing some files, delete any that is being used to compile.

### Versions

[2020-12-31 04:08] linbudu599 commented on #1652
nope, I've tried many times to re-appear this error and locate the reason, but it will not always happen.
If this error occured, restart the terminal and rerun `blitz start` will not help, in the restarted application this error will always happen. But if I restart the IDE to restart the application, once it works normally, then this error will not occured again.

Supplement: this error never appe

[2020-12-31 04:11] realSaddy commented on #1659
Here is another one
[code]

[2020-12-31 07:51] cyrus-za opened #1660 "Extract useMutation logic"
### What do you want and why?
Hi Blitz community. I've seen a lot o the talks by @flybayer and love the concept of blitz. I've been using next.js since 2017 and used prisma on/off since the graphcool days and switched to prisma 2 when it [became production ready](https://www.prisma.io/blog/prisma-2-beta-b7bcl0gd8d8e).

Unfortunately, I am not able to use blitz with our current complex setup of sev

[2020-12-31 10:32] cyrus-za commented on #1660
Update: I just found this: https://github.com/prisma/prisma/tree/master/src/packages/react-prisma

They created it yesterday it seems. Those not familiar with React Server Components, [check this out](https://reactjs.org/blog/2020/12/21/data-fetching-with-react-server-components.html).

[2020-12-31 11:56] imkrunal commented on #1600
The same issue happens with the checkbox component.

[2020-12-31 21:46] #1636 closed

[2020-12-31 21:52] flybayer commented on #1652
Ok thanks for the info. seems like might not be something we can fix. Perhaps we can have some docs to fix it if possible. So will park for now.

[2020-12-31 21:58] flybayer commented on #1659
That's not good! Haven't seen that before. Thanks for reporting. Maybe it's related to Node 15.

[2021-01-01 21:27] flybayer opened #1664 "Add cookie `domain` config option to `sessionMiddleware`"
### What do you want and why?

Ability to set the cookie `domain` for Blitz session middleware. Originally requested here: https://github.com/blitz-js/blitz/discussions/1557

### Possible implementation(s)

1. Add `domain` as optional config item on [`SessionConfig`](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/supertokens.ts#L18)
2. Modify [`sessionMiddleware`](https://github.c

[2021-01-02 13:39] tobkle opened #1668 "blitz new <App> breaks... Found: react@0.0.0-experimental-4ead6b530, Could not resolve peer dependency"
### What is the problem?
blitz new <App> breaks

### Steps to Reproduce

1. run: blitz new app

### Versions
[code]

### Other

Please include applicable logs and screenshots that show your problem.

npm ERR!

 ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: app@1.0.0
npm ERR! Found: react@0.0.0-experimental-4ead6b530
npm ERR! node_modules/react
npm ERR!   react@"0.0.

[2021-01-02 13:47] tobkle commented on #1668
got it working with Node 12.20.0

[2021-01-02 13:47] #1668 closed

[2021-01-03 22:18] rembrandtreyes commented on #1664
I just read up on the contributing guidelines and I am looking forward to contributing to Blitz!

🙌 I'll tackle this issue.

[2021-01-04 01:24] KATT commented on #1660
Sounds like you're after the same thing as me, I want e2e-type-safety and no API-wiring, I find https://github.com/colinhacks/trpc interesting.

You won't be able to do mutations in react server components afaik

[2021-01-04 14:02] KATT commented on #1660
I've also been at it from the same thing in general, it would be nice to have a way for existing Next.js users to easily plug in to the blitz magic.

[2021-01-05 11:13] kyken opened #1675 "Error "Failed to parse publicDataStr" occur when PublicData including semicolon string"
### What is the problem?
When handling session data of blitz, I set a string including a semicolon as publicData, an exception `Failed to parse publicDataStr` has occur.

### Steps to Reproduce

1. clone blitz repo and checkout v0.28.0
2. modify `examples/auth` to include publicData to semicolon
3. execute `useSession`  and error occurs

### Versions

[code]

### Other
codes and screenshot

[code]

[2021-01-05 13:01] cyrus-za commented on #1660
I am aware, but the react-prisma plugin could evolve to more than just server components. They could add useMutation code from blitz into that package or build something similar.

[2021-01-05 18:56] phillipkregg commented on #1647
Yes, it seems to get stuck on the "Loading Modules 1/15" message, but after a moment it allows you to enter the blitz console commands, but there is no cursor and no indication that you can actually start entering commands.  I was using the Cmder console on a Windows 10 machine, but I will try it with the Hyper console a little later today when I get some free time.

[2021-01-05 21:14] flybayer commented on #1675
Hey @kyken, thanks for reporting, this is a bug.

For whoever wants to fix:

- Currently the the publicDataToken has the payload inside an array. This was used in the past but no longer needed.
- Change [`createPublicDataToken()`](https://github.com/blitz-js/blitz/blob/canary/packages/server/src/supertokens.ts#L308-L311) to not be an array. Instead just have the plain data.
- Change [`parsePublicD

[2021-01-05 21:46] flybayer commented on #1660
This does sound nice, but I'm not sure it's possible 🤔 Because all the magic comes from our custom compiler that moves around files and adds custom code. If it was just code changes it could be done via webpack/babel, but it also requires moving files since Next.js is very file-based.

So instead of extracting it, maybe it's easier to address issues preventing you from using Blitz? For example you

[2021-01-05 22:51] phillipkregg commented on #1647
Ok, so I just got home and tried this again in 3 different consoles and can't recreate it.  It seems to be working fine now and displaying a prompt once the modules finish loading.  Seems to have just been a fluke, or a problem with the network I was using when I first found it.  I'll close this one.

[2021-01-05 22:51] #1647 closed

[2021-01-06 11:25] cyrus-za commented on #1660
Is it really that simple? no need to scafold a new blitz app? No opinionated folder structure?

I am using Nx workspaces for the monorepo, which has built in nextjs support but no official blitz support just yet

[2021-01-06 18:26] cyrus-za commented on #1660
@Flavyoo I tried it out. I get
[code]

Can you please explain how the file moving is required to extract the useMutation logic to a package?

[2021-01-06 22:53] #1675 closed

[2021-01-06 22:56] flybayer commented on #1660
Yes!

Did you do all the following?

- Rename `next.config.js` to `blitz.config.js`
- Remove `next` dependency
- Add `blitz` dependency

[2021-01-06 22:58] #1664 closed

[2021-01-07 23:43] rembrandtreyes opened #1682 "Warning when running tests in `package/installer`"
### What is the problem?
Running tests inside of `package/installer` and noticed a warning when tests run
### Steps to Reproduce

1. `cd packages/installer`
2. `yarn test`

### Versions

[code]

### Other

Please include applicable logs and screenshots that show your problem.

![Screen Shot 2021-01-07 at 3 40 14 PM](https://user-images.githubusercontent.com/15057964/103957118-dd523680-50fe-11eb-8d

[2021-01-07 23:54] rembrandtreyes opened #1683 "`tsConfig` is depecrated and will be removed in ts-jest 27"
### What do you want and why?
In the next major version (27), ts-jest will be removing key `tsConfig` and its being replaced with `tsconfig`

There are 4 locations with the deprecated key in the `jest.config.js` files
1. cli
2. generator
3. installer
4. repl

### Possible implementation(s)
Find/Replace `tsConfig` with `tsconfig`

### Additional context
Warning from console: `ts-jest[config] (WARN)

[2021-01-08 04:54] rembrandtreyes commented on #466
I would like to tackle this, but my testing skills are severely lacking. I tried implementing some tests, but couldn't get much out of them. @aem do you have any recommendations for documentation/articles I could read to get a rundown on how to test some of these installer files.

[2021-01-08 07:08] MrLeebo commented on #1683
Thanks for writing this up!

[2021-01-08 13:51] kenneho opened #1684 "Add ability to generate pages that aren't dependent on queries/mutations"
### What is the problem?

"blitz generate pages" crashes the application.

### Steps to Reproduce

[code]

`blitz start` results in this error:

[code]

### Versions

[code]
### Other

Looks like the auto generated code assumes that there will be a underlying model. I guess this will be a design question - should one be able to use `blitz generate pages ...` to create standalone pages? One can cre

[2021-01-08 21:17] flybayer commented on #1682
Thanks for the issue!

[2021-01-08 21:42] flybayer commented on #1684
@kenneho thanks, good point! This would be good to add, but it will be a bit complex and needs to wait on some other generator features/refactoring. So putting in icebox for now.

[2021-01-08 22:29] #303 closed

[2021-01-09 03:24] koolii commented on #1580
I read up `How to Contribute`!
@flybayer I would like to work on this issue if anyone has done this yet.

[2021-01-09 17:08] flybayer commented on #1580
Hey @koolii thanks for your interest! This code is actually getting removed shortly via #1661, so this issue is no longer relevant.

[2021-01-09 17:08] #1580 closed

[2021-01-09 17:38] koolii commented on #1683
I would like to work on this issue if anyone has done this yet :)

[2021-01-09 18:39] koolii commented on #1683
I tried to make a PR to finish this issue in advance.
I'll drop above if @rembrandtreyes or someone has already got this.

[2021-01-09 18:47] rembrandtreyes commented on #1683
@koolii thanks for the PR. I wrote this up so someone else can work on it. Your PR should be good 😄

[2021-01-09 18:51] koolii commented on #1683
@rembrandtreyes Thank you for the reply :)
I would appreciate it!

[2021-01-09 20:51] #1683 closed

[2021-01-10 06:57] kenneho opened #1691 "blitz generate all should adapt to the chosen default form"
### What do you want and why?

I chose `react-final-form` as the default form when bootstrapping the project. When running `blitz generate all product`, however, it doesn't seem to provide a Final Form setup. In order to convert `product` to be using Final Form in the same way say the stock `login` form does, there seems to be some rewrite I'd have to make, especially if I try and reuse the way it

[2021-01-10 10:06] cyrus-za commented on #1660
Yes I did, but its not working inside a nx workspace.

I created a [repo](https://github.com/cyrus-za/blitz-nx-issue) to show the issue. Steps I took to produce the repo

1. run `yarn create nx-workspace`, give a name to the org (`my-org`) and select next.js and name the app `blitz-app` (select CSS and No for cloud)
2. run `cd my-org && yarn`
3. run `rm package-lock.json`
4. run `mv apps/blitz-app

[2021-01-10 23:07] malkomalko commented on #1600
👋🏻 I'd love to take a look at this issue as my first contribution if nobody else is taking a look at it.

[2021-01-11 11:58] malkomalko opened #1693 "chakra recipe is erroring with useCallbackRef"
### What is the problem?

See log below for log when trying the chakra recipe.  More than likely something changed with one of the deps since we're relying on the [latest](https://github.com/blitz-js/blitz/blob/canary/recipes/chakra/index.ts#L39-L44) tag.

The [issue is in chakra](https://github.com/chakra-ui/chakra-ui/issues/3006), however I did want to bring this up to see if we should be in the

[2021-01-11 19:57] flybayer commented on #1691
Yes! Will have to wait until we refactor and improve some of the codegen infrastructure first, so putting in icebox for the moment.

[2021-01-11 20:02] flybayer commented on #1660
Hmm yeah looks like an nx issue at least at this point.

Think this original issue can be closed?

[2021-01-11 20:04] flybayer commented on #1600
@malkomalko that'd be great! 🙏

[2021-01-11 20:14] flybayer commented on #1693
Ah, yeah not sure how that slipped through. Recipes are supposed to be pinned to a major version range. Would you want to make a PR to set them to the last working version range?

Code: https://github.com/blitz-js/blitz/blob/canary/recipes/chakra/index.ts#L39-L43

[2021-01-11 23:10] kwakuben commented on #261
I could work on this if some knowledge base/documentation is provided.

[2021-01-11 23:12] flybayer commented on #261
Hey @kwakuben I'm not actually sure how to do this 😅 This is probably best for someone who has a good grasp of blitz already and can spend time digging into it.

[2021-01-11 23:17] kwakuben commented on #261
Right. Feel free to pass me some easier tasks once they arise. Still looking through for something to do

[2021-01-11 23:29] flybayer opened #1696 "Fix lint warnings"
### What do you want and why?

If you run `yarn lint` in the repo root, you currently get around 25 lint warnings. These are mostly unused variables and should be easy to fix.

[code]

[2021-01-11 23:49] #1693 closed

[2021-01-12 02:41] #1586 closed

[2021-01-12 08:43] koolii commented on #1696
I would like to take it :)

[2021-01-12 08:55] kwakuben commented on #1696
@koolii i also wish to work on this

[2021-01-12 08:58] kwakuben commented on #1696
i was perusing the correct and incorrect code examples which may either resolve or trigger the warnings from [eslint.org](url). Some useful information there

[2021-01-12 10:34] koolii commented on #1696
@kwakuben My apologies. I tried to cooperate with you to solve this. but I felt that no needed to do it because almost all warnings are solved by configuring `.eslintrc.js`.

[2021-01-12 10:45] koolii opened #1701 "Fails tests around DataBase and Prisma at @examples/store"
### What is the problem?

it happens errors when I exec `yarn test`.

it seems that the following test is weird.

`prisma generate && blitz prisma migrate deploy --preview-feature && blitz db seed && blitz build && blitz start --production -p 3099`

### Steps to Reproduce

1. exec `git pull upstream canary`
2. check commit id `git log |grep '^commit' |head -1|awk '{print $2}'` => `62efe3f4eefc371b

[2021-01-12 11:07] kwakuben commented on #1696
No worries @koolii . My goal is to learn the ins-and-outs as much as possible in order to become more productive future Blitz dev. Solution to above well understood and noted. Lets move on to the next.

[2021-01-12 11:14] cyrus-za commented on #1660
Well the original issue is not about running blitz in nx. It is about a standalone package for useMutation functionality. I get that files need to be moved at build time to achieve this, but maybe the babel plugin and webpack loader etc can be exposed too?

[2021-01-12 16:51] flybayer opened #1703 "Tool To Visualize App Changes Between Versions (copy and tweak this tool from React Native)"
### What do you want and why?

As time goes on we make changes to the new app template that existing blitz apps might want. As well as breaking changes here in the pre-1.0 era.

Currently it's difficult to see the changes between version, especially when jumping multiple versions at once.

The solution is a web tool to visualize the changes between versions [just like react native has](https://rea

[2021-01-12 19:27] Skn0tt opened #1704 "Meta: Form-Based Issue Templates"
### What do you want and why?

The Next.js repository has [form-based issue templates](https://github.com/vercel/next.js/issues/new?assignees=&labels=template%3A+bug&template=1.bug_report.yml&title=). I quite like this and I think we should also adopt it.

### Possible implementation(s)

Take a look at Next's [issue templates](https://github.com/vercel/next.js/tree/canary/.github/ISSUE_TEMPLATE) a

[2021-01-12 19:34] #1696 closed

[2021-01-12 19:43] flybayer commented on #1701
This is because of the prisma upgrade.

### Solution

`rm examples/store/db/db.sqlite`

And repeat for any of the other example apps if needed

[2021-01-12 19:53] flybayer commented on #1704
Oh interesting. That's an early access thing. I sent an email, so we'll see what happens.

[2021-01-13 00:52] shrugs opened #1708 "React-hook-form intermittent infinite loop with AuthenticationError / ErrorBoundary in Firefox"
### What is the problem?

With the default ErrorBoundary, when a query throws an AuthenticationError, a sometimes infinite render loop occurs in firefox.

I've narrowed some of the behavior down to the firefox browser, and then further narrowed some of the behavior to a blitz app with forms using `react-hook-form`.

### Steps to Reproduce

1. clone the repo
2. `yarn`
3. `blitz prisma migrate --pre

[2021-01-13 01:01] flybayer commented on #1708
Thanks for the detailed issue!

You have a typo in this section: the link doesn't match the name in parenthesis

[2021-01-13 01:49] malkomalko commented on #1600
Just dropping an update here that this is caused by blitz' experimental react versions.  You can see Chakra Radio components working by switching to version `17.0.1` and then adding the following to your blitz config.

[code]

This is obviously not ideal, but will continue to look into finding a fix with the experimental usage.

[2021-01-13 06:02] marina-ki opened #1710 "Easily support passwordless/magic link auth"
### What do you want and why?

I would like to verify emails using magic link.
I'm thinking of the following two methods, but neither seems to be a good choice.

1. Replace with NextAuth
2. Implement by myself like this: https://medium.com/@aleksandrasays/sending-magic-links-with-nodejs-765a8686996

### Additional context

[SuperTokens library](https://supertokens.io/) says that Email verification

[2021-01-13 12:17] gabrilator opened #1711 "Logout mutation not updating currentUser across the app"
Hey! Having some of trouble with logout mutations since 0.28.
### What is the problem?
The logout mutation doesn't update currentUser across all the app components
### Steps to Reproduce

1. blitz new name
2. Extract the boilerplate logout button into a component, i.e LogoutButton
[code]
3. Replace the default logout button with LogoutButton.
4. After logging in, try to logout with the new LogoutB

[2021-01-13 14:32] BjoernRave opened #1712 "Blitz Cache Error ENOENT when renaming a file"
### What is the problem?

Blitz does not update it's cache when renaming a file and throws a `Error: ENOENT: no such file or directory, open ...` error

### Steps to Reproduce

1. Start Blitz server
2. Rename a file

### Versions

[code]

[2021-01-13 16:18] flybayer commented on #1711
Hmm, something's odd because that doesn't make sense. All query cache is deleted in the blitz framework when it receives the api response.

When it [gets the header noting session revoked](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/rpc.ts#L86), it [clears all query cache](https://github.com/blitz-js/blitz/blob/canary/packages/core/src/public-data-store.ts#L38).

Did you reprod

[2021-01-13 16:49] gabrilator commented on #1711
Hey @flybayer, I reproduced this  in a brand new app.

[2021-01-13 17:30] kenneho opened #1713 "Models that ends with a number trigger a bug in the pluralization function"
### What is the problem?

Models that ends with a number triggers a bug in the pluralization function.

From @flybayer on Slack:

### Steps to Reproduce

1.Run `blitz generate all test002`

[code]

### Versions

[code]

### Other

Please include applicable logs and screenshots that show your problem.

[2021-01-13 17:31] kenneho opened #1714 "Creating models that ends with number trigger a bug in the pluralization function!"
### What is the problem?

Models that ends with a number triggers a bug in the pluralization function.

From @flybayer on Slack:

### Steps to Reproduce

1.Run `blitz generate all test002`

[code]

[2021-01-13 17:31] kenneho opened #1715 "`blitz generate` bug when model name ends with number"
### What is the problem?

Models that ends with a number triggers a bug in the pluralization function.

From @flybayer on Slack:

### Steps to Reproduce

1.Run `blitz generate all test002`

[code]

[2021-01-13 18:13] koolii commented on #1701
I understood it all :) thank you for telling me.
Let me ask you a question.
Don't it need to delete it(or them) automatically? or just delete it by myself at this time because only uses prisma from now on?

[2021-01-13 21:04] denvaar commented on #1233
Is there a workaround for this while it's being worked on?

[2021-01-13 21:23] flybayer commented on #1233
@denvaar should be able to manually require it inside the repl, something like this:

[code]

[2021-01-13 22:22] flybayer commented on #1713
Duplicate https://github.com/blitz-js/blitz/issues/1715

[2021-01-13 22:22] #1713 closed

[2021-01-13 22:22] flybayer commented on #1714
Duplicate https://github.com/blitz-js/blitz/issues/1715

[2021-01-13 22:22] #1714 closed

[2021-01-13 22:24] flybayer commented on #1715
Here's the file that needs fixed: https://github.com/blitz-js/blitz/blob/canary/packages/generator/src/utils/plurals.ts

[2021-01-13 22:25] flybayer commented on #1701
Just needs deleted one time for this upgrade

[2021-01-13 22:55] flybayer commented on #1600
Well, I've also done some more investigation and determined this is not an issue with React (vanilla controlled components work fine). Therefore it is a bug with react-final-form and with chakra.

There's already an open issue for react-final-form: https://github.com/final-form/react-final-form/issues/600

And an issue was opened for Chakra but closed without resolution: https://github.com/chakra-

[2021-01-13 22:55] #1600 closed

[2021-01-13 23:29] #1711 closed

[2021-01-14 00:55] koolii commented on #1715
I would like to take it :)

[2021-01-14 01:05] koolii commented on #1701
OK, I appreciate it :), Closing here!

[2021-01-14 01:05] #1701 closed

[2021-01-14 12:17] kenneho commented on #1713
Sorry, got an error from Github when trying to register the issue, so I got registered twice.

[2021-01-15 12:58] kenneho commented on #997
I frequently get the same error on Ubuntu. Any debugging I can do to help troubleshoot the issue?

[2021-01-15 13:20] marina-ki commented on #1710
[passport-magic-login](https://github.com/mxstbr/passport-magic-login) recently developed, so I've tried, but got 401  error.

my code:

[code]

[code]

[2021-01-15 15:51] anteprimorac commented on #1710
@marina-ki here is the solution that works for me:

[code]

[2021-01-15 15:58] flybayer commented on #1710
Looks like we should add a feature to our passport adapter so you don't have to make your own extra api routes. Something like this:

[code]

[2021-01-15 16:12] jcze91 opened #1723 "Try installing Reflexjs recipe"
### What is the problem?

Hello, I had multiple Typescript error while trying to install Reflexjs recipe, here are the logs

### Steps to Reproduce

1. blitz new app
2. cd app
3. blitz install reflexjs

### Versions

0.29.2

### Other

`TSError: ⨯ Unable to compile TypeScript:
    ../../../../JF0FE~1.CAZ/AppData/Local/Temp/blitz-recipe-blitz-js-blitz/index.ts:1:47 - error TS2307: Cannot find modul

[2021-01-15 16:24] marina-ki commented on #1710
@anteprimorac
Thank you very much!!!! The problem is resolved!

[2021-01-15 16:29] anteprimorac opened #1724 "Custom API request helper function"
### What do you want and why?
Simplify requests to custom api routes that use blitz session middleware.

[code]

### Possible implementation(s)

[code]

[2021-01-15 19:41] flybayer commented on #997
This doesn't happen with plain Next.js, so there's some quirk here with the "double" change detection pipeline.

[code]

So idk if maybe we need to add a slight artificial delay in our processing? Or some debouncing?

Or perhaps we just need to tune some [chokidar settings](https://github.com/paulmillr/chokidar). Like `awaitWriteFinish` or `atomic`.

Maybe a first step at debugging is to add add a

[2021-01-15 19:43] flybayer commented on #1723
What is the output of `blitz -vV` (this was requested in the issue template :)

[2021-01-15 19:51] #937 closed

[2021-01-16 20:39] malkomalko opened #1729 "Performance: don't call findDuplicates for every file"
### What do you want and why?

Doing some debugging while figuring out how to dev locally using yalc, and I found that the below code is being called for every file.

https://github.com/blitz-js/blitz/blob/66d8aa48a783b36343cd03bf26d98c7eff9dc897/packages/server/src/stages/pages/index.ts#L79-L103

### Possible implementation(s)

A simple enhancement would be to only check for duplicates after all

[2021-01-17 09:52] birksy89 opened #1730 "Cannot find module '@prisma/client' after installing Recipe"
### What is the problem?

After installing the tailwind Recipe, I encountered this error when trying to load a page

I discovered this pre-existing issue when searching, and it seems to be strongly connected:
https://github.com/prisma/prisma-client-js/issues/560

Following the step / command in that issue does seem to solve the problem, but I'm not sure if it is the correct action to take:

### St

[2021-01-17 14:16] anteprimorac opened #1732 "Disable `react-query` suspense when using legacy React"
### What do you want and why?
Currently switching `reactMode` experimental option to `legacy` requires going to every `useQuery` call and setting `suspense` to `false`.

### Possible implementation(s)
Make `defaultQueryConfig.suspense` dependable on `reactMode` experimental option.

[2021-01-17 14:51] malkomalko commented on #1732
👋🏻 Ante.  An amazing community member posted this gist for helping with the above https://gist.github.com/Zeko369/a0bd1acbb6feeeee512294f9ab6d44e7.

❓ Do we want to think about swapping this in during the compilation phase as a default if we know that we're using legacy mode.

[2021-01-18 11:42] koolii commented on #1712
I'd love to tackle this issue :)

[2021-01-18 18:20] marciomrb opened #1737 "Next/Image Invalid URL"
Hello, I got this error
[code]

but in my blitz.config.js

[code]

[2021-01-18 21:13] flybayer commented on #1730
Usually prisma will automatically run `npx prisma generate` for you, but sometimes that fails as you can see. The solution is indeed to run `npx prisma generate`.

[2021-01-18 21:13] #1730 closed

[2021-01-18 21:18] #1715 closed

[2021-01-18 21:26] flybayer commented on #1712
@koolii great! I feel this is related to https://github.com/blitz-js/blitz/issues/997, so take a read through that issue too.

[2021-01-18 21:31] flybayer commented on #1737
Can you link a reproduction repo?

And next time please keep the Github bug template including instructions like including output of `blitz -vV`.

[2021-01-18 23:42] #1732 closed

[2021-01-19 01:24] #1153 closed

[2021-01-19 06:31] javierfuentesm opened #1746 "Error when trying to run the migration to my mysql database"
### What is the problem?

I made the changes to connect to my remote mysql server ,but when I run
blitz prisma migrate dev --preview-feature
To create the User and Session table in my database
I got this error

![image](https://user-images.githubusercontent.com/19244527/104996490-9234ff00-59ed-11eb-9fbc-342bb02b7681.png)

### Versions

[code]
![image](https://user-images.githubusercontent.com/1924

[2021-01-19 13:40] gabrilator commented on #1711
Hey! I realised the same thing happens with login and signup mutations! Do I open a new issue?

[2021-01-19 13:53] gabrilator opened #1747 "Login, signup mutation not triggering re-renders"
### What is the problem?

Login and signup mutations aren't triggering re-renders, similar to https://github.com/blitz-js/blitz/issues/1711
### Steps to Reproduce

1. blitz new name
2. Import LoginForm into home page
3. Use the login form component on the home page. Without invalidating the getUsers query, it won't update the cache

### Versions
0.29.2

[2021-01-19 16:26] flybayer commented on #1746
Hey @javierfuentesm, this is a Prisma issue so you'll need to open an issue on [the Prisma github](https://github.com/prisma/prisma) or ask in the prisma slack. :)

[2021-01-19 16:26] #1746 closed

[2021-01-19 17:18] #1747 closed

[2021-01-19 17:58] andreasasprou commented on #1660
Hacked it together and it seems to be working (still some things to figure out!)

https://www.loom.com/share/4d22ea7376c042558aa12c71056e6676

[2021-01-19 18:10] #1660 closed

[2021-01-19 22:19] flybayer opened #1752 "Queries run before session data is fully loaded"
### What is the problem?

Queries run while `session.isLoading === true`. This causes the following code to first run with wrong input data:

[code]

### Steps to Reproduce

1. Use above query and watch server logs. You will see `{where: {id: undefined}}`

### Versions

[code]

### Other

I attempted a fix in https://github.com/blitz-js/blitz/pull/1751 but that didn't work because `useEffect` does

[2021-01-19 23:29] kivi opened #1754 "Api files from sub or container directories are copied in one api file, but path of imports are not adjusted"
### What is the problem?

Files and directories api, which are in in container directories. (With container directories I mean for example> `pages/auth/`).
Are accumulate into `.blitz/caches/dev/app/pages/api/`

When placed from container directories into app/pages/api, the imports are not copied.

### Steps to Reproduce

Check the file `app/auth/api/auth/[[...path]].js`
https://codesandbox.io/s/v

[2021-01-19 23:41] markcatley opened #1755 "Email already used validation message not working anymore"
### What is the problem?
I'm trying to upgrade from v0.27.1 to v0.29.2 and my integration tests for trying to sign up with the same username twice is not working.

I generated a fresh blitz v0.29.2 app (all default options) and the problem exists there too.

### Steps to Reproduce

1. Generate a fresh blitz app - all default options
2. Sign up
3. Log out
4. Sign up with the same email address agai

[2021-01-20 00:08] kivi opened #1756 "Files compiled or cached in ./blitz are not deleted, when renaming or delete from src"
### What is the problem?

When I create a file app, it will also created in ./blitz/caches/dev
When I delete or rename the file, it is not deleted or renamed  from>./blitz/caches/dev

### Steps to Reproduce

1.  create a file in app/auth/pages
2. delete that file
3. check in ./blitz/caches/dev/pages - the file created in step 1. will still be here

### Versions

blitz: 0.29.2

[2021-01-20 00:29] zenhob commented on #1755
I am experiencing the same thing with Blitz 0.28.0

[2021-01-20 02:37] reiwa commented on #1724
Blitz.js use ReactQuery inside useMutation, but this function doesn't allow normal functions.

[code]

because of this line: https://github.com/blitz-js/blitz/blob/654d9378adb985372cdf49729be3b8cf66f7d62a/packages/core/src/utils/react-query-utils.ts#L53

Is it possible to merge useReactQueryMutation and Blitz's useMutation ?

[code]

like this:

[code]

https://github.com/blitz-js/blitz/blob/654d9

[2021-01-20 19:28] flybayer commented on #1756
Related issue (maybe duplicate): https://github.com/blitz-js/blitz/issues/1712

[2021-01-20 19:28] flybayer commented on #1712
Another related, possible duplicate issue: https://github.com/blitz-js/blitz/issues/1712

[2021-01-20 19:29] flybayer commented on #1755
This is happening because of https://github.com/blitz-js/superjson/issues/91.

The workaround is to add a try/catch in your resolver and throw a custom error message there.

[code]

[2021-01-20 19:32] flybayer commented on #1724
@reiwa can't do that because we can't calculate a query key for that. For using a regular function, you need to use the hook directly from react-query: `import {useMutation} from 'react-query'`

[2021-01-20 22:09] #1754 closed

[2021-01-20 22:26] flybayer commented on #1754
Fixed in https://github.com/blitz-js/blitz/releases/tag/v0.29.3

[2021-01-20 23:06] Blanen commented on #1668
Same issue and saying "use this specific version" is not really an acceptable solution in my opinion.

Blitz should obviously be able to do this with any supported version and especially the latest LTS.

[2021-01-21 00:15] flybayer commented on #1668
The core problem here is that npm did a terrible thing and changed how peer dependencies works... Best solution is to use `npm install --legacy-peer-deps` for now.

As for the particular issue mentioned in OP, it's an issue with the peer dependencies defined in [react-error-boundary](https://github.com/bvaughn/react-error-boundary). It should allow react@experimental. There's probably other depend

[2021-01-21 04:40] tarunama commented on #1682
Maybe related this issues.
https://github.com/vadimdemedes/yoga-layout-prebuilt/issues/8
https://github.com/facebook/yoga/issues/898

`yoga-layout-prebuilt` still not support Node.js 12.

[2021-01-21 11:47] kivi commented on #1754
This is not fixed.

Versions:
`blitz: 0.29.2 (global)
blitz: 0.29.2 (local)`

Files in /api directories of "container directories" are created in .blitz/cache/dev/pages/api, but the rest of the container directories will be created in .blitz/cache/dev/app/container.

`import { doSometthing } from "../../fileInContainerDirectoryDoSomething"` in app/container/api/subdir/path.ts is not being updated

[2021-01-21 12:12] kivi commented on #1754
Sorry, I misread and I am still using the old version.

But I can not upgrade. First I tried to upgrade with `yarn`.

Then I tried to create a new blitz project: `blitz new myproject`

[code]

[2021-01-21 14:03] malkomalko commented on #1755
This has been fixed in superjson.  The fix would be to use the new `allowErrorProps` prop as described in the link pr above from flybayer, and to upgrade the package to `1.5.0`

[2021-01-21 16:14] flybayer commented on #1754
@kivi inside your current blitz project, run `yarn add blitz@0.29.3`, and then run `blitz start`. That's all you need to do

[2021-01-21 16:35] #1755 closed

[2021-01-21 17:30] flybayer opened #1767 "Add e2e CLI test for `blitz new`"
### What do you want and why?

We currently have [a few `blitz new` tests](https://github.com/blitz-js/blitz/blob/canary/packages/cli/test/commands/new.test.ts), but not a complete e2e test for the new app.

We want to:

1. Test the following for each form option
2. Test `blitz build` success inside new app
3. Test `yarn test` success inside new app
   1. Need to remove the `.skip` from `app/pages

[2021-01-21 19:45] MrLeebo commented on #1737
@marciomrb This appears to be working as far as I can tell. You may need to restart your dev server for the config to take effect. I tried to create a repro, but the image loaded successfully. https://codesandbox.io/s/quirky-greider-d2ku4?file=/blitz.config.js

Feel free to re-open if there's something I missed.

[2021-01-21 19:45] #1737 closed

[2021-01-21 20:06] vonphlpp opened #1768 "Prisma case-insensitive filtering not working"
Hi, can't use [case-insensitive](https://www.prisma.io/docs/concepts/components/prisma-client/case-sensitivity#options-for-case-insensitive-filtering) filtering in a query like:

[code]
Without ```   mode: "insensitive" ``` it is working. I get the error:
[code]
and ts-error:
[code]
Version:
[code]

Thx for any help.

[2021-01-21 20:08] BjoernRave opened #1769 "Accessing Options of useQuery removes types from params"
### What is the problem?

When using useQuery like this everything is fine.

[code]

However when I destructure the second param to access the `options`, like `refetch`, `text` and `title` loose their types.

[code]

### Steps to Reproduce

1. Use `useQuery` and destructure the second parameter

### Versions

[code]

[2021-01-21 22:40] flybayer commented on #1769
Unfortunately this is a Typescript limitation, and there's nothing we can do about it. :(

Hopefully Typescript will fix this in a future release

[2021-01-21 22:40] #1769 closed

[2021-01-21 22:49] BjoernRave commented on #1769
ah okay, I saw some new stuff regarding arrays in the typescript 4.2 beta, but not sure if it's related

[2021-01-21 23:32] flybayer commented on #1768
Hey @vonphlpp, not sure what the issue here. It's prisma specific, so please open an issue in their repo: https://github.com/prisma/prisma

:)

[2021-01-21 23:32] #1768 closed

[2021-01-22 06:50] bacongravy opened #1774 "Chakra UI recipe should be named `chakra-ui`"
### What do you want and why?

The Chakra UI package is named `chakra-ui`, but the Blitz recipe is named `chakra`.  Other recipes include the `-ui` suffix. For the sake of consistency with the package name and the other recipes, `chakra` should be renamed `chakra`.

### Additional context

It is arguably easier to type `chakra` instead of `chakra-ui`, but it is also surprising for people new to Bl

[2021-01-22 10:14] tarunama commented on #1682
@flybayer
Hi, My conclusion of this issue is outside `blits.js`
This issue is depending on `yoga-layout-prebuilt` package.
So, could retriage `status/icebox` or valid label, does not close this issue.

[2021-01-22 10:28] ArekBartnik commented on #289
A little note. Because of the `sodium-native` package you'll need to add this line to a "builder" phase:

[code]

Without it `sodium-native` won't compile and install fails.

[2021-01-22 15:59] flybayer commented on #1682
Ok thank you @tarunama!

[2021-01-22 16:02] flybayer commented on #289
For whoever wants to work on this, the `render` recipe can by copied and modified for the docker recipe because it's doing the same thing (adding a file).

[2021-01-22 16:24] #279 closed

[2021-01-22 16:52] MrLeebo commented on #483
@Skn0tt It looks like https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/no-unsupported-features.md is deprecated now and the modern alternatives are provided by default in the node/recommended preset.

Would it be more appropriate to enable the preset for backend scripts with an override? Something like:

[code]

[2021-01-22 16:57] MrLeebo commented on #1489
Closing this out because this issue appears to have gone stale, please reopen with more information if it's still happening.

[2021-01-22 16:57] #1489 closed

[2021-01-22 18:19] #1043 closed

[2021-01-22 20:22] #85 closed

[2021-01-22 20:37] MrLeebo commented on #306
@flybayer @ryardley I'm closing this because I think the architectural goals that have been outlined here have been achieved. If you disagree, could you please reopen with your assessment of where we're at and what still needs to be done?

[2021-01-22 20:37] #306 closed

[2021-01-22 20:46] MrLeebo commented on #1723
@jcze91 I followed the repro steps using version 0.29.2 but couldn't reproduce the errors, it ran successfully.

If this output was from your VS Code or another IDE, perhaps restarting the TS Server would clear it up? I'm closing this issue for now, but if you are still experiencing issues, please reopen with the version information that Brandon requested.

[2021-01-22 20:46] #1723 closed

[2021-01-22 20:57] MrLeebo commented on #1439
I think this proposal creates more of a maintenance burden and there isn't any benefit that I'm aware of for picking `yarn` over `npm` to run the scripts. Please let me know if you have a reason, but for now I'm going to close this to prioritize other cards.

[2021-01-22 20:57] #1439 closed

[2021-01-22 21:09] MrLeebo commented on #988
@markhaehnel @CalamityAdam any new information on this issue? All of the posted information seems to point to either a proxy/firewall or an upstream dependency issue.

[2021-01-22 21:14] flybayer commented on #988
We have added a timeout for this, so now worst case is wait a bit and then fallback to the major versions specified.

[2021-01-22 21:14] #988 closed

[2021-01-22 22:19] MrLeebo commented on #1539
Looks like this was already resolved by https://github.com/blitz-js/blitzjs.com/pull/292

[2021-01-22 22:19] #1539 closed

[2021-01-22 22:34] #1482 closed

[2021-01-22 22:35] #668 closed

[2021-01-22 22:35] #595 closed

[2021-01-22 22:35] #471 closed

[2021-01-22 22:56] MrLeebo commented on #280
I agree with @JoseRFelix about MSW being a good approach for this. It would be cool if we had a blitz wrapper around MSW for handling RPC calls without having to calculate their URLs:

[code]

[2021-01-22 23:26] #1774 closed

[2021-01-22 23:35] #318 closed

[2021-01-23 11:17] estevanjantsk opened #1783 "has no exported member 'PrismaClient'"
### What is the problem?

When I install all deps and everything to run the project, then I access db/index.ts you will see this warning in your VSCode:

import { PrismaClient } from "@prisma/client" -> has no exported member 'PrismaClient'

### Steps to Reproduce

1. access db/index.ts (using vscode)
2. you will see the message

### Versions

[code]

### Possible FIX

So I did a quick research an

[2021-01-23 12:18] marina-ki opened #1784 "Directory styles are not unified"
### What do you want and why?

`$ blitz g all userGroups` generates these files.

[code]

Directory names should be unified to camel case or ~~snake case~~ kebab-case. I think camel case would be better.

#### Versions
[code]

[2021-01-23 13:58] nitaking commented on #1784
We need to decide which scope and which case(camel case or snake case) you want to use.

[2021-01-23 14:01] nitaking commented on #1784
@flybayer

@marina-ki 's idea:

[code]

Only under `pages/**` should be snake case. I agree too.

[2021-01-23 16:10] MrLeebo commented on #1784
To clarify, `user-groups` is kebab-case, if it were snake_case, it would be `user_groups`. We definitely want to use kebab-case for pages/** for better SEO, and I agree with using camelCase for the module folder names.

[2021-01-23 18:04] flybayer commented on #1783
Hey @estevanjantsk, that change is not needed for this work. Sounds like the main issue you had is the VSCode TS server which we can't do anything about unfortunately.

If you still have an issue with this, then open an issue in the prisma repo where they can help better: prisma/prisma: Modern database access (ORM alternative) for Node.js & TypeS…

[2021-01-23 18:04] #1783 closed

[2021-01-23 18:07] flybayer commented on #1784
Well that's odd. This was supposed to be fixed in https://github.com/blitz-js/blitz/pull/1554 🤔

All the directories should be kebab-case.

[2021-01-24 01:51] marina-ki commented on #1784
Can i work on this issue?

[2021-01-24 01:59] flybayer commented on #1784
@marina-ki yes!

[2021-01-24 02:00] tarunama commented on #1784
@marina-ki
Please add version information to issue description, and confirm to reproduct in `blitz@latest` ?

[2021-01-24 02:04] flybayer commented on #1784
@tarunama I already confirmed it's broken in latest blitz.

But yeah @marina-ki, when opening an issue please keep the version info like is in the new issue template and include output of `blitz -vV`.

[2021-01-24 03:09] marina-ki commented on #1784
Oh, I'm sorry! added the version info :+1:

[2021-01-25 16:11] jan-wilhelm commented on #1752
could you explain briefly what's causing this? From my understanding, I would've assumed that useSession simply suspends while loading, causing React to stop rendering and not calling any consecutive hooks.

[2021-01-25 19:34] matthieuh opened #1793 "UseQuery value is null when url has a query parameter"
### What is the problem?

After having upgraded from Blitz v0.28 to v0.29.3 when there is a query parameter in the URL useQuery hooks are always returning `null`.

### Steps to Reproduce

1. Create a page having a useQuery hook console logging its value
2. Add a query parameter in the URL
3. Refresh your page having the useQuery hook
4. You should see that the value is always `null`

### Versions

[2021-01-25 19:41] matthieuh commented on #1793
I upgraded a bunch of dependencies based on a fresh blitz repo `package.json` and the issue is gone. I'm really not sure wi=hich one was causing it though...

[2021-01-25 19:41] #1793 closed

[2021-01-26 00:26] flybayer commented on #1752
`useSession` doesn't use suspense (maybe it should)

[2021-01-26 08:30] matthieuh opened #1795 "useQuery return null query parameter and when getInitialProps in _app.ts (from v0.29.3)"
### What is the problem?

Migrating from 0.28 to 0.29.3 I'm starting to experience a reproducible issue. If a getInitialProps is added in _app.ts (even if not advised to do it) then adding a query parameter in any app route is breaking useQuery hooks returning always `null.`

### Steps to Reproduce

=> https://codesandbox.io/s/busy-brahmagupta-j52mw

- Add a getInitialProps in _app.ts
- Create a p

[2021-01-26 11:14] Zeko369 commented on #1795
Hey @matthieuh ,

first, next and therefor blitz deprecated `getInitialProps` in favour of `getServerSideProps` (same thing but new name). Even though
[code]

second, add types where you can so you can see errors before they happen, you were returning `{cookies: string}` and next expects `{props: {}}` from getServerSideProps function
[code]

Also don't know if you're planning on using cookies for

[2021-01-26 11:32] anteprimorac commented on #1600
@flybayer this is an issue that causes this problems https://github.com/facebook/react/issues/18591

[2021-01-26 11:56] matthieuh commented on #1795
I haven't seen anywhere in the doc saying that getInitialProps is deprecated. In NextJS it's not it's just recommended to not use it in _app.js disabling static optimization on all your app pages. Moreover ```export const getInitialProps = () => {}``` is not something working and IMO even if not recommended it should work.

[2021-01-26 12:18] Zeko369 commented on #1795
Ok I expressed it wrong, it's not depracted per say, it's just [not used any more](https://nextjs.org/docs/api-reference/data-fetching/getInitialProps) since there is an alternative method getServerSideProps that does the same thing, and in this specific case doesn't have the bug you're describing

() => {} was just a shorthand for a function example, sorry if it was missleading

Can you try using

[2021-01-26 12:33] matthieuh commented on #1795
In NextJS `getServerSideProps` can't be used in `_app.js` only `App.getServerSideProps` works. That's why it's problematic if using it app is stuck using query parameters...

[2021-01-26 20:27] #1784 closed

[2021-01-26 20:33] flybayer commented on #1600
@anteprimorac oh nice find!

[2021-01-26 20:34] flybayer commented on #1795
@Zeko369 `getInitialProps` is not deprecated and is still used very heavily in many apps. It's here to stay. Yes, if `gSSP` can be used, that's better but still need `gIP` for many things.

[2021-01-26 20:37] anteprimorac commented on #1600
@flybayer I made a PR that applies workaround for chakra here https://github.com/chakra-ui/chakra-ui/pull/3165 so hopefully, soon it will work properly with concurrent mode. That's the only reason why I am using legacy react mode.

[2021-01-26 20:37] flybayer commented on #1795
@matthieuh this issues _sounds like_ a bug in Next.js with their `router.isReady` logic. Because we use that flag to determine when to run the query.

You could test the latest next.js canary to see if fixed using yarn resolutions in package.json

[code]
Run `yarn` after adding that

[2021-01-26 20:50] #461 closed

[2021-01-27 00:13] chrisbull opened #1803 "`blitz install` has a bad error message if recipe doesn't exist"
### What do you want and why?

When running `blitz install chakra` you get an error that says `no such file or directory, open './package.json'`

This was my own dumb fault cause it's supposed to be `chakra-ui` not `chakra`

A suggestion would be to provide an error like `"chakra" is not a valid recipe name"

An even better suggestion would be to allow for an auto-selection (and multi-selection) f

[2021-01-27 01:57] flybayer commented on #1803
Oh yes, thank you @chrisbull! We do want to add auto selection, but will take this particular issue just for fixing the error message.

For whoever wants to work on this, here is the file and code that needs fixed: https://github.com/blitz-js/blitz/blob/canary/packages/cli/src/commands/install.ts#L167

It looks like we do have a check there and an error message but that code isn't being ran for so

[2021-01-27 08:49] matthieuh commented on #1795
Trying with next `10.0.6-canary.8` I get `Error: Cannot find module 'webpack'` and testing with next `10.0.6-canary.0` it's compiling but I'm getting the same issue.

[2021-01-27 09:43] brantchoate opened #1804 "error on blitz install quirrel"
### What is the problem?
blitz install quirrel produces the following error:

[code]

### Steps to Reproduce

1. Run `blitz install quirrel`

### Versions

[code]

### Other

Please include applicable logs and screenshots that show your problem.

[2021-01-27 09:48] Skn0tt commented on #1804
`Property 'packageJson' does not exist on type`

It seems like your Blitz installation is missing this line:

https://github.com/blitz-js/blitz/blob/b41dd822fad8b94f0ae909dcaa6a4f511e03bab9/packages/installer/src/utils/paths.ts#L24

That's unexpected, considering you're on Blitz 0.29.5. @aem do you have an idea what could cause this?

[2021-01-27 16:43] flybayer commented on #1795
Ok will sit on this until next stable next.js release and test again

[2021-01-27 16:51] flybayer commented on #1804
@Skn0tt because the installer package changes haven't been published to npm yet.

I just published those changes in [0.29.7](https://github.com/blitz-js/blitz/releases/tag/v0.29.7), so upgrade to that and it should work.

[2021-01-27 16:51] #1804 closed

[2021-01-28 08:30] brantchoate opened #1813 "Error on blitz start"
### What is the problem?
[code]
### Steps to Reproduce

1. blitz start

### Versions

[code]

### Other

Tried removing the package from global node_modules and reinstalling. Also updated all my global packages, npm, node

[2021-01-28 11:09] ctrngk opened #1814 "Does not support URL with unicode or space?"
### What is the problem?
1. about.tsx within "a b" folder was created in app/pages/. Visiting /a b/about does not work
2. unicode folder-name within app/pages is not working too
### Steps to Reproduce

[code]
macOS Mojave | darwin-x64 | Node: v15.2.1

blitz: 0.29.7 (global)
blitz: 0.29.7 (local)